﻿
@model I_Value.WebApp.Models.ViewModelRequest

@{
    ViewBag.Title = "AddNewRequest";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Requestor </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body card-block">
                                <form>
                                    <div id="rbclient">
                                        <label class="radio-inline">
                                            <input type="radio" value="Bank/NBFC" name="rdbbank" id="rdbank" checked="checked">Bank/NBFC
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" value="Retail/Individual" name="rdbbank" id="rdretail">Retail/Individual
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="col-lg-12 col-md-6" id="p1" runat="server">
                        <div class="card">
                            <div class="card-body card-block">
                                <div class="col-12 col-md-4">

                                    <div class="form-group">
                                        <label for="vat" class=" form-control-label">Bank Name</label>
                                        @Html.DropDownListFor(x => Model.SelectedModelClientmaster, new SelectList(Model.ival_ClientMasters, "Client_ID", "Client_Name"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlbankmaster" })
                                        <input name="" type="button" value="Add Bank" class="btn btn-secondary btn-sm pull-right" data-toggle="modal" data-target="#addbank" style="margin-top:10px; font-size:12px; margin-bottom:10px">
                                        <!--addbank -->
                                        <div class="modal fade" id="addbank" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="largeModalLabel">Add Bank</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-12"> </div>
                                                            <div class="col-12 col-md-12">
                                                                <div class="form-group">
                                                                    <label for="company" class=" form-control-label">Add Bank</label>
                                                                    <input type="text" id="company11" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-success btn-sm">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="vat" class=" form-control-label">Branch Name</label>
                                        @Html.DropDownListFor(x => Model.SelectedModelBranchMaster, new SelectList(Model.ival_BranchMasters, "Branch_ID", "Branch_Name"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlbranchmaster" })
                                        <input name="" type="button" value="Add Branch " class="btn btn-secondary btn-sm pull-right" data-toggle="modal" data-target="#addbranch" style="margin-top:10px; font-size:12px; margin-bottom:10px">
                                        <!--addbank -->
                                        <div class="modal fade" id="addbranch" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="largeModalLabel">Add Branch </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-12"> </div>
                                                            <div class="col-12 col-md-12">
                                                                <div class="form-group">
                                                                    <label for="company" class=" form-control-label">Add Branch</label>
                                                                    <input type="text" id="company12" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-success btn-sm">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Date Of Request</label>
                                        <form>
                                            @Html.EditorFor(model => model._Ival_RequestDetails.Date_Of_Request, new { htmlAttributes = new { @class = "form-control", id = "txtdor" } })
                                        </form>
                                    </div>
                                </div> <div style="clear:both"></div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Valuation Request Id</label>
                                        @Html.EditorFor(model => model._Ival_RequestDetails.Request_ID, new { htmlAttributes = new { @class = "form-control", id = "txtreqid" } })
                                    </div>
                                </div><div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Customer Name</label>
                                        @Html.EditorFor(model => model._Ival_RequestDetails.Customer_Name, new { htmlAttributes = new { @class = "form-control", id = "txtcustname" } })
                                    </div>
                                </div><div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Customer Id</label>
                                        @Html.EditorFor(model => model._Ival_RequestDetails.Customer_ID, new { htmlAttributes = new { @class = "form-control", id = "txtcustid" } })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Customer Contact No</label>
                                        @Html.EditorFor(model => model._Ival_RequestDetails.Customer_Contact_No, new { htmlAttributes = new { @class = "form-control", id = "txtcustcno" } })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Address 1</label>
                                        @Html.EditorFor(model => model._Ival_RequestDetails.Customer_Contact_No, new { htmlAttributes = new { @class = "form-control", id = "txtaddr1" } })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Address 2</label>
                                        @Html.EditorFor(model => model._Ival_RequestDetails.Customer_Contact_No, new { htmlAttributes = new { @class = "form-control", id = "txtaddr2" } })
                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">City</label>
                                        @Html.EditorFor(model => model._Ival_RequestDetails.City, new { htmlAttributes = new { @class = "form-control", id = "txtcity" } })
                                    </div>
                                </div><div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">District </label>
                                        @Html.EditorFor(model => model._Ival_RequestDetails.District, new { htmlAttributes = new { @class = "form-control", id = "txtdist" } })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="company" class=" form-control-label">State </label>
                                        @Html.DropDownListFor(x => Model.SelectedModelClientstate, new SelectList(Model.ival_States, "State_ID", "State_Name"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlstates" })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="company" class=" form-control-label">Pin code</label>
                                        @Html.DropDownListFor(x => Model.SelectedModelclientpincode, new SelectList(Model.ival_LookupCategoryValuespincode, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlpin" })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="vat" class=" form-control-label">Assign To</label>
                                        @Html.DropDownListFor(x => Model.SelectedModelAssignto, new SelectList(Model.ival_LookupCategoryValuesAssign, "Employee_ID", "Company_Email_ID"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlAssign" })

                                        <input name="" type="button" value="Add New" class="btn btn-secondary btn-sm pull-right" data-toggle="modal" data-target="#assignto" style="margin-top:10px; font-size:12px; margin-bottom:10px">
                                        <!--addbank -->
                                        <div class="modal fade" id="assignto" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true" style="display: none;">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="largeModalLabel">Assign Request</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-12"> </div>
                                                            <div class="col-12 col-md-12">
                                                                <div class="form-group">
                                                                    <label for="company" class=" form-control-label">Add New</label>
                                                                    <input type="text" id="company2" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                        <button type="button" class="btn btn-success btn-sm">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-12 col-md-4">
                                                      <div class="form-group">
                                                        <label for="city" class=" form-control-label">Date Of Visit</label>
                                                       <form>
                                <input id="datepicker" class="form-control">
                                </form>
                                                      </div>
                                                    </div>-->
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="country" class=" form-control-label">Property Type</label>
                                        @Html.DropDownListFor(x => Model.SelectedModelProjectType, new SelectList(Model.ival_LookupCategoryProjectType, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlprjtype" })

                                    </div>
                                </div>
                                <div style="clear:both"></div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="country" class=" form-control-label">Valuation Type</label>
                                        @Html.DropDownListFor(x => Model.SelectedModelValuationtype, new SelectList(Model.ival_LookupCategoryValtype, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlvaltype" })

                                    </div>
                                </div>
                                <!--<div class="col-12 col-md-4">
                                <div class="form-group">
                                  <label for="country" class=" form-control-label">Report Type</label>
                                  <select class="form-control">
                                    <option value="" label="select"></option>
                                    <option>Multiunit Property</option>
                                    <option>Standalone Builtunit</option>
                                     <option>Standalone Under Construction </option>
                                      <option>Vacant Land</option>
                                  </select>
                                </div></div>-->
                                <div style="clear:both"></div>
                                <input type="button" onclick="Submitform()" value="Submit" class="btn btn-success btn-sm pull-right" />
                                @*<a href="@Url.Action("NewRequestBank","Request")" class="btn btn-success btn-sm pull-right">Submit</a>*@

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12" id="p2" runat="server">
                        <div class="card">
                            <div class="card-body card-block">

                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Requestor Name</label>
                                        @Html.EditorFor(model => model.Ival_ClientMasterretails.Client_Name, new { htmlAttributes = new { @class = "form-control", id = "txtretailname" } })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Address 1</label>
                                        @Html.EditorFor(model => model.Ival_ClientMasterretails.Client_Address1, new { htmlAttributes = new { @class = "form-control", id = "txtretailaddr1" } })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Address 2</label>
                                        @Html.EditorFor(model => model.Ival_ClientMasterretails.Client_Address2, new { htmlAttributes = new { @class = "form-control", id = "txtretailaddr2" } })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">City</label>
                                        @Html.EditorFor(model => model.Ival_ClientMasterretails.Client_City, new { htmlAttributes = new { @class = "form-control", id = "txtretailcity" } })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="company7" class=" form-control-label">State </label>
                                        @Html.DropDownListFor(x => Model.SelectedModelretailstates, new SelectList(Model.ival_RetailStates, "State_ID", "State_Name"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlretailstates" })

                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="company8" class=" form-control-label">Pin code</label>
                                        @Html.DropDownListFor(x => Model.SelectedModelretailpincode, new SelectList(Model.ival_LookupCategoryValuesretailpincode, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlretailpin" })

                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Email Id</label>
                                        @Html.EditorFor(model => model._Ival_RequestDetails.Date_Of_Request, new { htmlAttributes = new { @class = "form-control", id = "txtretailemail" } })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Contact Number 1</label>
                                        @Html.EditorFor(model => model._Ival_RequestDetails.Date_Of_Request, new { htmlAttributes = new { @class = "form-control", id = "txtretailcont1" } })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Contact Number 2</label>
                                        @Html.EditorFor(model => model._Ival_RequestDetails.Date_Of_Request, new { htmlAttributes = new { @class = "form-control", id = "txtretailcont2" } })
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="country" class=" form-control-label">Valuation Type</label>
                                        @Html.DropDownListFor(x => Model.SelectedModelValuationtype, new SelectList(Model.ival_LookupCategoryValuesretailvaluetype, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlretailvaltype" })

                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="country" class=" form-control-label">Report Type</label>
                                        @Html.DropDownListFor(x => Model.SelectedModelretailreporttype, new SelectList(Model.ival_LookupCategoryValuesretailreporttype, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlretailrpttype" })
                                    </div>
                                </div>

                                <div style="clear:both;"></div>
                                <input type="button" onclick="SubmitRetailform()" value="Submit" class="btn btn-success btn-sm pull-right" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>




    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="~/Scripts/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        //initial div
        $("#p1").show(600);
        $("#p2").hide();
            $("#rdbank").click(function () {
                console.log("click");
                $("#p1").show(600);
                $("#p2").hide();
            });
        $("#rdretail").click(function () {
            $("#p1").hide(600);
        $("#p2").show();
    });
});


    var AllValue = [];
    var AllValue1 = [];


    function Submitform() {

         var selval = $('input[name=rdbbank]:checked').val();
        // AllValue.push({ selval });

        AllValue1.push({
            
                Bank_Name: $("#ddlbankmaster").val(),
                Branch_Name: $("#ddlbranchmaster").val(),
                DateOfRequest: $("#txtdor").val(),
                ValuationRequestId: $("#txtreqid").val(),
                CustomerName: $("#txtcustname").val(),
                CustomerId: $("#txtcustid").val(),
                CustomerContactNo: $("#txtcustcno").val(),
                Address1: $("#txtaddr1").val(),
                Address2: $("#txtaddr2").val(),
                City: $("#txtcity").val(),
                District: $("#txtdist").val(),
                State: $("#ddlstates").val(),
                Pincode: $("#ddlpin").val(),
                AssignTo: $("#ddlAssign").val(),
                PropertyType: $("#ddlprjtype").val(),
                ValuationType: $("#ddlvaltype").val(),
                isinstitute: selval,

            });

        var str = JSON.stringify(AllValue);
        var str1 = JSON.stringify(AllValue1);
        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SaveRequests", "Request")',
                            data: { str: str,str1:str1},
                            Response: ContentType = 'application/json;charset=utf-8',
                            success: function (data) {
                                alert(data.Message)
                               // location.reload();
                                var url = '@Url.Action("NewRequestBank")'; 
                                window.location.href = url; 
                            },
                        });
    }

    function SubmitRetailform() {
        var selval1 = $('input[name=rdbbank]:checked').val();


            AllValue.push({
                RequestorName: $("#txtretailname").val(),
                Address1: $("#txtretailaddr1").val(),
                Address2: $("#txtretailaddr2").val(),
                City: $("#txtretailcity").val(),
                State: $("#ddlretailstates").val(),
                Pincode: $("#ddlretailpin").val(),
                EmailId: $("#txtretailcont1").val(),
                ContactNumber1: $("#txtretailcont1").val(),
                ValuationType: $("#ddlretailvaltype").val(),
                ReportType: $("#ddlretailrpttype").val(),
                isinstitute: selval1,

            });

        var str3 = JSON.stringify(AllValue);

        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SaveRequestsRetail", "Request")',
                            data: { str3: str3 },
                            Response: ContentType = 'application/json;charset=utf-8',
                            success: function (data) {
                                alert(data.Message)
                                //location.reload();
                                 var url = '@Url.Action("RetailsProperty")'; 
                                window.location.href = url; 
                            },
                        });
    }


</script>