﻿@model I_Value.WebApp.Models.VMLogin

@{
    ViewBag.Title = "Index";
    Layout = "";
}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>i-Value</title>
    <meta name="description" content="Evalue">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/assets/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<link rel="stylesheet" href="~/assets/css/daterangepicker.css">
        <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker.min.css">*@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/assets/plugins/select2/select2.min.css">
    <!-- customsed css -->
    <link href="~/assets/css/ivalue-css.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery.min.js"></script>

</head>
<body class="bg-dark">
    <div class="col-md-4 col-centered" style="background:#FFFFFF; margin-top:100px; padding:20px;">
        <div class="sufee-login d-flex align-content-center flex-wrap">
            <div class="login-content">
                <div class="login-form">
                    <div class="login-logo"> <a href="@Url.Action("Index","Login")"> <img src="~/images/logo-home.png" alt="" width="134" height="70" class="align-content"> </a> </div>
                    <form>
                        <div class="form-group">
                            <label>Username</label>
                            @Html.TextBoxFor(m => m.UserName, new { @id = "usernameID", @class = "form-control", placeholder = "Username" })
                            @* <input type="Username" class="form-control" placeholder="Username">*@
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            @Html.TextBoxFor(m => m.Password, new { @id = "passwordID", @class = "form-control", placeholder = "Password", type = "Password" })
                            @* <input type="password" class="form-control" placeholder="Password">*@
                        </div>
                        <div id="divLoader" style="display:none;text-align:center">

                            <img src="~/images/810.gif" alt="Loader" />
                        </div>
                        <br>
                        <label class="pull-right"> <a href="#">Forgot Password?</a> </label>
                        <a class="btn btn-success btn-flat m-b-30 m-t-30" style="background:#c67353;" onclick="GetLoginDetails()">Sign in</a>
                        <!--      <p>Don't have account ? <a href="#"> Sign Up Here</a></p>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery 2.1.4 -->
    <script src="~/assets/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/assets/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assets/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/assets/js/demo.js"></script>
    <!-- Select2 -->
    <script src="~/assets/plugins/select2/select2.full.min.js"></script>
    <!-- Date picker -->
    <script src="~/assets/js/jquery-ui.js"></script>

</body>
</html>
<script type="text/javascript">

        @*function GetLoginDetails() {
            //$("#divLoader").show();
            var url = '@Url.Action("GetLogindetails")';
            var url1='';
            $.ajax({
            url: url,
            data: { UserName: usernameID.value, Password: passwordID.value },
            Response: ContentType = 'application/json;charset=utf-8',
            type: "POST",
                success: function (data) {
                    if (data.success) {


                        //$("#divLoader").hide();
                         url1 = '@Url.Action("Index", "NewRequestor")';
                        window.location.href = url1;
                    } else {
                        alert(data.message);
                    }


                },
            });

        }*@

        function GetLoginDetails() {
        var newtab = [];

         newtab.push({
             usernameID: $("#usernameID").val(),
             passwordID: $("#passwordID").val(),

        });
        var str = JSON.stringify(newtab);
        $("#divLoader").show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetLogindetails", "Login")',
                data: { str: str },
                Response: ContentType = 'application/json;charset=utf-8',
                success: function (data) {
                    if (data.success) {
					alert('Logged In Successfully.');
                        // location.reload(); sucess alert
                        $("#divLoader").hide();
                @*var url = '@Url.Action("Index", "NewRequestor")';
                window.location.href = url;*@
                        window.location.href = "@Url.Action("Index", "NewRequestor")";
                @*window.location.href = '@Url.Action("Index", "NewRequestor")', window.close();*@
                        //  $("#uploaddoc").show();
                    }
                    else {

                        $("#divLoader").hide();
                        alert('These credential does not match.');
						window.location.reload();
                    }
                },
        });
    }
</script>

