﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Billing </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="5%">No.</th>
                                            <th width="46%">Bank Name</th>
                                            <th width="45%">Branch</th>
                                            <th width="4%">&nbsp;</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>HDFC</td>
                                            <td>Kothrud</td>
                                            <td><a href="#" title="Generate report"><i class="fa fa-file-o"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>ICICI</td>
                                            <td>JM Road</td>
                                            <td><a href="#" title="Generate report"><i class="fa fa-file-o"></i></a> </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Yes  Bank</td>
                                            <td>Kalyani nagar</td>
                                            <td><a href="#" title="Generate report"><i class="fa fa-file-o"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
