﻿@model I_Value.WebApp.Models.ViewModel
@{
    ViewBag.Title = "AddBuilding";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}
    <form action="~/Project/AddBuilding" method="post">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1> Building Details </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="content bg">
                    <div class="animated fadeIn">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12 padd0">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="breadcrumb">
                                                        @*<li>Project Name</li>*@
                                                        <li>@ViewBag.ProjectName</li>
                                                        @Html.HiddenFor(m=>m.ProjectID)
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Building Name /No:</label>
                                                        @Html.EditorFor(model => model.ival_ProjectBuildingMaster.Building_Name, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">No of Wings :</label>
                                                        @Html.EditorFor(model => model.ival_ProjectBuildingMaster.No_of_Wings, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Approved area of the Building:</label>
                                                        @Html.EditorFor(model => model.ival_ProjectBuildingMaster.Approved_Building_Area, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-12">
                                                    <label for="company" class=" form-control-label">No of Floors Approved:</label>
                                                    <div class="form-group">
                                                        <form>
                                                            @for (int idx = 0; idx < Model.ival_BuildingWingFloorDetailsList.Count; idx++)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @if (idx == 3)
                                                                        {
                                                                            <br /><br />
                                                                        }
                                                                        @Html.HiddenFor(x => Model.ival_BuildingWingFloorDetailsList[idx].FloorType_ID)
                                                                        @*@Html.CheckBoxFor(x => Model.ival_LookupCategoryValuesunittype[idx].IsSelected, new { id = "chkunitypes_+@idx" })*@
                                                                        <input id="ival_Lookunittypes_@idx" type="checkbox" value="@Model.ival_BuildingWingFloorDetailsList[idx].FloorType_ID" class=" form-control-label">
                                                                        <span>
                                                                            @Model.ival_BuildingWingFloorDetailsList[idx].FloorType_ID&nbsp;
                                                                            @Html.EditorFor(model => model.ival_BuildingWingFloorDetailsList[idx].Number_Of_Floors, new { @class = "form-control", id = "txtfname" })
                                                                            @*<input type="text" id="ival_LookupCategoryFloorType_@idx" class="form-control-small">*@
                                                                        </span>&nbsp;

                                                                    </td>
                                                                </tr>
                                                            }
                                                            @*<label class="checkbox-inline">
                                                                <input type="checkbox" value="" class="top10-checkbox">
                                                                <span class="pull-left top7">Basement</span> <span class="pull-right">
                                                                    <input type="text" id="company" class="form-control-small">
                                                                </span>
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" value="" class="top10-checkbox">
                                                                <span class="pull-left top7">Ground</span> <span class="pull-right">
                                                                    <input type="text" id="company" class="form-control-small">
                                                                </span>
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" value="" class="top10-checkbox">
                                                                <span class="pull-left top7">Stilt</span> <span class="pull-right">
                                                                    <input type="text" id="company" class="form-control-small">
                                                                </span>
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" value="" class="top10-checkbox">
                                                                <span class="pull-left top7">Podium</span> <span class="pull-right">
                                                                    <input type="text" id="company" class="form-control-small">
                                                                </span>
                                                            </label>
                                                            <label class="checkbox-inline">
                                                                <input type="checkbox" value="" class="top10-checkbox">
                                                                <span class="pull-left top7">Upper Habitable Floors</span> <span class="pull-right">
                                                                    <input type="text" id="company" class="form-control-small">
                                                                </span>
                                                            </label>*@
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Total no of approved units:</label>
                                                        @Html.EditorFor(model => model.ival_ProjectBuildingMaster.Approved_No_of_Units, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">Remarks</label><br />
                                                        @*<textarea name="" cols="" rows="" class="form-control" spellcheck="false"></textarea>*@
                                                        @Html.TextAreaFor(m => m.ival_ProjectBuildingMaster.Remarks,2,60, new { htmlAttributes = new { @class = "form-control",style="width: 100%; max-width: 100%;" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header"><strong>Four Boundaries </strong><small> of the Building</small></div>
                                        <div class="card-body card-block">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th width="42%" scope="col">Four Boundaries of the Wing </th>
                                                        <th width="29%" scope="col">As Per Documents</th>
                                                        <th width="29%" scope="col">Actual as per Site</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tblBoundaries">
                                                    @for (int idx = 0; idx < Model.ival_ProjectBoundariesList.Count; idx++)
                                                    {
                                                        <tr>
                                                            <td id="value14" style="display:none">
                                                                <input style="display:none" type="text" id="ival_LookupCategoryBoundaries_+@idx" name="ival_LookupCategoryBoundaries_+@idx" value="@Model.ival_ProjectBoundariesList[idx].Boundry_Name" />
                                                            </td>
                                                            <td id="valueboundariestype">
                                                                <label>@Model.ival_ProjectBoundariesList[idx].Boundry_Name</label>
                                                                @Html.HiddenFor(m => m.ival_ProjectBoundariesList[idx].Boundry_Name)
                                                            </td>
                                                            <td id="value10">
                                                                @*<input type="text" id="txteast_+@idx" name="east_+@idx" />*@
                                                                @Html.EditorFor(model => model.ival_ProjectBoundariesList[idx].AsPer_Document, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" + @idx } })
                                                            </td>
                                                            <td id="value11">
                                                                @*<input type="text" id="txtwest_+@idx" name="west_+@idx" />*@
                                                                @Html.EditorFor(model => model.ival_ProjectBoundariesList[idx].AsPer_Site, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" + @idx } })
                                                            </td>

                                                        </tr>
                                                    }


                                                </tbody>

                                            </table>
                                            <div class="col-12 col-md-12">
                                                <label for="company" class=" form-control-label"><strong>Co-ordinates:</strong></label>

                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="city" class=" form-control-label">Latitude</label>
                                                    @Html.EditorFor(model => model.ival_ProjectBuildingMaster.Cord_Latitutde, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" } })
                                                </div>
                                            </div><div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="city" class=" form-control-label">Longitude</label>
                                                    @Html.EditorFor(model => model.ival_ProjectBuildingMaster.Cord_Longitude, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" } })
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="card">
                                        <div class="card-header"><strong>Side Margin </strong><small>Details Of Building</small></div>
                                        <div class="card-body card-block">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th width="23%" scope="col">Description</th>
                                                        <th width="27%" scope="col">As Per Approved Plan</th>
                                                        <th width="25%" scope="col">As per Measurement</th>
                                                        <th width="25%" scope="col">% Devistion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (int idx = 0; idx < Model.ival_ProjectSideMarginList.Count; idx++)
                                                    {
                                                        <tr>
                                                            <td id="value13" style="display:none">
                                                                <input style="display:none" type="text" id="ival_ProjectSideMarginList+@idx" name="ival_ProjectSideMarginList+@idx" value="@Model.ival_ProjectSideMarginList[idx].Side_Margin_Description" />
                                                            </td>
                                                            <td id="valuesidemargintype">
                                                                @Html.HiddenFor(x => x.ival_ProjectSideMarginList[idx].Side_Margin_Description)
                                                                <label>@Model.ival_ProjectSideMarginList[idx].Side_Margin_Description</label>


                                                            </td>
                                                            <td id="value7">
                                                                @*<input type="text" id="txtapprplan_+@idx" name="apprplan_+@idx" />*@
                                                                @Html.EditorFor(model => model.ival_ProjectSideMarginList[idx].As_per_Approved, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" + @idx } })
                                                            </td>
                                                            <td id="value8">
                                                                @*<input type="text" id="txtmeasuremment_+@idx" name="measuremment_+@idx" />*@
                                                                @Html.EditorFor(model => model.ival_ProjectSideMarginList[idx].As_per_Measurement, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" + @idx } })
                                                            </td>
                                                            <td id="value9">
                                                                @*<input type="text" id="txtdevistions_+@idx" name="devistions_+@idx" />*@
                                                                @Html.EditorFor(model => model.ival_ProjectSideMarginList[idx].Percentage_Deviation, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" + @idx } })
                                                            </td>


                                                        </tr>
                                                    }
                                                    @*<tr>
                    <th scope="row">Front Margin</th>
                    <td><input type="text" id="company" class="form-control"></td>
                    <td><input type="text" id="company" class="form-control"></td>
                    <td><input type="text" id="company" class="form-control"></td>
                </tr>
                <tr>
                    <th scope="row">Rear Margin</th>
                    <td><input type="text" id="company" class="form-control"></td>
                    <td><input type="text" id="company" class="form-control"></td>
                    <td><input type="text" id="company" class="form-control"></td>
                </tr>
                <tr>
                    <th scope="row">Left Side</th>
                    <td><input type="text" id="company" class="form-control"></td>
                    <td><input type="text" id="company" class="form-control"></td>
                    <td><input type="text" id="company" class="form-control"></td>
                </tr>
                <tr>
                    <th scope="row">Right Side</th>
                    <td><input type="text" id="company" class="form-control"></td>
                    <td><input type="text" id="company" class="form-control"></td>
                    <td><input type="text" id="company" class="form-control"></td>
                </tr>*@
                                                </tbody>
                                            </table>
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Deviation : %</label>
                                                    @*<input type="text" id="company" class="form-control">*@
                                                    @Html.EditorFor(model => model.Deviation_Percentage, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Deviation Description:</label><br />
                                                    @*<textarea name="" cols="" rows="" class="form-control" spellcheck="false"></textarea>*@
                                                    @Html.TextAreaFor(m => m.ival_ProjectBuildingMaster.Deviation_Description, 2, 60, new { htmlAttributes = new { @class = "form-control", style = "width: 100%; max-width: 100%;" } })
                                                </div>
                                            </div>
                                            @*<a class="btn btn-success btn-sm pull-right" href="@Url.Action("Index","Project")">Submit</a>*@
                                            <input type="submit" value="Submit"  class="btn btn-success btn-sm pull-right" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .animated -->
                </div>
                <!-- Default box -->
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </form>