﻿@model I_Value.WebApp.Models.ViewModel
@{
    ViewBag.Title = "AddUnit";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Unit Details </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 padd0">
                            <div class="card">
                                <div class="card-body card-block">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="breadcrumb">
                                                <li>@ViewBag.ProjectName</li>
                                                <li>@ViewBag.BuildingName</li>
                                                <li>@ViewBag.WingName</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">Select Property Type </label>
                                                @Html.DropDownListFor(m => m.SelectedPropertyType, new SelectList(Model.propertyTypeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", @id = "PropertyTypeDDL" })
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <label for="company" class=" form-control-label">Select Unit Type </label>
                                            @Html.DropDownListFor(m => m.selectedUnitID, new SelectList(Enumerable.Empty<SelectListItem>(), "Lookup_ID", "Lookup_Value"), "Please Select ", new { @class = "form-control", @id = "UnitTypeDDL", @onchange = "AddTextBox(this);" })
                                        </div>
                                        <div style="clear:both;"></div>
                                        <div class="col-12 col-md-4" style="margin-bottom:20px;"> <span style="font-size:10px; color:#999999;">Note: Based on the Project chosen above fill up the following</span> </div>
                                    </div>
                                    <!-- Tab panes -->
                                    <div class="py-4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul id="tabsJustified" class="nav nav-tabs">
                                                    <li class="nav-item active"><a href="" data-target="#UnitDetails" data-toggle="tab" class="nav-link small text-uppercase active">Unit Details</a></li>
                                                    <li class="nav-item"><a href="" data-target="#UnitPrice" data-toggle="tab" class="nav-link small text-uppercase">Unit Price</a></li>
                                                </ul>
                                                <br>
                                                <div id="tabsJustifiedContent" class="tab-content">
                                                    <div id="UnitDetails" class="tab-pane active">
                                                        <div class="pb-2">
                                                            <div class="col-md-12">
                                                                <div class="row">
                                                                    <div class="col-12" style="margin-bottom:10px;">
                                                                        <div class="subtitle"> Unit Details</div>
                                                                    </div>
                                                                    <div style="clear:both;"></div>
                                                                    <div class="col-md-12">
                                                                        <div class="card" id="DivForId">
                                                                            <div class="card-body card-block">
                                                                                <div class="row">
                                                                                    <!--<div class="col-12 col-md-8" style="margin-bottom:20px;"> <span style="font-size:10px; color:#999999;">Note: show this for Unit Details of (FLAT/OFFICE/Industrial Unit/Penthouse/Shop/Showroom)</span> </div>-->
                                                                                    <div style="clear:both;"></div>
                                                                                    <div class="col-md-12">
                                                                                        <div class="row">
                                                                                           
                                                                                           
                                                                                            <div id="ival_UnitParameterMastersList">

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                       
                                                                          <div class="card" id="ViewFromUnitId" style="display:none">
                                                                            <div class="card-body card-block">
                                                                                <div class="row">
                                                                                    <!-- <div class="col-12" style="margin-bottom:10px;">
         <div class="col-12 col-md-4" style="margin-bottom:20px;"> <span style="font-size:10px; color:#999999;">Note: show this for Unit Details of ( Bungalow & Rowhouse )</span> </div>
     </div>-->
                                                                                    <div style="clear:both;"></div>
                                                                                    <div class="col-md-12">
                                                                                        <div class="row">
                                                                                            
                                                                                            <div class="col-12 col-md-3">
                                                                                                <label for="company" class=" form-control-label">View from the Unit </label>
                                                                                                @Html.DropDownListFor(m => m.SelectedViewFromUnit, new SelectList(Model.viewFromUnitList, "Lookup_Value", "Lookup_Value"), "Please Select", new { @class = "form-control", @id = "SelectedViewFromUnitDdl" })
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card">
                                                                            <div class="card-header"><strong>Side Margin </strong><small>Details Of Unit</small> <span style="font-size:12px; color:#999999;">Note: show this for Unit Details for (Bungalow & Rowhouse)</span></div>
                                                                            <div class="card-body card-block">
                                                                                <table class="table table-bordered">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th width="23%" scope="col">Description</th>
                                                                                            <th width="27%" scope="col">As Per Approved Plan</th>
                                                                                            <th width="25%" scope="col">As per Measurement</th>
                                                                                            <th width="25%" scope="col">% Deviation</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody id="tblSideMargins" >
                                                                                        @for (int idx = 0; idx < Model.ival_LookupCategorySideMargins.Count; idx++)
                                                                                        {
                                                                                            <tr>
                                                                                                <td id="value132" style="display:none">
                                                                                                    <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_LookupCategorySideMargins[idx].Lookup_Value" />
                                                                                                </td>
                                                                                                <td id="valuesidemargintype">
                                                                                                    <label>@Model.ival_LookupCategorySideMargins[idx].Lookup_Value</label>


                                                                                                </td>
                                                                                                <td id="value7"><input type="text" id="txtapprplan_+@idx" name="apprplan_+@idx" /></td>
                                                                                                <td id="value8"><input type="text" id="txtmeasuremment_+@idx" name="measuremment_+@idx" /></td>
                                                                                                <td id="value9"><input type="text" id="txtdevistions_+@idx" name="devistions_+@idx" /></td>


                                                                                            </tr>
                                                                                        }
                                                                                    </tbody>
                                                                                </table>
                                                                                <div class="col-12 col-md-6">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Deviation Description:</label>
                                                                                        <textarea name="" cols="" rows="" id="Deviation_DescriptionID" class="form-control" spellcheck="false"></textarea>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card">
                                                                            <div class="card-header"><strong>Four Boundaries</strong><small> of the Unit </small></div>
                                                                            <div class="card-body card-block">
                                                                                <table class="table table-bordered">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th width="42%" scope="col">Four Boundaries of the Wing </th>
                                                                                            <th width="29%" scope="col">As Per Documents</th>
                                                                                            <th width="29%" scope="col">Actual as per Site</th>
                                                                                        </tr>
                                                                                    </thead>

                                                                                    <tbody id="tblBoundaries">
                                                                                        @for (int idx = 0; idx < Model.ival_LookupCategoryBoundaries.Count; idx++)
                                                                                        {
                                                                                            <tr>
                                                                                                <td id="value14" style="display:none">
                                                                                                    <input style="display:none" type="text" id="ival_LookupCategoryBoundaries_+@idx" name="ival_LookupCategoryBoundaries_+@idx" value="@Model.ival_LookupCategoryBoundaries[idx].Lookup_Value" />
                                                                                                </td>
                                                                                                <td id="valueboundariestype">
                                                                                                    <label>@Model.ival_LookupCategoryBoundaries[idx].Lookup_Value</label>
                                                                                                </td>
                                                                                                <td id="value10"><input type="text" id="txteast_+@idx" name="east_+@idx" /></td>
                                                                                                <td id="value11"><input type="text" id="txtwest_+@idx" name="west_+@idx" /></td>

                                                                                            </tr>
                                                                                        }
                                                                                    </tbody>
                                                                                </table>
                                                                                <div class="col-12 col-md-12">
                                                                                    <label for="company" class=" form-control-label"><strong>Co-ordinates:</strong></label>

                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Latitude</label>
                                                                                        @*@Html.EditorFor(model => model.Cord_Latitude, new { htmlAttributes = new { @class = "form-control", @id = "Cord_LatitudeId" } })*@
                                                                                        <input type="text" id="Cord_LatitudeId" class="form-control" />
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Longitude</label>
                                                                                        @*@Html.EditorFor(model => model.Cord_Longitude, new { htmlAttributes = new { @class = "form-control", @id = "Cord_LongitudeID" } })*@
                                                                                        <input type="text" id="Cord_LongitudeID" class="form-control" />
                                                                                    </div>
                                                                                </div>
                                                                                <div style="clear :both"></div>
                                                                                <input type="button" onclick="SubmitFormUnitDetails();" value="Submit" class="btn btn-success btn-sm top7 pull-right" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-5"></div>
                                                        </div>
                                                    </div>
                                                    <div id="UnitPrice" class="tab-pane fade">
                                                        <div>
                                                            <div class="col-12" style="margin-bottom:10px;">
                                                                <div class="subtitle"> Unit Price</div>
                                                            </div>
                                                            <div class="card">
                                                                <div class="card-body card-block">
                                                                    <div class="col-md-12">
                                                                        <div id="UnitPriceDivId"></div>

                                                                        <!--Add static UI-->
                                                                        <div class="col-12 col-md-4">
                                                                            <div class="form-group">
                                                                                <label for="company" class=" form-control-label">Cost :</label>
                                                                                <input type="text" id="CostId" class="form-control"  >
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-md-4">
                                                                            <div class="form-group">
                                                                                <label for="country" class=" form-control-label">
                                                                                    Cost Value of the Property :
                                                                                    @*<span style="font-size:10px; color:#999999;"> Flat cost + Extra amenities + Parking Cost +Electrical& Water+Maintenance+Transfer Charges+ any Other Charges (Do not Hard Code May vary bank to bank </span>*@
                                                                                </label>
                                                                                <input type="text" id="sum" class="form-control" onclick="">

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-md-4">
                                                                            <div class="form-group">
                                                                                <label for="company" class=" form-control-label">Stage Of Construction :</label>
                                                                                <div class="form-group">
                                                                                    <select name="StageOfConstruction" id="StageOfConstructionId" class="form-control">
                                                                                        <option>Select</option>
                                                                                        <option>Ready</option>
                                                                                        <option>Under-construction</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div style="clear:both"></div>
                                                                        <div class="col-12 col-md-4">
                                                                            <div class="form-group">
                                                                                <label for="country" class=" form-control-label">
                                                                                    Description of Stage of construction :
                                                                                    @*<span style="font-size:10px; color:#999999;">( For Under construction Properties)</span>*@
                                                                                </label>
                                                                                <textarea name="DescriptionofStageOfConstructionId" id="DescriptionofStageOfConstructionId" cols="" rows="" class="form-control" spellcheck="false" placeholder="In Ready Stage" maxlength="200"></textarea>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12 col-md-4">
                                                                            <div class="form-group">
                                                                                <label for="company" class=" form-control-label">% Work Completed:</label>
                                                                                <input type="text" id="workCompletedId" class="form-control" onkeyup ="calulateCurrentVal();">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-12 col-md-4">
                                                                            <div class="form-group">
                                                                                <label for="company" class=" form-control-label">
                                                                                    Valuation of unit:
                                                                                    @*<span style="font-size:10px; color:#999999;">*( Rate per sq ft on saleable + PlC Charges + Floor Rise per sq. ft.)</span>*@
                                                                                </label>
                                                                                <input type="text" id="valuationOfUnitId" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div style="clear:both"></div>
                                                                        <div class="col-12 col-md-4">
                                                                            <div class="form-group">
                                                                                <label for="country" class=" form-control-label">
                                                                                    Current Value of the property For Under construction unit:
                                                                                    @*<span style="font-size:10px; color:#999999;"> Total Value of the property*% work Completed </span>*@
                                                                                </label>
                                                                                <input type="text" id="currentValueOfPropertyUnderConstructionUnitId" class="form-control">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-md-4">
                                                                            <div class="row">
                                                                                <div class="col-12">
                                                                                    <label style="margin-bottom:0; margin-left:15px;">Government Rate:</label>
                                                                                </div>
                                                                                <div class="col-8 col-sm-6 top7">
                                                                                    <div class="input-group">
                                                                                        <input type="text" class="form-control" id="governmentRateSqMtId" aria-label="Recipient's username" aria-describedby="basic-addon2" onkeyup="lengthConverterMeterToFit(this);">
                                                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. mt.  </span> </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-4 col-sm-6 top7">
                                                                                    <div class="input-group">
                                                                                        <input type="text" class="form-control" id="governmentRateSqFtId" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. ft. </span> </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12 col-md-4">
                                                                            <div class="row">
                                                                                <div class="col-12">
                                                                                    <label style="margin-bottom:0; margin-left:15px;">Government Value:</label>
                                                                                </div>
                                                                                <div class="col-8 col-sm-6 top7">
                                                                                    <div class="input-group">
                                                                                        <input type="text" class="form-control" id="governmentValueSqMtId" aria-label="Recipient's username" aria-describedby="basic-addon2" onkeyup="lengthConverterMeterToFit(this);">
                                                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. mt.  </span> </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-4 col-sm-6 top7">
                                                                                    <div class="input-group">
                                                                                        <input type="text" class="form-control" id="governmentValueSqFtId" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. ft. </span> </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!---------->
                                                                        <div style="clear :both"></div>
                                                                        <input type="button" onclick="SubmitFormUnitPrice();" value="Submit" class="btn btn-success btn-sm top7 pull-right" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           
                                                           
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">

     var AllValue = [];
    var AllValue1 = [];
    var AllValue2 = [];
    var AllValue3 = [];
    var AllValue4 = [];
    var unitDetailPriceArray = [];
     var unitPriceParameterArray = [];
     var costValue = 0;

    $("#PropertyTypeDDL").change(function () {
         var Lookup_ID = $(this).val()
        // alert(Lookup_ID);
         
        $.ajax({
            //url: '/Project/GetBuildingList',
            url:'@Url.Action("GetUnitTypeListByPropertyTypeID", "Project")',
            data: { Lookup_ID: Lookup_ID },
            dataType: "json",
            type: "POST",
            success: function (data) {
                //alert(data);
                console.log(data);
                var obj = JSON.parse(data);
                $("#UnitTypeDDL").html("");
                $("#UnitTypeDDL").html("<option id=''>Please Select </option>")

                 $(obj).each(function(index,value){
                $("#UnitTypeDDL").append(
                    $('<option></option>').val(value.Lookup_Value).html(value.Lookup_Value));
                 })
            }
        });
    });

    function AddTextBox(el) {
       
        var trHTML = "";
        var row1 = "";
        var UnitType = el.value;
       
        $("#ival_UnitParameterMastersList").children().last().remove();
         $("#UnitPriceDivId").children().last().remove();
        $("#DivForId").show("slow");
        $.ajax({

            url: '@Url.Action("GetUnitDetails", "Project")',
            data: { UnitType: UnitType },
            dataType: "json",
            type: "POST",
            success: function (data) {
                console.log(data);
                var obj = JSON.parse(data);
                var Unitlist = obj;
               // alert(Unitlist.length);
                trHTML += '<table class="table table-bordered"><thead></thead>'
                trHTML += ' <tbody id="ival_UnitParameterMasters">'
                for (var i = 0; i < Unitlist.length; i++) {


                    if (Unitlist[i].Name == "View From Unit") {
                        $("#ViewFromUnitId").show("slow");

                    }
                    else if (Unitlist[i].Name == "Approved Plot Area") {
                        trHTML += '<tr ><div class="col-12 col-md-3"><div class="form-group">'
                        trHTML += '<td id="value20" style="display:none"><input style="display:none" type="text" id="tUnitDetailsId_' + i + '" name="tUnitDetailsId__' + i + '" value="' + Unitlist[i].UnitParamterID + '" /> </td>'
                        trHTML += '<td id="value14" style="display:none"><input style="display:none" type="text" id="tUnitDetailsN_' + i + '" name="tUnitDetailsN__' + i + '" value="' + Unitlist[i].Name + '" /> </td>'
                        trHTML += '<td id="value4><label for="username"  class=" form-control-label" >' + Unitlist[i].Name + ':</label></td>'
                        trHTML += '<td id="value3">   <div class="col-4 col-sm-6 top7"><div class="input-group"> <input type="text" class="form-control" id="UnitDetails_' + i + '" name="' + Unitlist[i].Name + '"  onchange = "lengthConverterMeterToFitRowUnitDetails(this);" aria-label="Recipient' + "'" + 's username" aria-describedby="basic-addon2"><div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. mt. </span> </div></div></div></td>'
                        trHTML += '<td id="unitPriceParId3">   <div class="col-4 col-sm-6 top7"><div class="input-group"> <input type="text" readOnly="true" class="form-control" id = "ApprovedPlotArea_UnitDetails" aria-label="Recipient' + "'" + 's username" aria-describedby="basic-addon2"><div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. ft. </span> </div></div></div></td>'
                        trHTML += '</div></div></tr>'

                    }
                    else {
                        trHTML += '<tr ><div class="col-12 col-md-3"><div class="form-group">'
                        trHTML += '<td id="value20" style="display:none"><input style="display:none" type="text" id="tUnitDetailsId_' + i + '" name="tUnitDetailsId__' + i + '" value="' + Unitlist[i].UnitParamterID + '" /> </td>'
                        trHTML += '<td id="value14" style="display:none"><input style="display:none" type="text" id="tUnitDetailsN_' + i + '" name="tUnitDetailsN__' + i + '" value="' + Unitlist[i].Name + '" /> </td>'
                        trHTML += '<td id="value4><label for="username"  class=" form-control-label" >' + Unitlist[i].Name + ':</label></td>'
                        trHTML += '<td id="value3"><input type="text" id="txtUnitParameterValue_' + i + '" name="txtUnitParameterValue_' + i + '" /></td>'
                        trHTML += '</div></div></tr>'
                    }
                }
                trHTML += ' </tbody></table>'
                var div = document.createElement('DIV');

                div.innerHTML = trHTML;

                document.getElementById("ival_UnitParameterMastersList").appendChild(div);
            },
        }).done(function () {
             var PTypeId = $("#PropertyTypeDDL").val()
            $.ajax({
                url: '@Url.Action("GetUnitPriceDetails", "Project")',
                data: { UnitType: UnitType ,PTypeId: PTypeId},
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    var unitPricelist = obj;

                   // alert(unitPricelist.length);
                    row1 += '<div class="table-responsive"><table class="table table-bordered"><thead></thead>'
                    row1 += ' <tbody id="unitPrizeList">'
                    for (var i = 0; i < unitPricelist.length; i++) {

                        row1 += '<tr><div class="col-12 col-md-4"><div class="form-Group">'

                        row1 += '<td id="unitPriceParId1" style="display:none"><input style="display:none" type="text" id="tUnitDetailsN_' + i + '" name="tUnitDetailsN__' + i + '" value="' + unitPricelist[i].UnitPriceParameterID + '" /> </td>'
                        
                        row1 += '<td id="unitPriceParId2" style="display:none"><input style="display:none" type="text" id="tUnitDetailsN_' + i + '" name="tUnitDetailsN__' + i + '" value="' + unitPricelist[i].Name + '" /> </td>'
                        row1 += '<td id="unitPriceParId21"><label  class=" form-control-label" for="unitPrice_Name">' + unitPricelist[i].Name + ' </label></td>'
                        if (unitPricelist[i].Name == "Extra Amenities" || unitPricelist[i].Name == "Parking Cost" || unitPricelist[i].Name == "Electrical/water connection chagres" || unitPricelist[i].Name == "Maintenance Cost" || unitPricelist[i].Name == "Transfer Charges if any" || unitPricelist[i].Name == "Any Other Charges") {
                            row1 += '<td id="unitPriceParVal1"><input type="text" class="form-control" id=unitPriceValue_' + i + ' name="' + unitPricelist[i].Name + '" onchange = "CalculateSum(this);"  >   </td>'
                        }
                        else {
                            row1 += '<td id="unitPriceParVal1">   <div class="col-4 col-sm-6 top7"><div class="input-group"> <input type="text" class="form-control" id="' + i + '" name="' + unitPricelist[i].Name + '"  onchange = "lengthConverterMeterToFitRow(this);" aria-label="Recipient' + "'" + 's username" aria-describedby="basic-addon2"><div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. mt. </span> </div></div></div></td>'
                            row1 += '<td id="unitPriceParId3">   <div class="col-4 col-sm-6 top7"><div class="input-group"> <input type="text" readOnly="true" class="form-control" id="governmentValueSqFtId_' + i + '" aria-label="Recipient' + "'" + 's username" aria-describedby="basic-addon2"><div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. ft. </span> </div></div></div></td>'

                        }
                        //row1 += '<td id="unitPriceParId3"><input type="text" class="form-control" id=unitPriceValue_' + i + ' name="' + unitPricelist[i].Name + '" onchange="CalculateSum(this);"  ></td>'
                        //row1 += '<td id="unitPriceParId3"><input type="text" class="form-control" id=unitPriceValue_' + i + ' name="' + unitPricelist[i].Name + '" onchange="CalculateSum(this);"  ></td>'
                        row1 += '</div></div></tr>'

                    } row1 += '</table></div>'

                    var div = document.createElement('DIV');
                    div.innerHTML = row1;
                    document.getElementById("UnitPriceDivId").appendChild(div);
                },

            });

        });
    }

           
    function SubmitFormUnitDetails() {
        var TrCount3 = $("#tblSideMargins tr").length;
        var TrCount2 = $("#tblBoundaries tr").length;
        var TrCount1 = $("#ival_UnitParameterMasters tr").length;

        for (var i = 0; i < TrCount1; i++) {

            AllValue1.push({
                UnitParameter_ID: $("#ival_UnitParameterMasters tr #value20 input").eq(i).val(),
                UnitParameter_Name: $("#ival_UnitParameterMasters tr #value14 input").eq(i).val(),
                UnitParameter_Value: $("#ival_UnitParameterMasters tr #value3 input").eq(i).val(),
                
            });
        }
        for (var i = 0; i < TrCount3; i++) {

            AllValue2.push({
                SidemarginsType: $("#tblSideMargins tr #value132 input").eq(i).val(),
                Asperapprovedplan: $("#tblSideMargins tr #value7 input").eq(i).val(),
                Aspermeasurement: $("#tblSideMargins tr #value8 input").eq(i).val(),
                perdevistion: $("#tblSideMargins tr #value9 input").eq(i).val(),
                Deviation_Description: $("Deviation_Description").val,
               
            });
        }

        for (var i = 0; i < TrCount2; i++) {

            AllValue3.push({
                BoundariesType: $("#tblBoundaries tr #value14 input").eq(i).val(),
                asperdoc: $("#tblBoundaries tr #value10 input").eq(i).val(),
                aspersite: $("#tblBoundaries tr #value11 input").eq(i).val(),

            });
        }
         var message = $('textarea#Deviation_DescriptionID').val();
      
       
        AllValue.push({
            //PTypeName: $("#PropertyTypeDDL").val(),
            PTypeName: $("#PropertyTypeDDL option:selected").text(),
            UType: $("#UnitTypeDDL").val(),
          //  UType: $("#UnitTypeDDL option:selected").text(),
            Deviation_Description: $('textarea#Deviation_DescriptionID').val(),
            Cord_Latitude: $('#Cord_LatitudeId').val(),
            Cord_Longitude: $('#Cord_LongitudeID').val(),
            //ViewFromUnitID: $("#SelectedViewFromUnitDdl").val(),
            ViewFromUnit: $("#SelectedViewFromUnitDdl option:selected").text()
         });


        var str = JSON.stringify(AllValue);
        var str1 = JSON.stringify(AllValue1);
        var str2 = JSON.stringify(AllValue2);
        var str3 = JSON.stringify(AllValue3);

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveUnitDetailsMaster", "Project")',
            data: { str: str, str1: str1, str2: str2, str3: str3 },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                if (data.success) {
                    alert(data.message);
                }
                else {
                    alert(data.message);
                }
            },
        }).done(function () {
             @*var url = '@Url.Action("Index")';
                window.location.href = url;*@
        })
    }
    
    var unitCost = 0;
    var rateOnSaleableArea = 0;
    var plcCharges = 0;
    var floorRiseCharges = 0;
    var adoptedAreaForValuation = 0;
    var saleRate = 0;
    var floorRise = 0;
    function CalculateSum(e) {
        var txtValue = e.value;
        var name = e.name;
        if (!isNaN(txtValue) && name == 'Rate on saleable area') {
            rateOnSaleableArea = txtValue;
        }
        else if (!isNaN(txtValue) && name == 'PLC Charges') {
            plcCharges = txtValue;
        }
        else if (!isNaN(txtValue) && name == 'Floor Rise Charges') {
            floorRiseCharges = txtValue;
        }
        else if (!isNaN(txtValue) && name == 'Adopted Area for Valuation') {
            adoptedAreaForValuation= txtValue;
        }
        else if (!isNaN(txtValue) && name == 'Sale Rate') {
            rateOnSaleableArea = txtValue;
        }

        var addVal = parseFloat(rateOnSaleableArea) + parseFloat(plcCharges) + parseFloat(floorRiseCharges);
        unitCost = parseFloat(adoptedAreaForValuation) * parseFloat(addVal);
        document.getElementById('CostId').value = unitCost.toFixed(2);

        if (!isNaN(txtValue) && name == 'Extra Amenities' || name == 'Parking Cost' || name == 'Electrical/water connection chagres' || name == 'Maintenance Cost' || name == 'Transfer Charges if any' || name == 'Any Other Charges') {
            costValue += parseFloat(txtValue);
         
            document.getElementById('sum').value = (parseFloat(costValue) + parseFloat(unitCost)).toFixed(2);
        }
        else if (!isNaN(txtValue && name == 'Rate on saleable area' || name == 'PLC Charges' || name == 'Floor Rise Charges')) {
            var valuationOfUnit = 0
            valuationOfUnit = parseFloat(rateOnSaleableArea) + parseFloat(plcCharges) + parseFloat(floorRiseCharges);
            document.getElementById('valuationOfUnitId').value = valuationOfUnit.toFixed(2);
        }
        
        
        
    }
    function calulateCurrentVal() {
        var currentUnitValue = parseFloat( $("#workCompletedId").val()) * parseFloat(unitCost);
        document.getElementById('currentValueOfPropertyUnderConstructionUnitId').value = currentUnitValue.toFixed(2);
        //alert($("#workCompletedId").val());
    }

    function SubmitFormUnitPrice() {

        var TrCount = $("#unitPrizeList tr").length;
        for (var i = 0; i < TrCount; i++) {

            unitPriceParameterArray.push({
                UnitPriceParameter_ID: $("#unitPrizeList tr #unitPriceParId1 input").eq(i).val(),
                UnitPriceParameter_Name: $("#unitPrizeList tr #unitPriceParId2 input").eq(i).val(),
                UnitPriceParameter_Value: $("#unitPrizeList tr #unitPriceParVal1 input").eq(i).val(),

            });
        }

        unitDetailPriceArray.push({
            unitCost: $("#CostId").val(),
            CostValueTotal: $("#sum").val(),
            valuationOfUnit: $('#valuationOfUnitId').val(),
            StageOfConstruction: $("#StageOfConstructionId").val(),
            DescriptionofStageOfConstructionId: $("#DescriptionofStageOfConstructionId").val(),
            workCompleted: $("#workCompletedId").val(),
            currentValueOfPropertyUnderConstructionUnit: $("#currentValueOfPropertyUnderConstructionUnitId").val(),
            governmentRateSqMt: $("#governmentRateSqMtId").val(),
            governmentValueSqMt: $("#governmentValueSqMtId").val(),
        });


        var unitDetailPriceStr = JSON.stringify(unitDetailPriceArray);
        var unitPriceParameterstr = JSON.stringify(unitPriceParameterArray);

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveUnitPrice", "Project")',
            data: { unitDetailPriceStr: unitDetailPriceStr, unitPriceParameterstr: unitPriceParameterstr },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                if (data.success) {
                    alert(data.message);
                }
                else {
                    alert(data.message);
                }
            },
        }).done(function () {
           var url = '@Url.Action("Index")';
                window.location.href = url;
        })
    }
           
    function lengthConverterMeterToFit(valNum) {

        var id = valNum.id;
        var val = valNum.value;
        var convertValue = parseFloat( parseFloat(val) *10.764);
        if (id == "governmentValueSqMtId") {
            document.getElementById('governmentValueSqFtId').value = convertValue.toFixed(2);
        }
        else {
            document.getElementById('governmentRateSqFtId').value = convertValue.toFixed(2) ;
        }
    }

    function lengthConverterMeterToFitRow(valNum) {


        var name = valNum.name;
        var id = valNum.id;
        var val = valNum.value;
        if (!isNaN(val)) {
            var convertValue = parseFloat(parseFloat(val) * 10.764);

            var txtId = "governmentValueSqFtId_" + id;
            document.getElementById(txtId).value = convertValue.toFixed(2);
            CalculateSum(valNum);
        }
        }
    
        function lengthConverterMeterToFitRowUnitDetails(valNum) {
            var id = valNum.id;
            var val = valNum.value;
            
                var convertValue = parseFloat(parseFloat(val) * 10.764);

            document.getElementById("ApprovedPlotArea_UnitDetails").value = convertValue;
            }
            
        
        
    
    

 </script>