﻿
@model I_Value.WebApp.Models.ViewModel

@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}
< action="/Project/AddProject" method="post">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Project Details </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 padd0">


                            <div class="card">
                                <div class="card-body card-block">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Bulider Group:</label>

                                                @Html.DropDownListFor(x => Model.SelectedModelGroupmaster, new SelectList(Model.ival_BuilderGroupMasters, "Builder_Group_Master_ID", "BuilderGroupName"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlgroupmaster" })


                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Builder Company Name:</label>

                                                @Html.DropDownListFor(x => Model.SelectedModelCompanyMaster, new SelectList(Model.ival_BuilderCompanyMasters, "Builder_Company_Master_ID", "Builder_Company_Name"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlcompanymaster" })

                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Type of Project:</label>

                                                @Html.DropDownListFor(x => Model.SelectedModellookupprojecttype, new SelectList(Model.ival_LookupCategoryValuesProjecttype, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlprojecttypemaster" })

                                            </div>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="col-12 col-md-8">
                                            <label for="company" class=" form-control-label">Unit Type:</label>
                                            <div class="form-group">

                                                <table id="tblunittypes">

                                                    @for (int idx = 0; idx < Model.ival_LookupCategoryValuesunittype.Count; idx++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <input id="ival_Lookunittypes_@idx" type="checkbox" value="@Model.ival_LookupCategoryValuesunittype[idx].Lookup_Value" class=" form-control-label"><span>@Model.ival_LookupCategoryValuesunittype[idx].Lookup_Value</span>
                                                            </td>
                                                        </tr>


                                                    }
                                                </table>

                                            </div>
                                        </div>

                                        <div style="clear:both"></div>
                                        <hr>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Project_Name:" class=" form-control-label">Project Name:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Project_Name, new { htmlAttributes = new { @class = "form-control", id = "txtprojectname" } })



                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Project_Name:" class=" form-control-label">Legal Address 1:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Legal_Address1, new { htmlAttributes = new { @class = "form-control", id = "txtlegaladdress1" } })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Project_Name:" class=" form-control-label">Legal Address 2:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Legal_Address2, new { htmlAttributes = new { @class = "form-control", id = "txtlegaladdress2" } })

                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Project_Name:" class=" form-control-label">Street:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Legal_Street, new { htmlAttributes = new { @class = "form-control", id = "txtstreet" } })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Project_Name:" class=" form-control-label">Locality:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Legal_Locality, new { htmlAttributes = new { @class = "form-control", id = "txtLegalLocality" } })


                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="Project_Name:" class=" form-control-label">City:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Legal_City, new { htmlAttributes = new { @class = "form-control", id = "txtCity" } })


                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="Project_Name:" class=" form-control-label">District:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Legal_District, new { htmlAttributes = new { @class = "form-control", id = "txtLegal_District" } })


                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">States:</label>

                                                @Html.DropDownListFor(x => Model.SelectedModelstates, new SelectList(Model.ival_States, "State_ID", "State_Name"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlstatemaster" })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Pin Code:</label>

                                                @Html.DropDownListFor(x => Model.SelectedModelpincode, new SelectList(Model.ival_LookupCategoryValuespincode, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlpincodemaster" })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="Project_Name:" class=" form-control-label">Postal Address 1:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Postal_Address1, new { htmlAttributes = new { @class = "form-control", id = "txtpostAddress1" } })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Project_Name:" class=" form-control-label">Postal Address 2:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Postal_Address2, new { htmlAttributes = new { @class = "form-control", id = "txtpostAddress2" } })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="Project_Name:" class=" form-control-label">Street:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Postal_Street, new { htmlAttributes = new { @class = "form-control", id = "txtpostStreet" } })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Project_Name:" class=" form-control-label">Locality:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Class_of_Locality, new { htmlAttributes = new { @class = "form-control", id = "txtpostLocality" } })


                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Project_Name:" class=" form-control-label">City:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Postal_City, new { htmlAttributes = new { @class = "form-control", id = "txtpostCity" } })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Project_Name:" class=" form-control-label">District:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Postal_District, new { htmlAttributes = new { @class = "form-control", id = "txtpostDistrict" } })


                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">States:</label>

                                                @Html.DropDownListFor(x => Model.SelectedModelstates_postal, new SelectList(Model.ival_States_postal, "State_ID", "State_Name"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlpoststatemaster" })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Pin Code:</label>

                                                @Html.DropDownListFor(x => Model.SelectedModelpincode_postal, new SelectList(Model.ival_LookupCategoryValuespincode_postal, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlpostpincodemaster" })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="Project_Name:" class=" form-control-label">Nearby Landmark</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Postal_NearbyLandmark, new { htmlAttributes = new { @class = "form-control", id = "txtPostal_NearbyLandmark" } })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="Project_Name:" class=" form-control-label">RERA Approval no:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.RERA_Approval_Num, new { htmlAttributes = new { @class = "form-control", id = "txtRERAApprovalno" } })


                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="Total_Land_Area:" style="margin-bottom:0; margin-left:15px;" class=" form-control-label">Total Land Area:</label>

                                                    @*<label style="margin-bottom:0; margin-left:15px;">Total Land Area</label>*@
                                                </div>
                                                <div class="col-md-6 col-sm-6 top7">
                                                    <div class="input-group">
                                                        @*<input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">*@
                                                        @Html.EditorFor(model => model.ival_ProjectMasters.Total_Land_Area, new { htmlAttributes = new { @class = "form-control", id = "txtTotal_Land_Areasqmtrs" } })

                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">sq. mtrs. </span> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 top7">
                                                    <div class="input-group">
                                                        @*@Html.EditorFor(model => model.Total_Land_Area, new { htmlAttributes = new { @class = "form-control", id = "txtTotal_Land_Areasqft" } })*@

                                                        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">sq. ft. </span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="Total Permissible FSI:" style="margin-bottom:0; margin-left:15px;" class=" form-control-label">Total Permissible FSI:</label>

                                                    @*<label style="margin-bottom:0; margin-left:15px;">Total Permissible FSI </label>*@
                                                </div>
                                                <div class="col-8 col-sm-6 top7">
                                                    <div class="input-group">
                                                        @Html.EditorFor(model => model.ival_ProjectMasters.Total_Permissible_FSI, new { htmlAttributes = new { @class = "form-control", id = "txtPermissiblesqmtrs" } })

                                                        @*<input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">*@
                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">sq. mtrs. </span> </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-sm-6 top7">
                                                    <div class="input-group">
                                                        @*@Html.EditorFor(model => model.Total_Permissible_FSI, new { htmlAttributes = new { @class = "form-control", id = "txtPermissiblesqft" } })*@

                                                        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">sq. ft. </span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="col-12 col-md-4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <label for="Approved Built-up area:" class=" form-control-label">Approved Built-up area:</label>

                                                    @*<label style="margin-bottom:0; margin-left:15px;">Approved Built-up area </label>*@
                                                </div>
                                                <div class="col-8 col-sm-6 top7">
                                                    <div class="input-group">
                                                        @Html.EditorFor(model => model.ival_ProjectMasters.Approved_Builtup_Area, new { htmlAttributes = new { @class = "form-control", id = "txtApproved_Builtup_Areasqmt" } })

                                                        @*<input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">*@
                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">sq. mtrs. </span> </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-sm-6 top7">
                                                    <div class="input-group">
                                                        @*@Html.EditorFor(model => model.Approved_Builtup_Area, new { htmlAttributes = new { @class = "form-control", id = "txtApproved_Builtup_Areasqft" } })*@

                                                        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">sq. ft. </span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="Approved_No_of_plotsorflats:" class=" form-control-label">Approved No of Plots/flats:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Approved_No_of_plotsorflats, new { htmlAttributes = new { @class = "form-control", id = "txtApproved_No_of_plotsorflats" } })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Approved_No_of_Buildings:" class=" form-control-label">Approved No of Buildings:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Approved_No_of_Buildings, new { htmlAttributes = new { @class = "form-control", id = "txtApproved_No_of_Buildings" } })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Approved_No_of_Wings:" class=" form-control-label">Approved No of Wings :</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Approved_No_of_Wings, new { htmlAttributes = new { @class = "form-control", id = "txtApproved_No_of_Wings" } })


                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4">
                                            <div class="row">
                                                <div class="col-12">

                                                    <label for="Approved_No_of_Floors:" class=" form-control-label">Approved no of floors :</label>

                                                    <label style="margin-bottom:0; margin-left:15px;">@*Approved no of floors :*@</label>
                                                </div>
                                                <div class="col-8 col-sm-6 top7">
                                                    <div class="input-group">
                                                        @Html.EditorFor(model => model.ival_ProjectMasters.Approved_No_of_Floors, new { htmlAttributes = new { @class = "form-control", id = "txtApproved_No_of_Floors" } })

                                                        @*<input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">*@
                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">G + </span> </div>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-sm-6 top7">
                                                    <div class="input-group">
                                                        @*@Html.EditorFor(model => model.Approved_No_of_Floors, new { htmlAttributes = new { @class = "form-control", id = "txtApproved_No_of_Floors" } })*@

                                                        <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">G + </span> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Approved_No_of_Units:" class=" form-control-label">Total No of units proposed:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Approved_No_of_Units, new { htmlAttributes = new { @class = "form-control", id = "txtApproved_No_of_Units" } })

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">

                                                <label for="Specifications:" class=" form-control-label">Specifications:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Specifications, new { htmlAttributes = new { @class = "form-control", id = "txtSpecifications" } })

                                                @*<label for="company" class=" form-control-label"> Specifications :</label>
                                                    <textarea name="" cols="" rows="" class="form-control" spellcheck="false" placeholder="Specifications" maxlength="200"></textarea>*@
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="Amenities:" class=" form-control-label">Proposed Amenities:</label>
                                                @Html.EditorFor(model => model.ival_ProjectMasters.Amenities, new { htmlAttributes = new { @class = "form-control", id = "txtAmenities" } })

                                                @*<label for="company" class="form-control-label">Proposed Amenities :</label>*@
                                                @*<textarea name="" cols="" rows="" class="form-control" spellcheck="false" placeholder="Proposed Amenities" maxlength="200"></textarea>*@
                                            </div>
                                        </div>
                                        @*}*@
                                    </div>

                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header"><strong>Details of Approval </strong></div>
                                <div class="card-body card-block">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>

                                                <th width="38%" scope="col">Type of Approval </th>
                                                <th width="16%" scope="col">Approval authority</th>
                                                <th width="16%" scope="col">Date of Approval</th>
                                                <th width="15%" scope="col">Approval No</th>

                                            </tr>
                                        </thead>
                                        <tbody id="tblapprovaldetails">
                                            @*@for (int idx = 0; idx < ViewBag.ival_PrjAppDet_Dy_List.Rows.Count; idx++)*@
                                            @foreach (var idx in ViewBag.ival_PrjAppDet_Dy_List)
                                            {
                                                <tr>
                                                    <td id="value0" style="display:none">
                                                        <input style="display:none" type="text" value="@idx.Approval_Type" />
                                                    </td>
                                                    <td id="valueapprovaltype">
                                                        <label>@idx.Approval_Type</label>


                                                    </td>
                                                    <td id="value1"><input type="text" value="@idx.Approving_Authority" /></td>
                                                    <td id="value2"><input type="text" value="@idx.Date_of_Approval" /></td>
                                                    <td id="value3"><input type="text" value="@idx.Approval_Num" /></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header"><strong>Side Margin </strong><small>Details Of Unit</small></div>
                                <div class="card-body card-block">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="23%" scope="col">Description</th>
                                                <th width="27%" scope="col">As Per Approved Plan</th>
                                                <th width="25%" scope="col">As per Measurement</th>
                                                <th width="25%" scope="col">% Devistion</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblSideMargins">
                                            @*@for (int idx = 0; idx < Model.ival_LookupCategorySideMargins.Count; idx++)
                                                {*@
                                            @foreach (var idx in ViewBag.ival_Sidemargins)
                                            {
                                                <tr>
                                                    <td id="value13" style="display:none">
                                                        <input style="display:none" type="text" value="@idx.Side_Margin_Description" />
                                                    </td>
                                                    <td id="valuesidemargintype">
                                                        <label>@idx.Side_Margin_Description</label>


                                                    </td>
                                                    <td id="value7"><input type="text" value="@idx.As_per_Approved" /></td>
                                                    <td id="value8"><input type="text" value="@idx.As_per_Measurement" /></td>
                                                    <td id="value9"><input type="text" value="@idx.Percentage_Deviation" /></td>


                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="company" class=" form-control-label">Deviation Description:</label>
                                            @Html.EditorFor(model => model.ival_ProjectMasters.Deviation_Description, new { htmlAttributes = new { @class = "form-control", id = "txtDeviationDescription", spellcheck = "false" } })

                                            @*<textarea id="Deviation_Description" name="" class="form-control" spellcheck="false"></textarea>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header"><strong>Four Boundaries </strong><small> of the Project</small></div>
                                <div class="card-body card-block">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="38%" scope="col">Four Boundaries of the Project </th>
                                                <th width="16%" scope="col">As Per Documents</th>
                                                <th width="16%" scope="col">Actual as per Site</th>
                                            </tr>
                                        </thead>

                                        <tbody id="tblBoundaries">
                                            @*@for (int idx = 0; idx < Model.ival_LookupCategoryBoundaries.Count; idx++)
                                                {*@
                                            @foreach (var idx in ViewBag.ival_Boundaries)
                                            {
                                                <tr>
                                                    <td id="value14" style="display:none">
                                                        <input style="display:none" type="text" value="@idx.Boundry_Name" />
                                                    </td>
                                                    <td id="valueboundariestype">
                                                        <label>@idx.Boundry_Name</label>
                                                    </td>
                                                    <td id="value10"><input type="text" value="@idx.AsPer_Document" /></td>
                                                    <td id="value11"><input type="text" value="@idx.AsPer_Site" /></td>

                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                    <div class="col-12 col-md-12">
                                        <label for="company" class=" form-control-label"><strong>Co-ordinates:</strong></label>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Latitude</label>
                                            @Html.EditorFor(model => model.ival_ProjectMasters.Cord_Latitude, new { htmlAttributes = new { @class = "form-control", id = "txtlatitude" } })


                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label class="form-control-label">Longitude</label>

                                            @Html.EditorFor(model => model.ival_ProjectMasters.Cord_Longitude, new { htmlAttributes = new { @class = "form-control", id = "txtlongitude" } })


                                        </div>
                                    </div>

                                    <div class="col-12 col-md-12">
                                        <label for="company" class=" form-control-label"><strong>Adjoining Roads Width:</strong></label>
                                        <div class="form-group">

                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="">
                                                Road1
                                                @Html.EditorFor(model => model.ival_ProjectMasters.AdjoiningRoad_Width1, new { htmlAttributes = new { @class = "form-control", id = "txtRoad1" } })

                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="">
                                                Road2
                                                @Html.EditorFor(model => model.ival_ProjectMasters.AdjoiningRoad_Width2, new { htmlAttributes = new { @class = "form-control", id = "txtRoad2" } })

                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="">
                                                Road3
                                                @Html.EditorFor(model => model.ival_ProjectMasters.AdjoiningRoad_Width3, new { htmlAttributes = new { @class = "form-control", id = "txtRoad3" } })

                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="">
                                                Road4
                                                @Html.EditorFor(model => model.ival_ProjectMasters.AdjoiningRoad_Width4, new { htmlAttributes = new { @class = "form-control", id = "txtRoad4" } })

                                            </label>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header"><strong>Details of Locality </strong></div>
                                <div class="card-body card-block">
                                    <div class="col-12 col-md-4">
                                        <label for="company" class=" form-control-label">Social Infrastructure :</label>
                                        @Html.DropDownListFor(x => Model.SelectedModelsocialInfra, new SelectList(Model.ival_LookupCategoryValuesSocialInfra, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddllocalitymaster" })

                                    </div>

                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="country" class=" form-control-label">Class of Locality</label>
                                            @Html.DropDownListFor(x => Model.SelectedModelclassoflocality, new SelectList(Model.ival_LookupCategoryValuesClassOfLocality, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlclassoflocality" })

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="city" class=" form-control-label">Distance from City Center</label>
                                            @Html.EditorFor(model => model.ival_ProjectMasters.DistFrom_City_Center, new { htmlAttributes = new { @class = "form-control", id = "txtdistfrmcity" } })

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label for="company" class="form-control-label"> Basic Infrastructure Availability :</label>

                                        <table id="tblbasicinfra">


                                            @for (int idx = 0; idx < Model.ival_LookupCategoryValuesbasicInfra.Count; idx++)
                                            {
                                                <tr>
                                                    <td>

                                                        <input id="ival_Lookbasicinfra_@idx" type="checkbox" value="@Model.ival_LookupCategoryValuesbasicInfra[idx].Lookup_Value" class=" form-control-label"><span>@Model.ival_LookupCategoryValuesbasicInfra[idx].Lookup_Value</span>
                                                    </td>
                                                </tr>
                                            }
                                        </table>


                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label for="company" class="form-control-label"> Connectivity to the Central hub:</label>
                                        <table id="tblconnectivity">
                                            @for (int idx = 0; idx < Model.ival_LookupCategoryValuesconnectivity.Count; idx++)
                                            {
                                                <tr>
                                                    <td>

                                                        <input id="ival_Lookconnectivity_@idx" type="checkbox" value="@Model.ival_LookupCategoryValuesconnectivity[idx].Lookup_Value" class=" form-control-label"><span>@Model.ival_LookupCategoryValuesconnectivity[idx].Lookup_Value</span>
                                                    </td>
                                                </tr>
                                            }
                                        </table>
                                    </div>


                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="country" class=" form-control-label">Remarks:</label>
                                            @Html.EditorFor(model => model.ival_ProjectMasters.Locality_Remarks, new { htmlAttributes = new { @class = "form-control", id = "txtRemarks" } })

                                            @*<textarea name="" cols="" rows="" class="form-control" spellcheck="false"></textarea>*@
                                        </div>
                                    </div>
                                    <div style="clear:both"></div>
                                    <input type="button" onclick="Submitform()" value="Submit" class="btn btn-success btn-sm top7 pull-right" id=item.Project_ID />
                                    @*<a class="btn btn-success btn-sm top7 pull-right" href="@Url.Action("Index","Project")">Submit</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .animated -->
            </div>
            <!-- .animated -->
        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</form>
<script src="~/Scripts/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        '@ViewBag.SelectedModelGroupmaster'
        var option = document.createElement("option");
        var newOptionText = '@ViewBag.SelectedModelGroupmaster'; //your input box value will come here.
        option.text = newOptionText;
        option.value = '@ViewBag.SelectedModelGroupmaster';
        var select = document.getElementById("ddlgroupmaster");
        select.insertBefore(option, select.childNodes[1]);

        '@ViewBag.SelectedModelCompanyMaster'
        var option1 = document.createElement("option1");
        var newOptionText = '@ViewBag.SelectedModelCompanyMaster'; //your input box value will come here.
        option1.text = newOptionText;
        option1.value = '@ViewBag.SelectedModelCompanyMaster';
        var select = document.getElementById("ddlcompanymaster");
        select.insertBefore(option1, select.childNodes[1]);

        '@ViewBag.SelectedModelstates'
        var option2 = document.createElement("option2");
        var newOptionText = '@ViewBag.SelectedModelstates'; //your input box value will come here.
        option2.text = newOptionText;
        option2.value = '@ViewBag.SelectedModelstates';
        var select = document.getElementById("ddlstatemaster");
        select.insertBefore(option2, select.childNodes[1]);

        '@ViewBag.SelectedModelpincode'
        var option3 = document.createElement("option3");
        var newOptionText = '@ViewBag.SelectedModelpincode'; //your input box value will come here.
        option3.text = newOptionText;
        option3.value = '@ViewBag.SelectedModelpincode';
        var select = document.getElementById("ddlpincodemaster");
        select.insertBefore(option3, select.childNodes[1]);

        '@ViewBag.SelectedModelstates_postal'
        var option4 = document.createElement("option4");
        var newOptionText = '@ViewBag.SelectedModelstates_postal'; //your input box value will come here.
        option4.text = newOptionText;
        option4.value = '@ViewBag.SelectedModelstates_postal';
        var select = document.getElementById("ddlpoststatemaster");
        select.insertBefore(option4, select.childNodes[1]);


        '@ViewBag.Postal_Pincode'
        var option5 = document.createElement("option5");
        var newOptionText = '@ViewBag.Postal_Pincode'; //your input box value will come here.
        option5.text = newOptionText;
        option5.value = '@ViewBag.Postal_Pincode';
        var select = document.getElementById("ddlpostpincodemaster");
        select.insertBefore(option5, select.childNodes[1]);


        '@ViewBag.SelectedModellookupprojecttype'
        var option6 = document.createElement("option6");
        var newOptionText = '@ViewBag.SelectedModellookupprojecttype'; //your input box value will come here.
        option6.text = newOptionText;
        option6.value = '@ViewBag.SelectedModellookupprojecttype';
        var select = document.getElementById("ddlprojecttypemaster");
        select.insertBefore(option6, select.childNodes[1]);

        '@ViewBag.Social_Infrastructure'
        var option7 = document.createElement("option7");
        var newOptionText = '@ViewBag.Social_Infrastructure'; //your input box value will come here.
        option7.text = newOptionText;
        option7.value = '@ViewBag.Social_Infrastructure';
        var select = document.getElementById("ddllocalitymaster");
        select.insertBefore(option7, select.childNodes[1]);

        '@ViewBag.Class_of_Locality'
        var option8 = document.createElement("option8");
        var newOptionText = '@ViewBag.Class_of_Locality'; //your input box value will come here.
        option8.text = newOptionText;
        option8.value = '@ViewBag.Class_of_Locality';
        var select = document.getElementById("ddlclassoflocality");
        select.insertBefore(option8, select.childNodes[1]);


        var data = @Html.Raw(ViewBag.ival_Prjchkunits);
        var string = JSON.stringify(data)
        var objects = JSON.parse(string)
        
        $.each(objects, function (index, value) {
            $('input:checkbox[value="' + this.UType_ID + '"]').attr('checked', true);
        });

        var data1= @Html.Raw(ViewBag.ival_Prjchkbasic);
        var string1 = JSON.stringify(data1)
        var objects1 = JSON.parse(string1)
        $.each(objects1, function (index, value) {
            $('input:checkbox[value="' + this.BasicInfra_type + '"]').attr('checked', true);
        });


        var data2 = @Html.Raw(ViewBag.ival_Prjchklocal);
        var string2 = JSON.stringify(data2)
        var objects2 = JSON.parse(string2)
        $.each(objects2, function (index, value) {
            $('input:checkbox[value="' + this.LocalTransport_ID + '"]').attr('checked', true);
        });




    });
        var AllValue = [];
        var AllValue1 = [];
        var AllValue2 = [];
        var AllValue3 = [];
        var AllValue4 = [];

        function Submitform() {
            var TrCount = $("#tblapprovaldetails tr").length;
            var TrCount2 = $("#tblSideMargins tr").length;
            var TrCount3 = $("#tblBoundaries tr").length;
            var chkcount = $("#tblunittypes tr").length;

            //  alert(TrCount);
            for (var i = 0; i < TrCount; i++) {
                AllValue.push({
                    ApprovalType: $("#tblapprovaldetails tr #value0 input").eq(i).val(),
                    Approving_Authority: $("#tblapprovaldetails tr #value1 input").eq(i).val(),
                    Approving_Date: $("#tblapprovaldetails tr #value2 input").eq(i).val(),
                    Approving_Num: $("#tblapprovaldetails tr #value3 input").eq(i).val(),
                });
            }

            for (var i = 0; i < TrCount2; i++) {

                AllValue2.push({
                    SidemarginsType: $("#tblSideMargins tr #value13 input").eq(i).val(),
                    Asperapprovedplan: $("#tblSideMargins tr #value7 input").eq(i).val(),
                    Aspermeasurement: $("#tblSideMargins tr #value8 input").eq(i).val(),
                    perdevistion: $("#tblSideMargins tr #value9 input").eq(i).val(),
                    Deviation_Description: $("Deviation_Description").val,
                });
            }

            for (var i = 0; i < TrCount3; i++) {

                AllValue3.push({
                    BoundariesType: $("#tblBoundaries tr #value14 input").eq(i).val(),
                    asperdoc: $("#tblBoundaries tr #value10 input").eq(i).val(),
                    aspersite: $("#tblBoundaries tr #value11 input").eq(i).val(),

                });
            }


            //$('#ival_LookupCategoryValuesunittype').empty();
            //debugger;
            //var getList = [];
            //$("#PostMaster input:checked").each(function () {
            //    getList.push($(this).val());
            //});
            //$('#ival_LookupCategoryValuesunittype').val(getList);// assign to hidden field

            var AllValue11 = [];
            var checked_checkboxes = $("[id*=tblunittypes] input:checked");
            var message = "";
            checked_checkboxes.each(function () {
                var value = $(this).val();

                AllValue11.push({ value });
            });

            var AllValue12 = [];
            var checked_checkboxes1 = $("[id*=tblbasicinfra] input:checked");
            var message = "";
            checked_checkboxes1.each(function () {
                var value1 = $(this).val();

                AllValue12.push({ value1 });
            });

            var AllValue13 = [];
            var checked_checkboxes2 = $("[id*=tblconnectivity] input:checked");
            var message = "";
            checked_checkboxes2.each(function () {
                var value2 = $(this).val();

                AllValue13.push({ value2 });
            });

            AllValue1.push({
                ddlgroupmaster: $("#ddlgroupmaster").val(),
                ddlcompanyaster: $("#ddlcompanymaster").val(),
                ddlprojecttypemaster: $("#ddlprojecttypemaster").val(),
                // ddlchkunittype: $("#chkunitypes" + idx).prop("checked", true),
                txtprojectname: $("#txtprojectname").val(),
                txtlegaladdress1: $("#txtlegaladdress1").val(),
                txtlegaladdress2: $("#txtlegaladdress2").val(),
                txtLegalLocality: $("#txtLegalLocality").val(),
                txtstreet: $("#txtstreet").val(),
                txtCity: $("#txtCity").val(),
                txtLegal_District: $("#txtLegal_District").val(),
                ddlstatemaster: $("#ddlstatemaster").val(),
                ddlpincodemaster: $("#ddlpincodemaster").val(),
                txtpostAddress1: $("#txtpostAddress1").val(),
                txtpostAddress2: $("#txtpostAddress2").val(),

                txtpostStreet: $("#txtpostStreet").val(),
                txtpostLocality: $("#txtpostLocality").val(),
                txtpostCity: $("#txtpostCity").val(),
                txtpostDistrict: $("#txtpostDistrict").val(),
                ddlpoststatemaster: $("#ddlpoststatemaster").val(),
                ddlpostpincodemaster: $("#ddlpostpincodemaster").val(),
                txtPostal_NearbyLandmark: $("#txtPostal_NearbyLandmark").val(),
                txtRERAApprovalno: $("#txtRERAApprovalno").val(),
                txtTotal_Land_Areasqmtrs: $("#txtTotal_Land_Areasqmtrs").val(),
                txtPermissiblesqmtrs: $("#txtPermissiblesqmtrs").val(),
                txtApproved_Builtup_Areasqmt: $("#txtApproved_Builtup_Areasqmt").val(),
                txtApproved_No_of_plotsorflats: $("#txtApproved_No_of_plotsorflats").val(),
                txtApproved_No_of_Buildings: $("#txtApproved_No_of_Buildings").val(),
                txtApproved_No_of_Wings: $("#txtApproved_No_of_Wings").val(),
                txtApproved_No_of_Floors: $("#txtApproved_No_of_Floors").val(),
                txtApproved_No_of_Units: $("#txtApproved_No_of_Units").val(),
                txtSpecifications: $("#txtSpecifications").val(),
                txtAmenities: $("#txtAmenities").val(),
                ddllocalitymaster: $("#ddllocalitymaster").val(),
                ddlclassoflocality: $("#ddlclassoflocality").val(),
                txtdistfrmcity: $("#txtdistfrmcity").val(),
                ival_LookupCategoryValuesbasicInfra: $("#ival_LookupCategoryValuesbasicInfra").val(),
                ival_LookupCategoryValuesconnectivity: $("#ival_LookupCategoryValuesconnectivity").val(),
                txtRemarks: $("#txtRemarks").val(),
                txtlatitude: $("#txtlatitude").val(),
                txtlongitude: $("#txtlongitude").val(),

                txtRoad1: $("#txtRoad1").val(),
                txtRoad2: $("#txtRoad2").val(),
                txtRoad3: $("#txtRoad3").val(),
                txtRoad4: $("#txtRoad4").val(),
                txtDeviationDescription: $("#txtDeviationDescription").val(),
            });

            var str = JSON.stringify(AllValue);
            var str1 = JSON.stringify(AllValue1);
            var str2 = JSON.stringify(AllValue2);
            var str3 = JSON.stringify(AllValue3);
            var str4 = JSON.stringify(AllValue11);
            var str5 = JSON.stringify(AllValue12);
            var str6 = JSON.stringify(AllValue13);


            $.ajax({
               
                url: '@Url.Action("UpdateAllApproval", "Project")',
                data: { str: str, str1: str1, str2: str2, str3: str3, str4: str4, str5: str5, str6: str6 },
                type: "POST",
                Response: ContentType = 'application/json;charset=utf-8',
                success: function (data) {
                    //alert(data.Message)
                    //location.reload();
                    var url = '@Url.Action("Index")'; 
                                window.location.href = url;
                },
            });
        }



</script>