﻿@model I_Value.WebApp.Models.ViewModel
@{
    ViewBag.Title = "AddUnit";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}
    
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1> Unit Details </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="content bg">
                    <div class="animated fadeIn">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12 padd0">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="breadcrumb">
                                                        <li>@ViewBag.ProjectName</li>
                                                        <li>@ViewBag.BuildingName</li>
                                                        <li>@ViewBag.WingName</li>
                                                    </ul>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">Select Property Type </label>
                                                        @Html.DropDownListFor(m => m.SelectedPropertyType, new SelectList(Model.propertyTypeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", @id = "PropertyTypeDDL" })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <label for="company" class=" form-control-label">Select Unit Type </label>
                                                    @Html.DropDownListFor(m => m.selectedUnitID, new SelectList(Model.unitTypeList, "Lookup_ID", "Lookup_Value"), "Please Select ", new { @class = "form-control", @id = "UnitTypeDDL", @onchange = "AddTextBox(this);" })
                                                </div>
                                                <div style="clear:both;"></div>
                                                <div class="col-12 col-md-4" style="margin-bottom:20px;"> <span style="font-size:10px; color:#999999;">Note: Based on the Project chosen above fill up the following</span> </div>
                                            </div>
                                            <!-- Tab panes -->
                                            <div class="py-4">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <ul id="tabsJustified" class="nav nav-tabs">
                                                            <li class="nav-item active"><a href="" data-target="#UnitDetails" data-toggle="tab" class="nav-link small text-uppercase active">Unit Details</a></li>
                                                            <li class="nav-item"><a href="" data-target="#UnitPrice" data-toggle="tab" class="nav-link small text-uppercase">Unit Price</a></li>
                                                        </ul>
                                                        <br>
                                                        <div id="tabsJustifiedContent" class="tab-content">
                                                           
                                                                <div id="UnitDetails" class="tab-pane active">
                                                                    <div class="pb-2">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-12" style="margin-bottom:10px;">
                                                                                    <div class="subtitle"> Unit Details</div>
                                                                                    @Html.HiddenFor(m => m.ival_ProjBldgWingUnitMaster1.Unit_ID)
                                                                                </div>
                                                                                <div style="clear:both;"></div>
                                                                                <div class="col-md-12">
                                                                                    <div class="card" id="DivForId">
                                                                                        <div class="card-body card-block">
                                                                                            <div class="row">
                                                                                                <!--<div class="col-12 col-md-8" style="margin-bottom:20px;"> <span style="font-size:10px; color:#999999;">Note: show this for Unit Details of (FLAT/OFFICE/Industrial Unit/Penthouse/Shop/Showroom)</span> </div>-->
                                                                                                <div style="clear:both;"></div>
                                                                                                <div class="col-md-12">
                                                                                                    <div class="row">
                                                                                                        <table class="table table-bordered">

                                                                                                            <thead></thead>
                                                                                                            <tbody id="ival_UnitParameterMasters">
                                                                                                                @for (int idx = 0; idx < Model.vMUnitParameterDetailslist.Count; idx++)
                                                                                                                {
                                                                                                                    
                                                                                                                    <tr>
                                                                                                                        <div class="col-12 col-md-3">
                                                                                                                            <div class="form-group">

                                                                                                                                <td>
                                                                                                                                    @Html.HiddenFor(m => m.vMUnitParameterDetailslist[idx].Name)
                                                                                                                                    <label>@Model.vMUnitParameterDetailslist[idx].Name</label>
                                                                                                                                </td>
                                                                                                                                <td id="value20" style="display:none">@Html.HiddenFor(m => m.vMUnitParameterDetailslist[idx].UnitParameter_ID)</td>
                                                                                                                                
                                                                                                                                <td id="value14" style="display:none">@Html.HiddenFor(m => m.vMUnitParameterDetailslist[idx].Name)</td>
                                                                                                                                    @*<td>@Model.vMUnitParameterDetailslist[idx].Name</td>*@
                                                                                                                                    @if (@Model.vMUnitParameterDetailslist[idx].Name == "View From Unit") { @Html.HiddenFor(m => m.vMUnitParameterDetailslist[idx].UnitParameter_Value)   <td>
                                                                                                                                        @Html.DropDownListFor(m => m.SelectedViewFromUnit, new SelectList(Model.viewFromUnitList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", @id = "SelectedViewFromUnitDdl" })
                                                                                                                                    </td>
                                                                                                                                }
                                                                                                                                else
                                                                                                                                {
                                                                                                                                    <td id="value3">
                                                                                                                                        @*<input type="text" id="txtUnitParameterValue_' + i + '" name="txtUnitParameterValue_' + i + '" />*@
                                                                                                                                        @Html.EditorFor(model => model.vMUnitParameterDetailslist[idx].UnitParameter_Value, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" + @idx } })
                                                                                                                                    </td>
                                                                                                                                }
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                    </tr>


                                                                                                                }
                                                                                                            </tbody>
                                                                                                        </table>

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="card">
                                                                                        <div class="card-header"><strong>Side Margin </strong><small>Details Of Unit</small> <span style="font-size:12px; color:#999999;">Note: show this for Unit Details for (Bungalow & Rowhouse)</span></div>
                                                                                        <div class="card-body card-block">
                                                                                            <table class="table table-bordered">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th width="23%" scope="col">Description</th>
                                                                                                        <th width="27%" scope="col">As Per Approved Plan</th>
                                                                                                        <th width="25%" scope="col">As per Measurement</th>
                                                                                                        <th width="25%" scope="col">% Deviation</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody id="tblSideMargins">
                                                                                                    @for (int idx = 0; idx < Model.ival_ProjectSideMarginList.Count; idx++)
                                                                                                    {
                                                                                                        <tr>
                                                                                                            <td id="Side_Margin_IDVal" style="display:none">
                                                                                                                <input style="display:none" type="text" id="ival_ProjectSideMarginList+@idx" name="ival_ProjectSideMarginList+@idx" value="@Model.ival_ProjectSideMarginList[idx].Side_Margin_ID" />
                                                                                                            </td>
                                                                                                            <td id="valuesidemargintype">
                                                                                                                @Html.HiddenFor(x => x.ival_ProjectSideMarginList[idx].Side_Margin_ID)
                                                                                                                @Html.HiddenFor(x => x.ival_ProjectSideMarginList[idx].Side_Margin_Description)
                                                                                                                <label>@Model.ival_ProjectSideMarginList[idx].Side_Margin_Description</label>


                                                                                                            </td>
                                                                                                            <td id="As_per_ApprovedVal">
                                                                                                                @*<input type="text" id="txtapprplan_+@idx" name="apprplan_+@idx" />*@
                                                                                                                @Html.EditorFor(model => model.ival_ProjectSideMarginList[idx].As_per_Approved, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" + @idx } })
                                                                                                            </td>
                                                                                                            <td id="As_per_MeasurementVal">
                                                                                                                @*<input type="text" id="txtmeasuremment_+@idx" name="measuremment_+@idx" />*@
                                                                                                                @Html.EditorFor(model => model.ival_ProjectSideMarginList[idx].As_per_Measurement, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" + @idx } })
                                                                                                            </td>
                                                                                                            <td id="Percentage_DeviationVal">
                                                                                                                @*<input type="text" id="txtdevistions_+@idx" name="devistions_+@idx" />*@
                                                                                                                @Html.EditorFor(model => model.ival_ProjectSideMarginList[idx].Percentage_Deviation, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" + @idx } })
                                                                                                            </td>


                                                                                                        </tr>
                                                                                                    }
                                                                                                </tbody>
                                                                                            </table>
                                                                                            <div class="col-12 col-md-6">
                                                                                                <div class="form-group">
                                                                                                    <label for="company" class=" form-control-label">Deviation Description:</label>&nbsp;
                                                                                                    @Html.TextAreaFor(m => m.Deviation_Description, 2, 50, new { htmlAttributes = new { @class = "form-control", id = "Deviation_DescriptionID", style = "width: 100%; max-width: 100%;" } })
                                                                                                    @*<textarea name="" cols="" rows="" id="Deviation_DescriptionID" class="form-control" spellcheck="false"></textarea>*@
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="card">
                                                                                        <div class="card-header"><strong>Four Boundaries</strong><small> of the Unit </small></div>
                                                                                        <div class="card-body card-block">
                                                                                            <table class="table table-bordered">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th width="42%" scope="col">Four Boundaries of the Wing </th>
                                                                                                        <th width="29%" scope="col">As Per Documents</th>
                                                                                                        <th width="29%" scope="col">Actual as per Site</th>
                                                                                                    </tr>
                                                                                                </thead>

                                                                                                <tbody id="tblBoundaries">
                                                                                                    @for (int idx = 0; idx < Model.ival_ProjectBoundariesList.Count; idx++)
                                                                                                    {
                                                                                                    <tr>
                                                                                                        <td id="Boundry_NameVal" style="display:none">
                                                                                                            <input style="display:none" type="text" id="ival_LookupCategoryBoundaries_+@idx" name="ival_LookupCategoryBoundaries_+@idx" value="@Model.ival_ProjectBoundariesList[idx].Boundry_Name" />
                                                                                                        </td>
                                                                                                        <td id="Boundry_IDVal" style="display:none">
                                                                                                            <input style="display:none" type="text" id="ival_LookupCategoryBoundaries_+@idx" name="ival_LookupCategoryBoundaries_+@idx" value="@Model.ival_ProjectBoundariesList[idx].Boundry_ID" />
                                                                                                        </td>
                                                                                                        <td id="valueboundariestype">
                                                                                                            <label>@Model.ival_ProjectBoundariesList[idx].Boundry_Name</label>
                                                                                                            @Html.HiddenFor(m => m.ival_ProjectBoundariesList[idx].Boundry_Name)
                                                                                                            @Html.HiddenFor(m => m.ival_ProjectBoundariesList[idx].Boundry_ID)
                                                                                                        </td>
                                                                                                        <td id="AsPer_DocumentVal">
                                                                                                            @*<input type="text" id="txteast_+@idx" name="east_+@idx" />*@
                                                                                                            @Html.EditorFor(model => model.ival_ProjectBoundariesList[idx].AsPer_Document, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" + @idx } })
                                                                                                        </td>
                                                                                                        <td id="AsPer_SiteVal">
                                                                                                            @*<input type="text" id="txtwest_+@idx" name="west_+@idx" />*@
                                                                                                            @Html.EditorFor(model => model.ival_ProjectBoundariesList[idx].AsPer_Site, new { htmlAttributes = new { @class = "form-control", id = "txtApproving_Authority_" + @idx } })
                                                                                                        </td>

                                                                                                    </tr>
                                                                                                    }
                                                                                                </tbody>
                                                                                            </table>
                                                                                            <div class="col-12 col-md-12">
                                                                                                <label for="company" class=" form-control-label"><strong>Co-ordinates:</strong></label>

                                                                                            </div>
                                                                                            <div class="col-12 col-md-4">
                                                                                                <div class="form-group">
                                                                                                    <label for="city" class=" form-control-label">Latitude</label>
                                                                                                    @Html.EditorFor(model => model.Cord_Latitude, new { htmlAttributes = new { @class = "form-control", @id = "Cord_LatitudeId" } })
                                                                                                    @*<input type="text" id="Cord_LatitudeId" />*@
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="col-12 col-md-4">
                                                                                                <div class="form-group">
                                                                                                    <label for="city" class=" form-control-label">Longitude</label>
                                                                                                    @Html.EditorFor(model => model.Cord_Longitude, new { htmlAttributes = new { @class = "form-control", @id = "Cord_LongitudeID" } })
                                                                                                    @*<input type="text" id="Cord_LongitudeID" />*@
                                                                                                </div>
                                                                                            </div>
                                                                                            <div style="clear :both"></div>
                                                                                            <input type="submit" value="Update" onclick="UpdateUnitDetails();" class="btn btn-success btn-sm pull-right" />

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-5"></div>
                                                                    </div>
                                                                </div>
                                                            @*</form>*@
                                                            <div id="UnitPrice" class="tab-pane fade">
                                                                <div>
                                                                    <div class="col-12" style="margin-bottom:10px;">
                                                                        <div class="subtitle"> Unit Price</div>
                                                                    </div>
                                                                    <div class="card">
                                                                        <div class="card-body card-block">
                                                                            <div class="col-md-12">
                                                                                <div class="row">
                                                                                    <div class="col-12 col-md-8" style="margin-bottom:20px;"> <span style="font-size:10px; color:#999999;">Note: show this for Unit Price Details of (FLAT/OFFICE/Industrial Unit/Penthouse/Shop/Showroom)</span> </div>
                                                                                    <div style="clear:both;"></div>
                                                                                    <div class="row">
                                                                                        <table class="table table-bordered">
                                                                                            <thead></thead>
                                                                                            <tbody id="UpdateUnitPrice">
                                                                                                @for (int idx = 0; idx < Model.vMUnitParameterPriceDetailsList.Count; idx++)
                                                                                                {

                                                                                                <td id="unitPriceParId1" style="display:none">
                                                                                                    <input style="display:none" type="text" id="unitPriceParId_+@idx" name="unitPriceParId1+@idx" value="@Model.vMUnitParameterPriceDetailsList[idx].UnitPriceParaValue_ID" />
                                                                                                </td>
                                                                                               
                                                                                                <tr>
                                                                                                    <div class="col-8 col-md-3">
                                                                                                        <div class="form-group">

                                                                                                            <td id="unitPriceParId2">

                                                                                                                <label>@Model.vMUnitParameterPriceDetailsList[idx].Name</label>
                                                                                                            </td>

                                                                                                            @if (@Model.vMUnitParameterPriceDetailsList[idx].Name == "Extra Amenities" || @Model.vMUnitParameterPriceDetailsList[idx].Name == "Parking Cost" || @Model.vMUnitParameterPriceDetailsList[idx].Name == "Electrical/water connection chagres" || @Model.vMUnitParameterPriceDetailsList[idx].Name == "Maintenance Cost" || @Model.vMUnitParameterPriceDetailsList[idx].Name == "Transfer Charges if any" || @Model.vMUnitParameterPriceDetailsList[idx].Name == "Any Other Charges")
                                                                                                            {
                                                                                                                <td id="unitPriceParVal1">
                                                                                                                    <input type="text" id="txtUnitParameterValue_' + i + '" name="txtUnitParameterValue_' + i + '" value="@Model.vMUnitParameterPriceDetailsList[idx].UnitPriceParameter_Value" />
                                                                                                                </td>
                                                                                                            }
                                                                                                            else
                                                                                                            {

                                                                                                                <td id="unitPriceParVal1">
                                                                                                                    <div class="col-8 col-sm-6 top7">
                                                                                                                        <div class="input-group">
                                                                                                                            <input type="text" class="form-control" id="governmentRateSqMtId" aria-label="Recipient's username" aria-describedby="basic-addon2" value="@Model.vMUnitParameterPriceDetailsList[idx].UnitPriceParameter_Value">
                                                                                                                            <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. mt.  </span> </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </td>
                                                                                                                <td id="unitPriceParVal1">
                                                                                                                    <div class="col-4 col-sm-6 top7">
                                                                                                                        <div class="input-group">
                                                                                                                            <input type="text" class="form-control" id="governmentRateSqFtId" aria-label="Recipient's username" aria-describedby="basic-addon2" value="@Model.vMUnitParameterPriceDetailsList[idx].UnitPriceParameter_ValueSq">
                                                                                                                            <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. ft. </span> </div>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                    
                                                                                                                </td>
                                                                                                            }
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </tr>
                                                                                            }
                                                                                                </tbody>
                                                                                            </table>

                                                                                        <div class="col-12 col-md-4">
                                                                                            <div class="form-group">
                                                                                                <label for="company" class=" form-control-label">Cost :</label>
                                                                                                @*<input type="text" id="CostId" class="form-control" onclick="CalculateSum(this);">*@
                                                                                                @Html.EditorFor(model => model.UnitCost, new { htmlAttributes = new { @class = "form-control", @id = "CostId" } })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-12 col-md-4">
                                                                                            <div class="form-group">
                                                                                                <label for="country" class=" form-control-label">
                                                                                                    Cost Value of the Property :
                                                                                                    @*<span style="font-size:10px; color:#999999;"> Flat cost + Extra amenities + Parking Cost +Electrical& Water+Maintenance+Transfer Charges+ any Other Charges (Do not Hard Code May vary bank to bank </span>*@
                                                                                                </label>
                                                                                                @*<input type="text" id="sum" class="form-control" onclick="">*@
                                                                                                @Html.EditorFor(model => model.Total_Cost_of_Property, new { htmlAttributes = new { @class = "form-control", @id = "sum" } })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-12 col-md-4">
                                                                                            <div class="form-group">
                                                                                                <label for="company" class=" form-control-label">Stage Of Construction :</label>
                                                                                                <div class="form-group">
                                                                                                    <select name="StageOfConstruction" id="StageOfConstructionId" class="form-control">
                                                                                                        <option>Select</option>
                                                                                                        <option>Ready</option>
                                                                                                        <option>Under-construction</option>
                                                                                                    </select>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div style="clear:both"></div>
                                                                                        <div class="col-12 col-md-4">
                                                                                            <div class="form-group">
                                                                                                <label for="country" class=" form-control-label">
                                                                                                    Description of Stage of construction :
                                                                                                    @*<span style="font-size:10px; color:#999999;">( For Under construction Properties)</span>*@
                                                                                                </label>
                                                                                                @*<textarea name="DescriptionofStageOfConstructionId" id="DescriptionofStageOfConstructionId" cols="" rows="" class="form-control" spellcheck="false" placeholder="In Ready Stage" maxlength="200"></textarea>*@
                                                                                                @Html.TextAreaFor(m => m.Stage_Description, 2, 50, new { htmlAttributes = new { @class = "form-control", id = "DescriptionofStageOfConstructionId", style = "width: 100%; max-width: 100%;" } })
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-12 col-md-4">
                                                                                            <div class="form-group">
                                                                                                <label for="company" class=" form-control-label">% Work Completed:</label>
                                                                                                @*<input type="text" id="workCompletedId" class="form-control" onkeyup="calulateCurrentVal();">*@
                                                                                                @Html.EditorFor(model => model.Percent_Completed, new { htmlAttributes = new { @class = "form-control", @id = "workCompletedId" } })
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="col-12 col-md-4">
                                                                                            <div class="form-group">
                                                                                                <label for="company" class=" form-control-label">
                                                                                                    Valuation of unit:
                                                                                                    @*<span style="font-size:10px; color:#999999;">*( Rate per sq ft on saleable + PlC Charges + Floor Rise per sq. ft.)</span>*@
                                                                                                </label>
                                                                                                @*<input type="text" id="valuationOfUnitId" class="form-control">*@
                                                                                                @Html.EditorFor(model => model.Valuation_of_unit, new { htmlAttributes = new { @class = "form-control", @id = "valuationOfUnitId" } })
                                                                                            </div>
                                                                                        </div>
                                                                                        <div style="clear:both"></div>
                                                                                        <div class="col-12 col-md-4">
                                                                                            <div class="form-group">
                                                                                                <label for="country" class=" form-control-label">
                                                                                                    Current Value of the property For Under construction unit:
                                                                                                    @*<span style="font-size:10px; color:#999999;"> Total Value of the property*% work Completed </span>*@
                                                                                                </label>
                                                                                                @*<input type="text" id="currentValueOfPropertyUnderConstructionUnitId" class="form-control">*@
                                                                                                @Html.EditorFor(model => model.Current_Value, new { htmlAttributes = new { @class = "form-control", @id = "currentValueOfPropertyUnderConstructionUnitId" } })
                                                                                            </div>
                                                                                        </div>
                                                                                        
                                                                                        <div class="col-12 col-md-4">
                                                                                            <div class="row">
                                                                                                <div class="col-12">
                                                                                                    <label style="margin-bottom:0; margin-left:15px;">Government Rate:</label>
                                                                                                </div>
                                                                                                <div class="col-8 col-sm-6 top7">
                                                                                                    <div class="input-group">
                                                                                                        @*<input type="text" class="form-control" id="governmentRateSqMtId" aria-label="Recipient's username" aria-describedby="basic-addon2" onkeyup="lengthConverterMeterToFit(this);">*@
                                                                                                        @Html.EditorFor(model => model.Government_Rate, new { htmlAttributes = new { @class = "form-control", @id = "governmentRateSqMtId" } })
                                                                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. mt.  </span> </div>
                                                                                                    </div>
                                                                                                </div>

                                                                                                <div class="col-4 col-sm-6 top7">
                                                                                                    <div class="input-group">
                                                                                                        @Html.EditorFor(model => model.Government_RateSq, new { htmlAttributes = new { @class = "form-control", @id = "governmentRateSqMtId" } })
                                                                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. ft. </span> </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-12 col-md-4">
                                                                                            <div class="row">
                                                                                                <div class="col-12">
                                                                                                    <label style="margin-bottom:0; margin-left:15px;">Government Value:</label>
                                                                                                </div>
                                                                                                <div class="col-8 col-sm-6 top7">
                                                                                                    <div class="input-group">
                                                                                                        @*<input type="text" class="form-control" id="governmentValueSqMtId" aria-label="Recipient's username" aria-describedby="basic-addon2" onkeyup="lengthConverterMeterToFit(this);">*@

                                                                                                        @Html.EditorFor(model => model.Government_Value, new { htmlAttributes = new { @class = "form-control", @id = "governmentRateSqMtId" } })
                                                                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. mt.  </span> </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="col-4 col-sm-6 top7">
                                                                                                    <div class="input-group">
                                                                                                        @Html.EditorFor(model => model.Government_ValueSq, new { htmlAttributes = new { @class = "form-control", @id = "governmentRateSqMtId" } })
                                                                                                        <div class="input-group-append"> <span class="input-group-text" id="basic-addon2 lable10">Sq. ft. </span> </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <!---------->
                                                                                        <div style="clear :both"></div>
                                                                                        <input type="button" onclick="UpdateUnitPrice()" value="Update" class="btn btn-success btn-sm top7 pull-right" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .animated -->
                </div>
                <!-- Default box -->
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
      
        <script src="~/Scripts/jquery.min.js"></script>
        <script type="text/javascript">

            var AllValue = [];
            var AllValue1 = [];
            var AllValue2 = [];
            var AllValue3 = [];
            var AllValue4 = [];
            var unitDetailPriceArray = [];
            var unitPriceParameterArray = [];
            var costValue = 0;

            function UpdateUnitDetails() {

                var TrCount3 = $("#tblSideMargins tr").length;
                var TrCount2 = $("#tblBoundaries tr").length;
                var TrCount1 = $("#ival_UnitParameterMasters tr").length;

                for (var i = 0; i < TrCount1; i++) {

                    AllValue1.push({
                        UnitParameter_ID: $("#ival_UnitParameterMasters tr #value20 input").eq(i).val(),
                        UnitParameter_Name: $("#ival_UnitParameterMasters tr #value14 input").eq(i).val(),
                        UnitParameter_Value: $("#ival_UnitParameterMasters tr #value3 input").eq(i).val(),

                    });
                }
                for (var i = 0; i < TrCount3; i++) {

                    AllValue2.push({
                        Side_Margin_ID: $("#tblSideMargins tr #Side_Margin_IDVal input").eq(i).val(),
                        As_per_Approved: $("#tblSideMargins tr #As_per_ApprovedVal input").eq(i).val(),
                        As_per_MeasurementVal: $("#tblSideMargins tr #As_per_MeasurementVal input").eq(i).val(),
                        Percentage_DeviationVal: $("#tblSideMargins tr #Percentage_DeviationVal input").eq(i).val(),
                        Deviation_Description: $("Deviation_Description").val,

                    });
                }

                for (var i = 0; i < TrCount2; i++) {

                    AllValue3.push({
                        Boundry_ID: $("#tblBoundaries tr #Boundry_IDVal input").eq(i).val(),
                        BoundariesType: $("#tblBoundaries tr #Boundry_NameVal input").eq(i).val(),
                        AsPer_Document: $("#tblBoundaries tr #AsPer_DocumentVal input").eq(i).val(),
                        AsPer_Site: $("#tblBoundaries tr #AsPer_SiteVal input").eq(i).val(),

                    });
                }
                var message = $('textarea#Deviation_DescriptionID').val();


                AllValue.push({
                    PTypeNameId: $("#PropertyTypeDDL").val(),
                    PTypeName: $("#PropertyTypeDDL option:selected").text(),
                    UTypeId: $("#UnitTypeDDL").val(),
                    PTypeName: $("#UnitTypeDDL option:selected").text(),
                    Deviation_Description: $('textarea#Deviation_DescriptionID').val(),
                    Cord_Latitude: $('#Cord_LatitudeId').val(),
                    Cord_Longitude: $('#Cord_LongitudeID').val(),
                    ViewFromUnitID: $("#SelectedViewFromUnitDdl").val(),

                });


                var str = JSON.stringify(AllValue);
                var str1 = JSON.stringify(AllValue1);
                var str2 = JSON.stringify(AllValue2);
                var str3 = JSON.stringify(AllValue3);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateUnitDetailsMaster", "Project")',
                    data: { str: str, str1: str1, str2: str2, str3: str3 },
                    Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            alert(data.message);
                        }
                        else {
                            alert(data.message);
                        }
                    },
                }).done(function () {
             @*var url = '@Url.Action("Index")';
                window.location.href = url;*@
                })
            }

            function UpdateUnitPrice() {

                var TrCount = $("#UpdateUnitPrice tr").length;
                for (var i = 0; i < TrCount; i++) {

                    unitPriceParameterArray.push({
                        UnitPriceParaValue_ID: $("#UpdateUnitPrice tr #unitPriceParId1 input").eq(i).val(),
                        UnitPriceParameter_Name: $("#UpdateUnitPrice tr #unitPriceParId2 input").eq(i).val(),
                        UnitPriceParameter_Value: $("#UpdateUnitPrice tr #unitPriceParVal1 input").eq(i).val(),

                    });
                }

                unitDetailPriceArray.push({
                    unitCost: $("#CostId").val(),
                    CostValueTotal: $("#sum").val(),
                    valuationOfUnit: $('#valuationOfUnitId').val(),
                    StageOfConstruction: $("#StageOfConstructionId").val(),
                    DescriptionofStageOfConstructionId: $("#DescriptionofStageOfConstructionId").val(),
                    workCompleted: $("#workCompletedId").val(),
                    currentValueOfPropertyUnderConstructionUnit: $("#currentValueOfPropertyUnderConstructionUnitId").val(),
                    governmentRateSqMt: $("#governmentRateSqMtId").val(),
                    governmentValueSqMt: $("#governmentValueSqMtId").val(),
                });


                var unitDetailPriceStr = JSON.stringify(unitDetailPriceArray);
                var unitPriceParameterstr = JSON.stringify(unitPriceParameterArray);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateUnitPrice", "Project")',
                    data: { unitDetailPriceStr: unitDetailPriceStr, unitPriceParameterstr: unitPriceParameterstr },
                    Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data) {
                        if (data.success) {
                            alert(data.message);
                        }
                        else {
                            alert(data.message);
                        }
                    },
                }).done(function () {
                    var url = '@Url.Action("Index")';
                    window.location.href = url;
                })
            }
    



        </script>
