﻿@model I_Value.WebApp.Models.ViewModel

@{
    ViewBag.Title = "SavePropertyDetails";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}


<h2>SavePropertyDetails</h2>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Retail valuation - Property details </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 padd0">
                            <div class="card">
                                <div class="card-body card-block">
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Select Property Type </label>
                                                    @Html.DropDownListFor(x => Model.SelectedModellookupprojecttype, new SelectList(Model.ival_LookupCategoryValuesProjecttype, "Lookup_Value", "Lookup_Value"), "Please Select ", htmlAttributes: new { @class = "form-control", id = "ddlprojecttype" })

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Select Type </label>
                                                    @*@Html.DropDownListFor(x => Model.SelectedModellookupprojecttype, new SelectList(Model.ival_LookupCategoryValuesTypeOfUnit, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlselecttype" })*@
                                                    @Html.DropDownListFor(m => m.selectedUnitID, new SelectList(Enumerable.Empty<SelectListItem>(), "Lookup_Value", "Lookup_Value"), "Please Select ", new { @class = "form-control", @id = "ddlselecttype" })

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Select Unit Type</label>
                                                    @Html.DropDownListFor(m => m.selectedUnitID, new SelectList(Enumerable.Empty<SelectListItem>(), "Lookup_Value", "Lookup_Value"), "Please Select ", new { @class = "form-control", @id = "ddlunittype", })



                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Status of property</label>

                                                    @Html.DropDownListFor(x => Model.SelectedModelRetailStatusOfProperty, new SelectList(Model.ival_LookupCategoryValuesRetailStatusOfProperty, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlretailstatusproperty" })

                                                </div>
                                            </div>

                                        </div>
                                        <div style="clear:both"></div>
                                        <div class="col-md-12" id="unitdiv" style="display:none">
                                            <div class="card">
                                                <div class="card-body card-block">

                                                    @*<div class="col-md-12" style="margin-bottom:10px;"> <span style="font-size:10px; color:#999999;">Note: show following ForResidential - Flat / Duplex flat / Penthouse / Garden Flat, For Commercial - Office / GF Road Front Shop / GF inside Shop / Basement Shop / FF Shop / SF Shop / Restaurant, For Industrial - Industrial Gala – upper Floor / GF Industrial Gala / GF ware house / Upper Floor Ware House / Basement Gala</span> </div>*@
                                                    <div class="col-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">Unit Number:</label>

                                                            @Html.EditorFor(model => model.ival_ProjectMasterRetailProperties.UnitNumber, new { htmlAttributes = new { @class = "form-control", id = "txtunitnumber" } })

                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">Survey Number  :</label>
                                                            @Html.EditorFor(model => model.ival_ProjectMasterRetailProperties.Survey_Number, new { htmlAttributes = new { @class = "form-control", id = "txtsureyno" } })

                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">Village Name   :</label>
                                                            @Html.EditorFor(model => model.ival_ProjectMasterRetailProperties.Village_Name, new { htmlAttributes = new { @class = "form-control", id = "txtvillagename" } })
                                                        </div>
                                                    </div>








                                                    <div style="clear:both"></div>

                                                    <input type="button" value="Search" class="btn btn-success btn-sm pull-right" id="btnunitnumbersrc" style="margin-left:20px;" />
                                                    <a class="btn btn-success btn-sm pull-right" id="btnunitadd" onclick="RedirectValuesflat()">Add New</a>


                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12" id="plotdiv" style="display:none">
                                            <div class="card">
                                                <div class="card-body card-block">
                                                    @*<div class="col-md-12" style="margin-bottom:10px;"> <span style="font-size:10px; color:#999999;">Note: show following for Residential - Plot / Bungalow / Row House / Twin Bungalow, For Commercial - Plot / Standalone Building/ Shopping Complex/ Mall& For Industrial Plot, Industry & Ware House, For Agricultural - Agricultural Land / Marriage Hall / Farm house / Built Unit </span> </div>*@

                                                    <div class="col-12 col-md-4">
                                                        <div class="form-group">
                                                            @*<label for="company" class=" form-control-label">Plot / Bungalow Number  :</label>
                                        @Html.EditorFor(model => model.ival_ProjectMasterRetailProperties.PlotBunglowNumber, new { htmlAttributes = new { @class = "form-control", id = "txtplotorbungalows" } })*@
                                                            <label for="company" id="lblplot" class=" form-control-label">Plot Number  :</label>
                                                            <label for="company" id="lblBunalow" class=" form-control-label">Bungalow Number  :</label>
                                                            @Html.EditorFor(model => model.ival_ProjectMasterRetailProperties.PlotBunglowNumber, new { htmlAttributes = new { @class = "form-control", id = "txtplotorbungalows", @Value = ViewBag.PlotBunglowNumber, @maxlength = "100" } })
                                                            @Html.EditorFor(model => model.ival_ProjectMasterRetailProperties.PlotBunglowNumber, new { htmlAttributes = new { @class = "form-control", id = "txtbungalows", @Value = ViewBag.PlotBunglowNumber, @maxlength = "100" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">Survey Number  :</label>
                                                            @Html.EditorFor(model => model.ival_ProjectMasterRetailProperties.Survey_Number, new { htmlAttributes = new { @class = "form-control", id = "txtsureynosingle" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">Village Name   :</label>
                                                            @Html.EditorFor(model => model.ival_ProjectMasterRetailProperties.Village_Name, new { htmlAttributes = new { @class = "form-control", id = "txtvillagenamesingle" } })
                                                        </div>
                                                    </div>


                                                    <div style="clear:both"></div>


                                                    <input type="button"  value="Search" class="btn btn-success btn-sm  pull-right" id="btnplot" style="margin-left:20px;" />


                                                    @*<a href="@Url.Action("RetailLandMarkDetails", "Project")" class="btn btn-success btn-sm pull-right" id="btnaddplot">Add New</a>*@
                                                    <a class="btn btn-success btn-sm pull-right" id="btnaddplot" onclick="RedirectValuesplot()">Add New</a>


                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="card" style="display:none" id="plotsearch">
                                <div class="card-body">
                                    @*<div style="margin-bottom:10px;"> <span style="font-size:12px; color:#999999;">Note: show following table if request is new and system shall check the matching for Unit No, Project, Building & Wing names combination within Pincode, &City, fully or partly matching properties can be displayed, choice shall be given to import the property </span> </div>*@
                                    <div class="table-responsive" id="divid">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="36">&nbsp;</th>
                                                    <th width="84">Sr  No.</th>
                                                    <th width="158">Plot Number</th>
                                                    <th width="158">Survey Number</th>
                                                    <th width="158">Village Name </th>
                                                    <th width="158">City</th>
                                                    <th width="158">State</th>
                                                    <th width="158">Pincode</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tdata">
                                                <tr></tr>
                                            </tbody>
                                        </table>


                                        <a href="retail-project-master-details.html" class="btn btn-success btn-sm pull-right">next</a>
                                    </div>

                                </div>
                            </div>

                            <div class="card" style="display:none" id="Bungalowsearch">
                                <div class="card-body">
                                    @*<div style="margin-bottom:10px;"> <span style="font-size:12px; color:#999999;">Note: show following table if request is new and system shall check the matching for Unit No, Project, Building & Wing names combination within Pincode, &City, fully or partly matching properties can be displayed, choice shall be given to import the property </span> </div>*@
                                    <div class="table-responsive" id="divid">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="36">&nbsp;</th>
                                                    <th width="84">Sr  No.</th>
                                                    <th width="158">Bungalow Number</th>
                                                    <th width="158">Survey Number</th>
                                                    <th width="158">Village Name </th>
                                                    <th width="158">City</th>
                                                    <th width="158">State</th>
                                                    <th width="158">Pincode</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tdata1">
                                                <tr></tr>
                                            </tbody>
                                        </table>


                                        <a href="retail-project-master-details.html" class="btn btn-success btn-sm pull-right">next</a>
                                    </div>

                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body" style="display:none" id="divmultiunit">
                                    @*<div style="margin-bottom:10px;"> <span style="font-size:12px; color:#999999;">Note: show following table if request is new and system shall check the matching for Unit No, Project, Building & Wing names combination within Pincode, &City, fully or partly matching properties can be displayed, choice shall be given to import the property </span> </div>*@
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="36">&nbsp;</th>
                                                    <th width="84">Sr  No.</th>
                                                    <th width="158">Unit Number</th>
                                                    <th width="158">Survey Number</th>
                                                    <th width="158">Village Name </th>
                                                    <th width="158">City</th>
                                                    <th width="158">State</th>
                                                    <th width="158">Pincode</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbodysingledata">
                                                <tr></tr>

                                            </tbody>
                                        </table>


                                        <a href="retail-project-master-details.html" class="btn btn-success btn-sm pull-right">next</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- .animated -->
            </div>
            <!-- .animated -->
        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script src="~/Scripts/jquery.min.js"></script>

<script type="text/javascript">
    var AllValue = [];
    function Submitform() {

        AllValue.push({
            ddlprojecttype: $("#ddlprojecttype").val(),
            ddlunittype: $("#ddlunittype").val(),
            ddlretailstatusproperty: $("#ddlretailstatusproperty").val(),
            txtunitnumber: $("#txtunitnumber").val(),
            txtplotorbungalows: $("#txtplotorbungalows").val(),
            txtprojectname: $("#txtprojectname").val(),
            txtbuildingnameri: $("#txtbuildingnameri").val(),
            txtwingnameri: $("#txtwingnameri").val(),
            txtsureyno: $("#txtsureyno").val(),
            txtvillagename: $("#txtvillagename").val(),
            txtstreet: $("#txtstreet").val(),
            txtLocality: $("#txtLocality").val(),
            txtSubLocality: $("#txtSubLocality").val(),
            txtCity: $("#txtCity").val(),
            txtDistrict: $("#txtDistrict").val(),
            ddlstatemaster: $("#ddlstatemaster").val(),
            ddlpincodemaster: $("#ddlpincodemaster").val(),
            });

        var str = JSON.stringify(AllValue);
        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SaveAllRetailPropertyDetails", "Project")',
                            data: { str: str},
                            Response: ContentType = 'application/json;charset=utf-8',
                            success: function (data) {
                                 var url = '@Url.Action("Index")';
                                window.location.href = url;
                            },
        });

    }


   
    //This Is code is working for Single and Multi unit.

     $("#ddlprojecttype").change(function () {
         var Lookup_Id = document.getElementById('ddlprojecttype').value

        $.ajax({

            url:'@Url.Action("GetTypeOfIdbyPropertyId", "Project")',
            data: { Lookup_Id: Lookup_Id },
            dataType: "json",
            type: "POST",
            success: function (data) {
                console.log(data);
                var obj = JSON.parse(data);
                $("#ddlselecttype").html("");
                $("#ddlselecttype").html("<option id=''>Please Select</option>")
                $("#ddlunittype").html("");
                $("#ddlunittype").html("<option id=''>Please Select</option>")
                $("#ddlselecttype").html("");
                $("#ddlselecttype").html("<option id=''>Please Select</option>")
				

                 $(obj).each(function(index,value){
                     $("#ddlselecttype").append(
                         $('<option></option>').val(value.Lookup_Value).html(value.Lookup_Value));
                 })
            }
        });
    });

    //Select Unit type onchange of select type.
    $("#ddlselecttype").change(function () {
        var Type_Id = document.getElementById('ddlselecttype').value
        var Lookup_ID = $('#ddlprojecttype option:selected').val();

        $.ajax({
            url: '@Url.Action("GetUnitTypeByProperty_IdAndSelectType", "Project")',
            data: { Lookup_ID: Lookup_ID,Type_Id: Type_Id},
            dataType: "json",
            type: "POST",
            success: function (data) {

                console.log(data);
                var obj = JSON.parse(data);
                $("#ddlunittype").html("");
                $("#ddlunittype").html("<option id=''>Please Select </option>")

                 $(obj).each(function(index,value){
                     $("#ddlunittype").append(
                    $('<option></option>').val(value.Lookup_Value).html(value.Lookup_Value));
                 })
            }
        });
    });


    //For div show and hide .

    $("#ddlunittype").change(function () {
        var ViewFromUnit = $("#ddlunittype option:selected").text();
        //alert(ViewFromUnit);
        if (ViewFromUnit == "Flat" || ViewFromUnit == "Duplex flat" || ViewFromUnit == "Penthouse" || ViewFromUnit == "Garden Flat" || ViewFromUnit == "Office" || ViewFromUnit == "GF Road Front Shop" || ViewFromUnit == "GF Inside Shop" || ViewFromUnit == "Basement Shop" || ViewFromUnit == "FF Shop" || ViewFromUnit == "SF Shop" || ViewFromUnit == "Restaurant" || ViewFromUnit == 'Industrial Gala Upper Floor' || ViewFromUnit == "GF Industrial Gala" || ViewFromUnit == "GF WareHouse" || ViewFromUnit == "Upper Floor WareHouse" || ViewFromUnit == "Basement Gala")
        {
            $("#unitdiv").show("slow");
            $("#plotdiv").hide("slow");

        }
        else if (ViewFromUnit == "Plot" || ViewFromUnit == "Agricultural Land") {
            $("#plotdiv").show("slow");
            $("#unitdiv").hide("slow");
            document.getElementById('lblBunalow').style.display = "none";
            document.getElementById('txtbungalows').style.display = "none";

        }
        else if (ViewFromUnit == 'Bungalow' || ViewFromUnit == 'Twin Bungalow' || ViewFromUnit == 'Standalone Building' || ViewFromUnit == 'Shopping Complex' || ViewFromUnit == 'Mall' || ViewFromUnit == 'Industry' || ViewFromUnit == 'Land' || ViewFromUnit == 'Marriage Hall' || ViewFromUnit == 'Farm house' || ViewFromUnit == 'Built Unit' || ViewFromUnit == 'Office Building' || ViewFromUnit == 'Factory' || ViewFromUnit == 'WorkShop' || ViewFromUnit == 'Row House' || ViewFromUnit == 'WareHouse' || ViewFromUnit == 'Industry' || ViewFromUnit == 'Workshop' || ViewFromUnit == "Industrial Unit") {
            $("#plotdiv").show("slow");
            $("#unitdiv").hide("slow");
            document.getElementById('lblplot').style.display = "none";
            document.getElementById('txtplotorbungalows').style.display = "none";
        }
    });


    $("#btnplot").click(function () {
        var PlotNumber = $("#txtplotorbungalows").val();
        var Village_Name = $("#txtvillagenamesingle").val();
        var Survey_Number = $("#txtsureynosingle").val();
        var BungalowNumber = $("#txtbungalows").val();
        //alert(PlotBunglowNumber);
        if (BungalowNumber == "") {
        $.ajax({
            
           
              url: '@Url.Action("GetSearchRetailByPlot", "Project")',

            data: { PlotNumber: PlotNumber, Village_Name: Village_Name, Survey_Number: Survey_Number},
            dataType: "json",
            type: "POST",
            success: function (data) {
                console.log(data);
                var obj = JSON.parse(data);
                var Unitlist = obj;
                //alert(Unitlist.length);

                if (Unitlist.length >= 1) {
                    $("#plotsearch").show("slow");
                    for (var i = 0; i < Unitlist.length; i++) {
                        $("#tdata").append("<tr>" +

                            " <td>" + '<input type="radio" id="Project_ID' + [i] + '" name="Project_ID" value=' + Unitlist[i].Project_ID + ' onchange=getselectedradiobtn(' + Unitlist[i].Project_ID + ') />'+"</td>"+
                            "<td>" + Unitlist[i].Project_ID + "</td>" +
                            "<td>" + Unitlist[i].PlotNumber + "</td>" +
                            "<td>" + Unitlist[i].Survey_Number + "</td>" +
                            "<td>" + Unitlist[i].Village_Name + "</td>" +
                            "<td>" + Unitlist[i].City + "</td>" +
                            "<td>" + Unitlist[i].State + "</td>" +
                            "<td>" + Unitlist[i].PinCode + "</td>"

                            + "</tr>");
                    }
                }
                else {
                    $("#plotsearch").hide("slow");
                    alert("No Records Found")
                   
                }
            },
            });
        }

   
        else if (PlotNumber== "") {
        $.ajax({

            url: '@Url.Action("GetSearchRetailByBungalow", "Project")',
            data: { BungalowNumber: BungalowNumber, Village_Name: Village_Name, Survey_Number: Survey_Number },
            dataType: "json",
            type: "POST",
            success: function (data) {
                console.log(data);
                var obj1 = JSON.parse(data);
                var Unitlist1 = obj1;
               alert(Unitlist1.length);

                if (Unitlist1.length >= 1) {
                    $("#Bungalowsearch").show("slow");
                    for (var i = 0; i < Unitlist1.length; i++) {
                        $("#tdata1").append("<tr>" +

                            " <td>" + '<input type="radio" id="Project_ID' + [i] + '" name="Project_ID" value=' + Unitlist1[i].Project_ID + ' onchange=getselectedradiobtn(' + Unitlist1[i].Project_ID + ') />' + "</td>" +
                            "<td>" + Unitlist1[i].Project_ID + "</td>" +
                            "<td>" + Unitlist1[i].BunglowNumber + "</td>" +
                            "<td>" + Unitlist1[i].Survey_Number + "</td>" +
                            "<td>" + Unitlist1[i].Village_Name + "</td>" +
                            "<td>" + Unitlist1[i].City + "</td>" +
                            "<td>" + Unitlist1[i].State + "</td>" +
                            "<td>" + Unitlist1[i].PinCode + "</td>"

                            + "</tr>");
                    }
                }
                else {
                    $("#Bungalowsearch").hide("slow");
                    alert("No Records Found")
                    //$("#tdata").append("No Records Found")

                }
            },
        });
        }
    });
    @*else {
 $.ajax({

            url: '@Url.Action("GetSearchRetailBySurvey_Number", "Project")',
     data: { Survey_Number: Survey_Number },
            dataType: "json",
            type: "POST",
            success: function (data) {
                console.log(data);
                var obj = JSON.parse(data);
                var Unitlist = obj;
                //alert(Unitlist.length);

                if (Unitlist.length >= 1) {
                    $("#plotsearch").show("slow");
                    for (var i = 0; i < Unitlist.length; i++) {
                        $("#tdata").append("<tr>" +

                            " <td>" + '<input type="radio" id="Project_ID' + [i] + '" name="Project_ID" value=' + Unitlist[i].Project_ID + ' onchange=getselectedradiobtn(' + Unitlist[i].Project_ID + ') />' + "</td>" +
                            "<td>" + Unitlist[i].Project_ID + "</td>" +
                            "<td>" + Unitlist[i].PlotBunglowNumber + "</td>" +
                            "<td>" + Unitlist[i].Survey_Number + "</td>" +
                            "<td>" + Unitlist[i].Village_Name + "</td>" +
                            "<td>" + Unitlist[i].City + "</td>" +
                            "<td>" + Unitlist[i].State + "</td>" +
                            "<td>" + Unitlist[i].PinCode + "</td>"

                            + "</tr>");
                    }
                }
                else {
                    $("#plotsearch").hide("slow");
                    alert("No Records Found")
                    //$("#tdata").append("No Records Found")

                }
            },
        });
    }*@
   

    $("#btnunitnumbersrc").click(function () {
        var UnitNumber = $("#txtunitnumber").val();
        var Village_Name = $("#txtvillagename").val();
        var Survey_Number = $("#txtsureyno").val();
       
        if (UnitNumber != null) {
            $.ajax({
                url: '@Url.Action("GetSearchRetailByUnitNumber", "Project")',
                       
                        data: {
                            UnitNumber: UnitNumber
                        },
                        dataType: "Json",
                        type: "POST",
                        success: function (data) {
                            console.log(data);
                            var obj = JSON.parse(data);
                            var SingleTypeDetailsList = obj;
                            alert(SingleTypeDetailsList.length)
                            if (SingleTypeDetailsList.length >= 1) {
                                $("#divmultiunit").show();
                                for (var i = 0; i < SingleTypeDetailsList.length; i++) {
                                    $("#tbodysingledata").append("<tr>" +
                                        " <td>" + '<input type="radio" id="Project_ID' + [i] + '" name="Project_ID" value=' + SingleTypeDetailsList[i].Project_ID + ' onchange=getselectedradiobtn(' + SingleTypeDetailsList[i].Project_ID + ') />' + "</td>" +
                                        "<td>" + SingleTypeDetailsList[i].Project_ID + "</td>" +

                                        "<td>" + SingleTypeDetailsList[i].UnitNumber + "</td>" +
                                        "<td>" + SingleTypeDetailsList[i].Survey_Number + "</td>" +
                                        //"<td>" + SingleTypeDetailsList[i].Project_Name + "</td>" +
                                        //"<td>" + SingleTypeDetailsList[i].Building_Name_RI + "</td>" +
                                        //"<td>" + SingleTypeDetailsList[i].Wing_Name_RI + "</td>" +
                                        "<td>" + SingleTypeDetailsList[i].Village_Name + "</td>" +
                                        "<td>" + SingleTypeDetailsList[i].City + "</td>" +
                                        "<td>" + SingleTypeDetailsList[i].State + "</td>" +
                                        "<td>" + SingleTypeDetailsList[i].PinCode + "</td>" +

                                        "</tr>");
                                }
                            }
                            else {
                                $("#divmultiunit").hide();
                            }
                        },
                    });
                
            }
        else if (Village_Name != null) {
            $.ajax({
                url: '@Url.Action("GetSearchRetailByVillage_Name", "Project")',

                data: {
                    Village_Name: Village_Name
                },
                dataType: "Json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    var SingleTypeDetailsList = obj;
                    alert(SingleTypeDetailsList.length)
                    if (SingleTypeDetailsList.length >= 1) {
                        $("#divmultiunit").show();
                        for (var i = 0; i < SingleTypeDetailsList.length; i++) {
                            $("#tbodysingledata").append("<tr>" +
                                " <td>" + '<input type="radio" id="Project_ID' + [i] + '" name="Project_ID" value=' + SingleTypeDetailsList[i].Project_ID + ' onchange=getselectedradiobtn(' + SingleTypeDetailsList[i].Project_ID + ') />' + "</td>" +
                                "<td>" + SingleTypeDetailsList[i].Project_ID + "</td>" +

                                "<td>" + SingleTypeDetailsList[i].UnitNumber + "</td>" +
                                "<td>" + SingleTypeDetailsList[i].Survey_Number + "</td>" +
                                //"<td>" + SingleTypeDetailsList[i].Project_Name + "</td>" +
                                //"<td>" + SingleTypeDetailsList[i].Building_Name_RI + "</td>" +
                                //"<td>" + SingleTypeDetailsList[i].Wing_Name_RI + "</td>" +
                                "<td>" + SingleTypeDetailsList[i].Village_Name + "</td>" +
                                "<td>" + SingleTypeDetailsList[i].City + "</td>" +
                                "<td>" + SingleTypeDetailsList[i].State + "</td>" +
                                "<td>" + SingleTypeDetailsList[i].PinCode + "</td>" +

                                "</tr>");
                        }
                    }
                    else {
                        $("#divmultiunit").hide();
                    }
                },
            });

        }
        else {
            $.ajax({
                url: '@Url.Action("GetSearchRetailBySurvey_Number", "Project")',

                data: {
                    Survey_Number: Survey_Number
                },
                dataType: "Json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    var SingleTypeDetailsList = obj;
                    alert(SingleTypeDetailsList.length)
                    if (SingleTypeDetailsList.length >= 1) {
                        $("#divmultiunit").show();
                        for (var i = 0; i < SingleTypeDetailsList.length; i++) {
                            $("#tbodysingledata").append("<tr>" +
                                " <td>" + '<input type="radio" id="Project_ID' + [i] + '" name="Project_ID" value=' + SingleTypeDetailsList[i].Project_ID + ' onchange=getselectedradiobtn(' + SingleTypeDetailsList[i].Project_ID + ') />' + "</td>" +
                                "<td>" + SingleTypeDetailsList[i].Project_ID + "</td>" +

                                "<td>" + SingleTypeDetailsList[i].UnitNumber + "</td>" +
                                "<td>" + SingleTypeDetailsList[i].Survey_Number + "</td>" +
                                //"<td>" + SingleTypeDetailsList[i].Project_Name + "</td>" +
                                //"<td>" + SingleTypeDetailsList[i].Building_Name_RI + "</td>" +
                                //"<td>" + SingleTypeDetailsList[i].Wing_Name_RI + "</td>" +
                                "<td>" + SingleTypeDetailsList[i].Village_Name + "</td>" +
                                "<td>" + SingleTypeDetailsList[i].City + "</td>" +
                                "<td>" + SingleTypeDetailsList[i].State + "</td>" +
                                "<td>" + SingleTypeDetailsList[i].PinCode + "</td>" +

                                "</tr>");
                        }
                    }
                    else {
                        $("#divmultiunit").hide();
                    }
                },
            });

        }
    });
   

    var Project_ID = "";
    var AllValue = [];
    function getselectedradiobtn(i) {
        var Project_ID = i;
       
        
        $.ajax({

                            type: "POST",
                            url: '@Url.Action("GetRetailPropDetailsByProjectId", "Project")',
             data: { Project_ID: Project_ID},
                            Response: ContentType = 'application/json;charset=utf-8',
                            success: function (data) {
                                var url = '@Url.Action("RetailLandMarkDetails")';
                                window.location.href = url;
                            },
        });
        

    }
  

      var AllValue = [];
     function RedirectValuesplot() {


            AllValue.push({
                ddlprojecttype: $("#ddlprojecttype option:selected").text(),
                ddlselecttype: $("#ddlselecttype option:selected").text(),
                ddlunittype: $("#ddlunittype option:selected").text(),
                ddlretailstatusproperty: $("#ddlretailstatusproperty option:selected").text(),
                txtplotorbungalows: $("#txtplotorbungalows").val(),
                txtsureynosingle: $("#txtsureynosingle").val(),
                txtvillagenamesingle: $("#txtvillagenamesingle").val(),
              
                });

        var str = JSON.stringify(AllValue);

        $.ajax({
                            type: "POST",
                            url: '@Url.Action("PropertyDetails", "Project")',
                            data: { str: str},
                            Response: ContentType = 'application/json;charset=utf-8',
                            success: function (data) {
                                var url = '@Url.Action("RetailLandMarkDetails")';
                                window.location.href = url;
                            },
                        });
    }

     var AllValue = [];
     function RedirectValuesflat() {


            AllValue.push({
                ddlprojecttype: $("#ddlprojecttype option:selected").text(),
                ddlselecttype: $("#ddlselecttype option:selected").text(),
                ddlunittype: $("#ddlunittype option:selected").text(),
                ddlretailstatusproperty: $("#ddlretailstatusproperty option:selected").text(),
                txtunitnumber: $("#txtunitnumber").val(),
                txtsureyno: $("#txtsureyno").val(),
                txtvillagename: $("#txtvillagename").val(),
                
                });

        var str = JSON.stringify(AllValue);

        $.ajax({
                            type: "POST",
                            url: '@Url.Action("RetailPropertyDetails", "Project")',
                            data: { str: str},
                            Response: ContentType = 'application/json;charset=utf-8',
                            success: function (data) {
                                var url = '@Url.Action("RetailLandMarkDetails")';
                                window.location.href = url;
                            },
                        });
    }
   
</script>
