﻿@*@model IValuePublishProject.Models.ival_ClientAndBranchMasterNew*@
@*@model IEnumerable<IValuePublishProject.Models.ival_ClientAndBranchMasterNew>*@
@model I_Value.WebApp.Models.VMClientAndBranchMasterNew
@{
    ViewBag.Title = "AddClientNew";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $("#phone").keydown(function (event) {
        k = event.which;
        if ((k >= 96 && k <= 105) || k == 8) {
            if ($(this).val().length == 10) {
                if (k == 8) {
                    return true;
                }
                else {
                    event.preventDefault();
                    return false;

                }
            }

        } else {
            event.preventDefault();
            return false;
        }


    });
</script>
<script>
    function AvoidSpace(event) {
        var k = event ? event.which : window.event.keyCode;
        if (k == 32) return false;

    }
</script>
<script>
    function AvoidSpace1(event) {
        var k = event ? event.which : window.event.keyCode;
        if (k == 32) return false;
        if (k != 46 && k > 31 && (k < 48 || k > 57))
            return false;
    }
</script>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="padding-left:10px;">Add Client & Branch Details </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 padd0">
                            <div class="card">
                                <div class="card-body card-block">

                                    <div class="row">
                                        <div class="col-12"> </div>
                                        <div class="col-12 col-md-12">
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Client Name</label>
                                                    @Html.DropDownListFor(m => m.SelectedClientID, new SelectList(Model.ival_ClientList, "Client_ID", "Client_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedClientID", onchange = "ClearMsgClient()" })
                                                    <span id="spClient" asp-validation-for="state" class="text-danger"></span>
                                                    @* <select class="form-control">
                    <option value="" label="select"></option>
                    <option>Maharashtra Bank</option>
                    <option>Icici Bank</option>
                </select>*@
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label"> Branch Name </label>
                                                    @Html.EditorFor(model => model.Branch_Name, new { htmlAttributes = new { @class = "form-control", id = "BrName", onchange = "ClearMsgBrname()", @Maxlength = "50" } })
                                                    <span id="spBrname" asp-validation-for="dist" class="text-danger"></span>
                                                    @* <input type="text" id="brName" class="form-control">*@
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 1 </label>
                                                    @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control", id = "Addr1", onchange = "ClearMsgAddr1()", @Maxlength = "50" } })
                                                    <span id="spAddr1" asp-validation-for="dist" class="text-danger"></span>
                                                    @*<input type="text" id="Addr1" class="form-control">*@
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="city" class=" form-control-label">Address 2</label>
                                                    @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control", id = "Addr2", @Maxlength = "50" } })
                                                    <span id="spBankname" asp-validation-for="dist" class="text-danger"></span>
                                                    @*<input type="text" id="Addr2" class="form-control">*@
                                                </div>
                                            </div>

                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">State </label>
                                                    @Html.DropDownListFor(m => m.SelectedStateID, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedClientStateID", onchange = "ClearMsgState()" })
                                                    <span id="spState" asp-validation-for="state" class="text-danger"></span>
                                                    @*<select name="" class="form-control">
                    <option>Select</option>
                    <option>Maharashtra</option>
                    <option>Karnataka</option>
                    <option>Madhya Pradesh</option>
                </select>*@

                                                </div>
                                            </div>

                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">District </label>
                                                    @Html.DropDownListFor(m => m.SelectedDistID, new SelectList(Enumerable.Empty<SelectListItem>(), "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedClientDistID", onchange = "ClearMsgDist()" })
                                                    <span id="spDist" asp-validation-for="state" class="text-danger"></span>
                                                    @*<input type="text" id="company" class="form-control">*@
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City </label>
                                                    @Html.DropDownListFor(m => m.SelectedCityID, new SelectList(Enumerable.Empty<SelectListItem>(), "City_ID", "City_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedClientCityID", onchange = "ClearMsgCity()" })
                                                    <span id="spCity" asp-validation-for="state" class="text-danger"></span>
                                                    @*<input type="text" id="company" class="form-control">*@
                                                </div>
                                            </div>

                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Locality </label>
                                                    @Html.DropDownListFor(m => m.SelectedLocID, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedClientLocID", onchange = "ClearMsgLoc()" })
                                                    <span id="spLoc" asp-validation-for="state" class="text-danger"></span>
                                                    @*<input type="text" id="company" class="form-control">*@
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label"> PinCode </label>
                                                    @Html.DropDownListFor(m => m.SelectedBranchPincode, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Pin_code"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedClientPincode", onchange = "ClearMsgPin()" })
                                                    <span id="spPin" asp-validation-for="state" class="text-danger"></span>
                                                    @*<select name="" class="form-control">
                    <option>Select</option>
                    <option>410251</option>
                    <option>421058</option>
                    <option>421508</option>
                </select>*@

                                                </div>

                                            </div>

                                            <div style="clear:both"></div>
                                            <hr />
                                            <h4>Department Contact details</h4>
                                            <br/>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Department </label>
                                                    @Html.DropDownListFor(m => m.SelectedDeptID, new SelectList(Model.ival_DepartmentList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedDeptID", onchange = "ClearMsgDept()" })
                                                    <span id="spDept" asp-validation-for="state" class="text-danger"></span>
                                                    @*<select name="" class="form-control">
                    <option>Home Loan</option>
                    <option>LAP</option>
                </select>*@
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Contact Name </label>
                                                    @Html.EditorFor(model => model.Contact_Name, new { htmlAttributes = new { @class = "form-control", id = "Contact_Name", onchange = "ClearMsgCName()", @Maxlength = "50" } })
                                                    <span id="spCname" asp-validation-for="dist" class="text-danger"></span>
                                                    @*<input type="text" id="company" class="form-control">*@
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Contact Number </label>
                                                    @*@Html.EditorFor(model => model.Contact_No, new { htmlAttributes = new { @class = "form-control", id = "Contact_No", @Maxlength = "10", onblur = "ValidateMobile()" } })*@
                                                    <input type="text" id="Contact_No" name="phone" placeholder="Contact No..." maxlength="10" class="form-control" onkeypress="return AvoidSpace1(event)">

                                                    <span id="spCno" asp-validation-for="dist" class="text-danger"></span>
                                                    @*<input type="text" id="company" class="form-control">*@
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Designation </label>
                                                    @Html.DropDownListFor(m => m.Client_Desgn, new SelectList(Model.ival_Des, "Lookup_Value", "Lookup_Value"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "Client_Desgn" })

                                                    @*@Html.EditorFor(model => model.Client_Desgn, new { htmlAttributes = new { @class = "form-control", id = "Client_Desgn", onchange = "ClearMsgDesgn()", @Maxlength = "50" } })*@
                                                    <span id="spDesgn" asp-validation-for="dist" class="text-danger"></span>
                                                    @*<input type="text" id="company" class="form-control">*@
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Email Id </label>
                                                    @Html.EditorFor(model => model.Client_Email, new { htmlAttributes = new { @class = "form-control", id = "Client_Email", onblur = "ValidateEmailBanks()" } })
                                                    <span id="spEmail" asp-validation-for="dist" class="text-danger"></span>
                                                    @*<input type="text" id="company" class="form-control">*@
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                @*<button type="button" onclick="AddNewBranch();" class="btn btn-success btn-sm pull-left">Add</button>*@
                                                @* <a class="btn btn-success btn-sm pull-left top20" href="#">Add</a>*@
                                            </div>
                                            <div class="col-md-12">
                                                <button type="button" value="Add" onclick="ShowTableDetails();" class="btn btn-success btn-sm pull-right">Add</button>
                                                <br />

                                                <div class="table-responsive">
                                                    <table class="table table-striped table-bordered">
                                                        <br />
                                                        <thead>
                                                            <tr>
                                                                <th width="100">Sr No</th>
                                                                <th width="80">Department</th>
                                                                <th width="122">Contact name</th>
                                                                <th width="111">Contact Number</th>
                                                                <th width="105">Designation</th>
                                                                <th width="99">Email id</th>
                                                                <th width="51">Delete</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody id="idDeptTbody">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                            <h4>Department Fees</h4>
                                            <br/>
                                            <div class="col-6 col-md-4">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="city" class=" form-control-label">Basic Fees</label>
                                                        @Html.EditorFor(model => model.Basic_Fees, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", @type = "number", id = "Basic_FeesID", onkeyup = "sum();", onchange = "ClearMsgBfees()" } })
                                                        <span id="spBfees" asp-validation-for="dist" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4" style="display:none;">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="city" class=" form-control-label">Additional Fees </label>
                                                        @Html.EditorFor(model => model.Additional_Fees, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", @type = "number", id = "Additional_FeesID", onkeyup = "sum();", onchange = "ClearMsgAfees()" } })
                                                        <span id="spAfees" asp-validation-for="dist" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4" style="display:none;">
                                                <div class="form-group">
                                                    <label for="city" class=" form-control-label">Out of Geo Fees</label>
                                                    @Html.EditorFor(model => model.OutofGeo_Fees, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", @type = "number", id = "OutofGeo_FeesID", onkeyup = "sum();", onchange = "ClearMsgOutfees()" } })
                                                    <span id="spOGfees" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label for="city" class=" form-control-label">Total Fees</label>
                                                        @Html.EditorFor(model => model.Total_Fees, new { htmlAttributes = new { @class = "form-control", id = "Total_FeesID", @readonly = true } })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <button type="button" value="Submit" onclick="AddNewBranch();" class="btn btn-success btn-sm pull-right">Submit</button>
                                    <button type="button" class="btn btn-secondary btn-sm pull-right margin-r-5" data-dismiss="modal" onclick="BackToMain();">Cancel</button>
                                    @* <a class="btn btn-success btn-sm pull-right" href="bank-and-branch-master.html">Submit</a>*@

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- .animated -->
            </div>
        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="~/Scripts/jquery.min.js"></script>
<script>

    function DeleteRow(row) {
        $("#RowDelete").remove();
    }

    var Deptdetails = [];
    function ShowTableDetails() {
        var Dept_Id = $("#SelectedDeptID").val();
        var Desgn = $("#Client_Desgn").val();
        var Dept = $("#SelectedDeptID option:selected").val();
        var Name = $("#Contact_Name").val();
        var No = $("#Contact_No").val();
        var Email = $("#Client_Email").val();

        if (Desgn == "" || Name == ""|| Dept == "Please Select") {

            if (Desgn == "" && Name == "" && Dept == "Please Select") {
                $("#spDesgn").html("Please Enter Designation");
                $("#spDesgn").css("display", "block");
                $("#spDept").html("Please Select Department");
                $("#spDept").css("display", "block");
                $("#spCname").html("Please Enter Name");
                $("#spCname").css("display", "block");
                @*$("#spCno").html("Please Enter Phone No");
                $("#spCno").css("display", "block");
                $("#spEmail").html("Please Enter Email");
                $("#spEmail").css("display", "block");*@

            }
            if (Desgn == "") {
                $("#spDesgn").html("Please Enter Designation");
                $("#spDesgn").css("display", "block");

                return false;
            }
            if (Name == "") {
                $("#spCname").html("Please Enter Name");
                $("#spCname").css("display", "block");

                return false;
            }
           @* if (No == "") {
                $("#spCno").html("Please Enter Phone No");
                $("#spCno").css("display", "block");
                return false;
            }

            if (Email == "") {
                $("#spEmail").html("Please Enter Email");
                $("#spEmail").css("display", "block");

                return false;
            }*@

            if (Dept == "Please Select") {
                $("#spDept").html("Please Select Department");
                $("#spDept").css("display", "block");
                return false;
            }

        }

        else {


            var trHTML = "";

            var listTrCount = $("#idDeptTbody tr").length;
            trHTML += '<tr id="RowDelete">';
            trHTML += '<td width="210">' + (listTrCount + 1) + '</td>';
            trHTML += '<td width="210" style="display:none">' + $("#SelectedClientID").val() + '</td>';
            trHTML += '<td width="210" style="display:none" id="Dept_Id">' + $("#SelectedDeptID").val() + '</td>';
            trHTML += '<td width="210" id="Dept">' + $("#SelectedDeptID option:selected").text() + '</td>';
            trHTML += '<td width="202" id="Name">' + $("#Contact_Name").val() + '</td>';
            trHTML += '<td width="210" id="Num">' + $("#Contact_No").val() + '</td>';
            trHTML += '<td width="202" id="Desgn">' + $("#Client_Desgn").val() + '</td>';
            trHTML += '<td width="210" id="Email">' + $("#Client_Email").val() + '</td>';
            trHTML += '<td><i class="fa fa-trash" aria-hidden="true" onclick="DeleteRow(\'' + this.RowDelete + '\')"></i></td>';
            trHTML += '</tr>';

            $('#idDeptTbody').append(trHTML);

            $("#SelectedDeptID").val("");
            $("#Contact_Name").val("");
            $("#Contact_No").val("");
            $("#Client_Desgn").val("");
            $("#Client_Email").val("");

        }

    }

</script>
<script>
            var list = [];
    var Branchdetails = [];
    function AddNewBranch() {
        var Client = $("#SelectedClientID").val();
        var BrName = $("#BrName").val();
        var Addr1 = $("#Addr1").val();
        var State = $("#SelectedClientStateID option:selected").text();
        var Loc = $("#SelectedClientLocID option:selected").text();
        var Basic = $("#Basic_FeesID").val();
        var Add = $("#Additional_FeesID").val();
        var Outof = $("#OutofGeo_FeesID").val();

      

            Branchdetails.push({
                Client_ID : $("#SelectedClientID").val(),
                Branch_Name : $("#BrName").val(),
                Br_Addr1: $("#Addr1").val(),
                Br_Addr2: $("#Addr2").val(),
                Br_State: $("#SelectedClientStateID option:selected").text(),
                Br_Dist: $("#SelectedClientDistID option:selected").text(),
                Br_City: $("#SelectedClientCityID option:selected").text(),
                Br_Loc: $("#SelectedClientLocID option:selected").val(),
                Br_Pin: $("#SelectedClientPincode option:selected").text(),
                Basic_Fees : $("#Basic_FeesID").val(),
                Add_Fees: $("#Additional_FeesID").val(),
                Outof_Fees: $("#OutofGeo_FeesID").val(),
                Total_Fees: $("#Total_FeesID").val()

            });

            var listTrCount = $("#idDeptTbody tr").length;

            for (var i = 0; i < listTrCount; i++) {
                list.push({
                    Dept_Id: $("#idDeptTbody tr #Dept_Id").eq(i).text(),
                    Client_Dept: $("#idDeptTbody tr #Dept").eq(i).text(),
                    Client_Name: $("#idDeptTbody tr #Name").eq(i).text(),
                    Client_No: $("#idDeptTbody tr #Num").eq(i).text(),
                    Client_Desgn: $("#idDeptTbody tr #Desgn").eq(i).text(),
                    Client_Email: $("#idDeptTbody tr #Email").eq(i).text(),

                });

    }

            var str = JSON.stringify(Branchdetails);
            var list1 = JSON.stringify(list);
            $.ajax({
                type: "POST",
                url: '@Url.Action("AddBranchNew", "ClientAndBranchMasterNew")',
                data: { str: str, DeptList: list1 },
                Response: ContentType = 'application/json;charset=utf-8',
                success: function (data) {

                    //alert(data["Message"]);
                    alert('Client And Branch Details Added successfully');
                    window.location.href = '@Url.Action("index", "ClientAndBranchMasterNew")';
                },
            });
    
    }
</script>

<script>
            function ClearMsgState() {
                $("#spState").html("Please select State").hide();
            }

            function ClearMsgBrname() {
                $("#spBrname").html("Please enter branch Address").hide();
            }

            function ClearMsgAddr1() {
                $("#spAddr1").html("Please Enter First Name").hide();
            }
            function ClearMsgLoc() {
                $("#spLoc").html("Please enter Middle Name").hide();
            }
            function ClearMsgBfees() {
                $("#spBfees").html("Please enter Last Name").hide();
            }
             function ClearMsgAfees() {
                $("#spAfees").html("Please enter Phone No").hide();
            }
            function ClearMsgOutfees() {
                $("#spOGfees").html("Please enter Phone No").hide();
            }

            function ClearMsgDesgn() {
                    $("#spDesgn").html("Please enter Current Email").hide();
                }

            @*function ClearMsgPhone() {
                $("#spCno").html("Please enter Personal Email").hide();
            }*@
            function ClearMsgCName() {
                $("#spCname").html("Please enter Current Address").hide();
            }
            function ClearMsgDept() {
                $("#spDept").html("Please enter City").hide();
            }

            function ClearMsgClient() {
                $("#spClient").html("Please enter District").hide();
            }


    function GetDepartment(Id) {

        var C_Id = $("#SelectedClientID").val();

        $.ajax({
                type: "POST",
                url: '@Url.Action("GetDept", "ClientAndBranchMasterNew")',
            data: { ID: C_Id },
                Response: ContentType = 'application/json;charset=utf-8',
                success: function (data) {

                },
            });
    }


</script>

<script type="text/javascript">
    function sum() {
        //$("#spBfees").html("Please select Pincode").hide();
            var txtFirstNo = document.getElementById('Basic_FeesID').value;
            var txtSecondNo = document.getElementById('Additional_FeesID').value;
            var txtThirdNO = document.getElementById('OutofGeo_FeesID').value;

        if (!isNaN(txtFirstNo)) {
            var result = parseInt(txtFirstNo);
            if (!isNaN(result)) {
                document.getElementById('Total_FeesID').value = result;
            }
        }
         if (!isNaN(txtSecondNo)) {
             var result1 = result + parseInt(txtSecondNo);
             if (!isNaN(result1)) {
                 document.getElementById('Total_FeesID').value = result1;
             }
        }
         if (!isNaN(txtThirdNO)) {
             var result2 = result1 + parseInt(txtThirdNO);
             if (!isNaN(result2)) {
                 document.getElementById('Total_FeesID').value = result2;
             }
        }
          //  var result = parseInt(txtFirstNo) + parseInt(txtSecondNo)+parseInt(txtThirdNO);
        //if (!isNaN(result)) {
        //    alert(result);
        //    document.getElementById('Total_FeesID').value = result;
        //}
        //else {
        //     alert(result);
        //}
    }

    function BackToMain() {
                window.location.href = '@Url.Action("index", "ClientAndBranchMasterNew")';
    }

    function ValidateEmailBanks() {
        var email = document.getElementById("Client_Email").value;
        var lblError = document.getElementById("spEmail");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }
    function ValidateMobile() {
        var phonenumber = document.getElementById("Contact_No").value;
        var lblError = document.getElementById("spCno");
        lblError.innerHTML = "";
        var expr = /^\d{10}$/;
        if (!expr.test(phonenumber)) {
            lblError.innerHTML = "Invalid Mobile Number";
        }
    }
</script>
<script>

     $("#SelectedClientStateID").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedClientDistID").html("");
                    $("#SelectedClientDistID").html("<option id=''>Please Select</option>")
                    $("#SelectedClientCityID").html("");
                    $("#SelectedClientCityID").html("<option id=''>Please Select</option>")
                    $("#SelectedClientLocID").html("");
                    $("#SelectedClientLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedClientPincode").html("");
                    $("#SelectedClientPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedClientDistID").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

            $("#SelectedClientCityID").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedClientLocID").html("");
                    $("#SelectedClientLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedClientPincode").html("");
                    $("#SelectedClientPincode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#SelectedClientLocID").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#SelectedClientDistID").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedClientCityID").html("");
                    $("#SelectedClientCityID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedClientCityID").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
    });

    $("#SelectedClientLocID").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedClientPincode").html("");
                    $("#SelectedClientPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedClientPincode").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });

</script>