﻿@model I_Value.WebApp.Models.VMClientMaster


    <form action="/Client/AddNewClient" method="post" id="myForm">
        @*<div class="modal fade" id="addnewclient" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">*@
        @*<div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">*@
        @*<div class="modal-header">
            <h5 class="modal-title" id="largeModalLabel"> Add New Client</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
        </div>*@
        @*<div class="modal-body">*@
        @*<div id="showErrorMessage"></div>*@
        <div class="row">
            <div class="col-12"> </div>
            <div class="col-12 col-md-12">
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="city" class=" form-control-label">Client Name</label>
                                @*<input type="text" id="company" class="form-control">*@
                                @Html.EditorFor(model => model.ival_ClientMaster.Client_Name, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="company" class=" form-control-label"> Branch Name </label>
                        @*<input type="text" id="company" class="form-control">*@
                        @Html.EditorFor(model => model.ival_ClientMaster.Branch_Name, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">Address 1 </label>
                        @*<input type="text" id="company" class="form-control">*@
                        @Html.EditorFor(model => model.ival_ClientMaster.Client_Address1, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="city" class=" form-control-label">Address 2</label>
                        @*<input type="text" id="company" class="form-control">*@
                        @Html.EditorFor(model => model.ival_ClientMaster.Client_Address2, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">City </label>
                        @*<input type="text" id="company" class="form-control">*@
                        @Html.EditorFor(model => model.ival_ClientMaster.Client_City, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">District </label>
                        @*<input type="text" id="company" class="form-control">*@
                        @Html.EditorFor(model => model.ival_ClientMaster.Client_District, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">State </label>
                        @*<select name="" class="form-control">
                            <option>Select</option>
                            <option>Maharashtra</option>
                            <option>Karnataka</option>
                            <option>Madhya Pradesh</option>
                        </select>*@
                        @Html.DropDownListFor(m => m.SelectedStateID, new SelectList(Model.ival_StateList, "State_ID", "State_Name"), "Please Select", new { @class = "form-control", id = "SelectedCurrentStateId" })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="company" class=" form-control-label"> PinCode </label>
                        @*<select name="" class="form-control">
                            <option>Select</option>
                            <option>410251</option>
                            <option>421058</option>
                            <option>421508</option>
                        </select>*@
                        @Html.DropDownListFor(m => m.SelectedPincodeID, new SelectList(Model.ival_PincodeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", id = "SelectedCurrentPincodeID" })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">Contact Name </label>
                        @*<input type="text" id="company" class="form-control">*@
                        @Html.EditorFor(model => model.ival_ClientMaster.Client_First_Name, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">Contact Number </label>
                        @*<input type="text" id="company" class="form-control">*@
                        @Html.EditorFor(model => model.ival_ClientMaster.Client_Contact_Num, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">Designation </label>
                        @*<input type="text" id="company" class="form-control">*@
                        @Html.EditorFor(model => model.ival_ClientMaster.Client_Designation, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">Contact Email Id </label>
                        @*<input type="text" id="company" class="form-control">*@
                        @Html.EditorFor(model => model.ival_ClientMaster.Client_Contact_Email, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">PAN Number </label>
                        @*<input type="text" id="company" class="form-control">*@
                        @Html.EditorFor(model => model.ival_ClientMaster.PAN_Num, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="company" class=" form-control-label">GSTIN Number</label>
                        @*<input type="text" id="company" class="form-control">*@
                        @Html.EditorFor(model => model.ival_ClientMaster.GSTIN_Num, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                    </div>
                </div>

                <div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="country" class=" form-control-label">Valuation Type</label>
                        @*<select class="form-control">
                            <option value="" label="select"></option>
                            <option>Mortgage Valuation</option>
                            <option>Project Valuation</option>
                            <option>Technical Due Diligence</option>
                            <option>Project Monitoring</option>
                            <option>Arbitartion Support</option>
                            <option>Project Feasibility Report</option>
                        </select>*@
                        @Html.DropDownListFor(m => m.SelectedValuationTypeID, new SelectList(Model.ValuationTypeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control" })
                    </div>
                </div><div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="country" class=" form-control-label">Report Type</label>
                        @*<select class="form-control">
                            <option value="" label="select"></option>
                            <option>Multiunit Property</option>
                            <option>Standalone Builtunit</option>
                            <option>Standalone Under Construction </option>
                            <option>Vacant Land</option>
                        </select>*@
                        @Html.DropDownListFor(m => m.SelectedReportTypeID, new SelectList(Model.ReportTypeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="city" class=" form-control-label">Basic Fees</label>
                            @*<input type="text" id="company" class="form-control">*@
                            @Html.EditorFor(model => model.ival_ClientMaster.Basic_Fees, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                        </div>
                    </div>
                </div><div class="col-6 col-md-4">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="city" class=" form-control-label">Additional Fees </label>
                            @*<input type="text" id="company" class="form-control">*@
                            @Html.EditorFor(model => model.ival_ClientMaster.Additional_Fees, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                        </div>
                    </div>
                </div><div class="col-6 col-md-4">
                    <div class="form-group">
                        <label for="city" class=" form-control-label">Out of Geo Fees</label>
                        @*<input type="text" id="company" class="form-control">*@
                        @Html.EditorFor(model => model.ival_ClientMaster.OutofGeo_Fees, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="city" class=" form-control-label">Total Fees</label>
                            @*<input type="text" id="company" class="form-control">*@
                            @Html.EditorFor(model => model.ival_ClientMaster.Total_Fees, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                        </div>
                    </div>
                </div>


            </div>
        </div>
        </div>

        @*<div class="modal-footer">
            <input type="submit" value="Submit" class="btn btn-success btn-sm" />
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success btn-sm">Submit</button>
        </div>*@
        @*</div>
            </div>
        </div>*@



    </form>
