﻿@model I_Value.WebApp.Models.VMSubLocalityMaster
@{
    ViewBag.Title = "ViewPropertyUnitType";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="padding-left:10px;">View SubLocality </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12"> </div>
                                    <div class="col-12 col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">District</label>
                                                @Html.DropDownListFor(m => m.District_ID, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new { @class = "form-control", id = "txtDistrictID1", @disabled = "disabled" })
                                                <span id="spdist" asp-validation-for="Dist" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">City</label>
                                                @Html.HiddenFor(m => m.SubLocality_Id)

                                                <input type="text" value="@ViewBag.City_Name" id="txtvillagename" class="form-control" readonly="readonly">
                                                <span id="spLoc" asp-validation-for="Loc" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">Locality</label>
                                                @Html.HiddenFor(m => m.SubLocality_Id)

                                                @Html.DropDownListFor(m => m.Loc_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID", @disabled = "disabled" })
                                                <span id="spLoc" asp-validation-for="Loc" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">Pin Code</label>
                                                @Html.DropDownListFor(m => m.Loc_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", id = "txtPinID", onchange = "ClearMsgPin()", @disabled = "disabled" })
                                                <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Sub locality</label>
                                                @*<input type="text" id="company" class="form-control">*@
                                                @Html.EditorFor(m => m.Sub_Locality, new { htmlAttributes = new { @class = "form-control", id = "txtSubLocality", type = "text", onkeyup = "MsgClearSubLoc()", @readonly = true } })
                                                <span id="spSubLoc" asp-validation-for="SubLoc" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    @*<a class="fa-i-big redbt" title="Back"><img src="~/images/back.png" class="img-responsive"></a>*@
                                    <button type="button" onclick="BackToMain();" class="btn btn-primary btn-sm pull-right">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- Default box -->
        <!-- /.box -->
        <script>
    function BackToMain() {
                window.location.href = '@Url.Action("index", "SubLocality")';
    }

        </script>
    </section>

