﻿@model  I_Value.WebApp.Models.VMEmployeeMaster

@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $("#phone").keydown(function (event) {
        k = event.which;
        if ((k >= 96 && k <= 105) || k == 8) {
            if ($(this).val().length == 10) {
                if (k == 8) {
                    return true;
                }
                else {
                    event.preventDefault();
                    return false;

                }
            }

        } else {
            event.preventDefault();
            return false;
        }

       
    });
</script>
<script>
    function AvoidSpace(event) {
        var k = event ? event.which : window.event.keyCode;
        if (k == 32) return false;
      
    }
</script>
<script>
    function AvoidSpace1(event) {
        var k = event ? event.which : window.event.keyCode;
        if (k == 32) return false;
        if (k != 46 && k > 31 && (k < 48 || k > 57))
            return false;
    }
</script>
    <script>
        $("#phone1").keydown(function (event) {
            k = event.which;
        if ((k >= 96 && k <= 105) || k == 8) {
            if ($(this).val().length == 12) {
                if (k == 8) {
                    return true;
                } else {
            event.preventDefault();
        return false;

                }
            }
        } else {
            event.preventDefault();
        return false;
        }

    });
</script>
<script>
    $("#phone11").keydown(function (event) {
        k = event.which;
        if ((k >= 96 && k <= 105) || k == 8) {
            if ($(this).val().length == 11) {
                if (k == 8) {
                    return true;
                } else {
                    event.preventDefault();
                    return false;

                }
            }
        } else {
            event.preventDefault();
            return false;
        }

    });
</script>
    
    <!-- Content Wrapper. Contains page content -->
<form action="~/Ival_Employee/AddEmployee" method="post" id="myForm">
    @*@using (Html.BeginForm())
        {*@

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="padding-left:10px;"> Add New Employee </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="content bg">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12 padd0">
                                <div class="card">
                                    <div class="card-body card-block">
                                        <div class="row">
                                            <div class="col-md-12"> Personal information:</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    @*@Html.LabelFor(model => model.Role_ID, "Roles", htmlAttributes: new { @class = "form-control-label" })*@
                                                    <label for="ddlRoles" class=" form-control-label">Role:</label>
                                                    @*<select id="Role_ID" name="Role_ID" class="form-control">
                                                        </select>*@

                                                    @Html.DropDownListFor(m => m.SelectedRoleId, new SelectList(Model.ival_RoleMastersList, "Role_ID", "Role_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "EmpRoleId", onchange = "MsgClearRole()" })
                                                    <span id="spRole" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    @*@Html.LabelFor(model => model.Branch_ID, "Branch", htmlAttributes: new { @class = "form-control-label" })*@
                                                    <label for="ddlBranch" class=" form-control-label">Branch:</label>
                                                    @*<select id="Branch_ID" name="Branch_ID" class="form-control">
                                                        </select>*@
                                                    @Html.DropDownListFor(m => m.SelectedBranchId, new SelectList(Model.ival_BranchMastersList, "Branch_ID", "Branch_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "EmpBranchId", onchange = "MsgClearBranch()" })
                                                    <span id="spBranch" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">

                                                    @*@Html.LabelFor(model => model.First_Name, htmlAttributes: new { @class = "form-control-label" })*@
                                                    <label for="First_Name" class=" form-control-label">First Name:</label>
                                                    @* @Html.EditorFor(model => model.ival_EmployeeMaster.First_Name, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })*@
                                                    @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control", id = "txtfname", onchange = "MsgClearFname()", @Maxlength = "50" } })
                                                    <span id="spFname" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    @*@Html.LabelFor(model => model.Middle_Name, htmlAttributes: new { @class = "form-control-label" })*@
                                                    <label for="Middle_Name" class=" form-control-label">Middle Name:</label>
                                                    @Html.EditorFor(model => model.Middle_Name, new { htmlAttributes = new { @class = "form-control", id = "txtMname", onchange = "MsgClearMname()", @Maxlength = "50" } })
                                                    <span id="spMname" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="Last_Name" class=" form-control-label">Last Name:</label>
                                                    @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control", id = "txtLname", onchange = "MsgClearLname()", @Maxlength = "50" } })
                                                    <span id="spLname" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="Contact_Number" class=" form-control-label">Contact no:</label>
                                                    @*@Html.EditorFor(model => model.Contact_Number, new { htmlAttributes = new { @class = "form-control", @type = "number", id = "EmpPhNo", @Maxlength = "10" } })*@
                                                    <input type="text" id="EmpPhNo" name="phone" placeholder="Contact No..." maxlength="10" class="form-control"  onchange = "MsgClearCname()"  onkeypress="return AvoidSpace(event)">
                                                    @Html.ValidationMessageFor(model => model.Contact_Number, "", new { @class = "text-danger" })
                                                    <span id="spPhone" asp-validation-for="dist" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="Company_Email_ID" class=" form-control-label">Company Email Id:</label>
                                                    @Html.EditorFor(model => model.Company_Email_ID, new { htmlAttributes = new { @class = "form-control", type = "Email", id = "EmpCMailId", onchange = "CheckMailExists()" } })
                                                    @* @Html.ValidationMessageFor(model => model.Company_Email_ID, "", new { @class = "text-danger" })*@
                                                    <span id="spCmail" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Personal Email id:</label>
                                                    @Html.EditorFor(model => model.Personal_Email_ID, new { htmlAttributes = new { @class = "form-control", type = "Email", id = "EmpPMailId", onchange = "ValidateEmailBanks1()" } })
                                                    @Html.ValidationMessageFor(model => model.Personal_Email_ID, "", new { @class = "text-danger" })
                                                    <span id="spPmail" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            @*<div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Qualification:</label>
                                                        <select id="ddlqualification" class="form-control">
                                                            <option>Graduation</option>
                                                            <option>Post Graduation</option>
                                                        </select>
                                                    </div>
                                                </div>*@
                                            <div style="clear:both;"></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12"> Current Address:</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 1:</label>
                                                    @Html.EditorFor(model => model.Current_Address_1, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "Current_Address_1", onkeyup = "MsgClearCrAddr()" } })
                                                    <span id="spCraddr" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 2:</label>
                                                    @Html.EditorFor(model => model.Current_Address_2, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "Current_Address_2", onkeyup = "MsgClearPr1Addr()" } })
                                                    <span id="spLname2" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">State:</label>
                                                    @Html.DropDownListFor(m => m.SelectedCurrentStateId, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedCurrentStateId", onchange = "ClearMsgState()" })
                                                    <span id="spstate" asp-validation-for="state" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">District</label>
                                                    @Html.DropDownListFor(m => m.District_ID, new SelectList(Enumerable.Empty<SelectListItem>(), "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "Current_District", onchange = "GetLocalityByOnSelect1(this.District_ID)" })
                                                    <span id="spDist1" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City:</label>
                                                    @Html.DropDownListFor(m => m.City_ID, new SelectList(Enumerable.Empty<SelectListItem>(), "City_ID", "City_Name"), "Please Select", new { @class = "form-control", id = "Current_City1", @Maxlength = "50", onchange = "MsgClearCity()" })
                                                    @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                    <span id="spcity" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Locality</label>
                                                    @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                    @Html.DropDownListFor(m => m.Loc_Id, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", id = "Current_City", @Maxlength = "50", onchange = "GetPinByOnSelect(this.Loc_Id)" })
                                                    <span id="spcity" asp-validation-for="Loc" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Pin Code</label>
                                                    @Html.DropDownListFor(m => m.SelectedCurrentPincodeID, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedCurrentPincodeID", onchange = "ClearMsgPin1()" })
                                                    <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <label class="checkbox-inline">
                                                @*<input type="checkbox" value="Click" onclick="fillAddress(this.form);" name="fillAddress">*@
                                                @Html.CheckBoxFor(model => model.IsSameAddress, new { id = "billingtoo", onclick = "filladd()" })
                                                @*<input type="checkbox" name="billingtoo" onclick="FillBilling(this.form)">*@
                                                Permanent address same as current address.
                                            </label>
                                            <div style="clear:both;"></div>
                                            <div class="col-md-12"> Permanent Address:</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 1:</label>
                                                    @Html.EditorFor(model => model.Perm_Address_1, new { htmlAttributes = new { @class = "form-control", id = "Perm_Address_1", @Maxlength = "50" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 2:</label>
                                                    @Html.EditorFor(model => model.Perm_Address_2, new { htmlAttributes = new { @class = "form-control", id = "Perm_Address_2", @Maxlength = "50" } })
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">State:</label>
                                                    @Html.DropDownListFor(m => m.SelectedPermenantStateId, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new
                                               {
                                                   @class = "form-control",
                                                   @Maxlength = "50",
                                                   id = "SelectedPermenantStateId"@*, onchange = "GetDistrictByOnSelect1(this.State_Code)"*@})
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">District</label>
                                                    @Html.DropDownListFor(m => m.District_ID, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "Perm_District", onchange = "GetLocalityByOnSelect2(this.District_ID)" })
                                                    <span id="spdist" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City:</label>
                                                    @Html.DropDownListFor(m => m.City_ID, new SelectList(Model.ival_CitiesList, "Loc_Id", "City_Name"), "Please Select", new { @class = "form-control", id = "Perm_City1", @Maxlength = "50", onchange = "MsgClearCity()" })
                                                    @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                    <span id="spCity" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Locality</label>
                                                    @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                    @Html.DropDownListFor(model => model.Loc_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", @Maxlength = "50", id = "Perm_City", onchange = "GetPinByOnSelect1(this.Loc_Id)" })
                                                    <span id="spLoc" asp-validation-for="Loc" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Pin Code</label>
                                                    @Html.DropDownListFor(model => model.SelectedPermanentPincodeID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedPermanentPincodeID" })
                                                    <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <hr>

                                            <hr>
                                            <div style="clear:both;"></div>
                                            <div class="col-md-12">Emergency contact:</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Name: </label>
                                                    @Html.EditorFor(model => model.Emergency_Contact_Name, new { htmlAttributes = new { @class = "form-control", id = "EmergencyName", onkeyup = "MsgClearEMname()", @Maxlength = "50" } })
                                                    <span id="spEMname" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Contact no: </label>

                                                    @*@Html.EditorFor(model => model.Emergency_Contact_No, new { htmlAttributes = new { @class = "form-control", @type = "number", id = "EmergencyContactNo", onchange = "ValidateMobile1()", @maxlength = "10" } })*@
                                                    <input type="text" id="EmergencyContactNo" name="phone" placeholder="Contact No..." maxlength="10" class="form-control">
                                                    <span id="spEMphone" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Relationship with Employee:</label>
                                                    @*@Html.DropDownListFor(m => m.SelectedBloodGrpID, Model.relationWithEmpList,"Please Select", new { @class = "form-control" })*@
                                                    @*@Html.DropDownListFor(m => m.SelectedRelationWithEmpID, new SelectList(Model.relationWithEmpList, "Value", "Text"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedRelationWithEmpID" })*@
                                                    @Html.DropDownListFor(m => m.SelectedRelationWithEmpID, new SelectList(Model.relationWithEmpList, "Lookup_Value", "Lookup_Value"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedRelationWithEmpID"})

                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Blood Group:</label>
                                                    @Html.DropDownListFor(m => m.SelectedBloodGrpID, new SelectList(Model.bloodGrpList, "Value", "Text"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedBloodGrpID" })
                                                    @*@Html.LabelFor(model => model.ival_EmployeeMaster.Blood_Group, "Blood Group:", htmlAttributes: new { @class = "form-control-label" })*@
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Aadhar No: </label>
                                                    <input type="text" id="Aadhar_Id" name="phone1" placeholder="Aadhaar No..." maxlength="12"  class="form-control" onkeypress="return AvoidSpace1(event)">
                                                    @*@Html.EditorFor(model => model.Aadhar_No, new { htmlAttributes = new { @class = "form-control", id = "Aadhar_Id", @MaxLength = "12" } })*@
                                                    <span id="spA" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label"> PAN no: </label>
                                                    @*@Html.EditorFor(model => model.Pan_No, new { htmlAttributes = new { @class = "form-control", id = "PAN_Id", @MaxLength = "10" } })*@
                                                    <input type="text" id="PAN_Id" name="phone" placeholder="PAN No..." maxlength="10" class="form-control" onkeypress="return AvoidSpace(event)">
                                                    <span id="spPAN" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-12 padd0">
                                <div class="card">
                                    <div class="card-body card-block">
                                        <div class="row">
                                            <div class="col-md-12"> Bank Details :</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Bank Name:</label>
                                                    @*@Html.EditorFor(model => model.Bank_Name, new { htmlAttributes = new { @class = "form-control", id = "EmpBankName", onkeyup = "MsgClearBankname()", @Maxlength = "50" } })*@

                                                    @Html.DropDownListFor(m => m.Bank_Name, new SelectList(Model.banklist, "Lookup_Value", "Lookup_Value"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "EmpBankName" })

                                                    <span id="spBankname" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Bank Branch Address:</label>
                                                    @Html.EditorFor(model => model.Bank_Address1, new { htmlAttributes = new { @class = "form-control", id = "EmpBankAddr", onkeyup = "MsgClearBankaddr()", @Maxlength = "50" } })
                                                    <span id="spBankaddr" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">State:</label>
                                                    @Html.DropDownListFor(m => m.SelectedCurrentStateId, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "EmpBankState", onchange = "MsgClearBankstate()" })
                                                    <span id="spBankstate" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">District</label>
                                                    @Html.DropDownListFor(m => m.District_ID, new SelectList(Enumerable.Empty<SelectListItem>(), "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "EmpBankDistrict", onchange = "GetLocalityByOnSelect3(this.District_ID)" })
                                                    <span id="spBankDist" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City:</label>
                                                    @Html.DropDownListFor(m => m.City_ID, new SelectList(Enumerable.Empty<SelectListItem>(), "City_ID", "City_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "BankCity", onchange = "MsgClearCity()" })
                                                    @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                    <span id="spCity" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Locality</label>
                                                    @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                    @Html.DropDownListFor(m => m.Loc_Id, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", @Maxlength = "50", id = "EmpBankCity", onchange = "GetPinByOnSelect2(this.Loc_Id)" })
                                                    <span id="spBankCity" asp-validation-for="Loc" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Pin Code</label>
                                                    @Html.DropDownListFor(m => m.Loc_Id, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "Bank_PinCode", onchange = "ClearMsgPin()" })
                                                    <span id="spBankPin" asp-validation-for="Pin" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">IFSC Code:</label>
                                                    @*@Html.EditorFor(model => model.Bank_IFSC_Code, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "EmpBankIFSC", onkeyup = "MsgClearBankIFSC()" } })*@
                                                    <input type="text" id="EmpBankIFSC" name="phone11" placeholder="IFSC No.." maxlength="11" class="form-control" onkeypress="return AvoidSpace(event)">
                                                    <span id="spBankIFSC" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                        <div style="clear:both;"></div>

                                        <button type="button" value="Submit" onclick="AddEmployee();" class="btn btn-success btn-sm pull-right">Submit</button>
                                        @*<a class="btn btn-success btn-sm pull-right margin-r-5" href="#" onclick="AddEmployee();">Submit</a>*@
                                        <button type="button" class="btn btn-secondary btn-sm pull-right margin-r-5" data-dismiss="modal" onclick="BackToMain();">Cancel</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .animated -->
                </div>
            </div>
            <!-- Default box -->
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    @*}*@
</form>
<script src="~/Scripts/jquery.min.js"></script>
<script>
    function BackToMain() {
                window.location.href = '@Url.Action("index", "Ival_Employee")';
    }

    function CheckMailExists() {

        var email = document.getElementById("EmpCMailId").value;
        if (email != "") {
            var lblError = document.getElementById("spCmail");
            lblError.innerHTML = "";
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "Invalid email address.";
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckMail", "Ival_Employee")',
                    data: { str: email },
                    Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data) {
                        $("#spCmail").html("");
                        if (data.success) {
                            //alert(data["Message"]);
                            $("#spCmail").html("Email Already Exists");
                        }
                    },
                });
            }
        }

        }


</script>
<script type="text/javascript">
    function filladd() {
        if (billingtoo.checked == true) {
            var Cur1 = document.getElementById("Current_Address_1").value;
            var Cur2 = document.getElementById("Current_Address_2").value;
            var Cur3 = document.getElementById("Current_City1").value;
            var Cur4 = document.getElementById("SelectedCurrentStateId").value;
            var Cur5 = document.getElementById("Current_District").value;
            var Cur6 = document.getElementById("Current_City").value;
            var Cur7 = document.getElementById("SelectedCurrentPincodeID").value;
            var per1 = Cur1;
            var per2 = Cur2;
            var per3 = Cur3;
            var per4 = Cur4;
            var per5 = Cur5;
            var per6 = Cur6;
            var per7 = Cur6;
            document.getElementById("Perm_Address_1").value = per1;
            document.getElementById("Perm_Address_2").value = per2;
            document.getElementById("Perm_City1").value = per3;
            document.getElementById("SelectedPermenantStateId").value = per4;
            document.getElementById("Perm_District").value = per5;
            document.getElementById("Perm_City").value = per6;
            document.getElementById("SelectedPermanentPincodeID").value = per7;
        }
        else if (billingtoo.checked == false) {
            document.getElementById("Perm_Address_1").value = '';
            document.getElementById("Perm_Address_2").value = '';
            document.getElementById("Perm_City1").value = '';
            document.getElementById("SelectedPermenantStateId").value = '';
            document.getElementById("Perm_District").value = '';
            document.getElementById("Perm_City").value = '';
            document.getElementById("SelectedPermanentPincodeID").value = '';
        }
    }

   @* function FillBilling(f) {
        if (f.billingtoo.checked == true) {

            f.Perm_Address_1.value = f.Current_Address_1.value;
            f.Perm_Address_2.value = f.Current_Address_2.value;
            f.Perm_City1.value = f.Current_City1.value;
            f.SelectedPermenantStateId.value = f.SelectedCurrentStateId.value;
            f.Perm_District.value = f.Current_District.value;
            f.Perm_City.text = f.Current_City.text;
            f.SelectedPermanentPincodeID.text = f.SelectedCurrentPincodeID.text;
        }
    }*@
</script>
<script type="text/javascript">

    function ValidateEmailBanks1() {
       // $("#spPmail").html("Please enter Personal email").hide();
        var email = document.getElementById("EmpPMailId").value;
        var lblError = document.getElementById("spPmail");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }

   @* function ValidateEmailBanks() {
        var email = document.getElementById("EmpCMailId").value;
        var lblError = document.getElementById("spCmail");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }*@
    function ValidateEmail() {
        var email = document.getElementById("txtemilid").value;
        var lblError = document.getElementById("TextmsgEmail");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }

    function ValidateMobile() {
        var phonenumber = document.getElementById("EmpPhNo").value;
        var lblError = document.getElementById("spPhone");
        lblError.innerHTML = "";
        var expr = /^\d{10}$/;
        if (!expr.test(phonenumber)) {
            lblError.innerHTML = "Invalid Mobile Number";
        }
    }

    function ValidateMobile1() {

        var phonenumber = document.getElementById("EmergencyContactNo").value;
        var lblError = document.getElementById("spEMphone");
        lblError.innerHTML = "";
        var expr = /^\d{10}$/;
        if (!expr.test(phonenumber)) {
            lblError.innerHTML = "Invalid Mobile Number";
        }
    }



    $("#SelectedCurrentStateId").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Current_District").html("");
                    $("#Current_District").html("<option id=''>Please Select</option>")
                    $("#SelectedCurrentPincodeID").html("");
                    $("#SelectedCurrentPincodeID").html("<option id=''>Please Select</option>")
                    $("#Current_City").html("");
                    $("#Current_City").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#Current_City1").html("");
                    $("#Current_City1").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Current_District").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

    $("#Current_City1").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Current_City").html("");
                    $("#Current_City").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedCurrentPincodeID").html("");
                    $("#SelectedCurrentPincodeID").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#Current_City").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#Current_District").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Current_City1").html("");
                    $("#Current_City1").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Current_City1").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
        });

    @*$("#txtLocalitysingle").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetsublocId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtSubLocalitysingle").append(
                            $('<option></option>').val(value.SubLoc_ID).html(value.SubLoc_Name));

                    })
                }
            });
        });*@

    $("#Current_City").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedCurrentPincodeID").html("");
                    $("#SelectedCurrentPincodeID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedCurrentPincodeID").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });


</script>

<script>


    $("#SelectedPermenantStateId").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Perm_District").html("");
                    $("#Perm_District").html("<option id=''>Please Select</option>")
                    $("#SelectedPermenantPincodeID").html("");
                    $("#SelectedPermenantPincodeID").html("<option id=''>Please Select</option>")
                    $("#Perm_City").html("");
                    $("#Perm_City").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#Perm_City1").html("");
                    $("#Perm_City1").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Perm_District").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

    $("#Perm_City1").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Perm_City").html("");
                    $("#Perm_City").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedPermenantPincodeID").html("");
                    $("#SelectedPermenantPincodeID").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#Perm_City").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#Perm_District").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Perm_City1").html("");
                    $("#Perm_City1").html("<option id=''>Please Select</option>")
                    $("#SelectedPermenantPincodeID").html("");
                    $("#SelectedPermenantPincodeID").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#Perm_City1").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
        });

    @*$("#txtLocalitysingle").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetsublocId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtSubLocalitysingle").append(
                            $('<option></option>').val(value.SubLoc_ID).html(value.SubLoc_Name));

                    })
                }
            });
        });*@

    $("#Perm_City").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedPermenantPincodeID").html("");
                    $("#SelectedPermenantPincodeID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedPermenantPincodeID").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });


</script>

<script>



    $("#EmpBankState").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#EmpBankDistrict").html("");
                    $("#EmpBankDistrict").html("<option id=''>Please Select</option>")
                    $("#Bank_Pincode").html("");
                    $("#Bank_Pincode").html("<option id=''>Please Select</option>")
                    $("#EmpBankCity").html("");
                    $("#EmpBankCity").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#BankCity").html("");
                    $("#BankCity").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#EmpBankDistrict").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

    $("#BankCity").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#EmpBankCity").html("");
                    $("#EmpBankCity").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#Bank_Pincode").html("");
                    $("#Bank_Pincode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#EmpBankCity").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#EmpBankDistrict").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#BankCity").html("");
                    $("#BankCity").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#BankCity").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
        });

    @*$("#txtLocalitysingle").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetsublocId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtSubLocalitysingle").append(
                            $('<option></option>').val(value.SubLoc_ID).html(value.SubLoc_Name));

                    })
                }
            });
        });*@

    $("#EmpBankCity").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Bank_Pincode").html("");
                    $("#Bank_Pincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Bank_Pincode").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });

</script>
<script>

             var Employeedetails = [];
    function AddEmployee() {

        var Role1 = $("#EmpRoleId").val();
        var Branch = $("#EmpBranchId").val();
        var Fname = $("#txtfname").val();
        var Mname = $("#txtMname").val();
        var Lname = $("#txtLname").val();
        var Phone = $("#EmpPhNo").val();
        var CMail = $("#EmpCMailId").val();
        var PMail = $("#EmpPMailId").val();
        var PermAddr = $("#Current_Address_1").val();
        var PermCity = $("#Current_City1").val();
        var PermAddr2 = $("#Current_Address_2").val();
        @*var currentState = $("#SelectedCurrentStateID").val();*@
        var PermDist = $("#Current_District").val();
        @*var currentCity = $("#Current_City").val();*@
       // var CurrentPin = $("#SelectedCurrentPincodeID").val();
        var EmergencyName = $("#EmergencyName").val();
        var EmergencyPhone = $("#EmergencyContactNo").val();
        var BankName = $("#EmpBankName").val();
        var BankAddr = $("#EmpBankAddr").val();
        var BankState = $("#EmpBankState").val();
        var BankDist = $("#EmpBankDistrict").val();
        var BankCity = $("#EmpBankCity").val();
        //var BankPin = $("#Bank_PinCode").val();
        var BankIFSC = $("#EmpBankIFSC").val();

        if (Role1 == "" || Branch == "" || Fname == "" || Mname == "" || Lname == "" || Phone == "" || CMail == ""
            || PMail == "" || PermAddr == "" ||  PermAddr2 == "" || PermCity == "" @*|| currentState == undefined*@ || PermDist == "" @*|| currentCity == ""*@
            || EmergencyName == "" || EmergencyPhone == "" @*|| CurrentPin == "" *@@*|| BankPin == ""*@
            || BankName == "" || BankAddr == "" || BankCity == "" || BankDist == "" || BankState == "" || BankIFSC == "") {

            if (Role1 == "" && Branch == "" && Fname == "" && Mname == "" && Lname == "" && Phone == "" && CMail == ""
                && PMail == "" && PermAddr == "" && PermAddr2 == ""  && PermCity == "" @*&& currentState == undefined*@ && PermDist == "" @*&& currentCity == ""*@ && EmergencyName == "" && EmergencyPhone == ""
                @*&& CurrentPin == ""*@ && BankName == "" && BankAddr == "" && BankCity == "" && BankDist == ""@* && BankPin == ""*@ && BankState == "" && BankIFSC == "") {
                $("#spRole").html("Please select Role");
                $("#spRole").css("display", "block");
                $("#spBranch").html("Please select Branch");
                $("#spBranch").css("display", "block");
                $("#spFname").html("Please Enter First Name");
                $("#spFname").css("display", "block");
                $("#spMname").html("Please enter Middle Name");
                $("#spMname").css("display", "block");
                $("#spLname").html("Please enter Last Name");
                $("#spLname").css("display", "block");
                $("#spPAN").html("Please enter PAN Number");
                $("#spPAN").css("display", "block");
                $("#spA").html("Please enter Aadhaar Number");
                $("#spA").css("display", "block");
                $("#spPhone").html("Please enter Phone No");
                $("#spPhone").css("display", "block");
                $("#spCmail").html("Please enter Company Email");
                $("#spCmail").css("display", "block");
                $("#spPmail").html("Please enter Personal Email");
                $("#spPmail").css("display", "block");
                $("#spCraddr").html("Please enter Current Address");
                $("#spCraddr").css("display", "block");
                $("#spLname2").html("Please enter  Address");
                $("#spLname2").css("display", "block");
                $("#spPAN").html("Please enter  PAN No");
                $("#spPAN").css("display", "block");
                $("#spA").html("Please enter  Aadhaar No");
                $("#spA").css("display", "block");
                @*$("#spcity").html("Please select City");
                $("#spcity").css("display", "block");*@
                @*$("#spstate").html("Please select State");
                $("#spstate").css("display", "block");*@
                @*$("#spPin").html("Please select Pincode");
                $("#spPin").css("display", "block");*@
                $("#spDist").html("Please select District");
                $("#spDist").css("display", "block");
                $("#spEMname").html("Please enter Emergeny Contact Name");
                $("#spEMname").css("display", "block");
                $("#spEMphone").html("Please enter Emergeny Contact No");
                $("#spEMphone").css("display", "block");
                $("#spBankname").html("Please enter Bank Name");
                $("#spBankname").css("display", "block");
                $("#spBankaddr").html("Please enter Bank Address");
                $("#spBankaddr").css("display", "block");
                $("#spBankCity").html("Please select Bank City");
                $("#spBankCity").css("display", "block");
                $("#spBankstate").html("Please select Bank State");
                $("#spBankstate").css("display", "block");
                $("#spBankDist").html("Please select Bank District");
                $("#spBankDist").css("display", "block");
                @*$("#spBankPin").html("Please select Bank Pincode");
                $("#spBankPin").css("display", "block");*@
                $("#spBankIFSC").html("Please enter Bank IFSC Code");
                $("#spBankIFSC").css("display", "block");

            }
            if (Role1 = "") {
                $("#spRole").html("Please select Role");
                $("#spRole").css("display", "block");
                return false;
            }
            if (Branch == "") {
                $("#spBranch").html("Please select Branch");
                $("#spBranch").css("display", "block");
                return false;
            }

            if (Fname == "") {
                $("#spFname").html("Please Enter First Name");
                $("#spFname").css("display", "block");
                return false;
            }

            if (Mname == "") {
                $("#spMname").html("Please enter Middle Name");
                $("#spMname").css("display", "block");
                return false;
            }
            if (Lname == "") {
                $("#spLname").html("Please enter Last Name");
                $("#spLname").css("display", "block");
                return false;
            }
            if (Phone == "") {
                $("#spPhone").html("Please enter Phone No");
                $("#spPhone").css("display", "block");
                return false;
            }
            if (PMail == "") {
                $("#spPmail").html("Please enter Personal email");
                $("#spPmail").css("display", "block");
                return false;
            }
            if (CMail == "") {
                $("#spCmail").html("Please enter Company email");
                $("#spCmail").css("display", "block");
                return false;
            }
            if (PermAddr == "") {
                $("#spCraddr").html("Please enter Address");
                $("#spCraddr").css("display", "block");
                return false;
            }

            if (PermAddr2 == "") {
                $("#spLname2").html("Please enter Address");
                $("#spLname2").css("display", "block");
                return false;
            }
            if (PermCity == "") {
                $("#spcity").html("Please select City");
                $("#spcity").css("display", "block");
                return false;
            }
            if (PermDist == "") {
                $("#spDist").html("Please select District");
                $("#spDist").css("display", "block");
                return false;
            }
            @*if (currentState == undefined) {
                $("#spstate").html("Please select state");
                $("#spstate").css("display", "block");
                return false;
            }*@
           @* if (CurrentPin == "") {
                $("#spPin").html("Please select Pincode");
                $("#spPin").css("display", "block");
                return false;
            }*@
            if (EmergencyName == "") {
                $("#spEMname").html("Please enter Emergency Name");
                $("#spEMname").css("display", "block");
                return false;
            }
            if (EmergencyPhone == "") {
                $("#spEMphone").html("Please enter Emergency Phone No");
                $("#spEMphone").css("display", "block");
                return false;
            }
            if (BankName == "") {
                $("#spBankname").html("Please enter Bank Name");
                $("#spBankname").css("display", "block");
                return false;
            }
            if (BankAddr == "") {
                $("#spBankaddr").html("Please enter Bank Address");
                $("#spBankaddr").css("display", "block");
                return false;
            }
            if (BankCity == "") {
                $("#spBankcity").html("Please select Bank City");
                $("#spBankcity").css("display", "block");
                return false;
            }
            if (BankState == "") {
                $("#spBankstate").html("Please select Bank State");
                $("#spBankstate").css("display", "block");
                return false;
            }
            if (BankDist == "") {
                $("#spBankDist").html("Please select Bank District");
                $("#spBankDist").css("display", "block");
                return false;
            }
            @*if (BankPin == "") {
                $("#spBankPin").html("Please select Bank Pincode");
                $("#spBankPin").css("display", "block");
                return false;
            }*@
            if (BankIFSC == "") {
                $("#spBankIFSC").html("Please enter Bank IFSC Code");
                $("#spBankIFSC").css("display", "block");
                return false;
            }

        }

        else {

            Employeedetails.push({
                Role_Id: $("#EmpRoleId").val(),
                Branch_Id: $("#EmpBranchId").val(),
                First_name: $("#txtfname").val(),
                Middle_name: $("#txtMname").val(),
                Last_name: $("#txtLname").val(),
                Contact_Number: $("#EmpPhNo").val(),
                Company_Mail: $("#EmpCMailId").val(),
                Personal_Mail: $("#EmpPMailId").val(),
                Current_Address: $("#Current_Address_1").val(),
                Current_Address_2: $("#Current_Address_2").val(),
                Current_City1: $("#Current_City1 option:selected").val(),
                Current_State: $("#SelectedCurrentStateId option:selected").val(),
                Current_District: $("#Current_District option:selected").val(),
                Current_City: $("#Current_City option:selected").val(),
                Current_PinCode: $("#SelectedCurrentPincodeID option:selected").text(),
                Perm_Address: $("#Perm_Address_1").val(),
                Perm_Address_2: $("#Perm_Address_2").val(),
                Perm_City1: $("#Perm_City1 option:selected").val(),
                Perm_State: $("#SelectedPermenantStateId option:selected").val(),
                Perm_District: $("#Perm_District option:selected").val(),
                Perm_City: $("#Perm_City option:selected").val(),
                Perm_PinCode: $("#SelectedPermanentPincodeID option:selected").text(),
                Emergency_Name: $("#EmergencyName").val(),
                Emergency_Phone: $("#EmergencyContactNo").val(),
                Relationship_With_Emp: $("#SelectedRelationWithEmpID option:selected").text(),
                Blood_Group: $("#SelectedBloodGrpID option:selected").text(),
                Aadhar_Id: $("#Aadhar_Id").val(),
                PAN_Id: $("#PAN_Id").val(),
                Bank_Name: $("#EmpBankName").val(),
                Bank_Address: $("#EmpBankAddr").val(),
                Bank_State: $("#EmpBankState option:selected").val(),
                Bank_District: $("#EmpBankDistrict option:selected").val(),
                Bank_City: $("#EmpBankCity option:selected").val(),
                BankCity: $("#BankCity option:selected").val(),
                Bank_PinCode: $("#Bank_PinCode option:selected").text(),
                Bank_IFSC: $("#EmpBankIFSC").val()
            });

            var str = JSON.stringify(Employeedetails);

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddEmployee", "Ival_Employee")',
                data: { str: str },
                Response: ContentType = 'application/json;charset=utf-8',
                success: function (data) {
                    //alert(data["Message"]);
                    alert('Employee Details Added successfully');
                    window.location.href = '@Url.Action("index", "Ival_Employee")';
                },
            });
        }

    }
</script>
<script type="text/javascript">
    @*function ClearMsgState() {
        $("#spstate").html("Please select State").hide();
    }
*@
    function MsgClearRole() {
        $("#spRole").html("Please select Role").hide();
    }
    function MsgClearBranch() {
        $("#spBranch").html("Please select Branch").hide();
    }
    function MsgClearFname() {
        $("#spFname").html("Please Enter First Name").hide();
    }
    function MsgClearMname() {
        $("#spMname").html("Please enter Middle Name").hide();
    }
    function MsgClearLname() {
        $("#spLname").html("Please enter Last Name").hide();
    }

    function MsgClearPhone() {
        $("#spPhone").html("Please enter Phone No").hide();
    }
    function MsgClearCmail() {
        $("#spCmail").html("Please enter Current Email").hide();
    }
    function MsgClearPmail() {
        $("#spPmail").html("Please enter Personal Email").hide();
    }
    function MsgClearCrAddr() {
        $("#spCraddr").html("Please enter Current Address").hide();
    }

    function MsgClearPr1Addr() {
        $("#spLname2").html("Please enter Address").hide();
    }
    function MsgClearCity() {
        $("#spCity").html("Please enter City").hide();
    }
    function MsgClearDist() {
        $("#spDist").html("Please enter District").hide();
    }
    function MsgClearEMname() {
        $("#spEMname").html("Please enter Emergeny Contact Name").hide();
    }
    function MsgClearEMphone() {
        $("#spEMphone").html("Please enter Emergeny Contact No").hide();
    }
    function MsgClearBankname() {
        $("#spBankname").html("Please enter Bank Name").hide();
    }
    function ClearMsgPin() {
        $("#spBankPin").html("Please select Bank Pincode").hide();
    }
    function ClearMsgPin1() {
        $("#spPin").html("Please select Pincode").hide();
    }
    function MsgClearBankaddr() {
        $("#spBankaddr").html("Please enter Bank Address").hide();
    }
    function MsgClearBankcity() {
        $("#spBankcity").html("Please enter Bank City").hide();
    }
    function MsgClearBankstate() {
        $("#spBankstate").html("Please select Bank State").hide();
    }
    function MsgClearBankIFSC() {
        $("#spBankIFSC").html("Please enter Bank IFSC Code").hide();
    }
</script>
@*<script>

                function GetDistrictByOnSelect1() {
                    //$("#spdist").html("Please select District").hide();
                    var State_id = $("#SelectedCurrentStateId").val();

                    $.ajax({
                 type: "POST",
                url: '@Url.Action("GetDistrictByOnSelect", "Ival_Employee")',
                        data: { ID: State_id },
                Response: ContentType = 'application/json;charset=utf-8',
                        success: function (data)
                        {
                            var obj = JSON.parse(data);
                            $("#Current_District").html("");
                            $("#Current_District").html("<option id=''>Please Select</option>")

                            $(obj).each(function (index, value) {
                                $("#Current_District").append(
                                    $('<option></option>').val(value.District_ID).html(value.District_Name));

                            })
                        },
                    });
                }
    </script>*@

<script type="text/javascript">


            function GetPinByOnSelect() {
                //$("#spLoc").html("Please select Locality").hide();
                var Loc_id = $("#Current_City").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetPinByOnselect", "Ival_Employee")',
                    data: { str: Loc_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#SelectedCurrentPincodeID").html("");
                        $("#SelectedCurrentPincodeID").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#SelectedCurrentPincodeID").append(
                                $('<option></option>').val(value.str).html(value.Pin_Code));

                        })
                    },
                });
    }

     function GetPinByOnSelect1() {
                //$("#spLoc").html("Please select Locality").hide();
                var Loc_id = $("#Perm_City").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetPinByOnselect", "Ival_Employee")',
                    data: { str: Loc_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#SelectedPermanentPincodeID").html("");
                        $("#SelectedPermanentPincodeID").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#SelectedPermanentPincodeID").append(
                                $('<option></option>').val(value.str).html(value.Pin_Code));

                        })
                    },
                });
    }

    function GetPinByOnSelect2() {
                $("#spBankCity").html("Please select Bank City").hide();
                var Loc_id = $("#EmpBankCity").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetPinByOnselect", "Ival_Employee")',
                    data: { str: Loc_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#Bank_PinCode").html("");
                        $("#Bank_PinCode").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#Bank_PinCode").append(
                                $('<option></option>').val(value.str).html(value.Pin_Code));

                        })
                    },
                });
            }
</script>

<script>
            function GetLocalityByOnSelect1() {
                $("#spDist1").html("Please select District").hide();
                var Dist_id = $("#Current_District").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetLocalityByOnSelect", "Ival_Employee")',
                    data: { ID: Dist_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#Current_City").html("");
                        $("#Current_City").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#Current_City").append(
                                $('<option></option>').val(value.Loc_Id).html(value.Loc_Name));

                        })
                    },
                });
    }

    @*function GetLocalityByOnSelect2() {
                //$("#spdist").html("Please select District").hide();
                var Dist_id = $("#Perm_District").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetLocalityByOnSelect", "Ival_Employee")',
                    data: { ID: Dist_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#Perm_City").html("");
                        $("#Perm_City").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#Perm_City").append(
                                $('<option></option>').val(value.Loc_Id).html(value.Loc_Name));

                        })
                    },
                });
    }*@

    $("#Perm_District").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Perm_City").html("");
                    $("#Perm_City").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Perm_City").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
        });


    function GetLocalityByOnSelect3() {
                         $("#spBankDist").html("Please select Bank District").hide();
                var Dist_id = $("#EmpBankDistrict").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetLocalityByOnSelect", "Ival_Employee")',
                    data: { ID: Dist_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#EmpBankCity").html("");
                        $("#EmpBankCity").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#EmpBankCity").append(
                                $('<option></option>').val(value.Loc_Id).html(value.Loc_Name));

                        })
                    },
                });
    }


</script>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/javascript"></script>



