﻿@model I_Value.WebApp.Models.VMEmployeeMaster
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $("#phone").keydown(function (event) {
        k = event.which;
        if ((k >= 96 && k <= 105) || k == 8) {
            if ($(this).val().length == 10) {
                if (k == 8) {
                    return true;
                }
                else {
                    event.preventDefault();
                    return false;

                }
            }

        } else {
            event.preventDefault();
            return false;
        }


    });
</script>
<script>
    function AvoidSpace(event) {
        var k = event ? event.which : window.event.keyCode;
        if (k == 32) return false;
    }
</script>
<script>
    $("#phone1").keydown(function (event) {
        k = event.which;
        if ((k >= 96 && k <= 105) || k == 8) {
            if ($(this).val().length == 12) {
                if (k == 8) {
                    return true;
                } else {
                    event.preventDefault();
                    return false;

                }
            }
        } else {
            event.preventDefault();
            return false;
        }

    });
</script>
<script>
    $("#phone11").keydown(function (event) {
        k = event.which;
        if ((k >= 96 && k <= 105) || k == 8) {
            if ($(this).val().length == 11) {
                if (k == 8) {
                    return true;
                } else {
                    event.preventDefault();
                    return false;

                }
            }
        } else {
            event.preventDefault();
            return false;
        }

    });
</script>

<form action="~/Ival_Employee/EditEmployee" method="post">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="padding-left:10px;">Update Employee Details </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="content bg">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12 padd0">
                                <div class="card">
                                    <div class="card-body card-block">
                                        <div class="row">
                                            @Html.HiddenFor(model => model.Employee_ID)
                                            <div class="col-md-12"> Personal information:</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">

                                                    <label for="ddlroles" class=" form-control-label">role:</label>
                                                    @Html.DropDownListFor(m => m.SelectedRoleId, new SelectList(Model.ival_RoleMastersList, "Role_ID", "Role_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "EmpRoleId" })

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="ddlBranch" class=" form-control-label">Branch:</label>
                                                    @Html.DropDownListFor(m => m.SelectedBranchId, new SelectList(Model.ival_BranchMastersList, "Branch_ID", "Branch_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "EmpBranchId" })
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="ddl" class=" form-control-label">Cuurent Status:</label>
                                                    @Html.DropDownListFor(m => m.Selectedstatus, new SelectList(Model.currentstatus, "Lookup_Value", "Lookup_Value"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "EmpCurrent" })
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="First_Name" class=" form-control-label">First Name:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.First_Name, new { htmlAttributes = new { @class = "form-control", id = "txtfname", @Maxlength = "50" } })

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    @*@Html.LabelFor(model => model.Middle_Name, htmlAttributes: new { @class = "form-control-label" })*@
                                                    <label for="Middle_Name" class=" form-control-label">Middle Name:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Middle_Name, new { htmlAttributes = new { @class = "form-control", id = "txtMname", @Maxlength = "50" } })

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="Last_Name" class=" form-control-label">Last Name:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Last_Name, new { htmlAttributes = new { @class = "form-control", id = "txtLname", @Maxlength = "50" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="Contact_Number" class=" form-control-label">Contact no:</label>
                                                    @*@Html.EditorFor(model => model.Contact_Number, new { htmlAttributes = new { @class = "form-control", @type = "number", id = "EmpPhNo", @Maxlength = "10", onchange = "ValidateMobile()" } })*@
                                                    <input type="text" id="EmpPhNo" name="phone" value="@ViewBag.Contact_Number" placeholder="Contact No..." maxlength="10" class="form-control">
                                                    <span id="spPhone" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="Company_Email_ID" class=" form-control-label">Company Email Id:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Company_Email_ID, new { htmlAttributes = new { @class = "form-control", id = "EmpCMailId", onchange = "CheckMailExists()" } })
                                                    <span id="spCmail" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Personal Email id:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Personal_Email_ID, new { htmlAttributes = new { @class = "form-control", id = "EmpPMailId", onchange = "ValidateEmailBanks1()" } })
                                                    <span id="spPmail" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            @*<div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">Qualification:</label>
                <select id="ddlqualification" class="form-control">
                    <option>Graduation</option>
                    <option>Post Graduation</option>
                </select>
            </div>
        </div>*@
                                            <div style="clear:both;"></div>
                                        </div>
                                        <hr>
                                        <div style="clear:both;"></div>
                                        <div class="col-md-12"> Current Address:</div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Address 1:</label>
                                                @Html.EditorFor(model => model.ival_EmployeeMaster.Current_Address_1, new { htmlAttributes = new { @class = "form-control", id = "Current_Address_1", @Maxlength = "50" } })
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Address 2:</label>
                                                @Html.EditorFor(model => model.ival_EmployeeMaster.Current_Address_2, new { htmlAttributes = new { @class = "form-control", id = "Current_Address_2", @Maxlength = "50" } })
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">State:</label>
                                                @Html.DropDownListFor(m => m.SelectedCurrentStateId, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedCurrentStateId" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">District</label>
                                                @Html.DropDownListFor(m => m.SelectedCurrentDistId, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "Current_District", onchange = "GetLocalityByOnSelect1(this.District_ID)" })
                                                <span id="spdist" asp-validation-for="dist" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">City:</label>
                                                @Html.DropDownListFor(m => m.Loc_Id, new SelectList(Model.ival_CitiesList, "Loc_Id", "City_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "Current_City1", onchange = "MsgClearCity()" })
                                                @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                <span id="spCity" asp-validation-for="dist" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">Locality</label>
                                                @Html.DropDownListFor(m => m.SelectedCurrentCityID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", @Maxlength = "50", id = "Current_City", onchange = "GetPinByOnSelect(this.Loc_Id)" })
                                                <span id="spLoc" asp-validation-for="Loc" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">Pin Code</label>
                                                @Html.DropDownListFor(m => m.SelectedCurrentPincodeID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedCurrentPincodeID", onchange = "ClearMsgPin()" })
                                                <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <hr>
                                        <label class="checkbox-inline">
                                            @Html.CheckBoxFor(model => model.IsSameAddress, new { id = "billingtoo", @onchange = "filladd(this.form);" })
                                            Permanent address same as current address.
                                        </label>
                                        <div style="clear:both;"></div>
                                        <div class="col-md-12"> Permanent Address:</div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Address 1:</label>
                                                @Html.EditorFor(model => model.ival_EmployeeMaster.Perm_Address_1, new { htmlAttributes = new { @class = "form-control", id = "Perm_Address_1", @Maxlength = "50" } })
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Address 2:</label>
                                                @Html.EditorFor(model => model.ival_EmployeeMaster.Perm_Address_2, new { htmlAttributes = new { @class = "form-control", id = "Perm_Address_2", @Maxlength = "50" } })
                                            </div>
                                        </div>
                                        <hr>


                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">State:</label>
                                                @Html.DropDownListFor(m => m.SelectedPermenantStateId, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedPermenantStateId" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">District</label>
                                                @Html.DropDownListFor(m => m.SelectedPermenantDistId, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "Perm_District", onchange = "GetLocalityByOnSelect2(this.District_ID)" })
                                                <span id="spdist" asp-validation-for="dist" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">City:</label>
                                                @Html.DropDownListFor(m => m.PermLoc_Id, new SelectList(Model.ival_CitiesList, "Loc_Id", "City_Name"), "Please Select", new { @class = "form-control", id = "Perm_City1", @Maxlength = "50", onchange = "MsgClearCity()" })
                                                @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                <span id="spCity" asp-validation-for="dist" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">Locality</label>
                                                @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                @Html.DropDownListFor(model => model.SelectedPermenantCityID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", @Maxlength = "50", id = "Perm_City", onchange = "GetPinByOnSelect1(this.Loc_Id)" })
                                                <span id="spLoc" asp-validation-for="Loc" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">Pin Code</label>
                                                @Html.DropDownListFor(model => model.SelectedPermanentPincodeID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedPermanentPincodeID", onchange = "ClearMsgPin()" })
                                                <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <hr>
                                        <div style="clear:both;"></div>
                                        <div class="col-md-12">Emergency contact:</div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Name: </label>
                                                @Html.EditorFor(model => model.ival_EmployeeMaster.Emergency_Contact_Name, new { htmlAttributes = new { @class = "form-control", id = "Emergency_Contact_Name", @Maxlength = "50" } })
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Contact no: </label>
                                                <input type="text" id="Emergency_Contact_No" name="phone" value="@ViewBag.Emergency_Contact_No" placeholder="Contact No..." maxlength="10" class="form-control">
                                                @*@Html.EditorFor(model => model.ival_EmployeeMaster.Emergency_Contact_No, new { htmlAttributes = new { @class = "form-control", @type = "number", id = "Emergency_Contact_No", @Maxlength = "10", onchange = "ValidateMobile1()" } })*@
                                                <span id="spEMphone" asp-validation-for="dist" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Relationship with Employee:</label>
                                                @*@Html.DropDownListFor(m => m.SelectedRelationWithEmpID, new SelectList(Model.relationWithEmpList, "Lookup_Value", "Text"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedRelationWithEmpID" })*@
                                                @Html.DropDownListFor(m => m.SelectedRelationWithEmpID, new SelectList(Model.relationWithEmpList, "Lookup_Value", "Lookup_Value"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedRelationWithEmpID" })

                                            </div>
                                        </div>
                                        <div style="clear:both;"></div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Blood Group:</label>
                                                @Html.DropDownListFor(m => m.SelectedBloodGrpID, new SelectList(Model.bloodGrpList, "Value", "Text"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedBloodGrpID" })
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Aadhar No: </label>
                                                @*@Html.EditorFor(model => model.ival_EmployeeMaster.Aadhar_No, new { htmlAttributes = new { @class = "form-control", id = "Aadhar_Id", @Maxlength = "12" } })*@
                                                <input type="text" id="Aadhar_Id" name="phone11" value="@ViewBag.Aadhar_No" maxlength="12" class="form-control" onkeypress="return AvoidSpace(event)">

                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label"> PAN no: </label>
                                                @*@Html.EditorFor(model => model.ival_EmployeeMaster.Pan_No, new { htmlAttributes = new { @class = "form-control", id = "PAN_Id", @Maxlength = "10" } })*@
                                                <input type="text" id="PAN_Id" name="phone" value="@ViewBag.Pan_No" maxlength="10" class="form-control" onkeypress="return AvoidSpace(event)">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-12 padd0">
                            <div class="card">
                                <div class="card-body card-block">
                                    <div style="clear:both;"></div>
                                    <div class="col-md-12"> Bank Details :</div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="company" class=" form-control-label">Bank Name:</label>
                                            @*@Html.EditorFor(model => model.ival_EmployeeMaster.Bank_Name, new { htmlAttributes = new { @class = "form-control", id = "EmpBankName", @Maxlength = "50" } })*@

                                            @Html.DropDownListFor(m => m.Bank_Name, new SelectList(Model.banklist, "Lookup_Value", "Lookup_Value"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "EmpBankName" })

                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="company" class=" form-control-label">Bank Branch Address:</label>
                                            @Html.EditorFor(model => model.ival_EmployeeMaster.Bank_Address1, new { htmlAttributes = new { @class = "form-control", id = "EmpBankAddr", @Maxlength = "50" } })
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="company" class=" form-control-label">State:</label>
                                            @Html.DropDownListFor(m => m.SelectedBankStateId, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "EmpBankState" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="country" class=" form-control-label">District:</label>
                                            @Html.DropDownListFor(m => m.SelectedBankDistId, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "EmpBankDistrict" })
                                            <span id="spdist" asp-validation-for="dist" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="company" class=" form-control-label">City:</label>
                                            @Html.DropDownListFor(m => m.BankLoc_Id, new SelectList(Model.ival_CitiesList, "Loc_Id", "City_Name"), "Please Select", new { @class = "form-control", id = "BankCity", onchange = "MsgClearCity()" })
                                            @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                            <span id="spCity" asp-validation-for="dist" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="country" class=" form-control-label">Locality:</label>
                                            @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                            @Html.DropDownListFor(m => m.SelectedBankCityID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", id = "EmpBankCity", @Maxlength = "50" })
                                            <span id="spLoc" asp-validation-for="Loc" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="country" class=" form-control-label">Pin Code:</label>
                                            @Html.DropDownListFor(m => m.SelectedBankPincodeID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", id = "Bank_PinCode", @Maxlength = "50" })
                                            <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <div class="form-group">
                                            <label for="company" class=" form-control-label">IFSC Code:</label>
                                            @*@Html.EditorFor(model => model.ival_EmployeeMaster.Bank_IFSC_Code, new { htmlAttributes = new { @class = "form-control", id = "EmpBankIFSC", @Maxlength = "20" } })*@
                                            <input type="text" id="EmpBankIFSC" name="phone11" value="@ViewBag.Bank_IFSC_Code" maxlength="11" class="form-control" onkeypress="return AvoidSpace(event)">
                                        </div>
                                    </div>
                                    <div style="clear:both;"></div>

                                    <div style="clear:both;"></div>
                                    @*<input type="submit" value="Update" class="btn btn-success btn-sm pull-right" />*@
                                    <input type="button" value="Update" onclick="UpdateEmployee()" class="btn btn-success btn-sm pull-right" />
                                    @*<button type="button" value="Submit" onclick="UpdateEmployee();" class="btn btn-success btn-sm pull-right">Update</button>*@
                                    <button type="button" class="btn btn-secondary btn-sm pull-right margin-r-5" data-dismiss="modal" onclick="BackToMain();">Cancel</button>
                                    @*<a class="btn btn-success btn-sm" href="@Url.Action("Index", "Employee")">Submit</a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .animated -->
            </div>
    </div>
    <!-- Default box -->
    <!-- /.box -->
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    @*}*@
</form>
<script src="~/Scripts/jquery.min.js"></script>
<script>
    function filladd() {
        if (billingtoo.checked == true) {
            var Cur1 = document.getElementById("Current_Address_1").value;
            var Cur2 = document.getElementById("Current_Address_2").value;
            var Cur3 = document.getElementById("Current_City1").value;
            var Cur4 = document.getElementById("SelectedCurrentStateId").value;
            var Cur5 = document.getElementById("Current_District").value;
            var Cur6 = document.getElementById("Current_City").value;
            var Cur7 = document.getElementById("SelectedCurrentPincodeID").value;
            var per1 = Cur1;
            var per2 = Cur2;
            var per3 = Cur3;
            var per4 = Cur4;
            var per5 = Cur5;
            var per6 = Cur6;
            var per7 = Cur6;
            document.getElementById("Perm_Address_1").value = per1;
            document.getElementById("Perm_Address_2").value = per2;
            document.getElementById("Perm_City1").value = per3;
            document.getElementById("SelectedPermenantStateId").value = per4;
            document.getElementById("Perm_District").value = per5;
            document.getElementById("Perm_City").value = per6;
            document.getElementById("SelectedPermanentPincodeID").value = per7;
        }
        else if (billingtoo.checked == false) {
            document.getElementById("Perm_Address_1").value = '';
            document.getElementById("Perm_Address_2").value = '';
            document.getElementById("Perm_City1").value = '';
            document.getElementById("SelectedPermenantStateId").value = '';
            document.getElementById("Perm_District").value = '';
            document.getElementById("Perm_City").value = '';
            document.getElementById("SelectedPermanentPincodeID").value = '';
        }
    }

    function BackToMain() {
                window.location.href = '@Url.Action("index", "Ival_Employee")';
    }

     function CheckMailExists() {

        var email = document.getElementById("EmpCMailId").value;
        if (email != "") {
            var lblError = document.getElementById("spCmail");
            lblError.innerHTML = "";
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "Invalid email address.";
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CheckMail", "Ival_Employee")',
                    data: { str: email },
                    Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data) {
                        $("#spCmail").html("");
                        if (data.success) {
                            //alert(data["Message"]);

                            $("#spCmail").html("Email Already Exists");
                        }
                    },
                });
            }
        }

        }


</script>
<script type="text/javascript">
   @* function FillBilling(f) {
        if (f.billingtoo.checked == true) {

            f.Perm_Address_1.value = f.Current_Address_1.value;
            f.Perm_Address_2.value = f.Current_Address_2.value;
            f.Perm_City.value = f.Current_City.value;
            f.Perm_District.value = f.Current_District.value;
            f.SelectedPermenantStateId.value = f.SelectedCurrentStateId.value;
            f.SelectedPermanentPincodeID.value = f.Current_City.value;
        }
    }*@
</script>
<script>


    function ValidateEmailBanks1() {
        // $("#spPmail").html("Please enter Personal email").hide();
        var email = document.getElementById("EmpPMailId").value;
        var lblError = document.getElementById("spPmail");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }

    @*function ValidateEmailBanks() {
        var email = document.getElementById("EmpCMailId").value;
        var lblError = document.getElementById("spCmail");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }*@
    function ValidateEmail() {
        var email = document.getElementById("txtemilid").value;
        var lblError = document.getElementById("TextmsgEmail");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }

    function ValidateMobile() {
        var phonenumber = document.getElementById("EmpPhNo").value;
        var lblError = document.getElementById("spPhone");
        lblError.innerHTML = "";
        var expr = /^\d{10}$/;
        if (!expr.test(phonenumber)) {
            lblError.innerHTML = "Invalid Mobile Number";
        }
    }

    function ValidateMobile1() {

        var phonenumber = document.getElementById("Emergency_Contact_No").value;
        var lblError = document.getElementById("spEMphone");
        lblError.innerHTML = "";
        var expr = /^\d{10}$/;
        if (!expr.test(phonenumber)) {
            lblError.innerHTML = "Invalid Mobile Number";
        }
    }

    $("#SelectedCurrentStateId").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Current_District").html("");
                    $("#Current_District").html("<option id=''>Please Select</option>")
                    $("#SelectedCurrentPincodeID").html("");
                    $("#SelectedCurrentPincodeID").html("<option id=''>Please Select</option>")
                    $("#Current_City").html("");
                    $("#Current_City").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#Current_City1").html("");
                    $("#Current_City1").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Current_District").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

    $("#Current_District").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Current_City").html("");
                    $("#Current_City").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedCurrentPincodeID").html("");
                    $("#SelectedCurrentPincodeID").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#Current_City").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#Current_District").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Current_City1").html("");
                    $("#Current_City1").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Current_City1").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
        });

    @*$("#txtLocalitysingle").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetsublocId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtSubLocalitysingle").append(
                            $('<option></option>').val(value.SubLoc_ID).html(value.SubLoc_Name));

                    })
                }
            });
        });*@

    $("#Current_City").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedCurrentPincodeID").html("");
                    $("#SelectedCurrentPincodeID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedCurrentPincodeID").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });
</script>

<script>

    $("#SelectedPermenantStateId").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Perm_District").html("");
                    $("#Perm_District").html("<option id=''>Please Select</option>")
                    $("#SelectedPermenantPincodeID").html("");
                    $("#SelectedPermenantPincodeID").html("<option id=''>Please Select</option>")
                    $("#Perm_City").html("");
                    $("#Perm_City").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#Perm_City1").html("");
                    $("#Perm_City1").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Perm_District").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

    $("#Perm_District").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Perm_City").html("");
                    $("#Perm_City").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedPermenantPincodeID").html("");
                    $("#SelectedPermenantPincodeID").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#Perm_City").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#Perm_District").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Perm_City1").html("");
                    $("#Perm_City1").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Perm_City1").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
        });

    @*$("#txtLocalitysingle").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetsublocId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtSubLocalitysingle").append(
                            $('<option></option>').val(value.SubLoc_ID).html(value.SubLoc_Name));

                    })
                }
            });
        });*@

    $("#Perm_City").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedPermenantPincodeID").html("");
                    $("#SelectedPermenantPincodeID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedPermenantPincodeID").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });

</script>

<script>

    $("#EmpBankState").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#EmpBankDistrict").html("");
                    $("#EmpBankDistrict").html("<option id=''>Please Select</option>")
                    $("#Bank_PinCode").html("");
                    $("#Bank_PinCode").html("<option id=''>Please Select</option>")
                    $("#EmpBankCity").html("");
                    $("#EmpBankCity").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#BankCity").html("");
                    $("#BankCity").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#EmpBankDistrict").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

    $("#EmpBankDistrict").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#EmpBankCity").html("");
                    $("#EmpBankCity").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#Bank_PinCode").html("");
                    $("#Bank_PinCode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#EmpBankCity").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#EmpBankDistrict").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#BankCity").html("");
                    $("#BankCity").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#BankCity").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
        });

    @*$("#txtLocalitysingle").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetsublocId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtSubLocalitysingle").append(
                            $('<option></option>').val(value.SubLoc_ID).html(value.SubLoc_Name));

                    })
                }
            });
        });*@

   $("#EmpBankCity").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Bank_PinCode").html("");
                    $("#Bank_PinCode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Bank_PinCode").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });
</script>
<script>

           var UpdateEmployeedetails = [];
    function UpdateEmployee() {
        var Role1 = $("#EmpRoleId").val();
        var Branch = $("#EmpBranchId").val();
        var Fname = $("#txtfname").val();
        var Mname = $("#txtMname").val();
        var Lname = $("#txtLname").val();
        var Phone = $("#EmpPhNo").val();
        var CMail = $("#EmpCMailId").val();
        var PMail = $("#EmpPMailId").val();
        var PermAddr = $("#Current_Address_1").val();
        var PermCity = $("#Current_City1").val();
        var currentState = $("#SelectedCurrentStateID").val();
        var PermDist = $("#Current_District").val();
        @*var currentCity = $("#Current_City").val();*@
        @*var CurrentPin = $("#SelectedCurrentPincodeID").val();*@
        var EmergencyName = $("#Emergency_Contact_Name").val();
        var EmergencyPhone = $("#Emergency_Contact_No").val();
     /*   var BankName = $("#EmpBankName").val();*/
        var BankAddr = $("#EmpBankAddr").val();
        var BankState = $("#EmpBankState").val();
        var BankDist = $("#EmpBankDistrict").val();
        var BankCity = $("#EmpBankCity").val();
        @*var BankPin = $("#Bank_PinCode").val();*@
        var BankIFSC = $("#EmpBankIFSC").val();

        
                //$("#spRole").html("Please select Role");
                //$("#spRole").css("display", "block");
                //$("#spBranch").html("Please select Branch");
                //$("#spBranch").css("display", "block");
                //$("#spFname").html("Please Enter First Name");
                //$("#spFname").css("display", "block");
                //$("#spMname").html("Please enter Middle Name");
                //$("#spMname").css("display", "block");
                //$("#spLname").html("Please enter Last Name");
                //$("#spLname").css("display", "block");
                //$("#spPhone").html("Please enter Phone No");
                //$("#spPhone").css("display", "block");
                //$("#spCmail").html("Please enter Company Email");
                //$("#spCmail").css("display", "block");
                //$("#spPmail").html("Please enter Personal Email");
                //$("#spPmail").css("display", "block");
                //$("#spCraddr").html("Please enter Current Address");
                //$("#spCraddr").css("display", "block");
                @* $("#spcity").html("Please select City");
                $("#spcity").css("display", "block");*@
                @* $("#spstate").html("Please select State");
                $("#spstate").css("display", "block");*@
                @* $("#spPin").html("Please select Pincode");
                $("#spPin").css("display", "block");*@
                //$("#spDist").html("Please select District");
                //$("#spDist").css("display", "block");
                //$("#spEMname").html("Please enter Emergeny Contact Name");
                //$("#spEMname").css("display", "block");
                //$("#spEMphone").html("Please enter Emergeny Contact No");
                //$("#spEMphone").css("display", "block");
                //$("#spBankname").html("Please enter Bank Name");
                //$("#spBankname").css("display", "block");
                //$("#spBankaddr").html("Please enter Bank Address");
                //$("#spBankaddr").css("display", "block");
                //$("#spBankCity").html("Please select Bank City");
                //$("#spBankCity").css("display", "block");
                //$("#spBankstate").html("Please select Bank State");
                //$("#spBankstate").css("display", "block");
                //$("#spBankDist").html("Please select Bank District");
                //$("#spBankDist").css("display", "block");
                @* $("#spBankPin").html("Please select Bank Pincode");
                $("#spBankPin").css("display", "block");*@
            //    $("#spBankIFSC").html("Please enter Bank IFSC Code");
            //    $("#spBankIFSC").css("display", "block");

            
        if (Role1 == "") {
            alert("Please select Role");
               /* $("#spRole").css("display", "block");*/
                return false;
            }
        if (Branch == "") {
            alert("Please select Branch name");
                return false;
            }

        if (Fname == "") {
            alert("Please enter First Name");
                //$("#spFname").html("Please Enter First Name");
                //$("#spFname").css("display", "block");
                return false;
            }

        if (Mname == "") {
            alert("Please enter Middle Name");
                //$("#spMname").html("Please enter Middle Name");
                //$("#spMname").css("display", "block");
                return false;
            }
        if (Lname == "") {
            alert("Please select Last name");
                return false;
            }
            if (Phone == "") {
                alert("Please enter Phone No");
             /*   $("#spPhone").css("display", "block");*/
                return false;
            }
            if (PMail == "") {
                alert("Please enter Personal email");
             /*   $("#spPmail").css("display", "block");*/
                return false;
            }
            if (CMail == "") {
                alert("Please enter Company email");
               /* $("#spCmail").css("display", "block");*/
                return false;
            }
            if (PermAddr == "") {
                alert("Please enter Address");
              /*  $("#spCraddr").css("display", "block");*/
                return false;
            }
            if (PermCity == "") {
                alert("Please select City");
          /*      $("#spcity").css("display", "block");*/
                return false;
            }
            if (PermDist == "") {
                alert("Please select District");
            /*    $("#spDist").css("display", "block");*/
                return false;
            }
            if (currentState == "") {
                alert("Please select current state");
              /*  $("#spstate").css("display", "block");*/
                return false;
            }
            @* if (CurrentPin == "") {
                $("#spPin").html("Please select Pincode");
                $("#spPin").css("display", "block");
                return false;
            }*@
            if (EmergencyName == "") {
                alert("Please enter Emergency Name");
              /*  $("#spEMname").css("display", "block");*/
                return false;
            }
            if (EmergencyPhone == "") {
                alert("Please enter Emergency Phone No");
               /* $("#spEMphone").css("display", "block");*/
                return false;
            }
            //if (BankName == "") {
            //    alert("Please enter Bank Name");
            //  /*  $("#spBankname").css("display", "block");*/
            //    return false;
            //}
            if (BankAddr == "") {
                alert("Please enter Bank Address");
            /*    $("#spBankaddr").css("display", "block");*/
                return false;
            }
            if (BankCity == "") {
                alert("Please select Bank City");
              /*  $("#spBankcity").css("display", "block");*/
                return false;
            }
            if (BankState == "") {
                alert("Please select Bank State");
             /*   $("#spBankstate").css("display", "block");*/
                return false;
            }
            if (BankDist == "") {
                alert("Please select Bank District");
              /*  $("#spBankDist").css("display", "block");*/
                return false;
            }
            @*if (BankPin == "") {
                $("#spBankPin").html("Please select Bank Pincode");
                $("#spBankPin").css("display", "block");
                return false;
            }*@
            if (BankIFSC == "") {
                alert("Please enter Bank IFSC Code");
               /* $("#spBankIFSC").css("display", "block");*/
                return false;
            }

       

            UpdateEmployeedetails.push({
                Emp_ID: $("#Employee_ID").val(),
                Role_ID: $("#EmpRoleId").val(),
                Branch_Id: $("#EmpBranchId").val(),
                EmpCurrent: $("#EmpCurrent").val(),
                First_name: $("#txtfname").val(),
                Middle_name: $("#txtMname").val(),
                Last_name: $("#txtLname").val(),
                Contact_Number: $("#EmpPhNo").val(),
                Company_Mail: $("#EmpCMailId").val(),
                Personal_Mail: $("#EmpPMailId").val(),
                Current_Address: $("#Current_Address_1").val(),
                Current_Address_2: $("#Current_Address_2").val(),
                Current_City1: $("#Current_City1 option:selected").val(),
                Current_State: $("#SelectedCurrentStateId option:selected").val(),
                Current_District: $("#Current_District option:selected").val(),
                Current_City: $("#Current_City option:selected").val(),
                Current_PinCode: $("#SelectedCurrentPincodeID option:selected").text(),
                Perm_Address: $("#Perm_Address_1").val(),
                Perm_Address_2: $("#Perm_Address_2").val(),
                Perm_City1: $("#Perm_City1 option:selected").val(),
                Perm_State: $("#SelectedPermenantStateId option:selected").val(),
                Perm_District: $("#Perm_District option:selected").val(),
                Perm_City: $("#Perm_City option:selected").val(),
                Perm_PinCode: $("#SelectedPermanentPincodeID option:selected").text(),
                Emergency_Name: $("#Emergency_Contact_Name").val(),
                Emergency_Phone: $("#Emergency_Contact_No").val(),
                Relationship_With_Emp: $("#SelectedRelationWithEmpID option:selected").text(),
                Blood_Group: $("#SelectedBloodGrpID option:selected").text(),
                Aadhar_Id: $("#Aadhar_Id").val(),
                PAN_Id: $("#PAN_Id").val(),
                Bank_Name: $("#EmpBankName").val(),
                Bank_Address: $("#EmpBankAddr").val(),
                Bank_State: $("#EmpBankState option:selected").val(),
                Bank_District: $("#EmpBankDistrict option:selected").val(),
                Bank_City: $("#EmpBankCity option:selected").val(),
                BankCity: $("#BankCity option:selected").val(),
                Bank_PinCode: $("#Bank_PinCode option:selected").text(),
                Bank_IFSC: $("#EmpBankIFSC").val(),


              
            });

            var str = JSON.stringify(UpdateEmployeedetails);

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateEmployee", "Ival_Employee")',
                data: { str: str },
                Response: ContentType = 'application/json;charset=utf-8',
                success: function (data) {
                    //alert(data["Message"]);
                    alert('Employee Details Updated successfully');
                    window.location.href = '@Url.Action("index", "Ival_Employee")';
                },
            });
        }
    
</script>
<script type="text/javascript">
    function ClearMsgState() {
        $("#spstate").html("Please select State").hide();
    }

    function MsgClearRole() {
        $("#spRole").html("Please select Role").hide();
    }
    function MsgClearBranch() {
        $("#spBranch").html("Please select Branch").hide();
    }
    function MsgClearFname() {
        $("#spFname").html("Please Enter First Name").hide();
    }
    function MsgClearMname() {
        $("#spMname").html("Please enter Middle Name").hide();
    }
    function MsgClearLname() {
        $("#spLname").html("Please enter Last Name").hide();
    }
    function MsgClearPhone() {
        $("#spPhone").html("Please enter Phone No").hide();
    }
    function MsgClearCmail() {
        $("#spCmail").html("Please enter Current Email").hide();
    }
    function MsgClearPmail() {
        $("#spPmail").html("Please enter Personal Email").hide();
    }
    function MsgClearCrAddr() {
        $("#spCraddr").html("Please enter Current Address").hide();
    }
    function MsgClearCity() {
        $("#spCity").html("Please enter City").hide();
    }
    function MsgClearDist() {
        $("#spDist").html("Please enter District").hide();
    }
    function MsgClearEMname() {
        $("#spEMname").html("Please enter Emergeny Contact Name").hide();
    }
    function MsgClearEMphone() {
        $("#spEMphone").html("Please enter Emergeny Contact No").hide();
    }
    function MsgClearBankname() {
        $("#spBankname").html("Please enter Bank Name").hide();
    }
    function ClearMsgPin() {
        $("#spBankPin").html("Please select Bank Pincode").hide();
    }
    function ClearMsgPin1() {
        $("#spPin").html("Please select Pincode").hide();
    }
    function MsgClearBankaddr() {
        $("#spBankaddr").html("Please enter Bank Address").hide();
    }
    function MsgClearBankcity() {
        $("#spBankcity").html("Please enter Bank City").hide();
    }
    function MsgClearBankstate() {
        $("#spBankstate").html("Please select Bank State").hide();
    }
    function MsgClearBankIFSC() {
        $("#spBankIFSC").html("Please enter Bank IFSC Code").hide();
    }
</script>
@*<script>

                function GetDistrictByOnSelect1() {
                    //$("#spdist").html("Please select District").hide();
                    var State_id = $("#SelectedCurrentStateId").val();

                    $.ajax({
                 type: "POST",
                url: '@Url.Action("GetDistrictByOnSelect", "Ival_Employee")',
                        data: { ID: State_id },
                Response: ContentType = 'application/json;charset=utf-8',
                        success: function (data)
                        {
                            var obj = JSON.parse(data);
                            $("#Current_District").html("");
                            $("#Current_District").html("<option id=''>Please Select</option>")

                            $(obj).each(function (index, value) {
                                $("#Current_District").append(
                                    $('<option></option>').val(value.District_ID).html(value.District_Name));

                            })
                        },
                    });
                }
    </script>*@

<script type="text/javascript">


            function GetPinByOnSelect() {
                //$("#spLoc").html("Please select Locality").hide();
                var Loc_id = $("#Current_City").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetPinByOnselect", "Ival_Employee")',
                    data: { str: Loc_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#SelectedCurrentPincodeID").html("");
                        $("#SelectedCurrentPincodeID").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#SelectedCurrentPincodeID").append(
                                $('<option></option>').val(value.str).html(value.Pin_Code));

                        })
                    },
                });
    }

     function GetPinByOnSelect1() {
                //$("#spLoc").html("Please select Locality").hide();
                var Loc_id = $("#Perm_City").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetPinByOnselect", "Ival_Employee")',
                    data: { str: Loc_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#SelectedPermanentPincodeID").html("");
                        $("#SelectedPermanentPincodeID").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#SelectedPermanentPincodeID").append(
                                $('<option></option>').val(value.str).html(value.Pin_Code));

                        })
                    },
                });
    }

    @*function GetPinByOnSelect2() {
                $("#spBankCity").html("Please select Bank City").hide();
                var Loc_id = $("#EmpBankCity").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetPinByOnselect", "Ival_Employee")',
                    data: { str: Loc_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#Bank_PinCode").html("");
                        $("#Bank_PinCode").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#Bank_PinCode").append(
                                $('<option></option>').val(value.str).html(value.Pin_Code));

                        })
                    },
                });
            }*@
</script>

<script>
            function GetLocalityByOnSelect1() {
                $("#spDist1").html("Please select District").hide();
                var Dist_id = $("#Current_District").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetLocalityByOnSelect", "Ival_Employee")',
                    data: { ID: Dist_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#Current_City").html("");
                        $("#Current_City").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#Current_City").append(
                                $('<option></option>').val(value.Loc_Id).html(value.Loc_Name));

                        })
                    },
                });
    }

    function GetLocalityByOnSelect2() {
                //$("#spdist").html("Please select District").hide();
                var Dist_id = $("#Perm_District").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetLocalityByOnSelect", "Ival_Employee")',
                    data: { ID: Dist_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#Perm_City").html("");
                        $("#Perm_City").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#Perm_City").append(
                                $('<option></option>').val(value.Loc_Id).html(value.Loc_Name));

                        })
                    },
                });
    }

    function GetLocalityByOnSelect3() {
                         $("#spBankDist").html("Please select Bank District").hide();
                var Dist_id = $("#EmpBankDistrict").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetLocalityByOnSelect", "Ival_Employee")',
                    data: { ID: Dist_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#EmpBankCity").html("");
                        $("#EmpBankCity").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#EmpBankCity").append(
                                $('<option></option>').val(value.Loc_Id).html(value.Loc_Name));

                        })
                    },
                });
            }
</script>


