﻿@model I_Value.WebApp.Models.VMEmployeeMaster
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<form action="~/Ival_Employee/EditEmployee" method="post">

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="padding-left:10px;">View Employee Details </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="content bg">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12 padd0">
                                <div class="card">
                                    <div class="card-body card-block">
                                        <div class="row">
                                            @Html.HiddenFor(model => model.ival_EmployeeMaster.Employee_ID)
                                            <div class="col-md-12"> Personal information:</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">

                                                    <label for="ddlroles" class=" form-control-label">role:</label>
                                                    @Html.DropDownListFor(m => m.SelectedRoleId, new SelectList(Model.ival_RoleMastersList, "Role_ID", "Role_Name"), "Please Select", new { @class = "form-control", @disabled = "disabled" })

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="ddlBranch" class=" form-control-label">Branch:</label>
                                                    @Html.DropDownListFor(m => m.SelectedBranchId, new SelectList(Model.ival_BranchMastersList, "Branch_ID", "Branch_Name"), "Please Select", new { @class = "form-control", @disabled = "disabled" })
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="First_Name" class=" form-control-label">First Name:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.First_Name, new { htmlAttributes = new { @class = "form-control", id = "First_Name", @readonly = true } })

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    @*@Html.LabelFor(model => model.Middle_Name, htmlAttributes: new { @class = "form-control-label" })*@
                                                    <label for="Middle_Name" class=" form-control-label">Middle Name:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Middle_Name, new { htmlAttributes = new { @class = "form-control", id = "Middle_Name", @readonly = true } })

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="Last_Name" class=" form-control-label">Last Name:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Last_Name, new { htmlAttributes = new { @class = "form-control", id = "Last_Name", @readonly = true } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="Contact_Number" class=" form-control-label">Contact no:</label>
                                                    @Html.EditorFor(model => model.Contact_Number, new { htmlAttributes = new { @class = "form-control", id = "Contact_Number", @readonly = true } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="Company_Email_ID" class=" form-control-label">Company Email Id:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Company_Email_ID, new { htmlAttributes = new { @class = "form-control", id = "Company_Email_ID", @readonly = true } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Personal Email id:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Personal_Email_ID, new { htmlAttributes = new { @class = "form-control", id = "Personal_Email_ID", @readonly = true } })
                                                </div>
                                            </div>
                                            @*<div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Qualification:</label>
                                                        <select id="ddlqualification" class="form-control">
                                                            <option>Graduation</option>
                                                            <option>Post Graduation</option>
                                                        </select>
                                                    </div>
                                                </div>*@
                                            <div style="clear:both;"></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-12"> Current Address:</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 1:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Current_Address_1, new { htmlAttributes = new { @class = "form-control", id = "Current_Address_1", @readonly = true } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 2:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Current_Address_2, new { htmlAttributes = new { @class = "form-control", id = "Current_Address_2", @readonly = true } })
                                                </div>
                                            </div>
                                            
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">State:</label>
                                                    @Html.DropDownListFor(m => m.SelectedCurrentStateId, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", id = "SelectedCurrentStateId", @disabled = "disabled" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">District</label>
                                                    @Html.DropDownListFor(m => m.SelectedCurrentDistId, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new { @class = "form-control", id = "Current_District", onchange = "GetLocalityByOnSelect1(this.District_ID)", @disabled = "disabled" })
                                                    <span id="spdist" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City:</label>
                                                    @Html.DropDownListFor(m => m.Loc_Id, new SelectList(Model.ival_CitiesList, "Loc_Id", "City_Name"), "Please Select", new { @class = "form-control", id = "Current_City1", onchange = "MsgClearCity()", @disabled = "disabled" })
                                                    @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                    <span id="spCity" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Locality</label>
                                                    @Html.DropDownListFor(m => m.SelectedCurrentCityID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", id = "Current_City", onchange = "GetPinByOnSelect(this.Loc_Id)", @disabled = "disabled" })
                                                    <span id="spLoc" asp-validation-for="Loc" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Pin Code</label>
                                                    @Html.DropDownListFor(m => m.SelectedCurrentPincodeID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", id = "SelectedCurrentPincodeID", onchange = "ClearMsgPin()", @disabled = "disabled" })
                                                    <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <hr>
                                            @* <label class="checkbox-inline">
            @Html.CheckBoxFor(model => model.IsSameAddress, new { id = "billingtoo", @onchange = "FillBilling(this.form);" })
            Permanent address same as current address.
        </label>*@
                                            <div style="clear:both;"></div>
                                            <div class="col-md-12"> Permanent Address:</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 1:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Perm_Address_1, new { htmlAttributes = new { @class = "form-control", id = "Perm_Address_1", @readonly = true } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 2:</label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Perm_Address_2, new { htmlAttributes = new { @class = "form-control", id = "Perm_Address_2", @readonly = true } })
                                                </div>
                                            </div>
                                            <hr>

                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City:</label>
                                                    @Html.DropDownListFor(m => m.PermLoc_Id, new SelectList(Model.ival_CitiesList, "Loc_Id", "City_Name"), "Please Select", new { @class = "form-control", id = "Perm_City1", onchange = "MsgClearCity()", @disabled = "disabled" })
                                                    @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                    <span id="spCity" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4">
                                                <div class="form-group">

                                                    <label for="company" class=" form-control-label">State:</label>
                                                    @Html.DropDownListFor(m => m.SelectedPermenantStateId, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", id = "SelectedPermenantStateId", @disabled = "disabled" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">District</label>
                                                    @Html.DropDownListFor(m => m.SelectedPermenantDistId, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new { @class = "form-control", id = "Perm_District", onchange = "GetLocalityByOnSelect2(this.District_ID)", @disabled = "disabled" })
                                                    <span id="spdist" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City:</label>
                                                    @Html.DropDownListFor(m => m.PermLoc_Id, new SelectList(Model.ival_CitiesList, "Loc_Id", "City_Name"), "Please Select", new { @class = "form-control", id = "Perm_City1", onchange = "MsgClearCity()", @disabled = "disabled" })
                                                    @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                    <span id="spCity" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Locality</label>
                                                    @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                    @Html.DropDownListFor(model => model.SelectedPermenantCityID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", id = "Perm_City", onchange = "GetPinByOnSelect1(this.Loc_Id)", @disabled = "disabled" })
                                                    <span id="spLoc" asp-validation-for="Loc" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Pin Code</label>
                                                    @Html.DropDownListFor(model => model.SelectedPermanentPincodeID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", id = "SelectedPermanentPincodeID", onchange = "ClearMsgPin()", @disabled = "disabled" })
                                                    <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <hr>
                                            <div style="clear:both;"></div>
                                            <div class="col-md-12">Emergency contact:</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Name: </label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Emergency_Contact_Name, new { htmlAttributes = new { @class = "form-control", id = "Emergency_Contact_Name", @readonly = true } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Contact no: </label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Emergency_Contact_No, new { htmlAttributes = new { @class = "form-control", id = "Emergency_Contact_No", @readonly = true } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Relationship with Employee:</label>
                                                    @Html.DropDownListFor(m => m.SelectedRelationWithEmpID, new SelectList(Model.relationWithEmpList, "Lookup_Value", "Lookup_Value"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedRelationWithEmpID" , @readonly = true })
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Blood Group:</label>
                                                    @Html.DropDownListFor(m => m.SelectedBloodGrpID, new SelectList(Model.bloodGrpList, "Value", "Text"), "Please Select", new { @class = "form-control", @disabled = "disabled" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Aadhar No: </label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Aadhar_No, new { htmlAttributes = new { @class = "form-control", id = "Aadhar_No", @readonly = true } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label"> PAN no: </label>
                                                    @Html.EditorFor(model => model.ival_EmployeeMaster.Pan_No, new { htmlAttributes = new { @class = "form-control", id = "Pan_No", @readonly = true } })
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-lg-12 padd0">
                                        <div class="card">
                                            <div class="card-body card-block">
                                                <div class="row">
                                                    <div class="col-md-12"> Bank Details :</div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">Bank Name:</label>
                                                            @Html.EditorFor(model => model.ival_EmployeeMaster.Bank_Name, new { htmlAttributes = new { @class = "form-control", id = "Bank_Name", @readonly = true } })
                                                        
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">Bank Branch Address:</label>
                                                            @Html.EditorFor(model => model.ival_EmployeeMaster.Bank_Address1, new { htmlAttributes = new { @class = "form-control", id = "Bank_Address1", @readonly = true } })
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">State:</label>
                                                            @Html.DropDownListFor(m => m.SelectedBankStateId, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", id = "EmpBankState", @disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="country" class=" form-control-label">District</label>
                                                            @Html.DropDownListFor(m => m.SelectedBankDistId, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new { @class = "form-control", id = "EmpBankDistrict", @disabled = "disabled" })
                                                            <span id="spdist" asp-validation-for="dist" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">City:</label>
                                                            @Html.DropDownListFor(m => m.BankLoc_Id, new SelectList(Model.ival_CitiesList, "Loc_Id", "City_Name"), "Please Select", new { @class = "form-control", id = "BankCity", onchange = "MsgClearCity()", @disabled = "disabled" })
                                                            @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                            <span id="spCity" asp-validation-for="dist" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="country" class=" form-control-label">City</label>
                                                            @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                            @Html.DropDownListFor(m => m.SelectedBankCityID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", id = "EmpBankCity", @disabled = "disabled" })
                                                            <span id="spLoc" asp-validation-for="Loc" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="country" class=" form-control-label">Pin Code</label>
                                                            @Html.DropDownListFor(m => m.SelectedBankPincodeID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", id = "Bank_PinCode", @disabled = "disabled" })
                                                            <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">IFSC Code:</label>
                                                            @Html.EditorFor(model => model.ival_EmployeeMaster.Bank_IFSC_Code, new { htmlAttributes = new { @class = "form-control", id = "Bank_IFSC_Code", @readonly = true } })
                                                        </div>
                                                    </div>
                                                    <div style="clear:both;"></div>
                                                </div>
                                                <div style="clear:both;"></div>
                                                @*<input type="submit" value="Upate" class="btn btn-success btn-sm pull-right" />*@
                                                <button type="button" onclick="BackToMain();" class="btn btn-success btn-sm pull-right">Back</button>
                                                @*<a class="btn btn-success btn-sm" href="@Url.Action("Index", "Employee")">Submit</a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- .animated -->
                        </div>
                    </div>
                    <!-- Default box -->
                    <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    @*}*@
</form>
<script src="~/Scripts/jquery.min.js"></script>
<script>
    function BackToMain() {
                window.location.href = '@Url.Action("index", "Ival_Employee")';
    }

</script>
<script type="text/javascript">
    function FillBilling(f) {
        if (f.billingtoo.checked == true) {

            f.Perm_Address_1.value = f.Current_Address_1.value;
            f.Perm_Address_2.value = f.Current_Address_2.value;
            f.Perm_City.value = f.Current_City.value;
            f.Perm_District.value = f.Current_District.value;
            f.SelectedPermenantStateId.value = f.SelectedCurrentStateId.value;
            f.SelectedPermanentPincodeID.value = f.SelectedCurrentPincodeID.value;
        }
    }
</script>
<script>

    $("#SelectedCurrentStateId").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                console.log(data);
                var obj = JSON.parse(data);
                $("#Current_District").html("");
                $("#Current_District").html("<option id=''>Please Select</option>")
                $("#Current_City").html("");
                $("#Current_City").html("<option id=''>Please Select</option>")
                $("#SelectedCurrentPincodeID").html("");
                $("#SelectedCurrentPincodeID").html("<option id=''>Please Select</option>")

                $(obj).each(function (index, value) {
                $("#Current_District").append(
                $('<option></option>').val(value.District_ID).html(value.District_Name));

                })
                }
                });
                });

                $("#Current_District").change(function () {
                var District_ID = $(this).val()

                $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                console.log(data);
                var obj = JSON.parse(data);
                $("#Current_City").html("");
                $("#Current_City").html("<option id=''>Please Select</option>")
                $("#SelectedCurrentPincodeID").html("");
                $("#SelectedCurrentPincodeID").html("<option id=''>Please Select</option>")
                $(obj).each(function (index, value) {
                $("#Current_City").append(
                $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                })
                }
                });
                });

                $("#Current_City").change(function () {
                var City_ID = $(this).val()

                $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                console.log(data);
                var obj = JSON.parse(data);
                $("#SelectedCurrentPincodeID").html("");
                $("#SelectedCurrentPincodeID").html("<option id=''>Please Select</option>")

                $(obj).each(function (index, value) {
                $("#SelectedCurrentPincodeID").append(
                $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));
                })
                }
                });
                });

                </script>

                <script>

    $("#SelectedPermenantStateId").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Perm_District").html("");
                    $("#Perm_District").html("<option id=''>Please Select</option>")
                    $("#Perm_City").html("");
                    $("#Perm_City").html("<option id=''>Please Select</option>")
                    $("#SelectedPermanentPincodeID").html("");
                    $("#SelectedPermanentPincodeID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Perm_District").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

    $("#Perm_District").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Perm_City").html("");
                    $("#Perm_City").html("<option id=''>Please Select</option>")
                    $("#SelectedPermanentPincodeID").html("");
                    $("#SelectedPermanentPincodeID").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#Perm_City").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#Perm_City").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedPermanentPincodeID").html("");
                    $("#SelectedPermanentPincodeID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedPermanentPincodeID").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
    });

                </script>

                <script>

    $("#EmpBankState").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#EmpBankDistrict").html("");
                    $("#EmpBankDistrict").html("<option id=''>Please Select</option>")
                    $("#EmpBankCity").html("");
                    $("#EmpBankCity").html("<option id=''>Please Select</option>")
                    $("#Bank_PinCode").html("");
                    $("#Bank_PinCode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#EmpBankDistrict").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

    $("#EmpBankDistrict").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#EmpBankCity").html("");
                    $("#EmpBankCity").html("<option id=''>Please Select</option>")
                    $("#Bank_PinCode").html("");
                    $("#Bank_PinCode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#EmpBankCity").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#EmpBankCity").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Bank_PinCode").html("");
                    $("#Bank_PinCode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Bank_PinCode").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });


                </script>

