﻿
@{
    ViewBag.Title = "AddNewRequestorDetails";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $("#phone").keydown(function (event) {
        k = event.which;
        if ((k >= 96 && k <= 105) || k == 8) {
            if ($(this).val().length == 10) {
                if (k == 8) {
                    return true;
                }
                else {
                    event.preventDefault();
                    return false;

                }
            }

        } else {
            event.preventDefault();
            return false;
        }


    });
</script>
<script>
    function allowOnlyLetters(e, t) {
        if (window.event) {
            var charCode = window.event.keyCode;
        }
        else if (e) {
            var charCode = e.which;
        }
        else { return true; }
        if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
            return true;
        else {
            alert("Please enter only alphabets");
            return false;
        }
    }
</script>
<script>
    function AvoidSpace(event) {
        var k = event ? event.which : window.event.keyCode;
        if (k == 32) return false;

    }
</script>
<script>
    function AvoidSpace1(event) {
        var k = event ? event.which : window.event.keyCode;
        if (k == 32) return false;
        if (k != 46 && k > 31 && (k < 48 || k > 57))
            return false;
    }
</script>
<script>
    function lettersOnly(evt) {
        evt = (evt) ? evt : event;
        var charCode = (evt.charCode) ? evt.charCode : ((evt.keyCode) ? evt.keyCode :
            ((evt.which) ? evt.which : 0));
        if (charCode > 31 && (charCode < 65 || charCode > 90) &&
            (charCode < 97 || charCode > 122)) {

            return false;
        }
        return true;
    }
</script>


<script>
    $("#phone1").keydown(function (event) {
        k = event.which;
        if ((k >= 96 && k <= 105) || k == 8) {
            if ($(this).val().length == 12) {
                if (k == 8) {
                    return true;
                } else {
                    event.preventDefault();
                    return false;

                }
            }
        } else {
            event.preventDefault();
            return false;
        }

    });
</script>
<script>
    $("#phone11").keydown(function (event) {
        k = event.which;
        if ((k >= 96 && k <= 105) || k == 8) {
            if ($(this).val().length == 11) {
                if (k == 8) {
                    return true;
                } else {
                    event.preventDefault();
                    return false;

                }
            }
        } else {
            event.preventDefault();
            return false;
        }

    });
</script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Requestor </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-body card-block">
                                <form>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" id="rbbank" value="Bank/NBFC">
                                        Bank/NBFC
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" id="rbindividual" value="Individual">
                                        Individual
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio" id="rbProjectevaluation" value="Project evaluation">
                                        Project evaluation
                                    </label>
                                </form>
                                <div style="margin-bottom:10px;"> <span style="font-size:10px; color:#999999;">Note: show following options if we select bank as a requestor</span> </div>
                                <form>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio1" id="rbProjectvaluation" value="Project valuation">
                                        Project valuation
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio1" id="rbProjectunitvaluation" value="Project unit valuation">
                                        Project unit valuation
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optradio1" id="rbRetailvaluation" value="Retail valuation">
                                        Retail valuation
                                    </label>
                                </form>
                            </div>
                        </div>
                        <div class="card" id="bank" runat="server">
                            <div class="card-body card-block">
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Name of the Bank / HFC</label>
                                        <input type="text" id="txtbankname" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Customer / Application id </label>
                                        <input type="text" id="txtcustappid" class="form-control">

                                    </div>
                                </div>
                                <div style="clear:both;"></div>
                                <input type="button" onclick="Searchformbank()" value="Search" style="margin-left:20px;" class="btn btn-success btn-sm pull-right" />
                                @*<a href="#" class="btn btn-success btn-sm pull-right" style="margin-left:20px;">Search</a>*@
                                <a href="#" class="btn btn-success btn-sm pull-right" onclick="AddNewBankRetailsValuation();">Add New</a>

                            </div>
                        </div>
                        <div class="card" id="retail" runat="server">
                            <div class="card-body card-block">
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Customer / Application id </label>
                                        <input type="text" id="txtcustid" class="form-control">

                                    </div>
                                </div>

                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Name of customer</label>
                                        <input type="text" id="txtcustname" class="form-control" onkeypress="return allowOnlyLetters(event,this);">
                                    </div>
                                </div>


                                <div style="clear:both"></div>
                                <input type="button" onclick="Searchform()" value="Search" style="margin-left:20px;" class="btn btn-success btn-sm pull-right" />
                                @*<a href="#" class="btn btn-success btn-sm pull-right" style="margin-left:20px;">Search</a>*@
                                <input type="button" onclick="Submitform()" value="Add New" class="btn btn-success btn-sm pull-right" />

                                @*<a href="@Url.Action("AddRequestorDetails","NewRequestor")" class="btn btn-success btn-sm pull-right">Add New</a>*@
                            </div>
                        </div>
                        <div class="card" id="valuation" runat="server">
                            <div class="card-body card-block">
                                <div style="margin-bottom:10px;"> <span style="font-size:10px; color:#999999;">Note: show following options if we select Project valuation for bank</span> </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Name of bank</label>
                                        <input type="text" id="company" class="form-control" onkeypress="return allowOnlyLetters(event,this);">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Name of Builder Group</label>
                                        <input type="text" id="company" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Name of Builder Company</label>
                                        <input type="text" id="company" class="form-control">
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="form-group">
                                        <label for="city" class=" form-control-label">Name of Project</label>
                                        <input type="text" id="company" class="form-control">
                                    </div>
                                </div>
                                <div style="clear:both"></div>
                                <a href="#" class="btn btn-success btn-sm pull-right" style="margin-left:20px;">Search</a>

                                @*<a href="@Url.Action("ProjectRequestorDetails","ProjectValuationRequestor")" class="btn btn-success btn-sm pull-right">Add New</a>*@

                                <input type="button" onclick="SubmitProjectform()" value="Add New" class="btn btn-success btn-sm pull-right" />

                            </div>
                        </div>
                        <div class="card" id="banktab" runat="server">
                            <div class="card-body">
                                <div style="margin-bottom:10px;"> <span style="font-size:12px; color:#999999;">Note: show following table if bank name,branch name,customer name,department and customer id already present fetch data for subsequent valuation.& if data is not present then enter data for new request & show note record dosent exist</span> </div>
                                <div id="reatailindexbank">

                                </div>
                            </div>
                        </div>
                        <div class="card" id="retailtab" runat="server">
                            <div class="card-body">
                                <div style="margin-bottom:10px;"> <span style="font-size:12px; color:#999999;">Note: show following table for retail individual request if customer name,customer id & other data already present fetch data for subsequent valuation.& if data is not present then  show note record dosent exist & enter data for new request </span> </div>
                                <div id="reatailindex">

                                </div>
                                <a href="@Url.Action("RequestorDetails","NewRequestor")" class="btn btn-success btn-sm pull-right" onclick="subsequentreq()">next</a>
                                @*<input type="button" onclick="Subsequentreq()" value="Next" class="btn btn-success btn-sm pull-right" />*@
                                @*<div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead>
                                                <tr>

                                                </tr>
                                            </thead>

                                        </table>
                                        <a href="@Url.Action("RetailsProperty","Request")" class="btn btn-success btn-sm pull-right">next</a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@*Jquery coding*@

<script src="~/Scripts/jquery.min.js"></script>

@*<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">*@
@*<script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/jquery-ui.js"></script>
    <link href="~/Scripts/jquery-ui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-ui-sliderAccess.js"></script>
    <link href="~/Scripts/jquery-ui-timepicker-addon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>*@

<script type="text/javascript">

    var rb1 = "";
    var rb2 = "";

    $(document).ready(function () {

        //$('#datepicker1').datetimepicker({
        //    controlType: 'select',
        //    oneLine: true,
        //    timeFormat: 'HH:mm'
        //});
       // initial div
        $("#rbbank").click(function () {
            rb1= $(this).val()
            //alert(rb1);
            ShowHideDiv();
        });
        $("#rbindividual").click(function () {
             rb1 = $(this).val()
           // alert(rb1);
            ShowHideDiv();
        });
        $("#rbProjectevaluation").click(function () {
             rb1= $(this).val()
          //  alert(rb1);
            ShowHideDiv();
        });
        $("#rbProjectvaluation").click(function () {
             rb2 = $(this).val()
          //  alert(rb2);
            ShowHideDiv();
        });
        $("#rbProjectunitvaluation").click(function () {
             rb2 = $(this).val()
           // alert(rb2);
            ShowHideDiv();
        });
        $("#rbRetailvaluation").click(function () {
             rb2 = $(this).val()
          //  alert(rb2);
            ShowHideDiv();
        });

        if (rb1 == "Bank/NBFC" && rb2 == "Retail valuation") {
            $("#retail").hide(600);
            $("#retailtab").hide(600);
            $("#valuation").hide(200);

            $("#bank").show();
            $("#banktab").show();

        }
        else if (rb1 != " " && rb2 != " ") {

            $("#retail").show();
            $("#retailtab").show();
            $("#bank").hide();
            $("#banktab").hide();
        }
        else {
            $("#retail").hide();
            $("#retailtab").hide();
            $("#bank").hide();
            $("#banktab").hide();
        }





    });
    var AllValue = [];
    var AllValueRbt = [];
     function Submitform() {


            AllValue.push({
                CustomerName: $("#txtcustname").val(),
                ValuationRequestId: $("#txtvalreqid").val(),
                CustomerId: $("#txtcustid").val(),
                reqname: $("#txtreqname").val(),
                datepicker1: $("#datepicker1").val(),
                txtnamdocholder: $("#txtnamdocholder").val(),
            });


        var str = JSON.stringify(AllValue);

        $.ajax({
                            type: "POST",
                            url: '@Url.Action("AddRequestorDetails", "NewRequestor")',
                            data: { str: str},
                            Response: ContentType = 'application/json;charset=utf-8',
                            success: function (data) {
                             //   alert(data.Message)
                                // location.reload();
                                var val1 = rb1;
                                var val2 = rb2;
                                var url = '@Url.Action("RequestorDetails")';
                                window.location.href = url + "?rb1=" + val1 + "&rb2=" + val2;
                            },
                        });
    }
     var AllValueProjectVal = [];
     function SubmitProjectform() {

         //console.log(rb1);
         //console.log(rb2);
         //AllValueProjectVal.push({
         //    val1: rb1,
         //    val2: rb2,

         //   });


         //var str = JSON.stringify(AllValueProjectVal);

        $.ajax({
            type: "POST",
            url: '@Url.Action("AddProjectValuation", "ProjectValuationRequestor")',
            data: { rb1: rb1, rb2: rb2 },
           Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                var val1 = rb1;
                                var val2 = rb2;
                                var url = '@Url.Action("ProjectRequestorDetails", "ProjectValuationRequestor")';
                                window.location.href = url + "?rb1=" + val1 + "&rb2=" + val2;
                            },
                        });
    }

    var Serchname = "";
    function Searchform() {

        var row2 = "";
        Serchname = $("#txtcustname").val();
        Serchname1 = $("#txtcustid").val();
        //Serchname = $("#txtreqname").val(),
        //    Serchname = $("#datepicker1").val(),
        //    Serchname = $("#txtnamdocholder").val(),
        if (Serchname != null) {
            $.ajax({
                url: '@Url.Action("GetIndRetailorDetails", "NewRequestor")',
                data: { Serchname: Serchname },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    var searhlist = obj;

                   // alert(searhlist.length);
                    row2 += '<div class="table-responsive"><table class="table table-bordered"><thead><th width="36">&nbsp;</th><th width="163"> Request Id</th><th width="120"><strong>Customer / Application id</strong></th><th width="152"><strong>Name of customer</strong></th><th width="143">Requestor Name</th><th width="161">Date Of Request</th> <th width="161">Name of Document Holder</th></thead>'
                    if (searhlist.length > 0) {
                        row2 += ' <tbody id="reatailindexList">'
                        for (var i = 0; i < searhlist.length; i++) {

                            row2 += '<tr><div class="col-12 col-md-4"><div class="form-Group">'
                            row2 += '<td id="value0" ><input type="radio" id="Request_ID_' + [i] + '" name="Request_ID_" value=' + searhlist[i].Request_ID + ' onchange=getselectedradiobtn(' + searhlist[i].Request_ID + ') /></td>'

                            row2 += '<td id="value1" ><input type="text" class="form-control" id="Request_ID_' + [i] + '" name="Request_ID_' + [i] + '" value=' + searhlist[i].Request_ID + ' /></td>'
                            row2 += '<td id="value2" ><input type="text" class="form-control" id=Customer_Application_ID_' + i + ' name="Customer_Application_ID_' + [i] + '"  value=' + searhlist[i].Customer_Application_ID + '></td>'

                            row2 += '<td id="value3"><input type="text" class="form-control" id=Customer_Name_' + i + ' name="Customer_Name_' + [i] + '"  value=' + searhlist[i].Customer_Name + '></td>'
                            row2 += '<td id="value4"><input type="text" class="form-control" id=Requestor_Name_' + i + ' name="Requestor_Name_' + [i] + '"  value=' + searhlist[i].Requestor_Name + '></td>'
                            row2 += '<td id="value5"><input type="text" class="form-control" id=Request_Date_' + i + ' name="Request_Date_' + [i] + '"  value=' + searhlist[i].Request_Date + '></td>'
                            row2 += '<td id="value6"><input type="text" class="form-control" id=Document_Holder_Name_' + i + ' name="Document_Holder_Name_' + [i] + '"  value=' + searhlist[i].Document_Holder_Name + '></td>'

                            row2 += '</div></div></tr>'

                        }
                    }
                    else {
                        row2 += 'No Records Found'
                    }
                    row2 += '</table></div>'
                    //row2 +=   <input type = "button" onclick = "Subsequentreq()" value = "Next" class="btn btn-success btn-sm pull-right" />
                    var div = document.createElement('DIV');
                    div.innerHTML = row2;
                    document.getElementById("reatailindex").appendChild(div);
                },

            });
        }
        else {
             $.ajax({
                url: '@Url.Action("GetIndRetailorDetailsByAppID", "NewRequestor")',
                 data: { Serchname1: Serchname1 },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    var searhlist = obj;

                   // alert(searhlist.length);
                    row2 += '<div class="table-responsive"><table class="table table-bordered"><thead><th width="36">&nbsp;</th><th width="163"> Request Id</th><th width="120"><strong>Customer / Application id</strong></th><th width="152"><strong>Name of customer</strong></th><th width="143">Requestor Name</th><th width="161">Date Of Request</th> <th width="161">Name of Document Holder</th></thead>'
                    if (searhlist.length > 0) {
                        row2 += ' <tbody id="reatailindexList">'
                        for (var i = 0; i < searhlist.length; i++) {

                            row2 += '<tr><div class="col-12 col-md-4"><div class="form-Group">'
                            row2 += '<td id="value0" ><input type="radio" id="Request_ID_' + [i] + '" name="Request_ID_" value=' + searhlist[i].Request_ID + ' onchange=getselectedradiobtn(' + searhlist[i].Request_ID + ') /></td>'

                            row2 += '<td id="value1" ><input type="text" class="form-control" id="Request_ID_' + [i] + '" name="Request_ID_' + [i] + '" value=' + searhlist[i].Request_ID + ' /></td>'
                            row2 += '<td id="value2" ><input type="text" class="form-control" id=Customer_Application_ID_' + i + ' name="Customer_Application_ID_' + [i] + '"  value=' + searhlist[i].Customer_Application_ID + '></td>'

                            row2 += '<td id="value3"><input type="text" class="form-control" id=Customer_Name_' + i + ' name="Customer_Name_' + [i] + '"  value=' + searhlist[i].Customer_Name + '></td>'
                            row2 += '<td id="value4"><input type="text" class="form-control" id=Requestor_Name_' + i + ' name="Requestor_Name_' + [i] + '"  value=' + searhlist[i].Requestor_Name + '></td>'
                            row2 += '<td id="value5"><input type="text" class="form-control" id=Request_Date_' + i + ' name="Request_Date_' + [i] + '"  value=' + searhlist[i].Request_Date + '></td>'
                            row2 += '<td id="value6"><input type="text" class="form-control" id=Document_Holder_Name_' + i + ' name="Document_Holder_Name_' + [i] + '"  value=' + searhlist[i].Document_Holder_Name + '></td>'

                            row2 += '</div></div></tr>'

                        }
                    }
                    else {
                        row2 += 'No Records Found'
                    }
                    row2 += '</table></div>'
                    //row2 +=   <input type = "button" onclick = "Subsequentreq()" value = "Next" class="btn btn-success btn-sm pull-right" />
                    var div = document.createElement('DIV');
                    div.innerHTML = row2;
                    document.getElementById("reatailindex").appendChild(div);
                },

            });
        }
    }


    var Request_ID="";
    function getselectedradiobtn(i) {
      //  var ele = document.getElementsByName('Request_ID_');
        var Request_ID = i;

      //  alert(Request_ID);
         $.ajax({
                            type: "POST",
                            url: '@Url.Action("GetRequestorDetailsByReqID", "NewRequestor")',
                            data: { Request_ID: Request_ID},
                            Response: ContentType = 'application/json;charset=utf-8',
                            success: function (data) {
                                alert(data.Message)
                               // location.reload();
                                var url = '@Url.Action("SubsequesntRequestorDetails")';
                                window.location.href = url;
                            },
                        });
        //if ($(this).is(":checked")) { // check if the radio is checked
        //    var val = $(this).val(); // retrieve the value
        //    $('#Request_ID_' + i).prop("checked", true);

        //}

    }

    function subsequentreq() {

        var TrCount = $("#reatailindex tr").length;

       // alert(TrCount)
        for (var i = 0; i < TrCount; i++) {
            var requestindex = [];
            requestindex.push({
                RequestId_ID: $("#reatailindex tr #value0 input").eq(i).val(),
            });
        }

        var str = JSON.stringify(requestindex);

    }

    ///Priyanka 13-06-2020
    function ShowHideDiv() {
        if (rb1 == "Bank/NBFC" && rb2 == "Retail valuation") {
            $("#retail").hide(600);
            $("#retailtab").hide(600);

            $("#valuation").hide(600);
            $("#bank").show();
            $("#banktab").show();

        }



      else  if (rb1 == "Bank/NBFC" && rb2 == "Project valuation") {
            $("#retail").hide(600);
            $("#retailtab").hide(600);

            $("#valuation").show(600);
            $("#bank").hide();
            $("#banktab").hide();

        }

     else   if (rb1 == "Bank/NBFC" && rb2 == "Project unit valuation") {


            $("#valuation").hide(600);
            $("#retail").show(600);
            $("#retailtab").hide(600);

            $("#valuation").hide(600);
            $("#bank").hide();
            $("#banktab").show();

        }

      else  if (rb1 == "Individual" && rb2 == "Retail valuation") {
            $("#retail").hide(600);
            $("#retailtab").hide(600);
            $("#valuation").hide(600);
            $("#valuation").hide(600);
            $("#bank").show();
            $("#banktab").show();

        }


        else if (rb1 == "Individual" && rb2 == "Project unit valuation") {
            $("#retail").hide(600);
            $("#retailtab").hide(600);
            $("#valuation").hide(600);
            $("#valuation").hide(600);
            $("#bank").hide();
            $("#banktab").hide();

        }
       else if (rb1 == "Project evaluation " && rb2 == "Project unit valuation" || rb2 == "Project valuation" || rb2 == "Retail valuation" ) {

            $("#retail").hide(600);
            $("#retailtab").hide(600);
            $("#valuation").hide(600);
            $("#valuation").hide(600);
            $("#bank").hide();
            $("#banktab").hide();
        }

        else if (rb1 == "Bank/NBFC" && rb2 == "Project unit valuation") {

            $("#retail").show();
            $("#retailtab").show();
            $("#bank").hide();
            $("#banktab").hide();

        }
    }
    function AddNewBankRetailsValuation() {


            AllValue.push({
                CustomerName: $("#txtcustname").val(),
                ValuationRequestId: $("#txtvalreqid").val(),
                CustomerId: $("#txtcustid").val(),
                reqname: $("#txtreqname").val(),
                datepicker1: $("#datepicker1").val(),
                txtnamdocholder: $("#txtnamdocholder").val(),
            });


        var str = JSON.stringify(AllValue);

        $.ajax({
                            type: "POST",
                            url: '@Url.Action("AddRequestorDetails", "NewRequestor")',
                            data: { str: str},
                            Response: ContentType = 'application/json;charset=utf-8',
                            success: function (data) {
                             //   alert(data.Message)
                                // location.reload();
                                var val1 = rb1;
                                var val2 = rb2;
                                var url = '@Url.Action("RequestorDetails")';
                                window.location.href = url + "?rb1=" + val1 + "&rb2=" + val2;
                            },
                        });
    }





      function Searchformbank() {

        var row2 = "";
          bankname = $("#txtbankname").val();
          custappid = $("#txtcustappid").val();
        //Serchname = $("#txtreqname").val(),
        //    Serchname = $("#datepicker1").val(),
        //    Serchname = $("#txtnamdocholder").val(),
        if (Serchname != null) {
            $.ajax({
                url: '@Url.Action("GetIndRetailorDetailsbank", "NewRequestor")',
                data: { bankname: bankname, custappid: custappid },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    var searhlist = obj;

                   // alert(searhlist.length);
                    row2 += '<div class="table-responsive"><table class="table table-bordered"><thead><th width="36">&nbsp;</th><th width="163"> Request Id</th><th width="120"><strong>Customer / Application id</strong></th><th width="152"><strong>Name of customer</strong></th><th width="143">Requestor Name</th><th width="161">Date Of Request</th> <th width="161">Name of Document Holder</th></thead>'
                    if (searhlist.length > 0) {
                        row2 += ' <tbody id="reatailindexList">'
                        for (var i = 0; i < searhlist.length; i++) {

                            row2 += '<tr><div class="col-12 col-md-4"><div class="form-Group">'
                            row2 += '<td id="value0" ><input type="radio" id="Request_ID_' + [i] + '" name="Request_ID_" value=' + searhlist[i].Request_ID + ' onchange=getselectedradiobtn(' + searhlist[i].Request_ID + ') /></td>'

                            row2 += '<td id="value1" ><input type="text" class="form-control" id="Request_ID_' + [i] + '" name="Request_ID_' + [i] + '" value=' + searhlist[i].Request_ID + ' /></td>'
                            row2 += '<td id="value2" ><input type="text" class="form-control" id=Customer_Application_ID_' + i + ' name="Customer_Application_ID_' + [i] + '"  value=' + searhlist[i].Customer_Application_ID + '></td>'

                            row2 += '<td id="value3"><input type="text" class="form-control" id=Customer_Name_' + i + ' name="Customer_Name_' + [i] + '"  value=' + searhlist[i].Customer_Name + '></td>'
                            row2 += '<td id="value4"><input type="text" class="form-control" id=Requestor_Name_' + i + ' name="Requestor_Name_' + [i] + '"  value=' + searhlist[i].Requestor_Name + '></td>'
                            row2 += '<td id="value5"><input type="text" class="form-control" id=Request_Date_' + i + ' name="Request_Date_' + [i] + '"  value=' + searhlist[i].Request_Date + '></td>'
                            row2 += '<td id="value6"><input type="text" class="form-control" id=Document_Holder_Name_' + i + ' name="Document_Holder_Name_' + [i] + '"  value=' + searhlist[i].Document_Holder_Name + '></td>'
                            row2 += '<td id="value7" ><input type="text" class="form-control" id=Valuation_Request_ID_' + i + ' name="Valuation_Request_ID_' + [i] + '"  value=' + searhlist[i].Valuation_Request_ID + '></td>'

                            row2 += '</div></div></tr>'

                        }
                    }
                    else {
                        row2 += 'No Records Found'
                    }
                    row2 += '</table></div>'
                    //row2 +=   <input type = "button" onclick = "Subsequentreq()" value = "Next" class="btn btn-success btn-sm pull-right" />
                    var div = document.createElement('DIV');
                    div.innerHTML = row2;
                    document.getElementById("reatailindexbank").appendChild(div);
                },

            });
          }
    }
</script>
