﻿
@{
    ViewBag.Title = "AddRequestorDetails";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Requestor Details</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 padd0">
                            <div class="card">
                                <div class="card-body card-block">
                                    <!-- Tab panes -->
                                    <div class="wizard">
                                        <div class="py-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul id="tabsJustified" class="nav nav-tabs">
                                                        <li class="nav-item active"><a href="" data-target="#UnitDetails" data-toggle="tab" class="nav-link small text-uppercase active" aria-expanded="true">Requestor details</a></li>
                                                        <li class="nav-item"><a href="" data-target="#UnitPrice" data-toggle="tab" class="nav-link small text-uppercase" aria-expanded="false">upload documents</a></li>
                                                        <li class="nav-item"><a href="" data-target="#assignrequest" data-toggle="tab" class="nav-link small text-uppercase" aria-expanded="false">Assign Request</a></li>
                                                    </ul>
                                                    <br>
                                                    <div id="tabsJustifiedContent" class="tab-content">
                                                        <div id="UnitDetails" class="tab-pane active in">
                                                            <div class="pb-2">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-12" style="margin-bottom:10px;">

                                                                        </div>
                                                                        <div style="clear:both;"></div>
                                                                        <div class="card" visible="false">
                                                                            <div class="card-body card-block">
                                                                                <div class="col-md-12" style="margin-bottom:10px;"> <span style="font-size:12px; color:#999999;">Note: show following details for retail request from bank</span> </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Name of the Bank / HFC</label>
                                                                                        <input type="text" id="company" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Branch Name </label>
                                                                                        <input type="text" id="company" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Department </label>
                                                                                        <select name="" class="form-control">
                                                                                            <option>Select</option>
                                                                                            <option>IT</option>
                                                                                            <option>Builders</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Type of Loan /Loan Transaction Type </label>
                                                                                        <select name="" class="form-control">
                                                                                            <option>Home Loan </option>
                                                                                            <option>Construction Loan </option>
                                                                                            <option>LAP </option>
                                                                                            <option>Home Improvement </option>
                                                                                            <option>Industrial Loan </option>
                                                                                            <option>Agricultural Loan </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Name of customer</label>
                                                                                        <input type="text" id="company" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Customer / Application id </label>
                                                                                        <input type="text" id="company" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Email Id</label>
                                                                                        <input type="text" id="company" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Contact Number 1</label>
                                                                                        <input type="text" id="company" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Contact Number 2</label>
                                                                                        <input type="text" id="company" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Name of requestor</label>
                                                                                        <input type="text" id="company" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Date Of Request</label>
                                                                                        <form>
                                                                                            <input type="text" value="" id="datepicker1" class="form-control">
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Valuation Request Id</label>
                                                                                        <input type="text" id="company" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Name of Document Holder/Property Owner </label>
                                                                                        <input type="text" id="company" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Type Of Ownership </label>
                                                                                        <select name="" class="form-control">
                                                                                            <option>Select</option>
                                                                                            <option>Free hold </option>
                                                                                            <option>Leased </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="country" class=" form-control-label">Valuation Type</label>
                                                                                        <select class="form-control">
                                                                                            <option value="" label="select"></option>
                                                                                            <option>Retail Valuation</option>
                                                                                            <option>APF Valuation</option>
                                                                                            <option>Project Valuation(CF)</option>
                                                                                            <option>Technical Due Diligence</option>
                                                                                            <option>Project Monitoring</option>
                                                                                            <option>Arbitartion Support</option>
                                                                                            <option>Project Feasibility Report</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="country" class=" form-control-label">Report Type</label>
                                                                                        <select class="form-control">
                                                                                            <option value="" label="select"></option>
                                                                                            <option>Multiunit Property</option>
                                                                                            <option>Standalone Builtunit</option>
                                                                                            <option>Standalone Under Construction </option>
                                                                                            <option>Vacant Land</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Method of Valuation</label>
                                                                                        <select name="" class="form-control">
                                                                                            <option>Select</option>
                                                                                            <option>Internal Site Visit </option>
                                                                                            <option>External Site Visit </option>
                                                                                            <option>Desktop </option>
                                                                                            <option>Drive Through </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div style="clear:both;"></div>
                                                                                <a href="#" class="btn btn-success btn-sm pull-right">Submit</a>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card" visible="true">
                                                                            <div class="card-body card-block">

                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Name of customer</label>
                                                                                        <input type="text" @ViewBag.CustomerName id="txtname" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Customer / Application id </label>
                                                                                        <input type="text" id="txtcustid" @ViewBag.CustomerId class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Email Id</label>
                                                                                        <input type="text" id="txtemilid" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Contact Number 1</label>
                                                                                        <input type="text" id="txtcontactno1" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Contact Number 2</label>
                                                                                        <input type="text" id="txtcontactno2" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Date Of Request</label>
                                                                                        <form>
                                                                                            <input type="text" value="" id="datepicker1" @ViewBag.datepicker1 class="form-control">
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Valuation Request Id</label>
                                                                                        <input type="text" id="txtvalreqid" @ViewBag.ValuationRequestId class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Name of Document Holder/Property Owner </label>
                                                                                        <input type="text" id="txtdocholder" @ViewBag.txtnamdocholder class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Type Of Ownership </label>
                                                                                        <select name="" class="form-control">
                                                                                            <option>Select</option>
                                                                                            <option>Free hold </option>
                                                                                            <option>Leased </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="country" class=" form-control-label">Valuation Type</label>
                                                                                        <select class="form-control">
                                                                                            <option value="" label="select"></option>
                                                                                            <option>Retail Valuation</option>
                                                                                            <option>APF Valuation</option>
                                                                                            <option>Project Valuation(CF)</option>
                                                                                            <option>Technical Due Diligence</option>
                                                                                            <option>Project Monitoring</option>
                                                                                            <option>Arbitartion Support</option>
                                                                                            <option>Project Feasibility Report</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="country" class=" form-control-label">Report Type</label>
                                                                                        <select class="form-control">
                                                                                            <option value="" label="select"></option>
                                                                                            <option>Multiunit Property</option>
                                                                                            <option>Standalone Builtunit</option>
                                                                                            <option>Standalone Under Construction </option>
                                                                                            <option>Vacant Land</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Method of Valuation</label>
                                                                                        <select name="" class="form-control">
                                                                                            <option>Select</option>
                                                                                            <option>Internal Site Visit </option>
                                                                                            <option>External Site Visit </option>
                                                                                            <option>Desktop </option>
                                                                                            <option>Drive Through </option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>

<div style="clear:both;"></div>
                                                                                <a href="#" class="btn btn-success btn-sm pull-right">Submit</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="UnitPrice" class="tab-pane fade">
                                                            <div>
                                                                <div class="col-12" style="margin-bottom:10px;">

                                                                </div>
                                                                <div class="card">
                                                                    <div class="card-body card-block">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="table-responsive">
                                                                                    <table class="table table-striped table-bordered">

                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td colspan="4"><strong>List of documents</strong></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td width="35">
                                                                                                    <label>
                                                                                                        <input type="checkbox" name="checkbox" id="checkbox" />
                                                                                                    </label>
                                                                                                </td>
                                                                                                <td width="78"><strong>Sr.no</strong></td>
                                                                                                <td width="339"><strong>Name of document</strong></td>
                                                                                                <td width="206"><strong>Upload</strong></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><input type="checkbox" name="checkbox2" id="checkbox2" /></td>
                                                                                                <td>01</td>
                                                                                                <td width="339">Sale deed / agreement to sale</td>
                                                                                                <td width="206"><input name="" type="file" class="form-control" style="margin-bottom:10px;"></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><input type="checkbox" name="checkbox3" id="checkbox3" /></td>
                                                                                                <td>02</td>
                                                                                                <td>
                                                                                                    <label>Approved Plan</label>
                                                                                                </td>
                                                                                                <td><input name="input" type="file" class="form-control" style="margin-bottom:10px;" /></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><input type="checkbox" name="checkbox4" id="checkbox4" /></td>
                                                                                                <td>03</td>
                                                                                                <td width="339">NA Order</td>
                                                                                                <td width="206"><input name="input2" type="file" class="form-control" style="margin-bottom:10px;" /></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><input type="checkbox" name="checkbox5" id="checkbox5" /></td>
                                                                                                <td>04</td>
                                                                                                <td>Layout</td>
                                                                                                <td><input name="input3" type="file" class="form-control" style="margin-bottom:10px;" /></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><input type="checkbox" name="checkbox6" id="checkbox6" /></td>
                                                                                                <td>05</td>
                                                                                                <td>
                                                                                                    <label>Commencement Certificate</label>
                                                                                                </td>
                                                                                                <td><input name="input4" type="file" class="form-control" style="margin-bottom:10px;" /></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><input type="checkbox" name="checkbox7" id="checkbox7" /></td>
                                                                                                <td>06</td>
                                                                                                <td>Completion / Occupancy Certificate</td>
                                                                                                <td><input name="input5" type="file" class="form-control" style="margin-bottom:10px;" /></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><input type="checkbox" name="checkbox8" id="checkbox8" /></td>
                                                                                                <td>07</td>
                                                                                                <td>Extra Amenities agreement</td>
                                                                                                <td><input name="input6" type="file" class="form-control" style="margin-bottom:10px;" /></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><input type="checkbox" name="checkbox9" id="checkbox9" /></td>
                                                                                                <td>08</td>
                                                                                                <td>Builder Cost Sheet</td>
                                                                                                <td><input name="input7" type="file" class="form-control" style="margin-bottom:10px;" /></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td><input type="checkbox" name="checkbox10" id="checkbox10" /></td>
                                                                                                <td>09</td>
                                                                                                <td>Any other Documents</td>
                                                                                                <td><input name="input8" type="file" class="form-control" style="margin-bottom:10px;" /></td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="subtitle">Add New document in list of documents</div>
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Document Name:</label>
                                                                                            <input type="text" id="company" class="form-control">

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4" style="padding-top:75px;">
                                                                                        <a href="#" class="btn btn-success btn-sm">Add</a>
                                                                                    </div>
                                                                                    <div style="clear:both"></div>
                                                                                    <a href="#" class="btn btn-success btn-sm pull-right">Submit</a>


                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="assignrequest" class="tab-pane fade">
                                                            <div>
                                                                <div class="col-12" style="margin-bottom:10px;">

                                                                </div>
                                                                <div class="card">
                                                                    <div class="card-body card-block">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Site Engineer</label>
                                                                                        <select name="" class="form-control" id="siteenginer">
                                                                                            <option value="1">ABC</option>
                                                                                            <option value="2">XYZ</option>
                                                                                            <option value="3">jklm</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Data Entery Operator</label>
                                                                                        <select name="" class="form-control">
                                                                                            <option>ABC</option>
                                                                                            <option>XYZ</option>
                                                                                            <option>ABC</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <a href="#" class="btn btn-success btn-sm" style="margin-top:25px;">Assign</a>

                                                                                <div style="clear:both"></div>
                                                                                <a href="retail-project-master.html" class="btn btn-success btn-sm pull-right">Submit</a>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="~/Scripts/jquery.min.js"></script>
@*<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/jquery-ui.js"></script>
<link href="~/Scripts/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-sliderAccess.js"></script>
<link href="~/Scripts/jquery-ui-timepicker-addon.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript">
    $('#datepicker1').datetimepicker({
        controlType: 'select',
        oneLine: true,
        timeFormat: 'HH:mm'
    });
</script>*@