﻿@model I_Value.WebApp.Models.ViewModelRequest

@{
    ViewBag.Title = "RequestorView";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="col-md-12">

        @if (TempData["Embed"] != null)
        {
            @MvcHtmlString.Create(TempData["Embed"].ToString())
        }
    </div>
</body>


</html>
