﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Footer</title>
</head>
<body>
    <div> 
        <hr style="border:1px solid;"/><br />
        Ivalue Date:31-07-2020
    </div>
</body>
</html>
