﻿@model I_Value.WebApp.Models.ViewModelRequest

@{
    ViewBag.Title = "RequestorView";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Requestor Details</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 padd0">
                            <div class="card">
                                <div class="card-body card-block">
                                    <!-- Tab panes -->
                                    <div class="wizard">
                                        <div class="py-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul id="tabsJustified" class="nav nav-tabs">
                                                        <li class="nav-item active" id="details"><a href="#UnitDetails" data-target="#UnitDetails" data-toggle="tab" class="nav-link small text-uppercase active" aria-expanded="true">Requestor details</a></li>
                                                        <li class="nav-item" id="uploaddoc"><a href="#UnitPrice" data-target="#UnitPrice" data-toggle="tab" class="nav-link small text-uppercase" aria-expanded="false">upload documents</a></li>
                                                        <li class="nav-item" id="assign"><a href="#assignrequest" data-target="#assignrequest" data-toggle="tab" class="nav-link small text-uppercase" aria-expanded="false">Assign Request</a></li>
                                                    </ul>
                                                    <br>
                                                    <div id="tabsJustifiedContent" class="tab-content">
                                                        <div id="UnitDetails" class="tab-pane active in">
                                                            <div class="pb-2">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-12" style="margin-bottom:10px;">

                                                                        </div>
                                                                        <div style="clear:both;"></div>
                                                                        @if (ViewBag.Client_Name != null && ViewBag.Client_Name != "")
                                                                        {
                                                                            <div class="card" id="bank">
                                                                                <div class="card-body card-block">
                                                                                    @*<div class="col-md-12" style="margin-bottom:10px;"> <span style="font-size:12px; color:#999999;">Note: show following details for retail request from bank</span> </div>*@
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of the Bank / HFC</label>
                                                                                            <input type="text" id="txtNameBank" value="@ViewBag.Client_Name" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Branch Name </label>
                                                                                            <input type="text" id="txtBranchName" value="@ViewBag.Branch_Name" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Visit Allocation Department </label>
                                                                                            <input type="text" id="txtDepartment" value="@ViewBag.Department" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Type of Loan /Loan Transaction Type </label>
                                                                                            <input type="textLoanType" value="@ViewBag.Loan_Type" id="txtname" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date Of Request</label>
                                                                                            <form>
                                                                                                <input id="txtDateOfRequest" value=@ViewBag.Request_Date class="form-control" readonly>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date of Inspection</label>
                                                                                            <form>
                                                                                                <input id="txtDateOfRequest" value=@ViewBag.Date_of_Inspection class="form-control" readonly>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date of Valuation</label>
                                                                                            <form>
                                                                                                <input id="txtDateOfRequest" value=@ViewBag.Date_of_Valuation class="form-control" readonly>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Valuation Request Id</label>
                                                                                            <input type="text" id="txtValuationRequestId" value="@ViewBag.Valuation_Request_ID" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div style="clear:both"></div>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of customer</label>
                                                                                            <input type="text" value="@ViewBag.Customer_Name" id="txtname" class="form-control" readonly>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <input type="text" class="form-control" value="@ViewBag.Customer_Name_1" id="txtname1" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Contact Number 1</label>
                                                                                            <input type="text" id="txtcontactno1" value="@ViewBag.Customer_Contact_No_1" class="form-control" readonly>
                                                                                        </div>
                                                                                        <div>
                                                                                            <input type="text" id="txtcontactno2" value="@ViewBag.Customer_Contact_No_2" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div style="clear:both"></div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Customer / Application id </label>
                                                                                            <input type="text" id="txtcustid" value="@ViewBag.Customer_Application_ID" text="@ViewBag.Customer_Application_ID" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Email Id</label>
                                                                                            <input type="text" id="txtemilid" value="@ViewBag.Email_ID" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of requestor</label>
                                                                                            <input type="text" value="@ViewBag.Requestor_Name" id="txtname" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>



                                                                                    <div class="col-12 col-md-4" style="display:none;">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Type of Ownership </label>
                                                                                            <input type="text" id="txtTypeOfOwnership" value="@ViewBag.Selectedtypeofownership" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4" style="display:none;">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Balance Lease period (No of Years)   </label>
                                                                                            <input type="text" id="txtTypeOfOwnership" value="@ViewBag.Selectedtypeofownership" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="country" class=" form-control-label">Valuation Type</label>
                                                                                            <input type="text" id="txtValuationType" value="@ViewBag.ValuationType" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="country" class=" form-control-label">Report Type</label>
                                                                                            <input type="text" id="txtReportType" value="@ViewBag.ReportType" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Method of Valuation</label>
                                                                                            <input type="text" id="txtMethodValuation" value="@ViewBag.Method_of_Valuation" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of Document Holder/Property Owner </label>
                                                                                            <input type="text" id="txtNameDocumentHolder" value="@ViewBag.Document_Holder_Name" class="form-control" readonly>
                                                                                        </div>
                                                                                        <div class="form-group" style="display:none">
                                                                                            <input type="text" id="txtdocholder1" class="form-control" value="@ViewBag.Document_Holder_Name_1" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div style="clear:both"></div>
                                                                                    <div class="col-md-6">
                                                                                        <div class="table-responsive">
                                                                                            <table class="table table-striped table-bordered">
                                                                                                <thead>
                                                                                                    <tr>
                                                                                                        <th width="30">Sr No</th>

                                                                                                        <th width="200">Document Holder Name </th>
                                                                                                        @*<th width="150">Edit </th>
                            <th width="150">Delete</th>*@

                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody id="idDeptTbody">
                                                                                                    @for (int idx = 0; idx < Model.ival_DocHolderNames.Count; idx++)
                                                                                                    {
                                                                                                        <tr id="RowId_@Model.ival_DocHolderNames[idx].SrNo">
                                                                                                            <td width="150">
                                                                                                                @Html.DisplayFor(modelItem => Model.ival_DocHolderNames[idx].SrNo)
                                                                                                            </td>


                                                                                                            <td id="Name">
                                                                                                                @Html.DisplayFor(modelItem => Model.ival_DocHolderNames[idx].DocHolderName)
                                                                                                            </td>

                                                                                                            @*<td>
                                    <a>
                                        <i class="fa fa-edit" aria-hidden="true" onclick="EditRow( '@Model.ival_DocHolderNames[idx].DocHolderName');"></i>
                                    </a>
                                <td>
                                    <a>
                                        <i class="fa fa-trash" aria-hidden="true" onclick="DeleteRow(@Model.ival_DocHolderNames[idx].SrNo);"></i>
                                    </a>
                                </td>*@
                                                                                                            @* <td>
                                    <a>
                                        <i class="fa fa-trash" aria-hidden="true" onclick="Delete(@Model.ival_DepartmentList1[idx].Row_ID);"></i>
                                    </a>
                                </td>*@
                                                                                                        </tr>
                                                                                                    }
                                                                                                    @*<tr>
                            <td>1</td>
                            <td width="80">Home loan</td>
                            <td width="122">Manik Kulkarni</td>
                            <td width="111">985699989</td>$
                            <td width="105">Manager</td>
                            <td width="99">manikkulkarni@gmail.com</td>
                            <td><a href="#"><i class="fa fa-trash"></i></a></td>
                        </tr>*@

                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div style="clear:both;"></div>
                                                                                    @*<a href="#" class="btn btn-success btn-sm pull-right">Submit</a>*@
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="card" id="retail">
                                                                                <div class="card-body card-block">
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Customer / Application id </label>
                                                                                            <input type="text" id="txtcustid" value="@ViewBag.Customer_Application_ID" text="@ViewBag.Customer_Application_ID" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Valuation Request Id</label>
                                                                                            <input type="text" id="txtvalreqid" value="@ViewBag.Valuation_Request_ID" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date Of Request</label>
                                                                                            <form>
                                                                                                <input id="datepicker1" value=@ViewBag.Request_Date class="form-control" readonly>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date of Inspection</label>
                                                                                            <form>
                                                                                                <input id="txtDateOfRequest" value=@ViewBag.Date_of_Inspection class="form-control" readonly>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date of Valuation</label>
                                                                                            <form>
                                                                                                <input id="txtDateOfRequest" value=@ViewBag.Date_of_Valuation class="form-control" readonly>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div style="clear:both"></div>


                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Valuation Request Id</label>
                                                                                            <input type="text" id="txtValuationRequestId" value="@ViewBag.Valuation_Request_ID" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div style="clear:both"></div>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of customer</label>
                                                                                            <input type="text" value="@ViewBag.Customer_Name" id="txtname" maxlength="200" class="form-control" readonly>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <input type="text" class="form-control" value="@ViewBag.Customer_Name_1" id="txtname1" readonly>
                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Contact Number 1</label>
                                                                                            <input type="text" id="txtcontactno1" value="@ViewBag.Customer_Contact_No_1" class="form-control" readonly>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <input type="text" id="txtcontactno2" value="@ViewBag.Customer_Contact_No_2" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of Document Holder/Property Owner </label>
                                                                                            <input type="text" id="txtdocholder" value="@ViewBag.Document_Holder_Name" class="form-control" readonly>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <input type="text" id="txtdocholder1" class="form-control" value="@ViewBag.Document_Holder_Name_1" readonly>
                                                                                        </div>
                                                                                    </div>



                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Email Id</label>
                                                                                            <input type="text" id="txtemilid" value="@ViewBag.Email_ID" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of Requestor</label>
                                                                                            <input type="text" id="txtnameofrequestor" class="form-control" value="@ViewBag.Requestor_Name" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Type Of Ownership </label>
                                                                                            <input type="text" id="txtdocholder" value="@ViewBag.Selectedtypeofownership" class="form-control" readonly>
                                                                                            @*@Html.DropDownListFor(x => Model.Selectedtypeofownership, new SelectList(Model.ival_LookupCategoryValuestypeofownership, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlowner" })*@
                                                                                            @*@Html.DropDownListFor(model => model.ival_LookupCategoryValuestypeofownership, (IEnumerable<SelectListItem>)ViewBag.ival_LookupCategoryValuestypeofownership, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="country" class=" form-control-label">Valuation Type</label>
                                                                                            <input type="text" id="txtdocholder" value="@ViewBag.ValuationType" maxlength="200" class="form-control" readonly>
                                                                                            @*@Html.DropDownListFor(x => Model.Selectedvaluationtype, new SelectList(Model.ival_LookupCategoryValuesvaluationtype, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlvaltypepropertymaster" })*@

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="country" class=" form-control-label">Report Type</label>
                                                                                            <input type="text" id="txtdocholder" value="@ViewBag.ReportType" maxlength="200" class="form-control" readonly>
                                                                                            @*@Html.DropDownListFor(x => Model.Selectedreporttype, new SelectList(Model.ival_LookupCategoryValuesreporttype, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlreporttype" })*@

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Method of Valuation</label>
                                                                                            <input type="text" id="txtdocholder" value="@ViewBag.Method_of_Valuation" maxlength="200" class="form-control" readonly>
                                                                                            @*@Html.DropDownListFor(x => Model.Selectedmethodvaluation, new SelectList(Model.ival_LookupCategoryValuesmethodvaluation, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlmethodval" })*@

                                                                                        </div>
                                                                                    </div>

                                                                                    <div style="clear:both;"></div>
                                                                                    @*<input type="button" onclick="Submitformrequest()" value="Submit" class="btn btn-success btn-sm pull-right" />*@
                                                                                    @*<a href="#" class="btn btn-success btn-sm pull-right">Submit</a>*@
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                    <input type="submit" onclick="doTab2()" class="btn btn-success btn-sm pull-right" value="Next" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="UnitPrice" class="tab-pane fade">
                                                            <div>
                                                                <div class="col-12" style="margin-bottom:10px;">

                                                                </div>
                                                                <div class="card">
                                                                    <div class="card-body card-block">
                                                                        <div class="col-md-12">
                                                                            <div class="row">

                                                                                <div class="table-responsive">
                                                                                    <table class="table table-striped table-bordered">

                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th width="6%" style="display:none;" scope="col">Sr.No</th>
                                                                                                <th width="27%" scope="col">Name of document</th>
                                                                                                <th width="25%" scope="col">Upload</th>
                                                                                                <th width="20%" scope="col">Approval authority</th>
                                                                                                <th width="20%" scope="col">Date Of Approval</th>
                                                                                                <th width="15%" scope="col">Approval No</th>
                                                                                                <th width="20%" scope="col">View Document</th>


                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody id="tbluploaddoc">
                                                                                            @for (int idx = 0; idx < Model.ival_Document_Uploaded_ListS.Count; idx++)
                                                                                            {
                                                                                                <tr>
                                                                                                    <td id="value1" style="display:none">
                                                                                                        <input style="display:none" type="text" id="ival_Document_Uploaded_ListS_+@idx" name="ival_Document_Uploaded_ListS_+@idx" value="@Model.ival_Document_Uploaded_ListS[idx].Document_ID" />
                                                                                                    </td>
                                                                                                    <td id="valueDocid" style="display:none">
                                                                                                        <label>@Model.ival_Document_Uploaded_ListS[idx].Document_ID</label>


                                                                                                    </td>
                                                                                                    <td id="valuedocname">
                                                                                                        <label id="lbldocname">@Model.ival_Document_Uploaded_ListS[idx].Document_Name</label>


                                                                                                    </td>
                                                                                                    <td id="value2">
                                                                                                        <label>@Model.ival_Document_Uploaded_ListS[idx].Uploaded_Document</label>
                                                                                                    </td>

                                                                                                    <td id="valueapprovalauthority">
                                                                                                        <label>@Model.ival_Document_Uploaded_ListS[idx].Approval_Authority</label>
                                                                                                    </td>

                                                                                                    <td id="valuedateofapproval">
                                                                                                        <label>@Model.ival_Document_Uploaded_ListS[idx].Date_Of_ApprovalNew</label>
                                                                                                    </td>

                                                                                                    <td id="valueapprovalnum">
                                                                                                        <label>@Model.ival_Document_Uploaded_ListS[idx].Approval_Number</label>
                                                                                                    </td>
                                                                                                    <td id="valueviewdoc">

                                                                                                        <input type="submit" onclick='ViewDoc(@idx,"@Model.ival_Document_Uploaded_ListS[idx].Uploaded_Document.ToString()")' class="btn btn-file btn-sm" value="View Document" />
                                                                                                        <div id="DOC1"></div>

                                                                                                    </td>
                                                                                                </tr>
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>

                                                                                    @*<div class="col-12 col-md-4">
                                                                                            <div class="subtitle">Add New document in list of documents</div>

                                                                                            <div class="form-group">
                                                                                                <label for="company" class=" form-control-label">Document Name:</label>
                                                                                                <input type="text" id="txtnewdocname" class="form-control">

                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="col-12 col-md-4" style="padding-top:75px;">
                                                                                            <input type="submit" onclick="AddNewTab()" class="btn btn-success btn-sm" value="Add" />
                                                                                        </div>*@
                                                                                    <div style="clear:both"></div>
                                                                                    @*<a href="#" class="btn btn-success btn-sm pull-right">Submit</a>*@
                                                                                    @*<input type="submit" onclick="Uploadfiles()" class="btn btn-success btn-sm pull-right" value="Submit" />*@

                                                                                </div>


                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <input type="submit" onclick="doTab()" class="btn btn-success btn-sm pull-right" value="Next" />
                                                        </div>

                                                        <div id="assignrequest" class="tab-pane fade">
                                                            <div>
                                                                <div class="col-12" style="margin-bottom:10px;">

                                                                </div>
                                                                <div class="card">
                                                                    <div class="card-body card-block">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Site Engineer</label>
                                                                                        <input type="text" id="siteenginner" value="@ViewBag.AssignedToEmpID" class=" form-control" readonly>
                                                                                        @*<select name="" class="form-control">
                                                                                                <option>ABC</option>
                                                                                                <option>XYZ</option>
                                                                                                <option>ABC</option>
                                                                                            </select>*@
                                                                                    </div>
                                                                                </div>

                                                                                @*<a href="#" class="btn btn-success btn-sm" style="margin-top:25px;">Assign</a>*@

                                                                                <div style="clear:both"></div>
                                                                                <a href="@Url.Action("PropertydetailsView","NewRequestor")" class="btn btn-success btn-sm pull-right">Next</a>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- .animated -->
                            </div>
                            <!-- Default box -->
                            <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<script type="text/javascript">
    function ViewDoc(i,docname) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DownloadView", "NewRequestor")?docname=' + docname,  //"/NewRequestor/DownloadView",
            data: {},
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                debugger;
                if (response == "Exist") {
                    window.open('../DownloadPDF')
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    }
</script>
<!-- /.content-wrapper -->
<script src="~/Scripts/jquery.min.js"></script>
@*<script type="text/javascript" src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
    <link href="~/Scripts/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-ui-sliderAccess.js"></script>*@
<script type="text/javascript">

    $(document).ready(function () {



        $("#txtcustname").text = '@ViewBag.CustomerName'

        $("#txtcustid").text ='@ViewBag.CustomerId'
        $("#ValuationRequestId").text ='@ViewBag.ValuationRequestId'
        $("#datepicker1").text ='@ViewBag.datepicker1'
        $("#txtnamdocholder").text = '@ViewBag.txtnamdocholder'

       // $("#ddlowner").text='@ViewBag.Type_Of_Ownership'
        //$("#ddlvaltypepropertymaster").text ='@ViewBag.ValuationType'
        //$("#ddlreporttype").text = '@ViewBag.ReportType'
        //$("#ddlmethodval").text ='@ViewBag.Method_of_Valuation'
        $("#txtemilid").text = '@ViewBag.Email_ID'
        $("#txtcontactno1").text = '@ViewBag.Customer_Contact_No_1'
        $("#txtcontactno2").text = '@ViewBag.Customer_Contact_No_2'
        $("#siteenginner").text = '@ViewBag.AssignedToEmpID'



    });


    function doTab() {
        $('[href="#assignrequest"]').tab('show');
    }

    function doTab2() {
        $('[href="#UnitPrice"]').tab('show');
    }
     var AllValue = [];
    function Submitformrequest() {
         AllValue.push({
             CustomerName: $("#txtname").val(),

            ValuationRequestId: $("#txtvalreqid").val(),
            CustomerId: $("#txtcustid").val(),
            reqname: $("#txtreqname").val(),
            datepicker1: $("#datepicker1").val(),
            txtnamdocholder: $("#txtdocholder").val(),
            txtemilid: $("#txtemilid").val(),
            txtcontactno1: $("#txtcontactno1").val(),
            txtcontactno2: $("#txtcontactno2").val(),
             ddlowner: $("#ddlowner").text(),
             ddlvaltypepropertymaster: $("#ddlvaltypepropertymaster").text(),
             ddlreporttype: $("#ddlreporttype").text(),
             ddlmethodval: $("#ddlmethodval").text(),
             requestorname: '@ViewBag.RequestorName',
             ddlsiteeng: $("#siteenginner").text(),
        });

        var str = JSON.stringify(AllValue);

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveSubSequentRequestorDetails", "NewRequestor")',
            data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                //   alert(data.Message)
                // location.reload();
                //var url = '@Url.Action("RequestorDetails")';
                // window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });

    }
    var AllUpload = [];
    var fileData = new FormData();
    function FileUpload(i) {

        //var fileUpload = $("#fileInput_" + i).get(0);
        //var files = fileUpload.files;

        //for (var i = 0; i < files.length; i++) {
        //    fileData.append(files[i].name, files[i]);
        //}

        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput_'+i);
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/NewRequestor/Upload');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText);
            }
        }
        return false;
       /// AllUpload.push({ fil//eData: fileData });


    }

    function Uploadfiles(i) {

          var AllValue1 = [];

        var TrCount = $("#tbluploaddoc tr").length;
     //   alert(TrCount)
        for (var i = 0; i < TrCount; i++) {
            AllValue1.push({
                docid: $("#tbluploaddoc tr #value1 input").eq(i).val(),
                docname: $("#tbluploaddoc tr #value2 input").eq(i).val(),
                 requestorname: '@ViewBag.RequestorName',
            });

        }

        var str = JSON.stringify(AllValue1);

       $.ajax({
            type: "POST",
            url: '@Url.Action("UploadFiles", "NewRequestor")',
             data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                //   alert(data.Message)
                // location.reload();
                //var url = '@Url.Action("RequestorDetails")';
                // window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });

        //value2


    }

    function AddNewTab() {
        var newtab = [];

         newtab.push({
            docname : $("#txtnewdocname").val(),

        });
        var str = JSON.stringify(newtab);

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveNewDoc", "NewRequestor")',
            data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                //   alert(data.Message)
                // location.reload();
                var url = '@Url.Action("RequestorDetails")';
               window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });
        //var rowno = parseInt($("#txtsrno").val());
        //var roser = rowno;
        //if (rowno != null) {
        //    if (rowno != 0) {
        //        rowno = rowno - 1;
        //    }
        //    else {
        //    }
        //    if ($("#txtnewdocname").val() != "") {
        //        var oprationname = $("#txtnewdocname").val();
        //        var operationId = $("#txtsrno").val();
        //        var markup = "<tr><td><input type='text' name='operationId' value=" + operationId + "></td><td>" + oprationname + "</td><td><input type='file' name='fileUpload' id='fileInput' onchange='FileUpload()' size='23' /></td></tr>";
        //        $("table tbody").append(markup);
        //    }

        //    else {
        //        alert('Please enter row no');
        //    }

        //}

    }

</script>

