﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    /**/

    ViewBag.Title = "RequestorDetails";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <script src="~/Scripts/DecintellValidation.js"></script>
   
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Requestor Details</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 padd0">
                            <div class="card">
                                <div class="card-body card-block">
                                    <!-- Tab panes -->
                                    <div class="wizard">
                                        <div class="py-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul id="tabsJustified" class="nav nav-tabs">
                                                        <li class="nav-item active" id="details"><a href="#first" data-target="#RequestorDetails" data-toggle="tab" id="first_tab" class="nav-link small text-uppercase active" aria-expanded="true">Requestor details</a></li>
                                                        <li class="nav-item" id="uploaddoc"><a href="#second" data-target="#UploadDocuments" data-toggle="tab" id="second_tab" class="nav-link small text-uppercase" aria-expanded="false">upload documents</a></li>
                                                        <li class="nav-item" id="assign"><a href="#third" data-target="#assignrequest" data-toggle="tab" id="third_tab" class="nav-link small text-uppercase" aria-expanded="false">Assign Request</a></li>
                                                    </ul>
                                                    <br>
                                                    <div id="tabsJustifiedContent" class="tab-content">
                                                        <div id="RequestorDetails" class="tab-pane active in">
                                                            <div class="pb-2">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-12" style="margin-bottom:10px;">
                                                                            @Html.HiddenFor(model => model.ReportRequestType)
                                                                            @Html.HiddenFor(model => model.RequestType)

                                                                        </div>
                                                                        <div style="clear:both;"></div>
                                                                        @if (Model.IsBankNBFC)
                                                                        {
                                                                            <div class="card" id="bank">
                                                                                <div class="card-body card-block">
                                                                                    @*<div class="col-md-12" style="margin-bottom:10px;"> <span style="font-size:12px; color:#999999;">Note: show following details for retail request from bank</span> </div>*@
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of the Bank / HFC</label>
                                                                                            @Html.DropDownListFor(x => Model.SelectBankID, new SelectList(Model.ClientList, "Client_Name", "Client_Name"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlBankID", @onchange="onchangebindBranch();" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Branch Name </label>
                                                                                            @Html.DropDownListFor(m => m.SelectBranchName, new SelectList(Enumerable.Empty<SelectListItem>(), "Branch_Name", "Branch_Name"), "Please Select ", new { @class = "form-control", @id = "ddlBranchID" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Department </label>
                                                                                            @Html.DropDownListFor(x => Model.SelectDepartmentID, new SelectList(Model.ival_LookupCategoryDepartment, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlDepartment" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Type of Loan /Loan Transaction Type </label>
                                                                                            @Html.DropDownListFor(x => Model.SelectLoanTypeID, new SelectList(Model.ival_LookupCategoryLoanType, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlLoanTypeID" })

                                                                                        </div>
                                                                                    </div>
                                                                                    @*<div class="col-12 col-md-4">
            <div class="form-group">
                <label for="city" class=" form-control-label">Name of customer</label>
                <input type="text" id="txtNameOfCustBank" value="@ViewBag.CustomerName" class="form-control">
            </div>
        </div>*@


                                                                                    @*<div class="col-12 col-md-4">
            <div class="form-group">
                <label for="city" class=" form-control-label">Contact Number 1</label>
                <input type="text" id="txtContactNumber1" class="form-control">
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="city" class=" form-control-label">Contact Number 2</label>
                <input type="text" id="txtContactNumber2" class="form-control">
            </div>
        </div>*@

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date Of Request</label>
                                                                                            <form>
                                                                                                @*<input id="txtDateOfRequestbank" class="form-control date">*@
                                                                                                @Html.EditorFor(model => model.DOR, new { htmlAttributes = new { @class = "form-control", @id = "txtDateOfRequestbank", @required = "required" } })
                                                                                                @Html.ValidationMessageFor(model => model.DOR, "", new { @class = "text-danger" })
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date of Inspection</label>
                                                                                            <form>
                                                                                                @*<input id="datepicker1" class="form-control">*@
                                                                                                @*date 2*@
                                                                                                @Html.EditorFor(model => model.DOR, new { htmlAttributes = new { @class = "form-control", @id = "datepicker2", @required = "required" } })
                                                                                                @Html.ValidationMessageFor(model => model.DOR, "", new { @class = "text-danger" })
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date of Valuation</label>
                                                                                            <form>
                                                                                                @*<input id="datepicker1" class="form-control">*@
                                                                                                @*date 2*@
                                                                                                @Html.EditorFor(model => model.DOR, new { htmlAttributes = new { @class = "form-control", @id = "datepicker3", @required = "required" } })
                                                                                                @Html.ValidationMessageFor(model => model.DOR, "", new { @class = "text-danger" })
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Valuation Request Id</label>
                                                                                            <input type="text" id="txtValReqIDBank" value="@ViewBag.ValuationRequestID" class="form-control" required="required" readonly>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div style="clear:both"></div>


                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="name of customer" class=" form-control-label">Name of customer</label>
                                                                                            <input type="text" class="form-control" value="@ViewBag.CustomerName" id="txtname" maxlength="50">

                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <input type="text" class="form-control" value="@ViewBag.CustomerName1" id="txtname1" maxlength="50">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Contact Number </label>
                                                                                            <input type="text" id="txtContactNumber1" class="form-control" value="" maxlength="10" onkeypress="return OnlyNumeric(event, '#Textmsg', '#TextAllowed', 'Digits Only')">
                                                                                            <span class="validationerror" id="Textmsg" style="color:red"></span>
                                                                                            <span class="validationerror" id="TextAllowed" style="color:red"></span>
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <input type="text" id="txtContactNumber2" class="form-control" value="" maxlength="10" onkeypress="return OnlyNumeric(event, '#Textmsg1', '#TextAllowed1', 'Digits Only')">
                                                                                            <span class="validationerror" id="Textmsg1" style="color:red"></span>
                                                                                            <span class="validationerror" id="TextAllowed1" style="color:red"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of Document Holder/Property Owner</label>
                                                                                            <input type="text" id="txtDoctHolderAndPropertyBank" class="form-control" value="" maxlength="50">
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <input type="text" id="txtDoctHolderAndPropertyBank1" class="form-control" value="" maxlength="50">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Customer / Application id </label>
                                                                                            <input type="text" id="txtustApplicationID" class="form-control" maxlength="50">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Email Id</label>
                                                                                            <input type="text" id="txtustEmailIDBank" class="form-control" onblur="ValidateEmailBanks()">
                                                                                            <span class="validationerror" id="TextmsgbankEmail" style="color:red"></span>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of requestor</label>
                                                                                            <input type="text" id="txtNameOfRequestorBank" class="form-control" maxlength="50">
                                                                                        </div>
                                                                                    </div>
                                                                                    @*<div class="col-12 col-md-4">
            <div class="form-group">
                <label for="city" class=" form-control-label">Name of Document Holder/Property Owner </label>
                <input type="text" id="txtDoctHolderAndPropertyBank" class="form-control">
            </div>
        </div>*@
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Type Of Ownership </label>
                                                                                            @Html.DropDownListFor(x => Model.Selectedtypeofownership, new SelectList(Model.ival_LookupCategoryValuestypeofownership, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlOwnerBank" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="country" class=" form-control-label">Valuation Type</label>
                                                                                            @Html.DropDownListFor(x => Model.Selectedvaluationtype, new SelectList(Model.ival_LookupCategoryValuesvaluationtype, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlValutionTypeBank" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="country" class=" form-control-label">Report Type</label>
                                                                                            @Html.DropDownListFor(x => Model.Selectedreporttype, new SelectList(Model.ival_LookupCategoryValuesreporttype, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlReportTypeBank" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Method of Valuation</label>
                                                                                            @Html.DropDownListFor(x => Model.Selectedmethodvaluation, new SelectList(Model.ival_LookupCategoryValuesmethodvaluation, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlMethodValuationBank" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div style="clear:both;"></div>
                                                                                    <input type="button" onclick="SubmitFormBankRequest2()" value="Submit" class="btn btn-success btn-sm pull-right" />
                                                                                </div>

                                                                            </div>

                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="card" id="retail">
                                                                                <div class="card-body card-block">

                                                                                    @*<div class="col-12 col-md-4">
            <div class="form-group">
                <label for="city" class=" form-control-label">Name of customer</label>
                <input type="text" value="@ViewBag.CustomerName" id="txtname" class="form-control">
            </div>
        </div>*@
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Customer / Application id </label>
                                                                                            <input type="text" id="txtcustid" value="@ViewBag.APPID" class="form-control" readonly>

                                                                                        </div>
                                                                                    </div>

                                                                                    @*<div class="col-12 col-md-4">
            <div class="form-group">
                <label for="city" class=" form-control-label">Contact Number 1</label>
                <input type="text" id="txtcontactno1" class="form-control">
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="city" class=" form-control-label">Contact Number 2</label>
                <input type="text" id="txtcontactno2" class="form-control">
            </div>
        </div>*@
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Valuation Request Id</label>
                                                                                            <input type="text" id="txtvalreqid" value="@ViewBag.ValuationRequestID" readonly class="form-control" required="required">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date Of Request</label>
                                                                                            <form>
                                                                                                @*<input id="datepicker1" class="form-control">*@
                                                                                                @*date 2*@
                                                                                                @Html.EditorFor(model => model.DOR, new { htmlAttributes = new { @class = "form-control", @id = "datepicker1", @required = "required" } })
                                                                                                @Html.ValidationMessageFor(model => model.DOR, "", new { @class = "text-danger" })
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date of Inspection</label>
                                                                                            <form>
                                                                                                @*<input id="datepicker1" class="form-control">*@
                                                                                                @*date 2*@
                                                                                                @Html.EditorFor(model => model.DOR, new { htmlAttributes = new { @class = "form-control", @id = "datepicker2", @required = "required" } })
                                                                                                @Html.ValidationMessageFor(model => model.DOR, "", new { @class = "text-danger" })
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date_of_Valuation</label>
                                                                                            <form>
                                                                                                @*<input id="datepicker1" class="form-control">*@
                                                                                                @*date 2*@
                                                                                                @Html.EditorFor(model => model.DOR, new { htmlAttributes = new { @class = "form-control", @id = "datepicker3", @required = "required" } })
                                                                                                @Html.ValidationMessageFor(model => model.DOR, "", new { @class = "text-danger" })
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div style="clear:both"></div>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="name of customer" class=" form-control-label">Name of customer</label>
                                                                                            <input type="text" class="form-control" value="@ViewBag.CustomerName" id="txtname" maxlength="50">

                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <input type="text" class="form-control" value="@ViewBag.CustomerName1" id="txtname1" maxlength="50">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Contact Number </label>
                                                                                            <input type="text" id="txtcontactno1" class="form-control" value="" maxlength="10" onkeypress="return OnlyNumeric(event, '#Textmsg2', '#TextAllowed2', 'Digits Only')">
                                                                                            <span class="validationerror1" id="Textmsg2" style="color:red"></span>
                                                                                            <span class="validationerror1" id="TextAllowed2" style="color:red"></span>

                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <input type="text" id="txtcontactno2" class="form-control" value="" maxlength="10" onkeypress="return OnlyNumeric(event, '#Textmsg3', '#TextAllowed3', 'Digits Only')">
                                                                                            <span class="validationerror1" id="Textmsg3" style="color:red"></span>
                                                                                            <span class="validationerror1" id="TextAllowed3" style="color:red"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of Document Holder/Property Owner</label>
                                                                                            <input type="text" id="txtdocholder" class="form-control" value="" maxlength="50">
                                                                                        </div>
                                                                                        <div class="form-group">
                                                                                            <input type="text" id="txtdocholder1" class="form-control" value="" maxlength="50">
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Email Id</label>
                                                                                            <input type="text" id="txtemilid" class="form-control" onblur="ValidateEmail()">
                                                                                        </div>
                                                                                        <span class="validationerror" id="TextmsgEmail" style="color:red"></span>
                                                                                        <span class="validationerror" id="TextAllowedCeoWeightage" style="color:red"></span>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of requestor</label>
                                                                                            <input type="text" id="txtreqname" class="form-control" maxlength="50">
                                                                                        </div>
                                                                                    </div>
                                                                                    @*<div class="col-12 col-md-4">
            <div class="form-group">
                <label for="city" class=" form-control-label">Name of Document Holder/Property Owner </label>
                <input type="text" id="txtdocholder" class="form-control">
            </div>
        </div>*@
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Type Of Ownership </label>
                                                                                            @Html.DropDownListFor(x => Model.Selectedtypeofownership, new SelectList(Model.ival_LookupCategoryValuestypeofownership, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlowner" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="country" class=" form-control-label">Valuation Type</label>
                                                                                            @Html.DropDownListFor(x => Model.Selectedvaluationtype, new SelectList(Model.ival_LookupCategoryValuesvaluationtype, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlvaltypepropertymaster" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="country" class=" form-control-label">Report Type</label>
                                                                                            @Html.DropDownListFor(x => Model.Selectedreporttype, new SelectList(Model.ival_LookupCategoryValuesreporttype, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlreporttype" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Method of Valuation</label>
                                                                                            @Html.DropDownListFor(x => Model.Selectedmethodvaluation, new SelectList(Model.ival_LookupCategoryValuesmethodvaluation, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlmethodval" })

                                                                                        </div>
                                                                                    </div>

                                                                                    <div style="clear:both;"></div>

                                                                                    <div id="divLoader" style="display:none;text-align:center">

                                                                                        <img src="~/images/810.gif" alt="Loader" />
                                                                                    </div>
                                                                                    <input type="button" onclick="Submitformrequest()" value="Submit" class="btn btn-success btn-sm pull-right" />
                                                                                    @*<a href="#" class="btn btn-success btn-sm pull-right">Submit</a>*@
                                                                                </div>
                                                                                </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="UploadDocuments" class="tab-pane fade">
                                                            <div>
                                                                <div class="col-12" style="margin-bottom:10px;">

                                                                </div>
                                                                <div class="card" id="documents">
                                                                    <div class="card-body card-block">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                @*@using (Html.BeginForm("Index", "DocViewUpload", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "MyForm" }))
                                                                                    {*@
                                                                                <div class="table-responsive">
                                                                                    <table class="table table-striped table-bordered">

                                                                                        <thead>
                                                                                            <tr>
                                                                                                <td width="78"><div align="center"><strong></strong></div></td>
                                                                                                <td width="78"><div align="center"><strong>Sr.no</strong></div></td>
                                                                                                <td width="339"><div align="center"><strong>Name of document</strong></div></td>
                                                                                                <td width="206"><div align="center"><strong>Upload Document</strong></div></td>
                                                                                                <td width="206"><div align="center"><strong>View Document</strong></div></td>
                                                                                                <td width="206"><div align="center"><strong>Approval authority</strong></div></td>
                                                                                                <td width="206"><div align="center"><strong>Date Of Approval</strong></div></td>

                                                                                                <td width="206"><div align="center"><strong>Approval No</strong></div></td>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody id="tbluploaddoc">
                                                                                            @for (int idx = 0; idx < Model.ival_DocumentLists.Count; idx++)
                                                                                            {
                                                                                                <tr>

                                                                                                    <td id="value8"> <input id="ival_DOCLIST_@idx" type="checkbox" value="@Model.ival_DocumentLists[idx].Document_Name" class=" form-control-label"></td>


                                                                                                    <td id="value1" style="display:none">
                                                                                                        <input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_DocumentLists[idx].Document_ID" />
                                                                                                    </td>
                                                                                                    <td id="valuedocname" style="display:none">
                                                                                                        <input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_DocumentLists[idx].Document_Name" />
                                                                                                    </td>
                                                                                                    <td id="valueDocid1">
                                                                                                        <label>@Model.ival_DocumentLists[idx].Document_ID</label>


                                                                                                    </td>
                                                                                                    <td id="valuedocname1">
                                                                                                        <label>@Model.ival_DocumentLists[idx].Document_Name</label>


                                                                                                    </td>

                                                                                                    <td id="value2"><input type="file" name="fileUpload" id="fileInput_@idx" onchange="FileUpload(@idx,@Model.ival_DocumentLists[idx].Document_ID)" size="23" /></td>
                                                                                                    <td id="value3">
                                                                                                        <input type="submit" onclick="ViewDoc(@Model.ival_DocumentLists[idx].Document_ID)" class="btn btn-file btn-sm" value="View Document" />
@Model.ival_DocumentLists[idx].Document_ID
                                                                                                        @*<div align="center" id="divFileshow"></div>*@
                                                                                                        <div id="DOC1"></div>
                                                                                                    </td>
                                                                                                    <td id="value5"><input type="text" id="txtApproving_Authority_+@idx" name="Approving_Authority_+@idx" /></td>
                                                                                                    <td id="value6"><input type="text"  id="txtDate_of_Approval_+@idx" name="Date_of_Approval_+@idx" class='input-group date' /></td>
                                                                                                    @*@Html.EditorFor(model => model.DOR, new { htmlAttributes = new { @class = "form-control", @id = "datepicker1" } })*@
                                                                                                    <td id="value7"><input type="text" id="txtApproval_Num_+@idx" name="Approval_Num_+@idx" /></td>
                                                                                                    @*<td id="value4"><div id="DOC1(@idx)"></div></td>*@
                                                                                                </tr>
                                                                                            }
                                                                                        </tbody>
                                                                                    </table>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="subtitle">Add New document in list of documents</div>
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Srno:</label>
                                                                                            <input type="text" id="txtsrno" value=@ViewBag.Srno readonly="readonly" class="form-control">

                                                                                        </div>


                                                                                    </div>
                                                                                    <div class="col-12 col-md-4" style="padding-top:50px;">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Document Name:</label>
                                                                                            <input type="text" id="txtnewdocname" class="form-control">

                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="col-12 col-md-4" style="padding-top:75px;">
                                                                                        <input type="submit" onclick="AddNewTab()" class="btn btn-success btn-sm" value="Add" />
                                                                                    </div>
                                                                                    <div style="clear:both"></div>
                                                                                    @*<a href="#" class="btn btn-success btn-sm pull-right">Submit</a>*@
                                                                                    <input type="submit" onclick="Uploadfiles()" class="btn btn-success btn-sm pull-right" value="Submit" />

                                                                                </div>

                                                                                @*}*@
                                                                            </div>
                                                                            @*Site Engineer*@
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div id="assignrequest" class="tab-pane fade">
                                                            <div>
                                                                <div class="col-12" style="margin-bottom:10px;">

                                                                </div>
                                                                <div class="card">
                                                                    <div class="card-body card-block">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Engineer visited on site</label>
                                                                                        <select name="" class="form-control" id="siteenginner">
                                                                                            <option value="0">Please Select</option>
                                                                                            <option value="Abhay Sakare">Abhay Sakare</option>
                                                                                            <option value="Narendra Jog">Narendra Jog</option>
                                                                                            <option value="Naresh Ahire">Naresh Ahire</option>
                                                                                            <option value="Manik Kulkarni">Manik Kulkarni</option>
                                                                                            <option value="Pratik Pawar">Pratik Pawar</option>
                                                                                            <option value="Vaishali Wagh">Vaishali Wagh</option>
                                                                                            <option value="Hrushikesh Joshi">Hrushikesh Joshi</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <input type="submit" onclick="AddAssign()" class="btn btn-success btn-sm" style="margin-top:25px;" value="Assign" />
                                                                                @*<a href="#" class="btn btn-success btn-sm" style="margin-top:25px;">Assign</a>*@

                                                                                <div style="clear:both"></div>
                                                                                @*<input type="submit" onclick="Uploadfiles()" class="btn btn-success btn-sm pull-right" value="Submit" />*@
                                                                                @*<a href="@Url.Action("SavePropertyDetails","Project")" class="btn btn-success btn-sm pull-right">Submit</a>*@

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- .animated -->
                            </div>
                            <!-- Default box -->
                            <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="~/Scripts/jquery.min.js"></script>

@*<script type="text/javascript" src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
    <link href="~/Scripts/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-ui-sliderAccess.js"></script>*@
<script type="text/javascript">

    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd-M-yy'
        });

    });
    var GlobalFileName = "";
    $(document).ready(function () {
        //$("#bank").hide(600);
        //$("#retail").show(600);

        //$('#datepicker1').datetimepicker({
        //    co ntrolType: 'select',
        //    oneLine: true,
        //    timeFormat: 'HH:mm'
        //});
        if ('@ViewBag.CustomerName'=="") {
            $("#txtcustid").text = ""
        } else {
            $("#txtcustid").text = '@ViewBag.CustomerName'
        }



        if ('@ViewBag.CustomerName'== "") {
            $("#txtname").text =""
        }
        else {
            $("#txtname").text ='@ViewBag.CustomerName'
        }

        $("#ValuationRequestId").text ='@ViewBag.ValuationRequestId'
        $("#datepicker1").text ='@ViewBag.datepicker1'
        $("#txtnamdocholder").text = '@ViewBag.txtnamdocholder'

        $("#txtcustid").autocomplete({
            minLength: 1,
            source: generateOTP
        });


        function generateOTP() {

            var digits = '0123456789';

            var otpLength = 4;

            var otp = '';

            for (let i = 1; i <= otpLength; i++) {

                var index = Math.floor(Math.random() * (digits.length));

                otp = otp + digits[index];

            }

            return otp;

        }


    });
    


     var AllValue = [];
    function Submitformrequest() {
        $("#divLoader").show();
        AllValue.push({
             CustomerName: $("#txtname").val(),
             CustomerName1: $("#txtname1").val(),
            ValuationRequestId: $("#txtvalreqid").val(),
            CustomerId: $("#txtcustid").val(),
            reqname: $("#txtreqname").val(),
            datepicker1: $("#datepicker1").val(),
            datepicker2: $("#datepicker2").val(),
            datepicker3: $("#datepicker3").val(),
             txtnamdocholder: $("#txtdocholder").val(),
             txtnamdocholder1: $("#txtdocholder1").val(),
            txtemilid: $("#txtemilid").val(),
            txtcontactno1: $("#txtcontactno1").val(),
            txtcontactno2: $("#txtcontactno2").val(),
             ddlowner: $("#ddlowner option:selected").text(),
             ddlvaltypepropertymaster: $("#ddlvaltypepropertymaster option:selected").text(),
             ddlreporttype: $("#ddlreporttype option:selected").text(),
             ddlmethodval: $("#ddlmethodval option:selected").text(),
             requestorname: $("#txtreqname option:selected").text(),
             ReportRequestType: document.getElementById("ReportRequestType").value,
             RequestType1: document.getElementById("RequestType").value,
             ddlsiteeng: $("#siteenginner option:selected").text(),
             //ddlowner: $("#ddlowner option:selected").text(),
        });

        var str = JSON.stringify(AllValue);

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveRequestorDetails", "NewRequestor")',
            data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                $("#divLoader").hide();
                   alert('Requestor details submitted successfully')
                // location.reload();
                //var url = '@Url.Action("RequestorDetails")';
                // window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });
        $('[href="#second"]').tab('show');
    }
    var AllUpload = [];
    var fileData = new FormData();
    function FileUpload(i,a) {


        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput_'+i);
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending

        var fileselect = $("#value2").val();
        console.log(fileselect);
        var docId = a;

        formdata.append("DocId", docId);
        console.log(docId);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '../NewRequestor/UploadPDFFiles');
        xhr.send(formdata);

        xhr.onreadystatechange = function (response) {
            if (xhr.readyState == 4 && xhr.status == 200) {
                //var uploadedfilename = xhr.response;
                //$("#divFileshow").append('<a href = "../UploadFiles/' + uploadedfilename + '" target = "_blank"> View Document</a>');
                alert(xhr.responseText);   
            }
            return false;
            /// AllUpload.push({ fil//eData: fileData });

        }
    }

    function FileUploadnew(a) {


        console.log("hi" + a);
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput_');
        console.log(fileInput.files.length);
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
            console.log(formdata);
        }
        //Creating an XMLHttpRequest and sending

        var fileselect = $("#value2").val();
        console.log(fileselect);
        var docId = a;

        formdata.append("DocId", docId);
        console.log(docId);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/NewRequestor/UploadPDFFiles');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText);
                if (xhr.responseText == "") {

                }

            }
            return false;
            /// AllUpload.push({ fil//eData: fileData });

        }
        //var formdata = new FormData(); //FormData object
        //var fileInput = document.getElementById('fileInput_');
        ////Iterating through each files selected in fileInput
        //for (i = 0; i < fileInput.files.length; i++) {
        //    //Appending each file to FormData object
        //    formdata.append(fileInput.files[i].name, fileInput.files[i]);
        //}
        ////Creating an XMLHttpRequest and sending


        //var xhr = new XMLHttpRequest();
        //xhr.open('POST', '../NewRequestor/UploadPDFFiles');
        //xhr.send(formdata);
        //xhr.onreadystatechange = function () {
        //    if (xhr.readyState == 4 && xhr.status == 200) {
        //        alert(xhr.responseText);

        //    }
        //    return false;
        //    /// AllUpload.push({ fil//eData: fileData });

        //}
    }

    function ViewDoc(i) {
        console.log(i)

        var formData1 = new FormData();
        formData1.append("value", i)
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/NewRequestor/Download');
        xhr.send(formData1);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                debugger;

                window.open('/NewRequestor/DownloadPDF');

                //alert(xhr.responseText);

            }

            return false;
            /// AllUpload.push({ fil//eData: fileData });

        }
        // $.ajax({
        //    type: "POST",
        //    url: "../NewRequestor/Download",
        //    data: {},
        //    contentType: "application/json; charset=utf-8",
        //    success: function (response) {
        //        debugger;
        //        if (response == "Exist") {
        //            window.open('../NewRequestor/DownloadPDF');
        //        }
        //    },
        //    failure: function (response) {
        //        alert(response.responseText);
        //    },
        //    error: function (response) {
        //        alert(response.responseText);
        //    }
        //});

    }

    function ViewDocument() {
        //    $.ajax({
        //        type: "POST",
        //        url: "../NewRequestor/Download",
        //        data: {},
        //        contentType: "application/json; charset=utf-8",
        //        success: function (response) {
        //            debugger;
        //            if (response == "Exist") {
        //                window.open('../NewRequestor/DownloadPDF');
        //            }
        //        },
        //        failure: function (response) {
        //            alert(response.responseText);
        //        },
        //        error: function (response) {
        //            alert(response.responseText);
        //        }
        //    });

        //}
        $.ajax({
            type: "POST",
            url: '@Url.Action("ShowDocument", "NewRequestor")',
            dataType: "json",
            data: {},
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                var ret = (data);
                if (ret.Error == false) {
                    $("#DOC1").empty();
                    $("#DOC1").html('<iframe src="@Url.Action("ShowDocument", "NewRequestor", new { FilePath = "_FilePath" }) "'.replace("_FilePath", ret.FilePath) + ' style="width: 98%; height: 98%" ></iframe>');
                    // $("#DOC1").show();
                    $("#DOC1").dialog({
                        autoOpen: true,
                        modal: true,
                        height: 500,
                        width: 600,
                        buttons: {
                            OK: function () { $(this).dialog("close"); }
                        },
                        title: "Document",
                    });
                }
            }
        });
    }

    

    function AddNewTab() {
        @*var newtab = [];

         newtab.push({
            docname : $("#txtnewdocname").val(),

        });
        var str = JSON.stringify(newtab);

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveNewDoc", "NewRequestor")',
            data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                //   alert(data.Message)
                // location.reload();
                var url = '@Url.Action("RequestorDetails")';
               window.location.href = url;
                $("#documents").show();
               // location.reload();
            },
        });*@
        var markup
            if ($("#txtnewdocname").val() != "") {
                var oprationname = $("#txtnewdocname").val();
                var operationid = $("#txtsrno").val();
                markup += '<tr>';
                markup += '<td id="value8"><input type="checkbox" name="operationid" ></td>'
                markup +='<td id="value1" style="display:none"><input style="display:none" type="text" id="ival_DocumentLists_+" name="operationid" value=' + operationid + ' ></td>'
                markup +='<td id="valuedocname" style="display:none"><input style="display:none" type="text" id="ival_DocumentLists_+" name="oprationname" value=' + oprationname + ' ></td>'

                markup += '<td id="valueDocid1"><input type="text" name="operationid" value=' + operationid + '></td>'
                markup += '<td id="valuedocname1">' + oprationname + '</td>'
                markup += '<td id="value2"><input type="file" name="fileUpload" id="fileInput_" onchange="FileUploadnew(' + operationid + ');" size="23" /></td>'
                markup += ' <td id="value3"><input type="submit" onclick="ViewDoc(' + operationid + ');" class="btn btn-file btn-sm" value="View Document" /><div id="DOC1"></div> </td>'
                markup += '<td id="value5"><input type="text" id="txtApproving_Authority" name="Approving_Authority" /></td>'
                markup += '<td id="value6"><input type="date" id="txtDate_of_Approval" name="Date_of_Approval" /></td>'
                markup += '<td id="value7"><input type="text" id="txtApproval_Num" name="Approval_Num" /></td>'

                markup += '</tr>'
                $("table tbody").append(markup);
               // document.getElementById("tbluploaddoc").appendChild(markup);
            }

            else {
                alert('please enter row no');
            }



    }

    function AddAssign() {
        var newtab = [];

         newtab.push({
             //AssignedEmp: $("#siteenginner").text(),
             AssignedEmp: $("#siteenginner option:selected").text(),
        });
        var str = JSON.stringify(newtab);
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAssignedEmp", "NewRequestor")',
            data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {

                   alert('Employee Assigned Successfully')
                // location.reload();
                $("#divLoader").hide();
                var url = '@Url.Action("SavePropertyDetails","Project")';
               window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });
    }

    //Priyanka 13-06-2020

</script>
<script type="text/javascript">
    function Uploadfiles(i) {
        var AllValue13 = [];
        var checked_checkboxes2 = $("[id*=tbluploaddoc] input:checked");
        var message = "";
        checked_checkboxes2.each(function () {
            var value2 = $(this).val();
            var TrCountchk = $("#tbluploaddoc tr").length;
          //  alert(TrCountchk)
            for (var i = 0; i < TrCountchk; i++) {
                AllValue13.push({
                    value2,
                    docid: $("#tbluploaddoc tr #value1  input").eq(i).val(),
                    filename: $("#tbluploaddoc tr #value2 input").eq(i).val(),
                    approvingauth: $("#tbluploaddoc tr #value5 input").eq(i).val(),
                    dateofapp: $("#tbluploaddoc tr #value6 input").eq(i).val(),
                    apprnum: $("#tbluploaddoc tr #value7 input").eq(i).val(),
                    valuedocname: $("#tbluploaddoc tr #valuedocname input").eq(i).val(),
                });
            }
        });

        var AllValue1 = [];

        var TrCount = $("#tbluploaddoc tr").length;
       // alert(TrCount)
        for (var i = 0; i < TrCount; i++) {
            AllValue1.push({
                docid: $("#tbluploaddoc tr #value1  input").eq(i).val(),
                filename: $("#tbluploaddoc tr #value2 input").eq(i).val(),
                approvingauth: $("#tbluploaddoc tr #value5 input").eq(i).val(),
                dateofapp: $("#tbluploaddoc tr #value6 input").eq(i).val(),
                apprnum: $("#tbluploaddoc tr #value7 input").eq(i).val(),
                valuedocname: $("#tbluploaddoc tr #valuedocname input").eq(i).val(),
                CustomerId: '@ViewBag.CustomerId',
                 docname : $("#txtnewdocname").val(),
               srno : $("#txtsrno").val(),
            });

        }

        var str = JSON.stringify(AllValue1);
        var str1 = JSON.stringify(AllValue13);
       $.ajax({
            type: "POST",
            url: '@Url.Action("UploadFiles", "NewRequestor")',
             data: { str: str,str1:str1 },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                //  alert('Files Uploaded Successfully')
                // location.reload();
                //var url = '@Url.Action("RequestorDetails")';
                // window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });

        //value2
        $('[href="#third"]').tab('show');

    }
</script>

<script type="text/javascript">

        function ValidateEmailBanks() {
            var email = document.getElementById("txtustEmailIDBank").value;
            var lblError = document.getElementById("TextmsgbankEmail");
            lblError.innerHTML = "";
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "Invalid email address.";
            }
        }
        function ValidateEmail() {
            var email = document.getElementById("txtemilid").value;
            var lblError = document.getElementById("TextmsgEmail");
            lblError.innerHTML = "";
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "Invalid email address.";
            }
        }
</script>

<script type="text/javascript">
     function onchangebindBranch() {
        var Bank_ID = $("#ddlBankID option:selected").val()
       // alert(Bank_ID);
        $.ajax({

            url:'@Url.Action("GetBranchListByBankID", "NewRequestor")',
            data: { Bank_ID: Bank_ID },
            dataType: "json",
            type: "POST",
            success: function (data) {
                //alert(data);
                console.log(data);
                var obj = JSON.parse(data);
                $("#ddlBranchID").html("");
                $("#ddlBranchID").html("<option id=''>Please Select </option>")

                 $(obj).each(function(index,value){
                     $("#ddlBranchID").append(
                         $('<option></option>').val(value.Client_ID).html(value.Branch_Name));
                 })
            }
        });
    }
</script>
<script type="text/javascript">
        var AllValue = [];
     function SubmitFormBankRequest2() {
         AllValue.push({
             NameOfBank: $("#ddlBankID option:selected").text(),
             BranchName: $("#ddlBranchID option:selected").text(),
             Client_ID: $("#ddlBranchID").val(),
             Department: $("#ddlDepartment option:selected").text(),
             LoanType: $("#ddlLoanTypeID option:selected").text(),
             CustomerName: $("#txtname").val(),
             CustomerName1: $("#txtname1").val(),
             CustomerApplicationId: $("#txtustApplicationID").val(),
             CustomerEmailID: $("#txtustEmailIDBank").val(),
             ContactNO1: $("#txtContactNumber1").val(),
             ContactNO2: $("#txtContactNumber2").val(),
             NameOfRequestor: $("#txtNameOfRequestorBank").val(),
             DateRequest: $("#txtDateOfRequestbank").val(),
             ValuationRequestID: $("#txtValReqIDBank").val(),
             DoctHolderAndPropertyBank: $("#txtDoctHolderAndPropertyBank").val(),
             DoctHolderAndPropertyBank1: $("#txtDoctHolderAndPropertyBank1").val(),
             TypeOwnerShip: $("#ddlOwnerBank option:selected").text(),
             ValutionType: $("#ddlValutionTypeBank option:selected").text(),
             ReportType: $("#ddlReportTypeBank option:selected").text(),
             MethodValuation: $("#ddlMethodValuationBank option:selected").text(),
             ReportRequestType: document.getElementById("ReportRequestType").value,
             RequestType1: document.getElementById("RequestType").value,
             datepicker2: $("#datepicker2").val(),
             datepicker3: $("#datepicker3").val(),

        });
         var str = JSON.stringify(AllValue);
       //  alert($("#ddlBranchID").val());
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveRequestorBankDetails", "NewRequestor")',
            data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                   alert('Requestor details submitted successfully')
                // location.reload();
                //var url = '@Url.Action("RequestorDetails")';
                // window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });
         $('[href="#second"]').tab('show');
    }
</script>