﻿@model I_Value.WebApp.Models.ViewModelRequest

@{
    ViewBag.Title = "SubsequesntRequestorDetails";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Requestor Details</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 padd0">
                            <div class="card">
                                <div class="card-body card-block">
                                    <!-- Tab panes -->
                                    <div class="wizard">
                                        <div class="py-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul id="tabsJustified" class="nav nav-tabs">
                                                        <li class="nav-item active" id="details"><a href="#first" data-target="#RequestorDetails" data-toggle="tab" id="first_tab" class="nav-link small text-uppercase active" aria-expanded="true">Requestor details</a></li>
                                                        <li class="nav-item" id="uploaddoc"><a href="" data-target="#UnitPrice" data-toggle="tab" class="nav-link small text-uppercase" aria-expanded="false">upload documents</a></li>
                                                        <li class="nav-item" id="assign"><a href="" data-target="#assignrequest" data-toggle="tab" class="nav-link small text-uppercase" aria-expanded="false">Assign Request</a></li>
                                                    </ul>
                                                    <br>
                                                    <div id="tabsJustifiedContent" class="tab-content">
                                                        <div id="RequestorDetails" class="tab-pane active in">
                                                            <div class="pb-2">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-12" style="margin-bottom:10px;">
                                                                            @Html.HiddenFor(model => model.ReportRequestType)
                                                                            @Html.HiddenFor(model => model.RequestType)

                                                                        </div>
                                                                        <div style="clear:both;"></div>
                                                                        @if (ViewBag.Client_Name != null && ViewBag.Client_Name != "")
                                                                        {
                                                                            <div class="card" id="bank">
                                                                                <div class="card-body card-block">
                                                                                    <div class="col-md-12" style="margin-bottom:10px;"> <span style="font-size:12px; color:#999999;">Note: show following details for retail request from bank</span> </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of the Bank / HFC</label>
                                                                                            @*<input type="text" id="txtNameBank" value="@ViewBag.Client_Name" class="form-control">*@
                                                                                            @Html.DropDownListFor(x => Model.SelectBankID, new SelectList(Model.ival_ClientMasters, "Client_Name", "Client_Name"), "Please Select", htmlAttributes: new { @class = "form-control", id = "ddlBankID", value = "@Client_Name", @disabled = "disabled" ,@readonly= "readonly" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Branch Name </label>
                                                                                            @*<input type="text" id="txtBranchName" value="@ViewBag.Branch_Name" class="form-control">*@
                                                                                            @Html.DropDownListFor(m => m.SelectBranchName, new SelectList(Model.ival_BranchMasters, "Branch_Name", "Branch_Name"), "Please Select", htmlAttributes: new { @class = "form-control", @id = "ddlBranchID", @readonly = "readonly" })
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Department </label>
                                                                                            @*<input type="text" id="txtDepartment" value="@ViewBag.Department" class="form-control">*@
                                                                                            @Html.DropDownListFor(x => Model.SelectDepartmentID, new SelectList(Model.ival_LookupCategoryDepartment, "Lookup_Value", "Lookup_Value"), "Please Select", htmlAttributes: new { @class = "form-control", id = "ddlDepartment", @readonly = "readonly" })
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Type of Loan /Loan Transaction Type </label>
                                                                                            @*<input type="text" value="@ViewBag.Loan_Type" id="txtLoanType" class="form-control">*@
                                                                                            @Html.DropDownListFor(x => Model.SelectLoanTypeID, new SelectList(Model.ival_LookupCategoryLoanType, "Lookup_Value", "Lookup_Value"), "Please Select", htmlAttributes: new { @class = "form-control", id = "ddlLoanTypeID", @readonly = "readonly" })
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date Of Request</label>
                                                                                            <form>
                                                                                                <input id="txtDateOfRequestbank" value=@ViewBag.Request_Date class="form-control" readonly>
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Valuation Request Id</label>
                                                                                            <input type="text" id="txtValReqIDbanks" value="@ViewBag.Valuation_Request_ID" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of customer</label>
                                                                                            <input type="text" value="@ViewBag.Customer_Name" id="txtname" class="form-control" readonly>
                                                                                        </div>
                                                                                        <div>
                                                                                            <input type="text" value="@ViewBag.Customer_Name_1" id="txtname1" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Contact Number 1</label>
                                                                                            <input type="text" id="txtContactNumber1" value="@ViewBag.Customer_Contact_No_1" class="form-control" readonly>
                                                                                        </div>
                                                                                        <div>
                                                                                            <input type="text" id="txtContactNumber2" value="@ViewBag.Customer_Contact_No_2" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of Document Holder/Property Owner </label>
                                                                                            <input type="text" id="txtDoctHolderAndPropertyBank" value="@ViewBag.Document_Holder_Name" class="form-control" readonly>
                                                                                        </div>
                                                                                        <div>
                                                                                            <input type="text" id="txtDoctHolderAndPropertyBank1" value="@ViewBag.Document_Holder_Name_1" class="form-control" readonly>
                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Customer / Application id </label>
                                                                                            <input type="text" id="txtustApplicationID" value="@ViewBag.Customer_Application_ID" text="@ViewBag.Customer_Application_ID" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Email Id</label>
                                                                                            <input type="text" id="txtustEmailIDBank" value="@ViewBag.Email_ID" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>


                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of requestor</label>
                                                                                            <input type="text" value="@ViewBag.Requestor_Name" id="txtNameOfRequestorBank" class="form-control" readonly>
                                                                                        </div>
                                                                                    </div>



                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Type Of Ownership </label>
                                                                                            @*<input type="text" id="txtTypeOfOwnership" value="@ViewBag.Selectedtypeofownership" class="form-control">*@
                                                                                            @*@Html.DropDownListFor(x => Model.Selectedtypeofownership, new SelectList(Model.ival_LookupCategoryValuestypeofownership, "Lookup_ID", "Lookup_Value"), "Please Select", htmlAttributes: new { @class = "form-control", id = "ddlownerbank", @value = "@ViewBag.Type_Of_Ownership" })*@
                                                                                            @Html.DropDownListFor(m => m.Selectedtypeofownership, new SelectList(Model.ival_LookupCategoryValuestypeofownership, "Lookup_Value", "Lookup_Value"), "Please Select", new { @class = "form-control", @id = "ddlowner", @value = "@ViewBag.Type_Of_Ownership", @readonly="readonly" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="country" class=" form-control-label">Valuation Type</label>
                                                                                            @*<input type="text" id="txtValuationType" value="@ViewBag.ValuationType" class="form-control">*@
                                                                                            @Html.DropDownListFor(x => Model.Selectedvaluationtype, new SelectList(Model.ival_LookupCategoryValuesvaluationtype, "Lookup_Value", "Lookup_Value"), "Please Select", htmlAttributes: new { @class = "form-control", id = "ddlvaltypepropertymasterbank", @value = "@ViewBag.ValuationType", @readonly = "readonly" })
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="country" class=" form-control-label">Report Type</label>
                                                                                            @*<input type="text" id="txtReportType" value="@ViewBag.ReportType" class="form-control">*@
                                                                                            @Html.DropDownListFor(x => Model.Selectedreporttype, new SelectList(Model.ival_LookupCategoryValuesreporttype, "Lookup_Value", "Lookup_Value"), "Please Select", htmlAttributes: new { @class = "form-control", id = "ddlreporttypebank", @value = "@ViewBag.ReportType", @readonly = "readonly" })
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Method of Valuation</label>
                                                                                            @*<input type="text" id="txtMethodValuation" value="@ViewBag.Method_of_Valuation" class="form-control">*@
                                                                                            @Html.DropDownListFor(x => Model.Selectedmethodvaluation, new SelectList(Model.ival_LookupCategoryValuesmethodvaluation, "Lookup_Value", "Lookup_Value"), "Please Select", htmlAttributes: new { @class = "form-control", id = "ddlmethodvalbank", @value = "@ViewBag.Method_of_Valuation", @readonly = "readonly" })
                                                                                        </div>
                                                                                    </div>
                                                                                    <div style="clear:both;"></div>
                                                                                    <input type="button" onclick="SubmitFormBankRequest2()" value="Submit" class="btn btn-success btn-sm pull-right" />
                                                                                    @*<a href="#" class="btn btn-success btn-sm pull-right">Submit</a>*@
                                                                                </div>
                                                                            </div>

                                                                        }
                                                                        else
                                                                        {
                                                                            <div class="card" id="retail">
                                                                                <div class="card-body card-block">
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Customer / Application id </label>
                                                                                            <input type="text" id="txtcustid" value="@ViewBag.Customer_Application_ID" readonly="readonly" text="@ViewBag.Customer_Application_ID" class="form-control" >
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Valuation Request Id</label>
                                                                                            <input type="text" id="txtvalreqid" value="@ViewBag.Valuation_Request_ID" readonly="readonly" class="form-control">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Date Of Request</label>
                                                                                            <form>
                                                                                                <input id="datepicker1" value=@ViewBag.Request_Date class="form-control"  readonly="readonly">
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of customer</label>
                                                                                            <input type="text" value="@ViewBag.Customer_Name" id="txtname" maxlength="200" class="form-control" readonly="readonly">
                                                                                        </div>
                                                                                        <div>
                                                                                            <input type="text" id="txtname1" value="@ViewBag.Customer_Name_1" class="form-control" readonly="readonly">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Contact Number 1</label>
                                                                                            <input type="text" id="txtcontactno1" value="@ViewBag.Customer_Contact_No_1" class="form-control" readonly="readonly">
                                                                                        </div>
                                                                                        <div>
                                                                                            <input type="text" id="txtcontactno2" value="@ViewBag.Customer_Contact_No_2" class="form-control" readonly="readonly">
                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name of Document Holder/Property Owner </label>
                                                                                            <input type="text" id="txtdocholder" value="@ViewBag.Document_Holder_Name" class="form-control" readonly="readonly">
                                                                                        </div>
                                                                                        <div>
                                                                                            <input type="text" id="txtdocholder1" value="@ViewBag.Document_Holder_Name_1" class="form-control" readonly="readonly">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Email Id</label>
                                                                                            <input type="text" id="txtemilid" value="@ViewBag.Email_ID" class="form-control" readonly="readonly">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="city" class=" form-control-label">Name Of Requestor</label>
                                                                                            <input type="text" id="txtreqname" value="@ViewBag.Requestor_Name" class="form-control" readonly="readonly">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Type Of Ownership </label>
                                                                                            @*<input type="text" id="txtdocholder" value="@ViewBag.Selectedtypeofownership" class="form-control">*@

                                                                                            @*@Html.DropDownListFor(x => Model.Selectedtypeofownership, new SelectList(Model.ival_LookupCategoryValuestypeofownership, "Lookup_ID", "Lookup_Value"), "Please Select", htmlAttributes: new { @class = "form-control", @id = "ddlowner", @value = "@ViewBag.Type_Of_Ownership" })*@
                                                                                            @Html.DropDownListFor(m => m.Selectedtypeofownership, new SelectList(Model.ival_LookupCategoryValuestypeofownership, "Lookup_Value", "Lookup_Value"), "Please Select", new { @class = "form-control", @id = "ddlowner", @value = "@ViewBag.Type_Of_Ownership" , @readonly = "readonly" })

                                                                                            @*@Html.DropDownListFor(a => a.Selectedtypeofownership, (IEnumerable<SelectListItem>)ViewBag.department, "-- Select Department --")*@
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="country" class=" form-control-label">Valuation Type</label>
                                                                                            @*<input type="text" id="txtdocholder" value="@ViewBag.ValuationType" maxlength="200" class="form-control">*@
                                                                                            @Html.DropDownListFor(x => Model.Selectedvaluationtype, new SelectList(Model.ival_LookupCategoryValuesvaluationtype, "Lookup_Value", "Lookup_Value"), "Please Select", htmlAttributes: new { @class = "form-control", @id = "ddlvaltypepropertymaster", @value = "@ViewBag.ValuationType", @readonly = "readonly" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="country" class=" form-control-label">Report Type</label>
                                                                                            @*<input type="text" id="txtdocholder" value="@ViewBag.ReportType" maxlength="200" class="form-control">*@
                                                                                            @Html.DropDownListFor(x => Model.Selectedreporttype, new SelectList(Model.ival_LookupCategoryValuesreporttype, "Lookup_Value", "Lookup_Value"), "Please Select", htmlAttributes: new { @class = "form-control", @id = "ddlreporttype", @value = "@ViewBag.ReportType", @readonly = "readonly" })

                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Method of Valuation</label>
                                                                                            @*<input type="text" id="txtdocholder" value="@ViewBag.Method_of_Valuation" maxlength="200" class="form-control">*@
                                                                                            @Html.DropDownListFor(x => Model.Selectedmethodvaluation, new SelectList(Model.ival_LookupCategoryValuesmethodvaluation, "Lookup_Value", "Lookup_Value"), "Please Select", htmlAttributes: new { @class = "form-control", @id = "ddlmethodval", @value = "@ViewBag.Method_of_Valuation" , @readonly = "readonly" })

                                                                                        </div>
                                                                                    </div>

                                                                                    <div style="clear:both;"></div>
                                                                                    <div style="clear:both;"></div>

                                                                                    <div id="divLoader" style="display:none;text-align:center">

                                                                                        <img src="~/images/810.gif" alt="Loader" />
                                                                                    </div>
                                                                                    <input type="button" onclick="Submitformrequest()" value="Submit" class="btn btn-success btn-sm pull-right" />
                                                                                    @*<a href="#" class="btn btn-success btn-sm pull-right">Submit</a>*@
                                                                                </div>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="UnitPrice" class="tab-pane fade">
                                                            <div>
                                                                <div class="col-12" style="margin-bottom:10px;">

                                                                </div>
                                                                <div class="card">
                                                                    <div class="card-body card-block">
                                                                        <div class="col-md-12">
                                                                            <div class="row">

                                                                                <div class="table-responsive">
                                                                                    <table class="table table-striped table-bordered">

                                                                                        <thead>
                                                                                            <tr>
                                                                                                <td width="78"><div align="center"><strong></strong></div></td>
                                                                                                <td width="78"><div align="center"><strong>Sr.No</strong></div></td>
                                                                                                @*<td width="206"><div align="center"><strong>Document Id</strong></div></td>*@
                                                                                                <td width="339"><div align="center"><strong>Name of document</strong></div></td>
                                                                                                <td width="206"><div align="center"><strong>Upload Document</strong></div></td>
                                                                                                <td width="206"><div align="center"><strong>View Document</strong></div></td>
                                                                                                <td width="206"><div align="center"><strong>Approval authority</strong></div></td>
                                                                                                <td width="206"><div align="center"><strong>Date Of Approval</strong></div></td>

                                                                                                <td width="206"><div align="center"><strong>Approval No</strong></div></td>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody id="tbluploaddoc">
                                                                                            @if (Model.ival_Document_Uploaded_ListS_New.Count == 0)
                                                                                            {
                                                                                                for (int idx1 = 0; idx1 < Model.ival_DocumentListsNew.Count; idx1++)
                                                                                                {
                                                                                                    <tr>

                                                                                                        <td id="value8">


                                                                                                            <input id="ival_DOCLIST_@idx1" type="checkbox" value="@Model.ival_DocumentListsNew[idx1].Document_Name" class=" form-control-label">

                                                                                                        </td>
                                                                                                        <td id="valuesr" style="display:none">
                                                                                                            @*<input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_DocumentLists[idx].Document_ID" />*@
                                                                                                            <input style="display:none" type="text" id="ival_DocumentLists_+@idx1" name="ival_DocumentLists_+@idx1" value="@Model.ival_DocumentListsNew[idx1].SrNo" readonly="readonly" />
                                                                                                        </td>

                                                                                                        <td id="value1" style="display:none">
                                                                                                            @*<input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_DocumentLists[idx].Document_ID" />*@
                                                                                                            <input style="display:none" type="hidden" id="ival_DocumentLists_+@idx1" name="ival_DocumentLists_+@idx1" value="@Model.ival_DocumentListsNew[idx1].Document_ID" readonly="readonly" />
                                                                                                        </td>
                                                                                                        <td id="valuedocname" style="display:none">
                                                                                                            <input style="display:none" type="text" id="ival_DocumentLists_+@idx1" name="ival_DocumentLists_+@idx1" value="@Model.ival_DocumentListsNew[idx1].Document_Name" readonly="readonly" />
                                                                                                        </td>
                                                                                                        <td id="valueSrId1">
                                                                                                            <label>@Model.ival_DocumentListsNew[idx1].SrNo</label>


                                                                                                        </td>
                                                                                                        @*<td id="valueDocid1">
                                <label>@Model.ival_DocumentListsNew[idx1].Document_ID</label>


                            </td>*@
                                                                                                        <td id="valuedocname1">
                                                                                                            <label>@Model.ival_DocumentListsNew[idx1].Document_Name</label>


                                                                                                        </td>

                                                                                                        <td id="value2"><input type="file" name="fileUpload" id="fileInput_@idx1" accept="application/pdf" onchange="FileUpload(@idx1,@Model.ival_DocumentListsNew[idx1].Document_ID)" size="23" /></td>
                                                                                                        <td id="value3">
                                                                                                            <input type="button" onclick="ViewDoc(@Model.ival_DocumentListsNew[idx1].Document_ID)" class="btn btn-file btn-sm" value="View Document" readonly="readonly" />

                                                                                                            <div id="DOC1"></div>
                                                                                                        </td>
                                                                                                        <td id="value5"><input type="text" id="txtApproving_Authority_+@idx1" name="Approving_Authority_+@idx1" readonly="readonly" /></td>
                                                                                                        <td id="value6"><input type="text" id="txtDate_of_Approval_+@idx1" name="Date_of_Approval_+@idx1" class='input-group date' readonly="readonly" /></td>
                                                                                                        @*@Html.EditorFor(model => model.DOR, new { htmlAttributes = new { @class = "form-control", @id = "datepicker1" } })*@
                                                                                                        <td id="value7"><input type="text" id="txtApproval_Num_+@idx1" name="Approval_Num_+@idx1" readonly="readonly" /></td>
                                                                                                        @*<td id="value4"><div id="DOC1(@idx)"></div></td>*@


                                                                                                    </tr>
                                                                                                }

                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                for (int idx = 0; idx < Model.ival_Document_Uploaded_ListS_New.Count; idx++)
                                                                                                {
                                                                                                    <tr>

                                                                                                        <td id="value8">

                                                                                                            @if ((@Model.ival_Document_Uploaded_ListS_New[idx].Docupload_ID) != 0)
                                                                                                            {

                                                                                                                <input id="ival_DOCLIST_@idx" type="checkbox" value="@Model.ival_Document_Uploaded_ListS_New[idx].Document_Name" class=" form-control-label" checked="checked" readonly="readonly">

                                                                                                            }
                                                                                                            else
                                                                                                            {

                                                                                                                <input id="ival_DOCLIST_@idx" type="checkbox" value="@Model.ival_Document_Uploaded_ListS_New[idx].Document_Name" class=" form-control-label" readonly="readonly">
                                                                                                            }
                                                                                                        </td>

                                                                                                        <td id="valuesr" style="display:none">
                                                                                                            @*<input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_DocumentLists[idx].Document_ID" />*@
                                                                                                            <input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_Document_Uploaded_ListS_New[idx].SrNo" readonly="readonly" />
                                                                                                        </td>
                                                                                                        <td id="value1" style="display:none">
                                                                                                            @*<input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_DocumentLists[idx].Document_ID" />*@
                                                                                                            <input style="display:none" type="hidden" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_Document_Uploaded_ListS_New[idx].Document_ID" readonly="readonly" />
                                                                                                        </td>
                                                                                                        <td id="valuedocname" style="display:none">
                                                                                                            <input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_Document_Uploaded_ListS_New[idx].Document_Name" />
                                                                                                        </td>
                                                                                                        <td id="valueSrId1">
                                                                                                            <label>@Model.ival_Document_Uploaded_ListS_New[idx].SrNo</label>


                                                                                                        </td>

                                                                                                        <td id="valuedocname1">
                                                                                                            <label>@Model.ival_Document_Uploaded_ListS_New[idx].Document_Name</label>


                                                                                                        </td>

                                                                                                        <td id="value2filename" style="display:none"><input type="text" name="fileUpload" id="fileInputfile_@idx" accept="application/pdf" value="@Model.ival_Document_Uploaded_ListS_New[idx].FileName"  size="23" /></td>
                                                                                                        <td id="value2"><input type="file" name="fileUpload" id="fileInput_@idx" accept="application/pdf" value="@Model.ival_Document_Uploaded_ListS_New[idx].Uploaded_Document" onchange="FileUpload(@idx,@Model.ival_Document_Uploaded_ListS_New[idx].Document_ID)" size="23" /><a href="@Model.ival_Document_Uploaded_ListS_New[idx].FileName">@Model.ival_Document_Uploaded_ListS_New[idx].FileName</a></td>
                                                                                                        <td id="value3">
                                                                                                            <input type="button" onclick="ViewDoc(@Model.ival_Document_Uploaded_ListS_New[idx].Document_ID)" class="btn btn-file btn-sm" value="View Document" />

                                                                                                            <div id="DOC1"></div>
                                                                                                        </td>
                                                                                                        <td id="value5"><input type="text" id="txtApproving_Authority_+@idx" name="Approving_Authority_+@idx" value="@Model.ival_Document_Uploaded_ListS_New[idx].Approval_Authority" readonly="readonly" /></td>
                                                                                                        <td id="value6"><input type="text" id="txtDate_of_Approval_+@idx" name="Date_of_Approval_+@idx" class='input-group date' value="@Model.ival_Document_Uploaded_ListS_New[idx].Date_Of_Approval_New" readonly="readonly" /></td>
                                                                                                        @*@Html.EditorFor(model => model.DOR, new { htmlAttributes = new { @class = "form-control", @id = "datepicker1" } })*@
                                                                                                        <td id="value7"><input type="text" id="txtApproval_Num_+@idx" name="Approval_Num_+@idx" value="@Model.ival_Document_Uploaded_ListS_New[idx].Approval_Number" readonly="readonly" /></td>
                                                                                                        @*<td id="value4"><div id="DOC1(@idx)"></div></td>*@


                                                                                                    </tr>
                                                                                                }
                                                                                            }

                                                                                        </tbody>
                                                                                    </table>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="subtitle">Add New document in list of documents</div>



                                                                                        <div class="form-group">
                                                                                            @*<label for="company" class=" form-control-label">Document ID:</label>*@
                                                                                            <input type="hidden" id="txtsrno" value=@ViewBag.Srno readonly="readonly" class="form-control">

                                                                                        </div>

                                                                                    </div>

                                                                                    <div class="col-12 col-md-4" style="padding-top:50px;">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Document Name:</label>
                                                                                            <input type="text" id="txtnewdocname" class="form-control">

                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="col-12 col-md-4" style="padding-top:75px;">
                                                                                        <input type="submit" onclick="AddNewTab()" class="btn btn-success btn-sm" value="Add" />
                                                                                    </div>

                                                                                    <div style="clear:both"></div>
                                                                                    @*<a href="#" class="btn btn-success btn-sm pull-right">Submit</a>*@
                                                                                    <input type="submit" onclick="Uploadfiles()" class="btn btn-success btn-sm pull-right" value="Submit" />
                                                                                    @*<input type="submit" onclick="Uploadfiles()" class="btn btn-success btn-sm pull-right" value="Submit" />*@
                                                                                </div>


                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div id="assignrequest" class="tab-pane fade">
                                                            <div>
                                                                <div class="col-12" style="margin-bottom:10px;">

                                                                </div>
                                                                <div class="card">
                                                                    <div class="card-body card-block">
                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Site Engineer</label>
                                                                                        @*<input type="text" id="siteenginner" value=@ViewBag.AssignedToEmpID>*@
                                                                                        <select name="" class="form-control" id="siteenginner" readonly="readonly">
                                                                                            <option value="@ViewBag.AssignedToEmpID">@ViewBag.AssignedToEmpID</option>
                                                                                            <option value="ABC">ABC</option>
                                                                                            <option value="XYZ">XYZ</option>
                                                                                            <option value="jkl">jkl</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <input type="submit" onclick="AddAssign()" class="btn btn-success btn-sm" style="margin-top:25px;" value="Assign" />
                                                                                @*<a href="#" class="btn btn-success btn-sm" style="margin-top:25px;">Assign</a>*@

                                                                                <div style="clear:both"></div>
                                                                                @*<a href="@Url.Action("Propertydetails","NewRequestor")" class="btn btn-success btn-sm pull-right">Next</a>*@

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- .animated -->
                            </div>
                            <!-- Default box -->
                            <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="~/Scripts/jquery.min.js"></script>
@*<script type="text/javascript" src="~/Scripts/jquery-ui-timepicker-addon.js"></script>
    <link href="~/Scripts/jquery-ui-timepicker-addon.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/jquery-ui-sliderAccess.js"></script>*@
<script type="text/javascript">

    $(function () {
        $(".date-picker").datepicker({
            dateFormat: 'dd-M-yy'
        });

    });

    $(document).ready(function () {
        //$("#bank").hide(600);
        //$("#retail").show(600);

        //$('#datepicker1').datetimepicker({
        //    co ntrolType: 'select',
        //    oneLine: true,
        //    timeFormat: 'HH:mm'
        //});
        if ('@ViewBag.CustomerName'=="") {
            $("#txtcustid").text = ""
        } else {
            $("#txtcustid").text = '@ViewBag.CustomerName'
        }



        if ('@ViewBag.CustomerName'== "") {
            $("#txtname").text =""
        }
        else {
            $("#txtname").text ='@ViewBag.CustomerName'
        }

        $("#ValuationRequestId").text ='@ViewBag.ValuationRequestId'
        $("#datepicker1").text ='@ViewBag.datepicker1'
        $("#txtnamdocholder").text = '@ViewBag.txtnamdocholder'

        $("#txtcustid").autocomplete({
            minLength: 1,
            source: generateOTP
        });


        function generateOTP() {

            var digits = '0123456789';

            var otpLength = 4;

            var otp = '';

            for (let i = 1; i <= otpLength; i++) {

                var index = Math.floor(Math.random() * (digits.length));

                otp = otp + digits[index];

            }

            return otp;

        }


    });
    function ValidateEmailBanks() {
        var email = document.getElementById("txtustEmailIDBank").value;
        var lblError = document.getElementById("TextmsgbankEmail");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }
    function ValidateEmail() {
        var email = document.getElementById("txtemilid").value;
        var lblError = document.getElementById("TextmsgEmail");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }


     var AllValue = [];
    function Submitformrequest() {
        $("#divLoader").show();
        AllValue.push({
             CustomerName: $("#txtname").val(),
             CustomerName1: $("#txtname1").val(),
            ValuationRequestId: $("#txtvalreqid").val(),
            CustomerId: $("#txtcustid").val(),
            reqname: $("#txtreqname").val(),
            datepicker1: $("#datepicker1").val(),
             txtnamdocholder: $("#txtdocholder").val(),
             txtnamdocholder1: $("#txtdocholder1").val(),
            txtemilid: $("#txtemilid").val(),
            txtcontactno1: $("#txtcontactno1").val(),
            txtcontactno2: $("#txtcontactno2").val(),
             ddlowner: $("#ddlowner option:selected").text(),
             ddlvaltypepropertymaster: $("#ddlvaltypepropertymaster option:selected").text(),
             ddlreporttype: $("#ddlreporttype option:selected").text(),
             ddlmethodval: $("#ddlmethodval option:selected").text(),
             requestorname: $("#txtreqname option:selected").text(),
             ReportRequestType: document.getElementById("ReportRequestType").value,
             RequestType1: document.getElementById("RequestType").value,
             ddlsiteeng: $("#siteenginner option:selected").text(),
             //ddlowner: $("#ddlowner option:selected").text(),
        });

        var str = JSON.stringify(AllValue);

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveSubsequentRequestorDetails", "NewRequestor")',
            data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                $("#divLoader").hide();
                   alert('Requestor details submitted successfully')
                // location.reload();
                //var url = '@Url.Action("RequestorDetails")';
                // window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });
        $('[href="#second"]').tab('show');
    }
    var AllUpload = [];
    var fileData = new FormData();
    function FileUpload(i) {


        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput_'+i);
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending


        var xhr = new XMLHttpRequest();
        xhr.open('POST', '../NewRequestor/UploadPDFFiles');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText);

            }
            return false;
            /// AllUpload.push({ fil//eData: fileData });

        }
    }

    function FileUploadnew(i) {


        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput_');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        //Creating an XMLHttpRequest and sending


        var xhr = new XMLHttpRequest();
        xhr.open('POST', '../NewRequestor/UploadPDFFiles');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText);

            }
            return false;
            /// AllUpload.push({ fil//eData: fileData });

        }
    }

    function ViewDoc(i) {
        console.log(i)
        var formData1 = new FormData();
        formData1.append("value", i)
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '../NewRequestor/SubDownloadNewEdit');
        xhr.send(formData1);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                debugger;

                window.open('../NewRequestor/DownloadPDF');

                //alert(xhr.responseText);

            }

            return false;
            /// AllUpload.push({ fil//eData: fileData });

        }
        // $.ajax({
        //    type: "POST",
        //    url: "../NewRequestor/Download",
        //    data: {},
        //    contentType: "application/json; charset=utf-8",
        //    success: function (response) {
        //        debugger;
        //        if (response == "Exist") {
        //            window.open('../NewRequestor/DownloadPDF');
        //        }
        //    },
        //    failure: function (response) {
        //        alert(response.responseText);
        //    },
        //    error: function (response) {
        //        alert(response.responseText);
        //    }
        //});

    }
    function ViewDocument() {
        $.ajax({
            type: "POST",
            url: "../NewRequestor/Download",
            data: {},
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                debugger;
                if (response == "Exist") {
                    window.open('../NewRequestor/DownloadPDF');
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

    }
        @*$.ajax({
            type: "POST",
             url: '@Url.Action("ShowDocument", "NewRequestor")',
            dataType: "json",
             data: {},
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
            var ret = (data);
            if (ret.Error == false) {
            $("#DOC1").empty();
            $("#DOC1").html('<iframe src="@Url.Action("ShowDocument", "NewRequestor", new { FilePath = "_FilePath" }) "'.replace("_FilePath", ret.FilePath) +  ' style="width: 98%; height: 98%" ></iframe>');
            // $("#DOC1").show();
            $("#DOC1").dialog({
            autoOpen: true,
            modal: true,
            height:500,
            width:600,
            buttons: {
                OK: function () { $(this).dialog("close"); }
                },
            title: "Document",
            });
        }
    }
        });*@

    function Uploadfiles(i) {
        var AllValue13 = [];
        var checked_checkboxes2 = $("[id*=tbluploaddoc] input:checked");
        var message = "";
        checked_checkboxes2.each(function () {
            var value2 = $(this).val();
            var TrCountchk = $("#tbluploaddoc tr").length;
          //  alert(TrCountchk)
            for (var i = 0; i < TrCountchk; i++) {
                AllValue13.push({
                    value2,
                    docid: $("#tbluploaddoc tr #value1  input").eq(i).val(),
                    filename: $("#tbluploaddoc tr #value2 input").eq(i).val(),
                    approvingauth: $("#tbluploaddoc tr #value5 input").eq(i).val(),
                    dateofapp: $("#tbluploaddoc tr #value6 input").eq(i).val(),
                    apprnum: $("#tbluploaddoc tr #value7 input").eq(i).val(),
                    valuedocname: $("#tbluploaddoc tr #valuedocname input").eq(i).val(),
                });
            }
        });

        var AllValue1 = [];

        var TrCount = $("#tbluploaddoc tr").length;
       // alert(TrCount)
        for (var i = 0; i < TrCount; i++) {
            AllValue1.push({
                docid: $("#tbluploaddoc tr #value1  input").eq(i).val(),
                value2filename: $("#tbluploaddoc tr #value2filename  input").eq(i).val(),
                filename: $("#tbluploaddoc tr #value2filename input").eq(i).val(),
                approvingauth: $("#tbluploaddoc tr #value5 input").eq(i).val(),
                dateofapp: $("#tbluploaddoc tr #value6 input").eq(i).val(),
                apprnum: $("#tbluploaddoc tr #value7 input").eq(i).val(),
                valuedocname: $("#tbluploaddoc tr #valuedocname input").eq(i).val(),
                CustomerId: '@ViewBag.CustomerId',
                 docname : $("#txtnewdocname").val(),
               srno : $("#txtsrno").val(),
            });

        }

        var str = JSON.stringify(AllValue1);
        var str1 = JSON.stringify(AllValue13);
       $.ajax({
            type: "POST",
            url: '@Url.Action("SubUploadFiles", "NewRequestor")',
             data: { str: str,str1:str1 },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                //  alert('Files Uploaded Successfully')
                // location.reload();
                //var url = '@Url.Action("RequestorDetails")';
                // window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });

        //value2
        $('[href="#third"]').tab('show');

    }

    function AddNewTab() {
        @*var newtab = [];

         newtab.push({
            docname : $("#txtnewdocname").val(),

        });
        var str = JSON.stringify(newtab);

        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveNewDoc", "NewRequestor")',
            data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                //   alert(data.Message)
                // location.reload();
                var url = '@Url.Action("RequestorDetails")';
               window.location.href = url;
                $("#documents").show();
               // location.reload();
            },
        });*@
        var markup
            if ($("#txtnewdocname").val() != "") {
                var oprationname = $("#txtnewdocname").val();
                var operationid = $("#txtsrno").val();
                markup += '<tr>';
                markup += '<td id="value8"><input type="checkbox" name="operationid" ></td>'
                markup +='<td id="value1" style="display:none"><input style="display:none" type="text" id="ival_DocumentLists_+" name="operationid" value=' + operationid + ' ></td>'
                markup +='<td id="valuedocname" style="display:none"><input style="display:none" type="text" id="ival_DocumentLists_+" name="oprationname" value=' + oprationname + ' ></td>'

                markup += '<td id="valueDocid1"><input type="text" name="operationid" value=' + operationid + '></td>'
                markup += '<td id="valuedocname1">' + oprationname + '</td>'
                markup += '<td id="value2"><input type="file" name="fileUpload" id="fileInput_" onchange="FileUploadnew(this);" size="23" /></td>'
                markup += ' <td id="value3"><input type="submit" onclick="ViewDoc(this);" class="btn btn-file btn-sm" value="View Document" /><div id="DOC1"></div> </td>'
                markup += '<td id="value5"><input type="text" id="txtApproving_Authority" name="Approving_Authority" /></td>'
                markup += '<td id="value6"><input type="datetime" id="txtDate_of_Approval" name="Date_of_Approval" /></td>'
                markup += '<td id="value7"><input type="text" id="txtApproval_Num" name="Approval_Num" /></td>'

                markup += '</tr>'
                $("table tbody").append(markup);
               // document.getElementById("tbluploaddoc").appendChild(markup);
            }

            else {
                alert('please enter row no');
            }



    }

    function AddAssign() {
        var newtab = [];

         newtab.push({
             //AssignedEmp: $("#siteenginner").text(),
             AssignedEmp: $("#siteenginner option:selected").text(),
        });
        var str = JSON.stringify(newtab);
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAssignedEmp", "NewRequestor")',
            data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {

                   alert('Employee Assigned Successfully')
                // location.reload();
                $("#divLoader").hide();
                var url = '@Url.Action("SubsequentPropertydetails", "Project")';
               window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });
    }

    //Priyanka 13-06-2020

     function SubmitFormBankRequest2() {
         AllValue.push({
             NameOfBank: $("#ddlBankID option:selected").text(),
             BranchName: $("#ddlBranchID option:selected").text(),
             Client_ID: $("#ddlBranchID").val(),
             Department: $("#ddlDepartment option:selected").text(),
             LoanType: $("#ddlLoanTypeID option:selected").text(),
             CustomerName: $("#txtname").val(),
             CustomerName1: $("#txtname1").val(),
             CustomerApplicationId: $("#txtustApplicationID").val(),
             CustomerEmailID: $("#txtustEmailIDBank").val(),
             ContactNO1: $("#txtContactNumber1").val(),
             ContactNO2: $("#txtContactNumber2").val(),
             NameOfRequestor: $("#txtNameOfRequestorBank").val(),
             DateRequest: $("#txtDateOfRequestbank").val(),
             ValuationRequestID: $("#txtValReqIDBank").val(),
             DoctHolderAndPropertyBank: $("#txtDoctHolderAndPropertyBank").val(),
             DoctHolderAndPropertyBank1: $("#txtDoctHolderAndPropertyBank1").val(),
             TypeOwnerShip: $("#ddlowner option:selected").text(),
             ValutionType: $("#ddlvaltypepropertymasterbank option:selected").text(),
             ReportType: $("#ddlreporttypebank option:selected").text(),
             MethodValuation: $("#ddlmethodvalbank option:selected").text(),
             ReportRequestType: document.getElementById("ReportRequestType").value,
             RequestType1: document.getElementById("RequestType").value,
             ValRequestID: $("#txtValReqIDbanks").val(),
        });
         var str = JSON.stringify(AllValue);
       //  alert($("#ddlBranchID").val());
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveSubsequentRequestorBankDetails", "NewRequestor")',
            data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                   alert('Requestor details submitted successfully')
                // location.reload();
                //var url = '@Url.Action("RequestorDetails")';
                // window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });
         $('[href="#second"]').tab('show');
    }

    $("#ddlBankID").change(function () {
        var Bank_ID = $(this).val()
       // alert(Bank_ID);
        $.ajax({

            url:'@Url.Action("GetBranchListByBankID", "NewRequestor")',
            data: { Bank_ID: Bank_ID },
            dataType: "json",
            type: "POST",
            success: function (data) {
                //alert(data);
                console.log(data);
                var obj = JSON.parse(data);
                $("#ddlBranchID").html("");
                $("#ddlBranchID").html("<option id=''>Please Select </option>")

                 $(obj).each(function(index,value){
                     $("#ddlBranchID").append(
                         $('<option></option>').val(value.Client_ID).html(value.Branch_Name));
                 })
            }
        });
    });



</script>