﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    ViewBag.Title = "RequestorView";
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        .page-break {
            page-break-after: always;
        }
        .page-break {
            display: inline-block;
            
        }

        .page-breakbefore {
            display:inline-block;
            page-break-before: always;
        }
        .page-breakafter {
            display:none;
            page-break-before: always;
        }
        .page-breakafter1 {
            display:contents;
            page-break-before: always;
        } 

    </style>
</head>
<body class="bg-dark">
    <table width="1000" border="1" bordercolor="#000000" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <tr>
            <td valign="top">
                <table width="100%" height="311" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">

                    <tr>
                        <td height="15" colspan="2" style="background-color:#999999; padding:o; margin:0; line-height:0;"></td>
                    </tr>
                    <tr>
                        <td height="42" colspan="2" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0; font-size:24px"><div align="center"><strong><u>Valuation Report</u></strong></div></td>
                    </tr>
                    <tr>
                        <td height="26" colspan="2" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0;"><div align="center"><span style="color:#000000; font-size:24px;">Date of valuation Report</span><span></span>&nbsp;&nbsp;&nbsp;<span style="font-size:24px">07-March, 2020</span></div></td>
                    </tr>
                    <tr>
                        <td height="41" colspan="2" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0; font-size:28px; color:#000000;"><div align="center"><strong>STANDARD VALUATION REPORT FORMAT</strong></div></td>
                    </tr>
                    <tr>
                        <td height="50" colspan="2" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table width="90%" border="1" align="center" height="914" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="margin-bottom:30px;">
                                <tr>
                                    <td height="31" colspan="4" style=" color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Address of property</strong></div></td>
                                </tr>
                                <tr>
                                    <td width="25%" style="color:#000000; font-size:18px;">
                                        <p align="justify">&nbsp;</p>
                                        <p align="justify">&nbsp; </p>
                                        <p align="justify"><strong> Name of the customer </strong></p>
                                        <p align="justify">&nbsp;</p>
                                        <p align="justify">&nbsp;</p>
                                    </td>
                                    <td width="25%" style="color:#000000; font-size:18px;"><div align="justify">@ViewBag.Customer_Name</div></td>
                                    <td width="22%" style="color:#000000; font-size:18px;"><div align="justify"><strong> Site visit  Date</strong></div></td>
                                    <td width="28%" style="color:#000000; font-size:18px;">@ViewBag.RequestDate</td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;">
                                        <p align="justify">&nbsp;</p>
                                        <p align="justify"><strong>Customer contact </strong></p>
                                        <p align="justify">&nbsp;</p>
                                        <p align="justify"><strong>Details</strong></p>
                                    </td>
                                    <td style="color:#000000; font-size:18px;"><div align="justify">@ViewBag.Customer_Contact_No_1</div></td>
                                    <td style="color:#000000; font-size:18px;"><div align="justify"><strong>Report release date</strong></div></td>
                                    <td style="color:#000000; font-size:18px;">@ViewBag.RequestDate</td>
                                </tr>
                                <tr>
                                    <td height="51" colspan="4" style="color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <p>&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center"><strong>Personal Information</strong></p>
                                        <p>&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Application no</strong></p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td style="color:#000000; font-size:18px;">@ViewBag.Customer_Application_ID</td>
                                    <td style="color:#000000; font-size:18px;"><strong>Transaction Type</strong></td>
                                    <td style="color:#000000; font-size:18px;">@ViewBag.TransactionType</td>
                                </tr>
                                <tr>
                                    <td height="61" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Name of the customer</strong></p>
                                    </td>
                                    <td height="61" style="color:#000000; font-size:18px;">@ViewBag.Customer_Name</td>
                                    <td height="61" style="color:#000000; font-size:18px;"><strong>Contact No</strong></td>
                                    <td height="61" style="color:#000000; font-size:18px;">@ViewBag.Customer_Contact_No_1</td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="3" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Person met at site</strong></p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Name</td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="4" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center" class="style2"><strong>Address</strong></div></td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>As per Legal Documents</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.UnitNumber</td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Building_Name_RI</td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.City</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>As per Actual at Site</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.UnitNumber</td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Building_Name_RI</td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.City</td>
                                </tr>
                                <tr>
                                    <td height="46" colspan="4" style="color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <p align="center">
                                            <strong>Location &amp; Property Details (As per site visit)</strong><br>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Status of Holding</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.StatusOfProperty</td>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Delivery Agency</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">Ivalue Advisory LLP</td>
                                </tr>
                                <tr>
                                    <td height="65" style="color:#000000; font-size:18px;">
                                        <p>
                                            <strong>
                                                Type of Property<br>
                                            </strong>
                                        </p>
                                    </td>
                                    <td height="65" style="color:#000000; font-size:18px;">@ViewBag.Property_Type</td>
                                    <td height="65" style="color:#000000; font-size:18px;"><strong>Name of the State</strong></td>
                                    <td height="65" style="color:#000000; font-size:18px;">@ViewBag.State</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Street on which Property </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>is </strong><strong>Located</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Street</td>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Occupation Status</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Occupancy_Details</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Main Locality</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Locality</td>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Sub Locality</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Sub_Locality</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Pin Code</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.PinCode</td>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Nearest Landmark</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.NearBy_Landmark</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Type of Locality as per </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Latest DP</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Type_of_Locality</td>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Property Usage</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Actual_Usage_Of_Property</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Is property Identifiable</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">YES</td>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Is Property </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Demarcated</strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Separately</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Plot_Demarcated_at_site</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Identified Through</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Property_Identified_PName</td>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Name of city/Town</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.City</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Roof Construction</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Roofing_Terracing</td>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Type of Structure</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">@ViewBag.Type_Of_Structure</td>
                                </tr>
                                <tr>
                                    <td class="page-breakafter" colspan="4"></td>
                                </tr>
                                @*<tr>
                                    <td colspan="4" rowspan="40"><br/></td>
                                </tr>*@
                                <tr>
                                    <td class="page-breakafter1" colspan="4"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                
            </td>

        </tr>
        
        <tr>
            <td valign="top">
                <table width="100%" height="1175" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                    @*<tr>
                        <td height="15" colspan="2" style="background-color:#999999; padding:o; margin:0; line-height:0;"></td>
                    </tr>
                    <t>
                        <td height="120" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0;"><div align="center"><img src="~/images/logo-home.png"></div></td>
                        <td style="background-color:#FFFFFF; padding:o; margin:0; line-height:0; font-size:28px; color:#000000;"><div align="center"><strong>i-Value Advisroy LLP</strong></div></td>
                    </t>
                    <tr>
                        <td height="15" colspan="2" style="background-color:#999999; padding:o; margin:0; line-height:0;"></td>
                    </tr>*@
                    <tr>
                        <td height="50" colspan="2" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table width="90%" border="1" align="center" height="929" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="25" colspan="2" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>No. of floors </strong><strong>in the</strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong> bungalow</strong></p>
                                    </td>
                                    <td width="20%" colspan="-1" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td width="20%" height="32" colspan="-1" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Located on floor </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>no.</strong></p>
                                    </td>
                                    <td width="20%" height="32" style="color:#000000; font-size:18px;">@ViewBag.Floor_Of_Unit</td>
                                </tr>
                                <tr>
                                    <td height="32" colspan="2" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Units in </strong><strong>Building</strong></p>
                                    </td>
                                    <td height="32" colspan="-1" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="32" colspan="-1" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Quality of </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Construction</strong></p>
                                    </td>
                                    <td height="32" style="color:#000000; font-size:18px;">@ViewBag.Quality_Of_Construction</td>
                                </tr>
                                <tr>
                                    <td height="32" colspan="2" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>External </strong><strong>Finish</strong></p>
                                    </td>
                                    <td height="32" colspan="-1" style="color:#000000; font-size:18px;">@ViewBag.Rough_Plaster</td>
                                    <td height="32" colspan="-1" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Type of  Flooring</strong></p>
                                    </td>
                                    <td height="32" style="color:#000000; font-size:18px;">@ViewBag.Type_of_Flooring</td>
                                </tr>
                                <tr>
                                    <td height="32" colspan="2" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Age of </strong><strong>Property</strong></p>
                                    </td>
                                    <td height="32" colspan="-1" style="color:#000000; font-size:18px;">@ViewBag.Current_Age_Of_Property</td>
                                    <td height="32" colspan="-1" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Life of Property</strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong> (in </strong><strong>future)</strong></p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td height="32" style="color:#000000; font-size:18px;">@ViewBag.Residual_Age_Of_Property</td>
                                </tr>
                                <tr>
                                    <td height="32" colspan="2" style="color:#000000; font-size:18px;"><strong>Latitude</strong></td>
                                    <td height="32" colspan="-1" style="color:#000000; font-size:18px;">@ViewBag.Cord_Latitude1</td>
                                    <td height="32" colspan="-1" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Longitude</strong></p>
                                    </td>
                                    <td height="32" style="color:#000000; font-size:18px;">@ViewBag.Cord_Longitude1</td>
                                </tr>
                                <tr>
                                    <td height="32" colspan="2" style="color:#000000; font-size:18px;"><strong>Extra Amenities Available</strong></td>
                                    <td height="32" colspan="3" style="color:#000000; font-size:18px;">@ViewBag.Amenities</td>
                                </tr>

                                <tr>
                                    <td height="32" colspan="5" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Zone/Location/Surrounding/Civic Amenities</strong></div></td>
                                </tr>
                                <tr>
                                    <td height="43" colspan="2" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Infrastructure in the </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Surrounding</strong></p>
                                    </td>
                                    <td width="20%" height="43" colspan="-1" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td width="20%" height="43" colspan="-1" style="color:#000000; font-size:18px;"><strong>Class of Locality</strong></td>
                                    <td width="20%" height="43" style="color:#000000; font-size:18px;">@ViewBag.Class_of_Locality</td>
                                </tr>
                                <tr>
                                    <td height="43" colspan="2" style="color:#000000; font-size:18px;"><strong>Type of Road</strong></td>
                                    <td height="43" colspan="-1" style="color:#000000; font-size:18px;">@ViewBag.Road_Finish</td>
                                    <td height="43" colspan="-1" style="color:#000000; font-size:18px;"><strong>Width of Road </strong></td>
                                    <td height="43" style="color:#000000; font-size:18px;">@ViewBag.Road1</td>
                                </tr>
                                <tr>
                                    <td height="43" colspan="5" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Connectivity(landmark details)</strong></div></td>
                                </tr>
                                <tr>
                                    <td height="43" colspan="2" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Distance from Local </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Bus Stand </strong></p>
                                    </td>
                                    <td height="43" colspan="-1" style="color:#000000; font-size:18px;">@ViewBag.Nearest_BusStop</td>
                                    <td height="43" colspan="-1" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Distance from </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Railway</strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong> station</strong></p>
                                    </td>
                                    <td height="43" style="color:#000000; font-size:18px;">@ViewBag.Nearest_RailwayStation</td>
                                </tr>
                                <tr>
                                    <td height="43" colspan="2" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Distance from Main </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Market</strong></p>
                                    </td>
                                    <td height="43" colspan="-1" style="color:#000000; font-size:18px;">@ViewBag.Nearest_Market</td>
                                    <td height="43" colspan="-1" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Distance from </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Hospital</strong></p>
                                    </td>
                                    <td height="43" style="color:#000000; font-size:18px;">@ViewBag.Nearest_Hospital</td>
                                </tr>
                                <tr>
                                    <td height="24" colspan="5" style="color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <p align="center">&nbsp;</p>
                                        <p align="center"><strong>Four Boundaries of </strong><strong>the Property</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="24" colspan="3" style="color:#000000; font-size:18px;">
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center"><strong>Four Boundaries </strong></p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                    </td>
                                    <td width="20%" colspan="-1" style="color:#000000; font-size:18px;">
                                        <p align="center"><strong>As Per</strong></p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center"><strong> Documents</strong></p>
                                        <p align="center">
                                            <strong>
                                                <br>
                                            </strong>
                                        </p>
                                    </td>
                                    <td width="20%" style="color:#000000; font-size:18px;">
                                        <p align="center"><strong>Actual as</strong></p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center"><strong>per </strong><strong>Site</strong></p>
                                        <p align="center">&nbsp;</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="3" style="color:#000000; font-size:18px;"><div align="center"><strong>East</strong></div></td>
                                    <td colspan="-1" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="3" style="color:#000000; font-size:18px;"><div align="center"><strong>West</strong></div></td>
                                    <td colspan="-1" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="3" style="color:#000000; font-size:18px;"><div align="center"><strong>North</strong></div></td>
                                    <td colspan="-1" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="3" style="color:#000000; font-size:18px;"><div align="center"><strong>South</strong></div></td>
                                    <td colspan="-1" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="5" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Side Margins</strong></div></td>
                                </tr>
                                <tr>
                                    <td width="20%" height="40" style="color:#000000; font-size:18px;"><strong>Side Margins</strong></td>
                                    <td width="20%" style="color:#000000; font-size:18px;"><strong>Front Margin</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Rear Margin</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Left Side</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Right Side</strong></td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>As Per</strong><strong> Approvals</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>As per </strong><strong>Local </strong><strong>Bye </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Laws</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><p><strong>As </strong><strong>Actuals</strong></p></td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Deviation</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Deviation %</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" height="1175" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                    @*<tr>
                        <td height="15" colspan="2" style="background-color:#999999; padding:o; margin:0; line-height:0;"></td>
                    </tr>
                    <tr>
                        <td height="120" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0;"><div align="center"><img src="images/logo-home.png"></div></td>
                        <td style="background-color:#FFFFFF; padding:o; margin:0; line-height:0; font-size:28px; color:#000000;"><div align="center"><strong>i-Value Advisroy LLP</strong></div></td>
                    </tr>
                    <tr>
                        <td height="15" colspan="2" style="background-color:#999999; padding:o; margin:0; line-height:0;"></td>
                    </tr>*@
                    <tr>
                        <td height="50" colspan="2" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table width="90%" border="1" align="center" height="682" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="margin-bottom:30px; margin-top:10px;">
                                <tr>
                                    <td height="40" colspan="4" style="color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <p align="center">&nbsp;</p>
                                        <p align="center"><strong>Area and accommodation Details (Sq. Ft.)</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%" height="40" style="color:#000000; font-size:18px;"><strong>Flat No..</strong></td>
                                    <td width="25%" style="color:#000000; font-size:18px;">
                                        <p><strong>Measured Built up </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Area </strong></p>
                                    </td>
                                    <td width="25%" style="color:#000000; font-size:18px;">
                                        <p><strong>Agreement Built up </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Area </strong></p>
                                    </td>
                                    <td width="25%" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><strong>Adopted area for </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>valuation (35% </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Loading </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>over Carpet area)</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="4" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Property Valuation - Market Value</strong></div></td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>Plot Area (in Sq. Ft.)</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Rate Range in the </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>locality                        (Rs. per Sq. </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Ft.)</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Rate Considered (Rs </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>per Sq. Ft.)</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Total Market Value of </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Land (in RS)</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Adopted built up area </strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><strong>(in </strong><strong>Sq. Ft.)</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Rate considered for </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>construction (Rs per </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Sq.Ft)</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Total Value built up  (in</strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong> RS)</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Total Value of </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>property </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>(in Rs)</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="3" style="color:#000000; font-size:18px;"><strong>In Words</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="4" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Distress Sale Value</strong></div></td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="3" style="color:#000000; font-size:18px;"><strong>80 % of Market Value </strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="4" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Satge Of Construction</strong></div></td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>% Completion</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;"><strong>% Recommendation</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="4" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Guidline &amp; Distress/Forced Sale Value</strong></div></td>
                                </tr>
                                <tr>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><strong>Government </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Guideline/Circle Rate </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>for </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Residential (Rs per </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Sq.ft)</strong></p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="40" style="color:#000000; font-size:18px;">
                                        <p><strong>Residential Value</strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong> as per </strong></p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><strong>Government Rate (Rs)</strong></p>
                                    </td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="4" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Property Specific Remark &amp; Observation</strong></div></td>
                                </tr>
                                <tr>
                                    <td height="40" colspan="3" style="color:#000000; font-size:18px;"><strong>Remarks</strong></td>
                                    <td height="40" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" height="1175" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                    @*<tr>
                        <td height="15" colspan="2" style="background-color:#999999; padding:o; margin:0; line-height:0;"></td>
                    </tr>
                    <tr>
                        <td height="120" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0;"><div align="center"><img src="images/logo-home.png"></div></td>
                        <td style="background-color:#FFFFFF; padding:o; margin:0; line-height:0; font-size:28px; color:#000000;"><div align="center"><strong>i-Value Advisroy LLP</strong></div></td>
                    </tr>
                    <tr>
                        <td height="15" colspan="2" style="background-color:#999999; padding:o; margin:0; line-height:0;"></td>
                    </tr>*@
                    <tr>
                        <td height="50" colspan="2" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table width="80%" border="1" align="center" height="236" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="margin-bottom:30px; margin-top:10px;">
                                <tr>
                                    <td width="100%" height="78" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Property Location (19.843281,74.043931)</strong></div></td>
                                </tr>
                                <tr>
                                    <td height="78" style="color:#000000; font-size:18px;"><div align="center"><img class="img-responsive" src="images/location.jpg" width="400" height="500"></div></td>
                                </tr>
                                <tr>
                                    <td height="78" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Property Photographs</strong></div></td>
                                </tr>
                                <tr>
                                    <td height="50" colspan="2" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table width="80%" border="1" align="center" height="80" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="margin-bottom:30px; margin-top:10px;">
                                            <tr>
                                                <td width="42%" height="78" style="color:#000000; font-size:18px;"><div align="center"><img src="images/1.jpg" width="335" height="397"></div></td>
                                                <td width="39%" style="color:#000000; font-size:18px;"><div align="center"><img src="images/2.jpg" width="329" height="396"></div></td>
                                                <td width="19%" style="color:#000000; font-size:18px;"><div align="center"><img src="images/3.jpg" width="330" height="395"></div></td>
                                            </tr>
                                            <tr>
                                                <td height="78" style="color:#000000; font-size:18px;"><img src="images/4.jpg" width="332" height="400"></td>
                                                <td style="color:#000000; font-size:18px;"><img src="images/5.jpg" width="332" height="400"></td>
                                                <td style="color:#000000; font-size:18px;"><img src="images/6.jpg" width="332" height="400"></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" height="1175" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                    <tr>
                        <td height="15" colspan="2" style="background-color:#999999; padding:o; margin:0; line-height:0;"></td>
                    </tr>
                    <tr>
                        <td height="120" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0;"><div align="center"><img src="images/logo-home.png"></div></td>
                        <td style="background-color:#FFFFFF; padding:o; margin:0; line-height:0; font-size:28px; color:#000000;"><div align="center"><strong>i-Value Advisroy LLP</strong></div></td>
                    </tr>
                    <tr>
                        <td height="15" colspan="2" style="background-color:#999999; padding:o; margin:0; line-height:0;"></td>
                    </tr>
                    <tr>
                        <td height="50" colspan="2" style="background-color:#FFFFFF; padding:o; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table width="90%" border="1" align="center" height="1340" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="margin-bottom:30px; margin-top:10px;">
                                <tr>
                                    <td height="36" colspan="4" bgcolor="#FFFFFF" style="color:#000000; font-size:18px; background-color:#dce6f1;"><p align="center"><strong>Documents Provided</strong></p>               </td>
                                </tr>
                                <tr>
                                    <td height="108" colspan="2" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;">
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center"><strong>Document </strong></p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                        <p align="center">&nbsp;</p>
                                    </td>
                                    <td width="25%" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;"><div align="center"><strong>Date </strong></div></td>
                                    <td width="21%" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;"><div align="center"><strong>Authority</strong></div></td>
                                </tr>
                                <tr>
                                    <td height="109" colspan="2" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;"><div align="center"><strong>Sale Deed</strong></div></td>
                                    <td height="109" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="109" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="217" colspan="2" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;"><div align="center"><strong>Construction Plan</strong></div></td>
                                    <td height="217" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="217" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="217" colspan="4" bgcolor="#FFFFFF" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Disclaimer</strong></div></td>
                                </tr>
                                <tr>
                                    <td height="217" colspan="4" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>1. We have no direct or indirect interest in the property valued. </p>
                                        <p>&nbsp;</p>
                                        <p>
                                            <br>
                                            2. The information furnished in the report is true and correct to the best of our knowledge and
                                        </p>
                                        <p>&nbsp;</p>
                                        <p>
                                            belief.<br>
                                        </p>
                                        <p>&nbsp;</p>
                                        <p>3. We have relied on the Documents Provided by the Client &amp; We have assumed that clients have </p>
                                        <p>&nbsp;</p>
                                        <p>
                                            verified the same. <br>
                                        </p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>4.We have not carried out any legal due diligence of the property, any disputes regarding</p>
                                        <p>&nbsp;</p>
                                        <p> ownership, title, marketability of the property will change the valuation substantially</p>
                                        <p>&nbsp;</p>
                                        <p>
                                            . <br>
                                        </p>
                                        <p>5. The fair market value indicated in the report is an opinion of the value prevailing on the date of </p>
                                        <p>&nbsp;</p>
                                        <p>the said report and is based on market feedback on values of similar properties. The fair, market </p>
                                        <p>&nbsp;</p>
                                        <p>value of such properties/localities may increase or decrease, depending on the market conditions </p>
                                        <p>&nbsp;</p>
                                        <p>
                                            and scenarios. <br>
                                        </p>
                                        <p>&nbsp;</p>
                                        <p>6. This report is valid for 30 days from the date of this report.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="27%" height="217" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>
                                        <p><strong>Name of Engineer </strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong>Visited </strong><strong>the Site</strong></p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td width="27%" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;">&nbsp;</td>
                                    <td height="217" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;">
                                        <p><strong>Authorized Signatory</strong></p>
                                        <p>&nbsp;</p>
                                        <p><strong> Name &amp; Signature</strong></p>
                                    </td>
                                    <td height="217" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td height="217" colspan="4" bgcolor="#FFFFFF" style="color:#000000; font-size:18px; padding-top:10px; padding-bottom:10px;"><div align="center"><img src="images/stamp.jpg" width="600" height="300"></div></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p>@Html.ActionLink("Convert View To PDF", "PrintViewToPdf")</p>
    @*<a href="~/Reports/Report.aspx">View Report</a>*@
</body>
</html>
