﻿@model IEnumerable<IValuePublishProject.Models.ival_ClientMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="padding-left:10px;"> Client List  </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="search-container">
                                    <form>
                                       @* <input type="text" placeholder="Search.." name="search">
                                        <button type="submit"><i class="fa fa-search"></i></button>*@

                                        @using (Html.BeginForm("Index", "ClientMasterNew", FormMethod.Post))
                                        {
                                            <a class="btn btn-success btn-sm pull-right" href="@Url.Action("AddClientNew","ClientMasterNew")">Add New Client</a>
                                        }
                                        @*<a class="btn btn-success btn-sm pull-right" href="AddClientNew">Add New Client</a>*@
                                    </form>
                                </div>
                                <br>
                                <br />
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered tblss">
                                        <thead>
                                            <tr>
                                                <th width="210">Client</th>
                                                <th width="252">State</th>
                                                <th width="50">View</th>
                                                <th width="114">Edit </th>
                                                <th width="50">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>

                                                    <td width="210">
                                                        @Html.DisplayFor(modelItem => item.Client_Name)
                                                    </td>
                                                    
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Client_State)
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("ViewClientNew", "ClientMasterNew", new { id = item.Client_ID })">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("EditClientNew", "ClientMasterNew", new { id = item.Client_ID })">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </td>

                                                    <td>
                                                        <a>
                                                            <i class="fa fa-trash" aria-hidden="true" onclick="ConfirmDelete(@item.Client_ID);"></i>
                                                        </a>
                                                       
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>

     function ConfirmDelete(Id) {
            var str = Id;
            var x = confirm("Are you sure you want to delete?");
            if (x) {
               $.ajax({
            type: "GET",
            url: '@Url.Action("Delete", "ClientMasterNew")',
            data: { ID: str },
            success: function (data) {
                //$("#divLoader").hide();
                   alert('Client Deleted successfully')
                window.location.reload();
            },
        });
            }
            else
                return
        }

</script>