﻿@model I_Value.WebApp.Models.VMClientMaster
@{
    ViewBag.Title = "ViewClientNew";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="padding-left:10px;">View Client Details </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 padd0">
                            <div class="card">
                                <div class="card-body card-block">

                                    <div class="row">
                                        <div class="col-12"> </div>
                                        <div class="col-12 col-md-12">
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="city" class=" form-control-label">Client Name</label>
                                                            @Html.HiddenFor(m => m.Client_ID)
                                                            @*<input type="text" id="company" class="form-control">*@
                                                            @Html.EditorFor(model => model.ival_ClientMaster.Client_Name, new { htmlAttributes = new { @class = "form-control", id = "txtClname", onkeyup = "ClearMsgCname();", @readonly = "true" } })
                                                            <span id="spCname" asp-validation-for="dist" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">State </label>
                                                    @Html.DropDownListFor(m => m.SelectedStateID, new SelectList(Model.ival_StateList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", id = "SelectedClientStateID", onchange = "ClearMsgState()", @disabled = "disabled" })
                                                    <span id="spState" asp-validation-for="state" class="text-danger"></span>
                                                    @*<select name="" class="form-control">
                                                            <option>Select</option>
                                                            <option>Maharashtra</option>
                                                            <option>Karnataka</option>
                                                            <option>Madhya Pradesh</option>
                                                        </select>*@

                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">PAN Number </label>
                                                    @*<input type="text" id="company" class="form-control">*@
                                                    @Html.EditorFor(model => model.ival_ClientMaster.PAN_Num, new { htmlAttributes = new { @class = "form-control", id = "txtPAN", onchange = "ClearMsgPAN()", @Maxlength = "10", @readonly = "true" } })
                                                    <span id="spPAN" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">GSTIN Number</label>
                                                    @*<input type="text" id="company" class="form-control">*@
                                                    @Html.EditorFor(model => model.ival_ClientMaster.GSTIN_Num, new { htmlAttributes = new { @class = "form-control", id = "txtGST", onchange = "ClearMsgGST()", @readonly = "true" } })
                                                    <span id="spGSTIN" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-secondary btn-sm pull-right margin-r-5" data-dismiss="modal" onclick="BackToMain();">Back</button>
                                    @*<a class="btn btn-success btn-sm pull-right" href="client-master-list.html">Submit</a>*@

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- .animated -->
            </div>
        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>

    function BackToMain() {
                window.location.href = '@Url.Action("index", "ClientMasterNew")';
    }
    </script>