﻿

@model I_Value.WebApp.Models.ViewModelRequest

@{
    ViewBag.Title = "DownloadPDF1";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}
<body>
    <div>
        @if (TempData["Embed"] != null)
        {
            @MvcHtmlString.Create(TempData["Embed"].ToString())
        }
    </div>
</body>