﻿@model I_Value.WebApp.Models.ViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>List of All Projects</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="search-container">
                                    <form>
                                        <input type="text" placeholder="Search.." name="search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("ProjectSearch","ProjectMaster")">Add Project</a>
                                    </form>
                                </div><br>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="187">Builder Group Name</th>
                                                <th width="187"> Company Name</th>
                                                <th width="164">Projects</th>
                                                <th width="164">City</th>
                                                <th width="131">State</th>
                                                <th width="130">View Details</th>
                                                <th width="55">Edit</th>
                                                <th width="70">Approval</th>
                                                <th width="45">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.VMProjectIndexs)
                                            {
                                                <tr>
                                                    @*<td>
                                                        @Html.DisplayFor(modelItem => item.Project_ID)
                                                    </td>*@
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.BuilderGroupName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Builder_Company_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Project_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.City)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.State)
                                                    </td>
                                                   
                                                   
                                                    <td><a href="@Url.Action("ProjectdetailsView", "ProjectMaster", new { id = item.Project_ID })"><i class="fa fa-eye"></i></a></td>
                                                    <td><a href="@Url.Action("EditProjectdetails", "ProjectMaster", new { id = item.Project_ID })"><i class="fa fa-edit"></i></a></td>
                                                    <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>

                                                    <td><i class="fa fa-trash" aria-hidden="true"></i></td>


                                                </tr>
                                            }



                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="search-container">
                                    <form>
                                        <input type="text" placeholder="Search.." name="search">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                        <a class="btn btn-success btn-sm pull-right" href="building-master.html">Add Building</a>
                                    </form>
                                </div>
                                <br>
                                <div class="col-md-12" style="margin-bottom:10px;"> <span style="font-size:10px; color:#999999;">Note: show this list of Building on click on Project name in above table</span> </div>
                                <div style="clear:both"></div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="3">Project Name - Lake town</th>
                                            </tr>
                                            <tr>
                                                <th width="187">Building Name</th>
                                                <th width="132">City</th>
                                                <th width="210">State</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td width="187">Rohan kritika</td>
                                                <td width="132">Pune</td>
                                                <td width="210">Maharashtra</td>
                                            </tr>
                                            <tr>
                                                <td width="187">Rutuparn</td>
                                                <td width="132">Nashik</td>
                                                <td width="210">Maharashtra</td>
                                            </tr>
                                            <tr>
                                                <td width="187">Jadhavheritage</td>
                                                <td width="132">Mumbai</td>
                                                <td width="210">Maharashtra</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
