﻿@model I_Value.WebApp.Models.VMSubLocalityMaster
{

}
@{
    ViewBag.Title = "EditSubLocality";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="padding-left:10px;">Edit SubLocality </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-12"> </div>
                                    <div class="col-12 col-md-12">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">District</label>
                                                @Html.DropDownListFor(m => m.District_ID, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new
                                                {
                                                    @class = "form-control",
                                                    @Maxlength = "50",
                                                    id = "txtDistrictID1"@*, onchange = "GetLocalityByOnSelect1(this.District_ID)"*@})
                                                <span id="spDist" asp-validation-for="District" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">City</label>
                                                @Html.DropDownListFor(m => m.City_Id, new SelectList(Model.ival_CityList, "City_Id", "City_Name"), "Please Select", new
                                                {
                                                    @class = "form-control",
                                                    @Maxlength = "50",
                                                    id = "txtCity"@*,  onchange = "GetLocalityByOnSelect1(this.District_ID)"*@})
                                                <span id="spDist" asp-validation-for="District" class="text-danger"></span>
                                            </div>
                                        </div>


                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">Locality</label>
                                                @Html.HiddenFor(m => m.SubLocality_Id)

                                                @Html.DropDownListFor(m => m.Loc_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "txtLocID", onchange = "GetPinByOnSelect(this.loc_Id)" })
                                                <span id="spLoc" asp-validation-for="Loc" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="country" class=" form-control-label">Pin Code</label>
                                                @Html.DropDownListFor(m => m.Loc_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "txtPinID", onchange = "ClearMsgPin()" })
                                                <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="company" class=" form-control-label">Sub locality</label>
                                                @*<input type="text" id="company" class="form-control">*@
                                                @Html.EditorFor(m => m.Sub_Locality, new { htmlAttributes = new { @class = "form-control", id = "txtSubLocality", @Maxlength = "50", type = "text", onkeyup = "MsgClearSubLoc()" } })
                                                <span id="spSubLoc" asp-validation-for="SubLoc" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="UpdateSubLocality();" class="btn btn-success btn-sm pull-right">Submit</button>
                                    <button type="button" class="btn btn-secondary btn-sm pull-right margin-r-5" data-dismiss="modal" onclick="BackToMain();">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- Default box -->
        <!-- /.box -->
        <script src="~/Scripts/jquery.min.js"></script>

        <script>
     function BackToMain() {
                window.location.href = '@Url.Action("index", "SubLocality")';
    }

    function ClearMsgPin() {
        $("#spPin").html("Please select Pincode").hide();
    }
    function MsgClearSubLoc() {
        $("#spSubLoc").html("Please enter SubLocality").hide();
    }

    @*function clearfields() {

            document.getElementById("txtLocID").value = "";
           // document.getElementById("txtPinID").val("");
            $("#txtPinID").text("");
            document.getElementById("txtSubLocality").value = "";
        }*@
        </script>
        <script>

    var UpdateSubLocalitydetails = [];
    function UpdateSubLocality() {
        var Dist = $("#txtDistrictID1").val();
                var Loc = $("#txtLocID").val();
                var Pin = $("#txtPinID option:selected").text();
                var SubLoc = $("#txtSubLocality").val();

        if (Dist="" || Loc == "" || Pin == "Please Select" || SubLoc == "") {
            if (Dist = "" || Loc == "" || Pin == "" || SubLoc == "") {
                $("#spDist").html("Please select District");
                $("#spDist").css("display", "block");
                $("#spLoc").html("Please select Locality");
                        $("#spLoc").css("display", "block");
                        $("#spPin").html("Please select Pincode");
                        $("#spPin").css("display", "block");
                        $("#spSubLoc").html("Please enter SubLocality");
                        $("#spSubLoc").css("display", "block");
            }
            if (Dist = "") {
                $("#spDist").html("Please select District");
                $("#spDist").css("display", "block");
                return false;
            }
                    if (Loc == '') {
                        $("#spLoc").html("Please select Locality");
                        $("#spLoc").css("display", "block");
                        return false;
                    }

                    if (Pin == "Please Select") {
                        $("#spPin").html("Please select Pincode");
                        $("#spPin").css("display", "block");
                        return false;
                    }

                    if (SubLoc == '') {
                        $("#spSubLoc").html("Please enter SubLocality");
                        $("#spSubLoc").css("display", "block");
                        return false;
                    }
                }
                else {
                    UpdateSubLocalitydetails.push({
                        txt_SubLocId: $("#SubLocality_Id").val(),
                        txt_Distid: $("#txtDistrictID1").val(),
                        txt_Locid: $("#txtLocID").val(),
                        txt_Pin: $("#txtPinID option:selected").text(),
                        txt_SubLoc: $("#txtSubLocality").val()

                    });

                    var str = JSON.stringify(UpdateSubLocalitydetails);

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("UpdateSubLocality", "SubLocality")',
                        data: { str: str },
                        Response: ContentType = 'application/json;charset=utf-8',
                        success: function (data) {
                            alert(data["Message"]);
                        window.location.href = '@Url.Action("index", "SubLocality")';
                        },
                    });
        }
        $("#txtDistrictID1").val("");
            $("#txtLocID").val("");
            $("#txtPinID").text("");
            $("#txtSubLocality").val("");
            }
        </script>
        <script>

   @* function GetPinByOnSelect() {
        $("#txtPinID").prop("disabled", false);
        $("#spLoc").html("Please select Locality").hide();
                var Loc_id = $("#txtLocID").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetPinByOnselect", "SubLocality")',
                    data: { str: Loc_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        //$('#txtPinID').val(value.str)0.html(obj.Pin_Code));
                        $("#txtPinID").html("");
                        $("#txtPinID").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#txtPinID").append(
                                $('<option></option>').val(value.str).html(value.Pin_Code));
                        })
                    },
                });
            }
        </script>

        <script>

            function GetLocalityByOnSelect1() {
                $("#spdist").html("Please select District").hide();
                var Dist_id = $("#txtDistrictID1").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetLocalityByOnSelect", "SubLocality")',
                    data: { ID: Dist_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#txtLocID").html("");
                        $("#txtLocID").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#txtLocID").append(
                                $('<option></option>').val(value.Loc_Id).html(value.Loc_Name));

                        })
                    },
                });
            }*@
            $("#txtDistrictID1").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtCity").html("");
                    $("#txtCity").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtCity").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
            });

             $("#txtCity").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtLocID").html("");
                    $("#txtLocID").html("<option id=''>Please Select</option>")

                    $("#txtPinID").html("");
                    $("#txtPinID").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#txtLocID").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });



           


            $("#txtLocID").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtPinID").html("");
                    $("#txtPinID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtPinID").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });


        </script>

    </section>
<!-- /.content -->
</div>