﻿@model I_Value.WebApp.Models.VMSubLocalityMaster
{

}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="padding-left:10px;">Sub locality Master </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <a class="btn btn-success btn-sm pull-right" href="#" data-toggle="modal" data-target="#addbranch2" style="margin-right:5px;">Add Sub locality</a>
                                <br />
                                <br>
                                <table id="example1" class="table table-bordered table-striped tblss">
                                    <thead>
                                        <tr>
                                            <th width="210">District</th>
                                            <th width="210">Locality</th>
                                            <th width="202">PinCode</th>
                                            <th width="202">Sub locality</th>
                                            <th width="150">View Details</th>
                                            <th width="102">Edit </th>
                                            <th width="50">Delete</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model.ival_SubLocalityMaster)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.District_Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Loc_Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Pin_Code)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Sub_Locality)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("ViewSubLocalityDetails", "SubLocality", new { id = item.SubLocality_Id })">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("EditSubLocality", "SubLocality", new { id = item.SubLocality_Id })">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </td>

                                                <td>
                                                    @*<a href="@Url.Action("DeleteSubLocality", "SubLocality", new { id = item.SubLocality_Id })">*@
                                                    <a>
                                                        <i class="fa fa-trash" aria-hidden="true" onclick="ConfirmDelete(@item.SubLocality_Id);"></i>
                                                    </a>

                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <!--AddNewValue -->
                                <div class="modal fade" id="addbranch2" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="largeModalLabel">Sub locality</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12"> </div>
                                                    <div class="col-12 col-md-12">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="country" class=" form-control-label">District</label>
                                                                @Html.DropDownListFor(m => m.District_ID, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "txtDistrictID1", onchange = "GetCitySelect1(this.District_ID)" })
                                                                <span id="spdist" asp-validation-for="dist" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="country" class=" form-control-label">City</label>
                                                                @Html.DropDownListFor(m => m.City_Id, new SelectList(Model.ival_CityList, "City_ID", "City_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "txtCityID1", onchange = "GetLocalityByOnSelect1(this.City_Id)" })
                                                                <span id="spdist" asp-validation-for="dist" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="country" class=" form-control-label">Locality</label>
                                                                @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@

                                                                @Html.DropDownListFor(m => m.Loc_Id, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", @Maxlength = "50", id = "txtLocID", onchange = "GetPinByOnSelect(this.Loc_Id)" })


                                                                <span id="spLoc" asp-validation-for="Loc" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="country" class=" form-control-label">Pin Code</label>
                                                                @Html.DropDownListFor(m => m.Loc_Id, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "txtPinID", onchange = "ClearMsgPin()" })
                                                                <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="company" class=" form-control-label">Sub locality</label>
                                                                @*<input type="text" id="company" class="form-control">*@
                                                                @Html.EditorFor(m => m.Sub_Locality, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "txtSubLocality", type = "text", onkeyup = "MsgClearSubLoc()" } })
                                                                <span id="spSubLoc" asp-validation-for="SubLoc" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="clearfields();">Cancel</button>
                                                <button type="button" onclick="AddSubLocality();" class="btn btn-success btn-sm">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--AddNewValue -->
                                <div class="modal fade" id="addbranch2" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="largeModalLabel">Add Sub locality</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12"> </div>
                                                    <div class="col-12 col-md-12">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="country" class=" form-control-label">Locality</label>
                                                                <select class="form-control">
                                                                    <option value="" label="select"></option>
                                                                    <option>Kothrud</option>
                                                                    <option>Ambegoan</option>
                                                                    <option>Bhavani Peth</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="country" class=" form-control-label">Pin Code</label>
                                                                <select class="form-control">
                                                                    <option value="" label="select"></option>
                                                                    <option>411038</option>
                                                                    <option>411046</option>
                                                                    <option>411002</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="company" class=" form-control-label">Sub locality</label>
                                                                <input type="text" id="company" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-success btn-sm">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- Default box -->
        <!-- /.box -->
        <script src="~/Scripts/jquery.min.js"></script>
        <script>
            function ClearMsgPin() {
                $("#spPin").html("Please select Pincode").hide();
            }
            function MsgClearSubLoc() {
                $("#spSubLoc").html("Please enter SubLocality").hide();
            }
        </script>
        <script>
             function ConfirmDelete(Id) {
            var str = Id;
            var x = confirm("Are you sure you want to delete?");
            if (x) {
               $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteSubLocality", "SubLocality")',
            data: { ID: str },
            success: function (data) {
                //$("#divLoader").hide();
                   alert('SubLocality Deleted successfully')
                window.location.reload();
            },
        });
            }
            else
                return
        }

        function clearfields() {

            document.getElementById("txtLocID").value = "";
            //document.getElementById("txtPinID").val("");
            $("#txtPinID").text("");
            document.getElementById("txtSubLocality").value = "";
            window.location.reload();
        }
        </script>
        <script>

             var SubLocalitydetails = [];
            function AddSubLocality() {
                var Dist = $("#txtDistrictID1").val();
                var Loc = $("#txtLocID").val();
                var Pin = $("#txtPinID option:selected").text();
                var SubLoc = $("#txtSubLocality").val();

                if (Dist = "" || Loc == "" || Pin == "Please Select" || SubLoc == "") {
                    if (Dist = "" || Loc == "" || Pin == "Please Select" || SubLoc == "") {
                        $("#spDist").html("Please select District");
                        $("#spDist").css("display", "block");
                        $("#spLoc").html("Please select Locality");
                        $("#spLoc").css("display", "block");
                        $("#spPin").html("Please select Pincode");
                        $("#spPin").css("display", "block");
                        $("#spSubLoc").html("Please enter SubLocality");
                        $("#spSubLoc").css("display", "block");
                    }
                    if (Dist = "") {
                        $("#spDist").html("Please select District");
                        $("#spDist").css("display", "block");
                    }
                    if (Loc == '') {
                        $("#spLoc").html("Please select Locality");
                        $("#spLoc").css("display", "block");
                        return false;
                    }

                    if (Pin == "Please Select") {
                        $("#spPin").html("Please select Pincode");
                        $("#spPin").css("display", "block");
                        return false;
                    }

                    if (SubLoc == '') {
                        $("#spSubLoc").html("Please enter SubLocality");
                        $("#spSubLoc").css("display", "block");
                        return false;
                    }
                }
                else {
                    SubLocalitydetails.push({
                        txt_Distid : $("#txtDistrictID1").val(),
                        txt_Locid: $("#txtLocID").val(),
                        txt_Pin: $("#txtPinID option:Selected").text(),
                        txt_SubLoc: $("#txtSubLocality").val()

                    });

                    var str = JSON.stringify(SubLocalitydetails);

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("AddSubLocality", "SubLocality")',
                        data: { str: str },
                        Response: ContentType = 'application/json;charset=utf-8',
                        success: function (data) {
                            //alert(data["Message"]);
                           @* window.location.href = '@Url.Action("index", "SubLocality")';*@
                            alert('SubLocality Details Added successfully');
                            var url = '@Url.Action("Index", "SubLocality")';
                            window.location.href = url;
                        },
                    });
                }
                $("#txtDistrictID1").val("");
            $("#txtLocID").val("");
            $("#txtPinID").text("");
            $("#txtSubLocality").val("");
                window.location.reload();
            }
        </script>

        <script type="text/javascript">


            function GetPinByOnSelect() {
                $("#spLoc").html("Please select Locality").hide();
                var Loc_id = $("#txtLocID").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetPinByOnselect", "SubLocality")',
                    data: { str: Loc_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#txtPinID").html("");
                        $("#txtPinID").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#txtPinID").append(
                                $('<option></option>').val(value.str).html(value.Pin_Code));

                        })
                    },
                });
            }



        </script>
        <script>

            function GetLocalityByOnSelect1() {
                $("#spdist").html("Please select District").hide();
                var Dist_id = $("#txtCityID1").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetLocalityByOnSelect", "SubLocality")',
                    data: { ID: Dist_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#txtLocID").html("");
                        $("#txtLocID").html("<option id=''>Please Select</option>")

                        $(obj).each(function (index, value) {
                            $("#txtLocID").append(
                                $('<option></option>').val(value.Loc_Id).html(value.Loc_Name));

                        })
                    },
                });
            }

                function GetCitySelect1() {
                $("#spdist").html("Please select District").hide();
                var Dist_id = $("#txtDistrictID1").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetCitySelect1", "SubLocality")',
                    data: { ID: Dist_id },
            Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data)
                    {
                        var obj = JSON.parse(data);
                        $("#txtCityID1").html("");
                        $("#txtCityID1").html("<option id=''>Please Select</option>")
                        $("#txtLocID").html("");
                        $("#txtLocID").html("<option id=''>Please Select</option>")

                        $("#txtPinID").html("");
                        $("#txtPinID").html("<option id=''>Please Select</option>")
                        $(obj).each(function (index, value) {
                            $("#txtCityID1").append(
                                $('<option></option>').val(value.City_Id).html(value.City_Name));

                        })
                    },
                });
            }

        </script>
    </section>
    <!-- /.content -->
</div>
