﻿@model I_Value.WebApp.Models.VMBuilderGroupMaster
@{
    /**/

    ViewBag.Title = "RequestorDetails";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <script src="~/Scripts/DecintellValidation.js"></script>

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Requestor Details</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 padd0">
                            <div class="card">
                                <div class="card-body card-block">
                                    <!-- Tab panes -->
                                    <div class="wizard">
                                        <div class="py-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul id="tabsJustified" class="nav nav-tabs">
                                                        <li class="nav-item active" id="details"><a href="#first" data-target="#RequestorDetails" data-toggle="tab" id="first_tab" class="nav-link small text-uppercase active" aria-expanded="true">Requestor details</a></li>
                                                        <li class="nav-item" id="uploaddoc"><a href="#second" data-target="#UnitPrice" data-toggle="tab" id="second_tab" class="nav-link small text-uppercase" aria-expanded="false">upload documents</a></li>
                                                        <li class="nav-item" id="assign"><a href="#third" data-target="#assignrequest" data-toggle="tab" id="third_tab" class="nav-link small text-uppercase" aria-expanded="false">Assign Request</a></li>
                                                    </ul>
                                                    <br>
                                                    <div id="tabsJustifiedContent" class="tab-content">
                                                        <div id="RequestorDetails" class="tab-pane active in">
                                                            <div class="pb-2">
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-12" style="margin-bottom:10px;">
                                                                            @Html.HiddenFor(model => model.ReportRequestType)
                                                                            @Html.HiddenFor(model => model.RequestType)

                                                                        </div>
                                                                        <div style="clear:both;"></div>

                                                                        <div class="card">
                                                                            <div class="card-body card-block">
                                                                                <div class="col-md-12" style="margin-bottom:10px;"> <span style="font-size:12px; color:#999999;">Note: show following details for Project valuation</span> </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Date Of Request</label>
                                                                                        <form>
                                                                                            <input id="datepicker1" type="text" value="@ViewBag.Request_Date" class="form-control">
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Name of the Bank / HFC</label>
                                                                                        @Html.DropDownListFor(x => Model.SelectBankID, new SelectList(Model.ival_ClientMasters, "Client_Name", "Client_Name"), "Please Select", htmlAttributes: new { @class = "form-control", id = "ddlBankID" })

                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Branch Name </label>
                                                                                        @Html.DropDownListFor(m => m.SelectBranchName, new SelectList(Model.ival_BranchMasters, "Branch_Name", "Branch_Name"), "Please Select ", new { @class = "form-control", @id = "ddlBranchID" })

                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Department </label>
                                                                                        @Html.DropDownListFor(x => Model.SelectDepartmentID, new SelectList(Model.ival_LookupCategoryDepartment, "Lookup_Value", "Lookup_Value"), "Please Select", htmlAttributes: new { @class = "form-control", id = "ddlDepartment" })

                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Name of requestor</label>
                                                                                        <input type="text" id="nameOfRequestor" value="@ViewBag.RequestorName" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Valuation Request Id</label>
                                                                                        <input type="text" id="ValuationRequestId" value="@ViewBag.Valuation_Request_ID" readonly="readonly" class="form-control">
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Name of the Builder Group</label>
                                                                                        @Html.DropDownListFor(x => Model.SelectedBuilderGroupMasterID, new SelectList(Model.BuilderGroupList, "Builder_Group_Master_ID", "BuilderGroupName"), "Please Select", htmlAttributes: new { @class = "form-control", id = "ddlBuilderGroup", @readonly = "true" })

                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Name of the Builder Company</label>
                                                                                        @Html.DropDownListFor(m => m.Builder_Company_Master_IDl, new SelectList(Model.ival_BuilderCompanyMasterNewList, "Builder_Company_Master_ID", "Builder_Company_Name"), "Please Select ", new { @class = "form-control", @id = "ddlBuilderCompany", @readonly = "true" })

                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Name of the Project</label>
                                                                                        @Html.DropDownListFor(m => m.Builder_Project_Master_ID, new SelectList(Model.ival_projectMasterDetailsList, "Project_ID", "Project_Name"), "Please Select ", new { @class = "form-control", @id = "ddlBuilderProject", @readonly = "true" })

                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="city" class=" form-control-label">Report Type</label>
                                                                                        @Html.DropDownListFor(x => Model.Selectedreporttype, new SelectList(Model.ival_LookupCategoryValuesreporttype, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlReportTypeBank" })

                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Method of Valuation</label>
                                                                                        @Html.DropDownListFor(x => Model.Selectedmethodvaluation, new SelectList(Model.ival_LookupCategoryValuesmethodvaluation, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlMethodValuationBank" })

                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Property Type</label>
                                                                                        @Html.DropDownListFor(x => Model.SelectPropertyType, new SelectList(Model.ival_LookupCategoryPropertyType, "Lookup_ID", "Lookup_Value"), "Please select", htmlAttributes: new { @class = "form-control", id = "ddlPropertyType" })

                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6 top20">
                                                                                    <p>Report requirement for the Entire Project / Part of the Project:</p>


                                                                                    <form>
                                                                                        <label class="radio-inline">
                                                                                            <input type="radio" name="optradio" id="r1" value="Entire Project">
                                                                                            Entire Project
                                                                                        </label>
                                                                                        <label class="radio-inline">
                                                                                            <input type="radio" value="Part Of Project" name="optradio">
                                                                                            Part Of Project
                                                                                        </label>

                                                                                    </form>
                                                                                    <div class="col-md-6" id="divPartBuilding">

                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6 top20" id="PartOfProject">
                                                                                    <p>Report requirement for  Part of the Project:</p>


                                                                                </div>
                                                                                <div class="col-md-6" id="divPartOfWingsNew">

                                                                                </div>
                                                                                <div class="col-md-6" id="divPartOfWings">

                                                                                </div>

                                                                                <div style="clear:both;"></div>
                                                                                @*<a href="#" class="btn btn-success btn-sm pull-right">Submit</a>*@
                                                                                <input type="button" value="Update" onclick="SubmitBankRequest()" class="btn btn-success btn-sm pull-right" />

                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>




                                                            </div>
                                                        </div>

                                                        <div id="UnitPrice" class="tab-pane fade">
                                                            <div>
                                                                <div class="col-12" style="margin-bottom:10px;">

                                                                </div>
                                                                <div class="card">
                                                                    <div class="card-body card-block">
                                                                        <div class="col-md-12">
                                                                            <div class="row">

                                                                                <div class="table-responsive">
                                                                                    <table class="table table-striped table-bordered">

                                                                                        <thead>
                                                                                            <tr>
                                                                                                <td width="78"><div align="center"><strong></strong></div></td>
                                                                                                <td width="78"><div align="center"><strong>Sr.No</strong></div></td>
                                                                                                @*<td width="206"><div align="center"><strong>Document Id</strong></div></td>*@
                                                                                                <td width="339"><div align="center"><strong>Name of document</strong></div></td>
                                                                                                <td width="206"><div align="center"><strong>Upload Document</strong></div></td>
                                                                                                <td width="206"><div align="center"><strong>View Document</strong></div></td>
                                                                                                <td width="206"><div align="center"><strong>Approval authority</strong></div></td>
                                                                                                <td width="206"><div align="center"><strong>Date Of Approval</strong></div></td>

                                                                                                <td width="206"><div align="center"><strong>Approval No</strong></div></td>
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tbody id="tbluploaddoc">
                                                                                            @if (Model.ival_Document_Uploaded_ListS_New.Count == 0)
                                                                                            {
                                                                                                for (int idx1 = 0; idx1 < Model.ival_DocumentListsNew.Count; idx1++)
                                                                                                {
                                                                                                    <tr>

                                                                                                        <td id="value8">


                                                                                                            <input id="ival_DOCLIST_@idx1" type="checkbox" value="@Model.ival_DocumentListsNew[idx1].Document_Name" class=" form-control-label">

                                                                                                        </td>
                                                                                                        <td id="valuesr" style="display:none">
                                                                                                            @*<input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_DocumentLists[idx].Document_ID" />*@
                                                                                                            <input style="display:none" type="text" id="ival_DocumentLists_+@idx1" name="ival_DocumentLists_+@idx1" value="@Model.ival_DocumentListsNew[idx1].SrNo" />
                                                                                                        </td>

                                                                                                        <td id="value1" style="display:none">
                                                                                                            @*<input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_DocumentLists[idx].Document_ID" />*@
                                                                                                            <input style="display:none" type="hidden" id="ival_DocumentLists_+@idx1" name="ival_DocumentLists_+@idx1" value="@Model.ival_DocumentListsNew[idx1].Document_ID" />
                                                                                                        </td>
                                                                                                        <td id="valuedocname" style="display:none">
                                                                                                            <input style="display:none" type="text" id="ival_DocumentLists_+@idx1" name="ival_DocumentLists_+@idx1" value="@Model.ival_DocumentListsNew[idx1].Document_Name" />
                                                                                                        </td>
                                                                                                        <td id="valueSrId1">
                                                                                                            <label>@Model.ival_DocumentListsNew[idx1].SrNo</label>


                                                                                                        </td>
                                                                                                        @*<td id="valueDocid1">
                                                            <label>@Model.ival_DocumentListsNew[idx1].Document_ID</label>


                                                        </td>*@
                                                                                                        <td id="valuedocname1">
                                                                                                            <label>@Model.ival_DocumentListsNew[idx1].Document_Name</label>


                                                                                                        </td>

                                                                                                        <td id="value2"><input type="file" name="fileUpload" id="fileInput_@idx1" accept="application/pdf" onchange="FileUpload(@idx1,@Model.ival_DocumentListsNew[idx1].Document_ID)" size="23" /></td>
                                                                                                        <td id="value3">
                                                                                                            <input type="button" onclick="ViewDoc(@Model.ival_DocumentListsNew[idx1].Document_ID)" class="btn btn-file btn-sm" value="View Document" />

                                                                                                            <div id="DOC1"></div>
                                                                                                        </td>
                                                                                                        <td id="value5"><input type="text" id="txtApproving_Authority_+@idx1" name="Approving_Authority_+@idx1" /></td>
                                                                                                        <td id="value6"><input type="text" id="txtDate_of_Approval_+@idx1" name="Date_of_Approval_+@idx1" class='input-group date' /></td>
                                                                                                        @*@Html.EditorFor(model => model.DOR, new { htmlAttributes = new { @class = "form-control", @id = "datepicker1" } })*@
                                                                                                        <td id="value7"><input type="text" id="txtApproval_Num_+@idx1" name="Approval_Num_+@idx1" /></td>
                                                                                                        @*<td id="value4"><div id="DOC1(@idx)"></div></td>*@


                                                                                                    </tr>
                                                                                                }

                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                for (int idx = 0; idx < Model.ival_Document_Uploaded_ListS_New.Count; idx++)
                                                                                                {
                                                                                                    <tr>

                                                                                                        <td id="value8">

                                                                                                            @if ((@Model.ival_Document_Uploaded_ListS_New[idx].Docupload_ID) != 0)
                                                                                                            {

                                                                                                                <input id="ival_DOCLIST_@idx" type="checkbox" value="@Model.ival_Document_Uploaded_ListS_New[idx].Document_Name" class=" form-control-label" checked="checked">

                                                                                                            }
                                                                                                            else
                                                                                                            {

                                                                                                                <input id="ival_DOCLIST_@idx" type="checkbox" value="@Model.ival_Document_Uploaded_ListS_New[idx].Document_Name" class=" form-control-label">
                                                                                                            }
                                                                                                        </td>

                                                                                                        <td id="valuesr" style="display:none">
                                                                                                            @*<input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_DocumentLists[idx].Document_ID" />*@
                                                                                                            <input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_Document_Uploaded_ListS_New[idx].SrNo" />
                                                                                                        </td>
                                                                                                        <td id="value1" style="display:none">
                                                                                                            @*<input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_DocumentLists[idx].Document_ID" />*@
                                                                                                            <input style="display:none" type="hidden" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_Document_Uploaded_ListS_New[idx].Document_ID" />
                                                                                                        </td>
                                                                                                        <td id="valuedocname" style="display:none">
                                                                                                            <input style="display:none" type="text" id="ival_DocumentLists_+@idx" name="ival_DocumentLists_+@idx" value="@Model.ival_Document_Uploaded_ListS_New[idx].Document_Name" />
                                                                                                        </td>
                                                                                                        <td id="valueSrId1">
                                                                                                            <label>@Model.ival_Document_Uploaded_ListS_New[idx].SrNo</label>


                                                                                                        </td>

                                                                                                        <td id="valuedocname1">
                                                                                                            <label>@Model.ival_Document_Uploaded_ListS_New[idx].Document_Name</label>


                                                                                                        </td>


                                                                                                        <td id="value2"><input type="file" name="fileUpload" id="fileInput_@idx" accept="application/pdf" value="@Model.ival_Document_Uploaded_ListS_New[idx].Uploaded_Document" onchange="FileUpload(@idx,@Model.ival_Document_Uploaded_ListS_New[idx].Document_ID)" size="23" /><a href="@Model.ival_Document_Uploaded_ListS_New[idx].FileName">@Model.ival_Document_Uploaded_ListS_New[idx].FileName</a></td>
                                                                                                        <td id="value3">
                                                                                                            <input type="button" onclick="ViewDoc(@Model.ival_Document_Uploaded_ListS_New[idx].Document_ID)" class="btn btn-file btn-sm" value="View Document" />

                                                                                                            <div id="DOC1"></div>
                                                                                                        </td>
                                                                                                        <td id="value5"><input type="text" id="txtApproving_Authority_+@idx" name="Approving_Authority_+@idx" value="@Model.ival_Document_Uploaded_ListS_New[idx].Approval_Authority" /></td>
                                                                                                        <td id="value6"><input type="text" id="txtDate_of_Approval_+@idx" name="Date_of_Approval_+@idx" class='input-group date' value="@Model.ival_Document_Uploaded_ListS_New[idx].Date_Of_Approval_New" /></td>
                                                                                                        @*@Html.EditorFor(model => model.DOR, new { htmlAttributes = new { @class = "form-control", @id = "datepicker1" } })*@
                                                                                                        <td id="value7"><input type="text" id="txtApproval_Num_+@idx" name="Approval_Num_+@idx" value="@Model.ival_Document_Uploaded_ListS_New[idx].Approval_Number" /></td>
                                                                                                        @*<td id="value4"><div id="DOC1(@idx)"></div></td>*@


                                                                                                    </tr>
                                                                                                }
                                                                                            }

                                                                                        </tbody>
                                                                                    </table>

                                                                                    <div class="col-12 col-md-4">
                                                                                        <div class="subtitle">Add New document in list of documents</div>



                                                                                        <div class="form-group">
                                                                                            @*<label for="company" class=" form-control-label">Document ID:</label>*@
                                                                                            <input type="hidden" id="txtsrno" value=@ViewBag.Srno readonly="readonly" class="form-control">

                                                                                        </div>

                                                                                    </div>

                                                                                    <div class="col-12 col-md-4" style="padding-top:50px;">
                                                                                        <div class="form-group">
                                                                                            <label for="company" class=" form-control-label">Document Name:</label>
                                                                                            <input type="text" id="txtnewdocname" class="form-control">

                                                                                        </div>

                                                                                    </div>
                                                                                    <div class="col-12 col-md-4" style="padding-top:75px;">
                                                                                        <input type="submit" onclick="AddNewTab()" class="btn btn-success btn-sm" value="Add" />
                                                                                    </div>

                                                                                    <div style="clear:both"></div>
                                                                                    @*<a href="#" class="btn btn-success btn-sm pull-right">Submit</a>*@
                                                                                    <input type="submit" onclick="Uploadfiles()" class="btn btn-success btn-sm pull-right" value="Update" />

                                                                                </div>


                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <div id="assignrequest" class="tab-pane fade">
                                                            <div>
                                                                <div class="col-12" style="margin-bottom:10px;"> </div>
                                                                <div class="card">
                                                                    <div class="card-body card-block">

                                                                        <div class="col-md-12">
                                                                            <div class="row">
                                                                                <div class="col-12 col-md-4">
                                                                                    <div class="form-group">
                                                                                        <label for="company" class=" form-control-label">Site Engineer</label>
                                                                                        @Html.DropDownListFor(x => Model.siteEnginnerId, new SelectList(Model.projSiteEnginnerList, "Site_Engineer_ID", "Site_Engineer_Name"), "Please Select", htmlAttributes: new { @class = "form-control", id = "siteenginner" })
                                                                                   
                                                                                    </div>
                                                                                </div>
                                                                                @*<a href="#" class="btn btn-success btn-sm" style="margin-top:25px;">Assign</a>*@
                                                                                <input type="submit" onclick="AddAssign()" class="btn btn-success btn-sm" style="margin-top:25px;" value="Assign" />

                                                                                <div style="clear:both"></div>


                                                                                @*<a href="project-valuation.html" class="btn btn-success btn-sm pull-right">Submit</a>*@

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>


                                <!-- .animated -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>
</div>
<!-- /.content -->
<!-- /.content-wrapper -->
<script src="~/Scripts/jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        $("#datepicker1").datepicker({
            dateFormat: 'dd-M-yy'
        });

    });

    var rb1 = "";
    $(document).ready(function () {




        $("input[name$='optradio']").click(function () {

            rb1 = $(this).val();

            if (rb1 == "Entire Project") {
               // $("#ListBuiWingsId").hide();
                $("#divPartOfWings").hide();
                $("#divPartBuilding").hide();
                //GetBuildingsForEntireProject();

            }
            if (rb1 == "Part Of Project") {
               // $("#ListBuiWingsId").show();
                $("#divPartOfWings").show();
                $("#divPartBuilding").show();
                var projectId = $("#ddlBuilderProject option:selected").val();
                GetBuilding(projectId);
                checkValuesvalue1();
                //var projectId = $("#ddlBuilderProject option:selected").val();
                //GetBuilding(projectId);

            }


        });
                var rb3 = "";
        $("input[name$='rdBuildingAndWings']").click(function () {
            var rb3 = $(this).val();
            console.log(rb3);
            if (rb3 == "List of Building & Wings") {

                var projectId = $("#ddlBuilderProject option:selected").val();
                GetBuilding(projectId);


            }


        });

    });
   
    function GetBuilding(p) {
        var Id = p;
        var row2 = "";
        $.ajax({

             url: '@Url.Action("GetBuildingByProjectIdEdit", "ProjectValuationRequestor")',
                data: {Id:Id},
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    var Buildinglist = obj;
                    
                   // alert(searhlist.length);
                    
                    if (Buildinglist.length > 0) {
                        $("#divPartBuilding").empty();
                        row2 += '<div class="table-responsive"><table class="table table-striped table-bordered top20"><thead><tr><th></th><th width="100"><div align="center"><strong>Sr.no</strong></div></th><th width="335"><div align="center"><strong>Name Of Building</strong></div></th></tr></thead>'
                        row2 += ' <tbody id="BuildingId">'

                        for (var idx = 0; idx < Buildinglist.length; idx++) {
                            
                            row2 += '<tr>'
                            if (Buildinglist[idx].ProjectValuationRequestID != 0) {
                                row2 += '<td><input type="checkbox" name="checkbox1" onclick="checkValuesvalue(' + Buildinglist[idx].BuildingId + ')" id="check" value=' + Buildinglist[idx].BuildingId + ' checked="checked"></td>'
                            }
                            else {
                                row2 += '<td><input type="checkbox" name="checkbox1" onclick="checkValuesvalue(' + Buildinglist[idx].BuildingId + ')" id="check" value=' + Buildinglist[idx].BuildingId + '></td>'
                            }
                           
                            row2 += '<td><lable>' + Buildinglist[idx].BuildingId + '</lable></td>'
                            row2 += '<td width="335"><lable>' + Buildinglist[idx].BuildingName + '</lable></td>'

                            
                            row2 += '</tr>'
                            
                        }
                        row2 += '</tbody>'
                    }
                    else {
                        row2 += 'No Records Found'
                    }
                    row2 += '</table></div>'
                    //row2 +=   <input type = "button" onclick = "Subsequentreq()" value = "Next" class="btn btn-success btn-sm pull-right" />
                    var div = document.createElement('DIV');
                    div.innerHTML = row2;
                    document.getElementById("divPartBuilding").appendChild(div);
                },

        });

    }
    function checkValuesvalue1() {
        var row2 = "";
        
            var projectId = $("#ddlBuilderProject option:selected").val();
            $.ajax({

             url: '@Url.Action("GetWingsByBuildingPartOfProjEdit", "ProjectValuationRequestor")',
                data: {projectId: projectId},
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    var WingList = obj;
                    
                    if (WingList.length > 0) {
                        $("#divPartOfWingsNew").empty();
                        //var rowspanDynamic = WingList[a].bldWingListNew.length
                        row2 += '<div class="table-responsive"><table class="table table-striped table-bordered top20">'                                                                      
                        row2 += '<thead>'
                        row2 += '<tr>'
                        row2 += '<th width="33"></th>'
                        row2 += '<th width="73"><div align="center"><strong>Sr.no</strong></div></td>'

                        row2 += '<th width="324">Name Of Buiding</th>'
                        row2 += '<th width="33"></th>'
                        row2 += '<th><div align="center"><strong>Sr.no</strong></div></td>'
                        row2 += '<th colspan="2">List  of Wings</th>'
                        
                        row2 += '</tr>'
                        row2 += ' </thead>'
                        row2 += ' <tbody id="WingId">'
                        for (var idx = 0; idx < WingList.length; idx++) {
                            
                            var RowSpanDy = WingList[idx].length
                            row2 += '<tr>'
                            if (WingList[idx].ProjectValuationLogId != 0) {


                                row2 += '<td rowspan=' + RowSpanDy + ' ><input type="checkbox"  value=' + WingList[idx].BuildingId + ' checked="checked" name="checkbox3"></td>'
                            }
                            else {
                                row2 += '<td rowspan=' + RowSpanDy + ' ><input type="checkbox"  value=' + WingList[idx].BuildingId + ' name="checkbox3"></td>'
                            }
                                row2 += '<td rowspan=' + RowSpanDy + '><lable>' + WingList[idx].BuildingId + '</lable></td >'
                                row2 += '<td width="324" rowspan=' + RowSpanDy + '><lable>' + WingList[idx].BuildingName + '</lable></td>'


                            if (WingList[idx].ProjectValuationLogId != 0) {

                                row2 += '<td width="34"><input type="checkbox" value=' + WingList[idx].WingID + ' onchange="GetUncheckValues(' + WingList[idx].WingID + ')" checked="checked"   name="checkbox31"></td>'
                            }
                            else {
                                row2 += '<td width="34"><input type="checkbox" value=' + WingList[idx].WingID + ' name="checkbox31"></td>'
                            }
                                row2 += '<td width="363"><lable>' + WingList[idx].WingID + '</lable></td >'
                                //row2 += '< td width = "300"><lable>' + WingList[idx].bldWingListNew[idx1].Wing_ID + '</lable></td >'
                                row2 += '<td width="199"><lable>' + WingList[idx].WingName + '</lable></td>'
                            
                                row2 += '</tr>'
                               
                            
                         
                        }
                        row2 += '</tbody>'
                    }
                    else {
                        row2 += 'No Records Found'
                    }
                    row2 += '</table></div>'
                    //row2 +=   <input type = "button" onclick = "Subsequentreq()" value = "Next" class="btn btn-success btn-sm pull-right" />
                    var div = document.createElement('DIV');
                    div.innerHTML = row2;
                    document.getElementById("divPartOfWingsNew").appendChild(div);
                },
                    
                   
        });

        }

    function GetUncheckValues(i) {
        console.log(i)
        var WingId = i;
        var projectId = $("#ddlBuilderProject option:selected").val();
         $.ajax({
            type: "POST",
           url: '@Url.Action("DeletePartOfProjWingsDetails", "ProjectValuationRequestor")',
             data: { projectId: projectId, WingId: WingId},
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                  alert('Files Deleted Successfully')
                
            },
        });


    }
     function checkValuesvalue(a) {
        var row2 = "";
        if (a != "") {
            value3 = a;
            
                    AllValue14.push({
                        value3,
                       
                    });
           
            var strCheck = JSON.stringify(AllValue14);
            var projectId = $("#ddlBuilderProject option:selected").val();
            $.ajax({

             url: '@Url.Action("GetWingsByBuildingTest", "ProjectValuationRequestor")',
                data: { strCheck: strCheck, projectId: projectId},
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    var WingList = obj;
                    
                    if (WingList.length > 0) {
                        $("#divPartOfWings").empty();
                        //var rowspanDynamic = WingList[a].bldWingListNew.length
                        row2 += '<div class="table-responsive"><table class="table table-striped table-bordered top20">'                                                                      
                        row2 += '<thead>'
                        row2 += '<tr>'
                        row2 += '<th width="33"></th>'
                        row2 += '<th width="73"><div align="center"><strong>Sr.no</strong></div></td>'

                        row2 += '<th width="324">Name Of Buiding</th>'
                        row2 += '<th width="33"></th>'
                        row2 += '<th><div align="center"><strong>Sr.no</strong></div></td>'
                        row2 += '<th colspan="2">List  of Wings</th>'
                        
                        row2 += '</tr>'
                        row2 += ' </thead>'
                        row2 += ' <tbody id="WingId">'
                        for (var idx = 0; idx < WingList.length; idx++) {
                            
                            var RowSpanDy = WingList[idx].bldWingListNew.length
                            row2 += '<tr>'
                            row2 += '<td rowspan=' + RowSpanDy + ' ><input type="checkbox"  value=' + WingList[idx].BuildingId+' name="checkbox3"></td>'
                            row2 += '<td rowspan=' + RowSpanDy +'><lable>' + WingList[idx].BuildingId + '</lable></td >'
                            row2 += '<td width="324" rowspan=' + RowSpanDy +'><lable>' + WingList[idx].BuildingName + '</lable></td>'
                            
                            for (var idx1 = 0; idx1 < WingList[idx].bldWingListNew.length; idx1++) {
                               
                                
                                row2 += '<td width="34"><input type="checkbox" value=' + WingList[idx].bldWingListNew[idx1].Wing_ID+'  name="checkbox31"></td>'
                                row2 += '<td width="363"><lable>' + WingList[idx].bldWingListNew[idx1].Wing_ID + '</lable></td >'
                                //row2 += '< td width = "300"><lable>' + WingList[idx].bldWingListNew[idx1].Wing_ID + '</lable></td >'
                                row2 += '<td width="199"><lable>' + WingList[idx].bldWingListNew[idx1].Wing_Name + '</lable></td>'
                               
                                row2 += '</tr>'
                               
                            }
                           
                        }
                        row2 += '</tbody>'
                    }
                    else {
                        row2 += 'No Records Found'
                    }
                    row2 += '</table></div>'
                    //row2 +=   <input type = "button" onclick = "Subsequentreq()" value = "Next" class="btn btn-success btn-sm pull-right" />
                    var div = document.createElement('DIV');
                    div.innerHTML = row2;
                    document.getElementById("divPartOfWings").appendChild(div);
                },
                    
                   
        });

        }
    }
   
    $("#ddlBankID").change(function () {
        var Bank_ID = $(this).val()
       // alert(Bank_ID);
        $.ajax({

            url:'@Url.Action("GetBranchListByBankNameNew", "ProjectValuationRequestor")',
            data: { Bank_ID: Bank_ID },
            dataType: "json",
            type: "POST",
            success: function (data) {
                //alert(data);
                console.log(data);
                var obj = JSON.parse(data);
                $("#ddlBranchID").html("");
                $("#ddlBranchID").html("<option id=''>Please Select </option>")

                 $(obj).each(function(index,value){
                     $("#ddlBranchID").append(
                         $('<option></option>').val(value.Client_ID).html(value.Branch_Name));
                 })
            }
        });
    });
    $("#ddlBuilderGroup").change(function () {
        var BuilderGroupId = $(this).val()


       // alert(Bank_ID);
        $.ajax({

            url:'@Url.Action("GetBuilderCompanyByGroupId", "ProjectValuationRequestor")',
            data: { BuilderGroupId: BuilderGroupId },
            dataType: "json",
            type: "POST",
            success: function (data) {
                //alert(data);
                console.log(data);
                var obj = JSON.parse(data);
                $("#ddlBuilderCompany").html("");
                $("#ddlBuilderCompany").html("<option id=''>Please Select </option>")

                 $(obj).each(function(index,value){
                     $("#ddlBuilderCompany").append(
                         $('<option></option>').val(value.Builder_Company_Master_ID).html(value.Builder_Company_Name));
                 })
            }
        });
    });
    $("#ddlBuilderCompany").change(function () {
        var BuilderCompanyId = $(this).val()
        var BuilderGroupId = $("#ddlBuilderGroup option:selected").val();
        console.log(BuilderGroupId, BuilderCompanyId);
       // alert(Bank_ID);
        $.ajax({

            url:'@Url.Action("GetBuilderProjectByCompanyGroupId", "ProjectValuationRequestor")',
            data: { BuilderCompanyId: BuilderCompanyId, BuilderGroupId: BuilderGroupId },
            dataType: "json",
            type: "POST",
            success: function (data) {
                //alert(data);
                console.log(data);
                var obj = JSON.parse(data);
                $("#ddlBuilderProject").html("");
                $("#ddlBuilderProject").html("<option id=''>Please Select </option>")

                 $(obj).each(function(index,value){
                     $("#ddlBuilderProject").append(
                         $('<option></option>').val(value.Project_ID).html(value.Project_Name));
                 })
            }
        });
    });
    var AllValue = [];
    var checkBuilS = [];
    var checkwing = [];
    function SubmitBankRequest() {
        var rb = rb1;
        var projectId = $("#ddlBuilderProject option:selected").val();
        var builValue = "";
        var wingVal = "";
        var projectId = $("#ddlBuilderProject option:selected").val();
        //get building Id values which are checked
        $.each($("input[name='checkbox3']:checked"), function () {
            builValue = $(this).val();
            checkBuilS.push({
                builValue
            });

        });
       
        //get Wing Id values which are checked
        $.each($("input[name='checkbox31']:checked"), function () {
            wingVal = $(this).val();
            checkwing.push({
                wingVal
            });

        });

        AllValue.push({
            NameOfBank: $("#ddlBankID option:selected").text(),
            DateOfRequest: $("#datepicker1").val(),
            BranchName: $("#ddlBranchID option:selected").text(),
            department: $("#ddlDepartment option:selected").text(),
            nameOfRequestor: $("#nameOfRequestor").val(),
            valuationRequestId: $("#ValuationRequestId").val(),
            BuilderGroup: $("#ddlBuilderGroup option:selected").val(),
            BuilderCompany: $("#ddlBuilderCompany option:selected").val(),
            BuilderProject: $("#ddlBuilderProject option:selected").val(),
            reportType: $("#ddlReportTypeBank option:selected").text(),
            methodOfValuation: $("#ddlMethodValuationBank option:selected").text(),
            PropertyType: $("#ddlPropertyType option:selected").text(),
            ReportRequestType: document.getElementById("ReportRequestType").value,
            RequestType1: document.getElementById("RequestType").value,
        });
        var str = JSON.stringify(AllValue);
        var strBuil = JSON.stringify(checkBuilS);
        var strWing = JSON.stringify(checkwing);
        $.ajax({
            type: "POST",
            url: '@Url.Action("Edit", "ProjectValuationRequestor")',
            data: { str: str, rb: rb, strBuil: strBuil, strWing: strWing, projectId: projectId},
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                   alert('Requestor details Updated successfully')

            },
        });
    }
    function FileUpload(i, a) {

        console.log("hi" + i);
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput_' + i);
        console.log(fileInput.files.length);
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
            console.log(formdata);
        }
        //Creating an XMLHttpRequest and sending

        var fileselect = $("#value2").val();
        console.log(fileselect);
        var docId = a;

        formdata.append("DocId", docId);
        console.log(docId);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/ProjectValuationRequestor/UploadPDFFilesEdit');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText);
                if (xhr.responseText == "") {

                }

            }
            return false;
            /// AllUpload.push({ fil//eData: fileData });

        }
    } 
    function FileUpload1(a) {

        console.log("hi" + a);
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput');
        console.log(fileInput.files.length);
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
            console.log(formdata);
        }
        //Creating an XMLHttpRequest and sending

        var fileselect = $("#value2").val();
        console.log(fileselect);
        var docId = a;

        formdata.append("DocId", docId);
        console.log(docId);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/ProjectValuationRequestor/UploadPDFFilesEdit');
        xhr.send(formdata);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText);
                if (xhr.responseText == "") {

                }

            }
            return false;
            /// AllUpload.push({ fil//eData: fileData });

        }
    }
    function ViewDoc(i) {
        console.log(i)
        var formData1 = new FormData();
        formData1.append("value", i)
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/ProjectValuationRequestor/DownloadNewEdit');
        xhr.send(formData1);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                debugger;

                window.open('/ProjectValuationRequestor/DownloadPDF');

                //alert(xhr.responseText);

            }

            return false;
            /// AllUpload.push({ fil//eData: fileData });

        }

        // var id = JSON.stringify(i);

        //$.ajax({

        //    type: "POST",
        //    url: "http://localhost:44304/NewRequestor/DownloadNewEdit",

        //    data: formData1,
        //    contentType: false,
        //    success: function (data) {

        //        debugger;
        //        if (response == "Exist") {
        //            window.open('http://localhost:44304/NewRequestor/DownloadPDF');
        //        }
        //    },
        //    failure: function (response) {
        //        alert(response.responseText);
        //    },
        //    error: function (response) {
        //        alert(response.responseText);
        //    }
        //});

    }
    function AddNewTab() {

        var markup
        if ($("#txtnewdocname").val() != "") {
            var oprationname = $("#txtnewdocname").val();
            var operationid = $("#txtsrno").val();

            var operationSrNo = @ViewBag.SrnoNew;
            var idx = 0;
            markup += '<tr>';
            markup += '<td id="value8"><input type="checkbox" name="operationid" ></td>'
            markup += '<td id="valuesr" style="display:none"><input style="display:none" type="text" id="ival_DocumentLists_+" name="operationid" value=' + operationSrNo + '></td>'
            markup += '<td id="value1" style="display:none"><input style="display:none" type="hidden" id="ival_DocumentLists_+" name="operationid" value=' + operationid + '></td>'
            markup += '<td id="valuedocname" style="display:none"><input style="display:none" type="text" id="ival_DocumentLists_+" name="oprationname" value=' + oprationname + '></td>'
            markup += '<td id="valueSrId1"><input type="text" name="operationid" value=' + operationSrNo + '></td>'
            //markup += '<td id="valueDocid1"><input type="text" name="operationid" value=' + operationid + '></td>'
            markup += '<td id="valuedocname1">' + oprationname + '</td>'
            markup += '<td id="value2"><input type="file" name="fileUpload" id="fileInput" accept="application/pdf" onchange="FileUpload1(' + operationid + ');" size="23" /></td>'
            markup += ' <td id="value3"><input type="submit" onclick="ViewDoc(' + operationid + ');" class="btn btn-file btn-sm" value="View Document" /><div id="DOC1"></div> </td>'
            markup += '<td id="value5"><input type="text" id="txtApproving_Authority" name="Approving_Authority" /></td>'
            markup += '<td id="value6"><input type="date" id="txtDate_of_Approval" name="Date_of_Approval" /></td>'
            markup += '<td id="value7"><input type="text" id="txtApproval_Num" name="Approval_Num" /></td>'

            markup += '</tr>'
            $("table tbody").append(markup);

        }

        else {
            alert('please enter row no');
        }

    } 
    var AllValue14 = [];
    var value3 = "";
    console.log("hi");
    $("input:checkbox").change(function () {
        var isChecked = $(this).is(':checked');
        if (!isChecked) {

            value3 = $(this).val();
            console.log(value3);
            AllValue14.push({
                value3,

            });
            console.log(AllValue14);
        }
    });
    function Uploadfiles(i) {

        
        var AllValue1 = [];

       
        var TrCount = $("#tbluploaddoc tr").length;
        alert(TrCount)
        for (var i = 0; i < TrCount; i++) {

            AllValue1.push({
                
                docid: $("#tbluploaddoc tr #value1  input").eq(i).val(),
                filename: $("#tbluploaddoc tr #value2 input").eq(i).val(),
                approvingauth: $("#tbluploaddoc tr #value5 input").eq(i).val(),
                dateofapp: $("#tbluploaddoc tr #value6 input").eq(i).val(),
                apprnum: $("#tbluploaddoc tr #value7 input").eq(i).val(),
                valuedocname: $("#tbluploaddoc tr #valuedocname input").eq(i).val(),
                CustomerId: '@ViewBag.CustomerId',
                docname: $("#txtnewdocname").val(),
                srno: $("#txtsrno").val(),
                
            });

        }

        var str = JSON.stringify(AllValue1);
        var str1 = JSON.stringify(AllValue14);
       // var str1 = JSON.stringify(AllCheckValues);

       $.ajax({
            type: "POST",
           url: '@Url.Action("UpdateUploadFiles", "ProjectValuationRequestor")',
           data: { str: str,str1:str1},
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {
                  alert('Files Uploaded Successfully')
                // location.reload();
                @*//var url = '@Url.Action("Edit")';*@
                // window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });

        //value2
        $('[href="#third"]').tab('show');

    }
    function AddAssign() {
        var newtab = [];

         newtab.push({
             //AssignedEmp: $("#siteenginner").text(),
             AssignedEmp: $("#siteenginner option:selected").text(),
        });
        var str = JSON.stringify(newtab);
        $("#divLoader").show();
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveAssignedEmpEdit", "ProjectValuationRequestor")',
            data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data) {

                   alert('Employee Assigned Successfully')
                // location.reload();
                //$("#divLoader").hide();
                var url = '@Url.Action("EditProjectValuation", "ProjectValuationRequestor")';
               window.location.href = url;
                //  $("#uploaddoc").show();
            },
        });
    }


</script>