﻿@model  I_Value.WebApp.Models.VMBuilderGroupMaster
@{
    ViewBag.Title = "AddBuilder";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}
    <form action="~/BuilderAndCompany/AddBuilder" method="post" id="formid">
        <!-- Content Wrapper. Contains page content -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 style="padding-left:10px;">Add Builder Group Details </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="content bg">
                    <div class="animated fadeIn">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12 padd0">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Builder Group Name:</label>
                                                        @*<input type="text" id="company" class="form-control">*@
                                                        @Html.EditorFor(model => model.BuilderGroupName, new { htmlAttributes = new { @class = "form-control", id = "txtbuilderGroupName", onchange = "ClearMsgBGname()", @Maxlength = "50" } })
                                                        @*@Html.ValidationMessageFor(model => model.ival_BuilderGroupMaster.BuilderGroupName)*@
                                                        <span id="spBGname" asp-validation-for="state" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Office address 1:</label>
                                                        @*<input type="text" id="company" class="form-control">*@
                                                        @Html.EditorFor(model => model.Builder_Address1, new { htmlAttributes = new { @class = "form-control", id = "txtofficeAddress1", onchange = "ClearMsgAddr1()", @Maxlength = "50" } })
                                                        <span id="spAddr1" asp-validation-for="state" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Office address 2:</label>
                                                        @Html.EditorFor(model => model.Builder_Address2, new { htmlAttributes = new { @class = "form-control", id = "txtofficeAddress2", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Street:</label>
                                                        @Html.EditorFor(model => model.Builder_Street, new { htmlAttributes = new { @class = "form-control", id = "txtstreet", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                @*<div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">Locality:</label>
                @Html.EditorFor(model => model.ival_BuilderGroupMaster.Builder_Locality, new { htmlAttributes = new { @class = "form-control", id = "txtLocality" } })
            </div>
        </div>*@
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">State </label>
                                                        @Html.DropDownListFor(m => m.SelectedBuilderStateId, new SelectList(Model.ival_StatesList, "State_ID", "State_Name"), "Please Select", new { @class = "form-control", @id = "ddlstate", onchange= "ClearMsgState()", @Maxlength="50" })
                                                        <span id="spState" asp-validation-for="state" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">District</label>
                                                        @*@Html.EditorFor(model => model.ival_BuilderGroupMaster.Builder_District, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })*@
                                                        @Html.DropDownListFor(m => m.selectedDistID, new SelectList(Enumerable.Empty<SelectListItem>(), "District_ID", "District_Name"), "Please Select ", new { @class = "form-control", @id = "txtdistrict", @Maxlength = "50" })


                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">City </label>
                                                        @*@Html.EditorFor(model => model.ival_BuilderGroupMaster.Builder_City, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })*@
                                                        @Html.DropDownListFor(m => m.selectedCityID, new SelectList(Enumerable.Empty<SelectListItem>(), "City_ID", "City_Name"), "Please Select ", new { @class = "form-control", id = "txtcity", onchange = "ClearMsgCity()", @Maxlength = "50" })
                                                        <span id="spCity" asp-validation-for="state" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">Locality</label>
                                                        @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                        @Html.DropDownListFor(m => m.selectedLocID, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", id = "ddlLocID", @Maxlength = "50" })
                                                        <span id="brloc" asp-validation-for="Loc" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Pin code</label>
                                                        @*@Html.DropDownListFor(m => m.SelectedBuilderPincodeID, new SelectList(Model.PincodeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", id = "SelectedCurrentPincodeID" })*@
                                                        @Html.DropDownListFor(m => m.SelectedBuilderPincodeID, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Pin_Code"), "Please Select ", new { @class = "form-control", id = "ddlpincode", onchange = "ClearMsgPin()", @Maxlength = "18" })
                                                        <span id="spPin" asp-validation-for="state" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Nearby Land Mark </label>
                                                        @Html.EditorFor(model => model.Nearby_Landmark, new { htmlAttributes = new { @class = "form-control", id = "txtnearByLandmark", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div style="clear:both"></div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Name of the Owners / Directors </label>
                                                        @Html.EditorFor(model => model.Director_Name1, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorname1", onchange = "ClearMsgName()", @Maxlength = "50" } })
                                                        <span id="spName1" asp-validation-for="state" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label"> </label>
                                                        @Html.EditorFor(model => model.Director_Name2, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorname2", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label"> </label>
                                                        @Html.EditorFor(model => model.Director_Name3, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorname3", @Maxlength = "50" } })
                                                    <span id="spName3" asp-validation-for="state" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div style="clear:both;"></div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Phone Number</label>
                                                        @*@Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Phone1, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorphone1" } })*@
                                                        <input type="number" id="txtDirectorphone1" class="form-control" value="" maxlength="10" onblur="ValidatePhone1()">
                                                        <span class="validationerror1" id="TextmsgPhone1" style="color:red"></span>
                                                        <span class="validationerror1" id="TextAllowed7" style="color:red"></span>

                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Phone Number </label>
                                                        @*@Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Phone2, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorphone2" } })*@
                                                        <input type="number" id="txtDirectorphone2" class="form-control" value="" maxlength="10" onblur="ValidatePhone2()">
                                                        <span class="validationerror1" id="TextmsgPhone2" style="color:red"></span>
                                                        <span class="validationerror1" id="TextAllowed6" style="color:red"></span>

                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Phone Number </label>
                                                        @*@Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Phone3, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorphone3" } })*@
                                                        <input type="number" id="txtDirectorphone3" class="form-control" value="" maxlength="10" onblur="ValidatePhone3()">
                                                        <span class="validationerror1" id="TextmsgPhone3" style="color:red"></span>
                                                        <span class="validationerror1" id="TextAllowed5" style="color:red"></span>

                                                    </div>
                                                </div>
                                                <div style="clear:both;"></div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Mobile Number</label>
                                                        @*@Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Mobile1, new { htmlAttributes = new { @class = "form-control", id = "txtDirectormobileNumber1" } })*@
                                                        <input type="number" id="txtDirectormobileNumber1" class="form-control" value="" maxlength="10" onblur="ValidateMobile1()">
                                                        <span class="validationerror1" id="TextmsgMobile1" style="color:red"></span>
                                                        <span class="validationerror1" id="TextAllowed2" style="color:red"></span>

                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Mobile Number </label>
                                                        @*@Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Mobile2, new { htmlAttributes = new { @class = "form-control", id = "txtDirectormobileNumber2" } })*@
                                                        <input type="number" id="txtDirectormobileNumber2" class="form-control" value="" maxlength="10" onblur="ValidateMobile2()">
                                                        <span class="validationerror1" id="TextmsgMobile2" style="color:red"></span>
                                                        <span class="validationerror1" id="TextAllowed3" style="color:red"></span>

                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Mobile Number </label>
                                                        @*@Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Mobile3, new { htmlAttributes = new { @class = "form-control", id = "txtDirectormobileNumber3" } })*@
                                                        <input type="number" id="txtDirectormobileNumber3" class="form-control" value="" maxlength="10" onblur="ValidateMobile3()">
                                                        <span class="validationerror" id="TextmsgMobile3" style="color:red"></span>
                                                        @*<span class="validationerror1" id="Textmsg4" style="color:red"></span>
                <span class="validationerror1" id="TextAllowed4" style="color:red"></span>*@


                                                    </div>
                                                </div>
                                                <div style="clear:both;"></div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Email Id</label>
                                                        @Html.EditorFor(model => model.Director_Email1, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorEmail1", onblur = "ValidateEmail1()" } })
                                                        <span class="validationerror" id="TextmsgEmail1" style="color:red"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Email Id </label>
                                                        @Html.EditorFor(model => model.Director_Email2, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorEmail2", onblur = "ValidateEmail2()" } })
                                                        <span class="validationerror" id="TextmsgEmail2" style="color:red"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Email Id </label>
                                                        @Html.EditorFor(model => model.Director_Email3, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorEmail3", onblur = "ValidateEmail3()" } })
                                                        <span class="validationerror" id="TextmsgEmail3" style="color:red"></span>
                                                    </div>
                                                </div>
                                                <div style="clear:both;"></div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Builder Grade :<span style="font-size:10px; color:#999999;">To be derived from a Matrix</span></label>
                                                        @Html.EditorFor(model => model.Builder_Grade, new { htmlAttributes = new { @class = "form-control", id = "txtBuilderGrade" } })
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <input type="button" onclick="SubmitBuilderGroupDetails()" value="Submit" class="btn btn-success btn-sm pull-right" />
                                            <input type="button" onclick="refresh()" value="Cancel" class="btn btn-secondary btn-sm pull-right margin-r-5" />
                                        </div>
                                        </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- .animated -->
                </div>
                <!-- Default box -->
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>

        <!-- /.content-wrapper -->
        <!-- /.content-wrapper -->
    </form>
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript">

        function refresh() {
            var url = '@Url.Action("Index", "BuilderAndCompany")';
                window.location.href = url;
        }


        @* $(document).ready(function () {
            $("#ddlstate").change(function () {
         var State_Id = $(this).val()

        $.ajax({

            url:'@Url.Action("GetDistByStateId", "BuilderAndCompany")',
            data: { State_Id: State_Id },
            dataType: "json",
            type: "POST",
            success: function (data) {
                console.log(data);
                var obj = JSON.parse(data);
                $("#txtdistrict").html("");
                $("#txtdistrict").html("<option id=''>Please Select</option>")

                 $(obj).each(function(index,value){
                     $("#txtdistrict").append(
                         $('<option></option>').val(value.District_ID).html(value.District_Name));

                 })
            }
        });
            });
            $("#txtdistrict").change(function () {
        var District_ID = $(this).val()

        $.ajax({

            url:'@Url.Action("GetcitybydistId", "BuilderAndCompany")',
            data: { District_ID: District_ID },
            dataType: "json",
            type: "POST",
            success: function (data) {
                console.log(data);
                var obj = JSON.parse(data);
                $("#txtcity").html("");
                $("#txtcity").html("<option id=''>Please Select</option>")

                 $(obj).each(function(index,value){
                     $("#txtcity").append(
                         $('<option></option>').val(value.City_ID).html(value.City_Name));

                 })
            }
        });
    });
        $("#txtcity").change(function () {
        var City_ID = $(this).val()

        $.ajax({

            url:'@Url.Action("GetpinbyCityId", "BuilderAndCompany")',
            data: { City_ID: City_ID },
            dataType: "json",
            type: "POST",
            success: function (data) {
                console.log(data);
                var obj = JSON.parse(data);
                $("#ddlpincode").html("");
                $("#ddlpincode").html("<option id=''>Please Select</option>")

                 $(obj).each(function(index,value){
                     $("#ddlpincode").append(
                         $('<option></option>').val(value.City_ID).html(value.Pin_Code));

                 })
            }
        });
        });

        });*@

        $("#ddlstate").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtdistrict").html("");
                    $("#txtdistrict").html("<option id=''>Please Select</option>")
                    $("#txtcity").html("");
                    $("#txtcity").html("<option id=''>Please Select</option>")
                    $("#ddlpincode").html("");
                    $("#ddlpincode").html("<option id=''>Please Select</option>")
                    $("#ddlLocID").html("");
                    $("#ddlLocID").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#txtdistrict").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

    $("#txtdistrict").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#ddlLocID").html("");
                    $("#ddlLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#ddlpincode").html("");
                    $("#ddlpincode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#ddlLocID").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#txtdistrict").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtcity").html("");
                    $("#txtcity").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtcity").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
        });

    $("#ddlLocID").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#ddlpincode").html("");
                    $("#ddlpincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#ddlpincode").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
    });

        @* function GetPinByOnSelect() {
               // $("#spLoc").html("Please select Locality").hide();
                var Loc_id = $("#txtcity").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetPinByOnselect", "BuilderAndCompany")',
            data: { str: Loc_id },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data)
            {
            var obj = JSON.parse(data);
                $("#ddlpincode").html("");
                $("#ddlpincode").html("<option id=''>Please Select</option>")

            $(obj).each(function (index, value) {
                $("#ddlpincode").append(
                    $('<option></option>').val(value.str).html(value.Pin_Code));

            })
            },
            });
            }*@



        function ValidateEmail1() {
            var email = document.getElementById("txtDirectorEmail1").value;
            var lblError = document.getElementById("TextmsgEmail1");
            lblError.innerHTML = "";
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "Invalid email address.";
            }
        }

        function ValidatePhone1() {
            var phonenumber = document.getElementById("txtDirectorphone1").value;
            var lblError = document.getElementById("TextmsgPhone1");
            lblError.innerHTML = "";
            var expr = /^\d{10}$/;
            if (!expr.test(phonenumber)) {
                lblError.innerHTML = "Invalid Phone Number";
            }
        }
        function ValidateMobile1() {
            var phonenumber = document.getElementById("txtDirectormobileNumber1").value;
            var lblError = document.getElementById("TextmsgMobile1");
            lblError.innerHTML = "";
            var expr = /^\d{10}$/;
            if (!expr.test(phonenumber)) {
                lblError.innerHTML = "Invalid Mobile Number";
            }
        }
        function ValidateEmail2() {
            var email = document.getElementById("txtDirectorEmail2").value;
            var lblError = document.getElementById("TextmsgEmail2");
            lblError.innerHTML = "";
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "Invalid email address.";
            }
        }
        function ValidatePhone2() {
            var phonenumber = document.getElementById("txtDirectorphone2").value;
            var lblError = document.getElementById("TextmsgPhone2");
            lblError.innerHTML = "";
            var expr = /^\d{10}$/;
            if (!expr.test(phonenumber)) {
                lblError.innerHTML = "Invalid Phone Number";
            }
        }
        function ValidateMobile2() {
            var phonenumber = document.getElementById("txtDirectormobileNumber2").value;
            var lblError = document.getElementById("TextmsgMobile2");
            lblError.innerHTML = "";
            var expr = /^\d{10}$/;
            if (!expr.test(phonenumber)) {
                lblError.innerHTML = "Invalid Mobile Number";
            }
        }
        function ValidateEmail3() {
            var email = document.getElementById("txtDirectorEmail3").value;
            var lblError = document.getElementById("TextmsgEmail3");
            lblError.innerHTML = "";
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "Invalid email address.";
            }
        }
        function ValidatePhone3() {
            var phonenumber = document.getElementById("txtDirectorphone3").value;
            var lblError = document.getElementById("TextmsgPhone3");
            lblError.innerHTML = "";
            var expr = /^\d{10}$/;
            if (!expr.test(phonenumber)) {
                lblError.innerHTML = "Invalid Phone Number";
            }
        }
        function ValidateMobile3() {
            var phonenumber = document.getElementById("txtDirectormobileNumber3").value;
            var lblError = document.getElementById("TextmsgMobile3");
            lblError.innerHTML = "";
            var expr = /^\d{10}$/;
            if (!expr.test(phonenumber)) {
                lblError.innerHTML = "Invalid Mobile Number";
            }
        }


        var AllValue = [];
        function SubmitBuilderGroupDetails() {

            var BuilderGroupName = $("#txtbuilderGroupName").val();
            var officeAdd1 = $("#txtofficeAddress1").val();
            var ddlCity= $("#txtcity option:selected").text();
            var ddlstate= $("#ddlstate option:selected").text();
            var ddlPincode= $("#ddlpincode option:selected").text();
            var DirectorName1 = $("#txtDirectorname1").val();
            if (BuilderGroupName == "" || officeAdd1 == "" || ddlCity == "Please Select " || ddlstate == "Please Select" || ddlPincode == "Please Select " || DirectorName1 == "") {
                if (BuilderGroupName == "" && officeAdd1 == "" && ddlCity == "Please Select " && ddlstate == "Please Select" && ddlPincode == "Please Select " && DirectorName1 == "") {
                    $("#spBGname").html("Please Enter Group Name");
                    $("#spBGname").css("display", "block");
                    $("#spAddr1").html("Please Enter Address");
                    $("#spAddr1").css("display", "block");
                    $("#spState").html("Please Select State");
                    $("#spState").css("display", "block");
                    $("#spCity").html("Please Select City");
                    $("#spCity").css("display", "block");
                    $("#spPin").html("Please Select Pincode");
                    $("#spPin").css("display", "block");
                    $("#spName1").html("Please Enter Director full Name");
                    $("#spName1").css("display", "block");

            }
                if (BuilderGroupName == "") {
                    $("#spBGname").html("Please Enter Group Name");
                    $("#spBGname").css("display", "block");
                    return false;
                }
                if (officeAdd1 == "") {
                    $("#spAddr1").html("Please Enter Address");
                    $("#spAddr1").css("display", "block");
                    return false;
                }
                if (ddlstate == "Please Select") {
                     $("#spState").html("Please Select State");
                     $("#spState").css("display", "block");
                    return false;
                }

                if (ddlCity == "Please Select") {
                    $("#spCity").html("Please Select City");
                    $("#spCity").css("display", "block");
                    return false;
                }

                if (ddlPincode == "Please Select") {
                $("#spPin").html("Please Select Pincode");
                $("#spPin").css("display", "block");
                    return false;
                }
                if (DirectorName1 == "") {
                    $("#spName1").html("Please Enter Director full Name");
                    $("#spName1").css("display", "block");
                    return false;
                }
            }else {

                AllValue.push({
                    BuilderGroupName: $("#txtbuilderGroupName").val(),
                    officeAdd1: $("#txtofficeAddress1").val(),
                    officeAdd2: $("#txtofficeAddress2").val(),
                    nearByLandmark: $("#txtnearByLandmark").val(),
                    ddlDistrict: $("#txtdistrict option:selected").text(),
                    ddlCity: $("#txtcity option:selected").text(),
                    ddlstate: $("#ddlstate option:selected").text(),
                    ddlLocality: $("#ddlLocID option:selected").text(),
                    ddlPincode: $("#ddlpincode option:selected").text(),
                    DirectorName1: $("#txtDirectorname1").val(),
                    DirectorPhone1: $("#txtDirectorphone1").val(),
                    DirectorMobile1: $("#txtDirectormobileNumber1").val(),
                    DirectorEmail1: $("#txtDirectorEmail1").val(),
                    DirectorName2: $("#txtDirectorname2").val(),
                    DirectorPhone2: $("#txtDirectorphone2").val(),
                    DirectorMobile2: $("#txtDirectormobileNumber2").val(),
                    DirectorEmail2: $("#txtDirectorEmail2").val(),
                    DirectorName3: $("#txtDirectorname3").val(),
                    DirectorPhone3: $("#txtDirectorphone3").val(),
                    DirectorMobile3: $("#txtDirectormobileNumber3").val(),
                    DirectorEmail3: $("#txtDirectorEmail3").val(),
                    street: $("#txtstreet").val(),
                    BuilderGrade: $("#txtBuilderGrade").val(),

                });
                var str = JSON.stringify(AllValue);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddBuilder","BuilderAndCompany")',
                    data: { str: str },
                    Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data) {
                        console.log(data);
                        //$("#divLoader").hide();
                        alert('Builder Group details submitted successfully');
                        var url = '@Url.Action("Index", "BuilderAndCompany")';
                        window.location.href = url;

                    },
                });
            }

        }
    </script>
<script>
    function ClearMsgState() {
        $("#spState").html("Please select State").hide();
    }

    function ClearMsgBGname() {
        $("#spBGname").html("Please enter branch Address").hide();
    }

    function ClearMsgAddr1() {
        $("#spAddr1").html("Please Enter First Name").hide();
    }
    function ClearMsgCity() {
        $("#spCity").html("Please enter Middle Name").hide();
    }
    function ClearMsgPin() {
        $("#spPin").html("Please enter Last Name").hide();
    }
    function ClearMsgName() {
        $("#spName1").html("Please enter Phone No").hide();
    }
    
</script>