﻿@model IEnumerable<I_Value.WebApp.Models.VMBuilderGroupMaster>

@{
    ViewBag.Title = "CompanyIndex";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="padding-left:10px;">Builder & Company </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="search-container">

                                    @using (Html.BeginForm("CompanyIndex", "BuilderAndCompany", FormMethod.Post))
                                    {
                                        @*<input type="text" id="search" placeholder="Search.." name="search">
                                        <button type="button"><i class="fa fa-search"></i></button>*@

                                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("CompanyMasterNew","BuilderAndCompany")">Add Company</a>

                                    }
                                </div>
                                <br>
                                <br />
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered tblss">
                                        <thead>
                                            <tr>
                                                <th width="187"> Builder Group Name</th>
                                                <th width="187">Company Name</th>
                                                <th width="132">City</th>
                                                <th width="210">State</th>
                                                <th width="106">View</th>                                              
                                                <th width="62">Edit</th>
                                                <th width="69">Approval</th>
                                                <th width="61">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                            <tr>
                                                <td width="192">
                                                    @Html.DisplayFor(modelItem => item.BuilderGroupNamel)
                                                </td>
                                                <td width="187">
                                                    @*<a href="@Url.Action("ViewCompanyDetailsByGroup", "BuilderAndCompany", new { id = item.Builder_Group_Master_IDl })"> @Html.DisplayFor(modelItem => item.BuilderGroupNamel)</a>*@
                                                    @Html.DisplayFor(modelItem => item.Builder_Company_Name)

                                                </td>
                                                <td width="192">
                                                    @Html.DisplayFor(modelItem => item.Builder_Cityl)
                                                </td>
                                                <td width="201">
                                                    @Html.DisplayFor(modelItem => item.Builder_Statel)
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("ViewBuilderCompany", "BuilderAndCompany", new { ID = item.Builder_Company_Master_IDl })">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("EditCompanyMasterNew", "BuilderAndCompany", new { ID = item.Builder_Company_Master_IDl })">
                                                        <i class="fa fa-edit"></i>
                                                    </a>

                                                </td>

                                                @*<td>Approved</td>*@

                                                <td><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></td>
                                                <td>
                                                    @*<a href="@Url.Action("DeleteBuilderCompany", "BuilderAndCompany", new { ID = item.Builder_Company_Master_IDl })">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>*@
                                                    <a>
                                                        <i class="fa fa-trash" aria-hidden="true" onclick="ConfirmDelete(@item.Builder_Company_Master_IDl);"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- .animated -->

            </div>

        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    function search() {
        var searchName= $("#search").val();
        console.log(searchName);
        @*var str = JSON.stringify(searchName);
            $.ajax({
            type: "POST",
            url: '@Url.Action("EditCompanyMasterNew", "BuilderAndCompany")',
            data: { str: str },
            Response: ContentType = 'application/json;charset=utf-8',
                success: function(data) {
                    console.log(data);
                //$("#divLoader").hide();
                    alert('Builder Company details submitted successfully');
                     var url = '@Url.Action("CompanyIndex", "BuilderAndCompany")';
                window.location.href = url;

            },
        });*@

    }

    function ConfirmDelete(Id) {
            var str = Id;
            var x = confirm("Are you sure you want to delete?");
            if (x) {
               $.ajax({
            type: "GET",
            url: '@Url.Action("DeleteBuilderCompany", "BuilderAndCompany")',
            data: { ID: str },
            success: function (data) {
                //$("#divLoader").hide();
                   alert('Builder Company Deleted successfully')
                window.location.reload();
            },
        });
            }
            else
                return
        }


</script>



