﻿@model  I_Value.WebApp.Models.VMBuilderGroupMaster
@{
    ViewBag.Title = "CompanyMaster";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<form action="~/BuilderAndCompany/EditCompanyMaster" method="post">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="padding-left:10px;">Update Builder company Details </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="content bg">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12 padd0">
                                <div class="card">
                                    <div class="card-body card-block">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    @Html.HiddenFor(model => model.ival_BuilderCompanyMaster.Builder_Company_Master_ID)
                                                    <label for="company" class=" form-control-label">Builder Group Name:</label>
                                                    @Html.DropDownListFor(m => m.SelectedBuilderGroupMasterID, new SelectList(Model.BuilderGroupList, "Builder_Group_Master_ID", "BuilderGroupName"), "Please Select", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                @Html.HiddenFor(model => model.ival_BuilderCompanyMaster.Builder_Company_Master_ID)
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Builder Company Name:</label>
                                                    @Html.EditorFor(model => model.ival_BuilderCompanyMaster.Builder_Company_Name, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Legal Address 1:</label>
                                                    @Html.EditorFor(model => model.ival_BuilderCompanyMaster.Builder_Legal_Address1, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Legal Address 2:</label>
                                                    @Html.EditorFor(model => model.ival_BuilderCompanyMaster.Builder_Legal_Address2, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City </label>
                                                    @Html.EditorFor(model => model.ival_BuilderCompanyMaster.Builder_C_City, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">District</label>
                                                    @Html.EditorFor(model => model.ival_BuilderCompanyMaster.Builder_C_District, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">State</label>
                                                    @Html.DropDownListFor(m => m.SelectedBuilderCompanyStateID, new SelectList(Model.ival_StatesList, "State_ID", "State_Name"), "Please Select", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Pin code</label>
                                                    @Html.DropDownListFor(m => m.SelectedBuilderCompanyPincodeID, new SelectList(Model.PincodeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Postal Address 1:</label>
                                                    @Html.EditorFor(model => model.ival_BuilderCompanyMaster.Builder_Postal_Address1, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Postal Address 2:</label>
                                                    @Html.EditorFor(model => model.ival_BuilderCompanyMaster.Builder_Postal_Address1, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City </label>
                                                    @Html.EditorFor(model => model.ival_BuilderCompanyMaster.Builder_Postal_City, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">District</label>
                                                    @Html.EditorFor(model => model.ival_BuilderCompanyMaster.Builder_Postal_City, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">State</label>
                                                    @Html.DropDownListFor(m => m.SelectedBuilderPostalStateID, new SelectList(Model.ival_StatesList, "State_ID", "State_Name"), "Please Select", new { @class = "form-control" })


                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Pin code</label>
                                                    @Html.DropDownListFor(m => m.SelectedBuilderPostalPincodeID, new SelectList(Model.PincodeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control" })

                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear:both;"></div>
                                        <input type="submit" value="Update" class="btn btn-success btn-sm pull-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .animated -->
            </div>
            <!-- Default box -->
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</form>
