﻿@model  I_Value.WebApp.Models.VMBuilderGroupMaster
@{
    ViewBag.Title = "AddBuilder";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}
<form action="~/BuilderAndCompany/ViewDetails" method="post" id="formid">
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="padding-left:10px;">View Builder Group Details </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="content bg">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12 padd0">
                                <div class="card">
                                    <div class="card-body card-block">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    @Html.HiddenFor(m => m.ival_BuilderGroupMaster.Builder_Group_Master_ID)
                                                    <label for="company" class=" form-control-label">Builder Group Name:</label>
                                                    @*<input type="text" id="company" class="form-control">*@
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.BuilderGroupName, new { htmlAttributes = new { @class = "form-control", id = "txtbuilderGroupName", @readonly = true } })
                                                    @*@Html.ValidationMessageFor(model => model.ival_BuilderGroupMaster.BuilderGroupName)*@
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Office address 1:</label>
                                                    @*<input type="text" id="company" class="form-control">*@
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Builder_Address1, new { htmlAttributes = new { @class = "form-control", id = "txtofficeAddress1", @readonly = true } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Office address 2:</label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Builder_Address2, new { htmlAttributes = new { @class = "form-control", id = "txtofficeAddress2", @readonly = true } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Street:</label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Builder_Street, new { htmlAttributes = new { @class = "form-control", id = "txtstreet", @readonly = true } })
                                                </div>
                                            </div>
                                            @* <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">Locality:</label>
                @Html.EditorFor(model => model.ival_BuilderGroupMaster.Builder_Locality, new { htmlAttributes = new { @class = "form-control", id = "txtLocality", @readonly = true } })
            </div>
        </div>*@
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">State </label>
                                                    @Html.DropDownListFor(m => m.SelectedBuilderStateId, new SelectList(Model.ival_StatesList, "State_ID", "State_Name"), "Please Select", new { @class = "form-control", @id = "ddlstate", @disabled = "disabled" })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">District</label>
                                                    @*@Html.EditorFor(model => model.ival_BuilderGroupMaster.Builder_District, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })*@
                                                    @*@Html.DropDownListFor(m => m.selectedDistID, new SelectList(Enumerable.Empty<SelectListItem>(), "District_ID", "District_Name"), "Please Select ", new { @class = "form-control", @id = "txtdistrict"})*@
                                                    @Html.DropDownListFor(m => m.selectedDistID, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select ", new { @class = "form-control", @id = "txtdistrict", @disabled = "disabled" })


                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City </label>
                                                    @*@Html.EditorFor(model => model.ival_BuilderGroupMaster.Builder_City, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })*@
                                                    @Html.DropDownListFor(m => m.selectedCityID, new SelectList(Model.ival_CitiesList, "City_ID", "City_Name"), "Please Select ", new { @class = "form-control", id = "txtcity", onchange = "ClearMsgCity()", @Maxlength = "50", @disabled = "disabled" })
                                                    <span id="spCity" asp-validation-for="state" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Locality</label>
                                                    @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                    @Html.DropDownListFor(m => m.selectedLocID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", id = "ddlLocID", @Maxlength = "50", @disabled = "disabled" })
                                                    <span id="brloc" asp-validation-for="Loc" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Pin code</label>
                                                    @*@Html.DropDownListFor(m => m.SelectedBuilderPincodeID, new SelectList(Model.PincodeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", id = "SelectedCurrentPincodeID" })*@
                                                    @Html.DropDownListFor(m => m.SelectedBuilderPincodeID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select ", new { @class = "form-control", @id = "ddlpincode", @disabled = "disabled" })

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Nearby Land Mark </label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Nearby_Landmark, new { htmlAttributes = new { @class = "form-control", id = "txtnearByLandmark", @readonly = true } })
                                                </div>
                                            </div>
                                            <div style="clear:both"></div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Name of the Owners / Directors </label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Name1, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorname1", @readonly = true } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label"> </label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Name2, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorname2", @readonly = true } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label"> </label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Name3, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorname3", @readonly = true } })
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Phone Number</label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Phone1, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorphone1", onblur = "ValidatePhone1()", @readonly = true } })
                                                    <span class="validationerror" id="Textphone1" style="color:red"></span>
                                                    @*<input type="text" id="txtDirectorphone1" class="form-control" value="@Model.ival_BuilderGroupMaster.Director_Phone1" maxlength="10" onkeypress="return OnlyNumeric(event, '#Textmsg7', '#TextAllowed7', 'Digits Only')">
                <span class="validationerror1" id="Textmsg7" style="color:red"></span>
                <span class="validationerror1" id="TextAllowed7" style="color:red"></span>*@

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Phone Number </label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Phone2, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorphone2", onblur = "ValidatePhone2()", @readonly = true } })
                                                    <span class="validationerror" id="Textphone2" style="color:red"></span>
                                                    @*<input type="text" id="txtDirectorphone2" class="form-control" value="@Model.ival_BuilderGroupMaster.Director_Phone2" maxlength="10" onkeypress="return OnlyNumeric(event, '#Textmsg6', '#TextAllowed6', 'Digits Only')">
                <span class="validationerror1" id="Textmsg6" style="color:red"></span>
                <span class="validationerror1" id="TextAllowed6" style="color:red"></span>*@

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Phone Number </label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Phone3, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorphone3", onblur = "ValidatePhone3()", @readonly = true } })
                                                    <span class="validationerror" id="Textphone3" style="color:red"></span>
                                                    @*<input type="text" id="txtDirectorphone3" class="form-control" value="@Model.ival_BuilderGroupMaster.Director_Phone3" maxlength="10" onkeypress="return OnlyNumeric(event, '#Textmsg5', '#TextAllowed5', 'Digits Only')">
                <span class="validationerror1" id="Textmsg5" style="color:red"></span>
                <span class="validationerror1" id="TextAllowed5" style="color:red"></span>*@

                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Mobile Number</label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Mobile1, new { htmlAttributes = new { @class = "form-control", id = "txtDirectormobileNumber1", onblur = "ValidateMobile1()", @readonly = true } })
                                                    <span class="validationerror" id="Textmobile1" style="color:red"></span>
                                                    @*<input type="text" id="txtDirectormobileNumber1" class="form-control" value="@Model.ival_BuilderGroupMaster.Director_Mobile1" maxlength="10" onkeypress="return OnlyNumeric(event, '#Textmsg2', '#TextAllowed2', 'Digits Only')">
                <span class="validationerror1" id="Textmsg2" style="color:red"></span>
                <span class="validationerror1" id="TextAllowed2" style="color:red"></span>*@

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Mobile Number </label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Mobile2, new { htmlAttributes = new { @class = "form-control", id = "txtDirectormobileNumber2", onblur = "ValidateMobile2()", @readonly = true } })
                                                    <span class="validationerror" id="Textmobile2" style="color:red"></span>
                                                    @*<input type="text" id="txtDirectormobileNumber2" class="form-control" value="@Model.ival_BuilderGroupMaster.Director_Mobile2" maxlength="10" onkeypress="return OnlyNumeric(event, '#Textmsg3', '#TextAllowed3', 'Digits Only')">
                <span class="validationerror1" id="Textmsg3" style="color:red"></span>
                <span class="validationerror1" id="TextAllowed3" style="color:red"></span>*@

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Mobile Number </label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Mobile3, new { htmlAttributes = new { @class = "form-control", id = "txtDirectormobileNumber3", onblur = "ValidateMobile3()", @readonly = true } })
                                                    <span class="validationerror" id="Textmobile3" style="color:red"></span>
                                                    @*<input type="text" id="txtDirectormobileNumber3" class="form-control" value="@Model.ival_BuilderGroupMaster.Director_Mobile3" maxlength="10" onkeypress="return OnlyNumeric(event, '#Textmsg4', '#TextAllowed4', 'Digits Only')">
                <span class="validationerror1" id="Textmsg4" style="color:red"></span>
                <span class="validationerror1" id="TextAllowed4" style="color:red"></span>*@


                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Email Id</label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Email1, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorEmail1", onblur = "ValidateEmail1()", @readonly = true } })
                                                    <span class="validationerror" id="TextmsgEmail1" style="color:red"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Email Id </label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Email2, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorEmail2", onblur = "ValidateEmail2()", @readonly = true } })
                                                    <span class="validationerror" id="TextmsgEmail2" style="color:red"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Email Id </label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Director_Email3, new { htmlAttributes = new { @class = "form-control", id = "txtDirectorEmail3", onblur = "ValidateEmail3()", @readonly = true } })
                                                    <span class="validationerror" id="TextmsgEmail3" style="color:red"></span>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Builder Grade :<span style="font-size:10px; color:#999999;">To be derived from a Matrix</span></label>
                                                    @Html.EditorFor(model => model.ival_BuilderGroupMaster.Builder_Grade, new { htmlAttributes = new { @class = "form-control", id = "txtBuilderGrade", @readonly = true } })
                                                </div>
                                            </div>
                                        </div>
                                        <div style="clear:both;"></div>
                                                    <input type="button" onclick="refresh()" value="Back" class="btn btn-primary btn-sm pull-right margin-r-5" />
                                                @*<input type="submit" value="Update" class="btn btn-success btn-sm pull-right" />*@
                                            </div>
                                    </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- .animated -->
            </div>
            <!-- Default box -->
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>

    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
</form>
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">
    function refresh() {
            var url = '@Url.Action("Index", "BuilderAndCompany")';
                window.location.href = url;
        }
</script>