﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <table width="800" border="1" align="center" cellpadding="0" cellspacing="0" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px;">
        <tr>
            <td>
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <div align="center">
                                <p align="center"><strong>Self-Construction – Valuation format</strong></p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><p><strong><u>Application  Details:</u></strong><strong><u>.</u></strong></p></td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" align="center" cellpadding="5" cellspacing="0" border="1">
                                <tr>
                                    <td width="31%">File  Ref NO. / LAN No.</td>
                                    <td width="18%">@ViewBag.Customer_Application_ID</td>
                                </tr>
                                <tr>
                                    <td>Date of Report</td>
                                    <td>@ViewBag.RequestDate</td>
                                </tr>

                                <tr>
                                    <td>Loan Type</td>
                                    <td>@ViewBag.TransactionType</td>
                                </tr>
                                <tr>
                                    <td>Name  of Applicant</td>
                                    <td>@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</td>
                                </tr>
                                <tr>
                                    <td>Contact  Person name &amp; No.</td>
                                    <td>@ViewBag.Name, @ViewBag.P_Contact_Num</td>
                                </tr>
                                <tr>
                                    <td>Name  of Property  Owner</td>
                                    <td>@ViewBag.Document_Holder_Name, @ViewBag.Document_Holder_Name_1</td>
                                </tr>
                                <tr>
                                    <td>Property Holding Type</td>
                                    <td><strong>@ViewBag.Type_Of_Ownership</strong></td>
                                </tr>
                                <tr>
                                    <td>Developer  Name, Project Name ( If applicable)</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><p><strong><u>Location Details:</u></strong><strong><u>.</u></strong></p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" align="center" cellpadding="5" cellspacing="0" border="1">
                                <tr>
                                    <td width="26%" rowspan="6">Address of Property</td>
                                    <td colspan="3"><strong>As per firing:</strong> @ViewBag.Bunglow_Number, @ViewBag.Street, @ViewBag.Village_Name, @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode</td>
                                </tr>
                                <tr>
                                    <td colspan="3"><strong>On Inspection: (Postal) –</strong> @ViewBag.Bunglow_Number, @ViewBag.Street, @ViewBag.Village_Name, @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode</td>
                                </tr>
                                <tr>
                                    <td height="108" colspan="3" valign="top"><strong>As per Docs. ( Sanction Plan &amp; Legal Docs) –</strong> @ViewBag.Bunglow_Number, @ViewBag.Street, @ViewBag.Village_Name, @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode </td>
                                </tr>
                                <tr>
                                    <td width="16%" colspan="3" rowspan="4">&nbsp;</td>
                                </tr>
                                <tr>            </tr>
                                <tr>            </tr>

                                <tr>
                                    <td>Person Met name &amp; No.</td>
                                </tr>
                                <tr>
                                    <td>Address Matching</td>
                                    <td colspan="3">Yes/No</td>
                                </tr>
                                <tr>
                                    <td>Landmark</td>
                                    <td colspan="3">@ViewBag.NearBy_Landmark</td>
                                </tr>
                                <tr>
                                    <td>Locality Name</td>
                                    <td colspan="3">@ViewBag.Type_of_Locality</td>
                                </tr>
                                <tr>
                                    <td>Google Location</td>
                                    <td colspan="3">@ViewBag.Cord_Latitude1, @ViewBag.Cord_Longitude1</td>
                                </tr>
                                <tr>
                                    <td rowspan="5">Site Boundaries</td>
                                    <td><div align="center"><strong>Four Boundaries</strong></div></td>

                                    <td><div align="center"><strong>Site Boundaries (As per Title Documents.)</strong></div></td>

                                    <td><div align="center"><strong>Site Boundaries (Actual as verified at time of  site visit.)</strong></div></td>

                                </tr>
                                @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                                {
                                    <tr>

                                        <td>
                                            <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                                        </td>

                                        <td>
                                            <div align="center"> <label>@Model.ival_ProjectBoundaries[idx].AsPer_Document </label></div>
                                        </td>

                                        <td>
                                            <div align="center"> @Model.ival_ProjectBoundaries[idx].AsPer_Site </div>
                                        </td>

                                    </tr>
                                }
                                @*<tr>
                        <td rowspan="5" colspan="2">Site Boundaries</td>
                        <td valign="top">Site Boundaries (Actual as verified at time of  site visit.)</td>
                        <td valign="top"><p>Site Boundaries (As per Title Documents.)</p></td>
                    </tr>
                    <tr>
                        <td>North:  </td>
                        <td>North:  </td>
                    </tr>
                    <tr>
                        <td>East: </td>
                        <td>East: </td>
                    </tr>
                    <tr>
                        <td>West : </td>
                        <td>West: </td>
                    </tr>
                    <tr>
                        <td>South: </td>
                        <td>South: </td>
                    </tr>*@
                                <tr>
                                    <td>Site Boundaries tallied with Boundaries in Title  Deed provided by Bank.</td>
                                    <td colspan="3">
                                        <p>Yes/No </p>
                                        Remark  :
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="1" align="center" cellpadding="5" cellspacing="0">
                                <tr>
                                    <td width="19%">Neighborhood  Type</td>
                                    <td colspan="2">@ViewBag.Class_of_Localityh</td>
                                    <td width="46%" colspan="2">Marketability  –  @ViewBag.Marketability_Of_Property</td>
                                </tr>
                                <tr>
                                    <td>Accessibility</td>
                                    <td width="16%">Connectivity </td>
                                    <td width="19%"><strong>@ViewBag.LocalTransport</strong></td>
                                    <td colspan="2">Infrastructure of surrounding area - @ViewBag.BasicInfra </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="4">Within  Municipal Limits  -  </td>
                                </tr>

                                <tr>
                                    <td>Property  Identified thru</td>
                                    <td colspan="4">
                                        <p>
                                            @ViewBag.Plot_Demarcated_at_site
                                        </p>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:20px;">
                                <tr>
                                    <td><p><strong><u>Document Details:</u></strong><strong><u>.</u></strong></p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="1" align="center" cellpadding="5" cellspacing="0">
                                <tr>
                                    <td width="35%" rowspan="5">Municipal  Details</td>
                                    <td width="32%" valign="top">Sanction  layout plan provided <strong>–  </strong>Yes / No</td>
                                    <td width="33%" valign="top">Sanction/  Permit No.&amp; Date – </td>
                                </tr>
                                <tr>
                                    <td valign="top">Sanction  construction plan provided –  Yes / No</td>
                                    <td valign="top">Sanction/  Permit No.&amp; Date –</td>
                                </tr>

                                <tr>
                                    <td valign="top">No.  of Floors sanctioned – </td>
                                    <td valign="top">Valid  Till – </td>
                                </tr>
                                <tr>
                                    <td height="47" colspan="2" valign="top">Sanctioned  Areas – </td>
                                </tr>
                                <tr>
                                    <td height="49" colspan="2" valign="top">Sanctioning  Authority – </td>
                                </tr>
                                <tr>
                                    <td>Commencement  Certificate Details</td>
                                    <td colspan="2">@ViewBag.Approval_Number_Commence, @ViewBag.Approval_Authority_Commence, @ViewBag.Date_Of_Approval_Commence</td>
                                </tr>
                                <tr>
                                    <td>Legal  Docs</td>
                                    <td colspan="2">Legal  Docs Provided: -@ViewBag.DocumentName </td>
                                </tr>




                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><p><strong>NDMA Parameters</strong></p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="1" align="center" cellpadding="5" cellspacing="0">
                                <tr>
                                    <td width="21%">Nature of Building / Wing </td>
                                    <td width="17%">&nbsp;</td>
                                    <td width="18%">Plan Aspect ratio </td>
                                    <td width="17%">&nbsp;</td>
                                    <td width="14%">Structure Type </td>
                                    <td width="13%">@ViewBag.Type_Of_Structure</td>
                                </tr>
                                <tr>
                                    <td>Projected Parts Available </td>
                                    <td>&nbsp;</td>
                                    <td>Type of Masonry </td>
                                    <td>&nbsp;</td>
                                    <td>Expansion Joint Available </td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Roof Type </td>
                                    <td>@ViewBag.Roofing_Terracing</td>
                                    <td>Steel Grade </td>
                                    <td>&nbsp;</td>
                                    <td>Mortar Type </td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Concrete Grade </td>
                                    <td>&nbsp;</td>
                                    <td>Environment Exposure condition </td>
                                    <td>&nbsp;</td>
                                    <td>Footing Type </td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Seismic zone </td>
                                    <td>@ViewBag.SeismicZone</td>
                                    <td>Soil Liquefiable </td>
                                    <td>&nbsp;</td>
                                    <td>Coastal Regulatory Zone (Yes/No) </td>
                                    <td>@ViewBag.CRZ</td>
                                </tr>
                                <tr>
                                    <td>Soil Slope Vulnerable to Landslide </td>
                                    <td>&nbsp;</td>
                                    <td>Flood Prone Area </td>
                                    <td>@ViewBag.FloodZone</td>
                                    <td>Ground Slope More than 20% </td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Fire Exit </td>
                                    <td colspan="5">&nbsp;</td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><p><strong>Technical Details</strong></p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="1" align="center" cellpadding="5" cellspacing="0">
                                <tr>
                                    <td width="19%">Type  of property –  Residential Flats</td>
                                    <td width="17%">@ViewBag.Property_Type</td>
                                    <td colspan="5" valign="top">No.  Of Stories – </td>
                                </tr>
                                <tr>
                                    <td>Construction  Type</td>
                                    <td>@ViewBag.Type_Of_Structure    </td>
                                    <td colspan="5"><div align="center"><strong>No.  of lifts – </strong>No</div>              <div align="center"></div>              <div align="center"></div></td>
                                </tr>
                                <tr>
                                    <td>Accommodation  Details to be mentioned</td>
                                    <td colspan="6" valign="top" style="padding:0;">
                                        <table width="100%" align="center" cellpadding="5" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">Floor</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">No. of Rooms</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">No. of Kitchens</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">No. of Bathrooms</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">Sanctioned  Usage</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">Actual  Usage &amp; Remarks</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">GF</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">FF</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">SF</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">TF</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">Other  1</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-bottom:2px solid #000000; border-right:2px solid #000000;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="border-right:2px solid #000000;">Other 2s </td>
                                                    <td style="border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-right:2px solid #000000;">&nbsp;</td>
                                                    <td style="border-right:2px solid #000000;">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>


                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="1" align="center" cellpadding="5" cellspacing="0" style="margin-top:150px;">
                                <tr>
                                    <td>
                                        Floor  wise Occupancy
                                        (As per Client /  Contact person meet at site)
                                    </td>
                                    <td colspan="6"><p>Status of Occupancy –  @ViewBag.Occupancy_Details</p></td>
                                </tr>
                                <tr>
                                    <td>Completion  Status</td>
                                    <td valign="top">%  Completed</td>
                                    <td width="23%" valign="top"> @ViewBag.Work_Completed_Perc %</td>
                                    <td width="24%" valign="top">Current  age of Property- </td>
                                    <td width="17%" colspan="3" valign="top">@ViewBag.Current_Age_Of_Property</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>%  Recommended</td>
                                    <td>@ViewBag.DisbursementRecommendPerct % </td>
                                    <td>Residual Age of Propert-</td>
                                    <td colspan="3">@ViewBag.Residual_Age_Of_Property</td>
                                </tr>
                                <tr>
                                    <td rowspan="6">Area  Details</td>
                                    <td>Floor</td>
                                    <td>Area  shown in construction plan</td>
                                    <td colspan="4">Actual  areas</td>
                                </tr>
                                <tr>
                                    <td>GF</td>
                                    <td>&nbsp;</td>
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>FF</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>SF</td>
                                    <td>--</td>
                                    <td colspan="4">--</td>
                                </tr>
                                <tr>
                                    <td>Top  Floor </td>
                                    <td>--</td>
                                    <td colspan="4">--</td>
                                </tr>
                                <tr>
                                    <td>Other  1</td>
                                    <td>&nbsp;</td>
                                    <td colspan="4">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="1" align="center" cellpadding="5" cellspacing="0">
                                <tr>
                                    <td colspan="7"><strong>Valuation of Under /  Self Construction Building</strong></td>
                                </tr>
                                <tr>
                                    <td>Valuation</td>
                                    <td>Land Area</td>
                                    <td>@ViewBag.Adopted_Area_for_Valuation</td>
                                    <td>Land Rate</td>
                                    <td colspan="3">@ViewBag.Adopted_Plot_Land_Rate</td>
                                </tr>
                                <tr>
                                    <td>A</td>
                                    <td>Land Value</td>
                                    <td colspan="5">@ViewBag.TotalvaluepropertyBunglow</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Construction Area</td>
                                    <td>&nbsp;</td>
                                    <td>Approved cost of construction as per city  Standard</td>
                                    <td colspan="3">@ViewBag.Cost_of_Construction</td>
                                </tr>
                                <tr>
                                    <td>B</td>
                                    <td>Cost of construction <strong>As per approved rates.</strong></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Cost of  construction  as per <strong>estimate provided by customer ( Rs.)</strong></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td colspan="3">@ViewBag.Gross_Estimated_Cost_Construction</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="6">Extra cost for Internal Amenities/ Home  Improvement</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="6">Material at site</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Description </td>
                                    <td>Rs. / sqft</td>
                                    <td>Qty.</td>
                                    <td colspan="3">Total value</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Modular Kitchen Fittings</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td colspan="3">Included in above rate ‘B’</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Granite on kitchen counter</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td colspan="3">Included in above rate ‘B’</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Special Enamel Paint</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td colspan="3">Included in above rate ‘B’</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Wall mounted WC and other plumbing fittings</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td colspan="3">Included in above rate ‘B’</td>
                                </tr>
                                <tr>
                                    <td>C</td>
                                    <td>Value of extra Amenities</td>
                                    <td colspan="5">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Parking area construction</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Total of item C</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><strong>A+B+C</strong></td>
                                    <td><strong>Total  Value</strong></td>
                                    <td>Rs.@ViewBag.TotalvaluepropertyBunglow</td>
                                    <td>&nbsp;</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Valuation as per Govt. approved rate</td>
                                    <td>Rate per sqft</td>
                                    <td>@ViewBag.GovRate Rs./Sq.ft</td>
                                    <td>Total Value</td>
                                    <td colspan="3">Rs.@ViewBag.Government_Value</td>
                                </tr>
                                <tr>
                                    <td height="69" colspan="7" valign="bottom"><strong>Stage of Construction-</strong></td>
                                </tr>
                                <tr>
                                    <td>Stage of Construction</td>
                                    <td>Description of Structure</td>
                                    <td>(Description of stage)</td>
                                    <td>% Completed</td>
                                    <td>
                                        % <br />
                                        Recom.
                                    </td>
                                    <td colspan="2">Final Recommendations</td>
                                </tr>
                                <tr>
                                    <td><strong>Plinth work in progress</strong></td>
                                    <td>Excavation work Started</td>
                                    <td>excavation work in progress</td>
                                    <td>%</td>
                                    <td>%</td>
                                    <td>% Completed</td>
                                    <td>% Recom.</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Amenities</td>
                                    <td>(Description of stage)</td>
                                    <td>% Completed</td>
                                    <td>% Recom.</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="1" cellspacing="0" cellpadding="5" style="margin-top:30px;">
                                            <tr>
                                                <td>So Current   valuation of property is Total Land Value +  _____% of total Construction Valuation of  property Amenities </td>
                                            </tr>
                                            <tr>
                                                <td><strong>Present  total valuation= Rs.@ViewBag.TotalvaluepropertyBunglow</strong></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Present  total valuation in words Rupees -@ViewBag.ToatalInWords</strong></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><p><strong><u>Remarks</u></strong></p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="1" align="center" cellpadding="5" cellspacing="0">
                                <tr>
                                    <td>
                                        I hereby declare that: <br />
                                        <ul>
                                            <li>As per sale deed land area is 450 sq.m. </li>
                                            <li>We have no direct interest in the property valued.</li>
                                            <li>I have consider lesser construction value as per estimate provided rather than average construction value.</li>
                                            <li>Valuation is prepared on the basis of plan provided. </li>
                                            <li>The information furnished in the report is true and correct to the best of my knowledge. </li>
                                            <li>Please refer fresh  advocate search report  for tittle if require. </li>
                                        </ul>

                                        <br />
                                        For Seal With Signature<br /><br />
                                        Date : <br /><br />
                                        Place:
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><p align="center"><strong><u>Google Image</u></strong></p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="1" align="center" cellpadding="5" cellspacing="0">
                                <tr>
                                    <td width="31%" height="500"><div align="center"><img class="img-responsive" src="~/images/@ViewBag.GoogleMapImage" width="400" height="300"></div></td>

                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-top:230px;">
                                <tr>
                                    <td><p><strong><u>Property Address/ Photos:</u></strong><strong><u>.</u></strong></p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div align="center">
                                <p align="center"><strong>Photos</strong></p>
                            </div>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <table width="1000px" border="1" align="center" cellpadding="5" cellspacing="0">
                                <tr>
                                    <td>
                                        @for (int idx = 0; idx < Model.Image_Uploaded_List.Count; idx++)
                                        {



                                            <div style="display:inline-block; margin-bottom:10px;padding-left:55px;margin-top:20px;">
                                                <div> <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="250" height="300"></div>
                                            </div>

                                            if (idx % 3 == 2)
                                            {
                                                <br />
                                            }


                                        }
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td><p align="center"><strong><u>Documents Pic (Index II)</u></strong></p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="1" align="center" cellpadding="5" cellspacing="0">
                                <tr>
                                    <td width="31%" height="349">&nbsp;</td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
</body>
</html>
