﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Report Not Found</h1><br /><br />
       @*<a href="@Url.Action("Index", "NewRequestor")" title="Back">Back</a>*@
    </div>
</body>
</html>
