﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <table width="70%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-size:16px; font-family:Verdana, Arial, Helvetica, sans-serif;">
        <tr>
            <td>
                <table width="100%" border="1" cellpadding="10" cellspacing="0" bordercolor="#333333" style="margin-bottom:50px;">
                    <tr>
                        <td colspan="12" bgcolor="c5d9f1" class="text"><div align="center"><strong>Technical Report Format</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="f2dcdb" class="style2">Name of Valuation Agency</td>
                        <td width="1%" class="text"><div align="center">:</div></td>
                        <td colspan="2" class="text">I value advisory LLP</td>
                        <td width="1%" class="text">:</td>
                        <td width="13%" bgcolor="f2dcdb" class="text">Date of Technical Initiation</td>
                        <td width="26%" colspan="4" class="text">@ViewBag.Date_of_Valuation</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="f2dcdb" class="style2">Name of the Customer/ Applicant & Contact Details</td>
                        <td class="text"><div align="center">:</div></td>
                        <td colspan="2" class="text">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</td>
                        <td width="1%" class="text">:</td>
                        <td bgcolor="f2dcdb" class="text">Date of Site Visit</td>
                        <td colspan="4" class="text">@ViewBag.Date_of_Inspection</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="f2dcdb" class="style2">Request from EHFL/ERFL/ECLF</td>
                        <td class="text"><div align="center">:</div></td>
                        <td colspan="2" class="text">@ViewBag.Client_Name</td>
                        <td width="1%" class="text">:</td>
                        <td bgcolor="f2dcdb" class="text">Date of Report release</td>
                        <td colspan="4" class="text">@ViewBag.RequestDate</td>
                    </tr>
                    <tr>
                        <td colspan="12" bgcolor="f2dcdb" class="text"><div align="center"><strong>Data from Technical Initiation Request Form</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#ebf1de" class="text">Proposal ID /Application No</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">:</div></td>
                        <td bgcolor="#FFFFFF" class="text">@ViewBag.Customer_Application_ID</td>
                        <td bgcolor="#ebf1de" class="text"><div align="center">Transaction Type</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text">@ViewBag.TransactionType</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#ebf1de" class="text">Branch Name/ID</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">:</div></td>
                        <td width="18%" bgcolor="#FFFFFF" class="text">@ViewBag.BranchName</td>
                        <td width="15%" bgcolor="#ebf1de" class="text"><div align="center">Request from</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text">@ViewBag.RequestorName</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#ebf1de" class="text">Name of Current Owner / Seller</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">:</div></td>
                        <td colspan="8" bgcolor="#FFFFFF" class="text">@ViewBag.Document_Holder_Name, @ViewBag.Document_Holder_Name_1</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#ebf1de" class="text">Name of the Person met at site &amp; Contact No.</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">:</div></td>
                        <td colspan="8" bgcolor="#FFFFFF" class="text">@ViewBag.Name, @ViewBag.P_Contact_Num</td>
                    </tr>
                    <tr>
                        <td width="12%" rowspan="4" bgcolor="#ebf1de" class="text" style="padding:0; margin:0;"><div align="center">Address of the property being appraised</div></td>
                        <td width="1%" bgcolor="#ebf1de" class="text" style="padding:0; margin:0;"><div align="center">:</div></td>
                        <td width="13%" bgcolor="#ebf1de" class="text" style="padding:0; margin:0;">&nbsp;</td>
                        <td bgcolor="#FFFFFF" class="text" style="padding:0; margin:0;">&nbsp;</td>
                        <td colspan="8" bgcolor="#C5D9F1" class="text" style="padding:0; margin:0;"><div align="center"><strong>Address</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#ebf1de" class="text" style="padding:0; margin:0;"><div align="center">:</div></td>
                        <td bgcolor="#ebf1de" class="text" style="padding:0; margin:0;">As per TRF </td>
                        <td bgcolor="#FFFFFF" class="text" style="padding:0; margin:0;"><div align="center">:</div></td>
                        <td colspan="8" bgcolor="#FFFFFF" class="text" style="padding:0; margin:0;">@ViewBag.Plot_Number, @ViewBag.Survey_Number, @ViewBag.Street, @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.Village_Name, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode</td>
                    </tr>
                    <tr>
                        <td bgcolor="#ebf1de" class="text" style="padding:0; margin:0;"><div align="center">:</div></td>
                        <td bgcolor="#ebf1de" class="text" style="padding:0; margin:0;">As per Legal Documents</td>
                        <td bgcolor="#FFFFFF" class="text" style="padding:0; margin:0;"><div align="center">:</div></td>
                        <td colspan="8" bgcolor="#FFFFFF" class="text" style="padding:0; margin:0;">@ViewBag.Plot_Number, @ViewBag.Survey_Number, @ViewBag.Street, @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.Village_Name, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode</td>
                    </tr>
                    <tr>
                        <td bgcolor="#ebf1de" class="text" style="padding:0; margin:0;"><div align="center">:</div></td>
                        <td bgcolor="#ebf1de" class="text" style="padding:0; margin:0;">As per Actual at site</td>
                        <td bgcolor="#FFFFFF" class="text" style="padding:0; margin:0;"><div align="center">:</div></td>
                        <td colspan="8" bgcolor="#FFFFFF" class="text" style="padding:0; margin:0;">@ViewBag.Plot_Number, @ViewBag.Survey_Number, @ViewBag.Street, @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.Village_Name, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#ebf1de" class="text" style="padding:0; margin:0;">Documents Provided</td>
                        <td bgcolor="#FFFFFF" class="text" style="padding:0; margin:0;"><div align="center">:</div></td>
                        <td colspan="8" bgcolor="#ebf1de" class="text" style="padding:0; margin:0;">@ViewBag.DocumentName</td>
                    </tr>

                    <tr>
                        <td colspan="12" bgcolor="#F2DCDB" class="text"><div align="center"><strong>Locational &amp; Property Specific Details (based on site visit)</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Status of Holding</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.Type_Of_Ownership</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Delivery Agency</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">I value advisory LLP</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Type of Property</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.Property_Type</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Name of the State</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.State</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Main Locality</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.Locality</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Sub Locality</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Sub_Locality</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#eeece1" class="text">Street on which Property is located</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.Street</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Nearest Landmark</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.NearBy_Landmark</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#eeece1" class="text">Pin Code</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.PinCode</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Occupation Status</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Occupancy_Details</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Locality/Zoning type as per Latest Development Master Plan</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.Type_of_Locality</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Property Usage</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Actual_Usage_Of_Property</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Property Identifiable</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">Pl mention Yes/ No</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Property Demarcated separately </div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Plot_Demarcated_at_site</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Identified Through</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.Property_Identified_PName</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Name of City/Town/Village</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.City</div></td>
                    </tr>






                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="1" cellpadding="13" cellspacing="0" bordercolor="#333333" style="margin-top:50px;">
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Roof Construction</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.Roofing_Terracing</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Type of Structure</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Type_Of_Structure</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">No. of Floors in the building</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.Approved_No_of_Floors</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Located on Floor No.</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Floor_Of_Unit</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Total No. of Flats / Units in building</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.No_of_Floors</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Internal Quality of construction</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Quality_Of_Construction</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">External Finishing</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.Rough_Plaster, @ViewBag.Tiling</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Type of Flooring</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Type_of_Flooring</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Present Age of the Property in Yrs</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.Current_Age_Of_Property</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Future Physical Life of Property in Yrs</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Residual_Age_Of_Property</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Latitude</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="left">@ViewBag.Cord_Latitude1</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Longitude</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Cord_Longitude1</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Extra Amenities available</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="8" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Facilities</div></td>
                    </tr>
                    <tr>
                        <td colspan="12" bgcolor="#F2DCDB" class="text"><div align="center"><strong>Zone/Locality/Surrounding/Civic Amenities</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Infrastructure in the area</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.BasicInfra</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Class of Locality</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Class_of_Locality</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Type of Road</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Road_Finish</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Width of the Road</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.AdjoiningRoad_Width1, @ViewBag.AdjoiningRoad_Width2, @ViewBag.AdjoiningRoad_Width3, @ViewBag.AdjoiningRoad_Width4</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#eeece1" class="text">Electrification/Electric poles observed</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">Yes / No</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Distance from Bus stand (Km)</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Nearest_BusStop</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Distance from the Main Market (Km) (Igatpuri)</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Nearest_Market</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Distance from Railway Station (Km)</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Nearest_RailwayStation</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Property falls under Seismic Zone</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.SeismicZone</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Property Falls under Flood Zone</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.FloodZone</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Property Falls in Cyclone Zone</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.CycloneZone</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">Property Falls in CR Zone</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.CRZ</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text">Degree of Risk Associated</td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Risk_of_Demolition</div></td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">Any risk of Demolition</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Risk_of_Demolition</div></td>
                    </tr>
                    <tr>
                        <td colspan="12" style="border:none;padding-top:80px;"></td>
                    </tr>
                    <tr>
                        <td colspan="12" bgcolor="#F2DCDB" class="text"><div align="center"><strong>Boundaries</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#EBF1DE" class="text" colspan="3"><div align="center"><strong>Four Boundaries</strong></div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#EBF1DE" class="text" colspan="3"><div align="center"><strong>As Per Document</strong></div></td>
                        @*<td bgcolor="#FFFFFF" class="text">&nbsp;</td>*@
                        <td bgcolor="#EBF1DE" class="text" colspan="2"><div align="center"><strong>As Per Site</strong></div></td>
                        @*<td colspan="3" bgcolor="#EBF1DE" class="text"><div align="center"><strong>Boundaries</strong></div></td>
            <td bgcolor="#FFFFFF" class="text">:</td>
            <td bgcolor="#EBF1DE" class="text"><div align="center"><strong>North</strong></div></td>
            <td bgcolor="#EBF1DE" class="text"><div align="center"><strong>South</strong></div></td>
            <td rowspan="3" bgcolor="#FFFFFF" class="text">&nbsp;</td>
            <td bgcolor="#EBF1DE" class="text"><div align="center"><strong>East</strong></div></td>
            <td colspan="4" bgcolor="#EBF1DE" class="text"><div align="center"><strong>West</strong></div></td>*@
                    </tr>
                    @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                    {
                        <tr>

                            <td bgcolor="#EBF1DE" class="text" colspan="3">
                                <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                            </td>
                            <td bgcolor="#FFFFFF" class="text">:</td>
                            <td bgcolor="#FFFFFF" class="text" colspan="3">
                                <div align="center"> <label>@Model.ival_ProjectBoundaries[idx].AsPer_Document </label></div>
                            </td>
                            @*<td  bgcolor="#FFFFFF" class="text">&nbsp;</td>*@
                            <td bgcolor="#FFFFFF" class="text" colspan="2">
                                <div align="center"> @Model.ival_ProjectBoundaries[idx].AsPer_Site </div>
                            </td>

                        </tr>
                    }
                    @*<tr>
            <td colspan="3" bgcolor="#EBF1DE" class="text"><div align="center">As per Site / Actual</div></td>
            <td bgcolor="#FFFFFF" class="text">:</td>
            <td bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
            <td bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
            <td bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
            <td colspan="4" bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
        </tr>*@
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text"><div align="center">Boundaries Matching</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Boundaries_Matching</div></td>
                        <td bgcolor="#EBF1DE" class="text"><div align="center">If No, then reason thereon</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="5" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Remarks</div>          <div align="center"></div>          <div align="center"></div></td>
                    </tr>




                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="1" cellpadding="10" cellspacing="0" bordercolor="#333333" style="margin-top:135px;">
                    <tr>
                        <td colspan="12" bgcolor="#F2DCDB" class="text"><div align="center"><strong>Setbacks  / Margin (in Ft)</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#EBF1DE" class="text" colspan="3"><div align="center"><strong>Setbacks/Margin in the Building (in Ft)</strong></div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td bgcolor="#EBF1DE" class="text" colspan="3"><div align="center"><strong>As per sanctioned/ permissible byelaws</strong></div></td>
                        @*<td bgcolor="#FFFFFF" class="text">&nbsp;</td>*@
                        <td bgcolor="#EBF1DE" class="text" colspan="2"><div align="center"><strong>As per Site / Actual</strong></div></td>
                        @*<td colspan="3" bgcolor="#EBF1DE" class="text"><div align="center">Setbacks  / Margin in the Building (in Ft)</div></td>
            <td bgcolor="#FFFFFF" class="text">:</td>
            <td bgcolor="#EBF1DE" class="text"><div align="center"><strong>Front</strong></div></td>
            <td bgcolor="#EBF1DE" class="text"><div align="center"><strong>Rear</strong></div></td>
            <td bgcolor="#FFFFFF" class="text">&nbsp;</td>
            <td bgcolor="#EBF1DE" class="text"><div align="center"><strong>Left Side</strong></div></td>
            <td colspan="4" bgcolor="#EBF1DE" class="text"><div align="center"><strong>Right Side</strong></div></td>*@
                    </tr>
                    @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                    {
                        <tr>
                            <td id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td bgcolor="#EBF1DE" class="text" colspan="3">
                                <p><label>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</label></p>
                            </td>
                            <td bgcolor="#FFFFFF" class="text">:</td>
                            <td bgcolor="#FFFFFF" class="text" colspan="3"> <label>@Model.ival_ProjectSideMargins[idx].As_per_Approved</label></td>
                            <td bgcolor="#FFFFFF" class="text" colspan="2"> <label>@Model.ival_ProjectSideMargins[idx].As_per_Measurement</label></td>
                        </tr>



                    }
                    @*<tr>
            <td colspan="3" bgcolor="#EBF1DE" class="text"><div align="center">As per sanctioned/ permissible byelaws</div></td>
            <td bgcolor="#FFFFFF" class="text">:</td>
            <td bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
            <td bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
            <td bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
            <td bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
            <td colspan="4" bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
        </tr>
        <tr>
            <td colspan="3" bgcolor="#EBF1DE" class="text"><div align="center">As per Site / Actual</div></td>
            <td bgcolor="#FFFFFF" class="text">:</td>
            <td bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
            <td bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
            <td bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
            <td bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
            <td colspan="4" bgcolor="#FFFFFF" class="text"><div align="center"></div></td>
        </tr>*@
                    <tr>
                        <td colspan="12" bgcolor="#F2DCDB" class="text"><div align="center"><strong>Height / Storeys</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text"><div align="center">As per sanctioned/ permissible byelaws</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="8" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Approved_No_of_Floors</div></td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#EBF1DE" class="text"><div align="center">As per Site / Actual</div></td>
                        <td bgcolor="#FFFFFF" class="text">:</td>
                        <td colspan="8" bgcolor="#FFFFFF" class="text"><div align="center">@ViewBag.Actual_No_Floors_G</div></td>
                    </tr>
                    <tr style="border:none;">
                        <td colspan="12" style="border:none;padding-top:80px;"></td>
                    </tr>

                    <tr>
                        <td colspan="12" bgcolor="#F2DCDB" class="text"><div align="center"><strong>Building Approvals &amp; Related Documents</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="12" bgcolor="#FFFFFF" class="text" style="padding:0; margin:0;">
                            <table width="100%" border="0" cellpadding="3" cellspacing="0" bordercolor="0">

                                <tr>
                                    <td width="297" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;">Construction as per approved/ sanctioned plans</td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">:</div></td>
                                    <td width="264" height="31" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="left">@ViewBag.Construction_as_per_plan</div></td>
                                    <td width="265" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;"><div align="center">Details of approved plan with approval no and date</div></td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">:</div></td>
                                    <td width="287" bordercolor="#000000"><div align="center">@ViewBag.Approval_Number, @ViewBag.Date_Of_Approval, @ViewBag.Approval_Authority</div></td>
                                </tr>
                                <tr>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Commencement Certificate Number and date</td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td height="25" bordercolor="#000000" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="left">@ViewBag.Approval_Number_Commence, @ViewBag.Date_Of_Approval_Commence, @ViewBag.Approval_Authority_Commence</div></td>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center">Occupancy/Completion Certificate Number and date</div></td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td bordercolor="#000000" style="border-top:2px solid #333333;"><div align="center"></div>@ViewBag.Approval_Number_Constr, @ViewBag.Date_Of_Approval_Constr, @ViewBag.Approval_Authority_Constr</td>
                                </tr>
                                <tr>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Work Progress observed at site</td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td height="27" bordercolor="#000000" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="left">Yes/No or NA</div></td>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center">Violations Observed if Any</div></td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td bordercolor="#000000" style="border-top:2px solid #333333;"><div align="center">@ViewBag.Risk_of_Demolition</div></td>
                                </tr>
                                <tr>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">If plans not available whether the structure confirming to the local byelaws.</td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td height="25" bordercolor="#000000" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="left"></div></td>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center">RERA Number for Builder Project</div></td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td bordercolor="#000000" style="border-top:2px solid #333333;"><div align="center">@ViewBag.RERA_Registration_No</div></td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" bgcolor="#F2DCDB" class="text"><div align="center"><strong>Estimate Analysis (Applicable only in Self Construction cases)</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text" cellpadding="0" style="padding:0;">
                            <table width="100%" border="0" cellpadding="3" cellspacing="0" bordercolor="0">
                                <tr>
                                    <td width="297" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;">Submitted Estimated Cost (In Rs per Sqft)</td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">:</div></td>
                                    <td width="264" height="31" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="left"></div></td>
                                    <td width="265" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;"><div align="center">Total Estimate submitted (in Rs)</div></td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">:</div></td>
                                    <td width="287" bordercolor="#000000"><div align="center"></div></td>
                                </tr>
                                <tr>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Justified Estimated Cost (in Rs per Sqft)</td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td height="25" bordercolor="#000000" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="left"></div></td>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center">Adoptable / Justified Estimated Cost (In Rs)</div></td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td bordercolor="#000000" style="border-top:2px solid #333333;"><div align="center"></div></td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="12" bgcolor="#F2DCDB" class="text"><div align="center"><strong>Property Valuation</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="12" bgcolor="#c5d9f1" class="style2"><strong>Valuation of Independent House/Bungalow/Commercial/Industrial Building</strong></td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text" style="padding:0; margin:0;">
                            <table width="100%" border="0" cellpadding="3" cellspacing="0" bordercolor="0">
                                <tr>
                                    <td width="297" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;">Land Area (In Sqft)</td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">:</div></td>
                                    <td width="264" height="31" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="left">@ViewBag.Adopted_Plot_area_for_Valuation Sq.ft</div></td>
                                    <td width="265" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;"><div align="center">Adoptable Built-up Area (in Sqft)</div></td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">:</div></td>
                                    <td width="287" bordercolor="#000000"><div align="center">@ViewBag.Total_Approved_Built_up_Area Sq.ft</div></td>
                                </tr>
                                <tr>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Rate Range of land in the locality (Rs Per Sqft)</td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td height="25" bordercolor="#000000" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="left">@ViewBag.Rate_range_in_Locality Rs./Sq.ft</div></td>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center">Construction Cost (Rs per sft)</div></td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td bordercolor="#000000" style="border-top:2px solid #333333;"><div align="center">@ViewBag.Cost_of_Construction Rs./Sq.ft</div></td>
                                </tr>
                                <tr>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Recommended Rate of Land (Rs per sqft)</td>
                                    <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td height="25" bordercolor="#000000" style="border-top:2px solid #333333; border-right:2px solid #333333;">@ViewBag.Adopted_Plot_Land_Rate Rs./Sq.ft</td>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center">Total Construction Value for 100% complete building (in Rs) </div></td>
                                    <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td bordercolor="#000000" style="border-top:2px solid #333333;">Rs.@ViewBag.Gross_Estimated_Cost_Construction</td>
                                </tr>
                                <tr>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Pls specify if any special amenities provided</td>
                                    <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td height="25" bordercolor="#000000" style="border-top:2px solid #333333; border-right:2px solid #333333;">Lift/Swimming pool/ compound wall etc</td>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center">Addl Cost incurred for amenities (in Rs)</div></td>
                                    <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td bordercolor="#000000" style="border-top:2px solid #333333;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Total Land Value (in Rs)</td>
                                    <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td height="25" bordercolor="#000000" style="border-top:2px solid #333333; border-right:2px solid #333333;">Rs.@ViewBag.Total_Land_Plot_Value</td>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center">Total Land Value (in Word) </div></td>
                                    <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td bordercolor="#000000" style="border-top:2px solid #333333;">@ViewBag.TotalFlatwords </td>
                                </tr>

                            </table>
                        </td>
                    </tr>



                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="1" cellpadding="10" cellspacing="0" bordercolor="#333333" style="margin-top:125px;">
                    <tr>
                        <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Market Value of Land &amp; Building for 100% complete property (in Rs)</td>
                        <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                        <td height="25" bordercolor="#000000" style="border-top:2px solid #333333; border-right:2px solid #333333;">Rs.@ViewBag.Total_Value_of_Property</td>
                        <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center">Market Value of Land &amp; Building at present stage of completion (in Rs)</div></td>
                        <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                        <td bordercolor="#000000" style="border-top:2px solid #333333;">Rs.@ViewBag.Current_Value_of_Property</td>
                    </tr>
                    <tr>
                        <td colspan="12" bgcolor="#C5D9F1" class="text"><strong>Stage of Construction</strong></td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text" style="padding:0; margin:0;">
                            <table width="100%" border="0" cellpadding="3" cellspacing="0" bordercolor="0">
                                <tr>
                                    <td width="297" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;"><strong>% Completion</strong></td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">:</div></td>
                                    <td width="264" height="31" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="left">@ViewBag.PerWorkCompleted %</div></td>
                                    <td width="265" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;"><div align="center">% Recommendation</div></td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">:</div></td>
                                    <td width="287" bordercolor="#000000"><div align="center">@ViewBag.PerDisbursement %</div></td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="12" bgcolor="#C5D9F1" class="text"><strong>Guideline &amp; Distress/Forced Sale Value</strong></td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text" style="padding:0; margin:0;">
                            <table width="100%" border="0" cellpadding="3" cellspacing="0" bordercolor="0">
                                <tr>
                                    <td width="297" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;">Government Guideline/ Circle rate for Land (Rs per sqft)</td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">:</div></td>
                                    <td width="264" height="31" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="left">@ViewBag.GovRate Rs./Sq.ft</div></td>
                                    <td width="265" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;"><div align="center">Land Value as per Government Rate (Rs)</div></td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">:</div></td>
                                    <td width="287" bordercolor="#000000"><div align="center">Rs.@ViewBag.Government_Value</div></td>
                                </tr>
                                <tr>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Government Guideline/ Circle rate for Flat/Unit/ Built up (Rs per sqft)</td>
                                    <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td height="25" bordercolor="#000000" style="border-top:2px solid #333333; border-right:2px solid #333333;">&nbsp;</td>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center">Flat / Unit/Built up Value as per Government Rate (Rs)</div></td>
                                    <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td bordercolor="#000000" style="border-top:2px solid #333333;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Forced Sale Value (in Rs)</td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td height="25" bordercolor="#000000" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="left">@ViewBag.distressValue</div></td>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center">Avg Rental per sqft (in Rs)</div></td>
                                    <td width="8" bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td bordercolor="#000000" style="border-top:2px solid #333333;"><div align="center">Rs.@ViewBag.Monthly_Rental</div></td>
                                </tr>
                                <tr>
                                    <td height="25" colspan="6" bordercolor="#000000" bgcolor="#F2DCDB" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center"><strong>Property Specific Remarks &amp; Observation</strong></div></td>
                                </tr>
                                <tr>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center"><span style="padding:0;"><strong>Remarks / Observation</strong></span></div></td>
                                    <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td colspan="4" bordercolor="#000000" style="border-top:2px solid #333333; border-right:2px solid #333333;"><textarea id="w3review" name="w3review" rows="9" cols="100" style=" border:none;">@ViewBag.Remarks</textarea></td>
                                </tr>
                                <tr>
                                    <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center"><strong>References of Transactions Available</strong></div></td>
                                    <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                                    <td height="25" colspan="4" bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333; padding:0;">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0" bordercolor="0">
                                            <tr>
                                                <td width="167" height="31" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;"><div align="center"><strong>Ref 1</strong></div></td>
                                                <td width="173" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;"><div align="center"><strong>Ref 2</strong></div></td>
                                                <td width="183" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;"><div align="center"><strong>Ref 3</strong></div></td>
                                                <td width="179" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;"><div align="center"><strong>Ref 4</strong></div></td>
                                                <td width="135" bordercolor="#000000" bgcolor="#EBF1DE"><div align="center"><strong>Ref 5</strong></div></td>
                                            </tr>
                                            <tr>
                                                <td height="31" bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">&nbsp;</td>
                                                <td height="31" bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">&nbsp;</td>
                                                <td height="31" bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">&nbsp;</td>
                                                <td height="31" bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">&nbsp;</td>
                                                <td height="31" bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333;">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="25" colspan="6" bordercolor="#000000" bgcolor="#F2DCDB" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center"><strong>PROPERTY PHOTOGRAPHS</strong></div></td>
                    </tr>
                    <tr>
                        <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Name of the Customer/ Applicant </td>
                        <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                        <td height="25" bordercolor="#000000" bgcolor="#FFFFFF" style="border-top:2px solid #333333; border-right:2px solid #333333;">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</td>
                        <td height="25" bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Proposal ID/Application No</td>
                        <td height="25" bordercolor="#000000" bgcolor="#FFFFFF" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="center">:</div></td>
                        <td height="25" bordercolor="#000000" bgcolor="#FFFFFF" style="border-top:2px solid #333333; border-right:2px solid #333333;">@ViewBag.Customer_Application_ID</td>
                    </tr>
                    <tr>
                        <td bordercolor="#000000" bgcolor="#EBF1DE" style="border-top:2px solid #333333; border-right:2px solid #333333;">Address of the property being appraised</td>
                        <td bordercolor="#000000" style="border-right:2px solid #333333; border-top:2px solid #333333;"><div align="center">:</div></td>
                        <td height="20" colspan="3" bordercolor="#000000" bgcolor="#FFFFFF" style="border-top:2px solid #333333; border-right:2px solid #333333;"><div align="left">@ViewBag.Plot_Number, @ViewBag.Survey_Number, @ViewBag.Street, @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.Village_Name</div></td>
                    </tr>
                    <tr>
                        <td valign="top" colspan="12" class="text">
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>


                                    @for (int idx = 0; idx < Model.Image_Uploaded_List.Count; idx++)
                                    {



                                        <div style="display: inline-block;margin-bottom:05px;padding-left:55px;margin-top:140px;">
                                            <div> <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="250" height="300"></div>
                                        </div>

                                        if (idx % 3 == 2)
                                        {
                                            <br />
                                        }


                                    }


                                </tr>
                            </table>

                        </td>
                    </tr>
                    @*<tr>
            <td colspan="12" bgcolor="#EBF1DE" class="text">&nbsp;</td>
        </tr>*@
                    <tr style="border:none;">
                        <td colspan="12" style="border:none;padding-top:129px;"></td>
                    </tr>
                    <tr>
                        <td colspan="12" bgcolor="#F2DCDB" class="text"><div align="center"><strong>Location cum Route map showing property Boundaries</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="12" align="center" class="text"><img class="img-responsive" src="~/images/@ViewBag.GoogleMapImage" width="951" height="200" vspace="10"></td>
                    </tr>

                    <tr style="border:none;">
                        <td colspan="12" style="border:none;padding-top:10px;"></td>
                    </tr>
                    <tr>
                        <td colspan="12" bgcolor="#F2DCDB"><div align="center"><strong>Valuer Certification/Disclaimer</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text">We hereby declare that:</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text">Mr....................... (With details)  has personally inspected the property and the report was prepared by ………..</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text">We have no direct or indirect interest in the property valued.</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text">The information furnished in the report is true and correct to the best of our knowledge and belief. </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text">The fair market value indicated in the report is an opinion of the value prevailing on the date of the said report and is based on market feedback on values of similar properties. The client is free to obtain other independent opinions on the same. The fair, market value of such properties/localities may increase or decrease, depending on the future market conditions and scenarios. This report does not certify or confirm any ownership or title of the property that has been valued.</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="text" style="padding:0; margin:0;">
                            <table width="100%" border="0" cellpadding="3" cellspacing="0" bordercolor="0">
                                <tbody>
                                    <tr>
                                        <td width="299" bordercolor="#000000" bgcolor="#EBF1DE" style="border-right:2px solid #333333;">Name of Engineer Visited the property</td>
                                        <td width="9" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">:</div></td>
                                        <td width="261" height="31" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">@ViewBag.SiteEngineer</div></td>
                                        <td width="265" bordercolor="#000000" bgcolor="#F2DCDB" style="border-right:2px solid #333333;">Authorized Signatory Name &amp; Signature</td>
                                        <td width="9" bordercolor="#000000" style="border-right:2px solid #333333;"><div align="center">:</div></td>
                                        <td width="287" bordercolor="#000000"><div align="center"></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
    <input type="text" id="txtId1" class="form-control" value="@ViewBag.RequestId" style=" visibility:hidden;">
    @*<p>@Html.ActionLink("Convert View To PDF", "PrintViewToPdfForHdfc")</p>*@
    <input type="button" id="ConvertPdf" class="no-print" value="Convert to PDF" onclick="location.href='@Url.Action("PrintViewToPdfForHdfc", "Report")?id=' + document.getElementById('txtId1').value" />
</body>
</html>
