﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
    <style>
        .page-breaker {
            display: block;
            clear: both;
            page-break-after: always;
        }
    </style>
    @*<style>
            .content {
                word-wrap: break-word; /*old browsers*/
                overflow-wrap: break-word;
            }



            .overflow-wrap-hack {
                max-width: 1px;
            }
        </style>*@
    @*<style>
            table {
                border-collapse: collapse;
                table-layout: fixed;

            }

                table td p {

                    word-wrap: break-word;
                }
        </style>*@
    @*<style>
            .page-break-after {
                Display: none;
                Clear: both;
                Page-break-after: always
            }
        </style>*@
    @*<Style type="text/css">
        .breakhere{page-break-after: always}
        </Style>*@
    <style>
        .testtable {
            border-top-width: 0px;
            border-right-width: 1px;
            border-bottom-width: 0px;
            border-left-width: 1px;
            border-top-color: rgb(0, 0, 0);
            border-right-color: rgb(0, 0, 0);
            border-bottom-color: rgb(0, 0, 0);
            border-left-color: rgb(0, 0, 0);
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(255, 255, 255);
        }
    </style>
</head>
<body class="bg-dark">
    <table style="font-family: Arial, Helvetica, sans-serif;" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <tr>
            <td valign="top">
                <table style="width:100%;" height="311" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                    <tr>
                        <td height="42" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:24px; ">
                            <div align="center">


                                <p><strong><u>Valuation Report</u></strong></p>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="26" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0;">
                            <div align="center">
                                <p>&nbsp;</p>
                                <p><span style="color:#000000; font-size:24px;">Date of valuation Report</span><span></span>&nbsp;&nbsp;&nbsp;<span style="font-size:24px">@ViewBag.Date_of_Valuation</span></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="41" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:18px; color:#000000;">
                            <div align="center">

                                <p><strong>STANDARD VALUATION REPORT FORMAT - @ViewBag.Property_Type</strong></p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        @*General Details*@
                        <td height="80" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table style="width:100%; margin-bottom:68px;" border="1" align="center" height="914" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">

                                <tr>
                                    <td width="25%" height="20" style=" color:#000000; font-size:18px; background-color:#dce6f1;text-align:center;"><strong>Name Of the Bank </strong></td>

                                    <td width="25%" colspan="2" style=" color:#000000; font-size:18px; background-color:#dce6f1;text-align:center;"><strong>Departments</strong></td>
                                    <td style=" color:#000000; font-size:18px; background-color:#dce6f1;text-align:center;">
                                        <strong> Branch Of The bank</strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="25%" style="text-align: center;">

                                        @if (ViewBag.Bank != "")
                                        {<label style="font-size:18px;">@ViewBag.Bank</label>}
                                    else
                                    {
                                        <label>i-Value</label>
                                    }

                                    </td>

                                    <td width="25%" colspan="2" style="text-align:center;font-size:18px;">@ViewBag.ValuationType</td>
                                    <td style="max-width: 400px; word-wrap: break-word; text-align: center;font-size:18px;">
                                        @ViewBag.Branch
                                    </td>
                                </tr>
                                <tr>
                                    <td height="18" colspan="4" style=" color:#000000; font-size:18px;"><strong>GENERAL DETAILS </strong></td>
                                </tr>
                                <tr>
                                    <td height="20" colspan="2" style=" color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Type of property </strong></div></td>
                                    <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>@ViewBag.Property_Type</strong></div></td>
                                    <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center" style="display:none;visibility:hidden;">

                                            <p><strong>New Field to be added  </strong></p>
                                            <p><strong>in the report- Any one</strong></p>
                                            <p><strong>drop down to be selected </strong></p>
                                            <p><strong>in the report</strong></p>
                                        </div>
                                    </td>
                                </tr>


                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Name of the Customer(s) - @ViewBag.Customer_Name , @ViewBag.Customer_Name_1</td>

                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;word-wrap:break-word;">
                                        <textarea id="w3review" name="w3review" rows="2" cols="130" style=" border:none;"> Property Address with pin code - @ViewBag.TotalAddress </textarea>


                                    </td>

                                </tr>
                                @*</td>
                                    </tr>*@
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Landmark - @ViewBag.NearBy_Landmark</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Loan Application number - @ViewBag.Customer_Application_ID</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Name of Document holder - @ViewBag.Document_Holder_Name, @ViewBag.Document_Holder_Name_1</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">
                                        <textarea id="w3review" name="w3review" rows="2" cols="130" style=" border:none;word-wrap:break-word;">Legal address of property - @ViewBag.TotalAddress</textarea>


                                    </td>
                                </tr>
                                @*</td>
                                    </tr>*@
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Date of Inspection - @ViewBag.Date_of_Inspection</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;"><strong>SURROUNDING LOCALITY DETAILS</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">
                                        Ward No / Municipal land No -
                                        @if (ViewBag.WardNo != "")
                                        {
                                            <label>Ward No : @ViewBag.WardNo</label>
                                        }

                                        @if (ViewBag.MunicipalNo != "")
                                        {
                                            <label>Municipal No : @ViewBag.MunicipalNo</label>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;max-width:600px;mar;word-wrap:break-word;">Vicinity - @ViewBag.Type_of_Locality</td>
                                </tr>
                                <tr>
                                    <td height="31" colspan="2" style=" color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Type of Locality</strong></div></td>
                                    <td width="25%" height="31" style=" color:#000000;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p>&nbsp;</p>
                                            <p><strong>@ViewBag.Type_of_Locality </strong></p>
                                            <p>&nbsp;</p>

                                        </div>
                                    </td>
                                    <td width="49%" height="31" style=" color:#000000;max-width:49%;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                        <div align="center" style="visibility:hidden;">
                                            <p><strong>New Field to be added  </strong></p>
                                            <p><strong>in the report- Any one</strong></p>
                                            <p><strong>drop down to be selected </strong></p>
                                            <p><strong>in the report</strong></p>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Plot Demarcated at site - @ViewBag.Plot_Demarcated_at_site</td>
                                </tr>
                                <tr>
                                    <td height="31" colspan="2" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Property  Identification</strong></div></td>

                                    <td width="25%" height="31" style=" color:#000000; font-size:18px;word-wrap:break-word; background-color:#dce6f1;">
                                        <div align="center">
                                            <p>&nbsp;</p>
                                            <p><strong>@ViewBag.Property_Identified_PName </strong></p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </td>
                                    <td width="49%" height="31" style=" color:#000000;word-break:break-word; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p>&nbsp;</p>
                                            <p>
                                                <strong>
                                                    @if (ViewBag.Name != "")
                                                    {
                                                        <label>@ViewBag.Name,@ViewBag.P_Contact_Num </label>

                                                    }
                                                    else
                                                    {
                                                        <label>Not Applicable</label>
                                                    }

                                                </strong>
                                            </p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>

                                        </div>
                                    </td>
                                </tr>

                                <td width="25%" colspan="2" height="31" style=" color:#000000;text-align:center; font-size:18px; background-color:#dce6f1;"><strong>Social Development</strong></td>
                                <td width="25%" height="31" style=" color:#000000;text-align:center; font-size:18px; background-color:#dce6f1;"><strong> Basic Infrastructure Availability</strong></td>
                                <td width="25%" height="31" style=" color:#000000;text-align:center; font-size:18px; background-color:#dce6f1;"> <strong>Connectivity to the Central hub</strong></td>
                                <tr>
                                </tr>
                                <tr>
                                    <td height="31" colspan="2" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <textarea id="w3review" name="w3review" rows="5" cols="23" style="border:none;font-weight:bold;background-color:#dce6f1;max-width:300px;word-wrap:break-word;">@ViewBag.BasicInfra1</textarea>

                                        </div>
                                    </td>
                                    <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <textarea id="w3review" name="w3review" rows="5" cols="23" style="border:none;font-weight:bold;background-color:#dce6f1;max-width:300px;word-wrap:break-word;">@ViewBag.BasicInfra</textarea>
                                            @*<p><strong>@ViewBag.LocalTransport,</strong></p> &nbsp;<p><strong>@ViewBag.BasicInfra</strong></p>*@


                                        </div>
                                    </td>
                                    <td width="50%" height="31" style=" color:#000000;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <textarea id="w3review" name="w3review" rows="5" cols="23" style="border:none;font-weight:bold;background-color:#dce6f1;max-width:300px;word-wrap:break-word;">@ViewBag.BasicInfra2</textarea>


                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="4" style="color:#000000; font-size:18px;max-width:300px;word-wrap:break-word;"><strong>Landmark Details</strong></td>
                                    <td style="color:#000000; font-size:18px;max-width:300px;word-wrap:break-word;"><strong>Nearest Railway Station</strong></td>
                                    <td style="color:#000000; font-size:18px;max-width:300px;word-wrap:break-word;">@ViewBag.Nearest_RailwayStation</td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;max-width:300px;word-wrap:break-word;"><strong>Nearest Bus Stop</strong></td>
                                    <td style="color:#000000; font-size:18px;max-width:300px;word-wrap:break-word;">@ViewBag.Nearest_BusStop</td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;max-width:300px;word-wrap:break-word;"><strong>Nearest Hospital</strong></td>
                                    <td style="color:#000000; font-size:18px;max-width:300px;word-wrap:break-word;">@ViewBag.Nearest_Hospital</td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;max-width:300px;word-wrap:break-word;"><strong>Nearest Landmark</strong></td>
                                    <td style="color:#000000; font-size:18px;max-width:300px;word-wrap:break-word;">@ViewBag.NearBy_Landmark</td>
                                </tr>
                                <tr>
                                    <td height="28" colspan="4" style=" color:#000000; font-size:18px;"><strong>PROPERTY DETAILS</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Type of Usage of entire property - @ViewBag.Actual_Usage_Of_Property</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Additional  Amenities  - @ViewBag.Facilities</td>
                                </tr>
                                <tr>
                                    <td height="28" colspan="2" width="30%" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p> <strong>Legal status</strong></p>

                                            <p> <strong>of Property</strong></p>
                                        </div>
                                    </td>
                                    <td width="30%" height="28" style=" color:#000000;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p><strong>@ViewBag.StatusOfProperty</strong></p>
                                        </div>
                                    </td>
                                    <td width="40%" height="28" style=" color:#000000;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p>Balanced Leased Period-</p>
                                            <p><strong>@ViewBag.Balanced_Leased_Period</strong></p>


                                        </div>
                                    </td>

                                </tr>

                            </table>

                        </td>
                    </tr>


                    <tr>
                        @*Property Details*@
                        <td>
                            <table style="width:100%;margin-top:40px;margin-bottom:50px;" height="311" align="center" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table style="width:100%" border="1" align="center" height="914" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">


                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"><strong>SUBJECT  PROPERTY DETAILS</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Type  of Premises – @ViewBag.Type_of_Locality</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Occupied  by : @ViewBag.Occupancy_Details</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Is property rented? @ViewBag.Occupancy_Details1</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">If rented list of occupants, @ViewBag.Occupancy_Details2</td>
                                            </tr>
                                            <tr>
                                                <td height="28" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">

                                                        <p><strong>Property  </strong></p>

                                                        <p><strong>Taxation/</strong></p>

                                                        <p><strong>Maintance cost</strong></p>
                                                    </div>
                                                </td>
                                                <td width="20%" height="28" style=" color:#000000;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p>&nbsp;</p>
                                                        <p><strong>Average</strong></p>
                                                    </div>
                                                </td>
                                                <td width="55%" height="28" style=" color:#000000;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center" style="visibility:hidden;">
                                                        <p><strong>New Field to be added in the report -</strong></p>
                                                        <p><strong> Drop down to be  selected in the report</strong></p>


                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="28" style=" color:#000000;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p>&nbsp;</p>
                                                        <p><strong>Renting  Potential</strong></p>
                                                    </div>
                                                </td>
                                                <td width="20%" height="28" style=" color:#000000;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">

                                                        <p><strong>@ViewBag.Renting_Potential</strong></p>


                                                    </div>
                                                </td>
                                                <td width="55%" height="28" style=" color:#000000;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center" style="visibility:hidden;">
                                                        <p><strong>New Field to be added in the report -</strong></p>
                                                        <p><strong> Drop down to be  selected in the report</strong></p>


                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="28" style=" color:#000000; font-size:18px;word-wrap:break-word; background-color:#dce6f1;">
                                                    <p align="center">&nbsp;</p>
                                                    <p align="center"><strong>Market  </strong></p>

                                                    <p align="center"><strong>Rentals/Sqft/month(Rs.)</strong></p>
                                                </td>
                                                <td height="28" style=" color:#000000; font-size:18px;word-wrap:break-word; background-color:#dce6f1;"><div align="center"><strong>Rs.@ViewBag.Expected_Monthly_Rental </strong></div></td>
                                                <td height="28" width="55%" style=" color:#000000; font-size:18px;word-wrap:break-word; background-color:#dce6f1;">
                                                    <div align="center" style="visibility:hidden;">
                                                        <p><strong>New Field to be added in the report -</strong></p>
                                                        <p><strong> Drop down to be  selected in the report</strong></p>

                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="18px" style=" color:#000000;word-wrap:break-word; font-size:18px; ">

                                                    <p align="center"><strong>Four Boundaries</strong></p>

                                                </td>
                                                <td height="18px" style=" color:#000000;word-wrap:break-word; font-size:18px; ">

                                                    <p align="center"><strong>As Per Document</strong></p>

                                                </td>
                                                <td height="18px" style=" color:#000000;word-wrap:break-word; font-size:18px; ">

                                                    <p align="center"><strong>As Per Site</strong></p>

                                                </td>


                                            </tr>
                                            @for (int idx = 0; idx < 4; idx++)
                                            {
                                                <tr>

                                                    <td height="27" style="color:#000000; font-size:17px;max-width:400px;word-wrap:break-word;">
                                                        <div align="center"> <textarea rows="2" cols="40" style="border:0;">@Model.ival_ProjectBoundaries[idx].Boundry_Name</textarea></div>

                                                    </td>
                                                    <td height="27" style="color:#000000; font-size:17px;max-width:400px;word-wrap:break-word;">
                                                        <div align="center"> <textarea rows="2" cols="40" style="border:0;">@Model.ival_ProjectBoundaries[idx].AsPer_Document </textarea></div>
                                                    </td>
                                                    <td height="27" style="color:#000000; font-size:17px;max-width:400px;word-wrap:break-word;">
                                                        <div align="center"><textarea rows="2" cols="40" style="border:0;"> @Model.ival_ProjectBoundaries[idx].AsPer_Site </textarea> </div>
                                                    </td>

                                                </tr>
                                            }

                                            <tr>
                                                <td height="31" colspan="3" style=" color:#000000; font-size:18px;"><strong>STRUCTURAL DETAILS</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Type of Structure  </td>
                                                <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">@ViewBag.Type_Of_Structure   </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">No. of Floors </td>
                                                <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">@ViewBag.Approved_No_of_Floors                                                                                               </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Floor of the unit </td>
                                                <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">@ViewBag.Floor_Of_Unit     </td>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">No of wings </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">@ViewBag.txtwingsno                                                                       </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">No. of units on each floor </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">@ViewBag.ttlfloor                                                                                              </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Internal Composition of property </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">@ViewBag.Actual_Usage_Of_Property     </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> No. of lifts in each wing  </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">@ViewBag.No_Of_Lifts     </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Brief Description of Property - <p><textarea id="w3review" name="w3review" rows="2" cols="40" style=" border:none;">@ViewBag.Property_Description</textarea></p>                                                                                             </td>
                                </tr>

                                <tr>
                                    <td height="31" width="30%" style=" color:#000000;width:30%; font-size:18px;word-wrap:break-word; background-color:#dce6f1;">
                                        <div align="center">
                                            <p><strong>Current Age of the Structure</strong></p>
                                        </div>
                                    </td>
                                    <td width="40%" height="31" style=" color:#000000;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p><strong>@ViewBag.Current_Age_Of_Property  years</strong></p>
                                        </div>
                                    </td>
                                    <td width="30%" height="31" style=" color:#000000;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                        <div align="center" style="visibility:hidden;">
                                            <p><strong>New Field to be added  </strong></p>
                                            <p><strong>in the report- Any one</strong></p>



                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:500px;word-wrap:break-word;">Expected Balance Life of Structure - @ViewBag.Residual_Age_Of_Property Years</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:300px;word-wrap:break-word;"><strong>External Finishing of the Property</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:300px;word-wrap:break-word;">@ViewBag.external</td>
                                </tr>
                                <tr>
                                    <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">

                                            <p><strong>Quality of Construction </strong></p>

                                            <p><strong>Appearance &amp;</strong></p>

                                            <p><strong>Maintenance of Building.</strong></p>
                                        </div>
                                    </td>
                                    <td width="25%" height="31" style=" color:#000000;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p><strong>@ViewBag.Quality_Of_Construction</strong></p>
                                        </div>
                                    </td>
                                    <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center" style="visibility:hidden;">
                                            <p><strong>New Field to be added  </strong></p>
                                            <p><strong>in the report- Any one</strong></p>
                                            <p><strong>drop down to be selected </strong></p>
                                            <p><strong>in the report</strong></p>

                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>
            @*Structural Details*@
            <td>
                <table style="width:100%;margin-top:30px;" height="311" align="center" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                    <tr>
                        <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table style="width:100%" border="1" align="center" height="914" cellpadding="18" cellspacing="0" bgcolor="#FFFFFF">


                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Common Areas Remarks  - @ViewBag.Common_Areas</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Other Observations  - @ViewBag.Anyother_Observation</td>
                                </tr>

                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;"><strong>Interiors</strong> </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Facilities   - @ViewBag.facilit</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Roofing and terracing - @ViewBag.Roofing_Terracing</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:800px;word-wrap:break-word;">
                                        No. of lifts  - @ViewBag.No_Of_Lifts
                                        @*@if (ViewBag.LiftDetails != "")
                                            {
                                                <label> Lift Details - @ViewBag.LiftDetails</label>
                                            }*@


                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Quality of fixtures and fittings - @ViewBag.Quality_Of_Fixture</td>
                                </tr>
                                <tr>
                                    <td colspan="3" style=" color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"><strong>Plan Approvals</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Construction as per approved/ sanctioned  plans -  @ViewBag.Construction_as_per_plan  </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:800px;"<p> Details of approved plan - Approval Number :  @ViewBag.Approval_Number , Dated On : @ViewBag.Date_Of_Approval   </p>  </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"><p>Construction  permission Number and date-Approval Number:  @ViewBag.Approval_Number_Constr , Dated On: @ViewBag.Date_Of_Approval_Constr   </p>   </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Violations Observed if AnyOr is there any risk of  Demolition in case of violation -  @ViewBag.Risk_of_Demolition                                                                                              </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">If  plans not available then is the structure confirming to the local byelaws -  NA    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="color:#000000; font-size:18px;max-width:900px;word-wrap:break-word;">

                                        Other  Documents Verified
                                    </td>
                                    <td style="color:#000000; font-size:18px;max-width:900px;word-wrap:break-word;">
                                        <textarea id="w3review" name="w3review" rows="2" cols="120" style=" border:none;max-width:900px;word-wrap:break-word;"> @ViewBag.DocumentName</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;"><strong>VALUATION</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"><strong>Individual Apartments / flats</strong></td>
                                </tr>
                                @*<tr>
                                        <td colspan="3" style="color:#000000; font-size:18px;"><strong>Carpet Area - @ViewBag.MeasuredCarpetArea</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="color:#000000; font-size:18px;">Loading for BUA - @ViewBag.LoadingPer %</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="color:#000000; font-size:18px;"><strong>Approved BUA / SBUA (Sqft) in Apartment- @ViewBag.ApprovedcarpetArea sqft</strong></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="color:#000000; font-size:18px;">Current Govt Approved rates - @ViewBag.GovRate</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" style="color:#000000; font-size:18px;">Recommended Rate and basis for recommendation -</td>
                                    </tr>*@





                            </table>

                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>
            @*Plan Approvals*@
            <td valign="top">
                <table style="width:100%;" height="311" align="center" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                    <tr>
                        <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table style="width:100%" border="1" align="center" height="914" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td colspan="2" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;height:14px;"> <label>Loading for salable area %  </label>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> <label> @ViewBag.LoadingPer  </label></td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"><strong></strong>Measured carpet area </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> @ViewBag.MeasuredCarpetArea Sq.Ft.  </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> @ViewBag.MeasuredCarpetAreaM Sq.Mtr  </td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;padding-bottom:30px;"> <label>Approved / Plan carpet area </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">@ViewBag.ApprovedcarpetArea Sq.Ft. </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> @ViewBag.ApprovedcarpetAreaM Sq.Mtr  </td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Measured sale area </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> @ViewBag.MeasuredSaleableArea Sq.Ft.</td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">    @ViewBag.Measured_Saleable_AreaM Sq.Mtr   </td>
                                </tr>




                                <tr>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Approved / Plan sale area </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> @ViewBag.Approved_Saleable_Area  Sq.Ft. </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> @ViewBag.Approved_Saleable_AreaM  Sq.Mtr  </td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Adopted saleable area </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> @ViewBag.AdSF Sq.Ft.  </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> @ViewBag.AdSFM  Sq.Mtr  </td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Adopted area for valuation </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> @ViewBag.Adopted_Area_for_Valuation Sq.Ft.  </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Rate range in locality </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">

                                        @if (ViewBag.RateRangeinLocality != "")
                                        {
                                            <label>Rs : @ViewBag.RateRangeinLocality Per Sq. Ft.</label>
                                        }

                                    </td>
                                </tr>
                                <tr>
                                    <td height="15" colspan="2" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Adopted unit Rate </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">  Rs  @String.Format("{0:00.0}", @ViewBag.Adopted_Rate_for_the_Unit) /- Per Sq. Ft.</td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Parking Charges </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">  Rs @ViewBag.ParkingCharges /- </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Current Govt Approved rates </td>
                                    <td style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"> Rs @ViewBag.GovRate /- Per Sq. Ft.</td>
                                </tr>
                                <tr>
                                    <td height="28" width="30%" style=" color:#000000; font-size:18px;"><strong>Final Market value. </strong></td>
                                    <td height="28" width="29%" style=" color:#000000; font-size:16px;max-width:400px;word-wrap:break-word;"><div align="center"><input type="text" id="word" style="border:hidden;height:20px;" value="@ViewBag.Total_Value_of_Property" /></div></td>
                                    <td height="28" style=" color:#000000; font-size:18px;">

                                        <strong> <textarea id="word1" name="w3review" rows="3" cols="100" style=" border:none;max-width:350px;word-wrap:break-word;"></textarea></strong>


                                    </td>
                                </tr>

                                <tr>
                                    <td height="28" style=" color:#000000; font-size:18px;"><strong>Forced Sale %</strong></td>
                                    <td height="28" style=" color:#000000; font-size:18px;text-align:center;"> <div>@ViewBag.DistressValuePer %</div></td>
                                    <td height="28" style=" color:#000000; font-size:18px;">
                                        <div align="center" style="visibility:hidden;">
                                            <p><strong>New Field to be added  </strong></p>


                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="28" style=" color:#000000; font-size:18px;"><strong>Forced Sale Value</strong></td>
                                    <td height="28" width="29%" style=" color:#000000; font-size:16px;max-width:400px;word-wrap:break-word;"><div align="center"><input type="text" id="word" style="border:hidden;height:20px;" value="@ViewBag.distressValue" /></div></td>
                                    <td height="28" style=" color:#000000; font-size:18px;">
                                        <strong> <textarea id="word2" name="w3review" rows="2" cols="100" style=" border:none;max-width:350px;word-wrap:break-word;"></textarea></strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="28" style=" color:#000000; font-size:18px;"><strong>Realizable Value %</strong></td>
                                    <td height="28" style=" color:#000000; font-size:18px;">
                                        <div align="center">
                                            @if (ViewBag.RealizableValuePer1 != "")
                                            {
                                                @ViewBag.RealizableValuePer1
                                            }


                                        </div>
                                    </td>
                                    <td height="28" style=" color:#000000; font-size:18px;">
                                        <div align="center" style="visibility:hidden;">
                                            <p><strong>New Field to be added  </strong></p>
                                            <p><strong>in the report- Any one</strong></p>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="padding-top:6px;border:none;">
                                    </td>
                                </tr>
                                <tr>
                                    <td height="28" style=" color:#000000; font-size:18px;"><strong>Realizable Value</strong></td>
                                    <td height="28" width="29%" style=" color:#000000; font-size:16px;max-width:400px;word-wrap:break-word;text-align:center;"><input type="text" id="word3" style="border:hidden;height:20px;" value="@ViewBag.RealizableValue1" /></td>
                                    <td height="28" style=" color:#000000; font-size:18px;">
                                        <strong> <textarea id="word4" name="w3review" rows="3" cols="100" style=" border:none;max-width:350px;word-wrap:break-word;"></textarea></strong>

                                    </td>
                                </tr>
                                <tr>
                                    <td height="28" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p><strong>Marketability</strong></p>
                                        </div>
                                    </td>
                                    <td width="25%" height="28" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p><strong>@ViewBag.Marketability_Of_Property</strong></p>
                                        </div>
                                    </td>
                                    <td width="49%" height="28" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center" style="visibility:hidden;">
                                            <p><strong>New Field to be added  </strong></p>
                                            <p><strong>in the report- Any one</strong></p>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">
                                        <p>&nbsp;</p>
                                        <p>Valuation result - @ViewBag.ValuationOfResult</p>
                                    </td>
                                </tr>





                            </table>

                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table style="width:100%;" height="1020" align="center" cellpadding="7" cellspacing="0" bgcolor="#FFFFFF">

                    <tr>
                        <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table style="width:100%" border="1" align="center" height="1020" cellpadding="5" cellspacing="0" bgcolor="#FFFFFF">

                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><strong>Deviations  in the property- </strong>@ViewBag.DeviationPercentage </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p><strong>% deviation in construction- </strong>@ViewBag.DeviationPercentage, @ViewBag.Deviation_Description </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;">
                                        <p>&nbsp;</p>

                                        <p>Remarks if any </p>
                                        @*<input type="text" id="remarks" class="form-control" value="@ViewBag.Remarks" maxlength="2000">*@
                                        <textarea id="w3review" name="w3review" rows="15" cols="120" style=" border:none;word-wrap:break-word;">@ViewBag.Remarks</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" style="color:#000000;height:15px; font-size:18px;max-width:500px;word-wrap:break-word;"><strong>Engineer Visited on site</strong></td>
                                    <td width="20%" style="color:#000000;height:15px; font-size:18px;max-width:500px;word-wrap:break-word;">@ViewBag.AssignedToEmpID</td>
                                    <td width="80%" style="color:#000000;height:15px; font-size:18px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                </tr>

                                <tr>
                                    <td colspan="4" width="88%" style="color:#000000; font-size:18px;">
                                        <p>
                                            Declaration
                                        </p>

                                        <p>
                                            I hereby
                                            declare that:
                                        </p>
                                        <p>&nbsp;</p>  <p>&nbsp;</p>
                                        <p> 1. We have no direct or indirect interest in the property valued.</p>

                                        <p> 2. The information furnished in the report is true and correct to the best of our knowledge and belief.</p>

                                        <p> 3. We are relied on the Documents Provided by the Client & We have assumed that its verified by them.                  </p>

                                        <p>4. We have not carried out any legal due diligence of the property, any disputes regarding ownership, title, </p>

                                        <p>marketability of the property any change the valuation substantially.</p>

                                        <p> 5. The fair market value indicated in the report is an opinion of the value prevailing on the date of the said report </p>

                                        <p>and is based on market feedback on values of similar properties. The client is free to obtain other independent </p>

                                        <p>opinions on the same. The fair, market value of such properties/localities may increase or decrease, depending </p>

                                        <p>on the future market conditions and scenarios.                  </p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>

                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>

                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>Signature of Valuer                   </p>


                                        <p>i-Value Advisroy LLP</p>
                                        <p>&nbsp;</p>

                                        <p> Date - @ViewBag.Date_of_Valuation </p>


                                    </td>
                                </tr>
                            </table>

                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>

            @*Property Location*@
            <td valign="top">
                <table style="width:100%;margin-top:30px;" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                    <tr>
                        <td valign="top" height="50" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table border="1" align="center" style="width:100%" height="136" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="60" colspan="3" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Satellite View of unit by Google Maps (@ViewBag.Cord_Latitude1, @ViewBag.Cord_Longitude1)</strong></div></td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;">
                                        <div align="center">
                                            <div style="display:inline-block;margin-top:20px;margin-bottom:20px;">
                                                <img class="img-responsive" src="~/images/@ViewBag.GoogleMapImage" width="800" height="440">
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <td>
            <table style="width:100%;margin-bottom:260px;" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                <tr>
                    <td height="50" colspan="5" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                        <table style="width:100%;" border="1" align="center" cellspacing="0" bgcolor="#FFFFFF">
                            <tr>
                                <td colspan="5" bgcolor="#FFFFF;" style=" font-size:15px;height:50px;background-color:#dce6f1;">
                                    <div align="center"><strong>IGR Rate Annexure</strong></div>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" bgcolor="#FFFFFF" style="color:#000000; font-size:18px;"><div align="center" style="margin-top:20px;margin-bottom:20px;"><img src="~/images/@ViewBag.IGRImage" width="800" height="420"></div></td>
                            </tr>
                        </table>

                    </td>
                </tr>

            </table>

        </td>

        <tr>
            @*Property Photographs*@
            <td valign="top">
                <table style="width:100%;margin-top:220px;" align="center" height="1000" cellpadding="15" border="1" cellspacing="0" bgcolor="#FFFFFF">
                    <tr>
                        <td valign="top" height="50" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table border="1" align="center" style="width:100%" height="236" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">

                                <tr>
                                    <td valign="top" height="50" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table border="1" align="center" style="width:100%" height="236" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">

                                            <tr>
                                                <td height="78" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Property Photographs</strong></div></td>
                                            </tr>

                                            <tr style="border:none;border-color:white;">
                                                <td height="50" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                                    <table style="width:100%;height:50px; " cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                                                        <tr>
                                                            <td valign="top">
                                                                <div style="display: inline-block;padding-left:167px;">
                                                                    @for (int idx = 0; idx < 6; idx++)
                                                                    {



                                                                        <div style="display: inline-block;margin-top:10px; margin-bottom:40px;">
                                                                            <div>
                                                                                <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="420" height="360">

                                                                                <div style="margin-top:18px; margin-bottom:5px;">
                                                                                    @if (@Model.Image_Uploaded_List[idx].Image_ID == 1)
                                                                                    {
                                                                                        if (@Model.Image_Uploaded_List[idx].Image_Path != "NA")
                                                                                        {

                                                                                            string[] strArray = @Model.Image_Uploaded_List[idx].Image_Path.Split('.');
                                                                                            <label style="margin-top:80px;">  Internal View  </label>
                                                                                        }

                                                                                        else
                                                                                        {
                                                                                            <label style="margin-top:50px;">@Model.Image_Uploaded_List[idx].Image_Path</label>
                                                                                        }
                                                                                    }

                                                                                    @if (@Model.Image_Uploaded_List[idx].Image_ID == 2)
                                                                                    {
                                                                                        if (@Model.Image_Uploaded_List[idx].Image_Path != "NA")
                                                                                        {

                                                                                            string[] strArray = @Model.Image_Uploaded_List[idx].Image_Path.Split('.');
                                                                                            <label style="margin-top:80px;"> External View </label>
                                                                                        }

                                                                                        else
                                                                                        {
                                                                                            <label style="margin-top:50px;">@Model.Image_Uploaded_List[idx].Image_Path</label>
                                                                                        }
                                                                                    }

                                                                                    @if (@Model.Image_Uploaded_List[idx].Image_ID == 3)
                                                                                    {
                                                                                        if (@Model.Image_Uploaded_List[idx].Image_Path != "NA")
                                                                                        {

                                                                                            string[] strArray = @Model.Image_Uploaded_List[idx].Image_Path.Split('.');
                                                                                            <label style="margin-top:80px;"> Approach Road   </label>
                                                                                        }

                                                                                        else
                                                                                        {
                                                                                            <label style="margin-top:50px;">@Model.Image_Uploaded_List[idx].Image_Path</label>
                                                                                        }
                                                                                    }

                                                                                    @if (@Model.Image_Uploaded_List[idx].Image_ID == 4)
                                                                                    {
                                                                                        if (@Model.Image_Uploaded_List[idx].Image_Path != "NA")
                                                                                        {

                                                                                            string[] strArray = @Model.Image_Uploaded_List[idx].Image_Path.Split('.');
                                                                                            <label style="margin-top:80;"> View from property    </label>
                                                                                        }

                                                                                        else
                                                                                        {
                                                                                            <label style="margin-top:50px;">@Model.Image_Uploaded_List[idx].Image_Path</label>
                                                                                        }
                                                                                    }


                                                                                </div>

                                                                            </div>


                                                                        </div>


                                                                        if (idx % 2 == 2)
                                                                        {
                                                                            <br />
                                                                        }


                                                                    }
                                                                </div>
                                                            </td>
                                                        </tr>


                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

        <tr>
            <td colspan="5" style="padding-top:10px;border:none;">
            </td>
        </tr>


    </table>

    @*</td>

        </tr>*@



    <input type="text" id="txtId1" class="form-control" value="@ViewBag.RequestId" style=" visibility:hidden;">
    @*<p>@Html.ActionLink("Convert View To PDF", "PrintViewToPdfForHdfc")</p>*@
    <input type="button" id="ConvertPdf" class="no-print" value="Convert to PDF" onclick="location.href='@Url.Action("PrintViewToPdfForHdfc", "Report")?id=' + document.getElementById('txtId1').value" />


    <script>
        window.onload = carp(); window.onload = carp1(); window.onload = carp2(); window.onload = carp3(); window.onload = carp4();
        function carp() {
            var val = document.getElementById('carp').value;
            if (!isNaN(val)) {
                var convertValue = parseFloat(parseFloat(val) / 10.764);


                document.getElementById('carpm').value = convertValue.toFixed(2) + " Sq.Mtr.";

            }
        }
        function carp1() {
            var val1 = document.getElementById('apc').value;
            if (val1 != "") {
                var convertValue1 = parseFloat(parseFloat(val1) / 10.764);


                document.getElementById('apc1').value = convertValue1.toFixed(2) + " Sq.Mtr.";

            }
        }


        function carp2() {
            var valC = document.getElementById('ca').value;
            if (valC != "") {
                var convertValueC = parseFloat(parseFloat(valC) / 10.764);


                document.getElementById('ca1').value = convertValueC.toFixed(2) + " Sq.Mtr.";

            }
        }

        function carp3() {
            var valA = document.getElementById('aa').value;
            if (valA != "") {
                var convertValueA = parseFloat(parseFloat(valA) / 10.764);


                document.getElementById('aa1').value = convertValueA.toFixed(2) + " Sq.Mtr.";

            }
        }

        function carp4() {
            var valS = document.getElementById('sa').value;
            if (valS != "") {
                var convertValueS = parseFloat(parseFloat(valS) / 10.764);


                document.getElementById('sa1').value = convertValueS.toFixed(2) + " Sq.Mtr.";

            }
        }


    </script>
    <script>
        window.onload = carp5();
        function carp5() {
            var as = document.getElementById('asa').value;
            if (!isNaN(as)) {
                var convertValueS1 = parseFloat(parseFloat(as) / 10.764);


                document.getElementById('asa1').value = convertValueS1.toFixed(2) + " Sq.Mtr.";

            }
        }
    </script>
    <script>
        window.onload = carp5();
        function carp5() {
            var as = document.getElementById('asa').value;
            if (!isNaN(as)) {
                var convertValueS1 = parseFloat(parseFloat(as) / 10.764);


                document.getElementById('asa1').value = convertValueS1.toFixed(2) + " Sq.Mtr.";

            }
        }
    </script>
    <script>
        window.onload = convertNumberToWords();
        function convertNumberToWords() {
            var amount = document.getElementById('word').value;
            var words = new Array();
            words[0] = '';
            words[1] = 'One';
            words[2] = 'Two';
            words[3] = 'Three';
            words[4] = 'Four';
            words[5] = 'Five';
            words[6] = 'Six';
            words[7] = 'Seven';
            words[8] = 'Eight';
            words[9] = 'Nine';
            words[10] = 'Ten';
            words[11] = 'Eleven';
            words[12] = 'Twelve';
            words[13] = 'Thirteen';
            words[14] = 'Fourteen';
            words[15] = 'Fifteen';
            words[16] = 'Sixteen';
            words[17] = 'Seventeen';
            words[18] = 'Eighteen';
            words[19] = 'Nineteen';
            words[20] = 'Twenty';
            words[30] = 'Thirty';
            words[40] = 'Forty';
            words[50] = 'Fifty';
            words[60] = 'Sixty';
            words[70] = 'Seventy';
            words[80] = 'Eighty';
            words[90] = 'Ninety';
            amount = amount.toString();
            var atemp = amount.split(".");
            var number = atemp[0].split(",").join("");
            var n_length = number.length;
            var words_string = "";
            if (n_length <= 9) {
                var n_array = new Array(0, 0, 0, 0, 0, 0, 0, 0, 0);
                var received_n_array = new Array();
                for (var i = 0; i < n_length; i++) {
                    received_n_array[i] = number.substr(i, 1);
                }
                for (var i = 9 - n_length, j = 0; i < 9; i++, j++) {
                    n_array[i] = received_n_array[j];
                }
                for (var i = 0, j = 1; i < 9; i++, j++) {
                    if (i == 0 || i == 2 || i == 4 || i == 7) {
                        if (n_array[i] == 1) {
                            n_array[j] = 10 + parseInt(n_array[j]);
                            n_array[i] = 0;
                        }
                    }
                }
                value = "";
                for (var i = 0; i < 9; i++) {
                    if (i == 0 || i == 2 || i == 4 || i == 7) {
                        value = n_array[i] * 10;
                    } else {
                        value = n_array[i];
                    }
                    if (value != 0) {
                        words_string += words[value] + " ";
                    }
                    if ((i == 1 && value != 0) || (i == 0 && value != 0 && n_array[i + 1] == 0)) {
                        words_string += "Crores ";
                    }
                    if ((i == 3 && value != 0) || (i == 2 && value != 0 && n_array[i + 1] == 0)) {
                        words_string += "Lakhs ";
                    }
                    if ((i == 5 && value != 0) || (i == 4 && value != 0 && n_array[i + 1] == 0)) {
                        words_string += "Thousand ";
                    }
                    if (i == 6 && value != 0 && (n_array[i + 1] != 0 && n_array[i + 2] != 0)) {
                        words_string += "Hundred and ";
                    } else if (i == 6 && value != 0) {
                        words_string += "Hundred ";
                    }
                }
                words_string = words_string.split("  ").join(" ");
            }
            document.getElementById('word1').value = words_string;
            return words_string;

        }
    </script>
    <script>
        window.onload = convertNumberToWords1();
        function convertNumberToWords1() {
            var amount = document.getElementById('word').value;
            var words = new Array();
            words[0] = '';
            words[1] = 'One';
            words[2] = 'Two';
            words[3] = 'Three';
            words[4] = 'Four';
            words[5] = 'Five';
            words[6] = 'Six';
            words[7] = 'Seven';
            words[8] = 'Eight';
            words[9] = 'Nine';
            words[10] = 'Ten';
            words[11] = 'Eleven';
            words[12] = 'Twelve';
            words[13] = 'Thirteen';
            words[14] = 'Fourteen';
            words[15] = 'Fifteen';
            words[16] = 'Sixteen';
            words[17] = 'Seventeen';
            words[18] = 'Eighteen';
            words[19] = 'Nineteen';
            words[20] = 'Twenty';
            words[30] = 'Thirty';
            words[40] = 'Forty';
            words[50] = 'Fifty';
            words[60] = 'Sixty';
            words[70] = 'Seventy';
            words[80] = 'Eighty';
            words[90] = 'Ninety';
            amount = amount.toString();
            var atemp = amount.split(".");
            var number = atemp[0].split(",").join("");
            var n_length = number.length;
            var words_string = "";
            if (n_length <= 9) {
                var n_array = new Array(0, 0, 0, 0, 0, 0, 0, 0, 0);
                var received_n_array = new Array();
                for (var i = 0; i < n_length; i++) {
                    received_n_array[i] = number.substr(i, 1);
                }
                for (var i = 9 - n_length, j = 0; i < 9; i++, j++) {
                    n_array[i] = received_n_array[j];
                }
                for (var i = 0, j = 1; i < 9; i++, j++) {
                    if (i == 0 || i == 2 || i == 4 || i == 7) {
                        if (n_array[i] == 1) {
                            n_array[j] = 10 + parseInt(n_array[j]);
                            n_array[i] = 0;
                        }
                    }
                }
                value = "";
                for (var i = 0; i < 9; i++) {
                    if (i == 0 || i == 2 || i == 4 || i == 7) {
                        value = n_array[i] * 10;
                    } else {
                        value = n_array[i];
                    }
                    if (value != 0) {
                        words_string += words[value] + " ";
                    }
                    if ((i == 1 && value != 0) || (i == 0 && value != 0 && n_array[i + 1] == 0)) {
                        words_string += "Crores ";
                    }
                    if ((i == 3 && value != 0) || (i == 2 && value != 0 && n_array[i + 1] == 0)) {
                        words_string += "Lakhs ";
                    }
                    if ((i == 5 && value != 0) || (i == 4 && value != 0 && n_array[i + 1] == 0)) {
                        words_string += "Thousand ";
                    }
                    if (i == 6 && value != 0 && (n_array[i + 1] != 0 && n_array[i + 2] != 0)) {
                        words_string += "Hundred and ";
                    } else if (i == 6 && value != 0) {
                        words_string += "Hundred ";
                    }
                }
                words_string = words_string.split("  ").join(" ");
            }
            document.getElementById('word2').value = words_string;
            return words_string;

        }
    </script>
    <script>
        window.onload = convertNumberToWords2();
        function convertNumberToWords2() {
            var amount = document.getElementById('word3').value;
            var words = new Array();
            words[0] = '';
            words[1] = 'One';
            words[2] = 'Two';
            words[3] = 'Three';
            words[4] = 'Four';
            words[5] = 'Five';
            words[6] = 'Six';
            words[7] = 'Seven';
            words[8] = 'Eight';
            words[9] = 'Nine';
            words[10] = 'Ten';
            words[11] = 'Eleven';
            words[12] = 'Twelve';
            words[13] = 'Thirteen';
            words[14] = 'Fourteen';
            words[15] = 'Fifteen';
            words[16] = 'Sixteen';
            words[17] = 'Seventeen';
            words[18] = 'Eighteen';
            words[19] = 'Nineteen';
            words[20] = 'Twenty';
            words[30] = 'Thirty';
            words[40] = 'Forty';
            words[50] = 'Fifty';
            words[60] = 'Sixty';
            words[70] = 'Seventy';
            words[80] = 'Eighty';
            words[90] = 'Ninety';
            amount = amount.toString();
            var atemp = amount.split(".");
            var number = atemp[0].split(",").join("");
            var n_length = number.length;
            var words_string = "";
            if (n_length <= 9) {
                var n_array = new Array(0, 0, 0, 0, 0, 0, 0, 0, 0);
                var received_n_array = new Array();
                for (var i = 0; i < n_length; i++) {
                    received_n_array[i] = number.substr(i, 1);
                }
                for (var i = 9 - n_length, j = 0; i < 9; i++, j++) {
                    n_array[i] = received_n_array[j];
                }
                for (var i = 0, j = 1; i < 9; i++, j++) {
                    if (i == 0 || i == 2 || i == 4 || i == 7) {
                        if (n_array[i] == 1) {
                            n_array[j] = 10 + parseInt(n_array[j]);
                            n_array[i] = 0;
                        }
                    }
                }
                value = "";
                for (var i = 0; i < 9; i++) {
                    if (i == 0 || i == 2 || i == 4 || i == 7) {
                        value = n_array[i] * 10;
                    } else {
                        value = n_array[i];
                    }
                    if (value != 0) {
                        words_string += words[value] + " ";
                    }
                    if ((i == 1 && value != 0) || (i == 0 && value != 0 && n_array[i + 1] == 0)) {
                        words_string += "Crores ";
                    }
                    if ((i == 3 && value != 0) || (i == 2 && value != 0 && n_array[i + 1] == 0)) {
                        words_string += "Lakhs ";
                    }
                    if ((i == 5 && value != 0) || (i == 4 && value != 0 && n_array[i + 1] == 0)) {
                        words_string += "Thousand ";
                    }
                    if (i == 6 && value != 0 && (n_array[i + 1] != 0 && n_array[i + 2] != 0)) {
                        words_string += "Hundred and ";
                    } else if (i == 6 && value != 0) {
                        words_string += "Hundred ";
                    }
                }
                words_string = words_string.split("  ").join(" ");
            }
            document.getElementById('word4').value = words_string;
            return words_string;

        }
    </script>
</body>
</html>
