﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <table width="1200" align="center" cellpadding="0" cellspacing="0">
        <tr>
            @*<td valign="top"><img src="banner.jpg" width="817" height="185" /></td>*@
            <td style="padding:5px;"></td>
        </tr>

        <tr>
            <td valign="top">
                <table width="100%" border="1"  cellpadding="10" cellspacing="0" bordercolor="#000000" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; margin-bottom:210px;margin-top:5px;">

        <tr>
                        <td width="25%" bgcolor="#d9650f" style="text-align: center; "><strong>Name Of the Bank </strong></td>

                        <td width="25%" colspan="2" style="text-align:center;" bgcolor="#d9650f"><strong>Value Report for Type Of Property</strong></td>
                        <td bgcolor="#d9650f" style="max-width: 400px; word-wrap: break-word; text-align: center;">
                            <strong> Branch Of The bank</strong>
                        </td>
                    </tr>

                    <tr>
                        <td width="25%" style="text-align: center;">
                            <strong>
                                @if (ViewBag.Bank != "")
                                {<label>@ViewBag.Bank</label>}
                            else
                            {
                                <label>i-Value</label>
                            }
                        </strong>
                    </td>

                    <td width="25%" colspan="2" style="text-align:center;"><strong>@ViewBag.ValuationType </strong></td>
                    <td style="max-width: 400px; word-wrap: break-word; text-align: center;">
                        <strong> @ViewBag.Branch</strong>
                    </td>
                </tr>
                    <tr>


                        <td width="25%" bgcolor="#f8cbac"><strong>Name of the customer  </strong></td>
                        <td width="25%" style="max-width:400px;word-wrap:break-word;">
                            @if (ViewBag.Customer_Name != "")
                            {
                                <label>@ViewBag.Customer_Name</label>
                            }
                            @if (ViewBag.Customer_Name_1 != "")
                            {
                                <label>,@ViewBag.Customer_Name_1</label>
                            }

                            @*<textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</textarea>*@

                        </td>
                        <td width="25%" bgcolor="#f8cbac"><strong>Site visit  Date</strong></td>
                        <td colspan="2" style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Date_of_Inspection</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#f8cbac"><strong>Customer contact Details</strong></td>
                        <td style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Customer_Contact_No_1</textarea>

                        </td>
                        <td bgcolor="#f8cbac"><strong>Report release date</strong></td>
                        <td colspan="2" style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.RequestDate</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:16px;"><div align="center"><strong>General Details</strong></div></td>

                    </tr>
                    <tr>

                        <td bgcolor="#F8CBAC"><strong>Application no</strong></td>
                        <td style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Customer_Application_ID</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Transaction Type</strong></td>
                        <td colspan="2" style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.TransactionType</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Name of the customer </strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Contact No</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Customer_Contact_No_1, @ViewBag.Customer_Contact_No_2</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Person met at site</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Name</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Contact No</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.P_Contact_Num</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Name of document holder</strong></td>
                        <td colspan="4" height="90" style="max-width:800px;word-wrap:break-word;">
                            @if (ViewBag.Document_Holder_Name != "")
                            {
                                <label>@ViewBag.Document_Holder_Name</label>
                            }
                            @if (ViewBag.Document_Holder_Name_1 != "")
                            {
                                <label>,@ViewBag.Document_Holder_Name_1</label>
                            }

                            @*<textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</textarea>*@

                        </td>






                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:16px;"><div align="center"><strong>Address</strong></div></td>
                    </tr>
                    <tr>
                        <td height="70" bgcolor="#F8CBAC">As per Legal Documents</td>
                        <td height="70" style="max-width:400px;word-wrap:break-word;">
                            @if (ViewBag.UnitNumber != "")
                            {
                                <label>@ViewBag.UnitNumber</label>

                            }
                            @if (ViewBag.Survey_Number != "")
                            {
                                <label>,@ViewBag.Survey_Number</label>
                            }
                            @if (ViewBag.Project_Name != "")
                            {
                                <label>,@ViewBag.Project_Name</label>
                            }
                            @*<textarea id="w3review" name="w3review" rows="5" cols="25" style=" border:none;">@ViewBag.UnitNumber, @ViewBag.Survey_Number,@ViewBag.Project_Name</textarea>*@

                        </td>
                        <td height="70" style="max-width:400px;word-wrap:break-word;">
                            @if (ViewBag.Building_Name_RI != "")
                            {
                                <label>@ViewBag.Building_Name_RI</label>
                            }
                            @if (ViewBag.Wing_Name_RI != "")
                            {
                                <label>,@ViewBag.Wing_Name_RI</label>
                            }
                            @if (ViewBag.Village_Name != "")
                            {
                                <label>,@ViewBag.Village_Name</label>
                            }

                            @if (ViewBag.Street != "")
                            {
                                <label>,@ViewBag.Street</label>
                            }
                            @if (ViewBag.Locality != "Please Select")
                            {
                                <label>,@ViewBag.Locality</label>
                            }
                            @*<textarea id="w3review" name="w3review" rows="5" cols="25" style=" border:none;">@ViewBag.Building_Name_RI, @ViewBag.Wing_Name_RI,@ViewBag.Village_Name,@ViewBag.Street,@ViewBag.Locality</textarea>*@

                        </td>
                        <td height="70" style="max-width:400px;word-wrap:break-word;">
                            @if (ViewBag.Sub_Locality != "Please Select")
                            {
                                <label>@ViewBag.Sub_Locality</label>
                            }
                            @if (ViewBag.City != "Please Select")
                            {
                                <label>,@ViewBag.City</label>
                            }
                            @if (ViewBag.District != "Please Select")
                            {
                                <label>,@ViewBag.District</label>
                            }

                            @if (ViewBag.State != "Please Select")
                            {
                                <label>,@ViewBag.State</label>
                            }

                            @if (ViewBag.PinCode != "Please Select")
                            {
                                <label>,@ViewBag.PinCode</label>
                            }

                        </td>
                    </tr>
                    <tr height="60">
                        <td height="70" bgcolor="#F8CBAC">As per Actual at Site</td>
                        <td style="max-width:400px;word-wrap:break-word;">

                            @if (ViewBag.UnitNumber != "")
                            {
                                <label>@ViewBag.UnitNumber</label>
                            }

                            @if (ViewBag.Survey_Number != "")
                            {
                                <label>,@ViewBag.Survey_Number</label>
                            }

                            @if (ViewBag.Project_Name != "")
                            {
                                <label>,@ViewBag.Project_Name</label>
                            }
                            @*<textarea id="w3review" name="w3review" rows="5" cols="25" style=" border:none;">@ViewBag.UnitNumber, @ViewBag.Survey_Number,@ViewBag.Project_Name</textarea>*@

                        </td>
                        <td height="70" style="max-width:400px;word-wrap:break-word;">
                            @if (ViewBag.Building_Name_RI != "")
                            {
                                <label>@ViewBag.Building_Name_RI</label>
                            }
                            @if (ViewBag.Wing_Name_RI != "")
                            {
                                <label>,@ViewBag.Wing_Name_RI</label>
                            }
                            @if (ViewBag.Village_Name != "")
                            {
                                <label>,@ViewBag.Village_Name</label>
                            }
                            @if (ViewBag.Street != "")
                            {
                                <label>,@ViewBag.Street</label>
                            }
                            @if (ViewBag.Locality != "Please Select")
                            {
                                <label>,@ViewBag.Locality</label>
                            }
                            @*<textarea id="w3review" name="w3review" rows="5" cols="25" style=" border:none;">@ViewBag.Building_Name_RI, @ViewBag.Wing_Name_RI,@ViewBag.Village_Name,@ViewBag.Street,@ViewBag.Locality</textarea>*@

                        </td>
                        <td style="max-width:400px;word-wrap:break-word;">
                            @if (ViewBag.Sub_Locality != "Please Select")
                            {
                                <label>@ViewBag.Sub_Locality</label>
                            }
                            @if (ViewBag.City != "Please Select")
                            {
                                <label>,@ViewBag.City</label>
                            }
                            @if (ViewBag.District != "Please Select")
                            {
                                <label>,@ViewBag.District</label>
                            }
                            @if (ViewBag.State != "Please Select")
                            {
                                <label>,@ViewBag.State</label>
                            }
                            @if (ViewBag.PinCode != "Please Select")
                            {
                                <label>,@ViewBag.PinCode</label>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Location &amp; Property Details (As per site visit)</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Status of Holding</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;max-width:600px;word-wrap:break-word;">@ViewBag.StatusOfProperty</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Delivery Agency</strong></td>
                        <td style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">i-Value Advisory LLP</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" bgcolor="#F8CBAC"><strong><textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;background-color:#F8CBAC;"> Balanced Leased Period</textarea> </strong></td>
                        <td colspan="2" style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Balanced_Leased_Period</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Type of Property</strong></td>
                        <td style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Property_Type</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Name of the State</strong></td>
                        <td colspan="2" style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.State</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Street on which Property is Located</strong></td>
                        <td style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Street</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Occupation Status</strong></td>
                        <td colspan="2" style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Occupancy_Details</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Main Locality</strong></td>
                        <td style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Locality</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Sub Locality</strong></td>
                        <td colspan="2" style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.City</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Pin Code</strong></td>
                        <td style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.PinCode</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Nearest Landmark</strong></td>
                        <td colspan="2" style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.NearBy_Landmark</textarea>

                        </td>
                    </tr>


                </table>


            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" border="1" cellpadding="11" cellspacing="0" bordercolor="#000000" style="font-family:Verdana, Arial, Helvetica, sans-serif;margin-top:10px; font-size:18px;margin-bottom:180px;">
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Type of Locality as per Latest DP</strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Type_of_Locality</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Property Usage</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Actual_Usage_Of_Property</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Is property Identifiable</strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">Yes/No</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Is Property Demarcated  Separately</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Plot_Demarcated_at_site</textarea>

                        </td>
                    </tr>

                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Identified Through</strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Property_Identified_PName</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Name of city/Town</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.City</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Roof Construction</strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Roofing_Terracing</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Type of Structure</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Type_Of_Structure</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>No. of floors in the building</strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Approved_No_of_Floors</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Located on floor no.</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Floor_Of_Unit</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Units in Building</strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">No of flats & Shops</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Quality of Construction</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">@ViewBag.Quality_Of_Construction</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>External Finish</strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">@ViewBag.Rough_Plaster, @ViewBag.Tiling</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Type of  Flooring</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">@ViewBag.Type_of_Flooring</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Current Age of the Structure </strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Current_Age_Of_Property</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Expected Balance Life of Structure</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Residual_Age_Of_Property</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Latitude</strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="3" cols="25" style=" border:none;">@ViewBag.Cord_Latitude1</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Longitude</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="3" cols="25" style=" border:none;">@ViewBag.Cord_Longitude1</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">
                            <strong>
                                Extra Amenities Available
                            </strong>
                            <div align="center"></div>          <div align="center"></div>
                        </td>
                        <td colspan="4" style="max-width:900px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="75" style=" border:none;">@ViewBag.Facilities</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Zone/Location/Surrounding/Civic Amenities</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Infrastructure in the Surrounding</strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.BasicInfra</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Class of Locality</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <label>@ViewBag.Class_of_Locality</label>
                            @*<textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Type_of_Locality</textarea>*@

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Type of Road</strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <label>@ViewBag.Road_Finish</label>
                            @*<textarea id="w3review" name="w3review" rows="5" cols="25" style=" border:none;">@ViewBag.Road_Finish</textarea>*@

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Width of Road </strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            @if (ViewBag.Road1 != "")
                            {
                                <label>@ViewBag.Road1</label>
                                @*<textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">@ViewBag.Road1</textarea>*@

                            }
                            @if (ViewBag.Road2 != "")
                            {
                                <label>@ViewBag.Road2</label>
                                @*<textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">,@ViewBag.Road2</textarea>*@

                            }
                            @if (ViewBag.Road3 != "")
                            {
                                <label>@ViewBag.Road3</label>
                                @*<textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">,@ViewBag.Road3</textarea>*@

                            }
                            @if (ViewBag.Road4 != "")
                            {
                                <label>@ViewBag.Road4</label>
                                @*<textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">,@ViewBag.Road4</textarea>*@

                            }



                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Connectivity</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Distance from Local Bus Stand </strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Nearest_BusStop</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Distance from Railway station</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Nearest_RailwayStation</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Distance from Main Market</strong></td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Nearest_Market</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Distance from Hospital</strong></td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Nearest_Hospital</textarea>

                        </td>
                    </tr>



                </table>
            </td>
        </tr>

        <tr>
            <td valign="top">
                <table style="width:100%;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-top:10px;" border="1" cellpadding="8" cellspacing="0" bordercolor="#000000">
                    <tr>
                        <td height="30" colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Plot Boundraries (As per Documents)</strong></div></td>
                    </tr>
                    <tr>

                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {


                            <td align="center" height="30" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {



                            <td align="center" height="30" style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                @Model.ival_ProjectBoundaries[idx].AsPer_Document


                            </td>



                        }

                    </tr>
                    <tr>
                        <td height="30" colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Boundraries (As per Site Visit)</strong></div></td>
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {


                            <td align="center" height="35" style="border-right:1px solid #000000; background-color:#F8CBAC;">
                                <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {


                            <td align="center" height="30" style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                @Model.ival_ProjectBoundaries[idx].AsPer_Site

                            </td>


                        }
                    </tr>
                    <tr>
                        <td height="30" colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Setbacks/Margin (in Mt As per document)</strong></div></td>
                    </tr>
                    <tr>

                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td align="center" height="30" id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td align="center" height="30" id="valuesidemargintype" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <p><label>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</label></p>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td align="center" id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td align="center" height="30" id="value21" style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                @Model.ival_ProjectSideMargins[idx].As_per_Approvals

                            </td>




                        }

                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#D9650F" style=" font-size:15px;"><div align="center"><strong>Setbacks/Margin (As per Site Visit in Mt)</strong></div></td>
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td align="center" id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td align="center" height="30" id="valuesidemargintype" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <p><label>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</label></p>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td align="center" height="30" id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td align="center" height="30" id="value21" style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                @Model.ival_ProjectSideMargins[idx].As_Actuals

                            </td>




                        }
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#D9650F" style=" font-size:15px;"><div align="center"><strong>Storeys</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="5" height="30"><div align="center">@ViewBag.Approved_No_of_Floors </div></td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#D9650F" style="padding:5px">
                            <div align="center"><strong>No. of Rooms </strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Hall</div></td>
                        <td align="center" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.NoOfHalls</td>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Bedrooms</div></td>
                        <td align="center" colspan="2" style="padding:5px">@ViewBag.NoOfBedroms</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Kitchen</div></td>
                        <td align="center" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.NoOfKitchens</td>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Balcony</div></td>
                        <td align="center" colspan="2" style="padding:5px">@ViewBag.NoofBalconies</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Toilet</div></td>
                        <td align="center" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.NoofToilets</td>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of allowted Parking</div></td>
                        <td align="center" colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.NoofParking</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <table width="100%" border="1" cellpadding="4" cellspacing="0" bordercolor="#000000" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;">
                                <tr>
                                    <td colspan="4" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Area and accommodation Details (Sq.ft) (for flat , shop, office, industrial gala)</strong></div></td>
                                </tr>
                                <tr>
                                    <td width="20%" bgcolor="#F8CBAC"><div align="center">Measured Carpet Area (Sq. ft) </div></td>
                                    <td width="20%" bgcolor="#F8CBAC"><div align="center">Plan/ Approved Carpet area (Sq. ft)</div></td>
                                    <td width="20%" bgcolor="#F8CBAC"><div align="center">Measured Sealable Area (Sq. ft)</div></td>             
                                    <td width="20%" bgcolor="#F8CBAC"><div align="center">Plan/Approved Saleable area (Sq. ft)</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center" style="max-width:400px;word-wrap:break-word;">@ViewBag.MeasuredCarpetArea</div></td>
                                    <td><div align="center" style="max-width:400px;word-wrap:break-word;">@ViewBag.ApprovedcarpetArea </div></td>
                                    <td><div align="center" style="max-width:400px;word-wrap:break-word;">@ViewBag.MeasuredSaleableArea </div></td>
                                  
                                    <td><div align="center" style="max-width:400px;word-wrap:break-word;">@ViewBag.ApprovedSaleableArea</div></td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Property Valuation (For Flat or Shop)</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Adopted Saleable area</td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;"> @ViewBag.Adopted_Area_for_Valuation Sq.Ft.</textarea>

                        </td>
                        <td bgcolor="#F8CBAC">Recommended Rate Range </td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;"> Rs. @ViewBag.Rate_Range_for_similar_Properties_in_the_locality /-  Per sq. Ft. </textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Rate Considerd  </td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;"> Rs. @ViewBag.Adopted_Rate_for_the_Unit /- Per sq. Ft. </textarea>

                        </td>
                        <td bgcolor="#F8CBAC">Current Value of Property </td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">Rs.  @ViewBag.Current_Value_of_Property /-</textarea>

                        </td>
                    </tr>

                    <tr>
                        <td bgcolor="#F8CBAC">Cost Of interior (Rs.)</td>
                        <td colspan="4" style="max-width:800px;word-wrap:break-word;">
                            @if (ViewBag.Cost_of_Interior == "")
                            {
                                <label>NA</label>
                            }
                            @if (ViewBag.Cost_of_Interior == null)
                            {
                                <label>NA</label>
                            }
                            @if (ViewBag.Cost_of_Interior != "")
                            {
                                <label>@ViewBag.Cost_of_Interior</label>
                            }

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Parking Area </td>
                        <td>NA</td>
                        <td bgcolor="#F8CBAC">Rate Considerd for the Parking</td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">NA</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Parking  Value (Rs)</td>
                        <td style="max-width:500px;word-wrap:break-word;">
                            <p>Rs.@ViewBag.Any_Other_Charges /-</p>

                        </td>
                        <td bgcolor="#F8CBAC">Total Value of property (in Rs)</td>

                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            Rs.  @ViewBag.Total_Value_of_Property /-

                        </td>
                    </tr>
                    <tr>
                        <td height="38" bgcolor="#F8CBAC">In Words (INR)</td>
                        <td colspan="4" style="max-width:600px;word-wrap:break-word;">
                            @ViewBag.TotalFlatwords

                        </td>
                    </tr>

                </table>

            </td>
        </tr>

        <tr>
            <td style="border-color:none;border:0;padding-top:150px;margin-bottom:280px;" colspan="3"></td>
        </tr>
        <tr>
            <td valign="top">
                <table style="width:100%;margin-bottom:280px;margin-top:35px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;" border="1" cellpadding="10" cellspacing="0" bordercolor="#000000">

                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Stage of Construction</strong></div>          <div align="center"></div>          <div align="center"></div>          <div align="center"></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">% Completion</td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.PerWorkCompleted %</textarea>

                        </td>
                        <td bgcolor="#F8CBAC">% Recommendation</td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.PerDisbursement %</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#D9650F" style=" font-size:15px;"><div align="center"><strong>Guidline &amp; Distress/Forced Sale Value</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Government Guideline/Circle Rate for Land (Rs per Sq.ft)</td>
                        <td style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.GovRate </textarea>

                        </td>
                        <td bgcolor="#F8CBAC">Land Value as per Government Rate (Rs)</td>
                        <td colspan="2" style="max-width:600px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Government_Value</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Property Specific Remark and Observation</strong></div></td>
                    </tr>

                    <tr>
                        <td bgcolor="#F8CBAC" height="90px">Remarks</td>
                        @*@if (ViewBag.Count <= 599 && ViewBag.Count <= 1000)
                            {*@
                        <td colspan="4" valign="top" height="90px">
                            <textarea id="w3review" name="w3review" rows="16" cols="100" style=" border:none;vertical-align:top;max-width:900px;word-wrap:break-word;">@ViewBag.Remarks</textarea>
                        </td>
                        @*}
                            else
                            {
                                <td colspan="4" valign="top">
                                    <textarea id="w3review" name="w3review" rows="25`" cols="100" style=" border:none;vertical-align:top;">@ViewBag.Remarks</textarea>
                                </td>
                            }*@

                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                            <div align="center"><strong>Documents Provided</strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px">Document</td>
                        <td height="33"><div align="center">Approval No.</div></td>
                        <td style="padding:5px"><div align="center">Date</div></td>
                        <td colspan="2" style="padding:5px"><div align="center">Authority</div></td>
                    </tr>

                    @for (int idx = 0; idx < Model.ival_Document_Uploaded_ListS.Count; idx++)
                    {
                        <tr>

                            <td align="center" height="33">
                                <strong><label>@Model.ival_Document_Uploaded_ListS[idx].Document_Name </label></strong>
                            </td>
                            <td align="center" height="33">
                                <label>@Model.ival_Document_Uploaded_ListS[idx].Approval_Number </label>
                            </td>
                            <td align="center" height="33">
                                <label>@Model.ival_Document_Uploaded_ListS[idx].Date_Of_ApprovalNew </label>
                            </td>
                            <td align="center" height="33">
                                <label>@Model.ival_Document_Uploaded_ListS[idx].Approval_Authority </label>
                            </td>
                        </tr>
                    }

                </table>

            </td>
        </tr>
        <tr>
            <td style="border-color:none;border:0;padding-top:150px;" colspan="3"></td>
        </tr>



        <tr>

            <td valign="top">

                <table style="width:100%;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-bottom:90px;margin-top:350px;" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
                    <tr>
                        <td colspan="4" bgcolor="#d9650f" style=" font-size:15px;" height="42"><div align="center"><strong>Satellite View of unit by Google Maps </strong></div>          <div align="center"></div>          <div align="center"></div>          <div align="center"></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top">Address of the Property</td>
                        <td colspan="4">
                            <textarea id="w3review" name="w3review" rows="3" cols="100" style=" border:none;word-wrap:break-word;">@ViewBag.UnitNumber, @ViewBag.Village_Name, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode</textarea>

                        </td>

                    </tr>
                    <tr >
                        <td colspan="4" align:center; valign="top" height="1200">
                            <table>
                                <tr>
                                    <td>
                                        <div>
                                            <img class="img-responsive" src="~/images/@ViewBag.GoogleMapImage" style="padding-left:100px;float:left;" width="900" height="660">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <table width="100%" border="1" cellspacing="0" cellpadding="0" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; margin-top:100px;margin-bottom:235px;">

            <tr>
                <td colspan="5" height="50" bgcolor="#d9650f"><div align="center"><strong>Property Photos</strong></div></td>

            </tr>

            <tr>
                <td valign="top" style="margin-top:50px;">

                    @*<div style="display: inline-block;padding-left:117px;">*@
                    @for (int idx = 0; idx < 6; idx++)
                    {

                        <div style="display:inline-block;margin-top:18px;text-align:center;;margin-bottom:50px;margin-left:120px;">
                            <div >  <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="400" height="350"></div>
							
							 @if(@Model.Image_Uploaded_List[idx].Image_ID==1 )
							{
							if(@Model.Image_Uploaded_List[idx].Image_Path!="NA" )
							{
							
							  string[] strArray =@Model.Image_Uploaded_List[idx].Image_Path.Split('.');  
							<label >  Internal View - @strArray[0]  </label>
							}
							
						else
							{
								<label>@Model.Image_Uploaded_List[idx].Image_Path</label>
							}
							}
							
							 @if(@Model.Image_Uploaded_List[idx].Image_ID==2 )
							{
							if(@Model.Image_Uploaded_List[idx].Image_Path!="NA" )
							{
							
							  string[] strArray =@Model.Image_Uploaded_List[idx].Image_Path.Split('.');  
							<label >  External View - @strArray[0]  </label>
							}
							
						else
							{
								<label>@Model.Image_Uploaded_List[idx].Image_Path</label>
							}
							}
							
							
							
                        </div>

                        if (idx % 2 == 2)
                        {
                            <br />
                        }


                    }
                    @*</div>*@
                </td>
            </tr>
        </table>

        <tr>
            <td>
                <table width="100%" border="1" cellspacing="0" cellpadding="13" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-top:70px;">

                    <tr>
                        <td height="40" colspan="5" bgcolor="#d9650f" style="padding:5px;">
                            <div align="center"><strong>Disclaimer</strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="padding:5px">
                            1. We have no direct or indirect interest in the property valued.<br />
                            2. The information furnished in the report is true and correct to the best of our knowledge and belief.<br />
                            3. We have relied on the Documents Provided by the Client &amp; We have assumed that clients have verified the same.<br />
                            4.We have not carried out any legal due diligence of the property, any disputes regarding ownership, title, marketability of the property will change the valuation substantially.<br />
                            5. The fair market value indicated in the report is an opinion of the value prevailing on the date of the said report and is based on market feedback on values of similar properties. The fair, market value of such properties/localities may increase or decrease, depending on the market conditions and scenarios.<br />
                            6. This report is valid for 30 days from the date of this report.
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" bgcolor="#F8CAAC" style="padding:5px">Name of Engineer Visited the Site</td>
                        <td width="25%" style="padding:5px">@ViewBag.SiteEngineer</td>
                        <td width="25%" bgcolor="#F8CAAC" style="padding:5px">Authorized Signatory Name &amp; Signature</td>
                        <td width="25%" style="padding:5px">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;padding:5px;">
                            <div align="center"><strong>IGR Rate Annexure</strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" align="center">
                            <div style="display:inline-block; margin-bottom:10px;margin-top:10px;">
                                <img class="img-responsive" src="~/images/@ViewBag.IGRImage" width="660" height="475">
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


</body>
</html>
