﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
        .keep-together {
            page-break-inside: avoid;
        }

        .break-before {
            page-break-before: always;
        }

        .break-after {
            page-break-after: always;
        }
        .table1 {
            page-break-inside: auto
        }

        .table1.tr {
            page-break-inside: avoid;
            page-break-after: auto;
        }

        .table1.thead {
            display: table-header-group
        }

        .table1.tfoot {
            display: table-footer-group
        }
    </style>
    <style>
        .testtable {
            border-top-width: 0px;
            border-right-width: 1px;
          
            border-left-width: 1px;
            border-top-color: rgb(0, 0, 0);
            border-right-color: rgb(0, 0, 0);
           
            border-left-color: rgb(0, 0, 0);
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(255, 255, 255);
        }
    </style>
</head>
<body >
    <table style="font-family: Arial, Helvetica, sans-serif;" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <tr>
            <td valign="top">
                <table style="width:100%" height="311" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td height="42" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:24px; ">
                            <div align="center">


                                <p><strong><u>Valuation Report</u></strong></p>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="26" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0;">
                            <div align="center">
                                <p>&nbsp;</p>
                                <p><span style="color:#000000; font-size:24px;">Date of valuation Report</span><span></span>&nbsp;&nbsp;&nbsp;<span style="font-size:24px">@ViewBag.Date_of_Valuation</span></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="41" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:18px; color:#000000;">
                            <div align="center">

                                <p><strong>STANDARD VALUATION REPORT FORMAT - @ViewBag.Property_Type</strong></p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        @*General Details*@
                        <td height="80" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table style="width:1000px; margin-bottom:70px;" border="1" align="center" height="920" cellpadding="13" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="31" colspan="4" style=" color:#000000; font-size:18px;"><strong>GENERAL DETAILS </strong></td>
                                </tr>
                                <tr>
                                    <td height="31" colspan="2" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:400px;word-wrap:break-word;"><div align="center"><strong>Type of property </strong></div></td>
                                    <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;background-color:#dce6f1;max-width:400px;word-wrap:break-word;text-align:center;">@ViewBag.Property_Type </textarea>


                                    </td>
                                    <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p><strong>New Field to be added  </strong></p>
                                            <p><strong>in the report- Any one</strong></p>
                                            <p><strong>drop down to be selected </strong></p>
                                            <p><strong>in the report</strong></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000;  font-size:18px;height:19px;">

                                        <label id="w3review" name="w3review" rows="2" cols="120" style=" border:none;width:800px;word-wrap:break-word;">
                                            Name of the Customer(s) -
                                            @if (ViewBag.Customer_Name != "")
                                            {
                                                @ViewBag.Customer_Name
                                            }
                                            @if (ViewBag.Customer_Name_1 != "")
                                            {
                                                @ViewBag.Customer_Name_1
                                            }
                                        </label>


                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">
                                        @*<textarea id="w3review" name="w3review" rows="2" cols="120" style=" border:none;"> Property Address with pin code - @ViewBag.BungalowNo, @ViewBag.Survey_Number, @ViewBag.Village_Name,@ViewBag.Street, @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode</textarea>*@
                                        <textarea id="w3review" name="w3review" rows="2" cols="120" style=" border:none;max-width:1100px;word-wrap:break-word;"> Property Address with pin code - @ViewBag.TotalAddress </textarea>

                                        @*<label>Property Address with pin code - </label>*@
                                        @*@if (ViewBag.BungalowNo != "")
                            {
                                <label>@ViewBag.BungalowNo</label>
                            }
                            @if (ViewBag.Survey_Number != "" || ViewBag.Survey_Number !="Please Select")
                            {
                                <label>,@ViewBag.Survey_Number</label>
                            }
                            @if (ViewBag.Village_Name != "" || ViewBag.Village_Name !="Please Select")
                            {
                                <label>,@ViewBag.Village_Name</label>
                            }
                            @if (ViewBag.Street != "" )
                            {
                                <label>,@ViewBag.Street</label>
                            }
                            @if (ViewBag.Locality != "" || ViewBag.Locality !="Please Select")
                            {
                                <label>,@ViewBag.Locality</label>
                            }
                            @if (ViewBag.Sub_Locality !="Please Select")
                            {
                                <label>,@ViewBag.Sub_Locality</label>
                            }
                            @if (ViewBag.City !="Please Select")
                            {
                                <label>,@ViewBag.City</label>
                            }

                            @if (ViewBag.District !="Please Select")
                            {
                                <label>,@ViewBag.District</label>
                            }
                            @if (ViewBag.State !="Please Select")
                            {
                                <label>,@ViewBag.State</label>
                            }
                            @if (ViewBag.PinCode != "Please Select")
                            {
                                <label>,@ViewBag.PinCode</label>
                            }*@

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">
                                        <textarea id="w3review" name="w3review" rows="1" cols="120" style=" border:none;word-wrap:break-word;">Landmark - @ViewBag.NearBy_Landmark</textarea>


                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">
                                        <textarea id="w3review" name="w3review" rows="1" cols="120" style=" border:none;max-width:600px;word-wrap:break-word;">Loan Application number - @ViewBag.Customer_Application_ID</textarea>


                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;height:25px;">
                                        <label id="w3review" name="w3review" rows="2" cols="120" style=" border:none;max-width:800px;word-wrap:break-word;">
                                            Name of Document holder -
                                            @if (ViewBag.Document_Holder_Name != "")
                                            {
                                                @ViewBag.Document_Holder_Name
                                            }
                                            @if (ViewBag.Document_Holder_Name_1 != "")
                                            {@ViewBag.Document_Holder_Name_1
                                        }
                                        </label>


                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;height:19px;">
                                        <textarea id="w3review" name="w3review" rows="2" cols="120" style=" border:none;max-width:900px;word-wrap:break-word;">Legal address of property - @ViewBag.TotalAddress</textarea>


                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;height:18px;">
                                        @*<textarea id="w3review" name="w3review" rows="1" cols="120" style=" border:none;">Date of Inspection - @ViewBag.Date_of_Inspection</textarea>*@

                                        Date of Inspection - @ViewBag.Date_of_Inspection
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;height:18px;"><strong>SURROUNDING LOCALITY DETAILS</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;height:18px;">
                                        Ward No / Municipal land No -
                                        @if (ViewBag.WardNo != "")
                                        {
                                            <label>Ward No : @ViewBag.WardNo</label>
                                        }

                                        @if (ViewBag.MunicipalNo != "")
                                        {
                                            <label>Municipal No : @ViewBag.MunicipalNo</label>
                                        }

                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;height:18px;max-width:600px;word-wrap:break-word;">Vicinity - @ViewBag.Type_of_Locality</td>
                                </tr>
                                <tr>
                                    <td height="31" colspan="2" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;max-width:600px;word-wrap:break-word;"><div align="center"><strong>Property Location</strong></div></td>
                                    <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p>&nbsp;</p>
                                            <p><strong>Secondary Business </strong></p>
                                            <p>&nbsp;</p>
                                            <p><strong>District</strong></p>
                                        </div>
                                    </td>
                                    <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">
                                        <div align="center">


                                            <p><strong>New Field to be added  </strong></p>
                                            <p><strong>in the report- Any one</strong></p>
                                            <p><strong>drop down to be selected </strong></p>
                                            <p><strong>in the report</strong></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Plot Demarcated at site - @ViewBag.Plot_Demarcated_at_site</td>
                                </tr>
                                <tr>
                                    <td height="31" colspan="2" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:400px;word-wrap:break-word;"><strong>Property  Identification</strong></td>
                                    <td width="34%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center" style=" border:none;background-color:#dce6f1;max-width:400px;word-wrap:break-word;">
                                            @ViewBag.Property_Identified_PName
                                        </div>

                                    </td>
                                    <td width="30%" height="35" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            @ViewBag.Name @ViewBag.P_Contact_Num

                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;height:10px;">
                                        <textarea id="w3review" name="w3review" rows="1" cols="100" style=" border:none;">Connectivity/Infrastructure Development -</textarea>


                                    </td>
                                </tr>
                                <tr>
                                    <td height="21" colspan="2" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p>&nbsp;</p>
                                            <p><strong>Connectivity /</strong></p>
                                            <p>&nbsp;</p>
                                            <p><strong>In</strong><strong>frastructure</strong></p>
                                        </div>
                                    </td>
                                    <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <textarea id="w3review" name="w3review" rows="4" cols="30" style="border:none;font-weight:bold;background-color:#dce6f1;max-width:400px;word-wrap:break-word;text-align:center;">
											@ViewBag.LocalTransport  @ViewBag.BasicInfra
											 </textarea>
                                            @*<p><strong>@ViewBag.LocalTransport,</strong><p>&nbsp;</p><p><strong>@ViewBag.BasicInfra</strong></p>*@


                                        </div>
                                    </td>
                                    <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p><strong>New Field to be added  </strong></p>
                                            <p><strong>in the report- Any one</strong></p>
                                            <p><strong>drop down to be selected </strong></p>
                                            <p><strong>in the report</strong></p>
                                        </div>

                                    </td>

                                </tr>


                            </table>

                        </td>

                    </tr>


                    <tr>
                        @*Property Details*@
                        <td>
                            <table style="width:1040px;margin-bottom:70px;margin-top:50px;" height="311" align="center" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table style="width:1000px" border="1" align="center" cellpadding="10" cellspacing="0" bgcolor="#FFFFFF">
                                            <tr>
                                                <td colspan="2" rowspan="4" style="color:#000000; font-size:18px;"><strong>Landmark Details</strong></td>
                                                <td style="color:#000000; font-size:18px;"><strong>Nearest Railway Station</strong></td>
                                                <td style="color:#000000; font-size:18px;">
                                                    <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Nearest_RailwayStation</textarea>


                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color:#000000; font-size:18px;"><strong>Nearest Bus Stop</strong></td>
                                                <td style="color:#000000; font-size:18px;">
                                                    <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Nearest_BusStop</textarea>


                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color:#000000; font-size:18px;"><strong>Nearest Hospital</strong></td>
                                                <td style="color:#000000; font-size:18px;">
                                                    <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Nearest_Hospital</textarea>


                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color:#000000; font-size:18px;"><strong>Nearest Landmark</strong></td>
                                                <td style="color:#000000; font-size:18px;">
                                                    <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.NearBy_Landmark</textarea>


                                                </td>
                                            </tr>
                                        </table>

                                        <table style="width:1000px" border="1" align="center" height="914" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">

                                            <tr>
                                                <td height="31" colspan="3" style=" color:#000000; font-size:18px;"><strong>PROPERTY DETAILS</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Type of Usage of entire property - @ViewBag.Actual_Usage_Of_Property</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Additional  Amenities  - @ViewBag.Facilities</td>
                                            </tr>
                                            <tr>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>Legal status</strong></p>
                                                        <p>&nbsp;</p>
                                                        <p><strong> of Property</strong></p>
                                                    </div>
                                                </td>
                                                <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">
                                                    <div align="center">

                                                        <p><strong>@ViewBag.StatusOfProperty</strong></p>

                                                    </div>
                                                </td>
                                                <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:700px;word-wrap:break-word;">
                                                    <div align="center">
                                                        <p>Balanced Leased Period</p>
                                                        <p><strong>@ViewBag.Balanced_Leased_Period</strong></p>

                                                    </div>
                                                </td>

                                            </tr>


                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;"><strong>SUBJECT  PROPERTY DETAILS</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Type  of Premises – @ViewBag.Type_of_Locality</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Occupied  by : @ViewBag.Occupancy_Details</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Is property rented?  : @ViewBag.Occupancy_Details1</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">If rented list of occupants: @ViewBag.Occupancy_Details2</td>
                                            </tr>
                                            <tr>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">
                                                    <div align="center">
                                                        <p>&nbsp;</p>
                                                        <p><strong>Property  </strong></p>
                                                        <p>&nbsp;</p>
                                                        <p><strong>Taxation/</strong></p>

                                                        <p><strong>Maintance cost</strong></p>
                                                    </div>
                                                </td>
                                                <td width="45%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">
                                                    <div align="center">
                                                        <p>&nbsp;</p>
                                                        <p><strong>Average</strong></p>
                                                    </div>
                                                </td>
                                                <td width="45%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">
                                                    <div align="center">
                                                        <p>&nbsp;</p>
                                                        <p><strong>Renting  Potential</strong></p>
                                                    </div>
                                                </td>
                                                <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">
                                                    <div align="center">

                                                        <p><strong>@ViewBag.Renting_Potential</strong></p>


                                                    </div>
                                                </td>
                                                <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">
                                                    <p align="center">&nbsp;</p>
                                                    <p align="center"><strong>Market  </strong></p>
                                                    <p align="center">&nbsp;</p>
                                                    <p align="center"><strong>Rentals/Sqft/month(Rs.)</strong></p>
                                                </td>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;"><div align="center"><strong>Rs.@ViewBag.Expected_Monthly_Rental </strong></div></td>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>

                                                </td>
                                            </tr>



                                        </table>

                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        @*Structural Details*@
                        <td valign="top">
                            <table style="width:1040px; margin-bottom:100px;margin-top:30px;" height="311" align="center" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table style="width:1000px" border="1" align="center" height="914" cellpadding="18" cellspacing="0" bgcolor="#FFFFFF">
                                            <tr>
                                                <td height="31" weight="33%" style=" color:#000000; font-size:18px; ">
                                                    <p align="center">&nbsp;</p>
                                                    <p align="center"><strong>Four Boundaries</strong></p>
                                                    <p align="center">&nbsp;</p>
                                                </td>
                                                <td height="31" weight="33%" style=" color:#000000; font-size:18px; ">
                                                    <p align="center">&nbsp;</p><div align="center"><strong>As Per Document</strong></div>
                                                    <p align="center">&nbsp;</p>
                                                </td>
                                                <td height="31" weight="30%" style=" color:#000000; font-size:18px; ">
                                                    <p align="center">&nbsp;</p><div align="center"><strong>As Per Site</strong></div>
                                                    <p align="center">&nbsp;</p>
                                                </td>
                                                @*<td height="31" style=" color:#000000; font-size:18px; ">

                                        <p align="center"><strong>As Per Plot </strong></p>
                                        <p align="center">Dimentions</p>
                                    </td>*@
                                            </tr>
                                            @for (int idx = 0; idx < 4; idx++)
                                            {
                                                <tr>

                                                    <td align="center" style="color:#000000; font-size:18px;">
                                                        @Model.ival_ProjectBoundaries[idx].Boundry_Name


                                                    </td>
                                                    <td align="center" style="color:#000000; font-size:18px;">
                                                        <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@Model.ival_ProjectBoundaries[idx].AsPer_Document</textarea>


                                                    </td>
                                                    <td align="center" style="color:#000000; font-size:18px;">
                                                        <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@Model.ival_ProjectBoundaries[idx].AsPer_Site</textarea>


                                                    </td>

                                                </tr>
                                            }

                                            <tr>
                                                <td height="31" colspan="3" style=" color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"><strong>STRUCTURAL DETAILS</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Type of Structure - @ViewBag.Type_Of_Structure   </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">No. of Floors - @ViewBag.Approved_No_of_Floors                                                                                               </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Floor of the unit - @ViewBag.Floor_Of_Unit                                                                                              </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">No of wings -     @ViewBag.txtwingsno                                                                                             </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">No. of units on each floor -   @ViewBag.NoFloor_Of_Unit                                                                                                  </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Internal Composition of property - @ViewBag.Actual_Usage_Of_Property     </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">No. of lifts in each wing  - @ViewBag.No_Of_Lifts                                                                                              </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Brief Description of Property -<p><textarea id="w3review" name="w3review" rows="4" cols="40" style=" border:none;">@ViewBag.Property_Description</textarea></p> </td>
                                            </tr>
                                            <tr>
                                                <td height="31" width="30%" style=" color:#000000; font-size:18px;max-width:300px;word-wrap:break-word; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>Current Age of the Structure</strong></p>
                                                    </div>
                                                </td>
                                                <td width="30%" height="31" style=" color:#000000;max-width:300px;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>@ViewBag.Current_Age_Of_Property  years</strong></p>
                                                    </div>
                                                </td>
                                                <td width="40%" height="31" style=" color:#000000;max-width:300px;word-wrap:break-word; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>

                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Expected Balance Life of Structure - @ViewBag.Residual_Age_Of_Property Years</td>
                                            </tr>








                                        </table>

                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        @*Plan Approvals*@
                        <td valign="top">
                            <table style="width:1040px;margin-bottom:70px;margin-top:30px;" height="311" align="center" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table style="width:100%" border="1" align="center" height="700" cellpadding="18" cellspacing="0" bgcolor="#FFFFFF">
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;"><strong>External Finishing of the Property</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">@ViewBag.Rough_Plaster</td>
                                            </tr>
                                            <tr>
                                                <td width="33%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <textarea id="w3review" name="w3review" rows="3" cols="30" style=" border:none;background-color:#dce6f1;">Quality of Construction,Appearance & Maintenance of Building.</textarea>


                                                </td>
                                                <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">
                                                    <div align="center">
                                                        <p><strong>@ViewBag.Quality_Of_Construction</strong></p>
                                                    </div>
                                                </td>
                                                <td width="43%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Common Areas Remarks  - @ViewBag.Common_Areas</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Other Observations  - @ViewBag.Anyother_Observation</td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"><strong>Interiors</strong> </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Flooring &amp; finishing  - @ViewBag.Type_of_Flooring</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Roofing and terracing - @ViewBag.Roofing_Terracing</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">No. of lifts  - @ViewBag.No_Of_Lifts                                                                             </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Quality of fixtures and fittings - @ViewBag.Quality_Of_Fixture</td>
                                            </tr>
                                            <tr>
                                                <td height="22" colspan="3" style=" color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"><strong>Plan Approvals</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:800px;word-wrap:break-word;">Construction as per approved / sanctioned  plans - @ViewBag.Construction_as_per_plan  </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:800px;">Approval no and date-Approval Number:  @ViewBag.Approval_Number ,Dated On: @ViewBag.Date_Of_Approval        <p>                                                                                     </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Construction  permission Number and date-Approval Number:  @ViewBag.Approval_Number_Constr , Dated On: @ViewBag.Date_Of_Approval_Constr</p>                                                                                         </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Violations Observed if AnyOr is there any risk of  Demolition in case of violation -  @ViewBag.Risk_Demarcation                                                                                              </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">If  plans not available then is the structure confirming to the local byelaws -      </td>
                                            </tr>
                                              <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:900px;word-wrap:break-word;">
												
												<textarea id="w3review" name="w3review" rows="2" cols="120" style=" border:none;max-width:900px;word-wrap:break-word;">Other  Documents Verified - @ViewBag.DocumentName</textarea>
												 </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"><strong>VALUATION</strong></td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;"><strong>For Land and building valuation</strong></td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Approved Land area / Plot area - @ViewBag.Approved_Plot_Area Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Measured Plot area - @ViewBag.Measured_Plot_Area Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Adopted Plot area For Valuation - @ViewBag.LandArea Sq Ft</td>
                                            </tr>
                                            <tr height="35">
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Adopted Land / Plot Rate -Rs. @ViewBag.AdoptedRate /Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td height="15" colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Land / Plot Rate Range in the Locality - Rs. @ViewBag.RecommandedRate /Sq Ft</td>
                                            </tr>
                                            @if (ViewBag.ApprovedOtherPlotArea != "")
                                            {
                                                <tr>
                                                    <td height="15" colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Approved other Land area / Plot area (Sq Ft) - @ViewBag.ApprovedOtherPlotArea </td>
                                                </tr>
                                            }
                                            else

                                            {
                                                <tr style="border: none; border: 0; border-color: white;"> <td height="15" style="border: none; border: 0; border-color: white;"></td> </tr>
                                            }
                                            @if (ViewBag.MeasuredOtherPlotArea != "")
                                            {
                                                <tr>
                                                    <td height="15" colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Measured other Plot area - @ViewBag.MeasuredOtherPlotArea Sq Ft</td>
                                                </tr>
                                            }
                                            else

                                            {
                                                <tr style="border:none;border:0;border-color:white;"> <td height="15" style="border: none; border: 0; border-color: white;"></td></tr>
                                            }

                                        </table>

                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        @*Plan Approvals*@
                        <td valign="top">
                            <table style="width:100%;margin-top:02px;" height="311" align="center" cellpadding="16" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table style="width:100%" border="1" align="center" cellpadding="20" cellspacing="0" bgcolor="#FFFFFF">



                                            @if (ViewBag.AdoptedOtherPlotValuation != "")
                                            {
                                                <tr>
                                                    <td height="12" colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Adopted other Plot area For Valuation - @ViewBag.AdoptedOtherPlotValuation Sq Ft</td>
                                                </tr>
                                            }
                                            @if (ViewBag.AdoptedOtherPlotRate != "")
                                            {
                                                <tr>
                                                    <td height="12" colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Adopted other Land / Plot Rate - @ViewBag.AdoptedOtherPlotRate Rs./Sq Ft</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td height="12" colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Current Government Approved Rates for land - @if(ViewBag.GovRat!="")
{<label>@ViewBag.GovRat  Rs./Sq Ft </label>}												</td>
                                            </tr>
                                            <tr>
                                                <td height="12" colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Land value - Rs.@ViewBag.ValueOfPlot</td>
                                            </tr>
                                            @if (ViewBag.AdoptedOtherPlotValuation == "")
                                            {
                                                <tr style="border: none; border: 0; border-color: white;"> <td height="12" style="border: none; border: 0; border-color: white;"></td> </tr>

                                            }
                                            @if (ViewBag.AdoptedOtherPlotValuation == "")
                                            {
                                                <tr style="border: none; border: 0; border-color: white;"> <td height="16" style="border: none; border: 0; border-color: white;"></td> </tr>

                                            }
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td height="20" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:26px; color:#000000;">
                                        <table style="width:100%" border="1" align="center" cellpadding="18" cellspacing="0" bgcolor="#FFFFFF">

                                            <tr>
                                                @{int j = 0;
                                                    for (int idx = 0; idx < 4; idx++)
                                                    {
                                                        if (Model.ival_ProjectFloorWiseBreakUps[idx].Approved_Carpet_Area == "" && Model.ival_ProjectFloorWiseBreakUps[idx].Approved_Built_up_Area == "" && Model.ival_ProjectFloorWiseBreakUps[idx].Measured_Carpet_Area == "" && Model.ival_ProjectFloorWiseBreakUps[idx].Measured_Built_up_Area == "" && Model.ival_ProjectFloorWiseBreakUps[idx].Adopted_Area_for_Valuation != "" || Model.ival_ProjectFloorWiseBreakUps[idx].Adopted_Cost_Construction == "")
                                                        {
                                                            j++;
                                                        }
                                                    }
                                                    if (j != 4)
                                                    {
                                                        <td height="20" style=" color:#000000; font-size:18px; ">
                                                            <p align="center">&nbsp;</p>
                                                            <p align="center">Floor</p>
                                                            <p align="center">&nbsp;</p>
                                                        </td>
                                                        <td height="20" style=" color:#000000; font-size:18px; ">
                                                            <div align="center">Approved </div><p align="center">carpet </p>
                                                            <p align="center">area sq. ft.</p>
                                                        </td>
                                                        <td height="20" style=" color:#000000; font-size:18px; ">
                                                            <div align="center">Approved</div><p align="center">built-up</p>
                                                            <p align="center">area sq. ft.</p>
                                                        </td>
                                                        <td height="20" style=" color:#000000; font-size:18px; ">
                                                            <div align="center">Measured</div> <p align="center">carpet</p>
                                                            <p align="center">area sq. ft.</p>
                                                        </td>
                                                        <td height="20" style=" color:#000000; font-size:18px; ">
                                                            <div align="center">Measured</div> <p align="center">built-up</p>
                                                            <p align="center">area sq. ft.</p>
                                                        </td>
                                                        <td height="20" style=" color:#000000; font-size:18px; ">
                                                            <div align="center">Adopted </div><p align="center">&nbsp;</p>
                                                            <p align="center">area sq. ft.</p>
                                                        </td>
                                                        <td height="20" style=" color:#000000; font-size:18px; ">
                                                            <div align="center">Adopted </div><p align="center">Cost of</p>
                                                            <p align="center">Construction. (Rs.)</p>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td height="40" style="border: none; border: 0; border-color: white;"></td>

                                                    }
                                                }
                                            </tr>

                                            <tbody id="floortypes">
                                                @for (int idx = 0; idx < 4; idx++)
                                                {
                                                    if (Model.ival_ProjectFloorWiseBreakUps[idx].Approved_Carpet_Area != "" || Model.ival_ProjectFloorWiseBreakUps[idx].Approved_Built_up_Area != "" || Model.ival_ProjectFloorWiseBreakUps[idx].Measured_Carpet_Area != "" || Model.ival_ProjectFloorWiseBreakUps[idx].Measured_Built_up_Area != "" || Model.ival_ProjectFloorWiseBreakUps[idx].Adopted_Area_for_Valuation != "" || Model.ival_ProjectFloorWiseBreakUps[idx].Adopted_Cost_Construction != "")
                                                    {
                                                        <tr>

                                                            <td align="center" id="value200" style="display:none">
                                                                <input style="display:none" type="text" id="txtfloortype_@idx" name="txtfloortype_@idx" value="@Model.ival_ProjectFloorWiseBreakUps[idx].PFloor_ID" />
                                                            </td>
                                                            <td align="center" style=" color:#000000; font-size:18px;" id="valueapprovaltype">
                                                                <label>@Model.ival_ProjectFloorWiseBreakUps[idx].Floor_Type</label>
                                                            </td>
                                                            <td align="center" style=" color:#000000; font-size:18px;" id="value18"><label>@Model.ival_ProjectFloorWiseBreakUps[idx].Approved_Carpet_Area</label></td>

                                                            <td align="center" style=" color:#000000; font-size:18px;" id="value17"><label>@Model.ival_ProjectFloorWiseBreakUps[idx].Approved_Built_up_Area</label></td>

                                                            <td align="center" style=" color:#000000; font-size:18px;" id="value16"><label>@Model.ival_ProjectFloorWiseBreakUps[idx].Measured_Carpet_Area</label></td>
                                                            <td align="center" height="20" style=" color:#000000; font-size:18px;" id="value15"><label>@Model.ival_ProjectFloorWiseBreakUps[idx].Measured_Built_up_Area</label></td>


                                                            <td align="center" style=" color:#000000; font-size:18px;" id="value19"><label>@Model.ival_ProjectFloorWiseBreakUps[idx].Adopted_Area_for_Valuation</label></td>
                                                            <td align="center" style=" color:#000000; font-size:18px;" id="value201"><label>@Model.ival_ProjectFloorWiseBreakUps[idx].Adopted_Cost_Construction</label></td>
                                                        </tr>
                                                    }
                                                }

                                                @for (int idx = 0; idx < 4; idx++)
                                                {
                                                    if (Model.ival_ProjectFloorWiseBreakUps[idx].Approved_Carpet_Area == "" || Model.ival_ProjectFloorWiseBreakUps[idx].Approved_Built_up_Area == "" || Model.ival_ProjectFloorWiseBreakUps[idx].Measured_Carpet_Area == "" || Model.ival_ProjectFloorWiseBreakUps[idx].Measured_Built_up_Area == "" || Model.ival_ProjectFloorWiseBreakUps[idx].Adopted_Area_for_Valuation != "" || Model.ival_ProjectFloorWiseBreakUps[idx].Adopted_Cost_Construction == "")
                                                    {
                                                        <tr style="border: none; border: 0; border-color: white;"> <td height="10" style="border: none; border: 0; border-color: white;"></td> </tr>

                                                    }
                                                }

                                            </tbody>
                                            <tr>
                                                <td colspan="7" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Total Cost of construction :- @ViewBag.TotalCostCons Rs. </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                              

                                @*<tr>
            <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Approved Bua Of Ground- @ViewBag.Approved_Built_up_AreaOfGround Sq Ft</td>
        </tr>
        <tr>
            <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Construction Cost For Ground - @ViewBag.Adopted_Cost_ConstructionForGround Rs./Sq Ft</td>
        </tr>
        <tr>
            <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Total Construction Cost For Ground - Rs.@ViewBag.TotalOfGround</td>
        </tr>
        <tr>
            <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Approved Bua Of Shed - @ViewBag.Approved_Built_up_AreaOfRCC Sq Ft</td>
        </tr>
        <tr>
            <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Construction Cost For Shed - @ViewBag.Adopted_Cost_ConstructionForRCC Rs./Sq Ft</td>
        </tr>
        <tr>
            <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">Total Construction Cost For Shed -Rs.@ViewBag.TotalOfRCC</td>
        </tr>*@
                                @*<tr>
            <td colspan="3" style="color:#000000; font-size:18px;">Construction cost as per the Amenities provided. Per Sqft - @ViewBag.TotalOfAdopted_Cost_Construction Rs./Sq Ft</td>
        </tr>*@
                                @*<tr>
            <td colspan="3" style="color:#000000; font-size:18px;">Total value of construction - Rs.@ViewBag.Total_ValueOfConstruction</td>
        </tr>*@
                                <table style="width:100%;" align="center" cellpadding="16" cellspacing="0" bgcolor="#FFFFFF">
                                    <tr>
                                        <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                            <table style="width:100%" border="1" align="center" cellpadding="20" cellspacing="0" bgcolor="#FFFFFF">


                                                <tr>
                                                    <td style=" color:#000000; font-size:18px;max-width:400px;word-wrap:break-word;">Total Valuation</td>
                                                    <td style=" color:#000000; font-size:18px;max-width:400px;word-wrap:break-word;"> <div align="center">Rs. @ViewBag.Total_Value_of_Property </div></td>
                                                    <td style=" color:#000000; font-size:18px;">
                                                        <div align="center">
                                                            <textarea id="w3review" name="w3review" rows="2" cols="50" style=" border:none;font-weight:bold;max-width:600px;word-wrap:break-word;">@ViewBag.ToatalInWords</textarea>
                                                            @*<p>&nbsp;</p>
                                    <p><strong>@ViewBag.ToatalInWords</strong></p>
                                    <p>&nbsp;</p>
                                    <p>&nbsp;</p>*@
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style=" color:#000000; font-size:18px;"><strong>Forced Sale %</strong></td>
                                                    <td style=" color:#000000; font-size:18px;"> <div align="center">@ViewBag.DistressValuePerct %</div></td>
                                                    <td style=" color:#000000; font-size:18px;">
                                                        <div align="center">
                                                            <p><strong>New Field to be added  in the report- Any  </strong></p>
                                                            <p><strong>one drop down to be selected in the report</strong></p>
                                                            @* <p><strong>drop down to be selected </strong></p>
                                    <p><strong>in the report</strong></p>*@
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr height="10px">
                                                    <td style=" color:#000000; font-size:18px;"><strong>Forced sale value</strong></td>
                                                    <td style=" color:#000000; font-size:18px;"><div align="center">Rs.@ViewBag.DistressValueProperty </div></td>
                                                    <td style=" color:#000000; font-size:18px;">
                                                        <div align="center">
                                                            <p><strong>New Field to be added in the report- Any one </strong></p>
                                                            <p><strong>drop down to be selected in the report</strong></p>
                                                            @*<p><strong>drop down to be selected </strong></p>
                                    <p><strong></strong></p>*@
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr height="10px">
                                                    <td height="31" style=" color:#000000; font-size:18px;"><strong>Realizable Value %</strong></td>
                                                    <td height="31" style=" color:#000000; font-size:18px;">
                                                        <div align="center">
                                                            @if (ViewBag.RealizableValuePer != "")
                                                            {
                                                                @ViewBag.RealizableValuePer
                                                            }
                                                            @if (ViewBag.RPer != "")
                                                            {
                                                                <label>@ViewBag.RPer % </label>
                                                            }



                                                        </div>
                                                    </td>
                                                    <td height="31" style=" color:#000000; font-size:18px;">
                                                        <div align="center">
                                                            <p><strong>New Field to be added in the report- Any one </strong></p>
                                                            <p><strong>drop down to be selected in the report</strong></p>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td height="31" style=" color:#000000; font-size:18px;"><strong>Realizable Value</strong></td>
                                                    <td height="31" style=" color:#000000; font-size:18px;">
                                                        <div align="center">
                                                            @if (ViewBag.RPlot != "")
                                                            {
                                                                <label>Rs @ViewBag.RPlot </label>
                                                            }
                                                    </div>
                                                </td>
                                                <td height="31" style=" color:#000000; font-size:18px;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added in the report- Any one </strong></p>
                                                        <p><strong>drop down to be selected in the report</strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style=" color:#000000; font-size:16px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>Marketability</strong></p>
                                                    </div>
                                                </td>
                                                <td width="25%" style=" color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">
                                                    <div align="center">
                                                        <p> <div align="center"><strong>@ViewBag.Marketability_Of_Property</strong> </div></p>
                                                    </div>
                                                </td>
                                                <td width="49%" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  in the report- Any one </strong></p>
                                                        @*<p><strong></strong></p>*@
                                                        <p><strong>drop down to be selected in the report</strong></p>
                                                        @*<p><strong></strong></p>*@
                                                    </div>
                                                </td>
                                            </tr>
   
                                        </table>

                                    </td>
                                </tr>

                            </table>
</td>
                    </tr>
                    
                    <tr>

                        <td valign="top">
                            <table class="table1" style="width: 1040px;margin-top:165px;margin-bottom: 120px;" height="311" align="center" cellpadding="7" cellspacing="0" bgcolor="#FFFFFF">

                                <tr>
                                    <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table style="width:1000px" border="1" align="center" height="914" cellpadding="5" cellspacing="0" bgcolor="#FFFFFF">


                                            <tr >
                                                <td colspan="3" style="color:#000000; font-size:18px;max-width:600px;word-wrap:break-word;">

                                                    <p>Valuation result - @ViewBag.ValuationOfResult</p>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px; background-color:#dce6f1;max-width:600px;height:22px;word-wrap:break-word;">


                                                    <strong>Deviations  in the property- </strong>@ViewBag.DeviationPercentage
                                                </td>
                                            </tr>
                                            <tr height="35px;">
                                                <td colspan="3"  style="color:#000000;font-size:18px; background-color:#dce6f1;max-width:600px;word-wrap:break-word;">


                                                  <strong>% deviation in construction -@ViewBag.DeviationinConstruction </strong>

                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">
                                                    <p>&nbsp;</p>
                                                    <p>Remarks if any                 </p>
                                                    <textarea id="w3review" name="w3review" rows="16" cols="300" style=" border:none;max-width:1000px;word-wrap:break-word;">@ViewBag.Remarks</textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%" style="color:#000000; height:15px; font-size:18px;max-width:400px;word-wrap:break-word;"><strong>Engineer Visited on site</strong></td>
                                                <td width="20%" style="color:#000000;height:15px; font-size:18px;max-width:600px;word-wrap:break-word;">@ViewBag.AssignedToEmpID</td>
                                                <td width="60%" style="color:#000000; height:15px; font-size:18px;max-width:400px;word-wrap:break-word;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                            </tr>


                                            <tr>
                                                <td colspan="4" width="74%" style="color:#000000; font-size:18px;word-wrap:break-word;">
                                                    <p>
                                                        Declaration
                                                    </p>
                                                    <p>&nbsp;</p>
                                                    <p>
                                                        I hereby
                                                        declare that:
                                                    </p>
                                                    <p>&nbsp;</p>
                                                    <p> 1. We have no direct or indirect interest in the property valued.</p>
                                                    <p>&nbsp;</p>
                                                    <p> 2. The information furnished in the report is true and correct to the best of our knowledge and belief.</p>
                                                    <p>&nbsp;</p>
                                                    <p> 3. We are relied on the Documents Provided by the Client & We have assumed that its verified by them.                  </p>
                                                    <p>&nbsp;</p>
                                                    <p>4. We have not carried out any legal due diligence of the property, any disputes regarding ownership, title, </p>
                                                    <p>&nbsp;</p>
                                                    <p>marketability of the property any change the valuation substantially.</p>
                                                    <p>&nbsp;</p>
                                                    <p> 5. The fair market value indicated in the report is an opinion of the value prevailing on the date of the said report </p>
                                                    <p>&nbsp;</p>
                                                    <p>and is based on market feedback on values of similar properties. The client is free to obtain other independent </p>
                                                    <p>&nbsp;</p>
                                                    <p>opinions on the same. The fair, market value of such properties/localities may increase or decrease, depending </p>
                                                    <p>&nbsp;</p>
                                                    <p>on the future market conditions and scenarios.                  </p>
                                                    <p>&nbsp;</p>
                                                    <p>&nbsp;</p>
                                                    <p>&nbsp;</p>

                                                    <p>Signature of Valuer</p>
                                                    <p>&nbsp;</p>
                                                    <p>&nbsp;</p>
 <p>&nbsp;</p> <p>&nbsp;</p>
                                                    <p>i-Value Advisroy LLP</p>

                                                    <p>Date - @ViewBag.Date_of_Valuation </p>
                                                </td>
                                            </tr>

                                        </table>

                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        @*Property Location*@
                        <td valign="top">
                            <table style="width:100%;margin-bottom:250px;margin-top:50px;" align="center" height="1000" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">

                                <tr>
                                    <td valign="top" height="50" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table border="1" align="center" style="width:100%" height="236" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">

                                            <tr>
                                                <td height="50" colspan="3" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Property Location (@ViewBag.Cord_Latitude1, @ViewBag.Cord_Longitude1)</strong></div></td>
                                            </tr>
                                            <tr>
                                                <td height="50" colspan="3" style="color:#000000; font-size:18px;padding:10px;">
                                                    <div align="center">
                                                        <div style="display:inline-block; margin-bottom:10px;margin-top:10px;">
                                                            <img class="img-responsive" src="~/images/@ViewBag.GoogleMapImage" width="960" height="675">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>


                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>



                </table>
            </td>
        </tr>
        <tr>
            @*property Photos*@
            <td valign="top">
                <table style="width:100%;margin-top:50px;margin-bottom:100px;" align="center" cellpadding="" cellspacing="0" bgcolor="#FFFFFF">

                    <tr>
                        <td valign="top" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table border="1" align="center" style="width:1000px" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">

                                <tr>
                                    <td height="50" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Property Photographs</strong></div></td>
                                </tr>
                                <tr>

                                    <td>

                                        @for (int idx = 0; idx < 6; idx++)
                                        {
                                            <div style="display: inline-block; margin-bottom:20px;padding-left:100px;margin-top:10px;">
                                                <div> <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="350" height="280"></div>
                                            </div>

                                            if (idx % 2 == 2)
                                            {
                                                <br />
                                            }


                                        }

                                    </td>

                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        @*<div id="fourboundaries" class="tab-pane fade">
        <div class="col-12" style="margin-bottom:10px;">
            <div class="subtitle">Four Boundaries</div>
        </div>
        <div class="card">

            <div class="card-body card-block">
                <div class="table-responsive">*@


        <tr>
            <td>
                <table width="100%" border="1" cellpadding="0" cellspacing="0" style="margin-top:40px;">
                    <tr>
                        <td colspan="5" bgcolor="#FFFFFF" style=" font-size:15px;padding:5px;">
                            <div align="center"><strong>IGR Photo</strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" align="center">
                            <div style="display:inline-block; margin-bottom:10px;margin-top:10px;">
                                <img class="img-responsive" src="~/images/@ViewBag.IGRImage" width="660" height="475">
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>


            <input type="text" id="txtId1" class="form-control" value="@ViewBag.RequestId" style=" visibility:hidden;">
            @*<p>@Html.ActionLink("Convert View To PDF", "PrintViewToPdfForHdfc")</p>*@
            <input type="button" id="ConvertPdf" class="no-print" value="Convert to PDF" onclick="location.href='@Url.Action("PrintViewToPdfForHdfc", "Report")?id=' + document.getElementById('txtId1').value" />

</body>
</html>
