﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        @@media print {
            .no-print, .no-print * {
                display: none !important;



            }
        }
    </style>
</head>
<body>
    <table width="1000" align="center" cellpadding="0" cellspacing="0">
        <tr>

            <td style="padding:5px;"></td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" border="1" cellpadding="6" cellspacing="0" bordercolor="#000000" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;margin-bottom:250px;margin-top:20px;">
                    <tr>
                        <td width="25%" bgcolor="#f8cbac" valign="top" height="33"><strong>Name of the customer </strong></td>
                        <td width="25%">
                            @if (ViewBag.Customer_Name != "")
                            {
                                <label>@ViewBag.Customer_Name</label>
                            }
                            @if (ViewBag.Customer_Name_1 != "")
                            {
                                <label>,@ViewBag.Customer_Name_1</label>
                            }
                            @*<textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;vertical-align:middle;">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</textarea>*@

                        </td>
                        <td width="25%" bgcolor="#f8cbac" valign="top" height="30"><strong>Site visit  Date</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;vertical-align:middle;word-wrap:break-word;">@ViewBag.Date_of_Inspection</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#f8cbac" valign="top" height="33"><strong>Customer contact Details</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;vertical-align:middle;word-wrap:break-word;">@ViewBag.Customer_Contact_No_1</textarea>

                        </td>
                        <td bgcolor="#f8cbac" valign="top" height="33"><strong>Report release date</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;vertical-align:middle;word-wrap:break-word;">@ViewBag.RequestDate</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top" height="30"><strong>Application no</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;vertical-align:middle;word-wrap:break-word;">@ViewBag.Customer_Application_ID</textarea>

                        </td>
                        <td bgcolor="#F8CBAC" valign="top" height="30"><strong>Transaction Type</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;vertical-align:middle;word-wrap:break-word;">@ViewBag.TransactionType</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top" height="30"><strong>Name of the customer </strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;vertical-align:middle;word-wrap:break-word;">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</textarea>

                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Contact No</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Customer_Contact_No_1, @ViewBag.Customer_Contact_No_2</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top" height="30"><strong>Person met at site</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Name</textarea>

                        </td>
                        <td bgcolor="#F8CBAC" valign="top" height="30"><strong>Contact No</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.P_Contact_Num</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Name of document holder</strong></td>
                        <td colspan="4">
                            <textarea id="w3review" name="w3review" rows="3" cols="75" style=" border:none;word-wrap:break-word;">@ViewBag.Document_Holder_Name, @ViewBag.Document_Holder_Name_1</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Address</strong></div></td>
                    </tr>
                    <tr>
                        <td height="75" bgcolor="#F8CBAC" valign="top">As per Legal Documents</td>
                        <td>
                            @if (ViewBag.PlotNumber != "")
                            {
                                <label>@ViewBag.PlotNumber</label>
                            }
                            @if (ViewBag.Survey_Number != "")
                            {
                                <label>,@ViewBag.Survey_Number</label>
                            }
                            @if (ViewBag.Village_Name != "")
                            {
                                <label>,@ViewBag.Village_Name</label>
                            }


                        </td>
                        <td>
                            @if (ViewBag.Street != "")
                            {
                                <label>@ViewBag.Street</label>
                            }
                            @if (ViewBag.Locality != "")
                            {
                                <label>,@ViewBag.Locality</label>
                            }
                            @if (ViewBag.Sub_Locality != "")
                            {
                                <label>,@ViewBag.Sub_Locality</label>
                            }

                        </td>
                        <td colspan="2">
                            @if (ViewBag.City != "")
                            {
                                <label>@ViewBag.City</label>
                            }
                            @if (ViewBag.District != "")
                            {
                                <label>,@ViewBag.District</label>
                            }
                            @if (ViewBag.State != "")
                            {
                                <label>,@ViewBag.State</label>
                            }
                            @if (ViewBag.PinCode != "")
                            {
                                <label>,@ViewBag.PinCode</label>
                            }

                        </td>
                    </tr>
                    <tr>
                        <td height="70" bgcolor="#F8CBAC" valign="top">As per Actual at Site</td>
                        <td>
                            @if (ViewBag.PlotNumber != "")
                            {
                                <label>@ViewBag.PlotNumber</label>
                            }
                            @if (ViewBag.Survey_Number != "")
                            {
                                <label>,@ViewBag.Survey_Number</label>
                            }
                            @if (ViewBag.Village_Name != "")
                            {
                                <label>,@ViewBag.Village_Name</label>
                            }


                        </td>
                        <td>
                            @if (ViewBag.Street != "")
                            {
                                <label>@ViewBag.Street</label>
                            }
                            @if (ViewBag.Locality != "")
                            {
                                <label>,@ViewBag.Locality</label>
                            }
                            @if (ViewBag.Sub_Locality != "")
                            {
                                <label>,@ViewBag.Sub_Locality</label>
                            }

                        </td>
                        <td colspan="2">
                            @if (ViewBag.City != "")
                            {
                                <label>@ViewBag.City</label>
                            }
                            @if (ViewBag.District != "")
                            {
                                <label>,@ViewBag.District</label>
                            }
                            @if (ViewBag.State != "")
                            {
                                <label>,@ViewBag.State</label>
                            }
                            @if (ViewBag.PinCode != "")
                            {
                                <label>,@ViewBag.PinCode</label>
                            }

                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Location &amp; Property Details (As per site visit)</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Status of Holding</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;max-width:600px;word-wrap:break-word;">@ViewBag.StatusOfProperty</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Balanced Leased Period</strong></td>
                        <td style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Balanced_Leased_Period</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" bgcolor="#F8CBAC"><strong>Delivery Agency</strong></td>
                        <td colspan="2" style="max-width:400px;word-wrap:break-word;">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">i-Value Advisory LLP</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top" height="33"><strong>Type of Property</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Property_Type</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top" height="33"><strong>Name of the State</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.State</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Street on which Property is Located</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Street</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top" height="33"><strong>Occupation Status</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Occupancy_Details</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top" height="33"><strong>Main Locality</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Locality</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top" height="33"><strong>Sub Locality</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.City</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top" height="33"><strong>Pin Code</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.PinCode</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Nearest Landmark</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.NearBy_Landmark</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Type of Locality as per Latest DP</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Type_of_Locality</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Property Usage</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Actual_Usage_Of_Property</textarea>
                        </td>
                    </tr>


                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" border="1" cellpadding="7" cellspacing="0" bordercolor="#000000" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;margin-bottom:100px;margin-top:100px;">
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Is property Identifiable</strong></td>
                        <td height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">Yes/No</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Is Property Demarcated  Separately</strong></td>
                        <td colspan="2" height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Plot_Demarcated_at_site</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Identified Through</strong></td>
                        <td height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Property_Identified_PName</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Name of city/Town</strong></td>
                        <td colspan="2" height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.City</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Roof Construction</strong></td>
                        <td height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Roofing_Terracing</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Type of Structure</strong></td>
                        <td colspan="2" height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Type_Of_Structure</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>No. of floors in the building</strong></td>
                        <td height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Approved_No_of_Floors</textarea>

                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Located on floor no.</strong></td>
                        <td colspan="2" height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Floor_Of_Unit</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Units in Building</strong></td>
                        <td height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;"> No of flats & Shops</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Quality of Construction</strong></td>
                        <td colspan="2" height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Quality_Of_Construction</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>External Finish</strong></td>
                        <td height="30">
                            @if (ViewBag.Rough_Plaster != "")
                            {
                                <label>@ViewBag.Rough_Plaster</label>
                            }
                            @if (ViewBag.Tiling != "")
                            {
                                <label>,@ViewBag.Tiling</label>
                            }

                            @*<textarea id="w3review" name="w3review" rows="3" cols="25" style=" border:none;">@ViewBag.Rough_Plaster, @ViewBag.Tiling</textarea>*@

                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Type of  Flooring</strong></td>
                        <td colspan="2" height="30">
                            <textarea id="w3review" name="w3review" rows="3" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Type_of_Flooring</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Current Age of the Structure </strong></td>
                        <td height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Current_Age_Of_Property</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top"> <strong>Expected Balance Life of Structure</strong></td>
                        <td colspan="2" height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Residual_Age_Of_Property</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Latitude</strong></td>
                        <td height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Cord_Latitude1</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Longitude</strong></td>
                        <td colspan="2" height="30">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Cord_Longitude1</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top">
                            <strong>
                                Extra Amenities Available
                            </strong>
                            <div align="center"></div>          <div align="center"></div>
                        </td>
                        <td colspan="4" height="90">
                            <p><label>       @ViewBag.Facilities </label> </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Zone/Location/Surrounding/Civic Amenities</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Infrastructure in the Surrounding</strong></td>
                        <td height="92">
                            <p><label>   @ViewBag.BasicInfra   </label> </p>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Class of Locality</strong></td>
                        <td colspan="2" height="93">
                            <p><label> @ViewBag.Class_of_Locality</label> </p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Type of Road</strong></td>
                        <td height="92">
                            <p><label>  @ViewBag.Road_Finish  </label> </p>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Width of Road </strong></td>
                        <td colspan="2" height="92">
                            @if (ViewBag.Road1 != "")
                            {
                                <label>@ViewBag.Road1</label>
                                @*<textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">@ViewBag.Road1</textarea>*@

                            }
                            @if (ViewBag.Road2 != "")
                            {
                                <label>,@ViewBag.Road2</label>
                                @*<textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">,@ViewBag.Road2</textarea>*@

                            }
                            @if (ViewBag.Road3 != "")
                            {
                                <label>,@ViewBag.Road3</label>
                                @*<textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">,@ViewBag.Road3</textarea>*@

                            }
                            @if (ViewBag.Road4 != "")
                            {
                                <label>,@ViewBag.Road4</label>
                                @*<textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">,@ViewBag.Road4</textarea>*@

                            }


                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Connectivity</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Distance from Local Bus Stand </strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Nearest_BusStop</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Distance from Railway station</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Nearest_RailwayStation</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Distance from Main Market</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Nearest_Market</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top"><strong>Distance from Hospital</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Nearest_Hospital</textarea>
                        </td>
                    </tr>




                </table>
            </td>
        </tr>

        <tr>
            <td valign="top">
                <table style="width:100%;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;margin-bottom:100px;margin-top:160px;" border="1" cellpadding="8" cellspacing="0" bordercolor="#000000">
                    <tr>
                        <td height="30" colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Plot Boundraries (As per Documents)</strong></div></td>
                    </tr>
                    <tr>

                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {


                            <td height="30" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {



                            <td height="30" style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;"> @Model.ival_ProjectBoundaries[idx].AsPer_Document</textarea>
                            </td>



                        }

                    </tr>

                    <tr>
                        <td height="30" colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Boundraries (As per Site Visit)</strong></div></td>
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {


                            <td height="30" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {


                            <td height="30" style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;"> @Model.ival_ProjectBoundaries[idx].AsPer_Site</textarea>
                            </td>




                        }
                    </tr>
                    <tr>
                        <td height="30" colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Setbacks/Margin (in Mt As per document)</strong></div></td>
                    </tr>
                    <tr>

                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td height="30" id="valuesidemargintype" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <p>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</p>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td height="30" id="value21" style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                <p><label>  @Model.ival_ProjectSideMargins[idx].As_per_Local_Bye_Laws
                            </td>




                        }

                    </tr>
                    <tr>
                        <td height="30" colspan="5" bgcolor="#D9650F" style=" font-size:15px;" height="30"><div align="center"><strong>Setbacks/Margin (As per Site Visit in Mt)</strong></div></td>
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td height="30" id="valuesidemargintype" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <p><label>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</label></p>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td height="30" id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td height="30" id="value21" style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">@Model.ival_ProjectSideMargins[idx].As_Actuals</textarea>
                            </td>




                        }
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#D9650F" style=" font-size:15px;"><div align="center"><strong>Storeys</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="5" height="30">@ViewBag.Actual_No_Floors_G</td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                            <div align="center"><strong>Property Details As Per Approval</strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. Fo Hall</div></td>
                        <td style="padding:5px">@ViewBag.NoOfHalls</td>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Bedrooms</div></td>
                        <td colspan="2" style="padding:5px">@ViewBag.NoOfBedroms</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Kitchen</div></td>
                        <td style="padding:5px">@ViewBag.NoOfKitchens</td>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. Of balcony</div></td>
                        <td colspan="2" style="padding:5px">@ViewBag.NoofBalconies</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. Of Toilet</div></td>
                        <td style="padding:5px">@ViewBag.NoofToilets</td>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. Of allowted Parking</div></td>
                        <td colspan="2" style="padding:5px">@ViewBag.NoofParking</td>
                    </tr>

                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Property Valuation (For Open Plot)</strong></div>          <div align="center"></div>          <div align="center"></div>          <div align="center"></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top">Plot Area (In Sq. Ft)</td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Adopted_Plot_area_for_Valuation Sq.ft</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top">Recommended Rate Range Rs. per  Sq. ft</td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Land_Plot_Rate_Range_in_the_Locality Rs./Sq.ft</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top">Rate Considerd for the plot Rs. Per sq. Ft.</td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Adopted_Plot_Land_Rate Rs./Sq.ft</textarea>
                        </td>
                        <td bgcolor="#F8CBAC" valign="top">land value</td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;word-wrap:break-word;">Rs.@ViewBag.Value_of_Plot</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top">Adiitional Plot Area</td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Adopted_Other_Plot_Area_for_Valuation Sq.ft</textarea>

                        </td>
                        <td bgcolor="#F8CBAC" valign="top">Additional Plot rate</td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.Adopted_Other_Plot_Land_Rate Rs./Sq.ft</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top">Additional Plot Value</td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;word-wrap:break-word;">Rs.@ViewBag.Value_of_other_Plot</textarea>

                        </td>
                        <td bgcolor="#F8CBAC" valign="top">Total value of Property</td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;word-wrap:break-word;">Rs.@ViewBag.Total_Land_Plot_Value</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top">In Words (INR)</td>
                        <td colspan="4">
                            <textarea id="w3review" name="w3review" rows="1" cols="100" style=" border:none;max-width:800px;word-wrap:break-word;">@ViewBag.TotalPlotwords</textarea>

                        </td>
                    </tr>

                    <table style="width:100%;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;margin-top:200px;" border="1" cellpadding="8" cellspacing="0" bordercolor="#000000">

                        <tr>
                            <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Stage of Construction</strong></div>          <div align="center"></div>          <div align="center"></div>          <div align="center"></div></td>
                        </tr>
                        <tr>
                            <td bgcolor="#F8CBAC">% Completion</td>
                            <td>
                                <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.PerWorkCompleted %</textarea>

                            </td>
                            <td bgcolor="#F8CBAC">% Recommendation</td>
                            <td colspan="2">
                                <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.PerDisbursement %</textarea>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" bgcolor="#D9650F" style=" font-size:15px;"><div align="center"><strong>Guidline &amp; Distress/Forced Sale Value</strong></div></td>
                        </tr>
                        <tr>
                            <td bgcolor="#F8CBAC">Government Guideline/Circle Rate for Land (Rs per Sq.ft)</td>
                            <td>
                                <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;word-wrap:break-word;">@ViewBag.GovRate Rs./Sq.ft</textarea>

                            </td>
                            <td bgcolor="#F8CBAC">Land Value as per Government Rate (Rs)</td>
                            <td colspan="2">
                                <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;word-wrap:break-word;">Rs.@ViewBag.Government_Value</textarea>

                            </td>
                        </tr>

                    </table>

            </td>
        </tr>
        <tr>
            <td valign="top">
                <table style="width:100%; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;margin-bottom:620px;margin-top:100px;" border="1" cellpadding="10" cellspacing="0" bordercolor="#000000">
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Property Specific Remark and Observation</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Remarks</td>
                        <td colspan="4" valign="top"><textarea id="w3review" name="w3review" rows="14" cols="100" style=" border:none;vertical-align:top;word-wrap:break-word;">@ViewBag.Remarks</textarea></td>

                    </tr>

                    <tr>
                        <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                            <div align="center"><strong>Documents Provided</strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px">Document</td>
                        <td style="padding:5px"><div align="center">Approval No.</div></td>
                        <td style="padding:5px"><div align="center">Date</div></td>
                        <td colspan="2" style="padding:5px"><div align="center">Authority</div></td>
                    </tr>

                    @for (int idx = 0; idx < Model.ival_Document_Uploaded_ListS.Count; idx++)
                    {
                        <tr>

                            <td style="padding:5px;">
                                <strong><label>@Model.ival_Document_Uploaded_ListS[idx].Document_Name </label></strong>
                            </td>
                            <td style="padding:5px;">
                                <label>@Model.ival_Document_Uploaded_ListS[idx].Approval_Number </label>
                            </td>
                            <td style="padding:5px;">
                                <label>@Model.ival_Document_Uploaded_ListS[idx].Date_Of_ApprovalNew</label>
                            </td>
                            <td style="padding:5px;">
                                <label>@Model.ival_Document_Uploaded_ListS[idx].Approval_Authority </label>
                            </td>
                        </tr>
                    }




                </table>

            </td>
        </tr>

        <tr>
            <td valign="top">
                <table style="width:100%;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;margin-bottom:460px;margin-top:30px;" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">

                    <tr>
                        <td colspan="5" height="35" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Location as per Google map </strong></div>          <div align="center"></div>          <div align="center"></div>          <div align="center"></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" valign="top" >Address of the Property</td>
                        <td colspan="4">
                            <textarea id="w3review" name="w3review" rows="3" cols="75" style=" border:none;word-wrap:break-word;">@ViewBag.UnitNumber, @ViewBag.Survey_Number, @ViewBag.Village_Name, @ViewBag.Street, @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.City, @ViewBag.State, @ViewBag.District, @ViewBag.PinCode</textarea>

                        </td>

                    </tr>
                    <tr>
                        <td colspan="5" align="center">
                            <div style="display:inline-block; margin-bottom:50px;margin-top:10px;">
                                <img class="img-responsive" src="~/images/@ViewBag.GoogleMapImage" width="860" height="575">
                            </div>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <div style="page-break-after: always;">
            <tr>
                <td valign="top">
                    <table height="1270" style="width:100%;margin-top:200px;margin-bottom:90px;;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;border-bottom:none;border-bottom-color:white;" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
                        <tr>
                            <td colspan="5" height="50" bgcolor="#d9650f"><div align="center"><strong>Property Photos</strong></div></td>
                        </tr>

                        <tr>
                            <td valign="top">

                                @for (int idx = 0; idx < 6; idx++)
                                {

                                    <div style="display:inline-block; margin-bottom:10px;margin-left:120px;margin-top:10px;">
                                        <div> <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="350" height="300"></div>
                                    </div>

                                    if (idx % 2 == 2)
                                    {
                                        <br />
                                    }


                                }

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </div>
        <tr>
            <td valign="top">
                <table width="100%" border="1" height="1080" cellspacing="0" cellpadding="13" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-top:60px;">



                    <tr>
                        <td colspan="5" bgcolor="#DF5F30" style="padding:2px">
                            <div align="center"><strong>Disclaimer</strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="5" style="padding:5px">
                            1. We have no direct or indirect interest in the property valued.<br />
                            2. The information furnished in the report is true and correct to the best of our knowledge and belief.<br />
                            3. We have relied on the Documents Provided by the Client &amp; We have assumed that clients have verified the same.<br />
                            4.We have not carried out any legal due diligence of the property, any disputes regarding ownership, title, marketability of the property will change the valuation substantially.<br />
                            5. The fair market value indicated in the report is an opinion of the value prevailing on the date of the said report and is based on market feedback on values of similar properties. The fair, market value of such properties/localities may increase or decrease, depending on the market conditions and scenarios.<br />
                            6. This report is valid for 60 days from the date of this report.

                        </td>
                    </tr>
                    <tr>
                        <td width="25%" bgcolor="#F8CAAC" style="padding:5px">Name of Engineer Visited the Site</td>
                        <td width="25%" style="padding:5px">@ViewBag.SiteEngineer</td>
                        <td width="25%" bgcolor="#F8CAAC" style="padding:5px">Authorized Signatory Name &amp; Signature</td>
                        <td width="25%" colspan="2" style="padding:5px">&nbsp;</td>
                    </tr>


                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;padding:5px;">
                            <div align="center"><strong>IGR Photo </strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="5" align="center">
                            <div style="display:inline-block;margin-top:2px;">
                                <img class="img-responsive" src="~/images/@ViewBag.IGRImage" width="600" height="400">
                            </div>
                        </td>
                    </tr>

                </table>

                <input type="text" id="txtId1" class="form-control" value="@ViewBag.RequestId" style=" visibility:hidden;">
                @*<p>@Html.ActionLink("Convert View To PDF", "PrintViewToPdfForHdfc")</p>*@
                <input type="button" id="ConvertPdf" class="no-print" value="Convert to PDF" onclick="location.href='@Url.Action("PrintViewToPdfForHdfc", "Report")?id=' + document.getElementById('txtId1').value" />



    </table>
  
</body>
</html>
