﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
                /**/

                Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <table width="800" align="center" cellpadding="0" cellspacing="0">
        <tr>
            @*<td valign="top"><img src="banner.jpg" width="817" height="185" /></td>*@
            <td style="padding:5px;"></td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" border="1" cellpadding="8" cellspacing="0" bordercolor="#000000" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;margin-bottom:20px;">
                    <tr>
                        <td width="25%" bgcolor="#f8cbac"><strong>Name of the customer </strong></td>
                        <td width="25%">
                            @if (ViewBag.Customer_Name != "")
                            {
                                <label>@ViewBag.Customer_Name</label>
                            }
                            @if (ViewBag.Customer_Name_1 != "")
                            {
                                <label>,@ViewBag.Customer_Name_1</label>
                            }
                            @*<textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;vertical-align:middle;">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</textarea>*@


                        </td>
                        <td width="25%" bgcolor="#f8cbac"><strong>Site visit  Date</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;vertical-align:middle;">@ViewBag.Date_of_Inspection</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#f8cbac"><strong>Customer contact Details</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;vertical-align:middle;">@ViewBag.Customer_Contact_No_1</textarea>


                        </td>
                        <td bgcolor="#f8cbac"><strong>Report release date</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;vertical-align:middle;">@ViewBag.RequestDate</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Application no</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;vertical-align:middle;">@ViewBag.Customer_Application_ID</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Transaction Type</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;vertical-align:middle;">@ViewBag.TransactionType</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Name of the customer </strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;vertical-align:middle;">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Contact No</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Customer_Contact_No_1, @ViewBag.Customer_Contact_No_2</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Person met at site</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Name</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Contact No</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.P_Contact_Num</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Name of document holder</strong></td>
                        <td colspan="4">
                            <textarea id="w3review" name="w3review" rows="3" cols="75" style=" border:none;">@ViewBag.Document_Holder_Name, @ViewBag.Document_Holder_Name_1</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Address</strong></div></td>
                    </tr>
                    <tr>
                        <td height="36" bgcolor="#F8CBAC">As per Legal Documents</td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Address1</textarea>


                        </td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Address2</textarea>


                        </td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Address3</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td height="33" bgcolor="#F8CBAC">As per Legal Documents</td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Address1</textarea>


                        </td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Address2</textarea>


                        </td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Address3</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Location &amp; Property Details (As per site visit)</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Status of Holding</strong></td>
                        <td><div align="center">@ViewBag.StatusOfProperty</div></td>
                        <td bgcolor="#F8CBAC"><strong>Delivery Agency</strong></td>
                        <td colspan="2"><div align="center">I value llp</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Type of Property</strong></td>
                        <td><div align="center">@ViewBag.Property_Type</div></td>
                        <td bgcolor="#F8CBAC"><strong>Name of the State</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.State</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Street on which Property is Located</strong></td>
                        <td><div align="center">@ViewBag.Street</div></td>
                        <td bgcolor="#F8CBAC"><strong>Occupation Status</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.Occupancy_Details</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Main Locality</strong></td>
                        <td><div align="center">@ViewBag.Locality</div></td>
                        <td bgcolor="#F8CBAC"><strong>Sub Locality</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.City</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Pin Code</strong></td>
                        <td><div align="center">@ViewBag.PinCode</div></td>
                        <td bgcolor="#F8CBAC"><strong>Nearest Landmark</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.NearBy_Landmark</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Type of Locality as per Latest DP</strong></td>
                        <td><div align="center">@ViewBag.Type_of_Locality</div></td>
                        <td bgcolor="#F8CBAC"><strong>Property Usage</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.Actual_Usage_Of_Property</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Is property Identifiable</strong></td>
                        <td><div align="center">Yes/No</div></td>
                        <td bgcolor="#F8CBAC"><strong>Is Property Demarcated  Separately</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.Plot_Demarcated_at_site</div></td>
                    </tr>


                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" border="1" cellpadding="8" cellspacing="0" bordercolor="#000000" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;margin-top:100px;margin-bottom:200px;">

                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Identified Through</strong></td>
                        <td><div align="center">@ViewBag.Property_Identified_PName</div></td>
                        <td bgcolor="#F8CBAC"><strong>Name of city/Town</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.City</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Roof Construction</strong></td>
                        <td><div align="center">@ViewBag.Roofing_Terracing</div></td>
                        <td bgcolor="#F8CBAC"><strong>Type of Structure</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.Type_Of_Structure</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>No. of floors in the building</strong></td>
                        <td><div align="center">@ViewBag.Approved_No_of_Floors</div></td>
                        <td bgcolor="#F8CBAC"><strong>Located on floor no.</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.Floor_Of_Unit</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Units in Building</strong></td>
                        <td><div align="center">No of flats &amp;Shops</div></td>
                        <td bgcolor="#F8CBAC"><strong>Quality of Construction</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.Quality_Of_Construction</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>External Finish</strong></td>
                        <td><div align="center">@ViewBag.Rough_Plaster, @ViewBag.Tiling</div></td>
                        <td bgcolor="#F8CBAC"><strong>Type of  Flooring</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.Type_of_Flooring</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Age of Property </strong></td>
                        <td><div align="center">@ViewBag.Current_Age_Of_Property</div></td>
                        <td bgcolor="#F8CBAC"><strong>Life of Property (in future)</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.Residual_Age_Of_Property</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Latitude</strong></td>
                        <td><div align="center">@ViewBag.Cord_Latitude1</div></td>
                        <td bgcolor="#F8CBAC"><strong>Longitude</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.Cord_Longitude1</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">
                            <strong>
                                Extra Amenities Available
                            </strong>
                            <div align="center"></div>          <div align="center"></div>
                        </td>
                        <td colspan="4">@ViewBag.Facilities</td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Zone/Location/Surrounding/Civic Amenities</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Infrastructure in the Surrounding</strong></td>
                        <td><div align="center">@ViewBag.BasicInfra</div></td>
                        <td bgcolor="#F8CBAC"><strong>Class of Locality</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.Class_of_Locality</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Type of Road</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Road_Finish</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Width of Road </strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.WidthOfRoad</textarea>

                           
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Connectivity</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Distance from Local Bus Stand </strong></td>
                        <td><div align="center">@ViewBag.Nearest_BusStop</div></td>
                        <td bgcolor="#F8CBAC"><strong>Distance from Railway station</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.Nearest_RailwayStation</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Distance from Main Market</strong></td>
                        <td><div align="center">@ViewBag.Nearest_Market</div></td>
                        <td bgcolor="#F8CBAC"><strong>Distance from Hospital</strong></td>
                        <td colspan="2"><div align="center">@ViewBag.Nearest_Hospital</div></td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Plot Boundraries (As per Documents)</strong></div></td>
                    </tr>
                    <tr>
                        @*<td bgcolor="#F8CBAC"><div align="center"><strong>North </strong></div></td>
                        <td bgcolor="#F8CBAC"><div align="center"><strong>South</strong></div></td>
                        <td bgcolor="#F8CBAC"><div align="center"><strong>East</strong></div></td>
                        <td colspan="2" bgcolor="#F8CBAC"><div align="center"><strong>West</strong></div></td>*@
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {


                            <td style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {



                            <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                <div align="center"> <label>@Model.ival_ProjectBoundaries[idx].AsPer_Document </label></div>
                            </td>



                        }
                        @*<td><div align="center">four boundaries</div></td>
                        <td><div align="center">four boundaries</div></td>
                        <td><div align="center">four boundaries</div></td>
                        <td colspan="2"><div align="center">four boundaries</div></td>*@
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Boundraries (As per Site Visit)</strong></div></td>
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {


                            <td style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                            </td>




                        }
                    </tr>@*Property Valuation*@
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {


                            <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                <div align="center"> @Model.ival_ProjectBoundaries[idx].AsPer_Site </div>
                            </td>




                        }
                    </tr>


                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" border="1" cellpadding="8" cellspacing="0" bordercolor="#000000" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;margin-top:100px;margin-bottom:80px;">
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Setbacks/Margin (in Mt As per document)</strong></div></td>
                    </tr>
                    <tr>

                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td id="valuesidemargintype" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <p><label>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</label></p>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td id="value21" style="border-bottom:1px solid #000000;border-right:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].As_per_Local_Bye_Laws</label></td>




                        }
                        @*<td><div align="center">side margin</div></td>
            <td><div align="center">side margin</div></td>
            <td><div align="center">side margin</div></td>
            <td colspan="2"><div align="center">side margins</div></td>*@
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#D9650F" style=" font-size:15px;"><div align="center"><strong>Setbacks/Margin (As per Site Visit in Mt)</strong></div></td>
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td id="valuesidemargintype" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <p><label>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</label></p>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td id="value21" style="border-bottom:1px solid #000000;border-right:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].As_Actuals</label></td>




                        }
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#D9650F" style=" font-size:15px;"><div align="center"><strong>Storeys</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="5">@ViewBag.Approved_No_of_Floors</td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                            <div align="center"><strong>Property Details As Per Approval</strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. Fo Hall</div></td>
                        <td style="padding:5px">@ViewBag.NoOfHalls</td>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Bedrooms</div></td>
                        <td colspan="2" style="padding:5px">@ViewBag.NoOfBedroms</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Kitchen</div></td>
                        <td style="padding:5px">@ViewBag.NoOfKitchens</td>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. Of balcony</div></td>
                        <td colspan="2" style="padding:5px">@ViewBag.NoofBalconies</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. Of Toilet</div></td>
                        <td style="padding:5px">@ViewBag.NoofToilets</td>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. Of allowted Parking</div></td>
                        <td colspan="2" style="padding:5px">@ViewBag.NoofParking</td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Property Valuation (For Open Plot)</strong></div>          <div align="center"></div>          <div align="center"></div>          <div align="center"></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Plot Area (In Sq. Ft)</td>
                        <td><div align="center">@ViewBag.Adopted_Plot_area_for_Valuation Sq.Ft</div></td>
                        <td bgcolor="#F8CBAC">Recommended Rate Range Rs. per  Sq. ft</td>
                        <td colspan="2"><div align="center">@ViewBag.Land_Plot_Rate_Range_in_the_Locality Rs./Sq.Ft</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Rate Considerd for the plot Rs. Per sq. Ft.</td>
                        <td><div align="center">@ViewBag.Adopted_Plot_Land_Rate Rs./Sq.Ft</div></td>
                        <td bgcolor="#F8CBAC">land value</td>
                        <td colspan="2"><div align="center">Rs.@ViewBag.Value_of_Plot</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Adiitional Plot Area</td>
                        <td><div align="center">@ViewBag.Adopted_Other_Plot_Area_for_Valuation Sq.Ft</div></td>
                        <td bgcolor="#F8CBAC">Additional Plot rate</td>
                        <td colspan="2"><div align="center">@ViewBag.Adopted_Other_Plot_Land_Rate Rs./Sq.Ft</div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Additional Plot Value</td>
                        <td><div align="center">Rs.@ViewBag.Value_of_other_Plot</div></td>
                        <td bgcolor="#F8CBAC">Total value of Property</td>
                        <td colspan="2"><div align="center"><strong>Rs.@ViewBag.Total_Land_Plot_Value</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">In Words (INR)</td>
                        <td colspan="4">@ViewBag.TotalPlotwords</td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Stage of Construction</strong></div>          <div align="center"></div>          <div align="center"></div>          <div align="center"></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">% Completion</td>
                        <td><div align="center">@ViewBag.PerWorkCompleted %</div></td>
                        <td bgcolor="#F8CBAC">% Recommendation</td>
                        <td colspan="2"><div align="center">@ViewBag.PerDisbursement %</div></td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#D9650F" style=" font-size:15px;"><div align="center"><strong>Guidline &amp; Distress/Forced Sale Value</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Government Guideline/Circle Rate for Land (Rs per Sq.ft)</td>
                        <td>@ViewBag.GovRate Rs./Sq.Ft</td>
                        <td bgcolor="#F8CBAC">Land Value as per Government Rate (Rs)</td>
                        <td colspan="2"><div align="center">Rs.@ViewBag.Government_Value</div></td>
                    </tr>

                </table>
                </td>
            </tr>
                    <tr>
                        <td valign="top">
                            <table style="width:100%;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-bottom:100px;margin-top:250px;margin-bottom:600px;" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">

                                <tr>
                                    <td colspan="5" height="30" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Property Specific Remark and Observation</strong></div></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CBAC">Remarks</td>
                                    <td colspan="4" valign="top">
                                        <textarea id="w3review" name="w3review" rows="20" cols="70" style=" border:none;vertical-align:top;">@ViewBag.Remarks</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Documents Provided</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Document</td>
                                    <td style="padding:5px"><div align="center">Approval No.</div></td>
                                    <td style="padding:5px"><div align="center">Date</div></td>
                                    <td colspan="2" style="padding:5px"><div align="center">Authority</div></td>
                                </tr>

                                @for (int idx = 0; idx < Model.ival_Document_Uploaded_ListS.Count; idx++)
                                {
                                    <tr>

                                        <td style="padding:5px;">
                                            <strong><label>@Model.ival_Document_Uploaded_ListS[idx].Document_Name </label></strong>
                                        </td>
                                        <td style="padding:5px;">
                                            <label>@Model.ival_Document_Uploaded_ListS[idx].Approval_Number </label>
                                        </td>
                                        <td style="padding:5px;">
                                            <label>@Model.ival_Document_Uploaded_ListS[idx].Date_Of_ApprovalNew </label>
                                        </td>
                                        <td style="padding:5px;">
                                            <label>@Model.ival_Document_Uploaded_ListS[idx].Approval_Authority </label>
                                        </td>
                                    </tr>
                                }

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="10" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-top:30px;margin-bottom:100px;">

                                <tr>
                                    <td valign="top">
                                        <table width="100%" border="1" cellpadding="5" cellspacing="0">

                                            <tr>
                                                <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;padding:5px;">
                                                    <div align="center"><strong>Location as per Google map </strong></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td bgcolor="#F8CBAC">Address of the Property</td>
                                                <td colspan="4">@ViewBag.UnitNumber, @ViewBag.Survey_Number, @ViewBag.Village_Name, @ViewBag.Street, @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode</td>

                                            </tr>
                                            <tr>
                                                <td colspan="5" align="center" style="padding:20px;">
                                                    <div style="display:inline-block; margin-bottom:100px;margin-top:10px;">
                                                        <img class="img-responsive" src="~/images/@ViewBag.GoogleMapImage" width="660" height="475">
                                                    </div>
                                                </td>
                                            </tr>


                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <table style="width:1000px;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;margin-bottom:80px;margin-top:10px;" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">

                                <tr>
                                    <td colspan="5" height="30" bgcolor="#d9650f"><div align="center"><strong>Property Photos</strong></div></td>
                                </tr>
                                <tr>
                                    <td colspan="4" valign="top" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0;  color:#000000;">
                                        @*<table style="width:1000px;height:50px; " cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">*@
                                <tr>
                                    <td valign="top">
                                        @*<div style="display: inline-block;padding-left:117px;">*@
                                        @for (int idx = 0; idx < Model.Image_Uploaded_List.Count; idx++)
                                        {



                                            <div style="display: inline-block; margin-bottom:50px;padding-left:100px;margin-top:10px;">
                                                <div> <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="350" height="300"></div>
                                            </div>

                                            if (idx % 2 == 2)
                                            {
                                                <br />
                                            }


                                        }
                                        @*</div>*@
                                    </td>
                                </tr>
                            </table>
                            @*</table>*@
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <table width="100%" cellspacing="0" cellpadding="10" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-top:20px;">
                                <tr>
                                    <td>
                                        <table width="100%" border="1" cellpadding="5" cellspacing="0">




                                            <tr>
                                                <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                                    <div align="center"><strong>Disclaimer</strong></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" style="padding:5px">
                                                    1. We have no direct or indirect interest in the property valued.<br />
                                                    2. The information furnished in the report is true and correct to the best of our knowledge and belief.<br />
                                                    3. We have relied on the Documents Provided by the Client &amp; We have assumed that clients have verified the same.<br />
                                                    4.We have not carried out any legal due diligence of the property, any disputes regarding ownership, title, marketability of the property will change the valuation substantially.<br />
                                                    5. The fair market value indicated in the report is an opinion of the value prevailing on the date of the said report and is based on market feedback on values of similar properties. The fair, market value of such properties/localities may increase or decrease, depending on the market conditions and scenarios.<br />
                                                    6. This report is valid for 60 days from the date of this report.<br /><br />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="30%" bgcolor="#F8CAAC" style="padding:5px">Name of Engineer Visited the Site</td>
                                                <td width="30%" style="padding:5px">@ViewBag.SiteEngineer</td>
                                                <td width="30%" bgcolor="#F8CAAC" style="padding:5px">Authorized Signatory Name &amp; Signature</td>
                                                <td width="30%" style="padding:5px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;padding:5px;">
                                                    <div align="center"><strong>IGR Photo </strong></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                    <div align="center"></div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="5" align="center">
                                                    <div style="display:inline-block; margin-bottom:10px;margin-top:10px;">
                                                        <img class="img-responsive" src="~/images/@ViewBag.IGRImage" width="550" height="350">
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <input type="text" id="txtId1" class="form-control" value="@ViewBag.RequestId" style=" visibility:hidden;">
    @*<p>@Html.ActionLink("Convert View To PDF", "PrintViewToPdfForHdfc")</p>*@
    <input type="button" id="ConvertPdf" class="no-print" value="Convert to PDF" onclick="location.href='@Url.Action("PrintViewToPdfForHdfc", "Report")?id=' + document.getElementById('txtId1').value" />
</body>
</html>
