﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
       
    </style>
    
</head>
<body>
    <table width="1000" align="center" cellpadding="0" cellspacing="0">
        <tr>
            @*<td valign="top"><img src="banner.jpg" width="817" height="185" /></td>*@
            <td style="padding:5px;"></td>
        </tr>

        <tr>
            <td valign="top">
                <table width="100%" border="1" cellpadding="7" cellspacing="0" bordercolor="#000000" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px; margin-bottom:50px;margin-top:10px;">
                    <tr>
                        <td width="25%" valign="top" bgcolor="#f8cbac"><strong>Name of the customer </strong></td>
                        <td width="25%">
                            @if (ViewBag.Customer_Name != "")
                            {
                                <label>@ViewBag.Customer_Name</label>
                            }
                            @if (ViewBag.Customer_Name_1 != "")
                            {
                                <label>,@ViewBag.Customer_Name_1</label>
                            }
                            @*<textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</textarea>*@

                        </td>
                        <td width="25%" bgcolor="#f8cbac"><strong>Site visit  Date</strong></td>

                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Date_of_Inspection</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#f8cbac"><strong>Customer contact Details</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Customer_Contact_No_1</textarea>


                        </td>
                        <td bgcolor="#f8cbac"><strong>Report release date</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.RequestDate</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Application no</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Customer_Application_ID</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Transaction Type</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.TransactionType</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Name of the customer </strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Contact No</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Customer_Contact_No_1, @ViewBag.Customer_Contact_No_2</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Person met at site</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Name</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Contact No</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.P_Contact_Num</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Name of document holder</strong></td>
                        <td colspan="4">
                            <textarea id="w3review" name="w3review" rows="3" cols="75" style=" border:none;">@ViewBag.Document_Holder_Name, @ViewBag.Document_Holder_Name_1</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Address</strong></div></td>
                    </tr>
                    <tr>
                        <td height="36" bgcolor="#F8CBAC">As per Legal Documents</td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Address1</textarea>


                        </td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.address2</textarea>


                        </td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.address3</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td height="33" bgcolor="#F8CBAC">As per Actual at Site</td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Address1</textarea>


                        </td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.address2</textarea>


                        </td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.address3</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Location &amp; Property Details (As per site visit)</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Status of Holding</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.StatusOfProperty</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Delivery Agency</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">I value llp</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Type of Property</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Property_Type</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Name of the State</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.State</textarea>


                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Street on which Property is Located</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Street</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Occupation Status</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Occupancy_Details</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Main Locality</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Locality</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Sub Locality</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.City</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Pin Code</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.PinCode</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Nearest Landmark</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.NearBy_Landmark</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Type of Locality as per Latest DP</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Type_of_Locality</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Property Usage</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Actual_Usage_Of_Property</textarea>


                        </td>
                    </tr>


                </table>


            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" border="1" cellpadding="5" cellspacing="0" bordercolor="#000000" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;margin-top:50px;margin-bottom:120px;">
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Is property Identifiable</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">Yes/No</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Is Property Demarcated  Separately</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Plot_Demarcated_at_site</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Identified Through</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Property_Identified_PName</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Name of city/Town</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.City</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Roof Construction</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Roofing_Terracing</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Type of Structure</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Type_Of_Structure</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>No. of floors in the building</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Approved_No_of_Floors</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Located on floor no.</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Floor_Of_Unit</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Units in Building</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">No of flats & Shops</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Quality of Construction</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Quality_Of_Construction</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>External Finish</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="3" cols="25" style=" border:none;">@ViewBag.Rough_Plaster, @ViewBag.Tiling</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Type of  Flooring</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="3" cols="25" style=" border:none;">@ViewBag.Type_of_Flooring</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Age of Property </strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Current_Age_Of_Property</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Life of Property (in future)</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Residual_Age_Of_Property</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Latitude</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Cord_Latitude1</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Longitude</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Cord_Longitude1</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">
                            <strong>
                                Extra Amenities Available
                            </strong>
                            <div align="center"></div>          <div align="center"></div>
                        </td>
                        <td colspan="4">
                            <textarea id="w3review" name="w3review" rows="3" cols="75" style=" border:none;">@ViewBag.Facilities</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Zone/Location/Surrounding/Civic Amenities</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Infrastructure in the Surrounding</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.BasicInfra</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Class of Locality</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Class_of_Locality</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC" ><strong>Type of Road</strong></td>
                        <td>
                           
                            <textarea id="w3review" name="w3review" rows="5" cols="25" style=" border:none;">@ViewBag.Road_Finish</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Width of Road </strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="5" cols="25" style=" border:none;">@ViewBag.WidthOfRoad</textarea>

                            
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Connectivity</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Distance from Local Bus Stand </strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Nearest_BusStop</textarea>

                        </td>
                        <td bgcolor="#F8CBAC"><strong>Distance from Railway station</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">@ViewBag.Nearest_RailwayStation</textarea>

                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC"><strong>Distance from Main Market</strong></td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="3" cols="25" style=" border:none;">@ViewBag.Nearest_Market</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"><strong>Distance from Hospital</strong></td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="3" cols="25" style=" border:none;">@ViewBag.Nearest_Hospital</textarea>


                        </td>
                    </tr>
                   



                </table>
            </td>
        </tr>

        <tr>
            <td valign="top">
                <table style="width:100%;margin-top:80px;margin-bottom:50px;font-size:18px" border="1" cellpadding="5" cellspacing="0" bordercolor="#000000">
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Plot Boundraries (As per Documents)</strong></div></td>
                    </tr>
                    <tr>

                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {


                            <td style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {



                            <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@Model.ival_ProjectBoundaries[idx].AsPer_Document</textarea>


                            </td>



                        }

                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Boundraries (As per Site Visit)</strong></div></td>
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {


                            <td style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                        {


                            <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@Model.ival_ProjectBoundaries[idx].AsPer_Site</textarea>


                            </td>




                        }
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Setbacks/Margin (in Mt As per document)</strong></div></td>
                    </tr>
                    <tr>

                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td id="valuesidemargintype" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <p><label>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</label></p>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td id="value21" style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@Model.ival_ProjectSideMargins[idx].As_per_Local_Bye_Laws</textarea>


                            </td>




                        }

                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#D9650F" style=" font-size:15px;"><div align="center"><strong>Setbacks/Margin (As per Site Visit in Mt)</strong></div></td>
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td id="valuesidemargintype" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                <p><label>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</label></p>
                            </td>




                        }
                    </tr>
                    <tr>
                        @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                        {

                            <td id="value26" style="display:none">
                                <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                            </td>
                            <td id="value21" style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@Model.ival_ProjectSideMargins[idx].As_Actuals</textarea>

                            </td>
                            
                        }
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#D9650F" style=" font-size:15px;"><div align="center"><strong>Storeys</strong></div></td>
                    </tr>
                    <tr>
                        <td colspan="5"><div align="center">@ViewBag.Approved_No_of_Floors </div></td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                            <div align="center"><strong>Property Details As Per Approval</strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. Fo Hall</div></td>
                        <td style="padding:5px">@ViewBag.NoOfHalls</td>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Bedrooms</div></td>
                        <td colspan="2" style="padding:5px">@ViewBag.NoOfBedroms</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Kitchen</div></td>
                        <td style="padding:5px">@ViewBag.NoOfKitchens</td>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. Of balcony</div></td>
                        <td colspan="2" style="padding:5px">@ViewBag.NoofBalconies</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. Of Toilet</div></td>
                        <td style="padding:5px">@ViewBag.NoofToilets</td>
                        <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. Of allowted Parking</div></td>
                        <td colspan="2" style="padding:5px">@ViewBag.NoofParking</td>
                    </tr>


                    <tr>
                        <td colspan="5">
                            <table width="100%" border="1" cellpadding="6" cellspacing="0" bordercolor="#000000" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;">
                                <tr>
                                    <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Area and accommodation Details (Sq.ft) (for flat , shop, office, industrial gala)</strong></div></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CBAC"><div align="center">Measured Carpet Area (Sq. ft) </div></td>
                                    <td bgcolor="#F8CBAC"><div align="center">Loading % on Carpet area</div></td>
                                    <td bgcolor="#F8CBAC"><div align="center">Measured BUA Sq. ft.</div></td>
                                    <td width="13%" bgcolor="#F8CBAC"><div align="center">Approved Carpet Area</div></td>
                                    <td width="12%" bgcolor="#F8CBAC"><div align="center">Approved Saleable area</div></td>
                                </tr>
                                <tr>
                                    <td><div align="center">@ViewBag.MeasuredCarpetArea Sq.ft</div></td>
                                    <td><div align="center">@ViewBag.LoadingPer %</div></td>
                                    <td><div align="center">@ViewBag.MeasuredSaleableArea Sq.ft</div></td>
                                    <td><div align="center">@ViewBag.ApprovedcarpetArea Sq.ft</div></td>
                                    <td><div align="center">@ViewBag.ApprovedSaleableArea Sq.ft</div></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Property Valuation (For Flat or Shop)</strong></div></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Adopted Saleable area</td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Adopted_Area_for_Valuation Sq.ft</textarea>


                        </td>
                        <td bgcolor="#F8CBAC">Recommended Rate Range Rs. per  Sq. ft</td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Rate_Range_for_similar_Properties_in_the_locality Rs./Sq.ft</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Rate Considerd Rs. Per sq. Ft.</td>
                        <td>
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.Adopted_Rate_for_the_Unit Rs./Sq.ft</textarea>


                        </td>
                        <td bgcolor="#F8CBAC"> Current Value of Property </td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">Rs.@ViewBag.Total_Value_of_Property</textarea>


                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#F8CBAC">Parking Area</td>
                        <td>&nbsp;</td>
                        <td bgcolor="#F8CBAC">Rate Considerd for the Parking</td>
                        <td colspan="2">
                            <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">Rs.@ViewBag.Any_Other_Charges</textarea>


                        </td>
                    </tr>
                   

                </table>
                @*</table>*@
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" cellspacing="0" cellpadding="12" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; margin-top:50px; margin-bottom:190px;">

                    <tr>
                        <td valign="top">
                            <table width="100%" border="1" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td bgcolor="#F8CBAC">Parking  Value (Rs)</td>
                                    <td>
                                        <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">&nbsp;</textarea>


                                    </td>
                                    <td bgcolor="#F8CBAC">Total Value of property (in Rs)</td>
                                    <td colspan="2">
                                        <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;">Rs.@ViewBag.Current_Value_of_Property</textarea>

                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CBAC">In Words (INR)</td>
                                    <td colspan="4">
                                        <textarea id="w3review" name="w3review" rows="2" cols="75" style=" border:none;">@ViewBag.TotalFlatwords</textarea>


                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;">
                                        <div align="center"><strong>Stage of Construction</strong></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CBAC">% Completion</td>
                                    <td>
                                        <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.PerWorkCompleted %</textarea>


                                    </td>
                                    <td bgcolor="#F8CBAC">% Recommendation</td>
                                    <td colspan="2">
                                        <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.PerDisbursement %</textarea>


                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#D9650F" style=" font-size:15px;"><div align="center"><strong>Guidline &amp; Distress/Forced Sale Value</strong></div></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CBAC">Government Guideline/Circle Rate for Land (Rs per Sq.ft)</td>
                                    <td>
                                        <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">@ViewBag.GovRate Rs./Sq.ft</textarea>

                                    </td>
                                    <td bgcolor="#F8CBAC">Land Value as per Government Rate (Rs)</td>
                                    <td colspan="2">
                                        <textarea id="w3review" name="w3review" rows="2" cols="25" style=" border:none;">Rs.@ViewBag.Government_Value</textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;"><div align="center"><strong>Property Specific Remark and Observation</strong></div></td>
                                </tr>
                                <tr>
                                    <td colspan="5" valign="top">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="1">
                                            <tr>
                                                <td width="50%" bgcolor="#F8CBAC">Remarks</td>
                                                <td width="50%" valign="top"><textarea id="w3review" name="w3review" rows="15" cols="100" style=" border:none;vertical-align:top;">@ViewBag.Remarks</textarea></td>

                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Documents Provided</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding:5px">Document</td>
                                    <td style="padding:5px"><div align="center">Approval No.</div></td>
                                    <td style="padding:5px"><div align="center">Date</div></td>
                                    <td colspan="2" style="padding:5px"><div align="center">Authority</div></td>
                                </tr>

                                @for (int idx = 0; idx < Model.ival_Document_Uploaded_ListS.Count; idx++)
                                {
                                    <tr>

                                        <td style="padding:5px;">
                                            <strong><label>@Model.ival_Document_Uploaded_ListS[idx].Document_Name </label></strong>
                                        </td>
                                        <td style="padding:5px;">
                                            <label>@Model.ival_Document_Uploaded_ListS[idx].Approval_Number </label>
                                        </td>
                                        <td style="padding:5px;">
                                            <label>@Model.ival_Document_Uploaded_ListS[idx].Date_Of_ApprovalNew </label>
                                        </td>
                                        <td style="padding:5px;">
                                            <label>@Model.ival_Document_Uploaded_ListS[idx].Approval_Authority </label>
                                        </td>
                                    </tr>
                                }



                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" cellspacing="0" cellpadding="10" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; margin-top:30px;margin-bottom:50px;">

                    <tr>
                        <td valign="top">
                            <table width="100%" border="1" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td colspan="5" bgcolor="#d9650f" style=" font-size:18px;padding:5px;">
                                        <div align="center"><strong>Location as per Google map </strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CBAC">Address of the Property</td>
                                    <td colspan="4">
                                        <textarea id="w3review" name="w3review" rows="3" cols="75" style=" border:none;">@ViewBag.UnitNumber, @ViewBag.Village_Name, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode</textarea>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="5" align="center">
                                        <div style="display:inline-block; margin-bottom:200px;margin-top:10px;">
                                            <img class="img-responsive" src="~/images/@ViewBag.GoogleMapImage" width="660" height="475">
                                        </div>
                                    </td>
                                </tr>




                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" border="1" cellspacing="0" cellpadding="0" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px; margin-top:450px;margin-bottom:200px;">

                    <tr>
                        <td colspan="5" height="90" bgcolor="#d9650f"><div align="center"><strong>Property Photos</strong></div></td>
                    </tr>

                    <tr>
                        <td valign="top">

                            @*<div style="display: inline-block;padding-left:117px;">*@
                            @for (int idx = 0; idx < Model.Image_Uploaded_List.Count; idx++)
                            {

                                <div style="display:inline-block; margin-bottom:10px;margin-left:120px;">
                                    <div> <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="350" height="300"></div>
                                </div>

                                if (idx % 2 == 2)
                                {
                                    <br />
                                }


                            }
                            @*</div>*@
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" border="1" cellspacing="0" cellpadding="13" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-top:50px;">



                    <tr>
                        <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                            <div align="center"><strong>Disclaimer</strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="padding:5px">
                            1. We have no direct or indirect interest in the property valued.<br />
                            2. The information furnished in the report is true and correct to the best of our knowledge and belief.<br />
                            3. We have relied on the Documents Provided by the Client &amp; We have assumed that clients have verified the same.<br />
                            4.We have not carried out any legal due diligence of the property, any disputes regarding ownership, title, marketability of the property will change the valuation substantially.<br />
                            5. The fair market value indicated in the report is an opinion of the value prevailing on the date of the said report and is based on market feedback on values of similar properties. The fair, market value of such properties/localities may increase or decrease, depending on the market conditions and scenarios.<br />
                            6. This report is valid for 60 days from the date of this report.

                        </td>
                    </tr>
                    <tr>
                        <td width="25%" bgcolor="#F8CAAC" style="padding:5px">Name of Engineer Visited the Site</td>
                        <td width="25%" style="padding:5px">@ViewBag.SiteEngineer</td>
                        <td width="25%" bgcolor="#F8CAAC" style="padding:5px">Authorized Signatory Name &amp; Signature</td>
                        <td width="25%" colspan="2" style="padding:5px">&nbsp;</td>
                    </tr>

                    <tr>
                        <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;padding:5px;">
                            <div align="center"><strong>IGR Photo </strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="5" align="center">
                            <div style="display:inline-block; margin-bottom:10px;margin-top:10px;">
                                <img class="img-responsive" src="~/images/@ViewBag.IGRImage" width="600" height="400">
                            </div>
                        </td>
                    </tr>

                </table>

                <input type="text" id="txtId1" class="form-control" value="@ViewBag.RequestId" style=" visibility:hidden;">
                @*<p>@Html.ActionLink("Convert View To PDF", "PrintViewToPdfForHdfc")</p>*@
                <input type="button" id="ConvertPdf" class="no-print" value="Convert to PDF" onclick="location.href='@Url.Action("PrintViewToPdfForHdfc", "Report")?id=' + document.getElementById('txtId1').value" />





</table>

                <input type="text" id="txtId1" class="form-control" value="@ViewBag.RequestId" style=" visibility:hidden;">
                @*<p>@Html.ActionLink("Convert View To PDF", "PrintViewToPdfForHdfc")</p>*@
                <input type="button" id="ConvertPdf" class="no-print" value="Convert to PDF" onclick="location.href='@Url.Action("PrintViewToPdfForHdfc", "Report")?id=' + document.getElementById('txtId1').value" />
</body>
</html>
