﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <table width="800" border="0" align="center" cellpadding="3" cellspacing="0" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:16px;">
        <tr>
            <td>
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <div align="center">
                                <p align="center"><strong>TECHNICAL APPRAISAL REPORT</strong></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="98%" border="0" align="center" cellpadding="5" cellspacing="0">
                                <tr>
                                    <td width="10%" height="28"><p><strong><u>Ref No:</u></strong></p></td>
                                    <td width="59%">&nbsp;</td>
                                    <td width="9%"><div align="right"><strong>Date:</strong></div></td>
                                    <td width="22%">@ViewBag.RequestDate</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" align="center" cellpadding="5" cellspacing="0" border="1">
                                <tr>
                                    <td colspan="2"><strong>Branch  Name: </strong></td>
                                    <td width="24%">@ViewBag.BranchName</td>
                                    <td width="19%"><strong>Type  of Case</strong></td>
                                    <td width="20%">@ViewBag.TransactionType</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Valuer  Name:</strong></td>
                                    <td>I value advisory LLp</td>
                                    <td><strong>Date  of Visit: </strong></td>
                                    <td>@ViewBag.Date_of_Inspection</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Case  Ref. No.</strong></td>
                                    <td colspan="3">@ViewBag.Customer_Application_ID</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <strong>
                                            Contacted  Person for
                                            property inspection
                                        </strong>
                                    </td>
                                    <td colspan="3">@ViewBag.Name, @ViewBag.P_Contact_Num</td>
                                </tr>
                                <tr>
                                    <td width="4%">&nbsp;</td>
                                    <td width="33%"><strong>BASIC DETAILS</strong></td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td><strong>Applicant/s Name/s </strong></td>
                                    <td colspan="3">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><strong>Type of property</strong></td>
                                    <td>@ViewBag.Property_Type</td>
                                    <td><strong>Current Usage</strong></td>
                                    <td>@ViewBag.Actual_Usage_Of_Property</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">3</td>
                                    <td><strong>Address at site</strong></td>
                                    <td colspan="3">@ViewBag.Bunglow_Number, @ViewBag.Street, @ViewBag.Locality, @ViewBag.Village_Name, @ViewBag.District, @ViewBag.State, @ViewBag.City, @ViewBag.PinCode</td>
                                </tr>
                                <tr>
                                    <td><strong>Address as per document</strong></td>
                                    <td colspan="3">@ViewBag.Bunglow_Number, @ViewBag.Street, @ViewBag.Locality, @ViewBag.Village_Name, @ViewBag.District, @ViewBag.State, @ViewBag.City, @ViewBag.PinCode</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td colspan="3"><strong>Has the valuator done valuation of this property  before this? If yes, when, for whom?</strong></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="12"><strong>SOUROUNDING &amp; LOCALITY DETAILS</strong></td>
                                </tr>
                                <tr>
                                    <td width="4%" rowspan="6" valign="top">5</td>
                                    <td width="25%" rowspan="6" valign="top"><strong>Location</strong></td>
                                    <td width="39%">Approved Usage of Property</td>
                                    <td width="32%" colspan="9">@ViewBag.Approved_Usage_Of_Property</td>
                                </tr>
                                <tr>
                                    <td>Class of Locality</td>
                                    <td colspan="9">@ViewBag.Class_of_Locality</td>
                                </tr>
                                <tr>
                                    <td>Site is (Dev, Under Dev)</td>
                                    <td colspan="9">@ViewBag.StageOfConstruction</td>
                                </tr>
                                <tr>
                                    <td>Proximity to civic amenities/public transport</td>
                                    <td colspan="9">@ViewBag.LocalTransport</td>
                                </tr>
                                <tr>
                                    <td>Railway Station</td>
                                    <td colspan="9">@ViewBag.Nearest_RailwayStation</td>
                                </tr>
                                <tr>
                                    <td>Bust Stop</td>
                                    <td colspan="9">@ViewBag.Nearest_BusStop</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td><strong>Close Vicinity/Landmark</strong></td>
                                    <td colspan="10">@ViewBag.NearBy_Landmark</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td><strong>Distance from City Centre</strong></td>
                                    <td colspan="10">@ViewBag.DistFrom_City_Center</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td><strong>Condition and width of approach Road</strong></td>
                                    <td colspan="10">@ViewBag.Road1, @ViewBag.Road2, @ViewBag.Road3, @ViewBag.Road4</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    @*<tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="100%" align="center" cellpadding="5" cellspacing="0" border="1">

                </table>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>*@
                    <tr>
                        <td>
                            <table width="100%" align="center" cellpadding="3" cellspacing="0" border="1">
                                <tr>
                                    <td colspan="6"><strong>PROPERTY DETAILS</strong></td>
                                </tr>
                                <tr>
                                    <td width="4%" rowspan="3" valign="top">9</td>
                                    <td width="12%" rowspan="3" valign="top"><strong>Occupant</strong></td>
                                    <td width="31%">Vacant/Occupied</td>
                                    <td colspan="3">@ViewBag.Occupancy_Details</td>
                                </tr>
                                <tr>
                                    <td>Name of Occupant</td>
                                    <td colspan="3">@ViewBag.Name_Of_Occupant</td>
                                </tr>
                                <tr>
                                    <td>Relation with applicant</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td rowspan="8" valign="top">10</td>
                                    <td rowspan="8" valign="top"><strong>Building details</strong></td>
                                    <td>Property Demarcation</td>
                                    <td colspan="3">@ViewBag.Plot_Demarcated_at_site</td>
                                </tr>
                                <tr>
                                    <td>Property Identified through</td>
                                    <td colspan="3">@ViewBag.Property_Identified_PName</td>
                                </tr>
                                <tr>
                                    <td>Type of structure</td>
                                    <td colspan="3">@ViewBag.Type_Of_Structure</td>
                                </tr>
                                <tr>
                                    <td>Land/Plot Area</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>No of Blocks/Wings</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>No of Units per floor</td>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>No. of Floors</td>
                                    <td colspan="3">@ViewBag.Approved_No_of_Floors</td>
                                </tr>
                                <tr>
                                    <td>No. of Lifts in each wing</td>
                                    <td colspan="3">@ViewBag.No_Of_Lifts</td>
                                </tr>
                                <tr>
                                    <td rowspan="3" valign="top">11</td>
                                    <td rowspan="3" valign="top"><strong>Unit details</strong></td>
                                    <td>Located on Floor No.</td>
                                    <td colspan="3">@ViewBag.Floor_Of_Unit</td>
                                </tr>
                                <tr>
                                    <td>No. of rooms</td>
                                    <td colspan="3">@ViewBag.NoOfBedroms</td>
                                </tr>
                                <tr>
                                    <td>Carpet Area</td>
                                    <td width="18%">@ViewBag.MeasuredCarpetArea</td>
                                    <td width="17%">Super Built-up</td>
                                    <td width="18%">@ViewBag.MeasuredSaleableArea</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td colspan="2">&nbsp;</td>
                                    <td colspan="2">Road Facing</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td><strong>Quality of Construction: </strong></td>
                                    <td>Exteriors </td>
                                    <td>@ViewBag.Rough_Plaster, @ViewBag.Tiling</td>
                                    <td>Interiors</td>
                                    <td>@ViewBag.Type_of_Flooring, @ViewBag.Wall_Finish, @ViewBag.Plumbing_Fitting, @ViewBag.Electrical_Fittings</td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td><strong>Age of the property</strong></td>
                                    <td>@ViewBag.Current_Age_Of_Property</td>
                                    <td><strong>Residual life</strong></td>
                                    <td colspan="2">@ViewBag.Residual_Age_Of_Property</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" align="center" cellpadding="5" cellspacing="0" border="1" style="margin-top:40px;">
                                <tr>
                                    <td colspan="3"><strong>SANCTION PLAN APPROVAL &amp; OTHER DOCUMENTS  DETAILS</strong></td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top">14</td>
                                    <td width="42%" valign="top"><strong>Sanctioned plans verified with approval no</strong></td>
                                    <td width="53%">@ViewBag.Approval_Number, @ViewBag.Date_Of_Approval</td>
                                </tr>
                                <tr>
                                    <td>14A</td>
                                    <td><strong>Construction as per approved plan</strong></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>14B</td>
                                    <td><strong>Construction permission</strong></td>
                                    <td>@ViewBag.Approval_Authority_Commence</td>
                                </tr>
                                <tr>
                                    <td>14C</td>
                                    <td><strong>Number and Date</strong></td>
                                    <td>@ViewBag.Approval_Number_Commence, @ViewBag.Date_Of_Approval_Commence</td>
                                </tr>
                                <tr>
                                    <td>15</td>
                                    <td><strong>Ownership type</strong></td>
                                    <td>@ViewBag.Type_Of_Ownership</td>
                                </tr>
                                <tr>
                                    <td>16</td>
                                    <td><strong>Property documents verified</strong></td>
                                    <td>@ViewBag.DocumentName</td>
                                </tr>
                                <tr>
                                    <td>17</td>
                                    <td><strong>Is the property within Municipal Limits</strong></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>18</td>
                                    <td><strong>Permissible usage allow as per master plan</strong></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" valign="top">19</td>
                                    <td colspan="2"><strong>Setbacks</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2" valign="top" style="padding:0;">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="1">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" bgcolor="#FFFFFF" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Setbacks</strong></td>
                                                    <td valign="top" bgcolor="#FFFFFF" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="left"><strong>As per Approved</strong></div></td>
                                                    <td valign="top" bgcolor="#FFFFFF" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>As per Measurement</strong></td>
                                                    <td valign="top" bgcolor="#FFFFFF" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Floor  No</strong></td>
                                                    <td valign="top" bgcolor="#FFFFFF" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>As  per plan/ Bye laws</strong></td>
                                                    <td valign="top" bgcolor="#FFFFFF" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Actual  at site</strong></td>

                                                </tr>
                                                @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                                                {
                                                    <tr>
                                                        <td id="value26" style="display:none">
                                                            <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                                                        </td>
                                                        <td bgcolor="#FFFFFF" style="border-right:1px solid #000000; border-bottom:1px solid #000000;">
                                                            <p><label>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</label></p>
                                                        </td>

                                                        <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].As_per_Approved</label></td>
                                                        <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].As_per_Measurement</label></td>
                                                        <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].Floor_Of_Unit</label></td>
                                                        <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].As_per_Local_Bye_Laws</label></td>
                                                        <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].As_Actuals</label></td>
                                                    </tr>



                                                }


                                                <tr>
                                                    <td colspan="2" bgcolor="#FFFFFF" style="border-right:1px solid #000000;border-bottom:1px solid #000000;">
                                                        <strong>Demolition risk (if any to be highlighted)</strong>
                                                        <div align="center"></div>
                                                    </td>
                                                    <td colspan="4" valign="top" style="border-right:1px solid #000000;border-bottom:1px solid #000000;"><div align="left">@ViewBag.Risk_of_Demolition</div></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" bgcolor="#FFFFFF" style="border-right:1px solid #000000;border-bottom:1px solid #000000;">
                                                        <strong>Deviation / Violations</strong>
                                                        <div align="center"></div>
                                                    </td>
                                                    <td colspan="4" valign="top" style="border-right:1px solid #000000;border-bottom:1px solid #000000;"><div align="left">@ViewBag.Deviation_Description</div></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" bgcolor="#FFFFFF" style="border-right:1px solid #000000;">
                                                        <strong>Remarks,  if any</strong>
                                                        <div align="center"></div>
                                                    </td>
                                                    <td colspan="4" valign="top" style="border-right:1px solid #000000;"><div align="left">&nbsp;</div></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <td><strong>VALUATION</strong></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="1" cellspacing="0" cellpadding="5">
                                <tr>
                                    <td><div align="center">Floor Of the unit</div></td>
                                    <td><div align="center">Approved Carpet Area Sq. ft.</div></td>
                                    <td><div align="center">Approved Built-up area Sq. ft.</div></td>
                                    <td><div align="center">Measured Carpet Area Sq. Ft.</div></td>
                                    <td><div align="center">Measured Built-up Area Sq. Ft. </div></td>
                                    <td><div align="center">Adopted Area Sq. Ft.</div></td>
                                    <td><div align="center">Adopted Rate for Construction</div></td>
                                    <td><div align="center">Value in Rs.</div></td>
                                </tr>
                                @for (int idx = 0; idx < Model.ival_ProjectFloorWiseBreakUps.Count; idx++)
                                {
                                    <tr>

                                        <td>
                                            <div align="center"><strong><label>@Model.ival_ProjectFloorWiseBreakUps[idx].Floor_Type</label></strong></div>
                                        </td>

                                        <td>
                                            <div align="center"> <label>@Model.ival_ProjectFloorWiseBreakUps[idx].Approved_Carpet_Area </label></div>
                                        </td>
                                        <td>
                                            <div align="center"> @Model.ival_ProjectFloorWiseBreakUps[idx].Approved_Built_up_Area </div>
                                        </td>
                                        <td>
                                            <div align="center"> @Model.ival_ProjectFloorWiseBreakUps[idx].Measured_Carpet_Area </div>
                                        </td>
                                        <td>
                                            <div align="center"> @Model.ival_ProjectFloorWiseBreakUps[idx].Measured_Built_up_Area </div>
                                        </td>
                                        <td>
                                            <div align="center"> @Model.ival_ProjectFloorWiseBreakUps[idx].Adopted_Area_for_Valuation </div>
                                        </td>
                                        <td>
                                            <div align="center"> @Model.ival_ProjectFloorWiseBreakUps[idx].Adopted_Cost_Construction </div>
                                        </td>
                                        <td>
                                            <div align="center">@Model.ival_ProjectFloorWiseBreakUps[idx].Total </div>
                                        </td>
                                    </tr>
                                }
                                @*<tr>
                        <td>Basement </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Mezzanine</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Ground</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>First Floor</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>*@
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" align="center" cellpadding="5" cellspacing="0" border="1">
                                <tr>
                                    <td width="6%" rowspan="23" valign="top">21</td>
                                    <td colspan="4"><strong>A. Description of Constructed Area and Rates</strong></td>
                                </tr>
                                <tr>
                                    <td width="32%"><strong>Description</strong></td>
                                    <td width="23%"><strong>Area  (Sft.)</strong></td>
                                    <td width="19%"><strong>Rate  (Sft.)</strong></td>
                                    <td width="20%"><strong>Amount  (in ₹ )</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Land</strong></td>
                                    <td>@ViewBag.Adopted_Area_for_Valuation Sq.ft</td>
                                    <td>@ViewBag.Adopted_Plot_Land_Rate Rs./Sq.ft</td>
                                    <td>Rs.@ViewBag.Valueoftheplotbungalow</td>
                                </tr>
                                <tr>
                                    <td><strong>Construction Area / Salable area/ Super Built up  area </strong></td>
                                    <td>@ViewBag.MeasuredSaleableArea Sq.ft</td>
                                    <td>@ViewBag.Measured_Built_up_Area Sq.ft</td>
                                    <td>@ViewBag.Approved_Built_up_Area Sq.ft</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Total Value by Land &amp; Building Method (INR)  or comparison method </td>
                                    <td colspan="2">Rs.@ViewBag.TotalvaluepropertyBunglow</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Stage of construction </strong></td>
                                    <td>@ViewBag.StageOfConstruction</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Recommended Construction Value</strong></td>
                                    <td>@ViewBag.Cost_of_Construction</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>B. Value of Extra Amenities if applicable</strong></td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>No of Car Parking</td>
                                    <td>Rate per Parking</td>
                                    <td>Value of Car Parking</td>
                                    <td>PLC/IDC/EDC/Power Backup/Other</td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Total Amenities Charges </td>
                                    <td colspan="2">Rs.@ViewBag.Any_Other_Charges</td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" align="center" cellpadding="5" cellspacing="0" border="1" style="margin-top:20px;">
                                <tr>
                                    <td colspan="2"><strong>Total Market Value of Property (A+B) (in Amt.)</strong></td>
                                    <td colspan="2">Rs.@ViewBag.TotalvaluepropertyBunglow</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Rupees  in words only/-</strong></td>
                                    <td colspan="2">@ViewBag.ToatalInWords</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Forced Sale Value</strong></td>
                                    <td colspan="2">Rs.@ViewBag.DistressValueofPropertyBunglow</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Re-construction Cost (for Property insurance)</strong></td>
                                    <td colspan="2">Rs.@ViewBag.Gross_Estimated_Cost_Construction</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Approx. Rentals in case of 100% complete  property </td>
                                    <td colspan="2">NA</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="1" cellspacing="0" cellpadding="5">
                                <tr>
                                    <td width="5%" rowspan="5" valign="top">22</td>
                                    <td colspan="2"><strong>Details  from Online land Revenue Records</strong></td>
                                </tr>
                                <tr>
                                    <td width="48%">Online Record Found</td>
                                    <td width="47%">Yes/No/Not applicable</td>
                                </tr>
                                <tr>
                                    <td>Nature of Land specified in records</td>
                                    <td>Agriculture/ Non-Agriculture/ Others (please  specify)</td>
                                </tr>
                                <tr>
                                    <td>Ownership Details as per records</td>
                                    <td>Name of Owner 1/2/3</td>
                                </tr>
                                <tr>
                                    <td>Property area Details mentioned in records</td>
                                    <td>Sft/Sqmt</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="1" cellspacing="0" cellpadding="5">
                                <tr>
                                    <td colspan="6"><strong>BOUNDARIES </strong></td>
                                </tr>
                                <tr>
                                    <td width="5%">23</td>
                                    <td style=" color:#000000; font-size:16px; ">

                                        <p align="center"><strong>Four Boundaries</strong></p>

                                    </td>
                                    <td colspan="2" style=" color:#000000; font-size:16px; ">
                                        <div align="center"><strong>As Per Document</strong></div>

                                    </td>
                                    <td colspan="2" style=" color:#000000; font-size:16px; ">
                                        <div align="center"><strong>As Per Site</strong></div>

                                    </td>

                                </tr>
                                @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                                {
                                    <tr>
                                        <td width="5%"></td>
                                        <td style="color:#000000; font-size:16px;">
                                            <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                                        </td>
                                        <td colspan="2" style="color:#000000; font-size:16px;">
                                            <div align="center"> <label>@Model.ival_ProjectBoundaries[idx].AsPer_Document </label></div>
                                        </td>
                                        <td colspan="2" style="color:#000000; font-size:16px;">
                                            <div align="center"> @Model.ival_ProjectBoundaries[idx].AsPer_Site </div>
                                        </td>

                                    </tr>
                                }

                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Boundaries Matching</td>
                                    <td colspan="4">@ViewBag.Boundaries_Matching</td>

                                </tr>
                                <tr>
                                    <td colspan="2"><p><strong>Remarks-: </strong></p></td>
                                    <td colspan="4">@ViewBag.Remarks</td>

                                </tr>
                                <tr>
                                    <td colspan="6"><strong>Any other observation to highlighted: @ViewBag.Anyother_Observation</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Property in caution area (Y/N)</td>
                                    <td colspan="4">@ViewBag.Type_of_Property_Zone</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Property in Negative area (Y/N)</td>
                                    <td colspan="4">@ViewBag.Type_of_Property_Zone</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Property in OGL (Y/N)</td>
                                    <td colspan="4">@ViewBag.Type_of_Property_Zone</td>
                                </tr>
                                <tr>
                                    <td colspan="2"><strong>Latitude :</strong></td>
                                    <td colspan="2">@ViewBag.Cord_Latitude1</td>
                                    <td><strong>Longitude :</strong></td>
                                    <td>@ViewBag.Cord_Longitude1</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <strong><u>Location sketch  for the property</u></strong><strong>
                                :  <br />
                                (Google &amp; Map Images showing exact  location of the property)<u></u>
                            </strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="1" cellspacing="0" cellpadding="5" style="margin-bottom:50px;">
                                <tr>
                                    <td colspan="3" style="color:#000000; font-size:18px;height:300px;padding:20px;"><div align="center"><img class="img-responsive" src="~/images/@ViewBag.GoogleMapImage" width="600" height="300"></div></td>
                                </tr>
                                <tr>
                                    <td valign="bottom"><strong>Authorized Signatory</strong></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td height="21" valign="middle"><div align="center"><strong><u>PHOTOGRAPHS  OF PROPERTY</u></strong> </div></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="1000" border="1" cellspacing="0" cellpadding="0" style="margin-bottom:270px;">
                                <tr>
                                    <td valign="top">
                                        @*<div style="display: inline-block;padding-left:117px;">*@
                                        @for (int idx = 0; idx < Model.Image_Uploaded_List.Count; idx++)
                                        {



                                            <div style="display:inline-block; margin-bottom:10px;padding-left:55px;margin-top:20px;">
                                                <div> <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="250" height="300"></div>
                                            </div>

                                            if (idx % 3 == 2)
                                            {
                                                <br />
                                            }


                                        }
                                        @*</div>*@
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td><strong>DECLARATION</strong> (We hereby declare that)</td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing="0" cellpadding="0" hspace="0" vspace="0" align="center" style="border-bottom:1px solid #000000;">
                                <tr>
                                    <td valign="top" align="left">
                                        <ul>
                                            <li>We have no direct or indirect interest in the property valued.<strong></strong></li>
                                            <li>The property was inspected by our authorized representative <strong>(______)</strong> along with the owner’s representative and information furnished in the report    is true &amp; correct to the best of our knowledge &amp; as per the documents    provided by financial Institution or Property Owner (we have not done any due    diligence on the documents shared with us for the purpose of this valuation).<strong></strong></li>
                                            <li>This report is for technical valuation and should not be read in any    legal context. Report does not certify or confirm any ownership or title or    physical/legal possession of the property that has been valued thus financial    firm or client should independently verify authenticity of all title &amp;    other documents.<strong></strong></li>
                                            <li>The market value indicated in the report, is an opinion of the value    prevailing on the date moreover financial firm or client is free to obtain    other Independent opinions on the same.<strong></strong></li>
                                            <li>The fair Market value of such properties varies, depending on the    future market conditions and scenarios thus the valuation needs to be    periodically reviewed.<strong></strong></li>
                                            <li>Compliance with statutory regulations pertaining to mortgage or property    loans is the responsibility of the lending institutions.  Legal Opinion on the subject property is    also the responsibility of lending institution.<strong></strong></li>
                                            <li>The collective liability of  shall not in any event exceed the  professional fee charged for the Project.</li>
                                        </ul>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
</body>
</html>
