﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
    <style>
        .testtable {
            border-top-width: 0px;
            border-right-width: 1px;
            border-bottom-width: 0px;
            border-left-width: 1px;
            border-top-color: rgb(0, 0, 0);
            border-right-color: rgb(0, 0, 0);
            border-bottom-color: rgb(0, 0, 0);
            border-left-color: rgb(0, 0, 0);
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgb(255, 255, 255);
        }
    </style>
</head>
<body class="bg-dark">
    <table class="testtable" bordercolor="#000000" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <tr>
            <td valign="top">
                <table style="width:1040px" height="311" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                    <tr>
                        <td height="42" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:24px; ">
                            <div align="center">


                                <p><strong><u>Valuation Report</u></strong></p>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="26" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0;">
                            <div align="center">
                                <p>&nbsp;</p>
                                <p><span style="color:#000000; font-size:24px;">Date of valuation Report</span><span></span>&nbsp;&nbsp;&nbsp;<span style="font-size:24px">@ViewBag.Date_of_Valuation</span></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td height="41" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:18px; color:#000000;">
                            <div align="center">
                                <p>&nbsp;</p>
                                <p><strong>STANDARD VALUATION REPORT FORMAT - @ViewBag.Property_Type</strong></p>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        @*General Details*@
                        <td height="80" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                            <table style="width:1000px; margin-bottom:20px;" border="1" align="center" height="914" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="31" colspan="4" style=" color:#000000; font-size:18px;"><strong>GENERAL DETAILS </strong></td>
                                </tr>
                                <tr>
                                    <td height="31" colspan="2" style=" color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Type of property </strong></div></td>
                                    <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>@ViewBag.Property_Type</strong></div></td>
                                    <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p><strong>New Field to be added  </strong></p>
                                            <p><strong>in the report- Any one</strong></p>
                                            <p><strong>drop down to be selected </strong></p>
                                            <p><strong>in the report</strong></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Name of the Customer(s) - <p>@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</p></td>

                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Property Address with pin code - @ViewBag.Survey_Number, @ViewBag.Village_Name, @ViewBag.Street, <p>@ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode</p></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Landmark - @ViewBag.NearBy_Landmark</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Loan Application number - @ViewBag.Customer_Application_ID</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Name of Document holder -<p> @ViewBag.Document_Holder_Name, @ViewBag.Document_Holder_Name_1</p></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Legal address of property - @ViewBag.BungalowNo, @ViewBag.Survey_Number, @ViewBag.Village_Name, @ViewBag.Street,<p> @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode </p></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Date of Inspection - @ViewBag.Date_of_Inspection</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;"><strong>SURROUNDING LOCALITY DETAILS</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Ward No/ Municipal land No -</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Vicinity - @ViewBag.Type_of_Locality</td>
                                </tr>
                                <tr>
                                    <td height="31" colspan="2" style=" color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Property Location</strong></div></td>
                                    <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p>&nbsp;</p>
                                            <p><strong>Secondary Business </strong></p>
                                            <p>&nbsp;</p>
                                            <p><strong>District</strong></p>
                                        </div>
                                    </td>
                                    <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">


                                            <p><strong>New Field to be added  </strong></p>
                                            <p><strong>in the report- Any one</strong></p>
                                            <p><strong>drop down to be selected </strong></p>
                                            <p><strong>in the report</strong></p>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Plot Demarcated at site - @ViewBag.Plot_Demarcated_at_site</td>
                                </tr>
                                <tr>
                                    <td height="31" colspan="2" style=" color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Property  Identification</strong></div></td>
                                    <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p>&nbsp;</p>
                                            <p><strong>@ViewBag.Property_Identified_PName </strong></p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </td>
                                    <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p>&nbsp;</p>
                                            <p><strong>@ViewBag.Name, @ViewBag.P_Contact_Num</strong></p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="color:#000000; font-size:18px;">Connectivity/Infrastructure Development - </td>
                                </tr>
                                <tr>
                                    <td height="31" colspan="2" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p>&nbsp;</p>
                                            <p><strong>Connectivity /</strong></p>
                                            <p>&nbsp;</p>
                                            <p><strong>In</strong><strong>frastructure</strong></p>
                                        </div>
                                    </td>
                                    <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">

                                            <p><strong>@ViewBag.LocalTransport,</strong><p>&nbsp;</p><p><strong>@ViewBag.BasicInfra</strong></p>


                                        </div>
                                    </td>
                                    <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                        <div align="center">
                                            <p><strong>New Field to be added  </strong></p>
                                            <p><strong>in the report- Any one</strong></p>
                                            <p><strong>drop down to be selected </strong></p>
                                            <p><strong>in the report</strong></p>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" rowspan="4" style="color:#000000; font-size:18px;"><strong>Landmark Details</strong></td>
                                    <td style="color:#000000; font-size:18px;"><strong>Nearest Railway Station</strong></td>
                                    <td style="color:#000000; font-size:18px;">@ViewBag.Nearest_RailwayStation</td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;"><strong>Nearest Bus Stop</strong></td>
                                    <td style="color:#000000; font-size:18px;">@ViewBag.Nearest_BusStop</td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;"><strong>Nearest Hospital</strong></td>
                                    <td style="color:#000000; font-size:18px;">@ViewBag.Nearest_Hospital</td>
                                </tr>
                                <tr>
                                    <td style="color:#000000; font-size:18px;"><strong>Nearest Landmark</strong></td>
                                    <td style="color:#000000; font-size:18px;">@ViewBag.NearBy_Landmark</td>
                                </tr>

                            </table>

                        </td>
                    </tr>


                    <tr>
                        @*Property Details*@
                        <td>
                            <table style="width:1040px;margin-bottom:70px;" height="311" align="center" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table style="width:1000px" border="1" align="center" height="914" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                                            <tr>
                                                <td height="31" colspan="3" style=" color:#000000; font-size:18px;"><strong>PROPERTY DETAILS</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Type of Usage of entire property - @ViewBag.Actual_Usage_Of_Property</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Additional  Amenities  - @ViewBag.Amenities</td>
                                            </tr>
                                            <tr>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Legal status of Property</strong></div></td>
                                                <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>@ViewBag.StatusOfProperty</strong></p>
                                                    </div>
                                                </td>
                                                <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>
                                                </td>

                                            </tr>


                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;"><strong>SUBJECT  PROPERTY DETAILS</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Type  of Premises – @ViewBag.Type_of_Locality</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Occupied  by : @ViewBag.Occupancy_Details</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Is property rented?</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">If rented list of occupants,</td>
                                            </tr>
                                            <tr>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p>&nbsp;</p>
                                                        <p><strong>Property  </strong></p>
                                                        <p>&nbsp;</p>
                                                        <p><strong>Taxation/Maintance cost</strong></p>
                                                    </div>
                                                </td>
                                                <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p>&nbsp;</p>
                                                        <p><strong>Average</strong></p>
                                                    </div>
                                                </td>
                                                <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p>&nbsp;</p>
                                                        <p><strong>Renting  Potential</strong></p>
                                                    </div>
                                                </td>
                                                <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">

                                                        <p><strong>@ViewBag.Renting_Potential</strong></p>


                                                    </div>
                                                </td>
                                                <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <p align="center">&nbsp;</p>
                                                    <p align="center"><strong>Market  </strong></p>
                                                    <p align="center">&nbsp;</p>
                                                    <p align="center"><strong>Rentals/Sqft/month(Rs.)</strong></p>
                                                </td>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Rs.@ViewBag.Expected_Monthly_Rental </strong></div></td>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="31" style=" color:#000000; font-size:18px; ">
                                                    <p align="center">&nbsp;</p>
                                                    <p align="center"><strong>Four Boundaries</strong></p>
                                                    <p align="center">&nbsp;</p>
                                                </td>
                                                <td height="31" style=" color:#000000; font-size:18px; ">
                                                    <p align="center">&nbsp;</p><div align="center"><strong>As Per Document</strong></div>
                                                    <p align="center">&nbsp;</p>
                                                </td>
                                                <td height="31" style=" color:#000000; font-size:18px; ">
                                                    <p align="center">&nbsp;</p><div align="center"><strong>As Per Site</strong></div>
                                                    <p align="center">&nbsp;</p>
                                                </td>
                                                @*<td height="31" style=" color:#000000; font-size:18px; ">

                                                        <p align="center"><strong>As Per Plot </strong></p>
                                                        <p align="center">Dimentions</p>
                                                    </td>*@
                                            </tr>
                                            @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                                            {
                                                <tr>

                                                    <td style="color:#000000; font-size:18px;">
                                                        <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                                                    </td>
                                                    <td style="color:#000000; font-size:18px;">
                                                        <div align="center"> <label>@Model.ival_ProjectBoundaries[idx].AsPer_Document </label></div>
                                                    </td>
                                                    <td style="color:#000000; font-size:18px;">
                                                        <div align="center"> @Model.ival_ProjectBoundaries[idx].AsPer_Site </div>
                                                    </td>
                                                    @*<td style="color:#000000; font-size:18px;">
                                                            <div align="center"> @Model.ival_ProjectBoundaries[idx].Plot_Dimentions</div>
                                                        </td>*@
                                                </tr>
                                            }

                                            <tr>
                                                <td height="31" colspan="3" style=" color:#000000; font-size:18px;"><strong>STRUCTURAL DETAILS</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Type of Structure - @ViewBag.Type_Of_Structure   </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">No. of Floors - @ViewBag.Approved_No_of_Floors                                                                                               </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Floor of the unit - @ViewBag.Floor_Of_Unit                                                                                              </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">No of wings -                                                                                           </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">No. of units on each floor -                                                                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Internal Composition of property - @ViewBag.Actual_Usage_Of_Property     </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">No. of lifts in each wing  - @ViewBag.No_Of_Lifts                                                                                              </td>
                                            </tr>

                                        </table>

                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        @*Structural Details*@
                        <td valign="top">
                            <table style="width:1040px; margin-bottom:40px;" height="311" align="center" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table style="width:1000px" border="1" align="center" height="914" cellpadding="18" cellspacing="0" bgcolor="#FFFFFF">
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Brief Description of Property -<p><textarea id="w3review" name="w3review" rows="3" cols="40" style=" border:none;">@ViewBag.Property_Description</textarea></p> </td>
                                            </tr>
                                            <tr>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>Age  of the Property</strong></p>
                                                    </div>
                                                </td>
                                                <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>@ViewBag.Current_Age_Of_Property  years</strong></p>
                                                    </div>
                                                </td>
                                                <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Estimated Future Life - @ViewBag.Residual_Age_Of_Property Years</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;"><strong>Exteriors</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Beam &amp; Column Structure. -</td>
                                            </tr>
                                            <tr>
                                                <td height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p>&nbsp;</p>
                                                        <p><strong>Quality of Construction </strong></p>
                                                        <p>&nbsp;</p>
                                                        <p><strong>Appearance &amp;</strong></p>
                                                        <p>&nbsp;</p>
                                                        <p><strong>Maintenance of Building.</strong></p>
                                                    </div>
                                                </td>
                                                <td width="25%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>@ViewBag.Quality_Of_Construction</strong></p>
                                                    </div>
                                                </td>
                                                <td width="49%" height="31" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Common Areas Remarks  - @ViewBag.Common_Areas</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Other Observations  - @ViewBag.Anyother_Observation</td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;"><strong>Interiors</strong> </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Flooring &amp; finishing  - @ViewBag.Type_of_Flooring</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Roofing and terracing - @ViewBag.Roofing_Terracing</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">No. Of lifts  - @ViewBag.No_Of_Lifts                                                                             </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Quality of fixtures and fittings - @ViewBag.Quality_Of_Fixture</td>
                                            </tr>
                                            <tr>
                                                <td height="31" colspan="3" style=" color:#000000; font-size:18px;"><strong>Plan Approvals</strong></td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Construction as per approved/ sanctioned  plans -  @ViewBag.Construction_as_per_plan  </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">   Details of approved plan  with approval no and date   - @ViewBag.Approval_Number,<p> @ViewBag.Date_Of_Approval</p>                                                                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Construction  permission Number and date -  @ViewBag.Approval_Number_Constr, <p>@ViewBag.Date_Of_Approval_Constr</p>                                                                                         </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Violations Observed if AnyOr is there any risk of  Demolition in case of violation -  @ViewBag.Risk_of_Demolition                                                                                              </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">If  plans not available then is the structure confirming to the local byelaws -      </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Other  Documents Verified   - <p>@ViewBag.DocumentName </p> </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;"><strong>VALUATION</strong></td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;"><strong>For Land and building valuation</strong></td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Approved Land area / Plot area - @ViewBag.Approved_Plot_Area Sq Ft</td>
                                            </tr>





                                        </table>

                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        @*Plan Approvals*@
                        <td valign="top">
                            <table style="width:1040px;margin-bottom:100px;" height="311" align="center" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table style="width:1000px" border="1" align="center" height="914" cellpadding="18" cellspacing="0" bgcolor="#FFFFFF">
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Measured Plot area - @ViewBag.Measured_Plot_Area Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Adopted Plot area For Valuation - @ViewBag.LandArea Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Adopted Land / Plot Rate - @ViewBag.AdoptedRate Rs./Sq Ft</td>
                                            </tr>


                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Land / Plot Rate Range in the Locality - @ViewBag.RecommandedRate Rs./Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Approved other Land area / Plot area - @ViewBag.ApprovedOtherPlotArea Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Measured other Plot area - @ViewBag.MeasuredOtherPlotArea Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Adopted other Plot area For Valuation - @ViewBag.AdoptedOtherPlotValuation Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Adopted other Land / Plot Rate - @ViewBag.AdoptedOtherPlotRate Rs./Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Current Government Approved Rates for land - @ViewBag.GovRate Rs./Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Land value - Rs.@ViewBag.Total_Land_Plot_Value</td>
                                            </tr>

                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Actual Bua of the premises(Sqft) - @ViewBag.TotalOfMeasured_Built_up_Area Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Bua as per the Approvals(Sqft) - @ViewBag.TotalOfApproved_Built_up_Area Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Construction cost as per the Amenities provided. Per Sqft - @ViewBag.TotalOfAdopted_Cost_Construction Rs./Sq Ft</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">Total value of construction - Rs.@ViewBag.Total_ValueOfConstruction</td>
                                            </tr>
                                            <tr>
                                                <td style=" color:#000000; font-size:18px;">Total Valuation</td>
                                                <td style=" color:#000000; font-size:18px;"> <div align="center">Rs. @ViewBag.Total_Value_of_Property /-</div></td>
                                                <td style=" color:#000000; font-size:18px;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style=" color:#000000; font-size:18px;"><strong>Forced Sale %</strong></td>
                                                <td style=" color:#000000; font-size:18px;"> <div align="center">@ViewBag.DistressValuePerct %</div></td>
                                                <td style=" color:#000000; font-size:18px;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style=" color:#000000; font-size:18px;"><strong>Forced sale value</strong></td>
                                                <td style=" color:#000000; font-size:18px;"><div align="center">Rs.@ViewBag.DistressValueProperty </div></td>
                                                <td style=" color:#000000; font-size:18px;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>Marketability</strong></p>
                                                    </div>
                                                </td>
                                                <td width="25%" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p> <div align="center"><strong>@ViewBag.Marketability_Of_Property</strong> </div></p>
                                                    </div>
                                                </td>
                                                <td width="49%" style=" color:#000000; font-size:18px; background-color:#dce6f1;">
                                                    <div align="center">
                                                        <p><strong>New Field to be added  </strong></p>
                                                        <p><strong>in the report- Any one</strong></p>
                                                        <p><strong>drop down to be selected </strong></p>
                                                        <p><strong>in the report</strong></p>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">

                                                    <p>Valuation result - @ViewBag.ValuationOfResult</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px; background-color:#dce6f1;">


                                                    <p><strong>Deviations  in the property- </strong>@ViewBag.DeviationPercentage </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px; background-color:#dce6f1;">


                                                    <p><strong>% deviation in construction -@ViewBag.DeviationinConstruction </strong> </p>
                                                </td>
                                            </tr>




                                        </table>

                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                    <tr>
                        @*Property Location*@
                        <td valign="top">
                            <table style="width:1040px;margin-bottom:100px;" align="center" height="1000" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td valign="top" height="50" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table border="1" align="center" style="width:1000px" height="236" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                                            <tr>
                                                <td height="50" colspan="3" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Property Location (@ViewBag.Cord_Latitude1, @ViewBag.Cord_Longitude1)</strong></div></td>
                                            </tr>
                                            <tr>
                                                <td height="50" colspan="3" style="color:#000000; font-size:18px;"><div align="center"><img class="img-responsive" src="~/images/@ViewBag.GoogleMapImage" width="400" height="200"></div></td>
                                            </tr>
                                            <tr>
                                                <td height="78" style="color:#000000; font-size:18px; background-color:#dce6f1;"><div align="center"><strong>Property Photographs</strong></div></td>
                                            </tr>
                                            <tr>
                                                <td height="50" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                                    <table style="width:1000px;height:50px; " cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                                                        <tr>
                                                            <td valign="top">
                                                                <div style="display: inline-block;padding-left:117px;">
                                                                    @for (int idx = 0; idx < Model.Image_Uploaded_List.Count; idx++)
                                                                    {



                                                                        <div style="display: inline-block; margin-bottom:12px;">
                                                                            <div> <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="250" height="300"></div>
                                                                        </div>

                                                                        if (idx % 3 == 2)
                                                                        {
                                                                            <br />
                                                                        }


                                                                    }
                                                                </div>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top">
                            <table style="width:1040px;margin-top:300px;" height="311" align="center" cellpadding="15" cellspacing="0" bgcolor="#FFFFFF">
                                <tr>
                                    <td height="50" colspan="2" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table style="width:1000px" border="1" align="center" height="914" cellpadding="10" cellspacing="0" bgcolor="#FFFFFF">
                                            <tr>
                                                <td colspan="3" style="color:#000000; font-size:18px;">
                                                    <p>&nbsp;</p>
                                                    <p>Remarks if any                 </p>
                                                    <textarea id="w3review" name="w3review" rows="9" cols="120" style=" border:none;">@ViewBag.Remarks</textarea>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="color:#000000; font-size:18px;"><strong>Engineer Visited Site</strong></td>
                                                <td style="color:#000000; font-size:18px;">@ViewBag.AssignedToEmpID</td>
                                                <td style="color:#000000; font-size:18px;">&nbsp;</td>
                                            </tr>
                                            @*<tr>
                                                    <td style="color:#000000; font-size:18px;"><strong>Declaration</strong></td>
                                                    <td style="color:#000000; font-size:18px;">&nbsp;</td>
                                                    <td style="color:#000000; font-size:18px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td style="color:#000000; font-size:18px;">I hereby declare that:</td>
                                                    <td style="color:#000000; font-size:18px;">&nbsp;</td>
                                                    <td style="color:#000000; font-size:18px;">&nbsp;</td>
                                                </tr>*@

                                            <tr>
                                                <td colspan="4" width="74%" style="color:#000000; font-size:18px;">
                                                    <p>
                                                        Declaration
                                                    </p>
                                                    <p>&nbsp;</p>
                                                    <p>
                                                        I hereby
                                                        declare that:
                                                    </p>
                                                    <p>&nbsp;</p>
                                                    <p> 1. We have no direct or indirect interest in the property valued.</p>
                                                    <p>&nbsp;</p>
                                                    <p> 2. The information furnished in the report is true and correct to the best of our knowledge and belief.</p>
                                                    <p>&nbsp;</p>
                                                    <p> 3. We are relied on the Documents Provided by the Client & We have assumed that its verified by them.                  </p>
                                                    <p>&nbsp;</p>
                                                    <p>4. We have not carried out any legal due diligence of the property, any disputes regarding ownership, title, </p>
                                                    <p>&nbsp;</p>
                                                    <p>marketability of the property any change the valuation substantially.</p>
                                                    <p>&nbsp;</p>
                                                    <p> 5. The fair market value indicated in the report is an opinion of the value prevailing on the date of the said report </p>
                                                    <p>&nbsp;</p>
                                                    <p>and is based on market feedback on values of similar properties. The client is free to obtain other independent </p>
                                                    <p>&nbsp;</p>
                                                    <p>opinions on the same. The fair, market value of such properties/localities may increase or decrease, depending </p>
                                                    <p>&nbsp;</p>
                                                    <p>on the future market conditions and scenarios.                  </p>
                                                    <p>&nbsp;</p>
                                                    <p>&nbsp;</p>
                                                    <p>Signature of Valuer                   </p>
                                                    <p>&nbsp;</p>
                                                    <p>&nbsp;</p>
                                                    <p>i-Value Advisroy LLP</p>
                                                    <p>&nbsp;</p>
                                                    <p>&nbsp;</p>
                                                    <p>Date - @ViewBag.Date_of_Valuation </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="217" colspan="4" bgcolor="#FFFFFF" style="color:#000000; font-size:18px; padding-top:10px; padding-bottom:10px;"><div align="center"><img src="~/images/@ViewBag.IGRImage" width="600" height="300"></div></td>
                                            </tr>
                                        </table>

                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>


    </table>
    <input type="text" id="txtId1" class="form-control" value="@ViewBag.RequestId" style=" visibility:hidden;">
    @*<p>@Html.ActionLink("Convert View To PDF", "PrintViewToPdfForHdfc")</p>*@
    <input type="button" id="ConvertPdf" class="no-print" value="Convert to PDF" onclick="location.href='@Url.Action("PrintViewToPdfForHdfc", "Report")?id=' + document.getElementById('txtId1').value" />

</body>
</html>
