﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <table width="800" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top">
                <table width="100%" cellspacing="0" cellpadding="10" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;padding-bottom:20px;">
                    <tr>
                        <td valign="top">
                            <table width="100%" border="1" cellpadding="1" cellspacing="0">
                                <tr>
                                    <td colspan="6"><div align="center"><strong>Report Ref ID - @ViewBag.RequestId</strong></div></td>
                                </tr>
                                <tr>
                                    <td width="5%" rowspan="2" valign="top"><div align="center">I</div></td>
                                    <td width="16%" valign="top"><strong>Name of Customer</strong></td>
                                    <td width="36%" valign="top">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</td>
                                    <td width="20%" valign="top"><strong>Product</strong></td>
                                    <td colspan="2" valign="top" bgcolor="#FFFFFF">@ViewBag.Department</td>
                                </tr>
                                <tr>
                                    <td><strong>LAN No.</strong></td>
                                    <td>@ViewBag.Customer_Application_ID</td>
                                    <td><strong>Initiated by</strong></td>
                                    <td colspan="2">I value advisory llp</td>
                                </tr>
                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td rowspan="8" valign="top"><div align="center">II</div></td>
                                    <td colspan="5"><strong>Property Address</strong></td>
                                </tr>
                                <tr>
                                    <td rowspan="5"><strong>Postal Address</strong></td>
                                    <td rowspan="5">
                                        <div align="center">
                                            @ViewBag.UnitNumber, @ViewBag.Survey_Number, @ViewBag.Village_Name, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode
                                        </div>
                                    </td>
                                    <td><strong>City</strong></td>
                                    <td colspan="2">@ViewBag.City</td>
                                </tr>
                                <tr>
                                    <td><strong>State</strong></td>
                                    <td colspan="2">@ViewBag.State</td>
                                </tr>
                                <tr>
                                    <td><strong>Pincode</strong></td>
                                    <td colspan="2">@ViewBag.PinCode</td>
                                </tr>
                                <tr>
                                    <td><strong>Landmark</strong></td>
                                    <td colspan="2">@ViewBag.NearBy_Landmark</td>
                                </tr>
                                <tr>
                                    <td><strong>Name of the project</strong></td>
                                    <td colspan="2">@ViewBag.Project_Name</td>
                                </tr>
                                <tr>
                                    <td colspan="5">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td colspan="5" valign="top">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="35%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center"><strong>Boundary Schedule</strong></div></td>
                                                <td width="41%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center"><strong>As per Document</strong></div></td>
                                                <td width="24%" style="border-bottom:1px solid #000000;"><div align="center"><strong>As per Site</strong></div></td>
                                            </tr>
                                            @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                                            {
                                                <tr>

                                                    <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                                        <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                                                    </td>
                                                    <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                                        <div align="center"> <label>@Model.ival_ProjectBoundaries[idx].AsPer_Document </label></div>
                                                    </td>
                                                    <td style="border-bottom:1px solid #000000;">
                                                        <div align="center"> @Model.ival_ProjectBoundaries[idx].AsPer_Site </div>
                                                    </td>

                                                </tr>
                                            }
                                            @*<tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>North</strong></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">four boundaries</div></td>
                                                <td style="border-bottom:1px solid #000000;"><div align="center">four boundaries</div></td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>East</strong></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">four boundaries</div></td>
                                                <td style="border-bottom:1px solid #000000;"><div align="center">four boundaries</div></td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>West</strong></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">four boundaries</div></td>
                                                <td style="border-bottom:1px solid #000000;"><div align="center">four boundaries</div></td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>South</strong></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">four boundaries</div></td>
                                                <td style="border-bottom:1px solid #000000;"><div align="center">four boundaries</div></td>
                                            </tr>*@
                                            <tr>
                                                <td style="border-right:1px solid #000000;">
                                                    <strong>
                                                        Plot boundaries <br />
                                                        matching (Y/N)
                                                    </strong>
                                                </td>
                                                <td colspan="2"><div align="center">@ViewBag.Boundaries_Matching</div></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" valign="top"><div align="center">III</div></td>
                                    <td colspan="5"><strong>Documents Received</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="35%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center"><strong>Property    Documents</strong></div></td>
                                                <td width="21%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center"><strong>Issued by (Authority)</strong></div></td>
                                                <td width="20%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center"><strong>Date of Issue</strong></div></td>
                                                <td width="24%" style="border-bottom:1px solid #000000;"><div align="center"><strong>Doc Reference</strong></div></td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Deed of Apartment</strong></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">@ViewBag.Approval_Authority_SaleDeed</div></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">@ViewBag.Date_Of_Approval_SaleDeed</div></td>
                                                <td bgcolor="#FFFFFF" style="border-bottom:1px solid #000000;"><div align="center">@ViewBag.Approval_Number_SaleDeed</div></td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Approved Plan</strong></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">@ViewBag.Approval_Authority</div></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">@ViewBag.Date_Of_Approval</div></td>
                                                <td bgcolor="#FFFFFF" style="border-bottom:1px solid #000000;"><div align="center">@ViewBag.Approval_Number</div></td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Completion certificate</strong></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">@ViewBag.Approval_Authority_Constr</div></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">@ViewBag.Date_Of_Approval_Constr</div></td>
                                                <td bgcolor="#FFFFFF" style="border-bottom:1px solid #000000;"><div align="center">@ViewBag.Approval_Number_Constr</div></td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000;"><div align="center"><strong>Ownership as per the document </strong></div></td>
                                                <td colspan="3" style="border-right:1px solid #000000;"><div align="center">@ViewBag.Document_Holder_Name, @ViewBag.Document_Holder_Name_1</div></td>
                                            </tr>


                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td rowspan="4" valign="top"><div align="center">IV</div></td>
                                    <td colspan="5"><strong>Location</strong></td>
                                </tr>
                                <tr>
                                    <td valign="middle"><strong>Nature of locality</strong></td>
                                    <td valign="middle">@ViewBag.Type_of_Locality</td>
                                    <td valign="top"><strong>Vicinity(type of property)</strong></td>
                                    <td colspan="2" valign="middle">@ViewBag.Property_Type</td>
                                </tr>
                                <tr>
                                    <td valign="middle"><strong>Class of locality</strong></td>
                                    <td valign="middle">@ViewBag.Class_of_Locality</td>
                                    <td valign="top"><strong>Quality of Infrastructure</strong></td>
                                    <td colspan="2" valign="middle">@ViewBag.Quality_Of_Construction</td>
                                </tr>
                                <tr>
                                    <td valign="top"><strong>Availability -Public transportation</strong></td>
                                    <td valign="middle">@ViewBag.LocalTransport</td>
                                    <td valign="top"><strong>Proximity to Civic Amenities</strong></td>
                                    <td colspan="2" valign="middle">@ViewBag.BasicInfra</td>
                                </tr>
                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td rowspan="10" valign="top"><div align="center">V</div></td>
                                    <td colspan="5"><strong>Property</strong> </td>
                                </tr>
                                <tr>
                                    <td><strong>Approved use</strong></td>
                                    <td>@ViewBag.Approved_Usage_Of_Property</td>
                                    <td><strong>Property type</strong></td>
                                    <td colspan="2">@ViewBag.Property_Type</td>
                                </tr>
                                <tr>
                                    <td><strong>Structure type</strong></td>
                                    <td>@ViewBag.Type_Of_Structure</td>
                                    <td><strong>No. of Floors </strong></td>
                                    <td colspan="2">@ViewBag.Approved_No_of_Floors</td>
                                </tr>
                                <tr>
                                    <td><strong>Property holding</strong></td>
                                    <td>@ViewBag.StatusOfProperty</td>
                                    <td><strong>Property Residual Age</strong></td>
                                    <td colspan="2">@ViewBag.Residual_Age_Of_Property</td>
                                </tr>
                                <tr>
                                    <td><strong>Property Age</strong></td>
                                    <td>@ViewBag.Current_Age_Of_Property</td>
                                    <td><strong>Floor No.</strong></td>
                                    <td colspan="2">@ViewBag.Floor_Of_Unit</td>
                                </tr>
                                <tr>
                                    <td><strong>Interiors</strong></td>
                                    <td>@ViewBag.Type_of_Flooring, @ViewBag.Wall_Finish, @ViewBag.Plumbing_Fitting, @ViewBag.Electrical_Fittings</td>
                                    <td><strong>No. of Lifts</strong></td>
                                    <td colspan="2">@ViewBag.No_Of_Lifts</td>
                                </tr>
                                <tr>
                                    <td><strong>No. of wings</strong></td>
                                    <td bgcolor="#FFFFFF">No. of building </td>
                                    <td><strong>External Appearance</strong></td>
                                    <td colspan="2">@ViewBag.Rough_Plaster, @ViewBag.Tiling</td>
                                </tr>
                                <tr>
                                    <td><strong>Maintenance</strong></td>
                                    <td>@ViewBag.Maintenance_Of_Property</td>
                                    <td>&nbsp;</td>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="5"><strong>Configuration</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="5" valign="top">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="1">
                                            <tr>
                                                <td width="17%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center"><strong>Floor</strong></div></td>
                                                <td width="19%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center"><strong>Bedroom</strong></div></td>
                                                <td width="18.9%" style="border-bottom:1px solid #000000;"><div align="center"><strong>Kitchen</strong></div></td>
                                                <td width="14%" style="border-bottom:1px solid #000000;"><div align="center"><strong>Hall</strong></div></td>
                                                <td width="13%" style="border-bottom:1px solid #000000;"><div align="center"><strong>Bathroom</strong></div></td>
                                                <td width="18%" style="border-bottom:1px solid #000000;"><div align="center"><strong>Usage Remarks</strong></div></td>
                                            </tr>
                                            <tr>
                                                <td height="17" bgcolor="#FFFFFF" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">@ViewBag.NoOfFloors</div></td>
                                                <td bgcolor="#FFFFFF" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">@ViewBag.NoOfBedroms</div></td>
                                                <td bgcolor="#FFFFFF" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">@ViewBag.NoOfKitchens</div></td>
                                                <td bgcolor="#FFFFFF" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">@ViewBag.NoOfHalls</div></td>
                                                <td bgcolor="#FFFFFF" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center">&nbsp;</div></td>
                                                <td bgcolor="#FFFFFF" style="border-bottom:1px solid #000000;"><div align="center">&nbsp;</div></td>
                                            </tr>
                                            @*<tr>
                                                <td bgcolor="#FFFFFF" style="border-right:1px solid #000000;"><div align="center">Floor No</div></td>
                                                <td bgcolor="#FFFFFF" style="border-right:1px solid #000000;"><div align="center">Floor No</div></td>
                                                <td bgcolor="#FFFFFF" style="border-right:1px solid #000000;"><div align="center">Floor No</div></td>
                                                <td bgcolor="#FFFFFF" style="border-right:1px solid #000000;"><div align="center">Floor No</div></td>
                                                <td bgcolor="#FFFFFF" style="border-right:1px solid #000000; "><div align="center">Floor No</div></td>
                                                <td bgcolor="#FFFFFF"><div align="center">Floor No</div></td>
                                            </tr>*@


                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>

        <tr>
            <td valign="top">
                <table width="100%" cellspacing="0" cellpadding="10" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;">
                    <tr>
                        <td valign="top">
                            <table width="100%" border="1" cellpadding="1" cellspacing="0">
                                <tr>
                                    <td rowspan="9" valign="top"><div align="center">VI</div></td>
                                    <td colspan="5"><strong>Additional Due diligence</strong></td>
                                </tr>
                                <tr>
                                    <td><strong>Name of the FPR met at site</strong></td>
                                    <td>@ViewBag.Name</td>
                                    <td rowspan="3"><strong>Relationship with Applicant</strong></td>
                                    <td colspan="2" valign="top">Customer / Seller / Broker / Customer Representative / Tenant / Seller Representative / Others</td>
                                </tr>
                                <tr>
                                    <td><strong>Contact Number</strong></td>
                                    <td>@ViewBag.P_Contact_Num</td>
                                    <td width="12%"><div align="center">If Others, pls specify</div></td>
                                    <td width="11%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><strong>KYC Reference</strong></td>
                                    <td>-</td>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><strong>Verification of the Society Ownership name board</strong></td>
                                    <td>@ViewBag.Customer_Name_On_Board</td>
                                    <td><strong>Owner's Name matching </strong></td>
                                    <td colspan="2">@ViewBag.Society_OR_Building_Name</td>
                                </tr>
                                <tr>
                                    <td><strong>Discrepancies if any</strong></td>
                                    <td colspan="4"><div align="center">No</div></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><strong>Loan proposal in hand to be briefed to the FPR facilitating property inspection </strong></td>
                                    <td colspan="2"> (Y/N)</td>
                                </tr>
                                <tr>
                                    <td><strong>Occupancy status</strong></td>
                                    <td>@ViewBag.Occupancy_Details</td>
                                    <td><strong>Relationship with Applicant</strong></td>
                                    <td colspan="2">Customer / Seller / Broker / Customer Representative / Tenant / Seller Representative / Others</td>
                                </tr>
                                <tr>
                                    <td><strong>Occupied by</strong></td>
                                    <td>@ViewBag.Name_Of_Occupant</td>
                                    <td><strong>Residing since</strong></td>
                                    <td colspan="2">@ViewBag.Occupied_Since</td>
                                </tr>
                                <tr>
                                    <td colspan="6">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td rowspan="4" valign="top"><div align="center">VII</div></td>
                                    <td colspan="5"><strong>Valuation</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="5"><strong>Area Details (Bungalow or Construction</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="5" valign="top">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="17%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Floor Of the unit</strong></td>
                                                <td width="13%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="left"><strong>Approved Carpet Area Sq. ft.</strong></div></td>
                                                <td width="11%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Approved Built-up area Sq. ft.</strong></td>
                                                <td width="12%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Measured Carpet Area Sq. Ft.</strong></td>
                                                <td width="10%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Measured Built-up Area Sq. Ft. </strong></td>
                                                <td width="13%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Adopted Area Sq. Ft.</strong></td>
                                                <td width="12%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Adopted Rate for Construction</strong></td>
                                                <td width="12%" style="border-bottom:1px solid #000000;"><strong>Value in Rs.</strong></td>
                                            </tr>
                                            @for (int idx = 0; idx < Model.ival_ProjectFloorWiseBreakUps.Count; idx++)
                                            {
                                                <tr>

                                                    <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                                        <div align="center"><strong><label>@Model.ival_ProjectFloorWiseBreakUps[idx].Floor_Type</label></strong></div>
                                                    </td>
                                                    <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                                        <div align="center"> <label>@Model.ival_ProjectFloorWiseBreakUps[idx].Approved_Carpet_Area </label></div>
                                                    </td>
                                                    <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                                        <div align="center"> @Model.ival_ProjectFloorWiseBreakUps[idx].Approved_Built_up_Area </div>
                                                    </td>
                                                    <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                                        <div align="center"> @Model.ival_ProjectFloorWiseBreakUps[idx].Measured_Carpet_Area </div>
                                                    </td>
                                                    <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                                        <div align="center"> @Model.ival_ProjectFloorWiseBreakUps[idx].Measured_Built_up_Area </div>
                                                    </td>
                                                    <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                                        <div align="center"> @Model.ival_ProjectFloorWiseBreakUps[idx].Adopted_Area_for_Valuation </div>
                                                    </td>
                                                    <td style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                                        <div align="center"> @Model.ival_ProjectFloorWiseBreakUps[idx].Adopted_Cost_Construction </div>
                                                    </td>
                                                    <td style="border-bottom:1px solid #000000;">
                                                        <div align="center">@Model.ival_ProjectFloorWiseBreakUps[idx].Total </div>
                                                    </td>
                                                </tr>
                                            }
                                            <tr>
                                                <td colspan="8"><strong>Valuation Working</strong></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td width="10%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center"><strong>Area</strong></div></td>
                                                <td width="10%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><div align="center"><strong>Rate per Sq. Ft.</strong></div></td>
                                                <td width="16%" style="border-bottom:1px solid #000000;"><div align="center"><strong>Value</strong></div></td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">Plot Area</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">@ViewBag.Adopted_Area_for_Valuation</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">@ViewBag.Adopted_Plot_Land_Rate</td>
                                                <td style="border-bottom:1px solid #000000;">@ViewBag.Value_of_Plot</td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Total</strong></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td style="border-bottom:1px solid #000000;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Amenities </strong></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td style="border-bottom:1px solid #000000;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">Amenities 1</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td style="border-bottom:1px solid #000000;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">Amenities 2</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td style="border-bottom:1px solid #000000;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">Amenities 3</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td style="border-bottom:1px solid #000000;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Amenities Sub Total</strong></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">&nbsp;</td>
                                                <td style="border-bottom:1px solid #000000;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Grand Total (For plot + Construction and total value of plot) (For Flat etc. Value of flat + Amenties to be added)</strong></td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">@ViewBag.Adopted_Area_for_Valuation</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">@ViewBag.Adopted_Plot_Land_Rate</td>
                                                <td style="border-bottom:1px solid #000000;">@ViewBag.Total_Value_of_Property</td>
                                            </tr>

                                            <tr>
                                                <td colspan="4" valign="middle"><div align="center"><strong>( INR Words - @ViewBag.ToatalInWords)</strong></div></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="2" valign="top"><div align="center">VIII</div></td>
                                    <td colspan="5"><strong>Progress Assessment</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <table width="100%" cellspacing="0" cellpadding="0">

                                            <tr>
                                                <td width="17%" rowspan="2" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Property</strong></td>
                                                <td width="22%" rowspan="2" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Stage of Construction</strong></td>
                                                <td width="21%" rowspan="2" style="border-right:1px solid #000000; border-bottom:1px solid #000000;">@ViewBag.StageOfConstruction</td>
                                                <td width="18%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>% Progress</strong></td>
                                                <td width="22%" style="border-bottom:1px solid #000000;">@ViewBag.PerWorkCompleted</td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>% Reco</strong></td>
                                                <td style="border-bottom:1px solid #000000;">@ViewBag.PerDisbursement</td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2" style="border-right:1px solid #000000;"><strong>Amenities</strong></td>
                                                <td rowspan="2" style="border-right:1px solid #000000;"><strong>stage of construction</strong></td>
                                                <td rowspan="2" style="border-right:1px solid #000000;"></td>
                                                <td style="border-right:1px solid #000000;"><strong>% Progress</strong></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td style="border-right:1px solid #000000;"><strong>% Reco</strong></td>
                                                <td></td>
                                            </tr>


                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="5">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" valign="top"><div align="center">IX</div></td>
                                    <td><strong>Deviations if any</strong></td>
                                    <td colspan="4"><div align="center">@ViewBag.Deviation_Description</div></td>
                                </tr>
                                <tr>
                                    <td><strong>Remarks</strong></td>
                                    <td colspan="4"><div align="center">@ViewBag.Remarks</div></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td colspan="5">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td valign="top"><div align="center">X</div></td>
                                    <td><strong>Property Photographs</strong></td>
                                    <td colspan="4">
                                        <table width="100%" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="27%" height="22" style="border-right:1px solid #000000; border-bottom:1px solid #000000;">Attachment 1</td>
                                                <td width="25%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;">External</td>
                                                <td width="24%" rowspan="2" style="border-right:1px solid #000000; border-bottom:1px solid #000000;">Lattitude</td>
                                                <td width="24%" rowspan="2" style="border-right:1px solid #000000; border-bottom:1px solid #000000;">@ViewBag.Cord_Latitude1</td>
                                            </tr>

                                            <tr>
                                                <td height="24" style="border-right:1px solid #000000; border-bottom:1px solid #000000;">Attachment 2</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">Vicinity</td>
                                            </tr>
                                            <tr>
                                                <td height="22" style="border-right:1px solid #000000; border-bottom:1px solid #000000;">Attachment 3</td>
                                                <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">Internal</td>
                                                <td rowspan="2" style="border-right:1px solid #000000;">Longitude</td>
                                                <td rowspan="2" style="border-right:1px solid #000000;">@ViewBag.Cord_Longitude1</td>
                                            </tr>
                                            <tr>
                                                <td height="21" style="border-right:1px solid #000000;">Attachment 4</td>
                                                <td style="border-right:1px solid #000000;">Internal with FPR</td>
                                            </tr>


                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>


        <tr>
            <td valign="top">
                <table width="100%" cellspacing="10" cellpadding="0" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:17px;margin-bottom:220px;">

                    <tr>
                        <td valign="top">
                            <table width="100%" border="1" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="102">&nbsp;</td>
                                    <td colspan="5"><div align="center">Property Photographs</div></td>
                                </tr>

                                <tr>
                                    <td colspan="5" height="50" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table style="width:1000px;height:50px; " cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                                            <tr>
                                                <td valign="top">

                                                    @*<div style="display: inline-block;padding-left:117px;">*@
                                                    @for (int idx = 0; idx < Model.Image_Uploaded_List.Count; idx++)
                                                    {



                                                        <div style="display: inline-block; margin-bottom:10px;padding-left:55px;margin-top:20px;">
                                                            <div> <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="250" height="300"></div>
                                                        </div>

                                                        if (idx % 3 == 2)
                                                        {
                                                            <br />
                                                        }


                                                    }
                                                    @*</div>*@
                                                </td>
                                            </tr>


                                        </table>
                                    </td>
                                </tr>



                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>


        <tr>
            <td valign="top">
                <table style="width:1000px;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px" border="1" cellspacing="0" cellpadding="10">
                    <tr>
                        <td valign="top"><div align="center">XI</div></td>
                        <td colspan="5">
                            <table width="100%" cellspacing="0" cellpadding="0" border="1">
                                <tr>
                                    <td width="16%" height="22" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Date of Visit</strong></td>
                                    <td width="44%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;">@ViewBag.Date_of_Inspection</td>
                                    <td width="13%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Visited by</strong></td>
                                    <td width="27%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;">@ViewBag.SiteEngineer</td>
                                </tr>
                                <tr>
                                    <td height="24" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Date of Report</strong></td>
                                    <td style="border-right:1px solid #000000; border-bottom:1px solid #000000;">@ViewBag.RequestDate</td>
                                    <td width="13%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;"><strong>Approved by</strong></td>
                                    <td width="27%" style="border-right:1px solid #000000; border-bottom:1px solid #000000;">i-Value Advisory LLP</td>
                                </tr>
                                <tr>
                                    <td height="22" style="border-right:1px solid #000000;"><strong>Date of Approval</strong></td>
                                    <td style="border-right:1px solid #000000;">@ViewBag.Date_of_Valuation</td>
                                    <td style="border-right:1px solid #000000;"><strong>Report of</strong></td>
                                    <td style="border-right:1px solid #000000;">Agency/ In-house</td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="5">
                            <p>
                                <br />
                                <strong>Declaration :</strong><br />
                                I hereby <br />
                                declare that:
                            </p>
                            <p>
                                1. We have no direct or indirect interest in the property valued. <br />
                                2. The information furnished in the report is true and correct to the best of our knowledge and belief.<br />
                                3. We are relied on the Documents Provided by the Client &amp; We have assumed that its verified by them. <br />
                                4. We have not carried out any legal due diligence of the property, any disputes regarding ownership, title, marketability of the property any change the valuation substantially. <br />
                                5. The fair market value indicated in the report is an opinion of the value prevailing on the date of the said report and is based on market feedback on values of similar properties. The client is free to obtain other independent opinions on the same. The fair, market value of such properties/localities may increase or decrease, depending on the future market conditions and scenarios.
                            </p>
                            <p>
                                Signature of Valuer <br />
                                Name of Valuer<br />
                                Date <br />
                                <br />
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
                <input type="text" id="txtId1" class="form-control" value="@ViewBag.RequestId" style=" visibility:hidden;">
                @*<p>@Html.ActionLink("Convert View To PDF", "PrintViewToPdfForHdfc")</p>*@
                <input type="button" id="ConvertPdf" class="no-print" value="Convert to PDF" onclick="location.href='@Url.Action("PrintViewToPdfForHdfc", "Report")?id=' + document.getElementById('txtId1').value" />
</body>
</html>
