﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
                /**/

                Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        @@media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <table width="800" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top">
                <table width="100%" cellspacing="0" cellpadding="11" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-bottom:120px;">

                    <tr>
                        <td valign="top">
                            <table width="100%" border="1" cellpadding="0" cellspacing="0">
                                <tr>
                                    @*<td colspan="5" bgcolor="#726f68" style="padding:5px; color:#FFFFFF;"><div align="center"><strong>(Plot No-9, Chitrangan Colony, Anandwali Shiwar, Nashik-422013) admin.nsk@i-value.co</strong></div></td>*@
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#df5f30" style="padding:5px"><div align="center"><strong>Valuation report for Sundaram Home Finance Limited.</strong></div></td>
                                </tr>
                                <tr>
                                    <td width="30%" valign="middle" bgcolor="#F8CAAC" style="padding:5px;"><strong>Name of the customer</strong></td>
                                    <td width="24%" valign="top" style="padding:5px;max-width:400px;word-wrap:break-word;">@if(ViewBag.Customer_Name != ""){ <label> @ViewBag.Customer_Name</label> } 
									
									@if(ViewBag.Customer_Name_1 != ""){ <label> , @ViewBag.Customer_Name_1</label> }
									</td>
                                    <td width="24%" valign="middle" bgcolor="#F8CAAC" style="padding:5px"><strong>Site visit  Date</strong></td>
                                    <td width="22%" colspan="2" valign="top" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Date_of_Inspection</td>
                                </tr>
                                <tr>
                                    <td valign="middle" bgcolor="#F8CAAC" style="padding:5px"><strong>Customer contact Details</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">
									@if(ViewBag.Customer_Contact_No_1 != ""){ <label>  @ViewBag.Customer_Contact_No_1</label> }
										@if(ViewBag.Customer_Contact_No_2 != ""){ <label>  @ViewBag.Customer_Contact_No_2</label> }
									</td>
                                    <td valign="middle" bgcolor="#F8CAAC" style="padding:5px"><strong>Report release date</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.RequestDate</td>
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Personal Information</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Application no</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Customer_Application_ID</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Transaction Type</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.TransactionType</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Name of the customer</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">@if(ViewBag.Customer_Name != ""){ <label> @ViewBag.Customer_Name</label> } 
									
									@if(ViewBag.Customer_Name_1 != ""){ <label> , @ViewBag.Customer_Name_1</label> }</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Contact No</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@if(ViewBag.Customer_Contact_No_1 != ""){ <label>  @ViewBag.Customer_Contact_No_1</label> }
										@if(ViewBag.Customer_Contact_No_2 != ""){ <label>  @ViewBag.Customer_Contact_No_2</label> }</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Person met at site</strong></td>
                                    <td colspan="3" style="padding:5px;max-width:6400px;word-wrap:break-word;">
									@if(ViewBag.Name != ""){ <label> , @ViewBag.Name</label> }
										@if(ViewBag.P_Contact_Num != ""){ <label>  @ViewBag.P_Contact_Num</label> }
									
							</td>


                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Name Of the document holder.</strong></td>
                                    <td colspan="3" style="padding:5px;max-width:600px;word-wrap:break-word;">
                                        @if (ViewBag.Document_Holder_Name != "")
                                        {
                                        <label>  @ViewBag.Document_Holder_Name </label>
   

    }
    @if (ViewBag.Document_Holder_Name_1 != "")
    {
        <label>, @ViewBag.Document_Holder_Name_1 </label>
            }
</td>


                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Address</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>As per Legal Documents</strong></td>
                                    <td>
                                        <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;max-width:400px;word-wrap:break-word;">@ViewBag.Address1</textarea>


                                    </td>
                                    <td>
                                        <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;max-width:400px;word-wrap:break-word;">@ViewBag.Address2</textarea>


                                    </td>
                                    <td colspan="2">
                                        <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;max-width:400px;word-wrap:break-word;">@ViewBag.Address3</textarea>


                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>As per Actual at Site</strong></td>
                                    <td>
                                        <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;max-width:400px;word-wrap:break-word;">@ViewBag.Address1</textarea>


                                    </td>
                                    <td>
                                        <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;max-width:400px;word-wrap:break-word;">@ViewBag.Address2</textarea>


                                    </td>
                                    <td colspan="2">
                                        <textarea id="w3review" name="w3review" rows="4" cols="25" style=" border:none;max-width:400px;word-wrap:break-word;">@ViewBag.Address3</textarea>


                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Location &amp; Property Details (As per site visit)</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Status of Holding</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">
									
									@if(ViewBag.Type_Of_Ownership != "Please select"){ <label>  @ViewBag.Type_Of_Ownership</label> }
									</td>
                                    <td bgcolor="#f8caac" style="padding:5px;max-width:400px;word-wrap:break-word;"><strong>Delivery Agency</strong></td>
                                    <td colspan="2" style="padding:5px">i-Value Advisory LLP</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Type of Property</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Property_Type</td>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Name of the State</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.State</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Street on which Property is Located</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Street</td>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Occupation Status</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Occupancy_Details</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Main Locality</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">
									@if(ViewBag.Locality != "Please Select"){ <label>  @ViewBag.Locality</label> }
									</td>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Sub Locality</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.City</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Pin Code</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">
									@if(ViewBag.PinCode != "Please Select"){ <label>  @ViewBag.PinCode</label> }
									
									</td>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Nearest Landmark</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.NearBy_Landmark</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Type of Locality as per Latest DP</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Type_of_Locality</td>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Property Usage</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Actual_Usage_Of_Property</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Is property Identifiable</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Property_Identified_PName</td>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Is Property Demarcated  Separately</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Plot_Demarcated_at_site</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Identified Through</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Property_Identified_PName</td>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Name of city/Town</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.City</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Roof Construction</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Rough_Plaster</td>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Type of Structure</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Type_Of_Structure</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>No. of floors in the building</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Approved_No_of_Floors</td>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Located on floor no.</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Floor_Of_Unit</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Units in Building</strong></td>
                                    <td style="padding:5px">@ViewBag.Floor_Of_Unit</td>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Quality of Construction</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Quality_Of_Construction</td>
                                </tr>
                                <tr>
                                    <td height="45" bgcolor="#f8caac" style="padding:5px"><strong>External Finish</strong></td>
                                    <td height="45" style="padding:5px">@ViewBag.Rough_Plaster</td>
                                    <td height="45" bgcolor="#f8caac" style="padding:5px"><strong>Type of  Flooring</strong></td>
                                    <td height="45" colspan="2" style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Type_of_Flooring</td> @*@ViewBag.Wall_Finish, @ViewBag.Plumbing_Fitting, @ViewBag.Electrical_Fittings*@
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Age of Property</strong></td>
                                    <td style="padding:5px">@ViewBag.Current_Age_Of_Property</td>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Life of Property (in future)</strong></td>
                                    <td colspan="2" style="padding:5px">@ViewBag.Residual_Age_Of_Property</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Latitude</strong></td>
                                    <td style="padding:5px">@ViewBag.Cord_Latitude1</td>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Longitude</strong></td>
                                    <td colspan="2" style="padding:5px">@ViewBag.Cord_Longitude1</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#f8caac" style="padding:5px"><strong>Extra Amenities Available</strong></td>
                                    <td colspan="3" style="padding:5px;max-width:800px;word-wrap:break-word;">@ViewBag.Facilities</td>

                                </tr>


                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" cellspacing="0" cellpadding="10" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-top:88px;margin-bottom:300px;">

                    <tr>
                        <td valign="top">
                            <table width="100%" border="1" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Zone/Location/Surrounding/Civic Amenities</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Infrastructure in the Surrounding</strong></td>
                                    <td style="padding:5px">@ViewBag.BasicInfra</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Class of Locality</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:200px;word-wrap:break-word;">@ViewBag.Class_of_Locality</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Type of Road</strong></td>
                                    <td style="padding:5px">@ViewBag.Road_Finish</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Is Property Demarcated  Separately</strong></td>
                                    <td colspan="2" style="padding:5px;max-width:200px;word-wrap:break-word;">@ViewBag.Plot_Demarcated_at_site</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Width of road</strong></td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;" >
                                        @if (ViewBag.Road1 != "")
                                        {
                                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">@ViewBag.Road1</textarea>

                                        }
                                        @if (ViewBag.Road2 != "")
                                        {
                                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">,@ViewBag.Road2</textarea>

                                        }
                                        @if (ViewBag.Road3 != "")
                                        {
                                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">,@ViewBag.Road3</textarea>

                                        }
                                        @if (ViewBag.Road4 != "")
                                        {
                                            <textarea id="w3review" name="w3review" rows="1" cols="25" style=" border:none;">,@ViewBag.Road4</textarea>

                                        }

                                    </td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Marketability </strong></td>
                                    <td colspan="2" style="padding:5px;;max-width:200px;word-wrap:break-word;">@ViewBag.Marketability_Of_Property</td>
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Connectivity</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Distance from Local Bus Stand</strong></td>
                                    <td style="padding:5px">@ViewBag.Nearest_BusStop</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Distance from Railway station</strong></td>
                                    <td colspan="2" style="padding:5px">@ViewBag.Nearest_RailwayStation</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Distance from Main Market</strong></td>
                                    <td style="padding:5px">@ViewBag.Nearest_Market</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><strong>Distance from Airport</strong></td>
                                    <td colspan="2" style="padding:5px">&nbsp;</td>
                                </tr>
                                <tr height="30">
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Setbacks/Margin (As per document)</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr height="30">
                                    @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                                    {

                                        <td id="value26" style="display:none">
                                            <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                                        </td>
                                        <td align="center"  height="30" id="valuesidemargintype" align="center" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                            <p><label>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</label></p>
                                        </td>




                                    }

                                    @*<td bgcolor="#F8CAAC" style="padding:5px"><div align="center">Front</div></td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">Rear</div></td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">Left side</div></td>
                                    <td colspan="2" bgcolor="#F8CAAC" style="padding:5px"><div align="center">Right side</div></td>*@
                                </tr>
                                <tr height="30">
                                    @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                                    {

                                        <td id="value26" style="display:none">
                                            <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                                        </td>
                                        <td align="center" height="30" id="value21" align="center" style="border-bottom:1px solid #000000;border-right:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].As_per_Local_Bye_Laws</label></td>




                                    }
                                    @*<td style="padding:5px">&nbsp;</td>
                                    <td style="padding:5px">&nbsp;</td>
                                    <td style="padding:5px">&nbsp;</td>
                                    <td colspan="2" style="padding:5px">&nbsp;</td>*@
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Setbacks/Margin (As per Site Visit)</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr height="30">
                                    @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                                    {

                                        <td id="value26" style="display:none">
                                            <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                                        </td>
                                        <td id="valuesidemargintype" height="30" align="center" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                            <p><label>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</label></p>
                                        </td>




                                    }
                                    @*<td bgcolor="#F8CAAC" style="padding:5px"><div align="center">Front</div></td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">Rear</div></td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">Left side</div></td>
                                    <td colspan="2" bgcolor="#F8CAAC" style="padding:5px"><div align="center">Right side</div></td>*@
                                </tr>
                                <tr height="30">
                                    @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                                    {

                                        <td id="value26" style="display:none">
                                            <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                                        </td>
                                        <td id="value21" height="30" align="center" style="border-bottom:1px solid #000000;border-right:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].As_Actuals</label></td>




                                    }
                                    @*<td style="padding:5px">&nbsp;</td>
                                    <td style="padding:5px">&nbsp;</td>
                                    <td style="padding:5px">&nbsp;</td>
                                    <td colspan="2" style="padding:5px">&nbsp;</td>*@
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px"><div align="center"><strong>Boundraries of flat (As per Documents)</strong></div></td>
                                </tr>
                                <tr height="30">
                                    @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                                    {


                                        <td height="30" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                            <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                                        </td>




                                    }
                                    @*<td bgcolor="#F8CAAC" style="padding:5px"><div align="center">North</div></td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">East</div></td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">West</div></td>
                                    <td colspan="2" bgcolor="#F8CAAC" style="padding:5px"><div align="center">South</div></td>*@
                                </tr>
                                <tr height="30">
                                    @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                                    {



                                        <td height="30" style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                            <div align="center"> <label>@Model.ival_ProjectBoundaries[idx].AsPer_Document </label></div>
                                        </td>



                                    }
                                    @*<td style="padding:5px">&nbsp;</td>
                                    <td style="padding:5px">&nbsp;</td>
                                    <td style="padding:5px">&nbsp;</td>
                                    <td colspan="2" style="padding:5px">&nbsp;</td>*@
                                </tr>
                                <tr>
                                    <td height="30" colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Boundraries of flat (As per Site Visit)</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr height="30">
                                    @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                                    {


                                        <td height="30" style="border-bottom:1px solid #000000;border-right:1px solid #000000; background-color:#F8CBAC;">
                                            <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                                        </td>




                                    }
                                    @*<td bgcolor="#F8CAAC" style="padding:5px"><div align="center">North</div></td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">East</div></td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">West</div></td>
                                    <td colspan="2" bgcolor="#F8CAAC" style="padding:5px"><div align="center">South</div></td>*@
                                </tr>
                                <tr height="30">
                                    @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                                    {


                                        <td height="30" style="border-bottom:1px solid #000000;border-right:1px solid #000000;">
                                            <div align="center"> @Model.ival_ProjectBoundaries[idx].AsPer_Site </div>
                                        </td>




                                    }
                                    @*<td style="padding:5px">&nbsp;</td>
                                    <td style="padding:5px">&nbsp;</td>
                                    <td style="padding:5px">&nbsp;</td>
                                    <td colspan="2" style="padding:5px">&nbsp;</td>*@
                                </tr>
                                <tr height="30">
                                    <td height="30" colspan="5" bgcolor="#DF5F30" style="padding:5px"><div align="center"><strong>Height/Storeys</strong></div></td>
                                </tr>
                                <tr>
                                    <td colspan="5" ><div align="center">@ViewBag.Approved_No_of_Floors</div></td>
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Property Details As Per Approval</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Hall</div></td>
                                    <td align="center" style="padding:5px">@ViewBag.NoOfHalls</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Bedrooms</div></td>
                                    <td align="center" colspan="2" style="padding:5px">@ViewBag.NoOfBedroms</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Kitchen</div></td>
                                    <td  align="center" style="padding:5px">@ViewBag.NoOfKitchens</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of balcony</div></td>
                                    <td align="center" colspan="2" style="padding:5px">@ViewBag.NoofBalconies</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of Toilet</div></td>
                                    <td align="center" style="padding:5px">@ViewBag.NoofToilets</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"><div align="center">No. of allowted Parking</div></td>
                                    <td  align="center" colspan="2" style="padding:5px">@ViewBag.NoofParking</td>
                                </tr>
                               

                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table cellspacing="0" cellpadding="10" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-bottom:300px;width:100%;margin-top:110px;">

                    <tr>
                        <td valign="top">
                            <table width="100%" border="1" cellpadding="10" cellspacing="0">
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Area and accommodation Details (Sq.ft) (for flat, shop, office, industrial gala)</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="1" style="border-color:black;">
                                            <tr>
                                                <td width="25%" bgcolor="#F8CAAC"><div align="center">Measured Carpet Area (Sq. ft) </div></td>
                                                <td width="18%" bgcolor="#F8CAAC"><div align="center">Loading % on Carpet area</div></td>
                                                <td width="20%" bgcolor="#F8CAAC"><div align="center">Measured BUA Sq. ft.</div></td>
                                                <td width="21%" bgcolor="#F8CAAC"><div align="center">Total Approved plan/ Sale deed BUA</div></td>
                                                <td width="35%" bgcolor="#F8CAAC"><div align="center">Adopted Saleable area</div></td>
                                            </tr>
                                            <tr>
                                                <td style="max-width:300px;word-wrap:break-word;"><div align="center">@ViewBag.MeasuredCarpetArea Sq.ft</div></td>
                                                <td style="max-width:300px;word-wrap:break-word;"><div align="center">@ViewBag.LoadingPer % </div></td>
                                                <td style="max-width:300px;word-wrap:break-word;"><div align="center">@ViewBag.MeasuredSaleableArea Sq.ft</div></td>
                                                <td style="max-width:300px;word-wrap:break-word;"><div align="center">@ViewBag.ApprovedcarpetArea Sq.ft</div></td>
                                                <td style="max-width:300px;word-wrap:break-word;">@ViewBag.ApprovedSaleableArea Sq.ft</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px"><div align="center"><strong>Property Valuation (For Flat or Shop)</strong></div></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px">Adopted Saleable area</td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;">@ViewBag.Adopted_Area_for_Valuation Sq.ft</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px">Recommended Rate Range Rs. per  Sq. ft</td>
                                    <td colspan="2" style="padding:5px;max-width:200px;word-wrap:break-word;">Rs. @ViewBag.Rate_range_in_Locality /Sq.ft</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px">Rate Considerd Rs. Per sq. Ft.</td>
                                    <td style="padding:5px;max-width:400px;word-wrap:break-word;"> Rs. @ViewBag.Adopted_Rate_for_the_Unit /Sq.ft</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px"> Current Value of Property </td>
                                    <td colspan="2" style="padding:5px;max-width:300px;word-wrap:break-word;"><strong>Rs.@ViewBag.Current_Value_of_Property</strong></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px">Parking Area</td>
                                    <td style="padding:5px">&nbsp;</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px">Rate Considerd for the Parking</td>
                                    <td colspan="2" style="padding:5px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" " style="padding:5px">Parking  Value (Rs)</td>
                                    <td style="padding:5px">Parking Area X Rate for Parking</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px">Total Value of property (in Rs)</td>
                                    <td colspan="2" style="padding:5px"><strong>Rs.@ViewBag.Total_Value_of_Property</strong></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px">In Words (INR)</td>

                                    <td colspan="3" style="padding:5px;max-width:800px;word-wrap:break-word;">@ViewBag.TotalFlatwords</td>
                                </tr>

                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Stage of Construction</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px">% Completion</td>
                                    <td style="padding:5px">@ViewBag.PerWorkCompleted %</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px">% Recommendation</td>
                                    <td colspan="2" style="padding:5px">@ViewBag.PerDisbursement %</td>
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Guidline &amp; Distress/Forced Sale Value</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC"  style="padding:5px">Government Guideline/Circle Rate for Land (Rs per Sq.ft)</td>
                                    <td style="padding:5px">@ViewBag.GovRate Rs./Sq.ft</td>
                                    <td bgcolor="#F8CAAC"  style="padding:5px">Land Value as per Government Rate (Rs)</td>
                                    <td colspan="2"  style="padding:5px">Rs.@ViewBag.Government_Value</td>
                                </tr>





                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table style="width:100%;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-bottom:300px;margin-top:600px;margin-bottom:270px;" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">

                    <tr>
                        <td colspan="5" bgcolor="#DF5F30" style="padding:5px"><div align="center"><strong>Property Specific Remark &amp; Observation</strong></div></td>
                    </tr>
                    <tr>
                        <td height="440" bgcolor="#F8CAAC" style="padding:5px">Remarks</td>
                        <td colspan="4"  height="440" valign="top"><textarea id="w3review" name="w3review" rows="10" cols="100" style=" border:none;vertical-align:top;">@ViewBag.Remarks</textarea></td>
                    </tr>
                    <tr>
                        <td colspan="5" bgcolor="#DF5F30" height="40">
                            <div align="center"><strong>Documents Provided</strong></div>
                          
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px">Document</td>
                        <td style="padding:5px"><div align="center">Approval No.</div></td>
                        <td style="padding:5px"><div align="center">Date</div></td>
                        <td colspan="2" style="padding:5px"><div align="center">Authority</div></td>
                    </tr>

                    @for (int idx = 0; idx < Model.ival_Document_Uploaded_ListS.Count; idx++)
                    {
                        <tr>

                            <td style="padding:5px;">
                                <strong><label>@Model.ival_Document_Uploaded_ListS[idx].Document_Name </label></strong>
                            </td>
                            <td style="padding:5px;">
                                <label>@Model.ival_Document_Uploaded_ListS[idx].Approval_Number </label>
                            </td>
                            <td style="padding:5px;">
                                <label>@Model.ival_Document_Uploaded_ListS[idx].Date_Of_ApprovalNew </label>
                            </td>
                            <td style="padding:5px;">
                                <label>@Model.ival_Document_Uploaded_ListS[idx].Approval_Authority </label>
                            </td>
                        </tr>

                    }
                   
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table style="width:100%;font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-bottom:550px;margin-top:460px;" border="1" cellpadding="0" cellspacing="0" bordercolor="#000000">
                    <tr>
                        <td colspan="5" bgcolor="#DF5F30" style="padding:5px">
                            <div align="center"><strong>Location as per Google map</strong></div>
                            <div align="center"></div>
                            <div align="center"></div>
                            <div align="center"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" align="center">
                            <input type="hidden" value="~/images/@ViewBag.GoogleMapImage" />
                            <div style="display:inline-block; margin-bottom:80px;margin-top:20px;">
                                <img class="img-responsive" src="~/images/@ViewBag.GoogleMapImage" width="650" height="450">
                            </div>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table cellspacing="0" cellpadding="10" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;width:100%;margin-bottom:40px;margin-top:250px;">
                    <tr>
                        <td valign="top">
                            <table border="1">
                                <tr>
                                    <td colspan="5" bgcolor="#DF5F30" style="padding:5px"><div align="center"><strong>Property Photographs</strong></div></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F8CAAC" style="padding:5px">Name of Customer</td>
                                    <td style="padding:5px">@ViewBag.Customer_Name   @ViewBag.Customer_Name_1</td>
                                    <td bgcolor="#F8CAAC" style="padding:5px">Proposal ID</td>
                                    <td colspan="2" style="padding:5px">@ViewBag.Customer_Application_ID</td>
                                </tr>
                                <tr>

                                    <td colspan="5" style="background-color:#FFFFFF; padding:0; margin:0; line-height:0; font-size:28px; color:#000000;">
                                        <table style="width:1000px;" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" border="1">
                                            <tr>
                                                <td valign="top">
                                                    @*<div style="display: inline-block;padding-left:117px;">*@
                                                    @for (int idx = 0; idx < Model.Image_Uploaded_List.Count; idx++)
                                                    {



                                                        <div style="display: inline-block;padding-bottom:33px;padding-left:100px;margin-top:10px;">
                                                            <div> <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="360" height="310"></div>
                                                        </div>

                                                        if (idx % 2 == 2)
                                                        {
                                                            <br />
                                                        }


                                                    }
                                                    @*</div>*@
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" cellspacing="0" cellpadding="10" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;margin-top:200px;">

                    <tr>
                        <td valign="top">
                            <table width="100%" border="1" cellpadding="0" cellspacing="0">

                                <tr>
                                    <td height="40" colspan="5" bgcolor="#DF5F30" style="padding:5px">
                                        <div align="center"><strong>Disclaimer</strong></div>
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" style="padding:5px">
                                        1. We have no direct or indirect interest in the property valued.<br />
                                        2. The information furnished in the report is true and correct to the best of our knowledge and belief.<br />
                                        3. We have relied on the Documents Provided by the Client &amp; We have assumed that clients have verified the same.<br />
                                        4.We have not carried out any legal due diligence of the property, any disputes regarding ownership, title, marketability of the property will change the valuation substantially.<br />
                                        5. The fair market value indicated in the report is an opinion of the value prevailing on the date of the said report and is based on market feedback on values of similar properties. The fair, market value of such properties/localities may increase or decrease, depending on the market conditions and scenarios.<br />
                                        6. This report is valid for 30 days from the date of this report.
                                    </td>
                                </tr>
                                <tr>
                                    <td width="25%" bgcolor="#F8CAAC" style="padding:5px">Name of Engineer Visited the Site</td>
                                    <td width="25%" style="padding:5px">@ViewBag.SiteEngineer</td>
                                    <td width="25%" bgcolor="#F8CAAC" style="padding:5px">Authorized Signatory Name &amp; Signature</td>
                                    <td width="25%" style="padding:5px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="5" bgcolor="#d9650f" style=" font-size:15px;padding:5px;">
                                        <div align="center"><strong>IGR Photo</strong></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                        <div align="center"></div>
                                    </td>
                                </tr>
                               

                                <tr>
                                    <td colspan="5" align="center">
                                        <input type="hidden" value="~/images/@ViewBag.IGRImage"/>
                                      
                                        <div style="display:inline-block; margin-bottom:10px;margin-top:10px;">
                                            <img class="img-responsive" src="~/images/@ViewBag.IGRImage" width="760" height="565">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
   
</body>
</html>
