﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>View Report By ID</h3><br />
        <input type="text" id="txtReportId" class="form-control" /><br /><br />
       
        <input type="button" class="btn btn-success" value="View Report" onclick="location.href='@Url.Action("EdelweissFinanceMultiUnit", "Report")?id=' + document.getElementById('txtReportId').value" />
    </div>
</body>
</html>
