﻿@model I_Value.WebApp.Models.ViewModelRequest
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <table width="800" border="0" align="center" cellpadding="10" cellspacing="0" style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:15px;">
        <tr>
            <td><p align="left">On the request of the Manager of<strong><em> YES Bank Limited,</em></strong> subject  property was inspected to assess its value and the details are as furnished  below: - </p></td>
        </tr>
        <tr>
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="24%" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Branch  Name</td>
                        <td width="24%" style="border-top:1px solid #000000; padding:5px;">@ViewBag.BranchName</td>
                        <td width="25%" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Type  of case</td>
                        <td width="27%" style="border-top:1px solid #000000; padding:5px;">@ViewBag.TransactionType</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Valuer’s  Name</td>
                        <td style="border-top:1px solid #000000; padding:5px;">I value Advisory LLP</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Date  of visit</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Date_of_Inspection</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Visiting  Engg Name</td>
                        <td style="border-top:1px solid #000000; padding:5px;" @ViewBag.SiteEngineer</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Time  of visit</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Case  Ref. No</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Customer_Application_ID</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Date  of report</td>
                        <td style="border-top:1px solid #000000;">@ViewBag.RequestDate</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Person  contacted for property inspection with contact details</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Name, @ViewBag.P_Contact_Num</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;"><strong>1.Basic Details</strong></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Applicants  Name</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Customer_Name, @ViewBag.Customer_Name_1</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Name  of Owners</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Document_Holder_Name, @ViewBag.Document_Holder_Name_1</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Type  of property</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Property_Type</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Current  usage</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Actual_Usage_Of_Property</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Property  / Site Address</td>
                        <td colspan="3" style="border-top:1px solid #000000; padding:5px;"><textarea id="textreview" name="w3review" rows="4" cols="100" style=" border:none;">@ViewBag.Plot_Number, @ViewBag.Survey_Number, @ViewBag.Village_Name, @ViewBag.Street, @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode </textarea></td>

                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Address  as per Docs </td>
                        <td colspan="3" style="border-top:1px solid #000000; padding:5px;"><textarea id="textreview" name="w3review" rows="4" cols="100" style=" border:none;">@ViewBag.Plot_Number, @ViewBag.Survey_Number, @ViewBag.Village_Name, @ViewBag.Street, @ViewBag.Locality, @ViewBag.Sub_Locality, @ViewBag.City, @ViewBag.District, @ViewBag.State, @ViewBag.PinCode </textarea></td>

                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:5px;">Has the valuer done valuation of  this property before? If yes, for whom &amp; when:</td>
                    </tr>
                    <tr>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;"><strong>2.Surroundings & Locality Details</strong></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Zoning as per Master Plan /  Development plan</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Type_of_Locality</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Proximity from civic  amenities / public transport</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.LocalTransport</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Class of locality (High /  Middle Class / Lower / Negative)</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Class_of_Locality</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Nearest Railway Station</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Nearest_RailwayStation</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Site (Developed /  under-developed)</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.BasicInfra</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Nearest Bus Stop</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Nearest_BusStop</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Nearest Landmark</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.NearBy_Landmark</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Distance from City Centre</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.DistFrom_City_Center</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:2px; padding:5px;">Condition and width of  approach road: -</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.AdjoiningRoad_Width1, @ViewBag.AdjoiningRoad_Width2, @ViewBag.AdjoiningRoad_Width3, @ViewBag.AdjoiningRoad_Width4</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;"><strong>3.Property Details</strong></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="24%" bgcolor="#F4F4F4" style="padding:2px; padding:5px;">Brief description of the  property</td>
                                    <td width="19%" style="padding:5px;">@ViewBag.Property_Description</td>
                                    <td width="18%" style="padding:5px;">&nbsp;</td>
                                    <td width="21%" style="padding:5px;">&nbsp;</td>
                                    <td width="21%" style="padding:5px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000;  padding:5px;">Internal visit done</td>
                                    <td width="19%" style="border-top:1px solid #000000; padding:5px;">@ViewBag.BasicInfra</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Occupant</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Vacant/Occupied</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Occupancy_Details</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Name of Occupant</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Name_Of_Occupant</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Relation with applicant</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Self / Tenant / any other</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                </tr>

                                <tr>
                                    <td colspan="4" style="border-top:1px solid #000000; padding:20px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td rowspan="4" valign="top" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;"><p>Building details</p></td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Property Demarcated</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Plot_Demarcated_at_site</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Property Identified through</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Property_Identified_PName</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Type of structure</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Type_Of_Structure</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Land/Plot Area (SFT)</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Approved_Plot_Area</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">No of Blocks/Wings</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">No. of Floors</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Approved_No_of_Floors</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">No of Units per floor</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">No. of Lifts</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.No_Of_Lifts</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Amenities</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Facilities</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Unit details</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Located on Floor No.</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Floor_Of_Unit</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">No. of  rooms / Unit configuration</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="4"></td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Remarks on view from  property</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Remarks</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Present condition of </td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Exterior</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Interior</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">the property:</td>
                                    <td colspan="2" style="border-top:1px solid #000000; padding:5px;">@ViewBag.Type_of_Flooring, @ViewBag.Wall_Finish, @ViewBag.Plumbing_Fitting, @ViewBag.Electrical_Fittings</td>
                                    <td colspan="2" style="border-top:1px solid #000000; border-left:1px solid #000000; padding:5px;">@ViewBag.Rough_Plaster, @ViewBag.Tiling</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Property Age (Yrs)</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">@ViewBag.Current_Age_Of_Property</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Residual life (Yrs)</td>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">@ViewBag.Residual_Age_Of_Property</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" bgcolor="#F4F4F4" style="border-top:1px solid #000000; border-left:1px solid #000000; padding:5px;"><div align="center">Four Boundaries</div></td>
                        <td colspan="2" bgcolor="#F4F4F4" style="border-top:1px solid #000000; border-left:1px solid #000000; padding:5px;"><div align="center">As Per Document</div></td>
                        <td colspan="2" bgcolor="#F4F4F4" style="border-top:1px solid #000000; border-left:1px solid #000000; padding:5px;"><div align="center">As Per Site</div></td>

                    </tr>
                    @for (int idx = 0; idx < Model.ival_ProjectBoundaries.Count; idx++)
                    {
                        <tr>

                            <td colspan="1" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px; border-right:1px solid #000000;">
                                <div align="center"><strong><label>@Model.ival_ProjectBoundaries[idx].Boundry_Name</label></strong></div>
                            </td>
                            <td colspan="2" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;border-right:1px solid #000000;border-left:1px solid #000000;">
                                <div align="center"> <label>@Model.ival_ProjectBoundaries[idx].AsPer_Document </label></div>
                            </td>
                            <td colspan="2" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">
                                <div align="center"> @Model.ival_ProjectBoundaries[idx].AsPer_Site </div>
                            </td>

                        </tr>
                    }
                    @*<tr>
            <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Boundaries</td>
            <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
            <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
            <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Actual on site</td>
            <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
            <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
            <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">As per Title document</td>
            <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
            <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
            <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
        </tr>*@
                    <tr>
                        <td colspan="2" bgcolor="#DADADA" style="border-top:1px solid #000000; padding:5px;">Boundaries matching with  Sale Deed (Yes / No)</td>
                        <td colspan="2" style="border-top:1px solid #000000; padding:5px;">@ViewBag.Boundaries_Matching</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;"><strong>4.Sanction Plan Approval & Other Document details</strong></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Sanctioned plans details</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.DocumentName</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Construction permission /  Commencement Certificate /  OC / BCC</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.DocumentName</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Ownership type</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Type_Of_Ownership</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Property documents verified  (Any others)</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.DocumentName</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Is the property within  Municipal Limits</td>
                        <td style="border-top:1px solid #000000; padding:5px;"><div align="center">Yes / No</div></td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Permissible usage as per  sanctioned/approved plan</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.DocumentName</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="19%" bgcolor="#F4F4F4" style="padding:5px;"><div align="center"><strong>Setbacks</strong></div></td>
                                    <td width="12%" bgcolor="#F4F4F4" style="padding:5px;border-left:1px solid #000000;"><div align="center"><strong>As  per plan</strong></div></td>
                                    <td width="14%" bgcolor="#F4F4F4" style="padding:5px; border-left:1px solid #000000;"><div align="center"><strong>As  per Bye- Laws</strong></div></td>
                                    <td width="15%" bgcolor="#F4F4F4" style="padding:5px; border-left:1px solid #000000;"><div align="center"><strong>Actual  at site</strong></div></td>
                                    <td width="20%" bgcolor="#F4F4F4" style="padding:5px; border-left:1px solid #000000;"><div align="center"><strong>Extra  Coverage deviation as per Plan</strong></div></td>
                                    <td width="20%" bgcolor="#F4F4F4" style="padding:5px; border-left:1px solid #000000;"><div align="center"><strong>Extra  Coverage deviation as per bye-laws</strong></div></td>
                                </tr>
                                @for (int idx = 0; idx < Model.ival_ProjectSideMargins.Count; idx++)
                                {
                                    <tr>
                                        <td id="value26" style="display:none">
                                            <input style="display:none" type="text" id="ival_LookupCategorySideMargins_+@idx" name="ival_LookupCategorySideMargins_+@idx" value="@Model.ival_ProjectSideMargins[idx].Side_Margin_Description" />
                                        </td>
                                        <td id="valuesidemargintype" style="border-top:1px solid #000000; padding:5px; ">
                                            <p><label>@Model.ival_ProjectSideMargins[idx].Side_Margin_Description</label></p>
                                        </td>
                                        <td id="value21" style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].As_per_Approvals</label></td>
                                        <td id="value22" style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].As_per_Local_Bye_Laws</label></td>
                                        <td id="value23" style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].As_Actuals</label></td>
                                        <td id="value24" style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].Deviation_No</label></td>
                                        <td id="value25" style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;"> <label>@Model.ival_ProjectSideMargins[idx].Percentage_Deviation</label></td>


                                    </tr>
                                }
                                @*<tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Front</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Side 1 (Right</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Side2 (Left)</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Rear</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                    </tr>*@
                                <tr>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Deviations if any</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.Deviation_Description</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                    <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Demolition Risk</td>
                                    <td colspan="5" style="border-top:1px solid #000000; padding:5px;">@ViewBag.Risk_of_Demolition</td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;"><strong>5.Valuation</strong></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;"><strong>Area  Details</strong></td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">As  per Agreement / Sale Deed</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">@ViewBag.Area_as_per_Agreement</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">Sft</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">Carpet  / BUA / SBUA</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">As  per Plan</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">@ViewBag.Approved_Carpet_Area</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">Sft</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">Carpet  / BUA</td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">As  per Measurement</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">@ViewBag.MeasuredCarpetArea</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">Sft</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">Carpet  / BUA</td>
                    </tr>

                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;"><strong>A1: Land  + Construction Method (Applicable for Villa / Bunglow / Row House / Industrial)</strong></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;"><strong>Description</strong></td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;"><strong>Area  in Sft</strong></td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;"><strong>Rate  per Sft</strong></td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;"><strong>Value  in Rs.</strong></td>
                    </tr>
                    <tr>
                        <td style="border-top:1px solid #000000; padding:5px;">Land  area</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">@ViewBag.Adopted_Plot_Area_for_Valuation Sq.ft</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">@ViewBag.Adopted_Plot_Land_Rate Rs./Sq.ft</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">Rs.@ViewBag.Value_of_Plot</td>
                    </tr>
                    <tr>
                        <td style="border-top:1px solid #000000; padding:5px;">
                            Construction area
                            (Rate as per present condition of the property)
                        </td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="border-top:1px solid #000000; padding:5px;"><strong>Value  of Land + Construction in Rs. (A1)</strong></td>
                        <td style="border-top:1px solid #000000; padding:5px; border-left:1px solid #000000;">Rs.@ViewBag.Total_Land_Plot_Value</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:5px;"><strong>Value  of Amenities if applicable</strong></td>
                    </tr>
                    <tr>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">No  of car parks</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Rate  per car parking</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Value  of car park</td>
                        <td bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border-top:1px solid #000000; padding:5px;"><div align="right">……..Nos</div></td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Other  charges in Rs. (Lump Sum)</td>
                        <td style="border-top:1px solid #000000; padding:5px;">Rs.@ViewBag.Any_Other_Charges</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;"><strong>Total  Amenities charges (B)</strong></td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;"><strong>Total  Fair Market Value of the property: - A1 or (A2 + B)</strong></td>
                        <td style="border-top:1px solid #000000; padding:5px;">Rs.@ViewBag.Total_Land_Plot_Value</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;"><strong>Realizable Value</strong></td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;"><strong>Forced Sale Value / Distress Value</strong></td>
                        <td style="border-top:1px solid #000000; padding:5px;">Rs.@ViewBag.Distress_Value_of_Plot</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;"><strong>Ready Reckoner rate / Circle rate</strong></td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.GovRate Rs./Sq.ft</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;"><strong>Property Value as per Ready Reckoner/Circle Rate </strong></td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Insurance  value / Re-construction cost</td>
                        <td style="border-top:1px solid #000000; padding:5px;">Rs.@ViewBag.Cost_of_Construction</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Approx.  Rentals in case of 100% complete property</td>
                        <td style="border-top:1px solid #000000; padding:5px;">@ViewBag.PerWorkCompleted %</td>
                    </tr>
                    <tr>
                        <td colspan="3" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Supporting  explanation in case difference between FMV and Reckoner Rate is &gt;20%</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;">
                            <strong>6. </strong>
                            <strong>Market Comparison</strong>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="8%" bgcolor="#F4F4F4" style="padding:5px;">Sr  No.</td>
                                    <td width="50%" bgcolor="#F4F4F4" style="padding:5px;">Property  Details</td>
                                    <td width="17%" bgcolor="#F4F4F4" style="padding:5px;">Value</td>
                                    <td width="25%" bgcolor="#F4F4F4" style="padding:5px;">Date  of Transaction</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px; border-top:1px solid #000000;">1.</td>
                                    <td style="padding:5px; border-top:1px solid #000000;">&nbsp;</td>
                                    <td style="padding:5px; border-top:1px solid #000000;">&nbsp;</td>
                                    <td style="padding:5px; border-top:1px solid #000000;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:5px; border-top:1px solid #000000;">2.</td>
                                    <td style="padding:5px; border-top:1px solid #000000;">&nbsp;</td>
                                    <td style="padding:5px; border-top:1px solid #000000;">&nbsp;</td>
                                    <td style="padding:5px; border-top:1px solid #000000;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;"><strong>7. </strong> <strong>Stage of Construction</strong></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="58%" colspan="2" bgcolor="#F4F4F4" style="padding:5px;">Details</td>
                                    <td width="17%" bgcolor="#F4F4F4" style="padding:5px;">%  Progress</td>
                                    <td width="25%" bgcolor="#F4F4F4" style="padding:5px;">%  Recommendation</td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="padding:5px; border-top:1px solid #000000;">@ViewBag.StageOfConstruction</td>
                                    <td colspan="4" style="padding:5px; border-top:1px solid #000000;">@ViewBag.Stage_Of_construction_Per %</td>
                                    <td colspan="4" style="padding:5px; border-top:1px solid #000000;">@ViewBag.Disbursement_Recommand %</td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;"><strong>8. </strong> <strong>Remarks</strong></td>
                    </tr>
                    <tr>
                        <td colspan="2" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Negative  Remarks</td>
                        <td colspan="2" bgcolor="#F4F4F4" style="border-top:1px solid #000000; padding:5px;">Positive  Remarks</td>
                    </tr>
                    <tr>
                        <td height="90" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border-top:1px solid #000000; padding:5px;">Latitude  : @ViewBag.Cord_Latitude1</td>
                        <td colspan="2" style="border-top:1px solid #000000; padding:5px;">Longitude  : @ViewBag.Cord_Longitude1</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:5px;">Tentative  Completion Date <em>(For Construction Only)</em></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                        <td colspan="2" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;"><strong>Location Sketch</strong></td>
                    </tr>
                    <tr>
                        <td colspan="4" align="center" class="text"><img class="img-responsive" src="~/images/@ViewBag.GoogleMapImage" width="600" height="362"></td>
                    </tr>
                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;"><strong>Property Sketch</strong></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:25px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;"><strong>Property Photographs :</strong>(Minimum 4 photographs) (2 external and  2 internal)</td>
                    </tr>
                    <tr>
                        <table style="width:1000px; margin-bottom:400px; " cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
                            <tr>
                                <td valign="top">
                                    @*<div style="display: inline-block;padding-left:117px;">*@
                                    @for (int idx = 0; idx < Model.Image_Uploaded_List.Count; idx++)
                                    {



                                        <div style="display: inline-block;padding-left:50px;">
                                            <div> <img src="~/images/@Model.Image_Uploaded_List[idx].Image_Path" width="250" height="300"></div>
                                        </div>

                                        if (idx % 3 == 2)
                                        {
                                            <br />
                                        }


                                    }
                                    @*</div>*@
                                </td>
                            </tr>


                        </table>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:180px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="4" bgcolor="#D5F1F7" style="border-top:1px solid #000000; padding:5px;"><strong>Declaration</strong></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:5px;">
                            <p>I/We  hereby declare that:</p>
                            <ol>
                                <li>Our representative physically  inspected the property.</li>
                                <li>We have no direct/indirect interest  in the property valued.</li>
                                <li>Report is prepared based on the  information furnished to us or documents submitted or shown to us by the  client.</li>
                                <li>The fair market value indicated in  the report is an opinion of the value prevailing on the date of the said report  and is based on market feedback on values of similar properties. </li>
                                <li>The client is free to obtain other  independent opinions on the same. The fair market value of such  properties/localities may increase or decrease depending on the future market  conditions and scenarios. </li>
                                <li>This report does not certify of  confirm any ownership or title of the property that has been valued. The  ownership papers/sale deeds may please be verified at your end to ascertain the  right title &amp; area.</li>
                                <li>The services provided by ­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­­______________________________to  the Client will be limited to their use. The Report should not be used for any  other purpose.</li>
                                <li>The Report will reflect matters, as  they currently exist. Changes may materially affect the information contained  in the Report.</li>
                                <li>It should be noted that report  would be based upon the facts and evidence available at the date of assessment.  Periodical review of the same may be required. Changes in socio-economic,  economic policy and political conditions could result in a substantially  different situation than those presented at the stated effective date. ________  assumes no responsibility for changes in such external conditions.</li>
                                <li>We do not possess legal expertise  and hence recommend you to take opinion of legal expert in order to ensure that  there are no elements, restriction or charges contained which are likely to  have detrimental effect upon the value or marketability of property. </li>
                                <li>&nbsp;In the preparation of the  Report, we have relied on the following information:</li>
                                <ol>
                                    <li>Information provided to us by the  client and its affiliates and subsidiaries and third parties;</li>
                                    <li>Other relevant information provided  to us by the Client and its affiliates and subsidiaries at request;</li>
                                    <li>Other relevant information  available to us or publicly available.</li>
                                </ol>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000;">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td><p>For</p></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td><p>Sign &amp; Stamp</p></td>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td>Date:</td>
                                    <td><p>Place: </p></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="4" style="border-top:1px solid #000000; padding:5px;">&nbsp;</td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</body>
</html>
