﻿@model I_Value.WebApp.Models.VMBranchMaster
@{
    ViewBag.Title = "AddNewBranch";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<form action="~/Branch/AddNewBranch" method="post">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 style="padding-left:10px;">  Add Branch Details </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="content bg">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12 padd0">
                                <div class="card">
                                    <div class="card-body card-block">
                                        <div class="row">
                                            <div class="col-md-12"> Branch Details:</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Branch Code</label>
                                                    @Html.EditorFor(model => model.Branch_Code, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "Br_Code", onkeyup = "ClearBrCode();" } })
                                                    <span id="brcode" asp-validation-for="Pin" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Branch Name</label>
                                                    @Html.EditorFor(model => model.Branch_Name, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "Br_Name", onkeyup = "ClearBrName();" } })
                                                    <span id="brname" asp-validation-for="Pin" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Branch Head</label>
                                                    @Html.DropDownListFor(m => m.SelectedBranchHead, new SelectList(Model.branchHeadsList, "Employee_ID", "First_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedBranchHead", onchange = "ClearBrHead();" })
                                                    <span id="brhead" asp-validation-for="Pin" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 1</label>
                                                    @Html.EditorFor(model => model.Branch_Address1, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "Br_Addr1", onkeyup = "ClearBrAddr1();" } })
                                                    <span id="braddr1" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 2 </label>
                                                    @Html.EditorFor(model => model.Branch_Address2, new { htmlAttributes = new { @class = "form-control", id = "Br_Addr2", @Maxlength = "50" } })
                                                </div>
                                            </div>


                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">State:</label>
                                                    @Html.DropDownListFor(m => m.SelectedBranchStateID, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedBranchStateID", onchange = "ClearMsgState()" })
                                                    <span id="brstate" asp-validation-for="state" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">District</label>
                                                    @Html.DropDownListFor(m => m.SelectedBranchDistID, new SelectList(Enumerable.Empty<SelectListItem>(), "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedBranchDistID", onchange = "ClearMsgDist()" })
                                                    <span id="brdist" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City:</label>
                                                    @Html.DropDownListFor(m => m.SelectedBranchCityID, new SelectList(Enumerable.Empty<SelectListItem>(), "City_ID", "City_Name"), "Please Select", new { @class = "form-control", id = "Current_City1", @Maxlength = "50" })
                                                    @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                    <span id="spcity" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Locality</label>
                                                    @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                    @Html.DropDownListFor(m => m.SelectedBranchLocID, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", @Maxlength = "50", id = "SelectedBranchLocID", onchange = "GetPinByOnSelect(this.Loc_Id)" })
                                                    <span id="brloc" asp-validation-for="Loc" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Pin Code</label>
                                                    @Html.DropDownListFor(m => m.SelectedBranchPincode, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Pin_Code"), "Please Select", new
                                               {
                                                   @class = "form-control",
                                                   @Maxlength = "50",
                                                   id = "SelectedBranchPincode"@*, onchange = "ClearMsgPin1()"*@})
                                                    <span id="brpin" asp-validation-for="Pin" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div style="clear:both;"></div>
                                            <div class="col-12 col-md-4">
                                                <form>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optradio" id="Is_Owned" value="Owned" onclick="HideLeaseDatils(this);" checked>
                                                        Owned
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optradio" id="Is_Leased" value="Leased" onclick="ShowLeaseDetails(this);">
                                                        Leased
                                                    </label>
                                                </form>
                                                @*<input type="radio" name="Owned" value="Owned" id="Is_Owned" />
            <input type="radio" name="Leased" value="Leased" id="Is_Leased" />*@
                                                @* @Html.RadioButtonFor(m => m.Is_Leased, false,new { @checked = true, @onchange = "HideLeaseDatils(this);", id = "Is_Leased1" })
            <label for"Owned">Owned</label>
            @Html.RadioButtonFor(m => m.Is_Leased, true, new { @onchange = "ShowLeaseDetails(this);", id="Is_Leased" })
            <label for"Leased">Leased</label>
            @Html.ValidationMessageFor(m => m.Is_Leased)*@
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12" style="display:none" id="leasedOpt1">
                            <div class="col-lg-12 padd0">
                                <div class="card">
                                    <div class="card-body card-block">
                                        <div class="row">
                                            <div class="col-12 col-md-4" style="margin-bottom:20px;"> <span style="font-size:10px; color:#999999;">Note: show this if we select leased option</span> </div>
                                            <div class="col-md-12"> Lessor Details :</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">First Name:</label>
                                                    @Html.EditorFor(model => model.Lessor_First_Name, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "txtFname", onkeyup = "ClearFName()" } })
                                                    <span id="lfname" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Middle Name:</label>
                                                    @Html.EditorFor(model => model.Lessor_Middle_Name, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "txtMname", onkeyup = "ClearFName()" } })
                                                    <span id="lmname" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Last Name:</label>
                                                    @Html.EditorFor(model => model.Lessor_Last_Name, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "txtLname", onkeyup = "ClearLName()" } })
                                                    <span id="llname" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 1:</label>
                                                    @Html.EditorFor(model => model.Lessor_Address1, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "txtLAddr1", onkeyup = "ClearAddr1()" } })
                                                    <span id="laddr1" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Address 2:</label>
                                                    @Html.EditorFor(model => model.Lessor_Address2, new { htmlAttributes = new { @class = "form-control", id = "txtLAddr2", @Maxlength = "50" } })
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">State:</label>
                                                    @Html.DropDownListFor(m => m.SelectedLessorStateID, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLessorStateID", onchange = "ClearMsgState2()" })
                                                    <span id="lstate" asp-validation-for="state" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">District</label>
                                                    @Html.DropDownListFor(m => m.SelectedLessorDistID, new SelectList(Enumerable.Empty<SelectListItem>(), "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLessorDistID", onchange = "ClearMsgDist2()" })
                                                    <span id="ldist" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City:</label>
                                                    @Html.DropDownListFor(m => m.SelectedLessorCityID, new SelectList(Enumerable.Empty<SelectListItem>(), "City_ID", "City_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLessorCityID" })
                                                    @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                    <span id="spcity" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Locality</label>
                                                    @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                    @Html.DropDownListFor(m => m.SelectedLessorLocID, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", @Maxlength = "50", id = "SelectedLessorLocID", onchange = "GetPinByOnSelect1(this.Loc_Id)" })
                                                    <span id="lloc" asp-validation-for="Loc" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Pin Code</label>
                                                    @Html.DropDownListFor(m => m.SelectedLessorPincode, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", @Maxlength = "10", id = "SelectedLessorPincode", onchange = "ClearMsgPin1()" })
                                                    <span id="lpin" asp-validation-for="Pin" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Contact No:</label>
                                                    @Html.EditorFor(model => model.Lessor_Contact_Num, new { htmlAttributes = new { @class = "form-control", @type = "number", @Maxlength = "10", id = "Lessor_Contact", onchange = "ValidateMobile()" } })
                                                    <span id="lphone" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Email Id:</label>
                                                    @Html.EditorFor(model => model.Lessor_Email_ID, new { htmlAttributes = new { @class = "form-control", id = "Lessor_Email", onchange = "ValidateEmailBanks()" } })
                                                    <span id="lmail" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12" style="display:none" id="leasedOpt2">
                            <div class="col-lg-12 padd0">
                                <div class="card">
                                    <div class="card-body card-block">
                                        <div class="row">
                                            <div class="col-12 col-md-4" style="margin-bottom:20px;"> <span style="font-size:10px; color:#999999;">Note: show this if we select leased option</span> </div>
                                            <div class="col-md-12"> Lease Details:</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Lease Start Date:</label>
                                                    @*@Html.EditorFor(model => model.Lease_Start_Date, new { htmlAttributes = new { @class = "form-control date", id = "Lease_Start_Date", onkeyup = "ClearSdate()" } })*@
                                                    <input id="Lease_Start_Date" type="text" class="form-control date" onkeyup = "ClearSdate()">
                                                    <span id="leasesdate" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Lease End Date:</label>
                                                    @*@Html.EditorFor(model => model.Lease_End_Date, new { htmlAttributes = new { @class = "form-control date", id = "Lease_End_Date", onkeyup = "ClearEdate()" } })*@
                                                    <input id="Lease_End_Date" type="text" class="form-control date" onchange="DateVal()">
                                                    <span id="leaseedate" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Monthly Rental:</label>
                                                    @Html.EditorFor(model => model.Monthly_Rent, new { htmlAttributes = new { @class = "form-control", id = "Monthly_Rent", @type = "number", @step = "0.01" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Maintenance Charges:</label>
                                                    @Html.EditorFor(model => model.Maintaince_Charges, new { htmlAttributes = new { @class = "form-control", id = "Maintaince_Charges", @type = "number", @step = "0.01" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Other Charges:</label>
                                                    @Html.EditorFor(model => model.Other_Charges, new { htmlAttributes = new { @class = "form-control", id = "Other_Charges", @type = "number", @step = "0.01" } })
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                        <div style="clear:both;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-12 padd0">
                                <div class="card">
                                    <div class="card-body card-block">
                                        <div class="row" id="LeasedOpt3" style="display:none">
                                            @*<div class="col-12 col-md-4" style="margin-bottom:20px;"> <span style="font-size:10px; color:#999999;">Note: show this if we select leased option</span> </div>*@
                                            <div class="col-md-12">Landlord Bank Details :</div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Bank Name:</label>
                                                    @Html.EditorFor(model => model.LandLord_Bank, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "LL_Bank", onkeyup = "ClearBank()" } })
                                                    <span id="llbank" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Bank Branch Name</label>
                                                    @Html.EditorFor(model => model.LandLord_Branch, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "LL_Branch", onkeyup = "ClearBranch()" } })
                                                    <span id="llbranch" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Bank Branch Address 1:</label>
                                                    @Html.EditorFor(model => model.LandLord_Address1, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "LL_Addr1", onkeyup = "ClearBkAddr1()" } })
                                                    <span id="lladdr1" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Bank Branch Address 2:</label>
                                                    @Html.EditorFor(model => model.LandLord_Address2, new { htmlAttributes = new { @class = "form-control", id = "LL_Addr2", @Maxlength = "50" } })
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">State:</label>
                                                    @Html.DropDownListFor(m => m.SelectedLandlordStateID, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLandlordStateID", onchange = "ClearMsgState3()" })
                                                    <span id="llstate" asp-validation-for="state" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">District</label>
                                                    @Html.DropDownListFor(m => m.SelectedLandlordDistID, new SelectList(Enumerable.Empty<SelectListItem>(), "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLandlordDistID", onchange = "ClearMsgDist3()" })
                                                    <span id="lldist" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">City:</label>
                                                    @Html.DropDownListFor(m => m.SelectedLandlordCityID, new SelectList(Enumerable.Empty<SelectListItem>(), "City_ID", "City_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLandlordCityID" })
                                                    @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                    <span id="spcity" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Locality</label>
                                                    @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                    @Html.DropDownListFor(m => m.SelectedLandlordLocID, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", @Maxlength = "50", id = "SelectedLandlordLocID", onchange = "GetPinByOnSelect2(this.Loc_Id)" })
                                                    <span id="llloc" asp-validation-for="Loc" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="country" class=" form-control-label">Pin Code</label>
                                                    @Html.DropDownListFor(m => m.SelectedLandlordPincode, new SelectList(Enumerable.Empty<SelectListItem>(), "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", @Maxlength = "10", id = "SelectedLandlordPincode", onchange = "ClearMsgPin1()" })
                                                    <span id="llpin" asp-validation-for="Pin" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Account Type :</label>
                                                    @Html.DropDownListFor(m => m.SelectedAccountType, new SelectList(Model.AccountTypeList, "Value", "Text"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedAccTypeID", onchange = "ClearAccType()" })
                                                    <span id="llacctype" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">Account No:</label>
                                                    @Html.EditorFor(model => model.Account_Number, new { htmlAttributes = new { @class = "form-control", @type = "number", @Maxlength = "50", id = "Acc_Num", onkeyup = "ClearAccNo()" } })
                                                    <span id="llaccno" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">IFSC Code:</label>
                                                    @Html.EditorFor(model => model.IFSC_Num, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "IFSC_Num", onkeyup = "ClearIFSCNo()" } })
                                                    <span id="ifscno" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">PAN Number:</label>
                                                    @Html.EditorFor(model => model.PAN_Num, new { htmlAttributes = new { @class = "form-control", id = "PAN_Num", onkeyup = "ClearPANNo()", @Maxlength = "10" } })
                                                    <span id="panno" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4">
                                                <div class="form-group">
                                                    <label for="company" class=" form-control-label">GSTIN Number:</label>
                                                    @Html.EditorFor(model => model.GSTIN_Num, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "GSTIN_Num", onkeyup = "ClearGSTNo()" } })
                                                    <span id="gstinno" asp-validation-for="dist" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                        <div style="clear:both;"></div>
                                        <div class="pull-right">
                                            <button type="button" value="Submit" onclick="AddNewBranch1();" class="btn btn-success btn-sm pull-right">Submit</button>
                                            <button type="button" class="btn btn-secondary btn-sm pull-right margin-r-5" data-dismiss="modal" onclick="BackToMain();">Cancel</button>
                                            @*<a class="btn btn-success btn-sm" href="i-Value-Branch-Master.html">Submit</a> <a class="btn btn-success btn-sm" href="i-Value-Branch-Master.html">Cancel</a>*@
                                            @*<input type="submit" value="Submit" class="btn btn-success btn-sm pull-right" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .animated -->
                </div>
            </div>
            <!-- Default box -->
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</form>
<script src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript">


    //    $(document).ready(function () {
    //        //initial div
    //        $("#ownedID").show(600);
    //        $("#p2").hide();
    //            $("#OwnedRdio").click(function () {
    //                console.log("click");
    //                 $("#ownedID").show(600);
    //                 $("#leasedOpt1").hide("slow");
    //                 $("#leasedOpt2").hide("slow");
    //                 $("#LeasedOpt3").hide("slow");
    //            });
    //        $("#LeaseID").click(function () {
    //            $("#ownedID").hide(600);
    //        $("#leasedOpt1").show("slow");
    //        $("#leasedOpt2").show("slow");
    //        $("#LeasedOpt3").show("slow");
    //    });
    //});
    function ShowLeaseDetails(el) {

        $("#leasedOpt1").show("slow");
        $("#leasedOpt2").show("slow");
        $("#LeasedOpt3").show("slow");
        //$('#brachId').prop('readonly', false);
    }
    function HideLeaseDatils(el) {
        $("#leasedOpt1").hide("slow");
        $("#leasedOpt2").hide("slow");
        $("#LeasedOpt3").hide("slow");
        $('#brachId').prop("readonly", true);
    }
</script>
<script>
    function ValidateEmailBanks() {
        var email = document.getElementById("Lessor_Email").value;
        var lblError = document.getElementById("lmail");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }

    function ValidateMobile() {

        var phonenumber = document.getElementById("Lessor_Contact").value;
        var lblError = document.getElementById("lphone");
        lblError.innerHTML = "";
        var expr = /^\d{10}$/;
        if (!expr.test(phonenumber)) {
            lblError.innerHTML = "Invalid Mobile Number";
        }
    }  
</script>
<script>
    function BackToMain() {
                window.location.href = '@Url.Action("index", "Branch")';
    }

    function process(date) {
        var parts = date.split("/");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }

    function DateVal() {
        var startDate = document.getElementById("Lease_Start_Date").value;
        var endDate = document.getElementById("Lease_End_Date").value;
        var d1 = process(startDate);
        var d2 = process(endDate);
        $("#leaseedate").html("");
        if (d1.getTime() > d2.getTime()) {
           $("#leaseedate").html("End date should be greater than Start date");
            //$("#leaseedate").css("display", "block");
        } 
    }
       
</script>

<script>
    var AddBranchDetails = [];
    function AddNewBranch1() {
       // alert($("#SelectedLessorPincode").text());
        var brCode = $("#Br_Code").val();
        var brName = $("#Br_Name").val();
        var brHead = $("#SelectedBranchHead").val();
        var brAddr1 = $("#Br_Addr1").val();
        var brState = $("#SelectedBranchStateID").val();
        var brDist = $("#SelectedBranchDistID").val();
        var brCity = $("#SelectedBranchLocID").val();
        //var brPin = $("#SelectedBranchPincode option:selected").text();

        //var Is_Owned = $("#Is_Owned").val();
        //var Is_Leased = $("#Is_Leased").val();
        var Is_Leased = $("#Is_Leased").prop("checked") ? true : false;
        var LFname = $("#txtFname").val();
        var LLname = $("#txtLname").val();
        var LAddr1 = $("#txtLAddr1").val();
        var LState = $("#SelectedLessorStateID").val();
        var LDist = $("#SelectedLessorDistID").val();
        var LCity = $("#SelectedLessorLocID").val();
        //var LPin = $("#SelectedLessorPincode").val();
        var LPhone = $("#Lessor_Contact").val();
        var LEmail = $("#Lessor_Email").val();

       @* var LeaseSDate = $("#Lease_Start_Date").val();
        var LeaseEDate = $("#Lease_End_Date").val();*@

        var LLBankName = $("#LL_Bank").val();
        var LLBrName = $("#LL_Branch").val();
        var LLBrAddr1 = $("#LL_Addr1").val();
        var LLBankState = $("#SelectedLandlordStateID").val();
        var LLBankDist = $("#SelectedLandlordDistID").val();
        var LLBankCity = $("#SelectedLandlordLocID").val();

        var LLBkAccType = $("#SelectedAccTypeID").val();
        var LLBkAccNo = $("#Acc_Num").val();
        var LLBankIFSC = $("#IFSC_Num").val();
        var LLPAN = $("#PAN_Num").val();
        var LLGSTIN = $("#GSTIN_Num").val();
        if (Is_Leased) {
            if (brCode == "" || brName == "" || brHead == "" || brAddr1 == "" || brState == "" || brDist == "" || brCity == ""
                @*|| brPin == ""*@ || LFname == "" || LLname == "" || LAddr1 == "" || LState == "" || LDist == ""
                || LCity == "" @*|| LPin == ""*@ || LPhone == "" || LEmail == ""
                @*|| LeaseSDate == "" || LeaseEDate == ""*@ || LLBankName == "" || LLBrName == "" || LLBrAddr1 == "" || LLBankState == ""
                || LLBankDist == "" || LLBankCity == "" || LLBkAccType == "" || LLBkAccNo == "" || LLBankIFSC == "" || LLPAN == "" || LLGSTIN == "") {

                if (brCode == "" && brName == "" && brHead == "" && brAddr1 == "" && brState == "" && brDist == "" && brCity == ""
                   @* && brPin == ""*@ && LFname == "" && LLname == "" && LAddr1 == "" && LState == "" && LDist == ""
                    && LCity == "" @*&& LPin == "" *@&& LPhone == "" && LEmail == ""
                    @*&& LeaseSDate == "" && LeaseEDate == "" *@&& LLBankName == "" && LLBrName == "" && LLBrAddr1 == "" && LLBankState == ""
                    && LLBankDist == "" && LLBankCity == "" && LLBkAccType == "" && LLBkAccNo == "" && LLBankIFSC == "" && LLPAN == "" && LLGSTIN == "") {

                    $("#brcode").html("Please enter branch code");
                    $("#brcode").css("display", "block");
                    $("#brname").html("Please enter Branch name");
                    $("#brname").css("display", "block");
                    $("#brhead").html("Please select branch head");
                    $("#brhead").css("display", "block");
                    $("#braddr1").html("Please enter branch address");
                    $("#braddr1").css("display", "block");
                    $("#brstate").html("Please select state");
                    $("#brstate").css("display", "block");
                    $("#brdist").html("Please select district");
                    $("#brdist").css("display", "block");
                    $("#brloc").html("Please select city");
                    $("#brloc").css("display", "block");
                    @*$("#brpin").html("Please select pincode");
                    $("#brpin").css("display", "block");*@
                    $("#lfname").html("Please enter First Name");
                    $("#lfname").css("display", "block");
                    $("#llname").html("Please enter last name");
                    $("#llname").css("display", "block");
                    $("#laddr1").html("Please Enter Address");
                    $("#laddr1").css("display", "block");
                    $("#lstate").html("Please select State");
                    $("#lstate").css("display", "block");
                    $("#ldist").html("Please select District");
                    $("#ldist").css("display", "block");
                    $("#lloc").html("Please Select City");
                    $("#lloc").css("display", "block");
                    @*$("#lpin").html("Please Select Pincode");
                    $("#lpin").css("display", "block");*@
                    $("#lphone").html("Please enter Phone No");
                    $("#lphone").css("display", "block");
                    $("#lmail").html("Please enter Email");
                    $("#lmail").css("display", "block");

                    @*$("#leasesdate").html("Please enter Start Date");
                    $("#leasesdate").css("display", "block");
                    $("#leaseedate").html("Please enter End Date");
                    $("#leaseedate").css("display", "block");*@

                    $("#llbank").html("Please enter Bank Name");
                    $("#llbank").css("display", "block");
                    $("#llbranch").html("Please enter Branch Name");
                    $("#llbranch").css("display", "block");
                    $("#lladdr1").html("Please Enter Landlord Address");
                    $("#lladdr1").css("display", "block");
                    $("#llstate").html("Please select State");
                    $("#llstate").css("display", "block");
                    $("#lldist").html("Please select District");
                    $("#lldist").css("display", "block");
                    $("#llloc").html("Please select City");
                    $("#llloc").css("display", "block");
                   @* $("#llpin").html("Please Select Pincode");
                    $("#llpin").css("display", "block");*@


                    $("#llacctype").html("Please select Account Type");
                    $("#llacctype").css("display", "block");
                    $("#llaccno").html("Please enter Account No");
                    $("#llaccno").css("display", "block");
                    $("#ifscno").html("Please enter IFSC no");
                    $("#ifscno").css("display", "block");
                    $("#panno").html("Please enter PAN No");
                    $("#panno").css("display", "block");
                    $("#gstinno").html("Please enter GST No");
                    $("#gstinno").css("display", "block");

                }

                if (brCode == "") {
                    $("#brcode").html("Please enter branch code");
                    $("#brcode").css("display", "block");
                    //return false;
                }
                if (brName == "") {
                    $("#brname").html("Please enter branch Name");
                    $("#brname").css("display", "block");
                    //return false;
                }
                if (brHead == "") {
                    $("#brhead").html("Please select branch head");
                    $("#brhead").css("display", "block");
                    //return false;
                }
                if (brAddr1 == "") {
                    $("#braddr1").html("Please enter branch Address");
                    $("#braddr1").css("display", "block");
                    //return false;
                }
                if (brState == "") {
                    $("#brstate").html("Please select branch state");
                    $("#brstate").css("display", "block");
                    //return false;
                }
                if (brDist == "") {
                    $("#brdist").html("Please select branch District");
                    $("#brdist").css("display", "block");
                    //return false;
                }
                if (brCity == "") {
                    $("#brloc").html("Please select branch City");
                    $("#brloc").css("display", "block");
                    //return false;
                }
                @*if (brPin == "") {
                    $("#brpin").html("Please Select branch Pincode");
                    $("#brpin").css("display", "block");
                    return false;
                }*@
                if (LFname == "") {
                    $("#lfname").html("Please Enter Name");
                    $("#lfname").css("display", "block");
                    //return false;
                }
                if (LLname == "") {
                    $("#llname").html("Please enter last name");
                    $("#llname").css("display", "block");
                    //return false;
                }
                if (LAddr1 == "") {
                    $("#laddr1").html("Please Enter Address");
                    $("#laddr1").css("display", "block");
                    //return false;
                }
                if (LState == "") {
                    $("#lstate").html("Please select State");
                    $("#lstate").css("display", "block");
                    //return false;
                }
                if (LDist == "") {
                    $("#ldist").html("Please select District");
                    $("#ldist").css("display", "block");
                    //return false;
                }
                if (LCity == "") {
                    $("#lloc").html("Please Select City");
                    $("#lloc").css("display", "block");
                    //return false;
                }
                if (LPhone == "") {
                    $("#lphone").html("Please enter Phone No");
                    $("#lphone").css("display", "block");
                    //return false;
                }
                if (LEmail == "") {
                    $("#lmail").html("Please enter Email");
                    $("#lmail").css("display", "block");
                    //return false;
                }
                @*if (LeaseSDate == "") {
                    $("#leasesdate").html("Please enter Start Date");
                    $("#leasesdate").css("display", "block");
                    //return false;
                }
                if (LeaseEDate == "") {
                    $("#leaseedate").html("Please enter Start Date");
                    $("#leaseedate").css("display", "block");
                    //return false;
                }*@
                if (LLBankName == "") {
                    $("#llbank").html("Please enter Bank Name");
                    $("#llbank").css("display", "block");
                    //return false;
                }
                if (LLBrName == "") {
                    $("#llbranch").html("Please enter Branch Name");
                    $("#llbranch").css("display", "block");
                    //return false;
                }
                if (LLBrAddr1 == "") {
                    $("#lladdr1").html("Please Enter Landlord Address");
                    $("#lladdr1").css("display", "block");
                    //return false;
                }
                if (LLBankState == "") {
                    $("#llstate").html("Please select State");
                    $("#llstate").css("display", "block");
                    //return false;
                }
                if (LLBankDist == "") {
                    $("#lldist").html("Please select District");
                    $("#lldist").css("display", "block");
                    //return false;
                }
                if (LLBankCity == "") {
                    $("#llloc").html("Please select City");
                    $("#llloc").css("display", "block");
                    //return false;
                }
                if (LLBkAccType == "") {
                    $("#llacctype").html("Please select Account Type");
                    $("#llacctype").css("display", "block");
                    //return false;
                }
                if (LLBkAccNo == "") {
                    $("#llaccno").html("Please enter Account No");
                    $("#llaccno").css("display", "block");
                }
                if (LLBankIFSC == "") {
                    $("#ifscno").html("Please enter IFSC no");
                    $("#ifscno").css("display", "block");
                }
                if (LLPAN == "") {
                    $("#panno").html("Please enter PAN No");
                    $("#panno").css("display", "block");
                }
                if (LLGSTIN == "") {
                    $("#gstinno").html("Please enter GST No");
                    $("#gstinno").css("display", "block");
                }
            } else {
                
                AddBranchDetails.push({
                    Lessor_Fname: $("#txtFname").val(),
                    Lessor_Mname: $("#txtMname").val(),
                    Lessor_Lname: $("#txtLname").val(),
                    Lessor_Address1: $("#txtLAddr1").val(),
                    Lessor_Address2: $("#txtLAddr2").val(),

                    Lessor_City: $("#SelectedLessorLocID option:selected").val(),
                    Lessor_State: $("#SelectedLessorStateID option:selected").val(),
                    Lessor_Dist: $("#SelectedLessorDistID option:selected").val(),
                    Lessor_City1: $("#SelectedLessorCityID option:selected").val(),
                    Lessor_Pin: $("#SelectedLessorPincode option:selected").text(),
                    Lessor_Contact: $("#Lessor_Contact").val(),
                    Lessor_Email: $("#Lessor_Email").val(),

                    Lease_Start_Date: $("#Lease_Start_Date").val(),
                    Lease_End_Date: $("#Lease_End_Date").val(),
                    Monthly_Rent: $("#Monthly_Rent").val(),
                    Maintaince_Charges: $("#Maintaince_Charges").val(),
                    Other_Charges: $("#Other_Charges").val(),

                    LL_Bank: $("#LL_Bank").val(),
                    LL_Branch: $("#LL_Branch").val(),
                    LL_Address1: $("#LL_Addr1").val(),
                    LL_Address2: $("#LL_Addr2").val(),
                    LL_State: $("#SelectedLandlordStateID option:selected").val(),
                    LL_Dist: $("#SelectedLandlordDistID option:selected").val(),
                    LL_City: $("#SelectedLandlordLocID option:selected").val(),
                    LL_City1: $("#SelectedLandlordCityID option:selected").val(),
                    LL_Pin: $("#SelectedLandlordPincode option:selected").text(),
                    Acc_Type: $("#SelectedAccTypeID option:selected").val(),
                    Acc_No: $("#Acc_Num").val(),
                    IFSC_Num: $("#IFSC_Num").val(),
                    PAN_Num: $("#PAN_Num").val(),
                    GSTIN_Num: $("#GSTIN_Num").val(),

                    Br_Code: $("#Br_Code").val(),
                    Br_Name: $("#Br_Name").val(),
                    Br_Head: $("#SelectedBranchHead option:selected").val(),
                    Br_Addr1: $("#Br_Addr1").val(),
                    Br_Addr2: $("#Br_Addr2").val(),
                    Br_State: $("#SelectedBranchStateID option:selected").text(),
                    Br_Dist: $("#SelectedBranchDistID option:selected").val(),
                    Br_City: $("#SelectedBranchLocID option:selected").val(),
                    Br_Pin: $("#SelectedBranchPincode option:selected").text(),
                    Is_Leased: $("#Is_Leased").prop("checked") ? true : false,
                    Branch_Loc: $("#Current_City1 option:selected").val(),
                    
                    //Is_Leased: document.getElementById('Is_Leased').value
                });

                var str = JSON.stringify(AddBranchDetails);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("AddNewBranch", "Branch")',
                    data: { str: str },
                    Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data) {
                        //alert(data["Message"]);
                        alert('Branch Details Added successfully');
                        window.location.href = '@Url.Action("index", "Branch")';
                    },
                });

            }
        }

        else if (brCode == "" || brName == "" || brHead == "" || brAddr1 == "" || brState == "" || brDist == "" || brCity == "") {
            if (brCode == "") {
                $("#brcode").html("Please enter branch code");
                $("#brcode").css("display", "block");
                //return false;
            }
            if (brName == "") {
                $("#brname").html("Please enter branch Name");
                $("#brname").css("display", "block");
                //return false;
            }
            if (brHead == "") {
                $("#brhead").html("Please select branch head");
                $("#brhead").css("display", "block");
                //return false;
            }
            if (brAddr1 == "") {
                $("#braddr1").html("Please enter branch Address");
                $("#braddr1").css("display", "block");
                //return false;
            }
            if (brState == "") {
                $("#brstate").html("Please select branch state");
                $("#brstate").css("display", "block");
                //return false;
            }
            if (brDist == "") {
                $("#brdist").html("Please select branch District");
                $("#brdist").css("display", "block");
               // return false;
            }
            if (brCity == "") {
                $("#brloc").html("Please select branch City");
                $("#brloc").css("display", "block");
                //return false;
            }
            @*if (brPin == "") {
                $("#brpin").html("Please Select branch Pincode");
                $("#brpin").css("display", "block");
                return false;
            }*@
               
        } else {
            AddBranchDetails.push({
                //Lessor_Fname: $("#txtFname").val(),
                Br_Code: $("#Br_Code").val(),
                Br_Name: $("#Br_Name").val(),
                Br_Head: $("#SelectedBranchHead option:selected").val(),
                Br_Addr1: $("#Br_Addr1").val(),
                Br_Addr2: $("#Br_Addr2").val(),
                Br_State: $("#SelectedBranchStateID option:selected").text(),
                Br_Dist: $("#SelectedBranchDistID option:selected").val(),
                Br_City: $("#SelectedBranchLocID option:selected").val(),
                Br_Pin: $("#SelectedBranchPincode option:selected").text(),
                Is_Leased: $("#Is_Leased").prop("checked") ? true : false,
                Branch_Loc: $("#Current_City1 option:selected").val()
                //Is_Leased: document.getElementById('Is_Leased').value
            });

            var str = JSON.stringify(AddBranchDetails);

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddNewBranch", "Branch")',
                data: { str: str },
                Response: ContentType = 'application/json;charset=utf-8',
                success: function (data) {
                    //alert(data["Message"]);
                    alert('Branch Details Added successfully');
                    window.location.href = '@Url.Action("index", "Branch")';
                },
            });
        }
    }
    
</script>
   <script>
        function ClearMsgState() {
           $("#brstate").html("Please select State").hide();
       }
           
       function ClearBrAddr1() {
           $("#braddr1").html("Please enter branch Address").hide();
               }
       function ClearBrCode() {
           $("#brcode").html("Please select Branch").hide();
       }
       function ClearBrName() {
           $("#brname").html("Please Enter First Name").hide();
       }
       function ClearBrHead() {
           $("#brhead").html("Please enter Middle Name").hide();
       }
       function ClearMsgDist() {
           $("#brdist").html("Please enter Last Name").hide();
       }
       function ClearFName() {
           $("#lfname").html("Please enter Phone No").hide();
       }
       function ClearLName() {
           $("#llname").html("Please enter Current Email").hide();
       }

       function ClearAddr1() {
           $("#laddr1").html("Please enter Personal Email").hide();
       }
       function ClearMsgState2() {
           $("#lstate").html("Please enter Current Address").hide();
       }
       function ClearMsgDist2() {
           $("#ldist").html("Please enter City").hide();
       }

       function ClearPhone() {
           $("#lphone").html("Please enter District").hide();
       }
       function ClearSdate() {
           $("#leasesdate").html("Please enter Emergeny Contact Name").hide();
       }
       function ClearEdate() {
           $("#leaseedate").html("Please enter Emergeny Contact No").hide();
       }
       function ClearBkAddr1() {
           $("#lladdr1").html("Please enter Bank Name").hide();
       }
       function ClearBranch() {
           $("#llbranch").html("Please select Bank Pincode").hide();
       }
       function ClearBank() {
           $("#llbank").html("Please select Pincode").hide();
       }
       function ClearMsgState3() {
           $("#llstate").html("Please enter Bank Address").hide();
       }
       function ClearMsgDist3() {
           $("#lldist").html("Please enter Bank City").hide();
       }
       function ClearAccType() {
           $("#llacctype").html("Please select Bank State").hide();
       }
       function ClearAccNo() {
           $("#llaccno").html("Please enter Bank IFSC Code").hide();
       }
       function ClearPANNo() {
           $("#panno").html("Please enter Bank IFSC Code").hide();
       }
       function ClearIFSCNo() {
           $("#ifscno").html("Please enter Bank IFSC Code").hide();
       }
       function ClearGSTNo() {
           $("#gstinno").html("Please enter Bank IFSC Code").hide();
       }
   </script>

   <script>
       @*$("#SelectedBranchStateID").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedBranchDistID").html("");
                    $("#SelectedBranchDistID").html("<option id=''>Please Select</option>")
                    $("#Current_City1").html("");
                    $("#Current_City1").html("<option id=''>Please Select</option>")
                    $("#SelectedBranchLocID").html("");
                    $("#SelectedBranchLocID").html("<option id=''>Please Select</option>")
                    $("#SelectedBranchPincode").html("");
                    $("#SelectedBranchPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedBranchDistID").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

    $("#SelectedBranchDistID").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Current_City1").html("");
                    $("#Current_City1").html("<option id=''>Please Select</option>")
                    $("#SelectedBranchLocID").html("");
                    $("#SelectedBranchLocID").html("<option id=''>Please Select</option>")
                    $("#SelectedBranchPincode").html("");
                    $("#SelectedBranchPincode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#Current_City1").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
    });

       $("#Current_City1").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { City_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedBranchLocID").html("");
                    $("#SelectedBranchLocID").html("<option id=''>Please Select</option>")
                    $("#SelectedBranchPincode").html("");
                    $("#SelectedBranchPincode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#SelectedBranchLocID").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#SelectedBranchLocID").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { Loc_Id: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedBranchPincode").html("");
                    $("#SelectedBranchPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedBranchPincode").append(
                            $('<option></option>').val(value.Loc_Id).html(value.Pin_Code));
                    })
                }
            });
        });*@

       $("#SelectedBranchStateID").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedBranchDistID").html("");
                    $("#SelectedBranchDistID").html("<option id=''>Please Select</option>")
                    $("#SelectedBranchPincode").html("");
                    $("#SelectedBranchPincode").html("<option id=''>Please Select</option>")
                    $("#SelectedBranchLocID").html("");
                    $("#SelectedBranchLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#Current_City1").html("");
                    $("#Current_City1").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedBranchDistID").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

       $("#SelectedBranchDistID").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedBranchLocID").html("");
                    $("#SelectedBranchLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedBranchPincode").html("");
                    $("#SelectedBranchPincode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#SelectedBranchLocID").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

       $("#SelectedBranchDistID").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Current_City1").html("");
                    $("#Current_City1").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Current_City1").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
        });

    @*$("#txtLocalitysingle").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetsublocId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtSubLocalitysingle").append(
                            $('<option></option>').val(value.SubLoc_ID).html(value.SubLoc_Name));

                    })
                }
            });
        });*@

       $("#SelectedBranchLocID").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedBranchPincode").html("");
                    $("#SelectedBranchPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedBranchPincode").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });


   </script>

   <script>

    @* $("#SelectedLessorStateID").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLessorDistID").html("");
                    $("#SelectedLessorDistID").html("<option id=''>Please Select</option>")
                    $("#SelectedLessorLocID").html("");
                    $("#SelectedLessorLocID").html("<option id=''>Please Select</option>")
                    $("#SelectedLessorPincode").html("");
                    $("#SelectedLessorPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLessorDistID").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

    $("#SelectedLessorDistID").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLessorLocID").html("");
                    $("#SelectedLessorLocID").html("<option id=''>Please Select</option>")
                    $("#SelectedLessorPincode").html("");
                    $("#SelectedLessorPincode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#SelectedLessorLocID").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#SelectedLessorLocID").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { Loc_Id: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLessorPincode").html("");
                    $("#SelectedLessorPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLessorPincode").append(
                            $('<option></option>').val(value.Loc_Id).html(value.Pin_Code));

                    })
                }
            });
    });*@

       $("#SelectedLessorStateID").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLessorDistID").html("");
                    $("#SelectedLessorDistID").html("<option id=''>Please Select</option>")
                    $("#SelectedLessorPincode").html("");
                    $("#SelectedLessorPincode").html("<option id=''>Please Select</option>")
                    $("#SelectedLessorLocID").html("");
                    $("#SelectedLessorLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedLessorCityID").html("");
                    $("#SelectedLessorCityID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLessorDistID").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

       $("#SelectedLessorDistID").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLessorLocID").html("");
                    $("#SelectedLessorLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedLessorPincode").html("");
                    $("#SelectedLessorPincode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#SelectedLessorLocID").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

       $("#SelectedLessorDistID").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLessorCityID").html("");
                    $("#SelectedLessorCityID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLessorCityID").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
        });

    @*$("#txtLocalitysingle").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetsublocId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtSubLocalitysingle").append(
                            $('<option></option>').val(value.SubLoc_ID).html(value.SubLoc_Name));

                    })
                }
            });
        });*@

      @* $("#SelectedLessorLocID").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLessorPincode").html("");
                    $("#SelectedLessorPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLessorPincode").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });*@


   </script>

   <script>

   @* $("#SelectedLandlordStateID").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLandlordDistID").html("");
                    $("#SelectedLandlordDistID").html("<option id=''>Please Select</option>")
                    $("#SelectedLandlordLocID").html("");
                    $("#SelectedLandlordLocID").html("<option id=''>Please Select</option>")
                    $("#SelectedLandlordPincode").html("");
                    $("#SelectedLandlordPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLandlordDistID").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

    $("#SelectedLandlordDistID").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLandlordLocID").html("");
                    $("#SelectedLandlordLocID").html("<option id=''>Please Select</option>")
                    $("#SelectedLandlordPincode").html("");
                    $("#SelectedLandlordPincode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#SelectedLandlordLocID").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

    $("#SelectedLandlordLocID").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { Loc_Id: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLandlordPincode").html("");
                    $("#SelectedLandlordPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLandlordPincode").append(
                            $('<option></option>').val(value.Loc_Id).html(value.Pin_Code));

                    })
                }
            });
        });*@

       $("#SelectedLandlordStateID").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLandlordDistID").html("");
                    $("#SelectedLandlordDistID").html("<option id=''>Please Select</option>")
                    $("#SelectedLandlordPincode").html("");
                    $("#SelectedLandlordPincode").html("<option id=''>Please Select</option>")
                    $("#SelectedLandlordLocID").html("");
                    $("#SelectedLandlordLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedLandlordCityID").html("");
                    $("#SelectedLandlordCityID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLandlordDistID").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

       $("#SelectedLandlordDistID").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLandlordLocID").html("");
                    $("#SelectedLandlordLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedLandlordPincode").html("");
                    $("#SelectedLandlordPincode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#SelectedLandlordLocID").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

       $("#SelectedLandlordDistID").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLandlordCityID").html("");
                    $("#SelectedLandlordCityID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLandlordCityID").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
        });

    @*$("#txtLocalitysingle").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetsublocId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtSubLocalitysingle").append(
                            $('<option></option>').val(value.SubLoc_ID).html(value.SubLoc_Name));

                    })
                }
            });
        });*@

       $("#SelectedLandlordLocID").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLandlordPincode").html("");
                    $("#SelectedLandlordPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLandlordPincode").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });

   </script>
<script>

            function GetPinByOnSelect() {
                $("#brloc").html("Please select Locality").hide();
                var Loc_id = $("#SelectedBranchLocID").val();

                $.ajax({
             type: "POST",
            url: '@Url.Action("GetPinByOnselect", "Branch")',
            data: { str: Loc_id },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data)
            {
            var obj = JSON.parse(data);
                $("#SelectedBranchPincode").html("");
                $("#SelectedBranchPincode").html("<option id=''>Please Select</option>")

            $(obj).each(function (index, value) {
                $("#SelectedBranchPincode").append(
            $('<option></option>').val(value.str).html(value.Pin_Code));

            })
            },
            });
            }

            function GetPinByOnSelect1() {
            $("#lloc").html("Please select Locality").hide();
                var Loc_id = $("#SelectedLessorLocID").val();

            $.ajax({
            type: "POST",
            url: '@Url.Action("GetPinByOnselect", "Branch")',
            data: { str: Loc_id },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data)
            {
            var obj = JSON.parse(data);
                $("#SelectedLessorPincode").html("");
                $("#SelectedLessorPincode").html("<option id=''>Please Select</option>")

            $(obj).each(function (index, value) {
                $("#SelectedLessorPincode").append(
            $('<option></option>').val(value.str).html(value.Pin_Code));

            })
            },
            });
            }

            function GetPinByOnSelect2() {
            $("#llloc").html("Please select Bank City").hide();
                var Loc_id = $("#SelectedLandlordLocID").val();

            $.ajax({
            type: "POST",
            url: '@Url.Action("GetPinByOnselect", "Branch")',
            data: { str: Loc_id },
            Response: ContentType = 'application/json;charset=utf-8',
            success: function (data)
            {
            var obj = JSON.parse(data);
                $("#SelectedLandlordPincode").html("");
                $("#SelectedLandlordPincode").html("<option id=''>Please Select</option>")

            $(obj).each(function (index, value) {
                $("#SelectedLandlordPincode").append(
            $('<option></option>').val(value.str).html(value.Pin_Code));

            })
            },
            });
            }
            </script>
