﻿@model I_Value.WebApp.Models.VMBranchMaster
@{
    ViewBag.Title = "AddNewBranch";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
    <form action="~/Branch/EditBranch" method="post">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 style="padding-left:10px;">  Edit Branch Details </h1>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="content bg">
                    <div class="animated fadeIn">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12 padd0">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                <div class="col-md-12"> Branch Details:</div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Branch Code</label>
                                                        @*@Html.HiddenFor(model => model.ival_BranchMaster.Branch_ID)*@

                                                        @Html.EditorFor(model => model.ival_BranchMaster.Branch_Code, new { htmlAttributes = new { @class = "form-control", id = "Br_Code", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Branch Name</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Branch_Name, new { htmlAttributes = new { @class = "form-control", id = "Br_Name", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Branch Head</label>
                                                        @Html.DropDownListFor(m => m.SelectedBranchHead, new SelectList(Model.branchHeadsList, "Employee_ID", "First_Name"), "Please Select", new { @class = "form-control", id = "SelectedBranchHead", @Maxlength = "50" })

                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Address 1</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Branch_Address1, new { htmlAttributes = new { @class = "form-control", id = "Br_Addr1", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Address 2 </label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Branch_Address2, new { htmlAttributes = new { @class = "form-control", id = "Br_Addr2", @Maxlength = "50" } })
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">State:</label>
                                                        @Html.DropDownListFor(m => m.SelectedBranchStateID, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedBranchStateID", onchange = "ClearMsgState()" })
                                                        <span id="spstate" asp-validation-for="state" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">District</label>
                                                        @Html.DropDownListFor(m => m.SelectedBranchDistID, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new { @class = "form-control", id = "SelectedBranchDistID", @Maxlength = "50" })
                                                        <span id="spDist1" asp-validation-for="dist" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">City:</label>
                                                        @Html.DropDownListFor(m => m.SelectedBranchLoc, new SelectList(Model.ival_CitiesList, "Loc_Id", "City_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "Current_City1", onchange = "MsgClearCity()" })
                                                        @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                        <span id="spcity" asp-validation-for="dist" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">Locality</label>
                                                        @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                        @Html.DropDownListFor(m => m.SelectedBranchLocID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", @Maxlength = "50", id = "SelectedBranchLocID", onchange = "GetPinByOnSelect(this.Loc_Id)" })
                                                        <span id="spcity" asp-validation-for="Loc" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">Pin Code</label>
                                                        @Html.DropDownListFor(m => m.SelectedBranchPincode, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", @Maxlength = "10", id = "SelectedBranchPincode", onchange = "ClearMsgPin1()" })
                                                        <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                @*<div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">City </label>
                @Html.EditorFor(model => model.ival_BranchMaster.Branch_City, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">District </label>
                @Html.EditorFor(model => model.ival_BranchMaster.Branch_District, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">State </label>
                @Html.DropDownListFor(m => m.SelectedBranchStateID, new SelectList(Model.ival_StatesList, "State_ID", "State_Name"), "Please Select", new { @class = "form-control", id = "SelectedPermenantStateId1" })

            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">Pin Code </label>
                @Html.DropDownListFor(m => m.SelectedBranchPincode, new SelectList(Model.pincodeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", id = "SelectedPermenantStateId1" })
            </div>
        </div>*@
                                                <div style="clear:both;"></div>
                                                <div class="col-12 col-md-4">
                                                    @*<form>
                <label class="radio-inline">
                    <input type="radio" name="optradio">
                    Owned
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optradio" checked>
                    Leased
                </label>
            </form>*@
                                                    <div id="rbclient">
                                                        @Html.HiddenFor(m => m.Branch_ID)
                                                        @Html.HiddenFor(model => model.ival_BranchMaster.Is_Leased)
                                                        @if (Model.ival_BranchMaster.Is_Leased == true)
                                                        {
                                                            <label class="radio-inline">
                                                                @*<input type="radio" value="Owned" name="Owned" id="rdbank" checked="checked">Owned*@
                                                                @Html.RadioButtonFor(m => m.SelectedIsSelected, false, new { id = "OwnedRdio" })
                                                                <label for"Owned">Owned</label>
                                                            </label>
                                                            <label class="radio-inline">
                                                                @*<input type="radio" value="Leased" name="Leased" id="rdretail">Leased*@
                                                                @Html.RadioButtonFor(m => m.SelectedIsSelected, true, new { @checked = true, id = "LeaseID" ,@value="Leased"})
                                                                <label for"Leased">Leased</label>
                                                                @Html.ValidationMessageFor(m => m.ival_BranchMaster.Is_Leased)
                                                            </label>
                                                        }
                                                        else
                                                        {
                                                            <label class="radio-inline">
                                                                @*<input type="radio" value="Owned" name="Owned" id="rdbank" checked="checked">Owned*@
                                                                @Html.RadioButtonFor(m => m.SelectedIsSelected, false, new { @checked = true, id = "OwnedRdio" })
                                                                <label for"Owned">Owned</label>
                                                            </label>
                                                            <label class="radio-inline">
                                                                @*<input type="radio" value="Leased" name="Leased" id="rdretail">Leased*@
                                                                @Html.RadioButtonFor(m => m.SelectedIsSelected, true, new { id = "LeaseID", @value = "Leased" })
                                                                <label for"Leased">Leased</label>

                                                            </label>
                                                        }
                                                        <div style="clear:both;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>
                            <div class="col-lg-12" style="display:none" id="leasedOpt1">
                                <div class="col-lg-12 padd0">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                <div class="col-12 col-md-4" style="margin-bottom:20px;"> <span style="font-size:10px; color:#999999;">Note: show this if we select leased option</span> </div>
                                                <div class="col-md-12"> Lessor Details :</div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">First Name:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Lessor_First_Name, new { htmlAttributes = new { @class = "form-control", id = "txtFname", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Middle Name:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Lessor_Middle_Name, new { htmlAttributes = new { @class = "form-control", id = "txtMname", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Last Name:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Lessor_Last_Name, new { htmlAttributes = new { @class = "form-control", id = "txtLname", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Address 1:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Lessor_Address1, new { htmlAttributes = new { @class = "form-control", id = "txtLAddr1", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Address 2:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Lessor_Address2, new { htmlAttributes = new { @class = "form-control", id = "txtLAddr2", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">State:</label>
                                                        @Html.DropDownListFor(m => m.SelectedLessorStateID, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLessorStateID", onchange = "ClearMsgState()" })
                                                        <span id="spstate" asp-validation-for="state" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">District</label>
                                                        @Html.DropDownListFor(m => m.SelectedLessorDistID, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLessorDistID" })
                                                        <span id="spDist1" asp-validation-for="dist" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">City:</label>
                                                        @Html.DropDownListFor(m => m.SelectedLessorCityID, new SelectList(Model.ival_CitiesList, "Loc_Id", "City_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLessorCityID", onchange = "MsgClearCity()" })
                                                        @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                        <span id="spcity" asp-validation-for="dist" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">Locality</label>
                                                        @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                        @Html.DropDownListFor(m => m.SelectedLessorLocID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", @Maxlength = "50", id = "SelectedLessorLocID", onchange = "GetPinByOnSelect1(this.Loc_Id)" })
                                                        <span id="spcity" asp-validation-for="Loc" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">Pin Code</label>
                                                        @Html.DropDownListFor(m => m.SelectedLessorPincode, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", @Maxlength = "10", id = "SelectedLessorPincode", onchange = "ClearMsgPin1()" })
                                                        <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                @* <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">City:</label>
                @Html.EditorFor(model => model.ival_BranchMaster.Lessor_City, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">District:</label>
                @Html.EditorFor(model => model.ival_BranchMaster.Lessor_District, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">State </label>
                @Html.DropDownListFor(m => m.SelectedLessorStateID, new SelectList(Model.ival_StatesList, "State_ID", "State_Name"), "Please Select", new { @class = "form-control", id = "SelectedLessorStateID1" })

            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">Pin Code </label>
                @Html.DropDownListFor(m => m.SelectedLessorPincode, new SelectList(Model.pincodeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", id = "SelectedLessorPincode1" })

            </div>
        </div>*@
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Contact No:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Lessor_Contact_Num, new { htmlAttributes = new { @class = "form-control", @Maxlength = "10", @type = "number", id = "Lessor_Contact", onchange = "ValidateMobile()" } })
                                                        <span id="lphone" asp-validation-for="dist" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Email Id:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Lessor_Email_ID, new { htmlAttributes = new { @class = "form-control", @Maxlength = "50", id = "Lessor_Email", onchange = "ValidateEmailBanks()" } })
                                                        <span id="lmail" asp-validation-for="dist" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div style="clear:both;"></div>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" style="display:none" id="leasedOpt2">
                                <div class="col-lg-12 padd0">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row">
                                                <div class="col-12 col-md-4" style="margin-bottom:20px;"> <span style="font-size:10px; color:#999999;">Note: show this if we select leased option</span> </div>
                                                <div class="col-md-12"> Lease Details:</div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Lease Start Date:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Lease_Start_Date, new { htmlAttributes = new { @class = "form-control date", id = "Lease_Start_Date" } })
                                                        @*<input id="Lease_Start_Date" value="@ViewBag.Lease_Start_Date" type="text" class="form-control date" onkeyup="ClearSdate()">*@
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Lease End Date:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Lease_End_Date, new { htmlAttributes = new { @class = "form-control date", id = "Lease_End_Date", onchange = "DateVal()" } })
                                                        @*<input id="Lease_End_Date" value="@ViewBag.Lease_End_Date" type="text" class="form-control date" onkeyup="ClearEdate()">*@
                                                        <span id="leaseedate" asp-validation-for="dist" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Monthly Rental:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Monthly_Rent, new { htmlAttributes = new { @class = "form-control", id = "Monthly_Rent", @type = "number", @step = "0.01" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Maintenance Charges:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Maintaince_Charges, new { htmlAttributes = new { @class = "form-control", id = "Maintaince_Charges", @type = "number", @step = "0.01" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Other Charges:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Other_Charges, new { htmlAttributes = new { @class = "form-control", id = "Other_Charges", @type = "number", @step = "0.01" } })
                                                    </div>
                                                </div>
                                                <div style="clear:both;"></div>
                                            </div>
                                            <div style="clear:both;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-12 padd0">
                                    <div class="card">
                                        <div class="card-body card-block">
                                            <div class="row" id="LeasedOpt3" style="display:none">
                                                @*<div class="col-12 col-md-4" style="margin-bottom:20px;"> <span style="font-size:10px; color:#999999;">Note: show this if we select leased option</span> </div>*@
                                                <div class="col-md-12">Landlord Bank Details :</div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Bank Name:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.LandLord_Bank, new { htmlAttributes = new { @class = "form-control", id = "LL_Bank", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Bank Branch Name</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.LandLord_Branch, new { htmlAttributes = new { @class = "form-control", id = "LL_Branch", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Bank Branch Address 1:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.LandLord_Address1, new { htmlAttributes = new { @class = "form-control", id = "LL_Addr1", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Bank Branch Address 2:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.LandLord_Address2, new { htmlAttributes = new { @class = "form-control", id = "LL_Addr2", @Maxlength = "50" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">State:</label>
                                                        @Html.DropDownListFor(m => m.SelectedLandlordStateID, new SelectList(Model.ival_StatesList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLandlordStateID", onchange = "ClearMsgState()" })
                                                        <span id="spstate" asp-validation-for="state" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">District</label>
                                                        @Html.DropDownListFor(m => m.SelectedLandlordDistID, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLandlordDistID", onchange = "GetLocalityByOnSelect1(this.District_ID)" })
                                                        <span id="spDist1" asp-validation-for="dist" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">City:</label>
                                                        @Html.DropDownListFor(m => m.SelectedLandlordCityID, new SelectList(Model.ival_CitiesList, "Loc_Id", "City_Name"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLandlordCityID", onchange = "MsgClearCity()" })
                                                        @*@Html.DropDownListFor(model => model.Current_City, new { htmlAttributes = new { @class = "form-control", id = "Current_City", onkeyup = "MsgClearCity()" } })*@
                                                        <span id="spcity" asp-validation-for="dist" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">Locality</label>
                                                        @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                        @Html.DropDownListFor(m => m.SelectedLandlordLocID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", @Maxlength = "50", id = "SelectedLandlordLocID", onchange = "GetPinByOnSelect2(this.Loc_Id)" })
                                                        <span id="spcity" asp-validation-for="Loc" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">Pin Code</label>
                                                        @Html.DropDownListFor(m => m.SelectedLandlordPincode, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new { @class = "form-control", @Maxlength = "50", id = "SelectedLandlordPincode", onchange = "ClearMsgPin1()" })
                                                        <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                @* <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">City:</label>
                @Html.EditorFor(model => model.ival_BranchMaster.LandLord_City, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">State </label>
                @Html.DropDownListFor(m => m.SelectedLandlordStateID, new SelectList(Model.ival_StatesList, "State_ID", "State_Name"), "Please Select", new { @class = "form-control", id = "SelectedLandlordStateID1" })

            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label for="company" class=" form-control-label">Pin Code </label>
                @Html.DropDownListFor(m => m.SelectedLandlordPincode, new SelectList(Model.pincodeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", id = "SelectedLandlordPincode1" })
            </div>
        </div>*@
                                                <div style="clear:both;"></div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Account Type :</label>
                                                        @Html.DropDownListFor(m => m.SelectedAccountType, new SelectList(Model.AccountTypeList, "Value", "Text"), "Please Select", new { @class = "form-control", id = "SelectedAccTypeID", @Maxlength = "50" })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Account No:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.Account_Number, new { htmlAttributes = new { @class = "form-control", id = "Acc_Num", @type = "number" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">IFSC Code:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.IFSC_Num, new { htmlAttributes = new { @class = "form-control", id = "IFSC_Num" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">PAN Number:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.PAN_Num, new { htmlAttributes = new { @class = "form-control", id = "PAN_Num", @Maxlength = "10" } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">GSTIN Number:</label>
                                                        @Html.EditorFor(model => model.ival_BranchMaster.GSTIN_Num, new { htmlAttributes = new { @class = "form-control", id = "GSTIN_Num" } })
                                                    </div>
                                                </div>
                                                <div style="clear:both;"></div>
                                            </div>
                                            <div style="clear:both;"></div>
                                            <div class="pull-right">
                                                @*<a class="btn btn-success btn-sm" href="i-Value-Branch-Master.html">Submit</a> <a class="btn btn-success btn-sm" href="i-Value-Branch-Master.html">Cancel</a>*@
                                                @*<input type="submit" value="Update" class="btn btn-success btn-sm pull-right" />*@
                                                <button type="button" onclick="UpdateBranch1();" class="btn btn-success btn-sm pull-right">Update</button>
                                                <button type="button" class="btn btn-secondary btn-sm pull-right margin-r-5" data-dismiss="modal" onclick="BackToMain();">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .animated -->
                    </div>
                </div>
                </div>
                    </div>
    <!-- Default box -->
                <!-- /.box -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </form>

<script src="~/Scripts/jquery.min.js"></script>
<script>
    function BackToMain() {
                window.location.href = '@Url.Action("index", "Branch")';
    }

</script>
<script>
    function ValidateEmailBanks() {
        var email = document.getElementById("Lessor_Email").value;
        var lblError = document.getElementById("spMail");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }

    function process(date) {
        var parts = date.split("/");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }

    function DateVal() {
        var startDate = document.getElementById("Lease_Start_Date").value;
        var endDate = document.getElementById("Lease_End_Date").value;
        var d1 = process(startDate);
        var d2 = process(endDate);
        $("#leaseedate").html("");
        if (d1.getTime() > d2.getTime()) {
            $("#leaseedate").html("End date should be greater than Start date");
            //$("#leaseedate").css("display", "block");
        }
    }

</script>
<script type="text/javascript">

    $(document).ready(function () {
        //initial div
         clickFunc($(this));
        //$("#ownedID").show(600);
        //$("#p2").hide();
        $("#OwnedRdio").click(function () {
            console.log("click");
            $("#ownedID").show(600);
            $("#leasedOpt1").hide("slow");
            $("#leasedOpt2").hide("slow");
            $("#LeasedOpt3").hide("slow");
        });
        $("#LeaseID").click(function () {
            $("#ownedID").hide(600);
            $("#leasedOpt1").show("slow");
            $("#leasedOpt2").show("slow");
            $("#LeasedOpt3").show("slow");
        });
    });

    function clickFunc($element) {

        if ($("#OwnedRdio").prop("checked")) {
            // do something
            //alert("OwnedRdio")
            console.log("click");
            $("#ownedID").show(600);
            $("#leasedOpt1").hide("slow");
            $("#leasedOpt2").hide("slow");
            $("#LeasedOpt3").hide("slow");
        }
        if ($("#LeaseID").is(":checked")) {
            //alert("LeaseID")
            $("#ownedID").hide(600);
            $("#leasedOpt1").show("slow");
            $("#leasedOpt2").show("slow");
            $("#LeasedOpt3").show("slow");
        }
    }

    function ValidateEmailBanks() {
        var email = document.getElementById("Lessor_Email").value;
        var lblError = document.getElementById("lmail");
        lblError.innerHTML = "";
        var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!expr.test(email)) {
            lblError.innerHTML = "Invalid email address.";
        }
    }

    function ValidateMobile() {

        var phonenumber = document.getElementById("Lessor_Contact").value;
        var lblError = document.getElementById("lphone");
        lblError.innerHTML = "";
        var expr = /^\d{10}$/;
        if (!expr.test(phonenumber)) {
            lblError.innerHTML = "Invalid Mobile Number";
        }
    }  
    
</script>
<script>
    var UpBranchDetails = [];
    var UpdateBranchDetails = [];
    function UpdateBranch1() {

        var brCode = $("#Br_Code").val();
        var brName = $("#Br_Name").val();
        var brHead = $("#SelectedBranchHead").val();
        var brAddr1 = $("#Br_Addr1").val();
        var brState = $("#SelectedBranchStateID").val();
        var brDist = $("#SelectedBranchDistID").val();
        var brCity = $("#SelectedBranchLocID").val();
        //var brPin = $("#SelectedBranchPincode option:selected").text();

        //var Is_Owned = $("#Is_Owned").val();
        //var Is_Leased = $("#LeaseID").val();
        
        var Is_Leased = $("#LeaseID").prop("checked") ? true : false;
        var LFname = $("#txtFname").val();
        var LLname = $("#txtLname").val();
        var LAddr1 = $("#txtLAddr1").val();
        var LState = $("#SelectedLessorStateID").val();
        var LDist = $("#SelectedLessorDistID").val();
        var LCity = $("#SelectedLessorLocID").val();
        //var LPin = $("#SelectedLessorPincode").val();
        var LPhone = $("#Lessor_Contact").val();
        var LEmail = $("#Lessor_Email").val();

        @* var LeaseSDate = $("#Lease_Start_Date").val();
        var LeaseEDate = $("#Lease_End_Date").val();*@

        var LLBankName = $("#LL_Bank").val();
        var LLBrName = $("#LL_Branch").val();
        var LLBrAddr1 = $("#LL_Addr1").val();
        var LLBankState = $("#SelectedLandlordStateID").val();
        var LLBankDist = $("#SelectedLandlordDistID").val();
        var LLBankCity = $("#SelectedLandlordLocID").val();

        var LLBkAccType = $("#SelectedAccTypeID").val();
        var LLBkAccNo = $("#Acc_Num").val();
        var LLBankIFSC = $("#IFSC_Num").val();
        var LLPAN = $("#PAN_Num").val();
        var LLGSTIN = $("#GSTIN_Num").val();
        if (Is_Leased) {
            if (brCode == "" || brName == "" || brHead == "" || brAddr1 == "" || brState == "" || brDist == "" || brCity == ""
                @*|| brPin == "" *@ || LFname == "" || LLname == "" || LAddr1 == "" || LState == "" || LDist == ""
                || LCity == "" @*|| LPin == "" *@ || LPhone == "" || LEmail == ""
            @*|| LeaseSDate == "" || LeaseEDate == "" *@ || LLBankName == "" || LLBrName == "" || LLBrAddr1 == "" || LLBankState == ""
                || LLBankDist == "" || LLBankCity == "" || LLBkAccType == "" || LLBkAccNo == "" || LLBankIFSC == "" || LLPAN == "" || LLGSTIN == "") {

                if (brCode == "" && brName == "" && brHead == "" && brAddr1 == "" && brState == "" && brDist == "" && brCity == ""
                   @* && brPin == "" *@ && LFname == "" && LLname == "" && LAddr1 == "" && LState == "" && LDist == ""
                    && LCity == "" @*&& LPin == "" *@&& LPhone == "" && LEmail == ""
                @*&& LeaseSDate == "" && LeaseEDate == "" *@&& LLBankName == "" && LLBrName == "" && LLBrAddr1 == "" && LLBankState == ""
                    && LLBankDist == "" && LLBankCity == "" && LLBkAccType == "" && LLBkAccNo == "" && LLBankIFSC == "" && LLPAN == "" && LLGSTIN == "") {

                    $("#brcode").html("Please enter branch code");
                    $("#brcode").css("display", "block");
                    $("#brname").html("Please enter Branch name");
                    $("#brname").css("display", "block");
                    $("#brhead").html("Please select branch head");
                    $("#brhead").css("display", "block");
                    $("#braddr1").html("Please enter branch address");
                    $("#braddr1").css("display", "block");
                    $("#brstate").html("Please select state");
                    $("#brstate").css("display", "block");
                    $("#brdist").html("Please select district");
                    $("#brdist").css("display", "block");
                    $("#brloc").html("Please select city");
                    $("#brloc").css("display", "block");
                    @* $("#brpin").html("Please select pincode");
                    $("#brpin").css("display", "block");*@
                    $("#lfname").html("Please enter First Name");
                    $("#lfname").css("display", "block");
                    $("#llname").html("Please enter last name");
                    $("#llname").css("display", "block");
                    $("#laddr1").html("Please Enter Address");
                    $("#laddr1").css("display", "block");
                    $("#lstate").html("Please select State");
                    $("#lstate").css("display", "block");
                    $("#ldist").html("Please select District");
                    $("#ldist").css("display", "block");
                    $("#lloc").html("Please Select City");
                    $("#lloc").css("display", "block");
                    @* $("#lpin").html("Please Select Pincode");
                    $("#lpin").css("display", "block");*@
                    $("#lphone").html("Please enter Phone No");
                    $("#lphone").css("display", "block");
                    $("#lmail").html("Please enter Email");
                    $("#lmail").css("display", "block");

                    @* $("#leasesdate").html("Please enter Start Date");
                    $("#leasesdate").css("display", "block");
                    $("#leaseedate").html("Please enter End Date");
                    $("#leaseedate").css("display", "block");*@

                    $("#llbank").html("Please enter Bank Name");
                    $("#llbank").css("display", "block");
                    $("#llbranch").html("Please enter Branch Name");
                    $("#llbranch").css("display", "block");
                    $("#lladdr1").html("Please Enter Landlord Address");
                    $("#lladdr1").css("display", "block");
                    $("#llstate").html("Please select State");
                    $("#llstate").css("display", "block");
                    $("#lldist").html("Please select District");
                    $("#lldist").css("display", "block");
                    $("#llloc").html("Please select City");
                    $("#llloc").css("display", "block");
                    @* $("#llpin").html("Please Select Pincode");
                    $("#llpin").css("display", "block");*@


                    $("#llacctype").html("Please select Account Type");
                    $("#llacctype").css("display", "block");
                    $("#llaccno").html("Please enter Account No");
                    $("#llaccno").css("display", "block");
                    $("#ifscno").html("Please enter IFSC no");
                    $("#ifscno").css("display", "block");
                    $("#panno").html("Please enter PAN No");
                    $("#panno").css("display", "block");
                    $("#gstinno").html("Please enter GST No");
                    $("#gstinno").css("display", "block");

                }

                if (brCode == "") {
                    $("#brcode").html("Please enter branch code");
                    $("#brcode").css("display", "block");
                    //return false;
                }
                if (brName == "") {
                    $("#brname").html("Please enter branch Name");
                    $("#brname").css("display", "block");
                    //return false;
                }
                if (brHead == "") {
                    $("#brhead").html("Please select branch head");
                    $("#brhead").css("display", "block");
                    //return false;
                }
                if (brAddr1 == "") {
                    $("#braddr1").html("Please enter branch Address");
                    $("#braddr1").css("display", "block");
                    //return false;
                }
                if (brState == "") {
                    $("#brstate").html("Please select branch state");
                    $("#brstate").css("display", "block");
                    //return false;
                }
                if (brDist == "") {
                    $("#brdist").html("Please select branch District");
                    $("#brdist").css("display", "block");
                    //return false;
                }
                if (brCity == "") {
                    $("#brloc").html("Please select branch City");
                    $("#brloc").css("display", "block");
                    //return false;
                }
                @*if (brPin == "") {
                    $("#brpin").html("Please Select branch Pincode");
                    $("#brpin").css("display", "block");
                    return false;
                }*@
                if (LFname == "") {
                    $("#lfname").html("Please Enter Name");
                    $("#lfname").css("display", "block");
                    //return false;
                }
                if (LLname == "") {
                    $("#llname").html("Please enter last name");
                    $("#llname").css("display", "block");
                    //return false;
                }
                if (LAddr1 == "") {
                    $("#laddr1").html("Please Enter Address");
                    $("#laddr1").css("display", "block");
                    //return false;
                }
                if (LState == "") {
                    $("#lstate").html("Please select State");
                    $("#lstate").css("display", "block");
                    //return false;
                }
                if (LDist == "") {
                    $("#ldist").html("Please select District");
                    $("#ldist").css("display", "block");
                    //return false;
                }
                if (LCity == "") {
                    $("#lloc").html("Please Select City");
                    $("#lloc").css("display", "block");
                    //return false;
                }
                if (LPhone == "") {
                    $("#lphone").html("Please enter Phone No");
                    $("#lphone").css("display", "block");
                    //return false;
                }
                if (LEmail == "") {
                    $("#lmail").html("Please enter Email");
                    $("#lmail").css("display", "block");
                    //return false;
                }
                @*if (LeaseSDate == "") {
                    $("#leasesdate").html("Please enter Start Date");
                    $("#leasesdate").css("display", "block");
                    //return false;
                }
                if (LeaseEDate == "") {
                    $("#leaseedate").html("Please enter Start Date");
                    $("#leaseedate").css("display", "block");
                    //return false;
                }*@
                if (LLBankName == "") {
                    $("#llbank").html("Please enter Bank Name");
                    $("#llbank").css("display", "block");
                    //return false;
                }
                if (LLBrName == "") {
                    $("#llbranch").html("Please enter Branch Name");
                    $("#llbranch").css("display", "block");
                    //return false;
                }
                if (LLBrAddr1 == "") {
                    $("#lladdr1").html("Please Enter Landlord Address");
                    $("#lladdr1").css("display", "block");
                    //return false;
                }
                if (LLBankState == "") {
                    $("#llstate").html("Please select State");
                    $("#llstate").css("display", "block");
                    //return false;
                }
                if (LLBankDist == "") {
                    $("#lldist").html("Please select District");
                    $("#lldist").css("display", "block");
                    //return false;
                }
                if (LLBankCity == "") {
                    $("#llloc").html("Please select City");
                    $("#llloc").css("display", "block");
                    //return false;
                }
                if (LLBkAccType == "") {
                    $("#llacctype").html("Please select Account Type");
                    $("#llacctype").css("display", "block");
                    //return false;
                }
                if (LLBkAccNo == "") {
                    $("#llaccno").html("Please enter Account No");
                    $("#llaccno").css("display", "block");
                }
                if (LLBankIFSC == "") {
                    $("#ifscno").html("Please enter IFSC no");
                    $("#ifscno").css("display", "block");
                }
                if (LLPAN == "") {
                    $("#panno").html("Please enter PAN No");
                    $("#panno").css("display", "block");
                }
                if (LLGSTIN == "") {
                    $("#gstinno").html("Please enter GST No");
                    $("#gstinno").css("display", "block");
                }
            } else {

                UpdateBranchDetails.push({
                    txt_BranchID: $("#Branch_ID").val(),
                    Lessor_Fname: $("#txtFname").val(),
                    Lessor_Mname: $("#txtMname").val(),
                    Lessor_Lname: $("#txtLname").val(),
                    Lessor_Address1: $("#txtLAddr1").val(),
                    Lessor_Address2: $("#txtLAddr2").val(),

                    Lessor_City1: $("#SelectedLessorCityID option:selected").val(),
                    Lessor_City: $("#SelectedLessorLocID option:selected").val(),
                    Lessor_State: $("#SelectedLessorStateID option:selected").val(),
                    Lessor_Dist: $("#SelectedLessorDistID option:selected").val(),
            @*Lessor_Loc: $("#Current_Address_1").val(),*@
                    Lessor_Pin: $("#SelectedLessorPincode option:selected").text(),
                    Lessor_Contact: $("#Lessor_Contact").val(),
                    Lessor_Email: $("#Lessor_Email").val(),

                    Lease_Start_Date: $("#Lease_Start_Date").val(),
                    Lease_End_Date: $("#Lease_End_Date").val(),
                    Monthly_Rent: $("#Monthly_Rent").val(),
                    Maintaince_Charges: $("#Maintaince_Charges").val(),
                    Other_Charges: $("#Other_Charges").val(),

                    LL_Bank: $("#LL_Bank").val(),
                    LL_Branch: $("#LL_Branch").val(),
                    LL_Address1: $("#LL_Addr1").val(),
                    LL_Address2: $("#LL_Addr2").val(),
                    LL_State: $("#SelectedLandlordStateID option:selected").val(),
                    LL_Dist: $("#SelectedLandlordDistID option:selected").val(),
                    LL_City: $("#SelectedLandlordLocID option:selected").val(),
                    LL_City1: $("#SelectedLandlordCityID option:selected").val(),
                    LL_Pin: $("#SelectedLandlordPincode option:selected").text(),
                    Acc_Type: $("#SelectedAccTypeID option:selected").val(),
                    Acc_No: $("#Acc_Num").val(),
                    IFSC_Num: $("#IFSC_Num").val(),
                    PAN_Num: $("#PAN_Num").val(),
                    GSTIN_Num: $("#GSTIN_Num").val(),

                    Br_Code: $("#Br_Code").val(),
                    Br_Name: $("#Br_Name").val(),
                    Br_Head: $("#SelectedBranchHead option:selected").val(),
                    Br_Addr1: $("#Br_Addr1").val(),
                    Br_Addr2: $("#Br_Addr2").val(),
                    Br_State: $("#SelectedBranchStateID option:selected").text(),
                    Br_Dist: $("#SelectedBranchDistID option:selected").val(),
                    Br_City: $("#SelectedBranchLocID option:selected").val(),
                    Br_Pin: $("#SelectedBranchPincode option:selected").text(),

                    Branch_Loc: $("#Current_City1 option:selected").val(),
                    Is_Leased : $("#LeaseID").prop("checked") ? true : false
                    //Is_Leased: document.getElementById('SelectedIsSelected').value
                });

                var str = JSON.stringify(UpdateBranchDetails);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateBranch", "Branch")',
                    data: { str: str },
                    Response: ContentType = 'application/json;charset=utf-8',
                    success: function (data) {
                        //alert(data["Message"]);
                        alert('Branch Details Updated successfully');
                        window.location.href = '@Url.Action("index", "Branch")';
                    },
                });
            }
        }

     else if (brCode == "" || brName == "" || brHead == "" || brAddr1 == "" || brState == "" || brDist == "" || brCity == "") {
            if (brCode == "") {
                $("#brcode").html("Please enter branch code");
                $("#brcode").css("display", "block");
                //return false;
            }
            if (brName == "") {
                $("#brname").html("Please enter branch Name");
                $("#brname").css("display", "block");
                //return false;
            }
            if (brHead == "") {
                $("#brhead").html("Please select branch head");
                $("#brhead").css("display", "block");
                //return false;
            }
            if (brAddr1 == "") {
                $("#braddr1").html("Please enter branch Address");
                $("#braddr1").css("display", "block");
                //return false;
            }
            if (brState == "") {
                $("#brstate").html("Please select branch state");
                $("#brstate").css("display", "block");
                //return false;
            }
            if (brDist == "") {
                $("#brdist").html("Please select branch District");
                $("#brdist").css("display", "block");
               // return false;
            }
            if (brCity == "") {
                $("#brloc").html("Please select branch City");
                $("#brloc").css("display", "block");
                //return false;
            }
            @*if (brPin == "") {
                $("#brpin").html("Please Select branch Pincode");
                $("#brpin").css("display", "block");
                return false;
            }*@

        } else {
            UpBranchDetails.push({
                txt_BranchID: $("#Branch_ID").val(),
                Lessor_Fname: $("#txtFname").val(),
                Br_Code: $("#Br_Code").val(),
                Br_Name: $("#Br_Name").val(),
                Br_Head: $("#SelectedBranchHead option:selected").val(),
                Br_Addr1: $("#Br_Addr1").val(),
                Br_Addr2: $("#Br_Addr2").val(),
                Br_State: $("#SelectedBranchStateID option:selected").text(),
                Br_Dist: $("#SelectedBranchDistID option:selected").val(),
                Br_City: $("#SelectedBranchLocID option:selected").val(),
                Br_Pin: $("#SelectedBranchPincode option:selected").text(),

                Branch_Loc: $("#Current_City1 option:selected").val(),
                Is_Leased: $("#LeaseID").prop("checked") ? true : false
            });

            var str = JSON.stringify(UpBranchDetails);

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateBranch", "Branch")',
                data: { str: str },
                Response: ContentType = 'application/json;charset=utf-8',
                success: function (data) {
                    //alert(data["Message"]);
                    alert('Branch Details Updated successfully');
                    window.location.href = '@Url.Action("index", "Branch")';
                },
            });
        }
    }

</script>
<script>
    $("#SelectedBranchStateID").change(function () {
         var State_Id = $(this).val()

        $.ajax({

            url:'@Url.Action("GetDistByStateId", "Project")',
            data: { State_Id: State_Id },
            dataType: "json",
            type: "POST",
            success: function (data) {
                console.log(data);
                var obj = JSON.parse(data);
                $("#SelectedBranchDistID").html("");
                $("#SelectedBranchDistID").html("<option id=''>Please Select</option>")
                $("#SelectedBranchPincode").html("");
                $("#SelectedBranchPincode").html("<option id=''>Please Select</option>")
                $("#SelectedBranchLocID").html("");
                $("#SelectedBranchLocID").html("<option id=''>Please Select</option>")
                @*$("#txtsublocality").html("");
                $("#txtsublocality").html("<option id=''>Please Select</option>")*@
                $("#Current_City1").html("");
                $("#Current_City1").html("<option id=''>Please Select</option>")
                 $(obj).each(function(index,value){
                     $("#SelectedBranchDistID").append(
                         $('<option></option>').val(value.District_ID).html(value.District_Name));

                 })
            }
        });
    });
    $("#SelectedBranchDistID").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedBranchPincode").html("");
                    $("#SelectedBranchPincode").html("<option id=''>Please Select</option>")
                    $("#SelectedBranchLocID").html("");
                    $("#SelectedBranchLocID").html("<option id=''>Please Select</option>")
                   @* $("#txtsublocality").html("");
                    $("#txtsublocality").html("<option id=''>Please Select</option>")*@


                    $(obj).each(function (index, value) {
                        $("#SelectedBranchLocID").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })



                }
            });
        });



    $("#SelectedBranchDistID").change(function () {
    var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#Current_City1").html("");
                    $("#Current_City1").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#Current_City1").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })

                }
            });
        });
   @* $("#SelectedBranchLocID").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetsublocId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtsublocality").html("");
                    $("#txtsublocality").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtsublocality").append(
                            $('<option></option>').val(value.SubLoc_ID).html(value.SubLoc_Name));

                    })



                }
            });
        });*@

    $("#SelectedBranchLocID").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedBranchPincode").html("");
                    $("#SelectedBranchPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedBranchPincode").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
    });

     $("#SelectedLessorStateID").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLessorDistID").html("");
                    $("#SelectedLessorDistID").html("<option id=''>Please Select</option>")
                    $("#SelectedLessorPincode").html("");
                    $("#SelectedLessorPincode").html("<option id=''>Please Select</option>")
                    $("#SelectedLessorLocID").html("");
                    $("#SelectedLessorLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedLessorCityID").html("");
                    $("#SelectedLessorCityID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLessorDistID").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

       $("#SelectedLessorDistID").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLessorLocID").html("");
                    $("#SelectedLessorLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedLessorPincode").html("");
                    $("#SelectedLessorPincode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#SelectedLessorLocID").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

       $("#SelectedLessorDistID").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLessorCityID").html("");
                    $("#SelectedLessorCityID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLessorCityID").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
       });

     $("#SelectedLessorLocID").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLessorPincode").html("");
                    $("#SelectedLessorPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLessorPincode").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
     });

     $("#SelectedLandlordStateID").change(function () {
            var State_Id = $(this).val()

            $.ajax({

                url: '@Url.Action("GetDistByStateId", "Project")',
                data: { State_Id: State_Id },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLandlordDistID").html("");
                    $("#SelectedLandlordDistID").html("<option id=''>Please Select</option>")
                    $("#SelectedLandlordPincode").html("");
                    $("#SelectedLandlordPincode").html("<option id=''>Please Select</option>")
                    $("#SelectedLandlordLocID").html("");
                    $("#SelectedLandlordLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedLandlordCityID").html("");
                    $("#SelectedLandlordCityID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLandlordDistID").append(
                            $('<option></option>').val(value.District_ID).html(value.District_Name));

                    })
                }
            });
        });

       $("#SelectedLandlordDistID").change(function () {
            var District_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetcitybydistId", "Project")',
                data: { District_ID: District_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLandlordLocID").html("");
                    $("#SelectedLandlordLocID").html("<option id=''>Please Select</option>")
                    @*$("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")*@
                    $("#SelectedLandlordPincode").html("");
                    $("#SelectedLandlordPincode").html("<option id=''>Please Select</option>")
                    $(obj).each(function (index, value) {
                        $("#SelectedLandlordLocID").append(
                            $('<option></option>').val(value.Loc_ID).html(value.Loc_Name));

                    })
                }
            });
        });

       $("#SelectedLandlordDistID").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetCityId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLandlordCityID").html("");
                    $("#SelectedLandlordCityID").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLandlordCityID").append(
                            $('<option></option>').val(value.City_ID).html(value.City_Name));

                    })
                }
            });
        });

    @*$("#txtLocalitysingle").change(function () {
         var txtLoc = $(this).val()

            $.ajax({

                url: '@Url.Action("GetsublocId", "Project")',
                data: { District_ID: txtLoc },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#txtSubLocalitysingle").html("");
                    $("#txtSubLocalitysingle").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#txtSubLocalitysingle").append(
                            $('<option></option>').val(value.SubLoc_ID).html(value.SubLoc_Name));

                    })
                }
            });
        });*@

       $("#SelectedLandlordLocID").change(function () {
            var City_ID = $(this).val()

            $.ajax({

                url: '@Url.Action("GetpinbyCityId", "Project")',
                data: { City_ID: City_ID },
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data);
                    var obj = JSON.parse(data);
                    $("#SelectedLandlordPincode").html("");
                    $("#SelectedLandlordPincode").html("<option id=''>Please Select</option>")

                    $(obj).each(function (index, value) {
                        $("#SelectedLandlordPincode").append(
                            $('<option></option>').val(value.Pin_Code).html(value.Pin_Code));

                    })
                }
            });
        });
</script>