﻿@model I_Value.WebApp.Models.VMReport_TypeMaster

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="padding-left:10px;"> Valuation and Report Master</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="search-container">
                                    <form>
                                        
                                        <a class="btn btn-success btn-sm pull-right" href="#" data-toggle="modal" data-target="#addbranch">Add Valuation Type</a>

                                        <a class="btn btn-success btn-sm pull-right" href="#" data-toggle="modal" data-target="#addbranch2" style="margin-right:5px;" onclick="GetValuationTypeList()">Add Report Type</a>
                                    </form>

                                </div><br><br />
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered tblss">
                                        <thead>
                                            <tr>
                                                <th width="210">Valuation Type</th>
                                                <th width="202">Report Type</th>
                                                @*<th width="102">Edit Valuation</th>*@
                                                <th width="102">Edit Report</th>
                                                <th width="50">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @*<tr>
                                                    <td width="210">Project Valuation</td>
                                                    <td width="202">Multiunit Property</td>
                                                    <td><i class="fa fa-edit" data-toggle="modal" data-target="#addbranch"></i></td>
                                                    <td><i class="fa fa-edit" data-toggle="modal" data-target="#editaddbranch2"></i></td>
                                                    <td><i class="fa fa-trash" aria-hidden="true"></i></td>
                                                </tr>*@
                                            @foreach (var item in Model.ival_ValuationReportList)
                                            {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Lookup_Value)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                @*<td>
                                                    <i class="fa fa-eye" data-toggle="modal" data-target="#viewaddbranch2" onclick="viewvaluationID('@item.Lookup_ID','@item.Name','@item.Lookup_Value');"></i>
                                                </td>*@
                                                <td>
                                                    <i class="fa fa-edit" data-toggle="modal" data-target="#editaddbranch2" onclick="getvaluationID('@item.Lookup_ID','@item.Name','@item.Lookup_Value');"></i>
                                                </td>
                                                <td>
                                                    <i class="fa fa-trash" aria-hidden="true" onclick="getvaluationID('@item.Lookup_ID','@item.Name','@item.Lookup_Value');DeleteReport()"></i>
                                                </td>
                                            </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                                <!--addbranch -->
                                <div class="modal fade" id="addbranch" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="largeModalLabel">Add New Valuation </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12"> </div>
                                                    <div class="col-12 col-md-12">

                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label"> Valuation Type </label>
                                                            <input type="text" id="idValuationType" maxlength="50" class="form-control" onkeyup="ClearMsgValtype()">
                                                            <span id="spValtype" asp-validation-for="dist" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="refresh()">Cancel</button>
                                                <button type="button" class="btn btn-success btn-sm" onclick="AddValuationType()">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--addbranch -->
                                <div class="modal fade" id="addbranch2" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="largeModalLabel">Add New Report Type </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12"> </div>
                                                    <div class="col-12 col-md-12">

                                                        <div class="form-group">
                                                            <label for="country" class=" form-control-label">Valuation Type</label>
                                                            <select id="ddlValuationType" class="form-control" onchange="ClearMsgValtype1()">
                                                            </select>
                                                            <span id="spValtype1" asp-validation-for="dist" class="text-danger"></span>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label"> Report Type </label>
                                                            <input type="text" id="reportTypeID" maxlength="50" class="form-control" onkeyup="ClearMsgRepoType()">
                                                            <span id="spRepotype" asp-validation-for="dist" class="text-danger"></span>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="refresh()">Cancel</button>
                                                <button type="button" class="btn btn-success btn-sm" onclick="AddNewReportType()">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--edit report type-->
                                <div class="modal fade" id="editaddbranch2" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="largeModalLabel">Add New Report Type </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12"> </div>
                                                    <div class="col-12 col-md-12">

                                                        <div class="form-group">
                                                            <label for="country" class=" form-control-label">Valuation Type</label>
                                                            <input id="editddlValuationType" class="form-control" disabled />
                                                        </div>


                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label"> Report Type </label>
                                                            <input type="text" id="reportType" class="form-control">
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" onclick="refresh()">Cancel</button>
                                                <button type="button" class="btn btn-success btn-sm" onclick="EditReport()">Ok</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .animated -->
        </div>
        <!-- Default box -->
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">
    function ClearMsgValtype() {
        $("#spValtype").html("Please enter District").hide();
    }
    function ClearMsgValtype1() {
        $("#spValtype1").html("Please enter District").hide();
    }
    function ClearMsgRepoType() {
        $("#spRepotype").html("Please enter District").hide();
    }

    function AddValuationType() {

        var idValuationType = $("#idValuationType").val();

        if (idValuationType == "") {
            $("#spValtype").html("Please enter Client name");
            $("#spValtype").css("display", "block");
            return false;
        }
        else {

            var url = '@Url.Action("AddValuationType")';

            $.ajax({
                url: url,
                data: { ValuationTypeName: idValuationType@*.value*@ },
                cache: false,
                type: "POST",
                success: function (data) {
                    if (!data.success) {
                       // alert(data.message);
                        alert("Valuation type Added Successfully");
                        var url = '@Url.Action("Index", "ValuationAndReport")';
                            window.location.href = url;
                    }
                },
            });
            refresh();
        }
    }

    function GetValuationTypeList() {
        var url = '@Url.Action("GetValuationList")';
        $("#ddlValuationType").empty();
        var trHTML = "";
        $.ajax({
            url: url,
            data: '{}',
            type: "POST",
            success: function (data) {
                var obj = JSON.parse(data);
                var valuationtypelist = obj;
                $('#ddlValuationType').append('<option>Select</option>');
                    for (var i = 0; i < valuationtypelist.length; i++) {
                            //var opt = new Option(valuationtypelist[i].Lookup_Value);
                           $('#ddlValuationType').append(`<option value="${valuationtypelist[i].Lookup_ID}">${valuationtypelist[i].Lookup_Value}</option>`);
                }
            },
        });

    }
    function refresh() {

         var url = '@Url.Action("Index", "ValuationAndReport")';
                            window.location.href = url;
    }

        var globalValuationID;
        var globalName;
        var globalValuationTypeName;
        function getvaluationID(valuationID,name,valuationtype) {
        globalValuationID = valuationID;
            globalName = name;
            globalValuationTypeName = valuationtype;
        document.getElementById("editddlValuationType").value = globalValuationTypeName;
            document.getElementById("reportType").value = name;
    }

    function EditReport() {

        var url = '@Url.Action("EditReportType")';
         $.ajax({
             url: url,
             data: { ID: globalValuationID, Name: reportType.value,ToeditName:globalName },
            type: "POST",
            success: function (data) {
                 if (data.success) {
                      alert(data.message);
                 }
                else {
                    alert(data.message);
                 }
            },
         });
        refresh();
    }
    function DeleteReport() {
        //var str = Id;
        var x = confirm("Are you sure you want to delete?");
        if (x) {
            var url = '@Url.Action("DeleteReportType")';
            ID = $('#ddlValuationType').val();
            $.ajax({
                url: url,
                data: { ID: globalValuationID, Name: globalName },
                type: "POST",
                success: function (data) {
                    if (data.success) {
                        alert(data.message);
                    }
                    else {
                        alert(data.message);
                    }
                },
            });
        }
        else
            return

        refresh();
    }
    function AddNewReportType() {

        var idValType = $("#ddlValuationType").val();
        var idRepoType = $("#reportTypeID").val();

        if (idValType == "Select") {
            $("#spValtype1").html("Please Select Valuation Type");
            $("#spValtype1").css("display", "block");

        }
        if (idRepoType == "") {
            $("#spRepotype").html("Please enter Report Type");
            $("#spRepotype").css("display", "block");

        }
        else {

            var url = '@Url.Action("AddReportType")';
            //ID = $('#ddlValuationType').val();
            $.ajax({
                url: url,
                data: { ID: idValType, Name: idRepoType },
                type: "POST",
                success: function (data) {
                    if (data.success) {
                       alert(data.message);
                        //alert("Report Type Added Successfully");
                        var url = '@Url.Action("Index", "ValuationAndReport")';
                            window.location.href = url;
                    }
                    else {
                        alert(data.message);
                    }
                },
            });
            refresh();
        }
    }
</script>
