﻿@model IEnumerable<IValuePublishProject.Models.ival_ClientMaster>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 style="padding-left:10px;"> Client List  </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="content bg">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="search-container">
                                    
                                    @using (Html.BeginForm("Index", "Client", FormMethod.Post))
                                    {
                                        
                                        <a class="btn btn-success btn-sm pull-right" href="@Url.Action("AddNewClient","Client")">Add New Client</a>
                                    }
                                    <br>
                                    <br />
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered tblss">
                                            <thead>
                                                <tr>
                                                    <th width="210">Client</th>
                                                    <th width="202">Branch</th>
                                                    <th width="252">State</th>
                                                    <th width="70">View </th>
                                                    <th width="70">Edit </th>
                                                    <th width="50">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>


                                                @foreach (var item in Model)
                                                {
                                                <tr>

                                                    <td width="210">
                                                        @Html.DisplayFor(modelItem => item.Client_Name)
                                                    </td>
                                                    <td width="202">
                                                        @Html.DisplayFor(modelItem => item.Branch_Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Client_State)
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("ViewClient", "Client", new { id = item.Client_ID })">
                                                            <i class="fa fa-eye"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="@Url.Action("EditClient", "Client", new { id = item.Client_ID })">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                    </td>

                                                    <td>
                                                        <a>
                                                            <i class="fa fa-trash" aria-hidden="true" onclick="ConfirmDelete(@item.Client_ID);"></i>
                                                        </a>
                                                        @*<a href="@Url.Action("Delete", "Client", new { id = item.Client_ID })">
            <i class="fa fa-trash" aria-hidden="true"></i>
        </a>*@
                                                        @*<i class="fa fa-trash" aria-hidden="true"></i>*@
                                                    </td>
                                                </tr>
                                                }



                                            </tbody>
                                            @*<div id="EditUserForm"></div>*@
                                        </table>
                                        @*<div id="dialog" style="display: none">*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .animated -->
            </div>
            <!-- Default box -->
            <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="~/Scripts/jquery.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
<script type="text/javascript">

     function ConfirmDelete(Id) {
            var str = Id;
            var x = confirm("Are you sure you want to delete?");
            if (x) {
               $.ajax({
            type: "GET",
            url: '@Url.Action("Delete", "Client")',
            data: { ID: str },
            success: function (data) {
                //$("#divLoader").hide();
                   alert('Client Deleted successfully')
                window.location.reload();
            },
        });
            }
            else
                return
        }

    @*$("#AddUser").click(function() {
    $("#AddUserForm").dialog({
        autoOpen: true,

        position: { my: "center", at: "top+250px", of: window },
        width: 1000,
        resizable: false,
        title: 'Add New Client',
        modal: true,
        open: function () {
            $(this).load('@Url.Action("AddNewClient", "Client")');
        },
        buttons: {
            "Add New Client": function () {
                addUserInfo();
                $(this).dialog("close");
            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }

    });
    return false;
    });
    function addUserInfo() {
    $.ajax({
        url: '@Url.Action("AddUserInfo", "Client")',
        type: 'POST',
        data: $("#myForm").serialize(),
        success: function (data) {
            if (data.result) {
                $(':input', '#myForm')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
            } else {
                $("#showErrorMessage").append(data.responseText);
            }
            refresh();
        }
    });
    }
    function GetRecords(yourElement) {

         $("#AddUserForm").dialog({
            autoOpen: true,
            position: { my: "center", at: "top+250px", of: window },
            //position:  absolute ,
            width: 950,

            resizable: false,
            title: 'Edit Client',
            modal: true,
             open: function () {
                  var param = yourElement;
                 var url = '@Url.Action("Edit", "Client", new { ID = "__param__" })';
                 //$(this).load("@Url.Action("Edit", "Client")?ID" + yourElement.toString());
                 $(this).load(url.replace('__param__', encodeURIComponent(param)));
              },
            buttons: {
                "Save": function () {
                    clientInfo();


                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }

         });
           return false;
    }

    function clientInfo() {
        $.ajax({
            url: '@Url.Action("EditClient", "Client")',
            type: 'POST',
            data: $("#ClientForm").serialize(),
            success: function (data) {
                if (data.result) {
                    $(':input', '#ClientForm')
                        .not(':button, :submit, :reset, :hidden')
                        .val('')
                        .removeAttr('checked')
                        .removeAttr('selected');

                } else {
                    $("#showErrorMessage").append(data.responseText);
                }
                 refresh();
            }
        });
    }


    function refresh() {

         window.location.href = '@Url.Action("Index", "Client")';
    }*@



</script>


