﻿@model I_Value.WebApp.Models.VMClientMaster
@{
    ViewBag.Title = "EditClient";
    Layout = "~/Views/Shared/_IvalueMasterPage.cshtml";
}


<form action="~/Client/EditClient" method="post">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1> Client Details </h1>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="content bg">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12 padd0">
                                <div class="card">
                                    <div class="card-body card-block">

                                        <div class="row">
                                            <div class="col-12"> </div>
                                            <div class="col-12 col-md-12">
                                                <div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                @*@Html.HiddenFor(m => m.Client_ID)*@
                                                                <label for="city" class=" form-control-label">Client Name</label>
                                                                @Html.EditorFor(model => model.ival_ClientMaster.Client_Name, new { htmlAttributes = new { @class = "form-control", id = "txtClname", @readonly = true } })

                                                                @Html.HiddenFor(m => m.Client_ID)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label"> Branch Name </label>
                                                        @Html.EditorFor(model => model.ival_ClientMaster.Branch_Name, new { htmlAttributes = new { @class = "form-control", id = "txtBrname", @readonly = true } })
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Address 1 </label>
                                                        @Html.EditorFor(model => model.ival_ClientMaster.Client_Address1, new { htmlAttributes = new { @class = "form-control", id = "txtAddr1", @readonly = true } })
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="city" class=" form-control-label">Address 2</label>
                                                        @Html.EditorFor(model => model.ival_ClientMaster.Client_Address2, new { htmlAttributes = new { @class = "form-control", id = "txtfname", @readonly = true } })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">State:</label>
                                                        @Html.DropDownListFor(m => m.SelectedStateID, new SelectList(Model.ival_StateList, "State_Id", "State_Name"), "Please Select", new { @class = "form-control", id = "SelectedBranchStateID", onchange = "ClearMsgState()", @disabled = "disabled" })
                                                        <span id="spState" asp-validation-for="state" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">District</label>
                                                        @Html.DropDownListFor(m => m.SelectedDistID, new SelectList(Model.ival_DistrictsList, "District_ID", "District_Name"), "Please Select", new
                                                        {
                                                            @class = "form-control",
                                                            id = "SelectedBranchDistID"@*, onchange = "ClearMsgDist()"*@,
                                                         @disabled = "disabled"
                                                   })
                                                        <span id="spDist" asp-validation-for="dist" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">City</label>
                                                        @*@Html.DropDownListFor(m => m.Locality_Id, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select", new { @class = "form-control", id = "txtLocID" })*@
                                                        @Html.DropDownListFor(m => m.SelectedLocID, new SelectList(Model.ival_LocalityList, "Loc_Id", "Loc_Name"), "Please Select ", new { @class = "form-control", id = "SelectedBranchLocID", onchange = "GetPinByOnSelect(this.Loc_Id)", @disabled = "disabled" })
                                                        <span id="spLoc" asp-validation-for="Loc" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">Pin Code</label>
                                                        @Html.DropDownListFor(m => m.Client_Pincode, new SelectList(Model.ival_LocalityList, "Loc_Id", "Pin_Code"), "Please Select", new
                                                        {
                                                            @class = "form-control",
                                                            id = "SelectedBranchPincode"@*, onchange = "ClearMsgPin1()"*@,
                                                       @disabled = "disabled"})
                                                        <span id="spPin" asp-validation-for="Pin" class="text-danger"></span>
                                                    </div>
                                                </div>
                                                @*<div class="col-6 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">City </label>
                                                            @Html.EditorFor(model => model.ival_ClientMaster.Client_City, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">District </label>
                                                            @Html.EditorFor(model => model.ival_ClientMaster.Client_District, new { htmlAttributes = new { @class = "form-control", id = "txtfname" } })
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label">State </label>
                                                            @Html.DropDownListFor(m => m.SelectedStateID, new SelectList(Model.ival_StateList, "State_ID", "State_Name"), "Please Select", new { @class = "form-control", id = "SelectedCurrentStateId" })

                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-4">
                                                        <div class="form-group">
                                                            <label for="company" class=" form-control-label"> PinCode </label>
                                                            @Html.DropDownListFor(m => m.SelectedPincodeID, new SelectList(Model.ival_PincodeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", id = "SelectedCurrentPincodeID" })
                                                        </div>
                                                    </div>*@
                                                <div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Contact Name </label>
                                                        @Html.EditorFor(model => model.ival_ClientMaster.Client_First_Name, new { htmlAttributes = new { @class = "form-control", id = "txtCfname", @readonly = true } })
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Contact Number </label>
                                                        @Html.EditorFor(model => model.ival_ClientMaster.Client_Contact_Num, new { htmlAttributes = new { @class = "form-control", id = "txtCnum", @readonly = true } })
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Designation </label>
                                                        @Html.EditorFor(model => model.ival_ClientMaster.Client_Designation, new { htmlAttributes = new { @class = "form-control", id = "txtDesignation", @readonly = true } })
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">Contact Email Id </label>
                                                        @Html.EditorFor(model => model.ival_ClientMaster.Client_Contact_Email, new { htmlAttributes = new { @class = "form-control", id = "Client_Email", @readonly = true } })
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">PAN Number </label>
                                                        @Html.EditorFor(model => model.ival_ClientMaster.PAN_Num, new { htmlAttributes = new { @class = "form-control", id = "txtPAN", @readonly = true } })
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="company" class=" form-control-label">GSTIN Number</label>
                                                        @Html.EditorFor(model => model.ival_ClientMaster.GSTIN_Num, new { htmlAttributes = new { @class = "form-control", id = "txtGSTIN", @readonly = true } })
                                                    </div>
                                                </div>

                                                <div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">Valuation Type</label>
                                                        @Html.DropDownListFor(m => m.SelectedValuationTypeID, new SelectList(Model.ValuationTypeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", id = "ddValtype", @disabled = "disabled" })
                                                    </div>
                                                </div><div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="country" class=" form-control-label">Report Type</label>
                                                        @Html.DropDownListFor(m => m.SelectedReportTypeID, new SelectList(Model.ReportTypeList, "Lookup_ID", "Lookup_Value"), "Please Select", new { @class = "form-control", id = "Reporttype", @disabled = "disabled" })
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="city" class=" form-control-label">Basic Fees</label>
                                                            @Html.EditorFor(model => model.ival_ClientMaster.Basic_Fees, new { htmlAttributes = new { @class = "form-control", id = "Basic_FeesID", onkeyup = "sum();", @readonly = true } })
                                                        </div>
                                                    </div>
                                                </div><div class="col-6 col-md-4">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="city" class=" form-control-label">Additional Fees </label>
                                                            @Html.EditorFor(model => model.ival_ClientMaster.Additional_Fees, new { htmlAttributes = new { @class = "form-control", id = "Additional_FeesID", onkeyup = "sum();", @readonly = true } })
                                                        </div>
                                                    </div>
                                                </div><div class="col-6 col-md-4">
                                                    <div class="form-group">
                                                        <label for="city" class=" form-control-label">Out of Geo Fees</label>
                                                        @Html.EditorFor(model => model.ival_ClientMaster.OutofGeo_Fees, new { htmlAttributes = new { @class = "form-control", id = "OutofGeo_FeesID", onkeyup = "sum();", @readonly = true } })
                                                    </div>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="city" class=" form-control-label">Total Fees</label>
                                                            @Html.EditorFor(model => model.ival_ClientMaster.Total_Fees, new { htmlAttributes = new { @class = "form-control", id = "Total_FeesID", @readonly = true } })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <button type="button" value="Submit" onclick="BackToMain();" class="btn btn-success btn-sm pull-right">Back</button>
                                        @*<a class="btn btn-success btn-sm pull-right" href="bank-and-branch-master.html">Submit</a>*@
                                        @*<input type="submit" value="Update" class="btn btn-success btn-sm pull-right" />*@
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- .animated -->
                </div>
            </div>
            <!-- Default box -->
            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</form>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    function sum() {

            var txtFirstNo = document.getElementById('Basic_FeesID').value;
            var txtSecondNo = document.getElementById('Additional_FeesID').value;
            var txtThirdNO = document.getElementById('OutofGeo_FeesID').value;

        if (!isNaN(txtFirstNo)) {
            var result = parseInt(txtFirstNo);
            if (!isNaN(result)) {
                document.getElementById('Total_FeesID').value = result;
            }
        }
         if (!isNaN(txtSecondNo)) {
             var result1 = result + parseInt(txtSecondNo);
             if (!isNaN(result1)) {
                 document.getElementById('Total_FeesID').value = result1;
             }
        }
         if (!isNaN(txtThirdNO)) {
             var result2 = result1 + parseInt(txtThirdNO);
             if (!isNaN(result2)) {
                 document.getElementById('Total_FeesID').value = result2;
             }
        }

        }
</script>
<script>
    function BackToMain() {
                window.location.href = '@Url.Action("index", "Client")';
    }

    @*var Clientdetails = [];
    function Update() {

        Clientdetails.push({

                Client_Id: $("#Client_ID").val(),
                Client_Name: $("#txtClname").val(),
                Branch_Name: $("#txtBrname").val(),
                Client_Addr1:$("#txtAddr1").val(),
                Client_Addr2 : $("#txtfname").val(),
                Client_State : $("#SelectedBranchStateID option:selected").text(),
                Client_Dist: $("#SelectedBranchDistID option:selected").val(),
                Client_Loc: $("#SelectedBranchLocID option:selected").val(),
                Client_Pin: $("#SelectedBranchPincode option:selected").text(),
                Client_Fname : $("#txtCfname").val(),
                Client_Phone : $("#txtCnum").val(),
                Client_Desn : $("#txtDesignation").val(),
                Client_Mail : $("#Client_Email").val(),
                Client_Pan : $("#txtPAN").val(),
                Client_Gstin : $("#txtGSTIN").val(),
                val_Type: $("#ddValtype option:selected").text(),
                Repo_Type: $("#Reporttype option:selected").text(),
                Base_fee : $("#Basic_FeesID").val(),
                Add_fee : $("#Additional_FeesID").val(),
                outofgeo: $("#OutofGeo_FeesID").val(),
                Total_fee: $("#Total_FeesID").val()
            });

            var str = JSON.stringify(Clientdetails);

            $.ajax({
                type: "POST",
                url: '@Url.Action("UpdateClient", "Client")',
                data: { str: str },
                Response: ContentType = 'application/json;charset=utf-8',
                success: function (data) {
                    //alert(data["Message"]);
                    alert('Client Details Updated successfully');
                    window.location.href = '@Url.Action("index", "Client")';
                },
            });
        }*@
</script>

